{{mutual-fund-tab-panel
menuContent=menuContent
tabId=3
}}
<div class="widget_new full-width full-height">
    <div class="layout-container info-back-color appttl-horizontal-seperator font-xx-l full-width pad-l-lr pad-m-tb pos-rel">
        {{input value=textFilter type="text" class="filter-panel form-control filter-control" placeholder=app.lang.labels.filter}}
        <div class="pos-abs top-zero pad-m-lr mutual-fund-search-icon">
            <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
        </div>
    </div>

    <!--<div class="full-width widget-hline-solid pad-l-lr mgn-m-t"></div>-->

    <div class="full-width y-scroll" style="height: calc(100% - 120px)">
        <div class="layout-container full-width full-height pos-rel">
            {{loading-indicator isLoading=isLoading}}
            {{single-message-viewer message=errorMessage showMessage=showError messageCss='appttl-light-bg-fore-color' backgroundCss='h-middle'}}
            {{#each fund in arrangedContent}}
                <div class="layout-container full-width pad-widget-left pad-widget-right pad-m-t">
                    <div class="layout-container full-width">
                        <div class="layout-row">
                            <div class="layout-col-18">
                                <div class="layout-container full-width">
                                    <div class="layout-row">
                                        <div class="layout-col font-m bold highlight-fore-color">
                                            <span>{{fund.symbol}} - </span><span>{{fund.fundName}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="full-width widget-hline pad-l-lr mgn-m-t"></div>
                            </div>
                            <div class="layout-col-6">
                                <div class="layout-container full-width h-right">
                                    <div class="layout-col-12">
                                        <button type="button" class="btn btn-buy-small btn-animation {{if fund.isSubRedEnabled '' 'disable-style'}}" {{action 'onSubscription' fund}}>
                                            <i class="layout-col glyphicon glyphicon-plus font-s"></i>
                                        </button>
                                    </div>
                                    <div class="layout-col-12">
                                        <button type="button" class="btn btn-sell-small btn-animation {{if fund.isSubRedEnabled '' 'disable-style'}}" {{action 'onRedemption' fund}}>
                                            <i class="layout-col glyphicon glyphicon-minus font-s"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layout-container full-width">
                        <div class="layout-row">
                            <div class="layout-col-8 font-m">
                                <div class="pad-m-t"><span class="fade-fore-color">{{app.lang.labels.curr}}</span></div>
                                <div class="pad-m-t"><span class="fore-color bold">{{fund.curr}}</span></div>
                            </div>
                            <div class="layout-col-8 font-m">
                                <div class="pad-m-t"><span class="fade-fore-color">{{app.lang.labels.units}}</span></div>
                                <div class="pad-m-t"><span class="fore-color bold">{{formatNumber fund.qty 4}}</span></div>
                            </div>
                            <div class="layout-col-8 font-m">
                                <div class="pad-m-t"><span class="fade-fore-color">{{app.lang.labels.value}}</span></div>
                                <div class="pad-m-t"><span class="fore-color bold">{{formatNumber fund.unitVal 4}}</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="layout-container full-width">
                        <div class="layout-row">
                            <div class="layout-col-8 font-m">
                                <div class="pad-m-t"><span class="fade-fore-color">{{app.lang.labels.pledgeQty}}</span></div>
                                <div class="pad-m-t"><span class="fore-color bold">{{formatNumber fund.pldgQty 4}}</span></div>
                            </div>
                            <div class="layout-col-8 font-m">
                                <div class="pad-m-t"><span class="fade-fore-color">{{app.lang.labels.avgPrice}}</span></div>
                                <div class="pad-m-t"><span class="fore-color bold">{{formatNumber fund.avgCst 4}}</span></div>
                            </div>
                            <div class="layout-col-8 font-m">
                                <div class="pad-m-t"><span class="fade-fore-color">{{app.lang.labels.unitPrice}}</span></div>
                                <div class="pad-m-t"><span class="fore-color bold">{{formatNumber fund.untPri 4}}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="full-width widget-hline-solid pad-l-lr mgn-m-t"></div>
            {{/each}}
        </div>
    </div>
</div>
