<div class="widget_new full-width">
    {{widget-header
        widgetTitle=title
        widgetClass='blue-back-color-2'
        titleCss='dark-bg-fore-color'
    }}
    <div class="layout-container full-width full-height pos-rel">
        {{#if isLoading}}
            <div class="layout-container full-width loading-icon-wrapper-height">
                {{loading-indicator isLoading=isLoading}}
            </div>
        {{/if}}
        {{single-message-viewer message=errorMessage showMessage=showError messageCss='appttl-light-bg-fore-color' backgroundCss='h-middle'}}
        {{#each fund in arrangedContent}}
            <div class="layout-container full-width pad-widget-left pad-widget-right pad-m-t">
                <div class="layout-container full-width">
                    <div class="layout-row">
                        <div class="layout-col-18">
                            <div class="layout-container full-width pad-s-tb">
                                <div class="layout-col-24 symbol-fore-color font-m bold">{{fund.fndId}} {{utils.Constants.StringConst.Hyphen}} {{fund.fundName}}</div>
                                <div class="layout-col font-m h-middle fade-fore-color pad-m-l">{{fund.curr}}</div>
                                <div class="layout-col fade-fore-color font-m bold"> {{utils.Constants.StringConst.Hyphen}} </div>
                                <div class="layout-col pad-s-r {{fund.labelCss}} font-m bold">{{fund.transTypeLabel}}</div>
                            </div>
                            <div class="layout-container full-width">
                                <div class="layout-row">
                                    <div class="layout-col-24 pad-m-b">
                                        <span class="fade-fore-color font-m">{{formatToDateTime fund.traDte}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="full-width widget-hline pad-l-lr"></div>
                        </div>
                        <div class="layout-col-6">
                            <div class="layout-container full-width">
                                <div class="layout-row">
                                    <div class="layout-col h-right pad-m-b pad-s-t pad-s-l mutual-fund-status-cell">
                                        <div class="pad-s-all font-m h-middle ellipsis {{getTransactionColor fund.sts}} btn-txt-color xs-border-radius">{{fund.transStatus}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layout-container full-width">
                    <div class="layout-row">
                        <div class="layout-col-8 font-m">
                            <div class="pad-m-t"><span class="fade-fore-color">{{app.lang.labels.orderAmount}}</span></div>
                            <div class="pad-m-t"><span class="fore-color bold">{{formatNumber fund.amt 2}}</span></div>
                        </div>
                        <div class="layout-col-8 font-m">
                            <div class="pad-m-t"><span class="fade-fore-color">{{app.lang.labels.netAmount}}</span></div>
                            <div class="pad-m-t"><span class="fore-color bold">{{formatNumber fund.totAmt 2}}</span></div>
                        </div>
                        <div class="layout-col-8 font-m">
                            <div class="pad-m-t"><span class="fade-fore-color">{{app.lang.labels.transNo}}</span></div>
                            <div class="pad-m-t"><span class="fore-color bold">{{fund.transNo}}</span></div>
                        </div>
                    </div>
                </div>
                <div class="layout-container full-width">
                    <div class="layout-row">
                        <div class="layout-col-8 font-m">
                            <div class="pad-m-t"><span class="fade-fore-color">{{app.lang.labels.orderFee}}</span></div>
                            <div class="pad-m-t"><span class="fore-color bold">{{formatNumber fund.fee 2}}</span></div>
                        </div>
                        <div class="layout-col-8 font-m">
                            <div class="pad-m-t"><span class="fade-fore-color">{{app.lang.labels.navDate}}</span></div>
                            <div class="pad-m-t"><span class="fore-color bold">{{formatToDate fund.navDte}}</span></div>
                        </div>
                        <div class="layout-col-8 font-m">
                            <div class="pad-m-t"><span class="fade-fore-color">{{app.lang.labels.orderUnits}}</span></div>
                            <div class="pad-m-t"><span class="fore-color bold">{{formatNumber fund.units 4}}</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="full-width widget-hline-solid pad-l-lr mgn-m-t"></div>
        {{/each}}
    </div>
</div>
