{{mutual-fund-tab-panel
menuContent=menuContent
tabId=1
}}
<div class="widget_new full-width full-height">
    <div class="layout-container full-width info-back-color appttl-horizontal-seperator font-xx-l pad-l-lr pad-m-tb pos-rel">
        {{input value=textFilter type="textFilter" class="filter-panel form-control filter-control" placeholder=app.lang.labels.filter}}
        <div class="pos-abs top-zero pad-m-lr mutual-fund-search-icon">
            <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
        </div>
    </div>

    <!--<div class="full-width widget-hline-solid pad-l-lr mgn-m-t"></div>-->

    <div class="full-width y-scroll" style="height: calc(100% - 120px)">
        <div class="layout-container full-width full-height pos-rel">
            {{loading-indicator isLoading=isLoading}}
            {{single-message-viewer message=errorMessage showMessage=showError messageCss='appttl-light-bg-fore-color' backgroundCss='h-middle'}}
            {{#each fund in arrangedContent}}
                <div class="layout-container full-width pad-widget-left pad-widget-right pad-m-t">
                    <div class="layout-container full-width">
                        <div class="layout-row">
                            <div class="layout-col-18">
                                <div class="layout-container full-width">
                                    <div class="layout-row">
                                        <div class="layout-col font-m bold highlight-fore-color">
                                            <div class="layout-col">{{fund.symbol}} - </div><div class="layout-col-24">{{fund.fundName}}</div>
                                            <div class="layout-col v-bottom font-m h-middle fade-fore-color pad-m-lr">{{fund.curr}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="full-width widget-hline pad-l-lr mgn-m-t"></div>
                            </div>
                            <div class="layout-col-6">
                                <div class="layout-container full-width h-right">
                                    <div class="layout-col-12">
                                        <button type="button" class="btn btn-buy-small btn-animation" {{action 'onSubscription' fund}}>
                                            <i class="layout-col glyphicon glyphicon-plus font-s pad-s-b"></i>
                                        </button>
                                    </div>
                                    <div class="layout-col-12">
                                        <button type="button" class="btn btn-sell-small btn-animation" {{action 'onRedemption' fund}}>
                                            <i class="layout-col glyphicon glyphicon-minus font-s pad-s-b"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layout-container full-width">
                        <div class="layout-row">
                            <div class="layout-col-8 font-m">
                                <div class="pad-m-t"><span class="fade-fore-color">{{app.lang.labels.unitPrice}}</span></div>
                                <div class="pad-m-t"><span class="fore-color bold">{{formatNumber fund.untPri 4}}</span></div>
                            </div>
                            <div class="layout-col-8 font-m">
                                <div class="pad-m-t"><span class="fade-fore-color">{{app.lang.labels.fundNAV}}</span></div>
                                <div class="pad-m-t"><span class="fore-color bold">{{formatNumber fund.fndNav 4}}</span></div>
                            </div>
                            <div class="layout-col-8 font-m">
                                <div class="pad-m-t"><span class="fade-fore-color">{{app.lang.labels.performYTD}}</span></div>
                                <div class="pad-m-t"><span class="fore-color bold">{{formatNumber fund.perfYtdPct 2}}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="full-width widget-hline-solid pad-l-lr mgn-m-t"></div>
            {{/each}}
        </div>
    </div>
</div>
