// Theme Attribute Definitions
$theme1-colors: (
        is-flat-theme: true,

        pallete-color1: #171a1f,
        pallete-color2: #000000,
        pallete-color3: #019875,
        pallete-color4: #fe7071,
        pallete-color5: #616d7d,
        pallete-color6: #707c8d,
        pallete-color7: #266aa0,
        pallete-color8: #f4b350,
        pallete-color9: #67809f,
        pallete-color10: #518399,
        pallete-color11: "use(pallete-color3)",
        pallete-color12: "use(pallete-color4)",
        pallete-color13: #355D73,
	pallete-color14: #4f9ece,
	pallete-color15: #e1e3e8,

        // Fore Colors
	fore-color: "darken(pallete-color15, 10)",
	fade-fore-color: "lighten(pallete-color6, 18)",
	prominent-fore-color: "darken(pallete-color7, 13)",
	up-fore-color: "use(pallete-color3)",
        down-fore-color: "use(pallete-color4)",
        highlight-fore-color: "use(pallete-color7)",
        //highlight-back-color: "use(pallete-color7)",
        highlight-back-color-1: "use(pallete-color8)",
        highlight-back-color-2: "use(pallete-color10)",
        symbol-fore-color: "use(pallete-color10)",
        dark-bg-fore-color: "lighten(fore-color, 70)",
        light-bg-fore-color: "use(pallete-color1)",
        link-fore-color: "use(pallete-color14)",
        placeholder-fore-color: "use(pallete-color7)",

        app-back-color: "use(pallete-color2)",
        full-transparent-back-color: rgba(255, 255, 255, 0),
        semi-transparent-back-color: rgba(64, 103, 90, 0.45),

        base-color-gray: "use(pallete-color1)",
        base-color-title: "lighten(pallete-color1, 6)",
        base-color-title-separator: "lighten(base-color-title, 10)",

        // App Title
        base-color-app-title:  "use(base-color-title)",
        base-color-app-title-edit-control: "darken(base-color-app-title, 6)",
        base-color-app-title-ui-control: "use(pallete-color1)",
        base-color-app-title-toolbar: "use(base-color-app-title)",
        base-fore-color-app-title: "use(fore-color)",
        base-fade-fore-color-app-title: "use(fade-fore-color)",
        base-color-app-title-separator: "use(base-color-title-separator)",

        // Ticker
        base-color-ticker: "use(base-color-title)",

        // App Menu
        base-color-app-menu: "use(pallete-color1)",
        base-color-app-menu-selected: "use(pallete-color8)",
        base-fore-color-app-menu: "use(pallete-color5)",
        base-fore-color-app-menu-selected: "use(base-color-app-menu)",
        base-fore-color-app-menu-hover: "use(base-fore-color-app-menu)",

        // Widget Title
        base-color-widget-title: "use(base-color-title)",
        base-color-widget-title-edit-control: "darken(base-color-widget-title, 6)",
        base-color-widget-title-ui-control: "use(base-color-widget-title)",
        base-fore-color-widget-title: "use(pallete-color9)",
        base-color-widget-title-separator: "use(base-color-title-separator)", // Start using this if applicable

        // Widget Title - Tabs
        base-color-widget-title-tab: "use(base-color-title)",
        base-fore-color-widget-title-tab: "use(pallete-color6)",
        base-color-widget-title-tab-selected: "use(pallete-color1)",
        base-fore-color-widget-title-tab-selected: "use(base-fore-color-widget-title)",

        // Widget
        base-color-widget: "use(pallete-color1)",
        base-color-widget-edit-control: "darken(base-color-widget, 3)",
        base-color-widget-ui-control: "lighten(base-color-widget, 6)",
        base-color-widget-separator: "lighten(base-color-title-separator, 10)",
        base-color-widget-toolbar: "use(base-color-widget-ui-control)",
        base-color-widget-border: "lighten(base-color-widget, 5)",

        // Widget - Tabs
        base-color-widget-tab: "use(base-color-widget-ui-control)",
        base-fore-color-widget-tab: "darken(pallete-color5, 9)",
        base-color-widget-tab-selected: "use(base-color-widget)",
        base-fore-color-widget-tab-selected: "lighten(pallete-color6, 18)",

        // Widget Menu - Base Colors
        base-fore-color-widget-menu: "use(pallete-color5)",
        base-back-color-widget-menu: "darken(base-color-widget-title, 3)",
        base-fore-color-widget-menu-selected: "use(pallete-color8)",
        base-back-color-widget-menu-selected: "use(widget-menu-back-color)",
        base-fore-color-widget-menu-header: "use(base-fore-color-widget-title)",
        base-back-color-widget-menu-header: "use(base-color-widget-title)",

        // Table
        base-color-table: "use(pallete-color1)",
        base-color-table-selected: "alpha(pallete-color8, 0.4)",
        base-color-table-header: "darken(base-color-table, 2)",
        base-fore-color-table-header: "use(fade-fore-color)",

        // Button
        base-color-button: "use(base-color-widget-ui-control)",

        // Chart
        base-color-chart: "use(pallete-color13)",

        // Up Down Back Colors
        up-back-color: "use(pallete-color11)",
        prominent-up-back-color: "lighten(up-back-color, 5)",
        fade-up-back-color: "alpha(up-back-color, 0.1)",
        fade-up-back-color-2: "lighten(fade-up-back-color, 3)",

        down-back-color: "use(pallete-color12)",
        prominent-down-back-color: "lighten(down-back-color, 5)",
        fade-down-back-color: "alpha(down-fore-color, 0.1)",
        fade-down-back-color-2: "lighten(fade-down-back-color, 3)",

        fade-back-color: "lighten(base-color-gray, 7)",

        fade-prominent-back-color: "alpha(prominent-fore-color, 0.1)",
        fade-prominent-back-color-2: "lighten(fade-prominent-back-color, 3)",
        highlight-up-back-color: "use(up-back-color)",
        highlight-down-back-color: "use(down-back-color)",
        no-changed-back-color: "use(pallete-color9)",
	disable-back-color: "lighten(pallete-color2, 20)",

		pending-back-color: "use(pallete-color8)",
        box-shadow-color: "darken(base-color-gray, 90)",
        popup-box-shadow-color: "darken(base-color-gray, 100)",
        container-back-color: "lighten(pallete-color2, 8)",
        tool-bar-back-color: "use(base-color-widget-toolbar)",
        progress-bar-back-color: "lighten(base-color-widget, 5)",
        news-icon-color: "lighten(base-color-widget, 5)",
        announcements-icon-color: "use(pallete-color8)",
        dark-bg-announcement-fore-color: "lighten(prominent-fore-color, 49)",

        scrollbar-back-color: "lighten(base-color-widget-title, 50)",
        scrollbar-thumb-back-color: "lighten(base-color-widget-title, 10)",

        // App Title Bar Theme Colors
        app-title-logo-fore-color: "use(base-fore-color-app-title)",
        app-title-back-color: "use(base-color-app-title)",
        app-title-back-color-gradient: "use(app-title-back-color)",
        //app-title-toolbar-fore-color: "use(base-fore-color-app-title)",
        app-title-toolbar-back-color: "use(base-color-app-title-toolbar)",
        app-title-toolbar-back-color-gradient: "use(app-title-toolbar-back-color)",
        app-title-ui-control: "use(base-color-app-title-ui-control)",
        app-title-ui-control-gradient: "use(app-title-ui-control)",
        app-title-fore-color: "use(base-fore-color-app-title)",
        app-title-fade-fore-color: "use(base-fade-fore-color-app-title)",
        app-title-up-fore-color: "use(up-fore-color)",
        app-title-down-fore-color: "use(down-fore-color)",
        app-title-up-back-color: "use(up-back-color)",
        app-title-down-back-color: "use(down-back-color)",
        app-title-border-color: "use(app-title-back-color)",
        app-title-edit-control: "use(base-color-app-title-edit-control)",
        app-title-vertical-line: "use(base-color-title-separator)",

        // App Title Bar Search Button
        titlebar-btn-border-bottom: "use(app-title-back-color)",
        titlebar-btn-border-top: "use(app-title-back-color)",
        titlebar-btn-border-left-right: "use(app-title-back-color)",
        titlebar-btn-hover: "use(app-title-back-color)",

        ticker-back-color: "use(base-color-ticker)",

        // App Menu
        app-menu-back-color: "use(base-color-app-menu)",
        app-menu-back-color-gradient: "use(app-menu-back-color)",
        app-menu-fore-color: "use(base-fore-color-app-menu)",
        app-menu-selected-back-color: "use(base-color-app-menu-selected)",
        app-menu-selected-fore-color: "use(base-fore-color-app-menu-selected)",
        app-menu-back-color-hover: "alpha(app-menu-selected-back-color, 0.15)",
        app-menu-fore-color-hover: "use(base-fore-color-app-menu-hover)",
        app-menu-active-fore-color: "use(dark-bg-fore-color)",

        // App Menu Sub Tabs
        app-menu-sub-tab-fore-color: "lighten(app-menu-fore-color, 30)",
        app-menu-sub-tab-back-color: "lighten(app-menu-back-color, 13)",
        app-menu-selected-sub-tab-back-color: "lighten(app-menu-sub-tab-back-color, 10)",

        // Widget Menu
        widget-menu-fore-color: "use(base-fore-color-widget-menu)",
        widget-menu-back-color: "use(base-back-color-widget-menu)",
        widget-menu-selected-fore-color: "use(base-fore-color-widget-menu-selected)",
        widget-menu-selected-back-color: "use(base-back-color-widget-menu-selected)",
        widget-menu-header-fore-color: "use(base-fore-color-widget-menu-header)",
        widget-menu-header-back-color: "use(base-back-color-widget-menu-header)",
        widget-menu-icon-fore-color: "use(fade-fore-color)",
        widget-menu-icon-fore-color-active: "use(widget-menu-icon-fore-color)",

        // Widget Title
        widget-title-fore-color: "use(base-fore-color-widget-title)",
        widget-title-back-color: "use(base-color-widget-title)",
        widget-title-back-color-gradient: "use(widget-title-back-color)",
        //widget-title-border-b-color: "use(widget-title-back-color)", //Not Used //Can be Removed
        widget-title-border-color: "use(widget-title-back-color)",
        //widget-title-border-dark-color: "use(widget-title-back-color)", //Not Used //Can be Removed
        //widget-title-border-light-color: "use(widget-title-back-color)",

        widget-title-ui-control-fore-color: "use(base-fore-color-widget-title)",
        widget-title-ui-control-back-color: "use(base-color-widget-title-ui-control)",
        widget-title-ui-control-back-color-gradient1: "use(widget-title-ui-control-back-color)",
        widget-title-ui-control-back-color-gradient2: "use(widget-title-ui-control-back-color)",
        widget-title-ui-control-border-color: "use(widget-title-ui-control-back-color)",  //----Check Later

        widget-title-textbox-back-color: "use(base-color-widget-title-edit-control)",
        widget-title-textbox-back-color-gradient1: "use(widget-title-textbox-back-color)",
        widget-title-textbox-back-color-gradient2: "use(widget-title-textbox-back-color)",

        // Widget
        widget-back-color: "use(base-color-widget)",
        widget-back-color-gradient: "use(base-color-widget)",
        widget-separator-color: "use(base-color-widget-separator)",

        widget-ui-control-fore-color: "use(fade-fore-color)",
        widget-ui-control-back-color: "use(base-color-widget-ui-control)",
        widget-ui-control-back-color-gradient1: "use(widget-ui-control-back-color)",
        widget-ui-control-back-color-gradient2: "use(widget-ui-control-back-color)",
        widget-ui-control-border: "use(widget-ui-control-back-color)",

        widget-border-color: "use(base-color-widget-border)",
        widget-border-t-color: "use(widget-separator-color)",
        //widget-edit-control: "use(base-color-widget-edit-control)",

        // Widget Title - Tabs
        widget-title-tab-back-color: "use(base-color-widget-title-tab)",
        widget-title-tab-fore-color: "use(base-fore-color-widget-title-tab)",
        widget-title-tab-hover-color: "alpha(base-color-widget-title-tab-selected, 0.3)",

        widget-title-selected-tab-fore-color: "use(base-fore-color-widget-title-tab-selected)", // Check Later
        widget-title-selected-tab-back-color: "use(base-color-widget-title-tab-selected)",
        widget-title-selected-tab-back-color-gradient: "use(widget-title-selected-tab-back-color)",

        // Data Table Colors
        table-row-back-color: "use(base-color-table)",
        table-row-alternate-back-color: "darken(table-row-back-color, 1)",

        table-row-up-back-color: "use(fade-up-back-color)",
        table-row-up-alternate-back-color: "use(fade-up-back-color-2)",
        table-row-down-back-color: "use(fade-down-back-color)",
        table-row-down-alternate-back-color: "use(fade-down-back-color-2)",

        table-row-prominent-back-color: "use(fade-prominent-back-color)",
        table-row-prominent-alternate-back-color: "use(fade-prominent-back-color-2)",
        table-row-selected-back-color: "use(base-color-table-selected)",
        table-row-selected-back-color-gradient: "use(table-row-selected-back-color)",

        table-row-selected-border-top: "use(table-row-selected-back-color)",
        table-row-selected-border-bottom: "use(table-row-selected-back-color)",
        table-row-hover-back-color: "alpha(base-color-table-selected, 0.1)",
        table-row-border-color: "use(table-row-hover-back-color)", // Check the usage remove from trade widget layout

        data-table-header-back-color: "use(base-color-table-header)",
        data-table-header-back-color-gradient: "use(data-table-header-back-color)",

        data-table-fore-color: "use(fore-color)",
        data-table-header-fore-color: "use(base-fore-color-table-header)",

        // Widget - Tabs
        tab-fore-color: "use(base-fore-color-widget-tab)",
        tab-fore-color-hover: "use(base-fore-color-widget-tab)",
        tab-back-color: "use(base-color-widget-tab)",
        tab-back-color-gradient: "use(tab-back-color)",

        tab-selected-fore-color: "use(base-fore-color-widget-tab-selected)",
        tab-selected-back-color: "use(base-color-widget-tab-selected)",
        tab-selected-back-color-gradient: "use(tab-selected-back-color)",
        tab-color-border: "use(base-color-widget-tab)",
        tab-selected-color-border: "use(tab-selected-back-color)",

        // Common TextBox
        textbox-fore-color: "use(fore-color)",
        textbox-border-color: "use(base-color-widget)",
        textbox-back-color: "use(base-color-widget-edit-control)",
        textbox-back-color-gradient: "use(textbox-back-color)",
        textbox-back-color-gradient1: "use(textbox-back-color)",

        // Link Colors
        link-1-color: "lighten(pallete-color8, 10)", // Yellow
        link-2-color: "lighten(pallete-color4, 6)", // Pink
        link-3-color: "lighten(pallete-color3, 15)", // Green
        link-4-color: "lighten(pallete-color7, 25)", // Blue

        btn-up-back-color: "use(up-back-color)",
        btn-down-back-color: "use(down-back-color)",

        trade-btn-buy-back-color: "use(up-back-color)",
        trade-btn-buy-back-color-gradient: "use(trade-btn-buy-back-color)",
        trade-btn-buy-border-color: "use(trade-btn-buy-back-color)",

        trade-btn-sell-back-color: "use(down-back-color)",
        trade-btn-sell-back-color-gradient: "use(trade-btn-sell-back-color)",
        trade-btn-sell-border-color: "use(trade-btn-sell-back-color)",

        // Chart
        chart-border-color: "use(base-color-chart)",
        chart-back-color: "alpha(base-color-chart, 0.8)",
        chart-back-color-gradient: "alpha(chart-back-color, 0.1)"
);