<div id="tradeOrderTab" class="full-width full-height">
    <div class="col-xs-3 widget-outlet">
        <div class="col-xs-12 widget_new widget-new-border full-height">
            {{outlet "w1"}}
        </div>
    </div>
    <div class="col-xs-9 full-height">
        <div class="col-xs-12 trade-row-1">
            <div class="col-xs-5 widget-outlet">
                <div class="col-xs-12 full-height">
                    {{outlet "w3"}}
                </div>
            </div>
            <div class="col-xs-7 full-height">
                <div class="col-xs-12 widget-outlet">
                    {{outlet "w2"}}
                </div>
            </div>
        </div>
        <div class="col-xs-12 trade-row-2">
            <div data-id="orderList-full" class="col-xs-12 widget-outlet">
                {{outlet "w4"}}
            </div>
        </div>
    </div>
</div>
