// Login styles go here
// These styles will over-write the styles used in index.html

.login-back {
  background-image: -webkit-linear-gradient(90deg, #dceaf5  0%, #dceaf5  90%, #dceaf5  100%) !important;
  background-image: -moz-linear-gradient(90deg, #dceaf5  0%, #dceaf5  90%, #dceaf5  100%) !important;
  background-image: -ms-linear-gradient(90deg, #dceaf5  0%, #dceaf5  90%, #dceaf5  100%) !important;
  background-image: linear-gradient(90deg, #dceaf5  0%, #dceaf5  90%, #dceaf5  100%) !important;
}

.login-input[type="text"] {
  background-color: #0096db !important;
}

.login-input[type="password"] {
  background-color: #0096db !important;
}

.login-input {
  color: #ffffff !important;
  border-bottom: 1px #0096db solid !important;
}

.copy-right-css {
  color: #133562 !important;
}

.txt {
  color: #133562 !important;
}

.login-input {
  $placeholder-color: #7eafcb;

  &::-webkit-input-placeholder {
    color: $placeholder-color !important;
  }

  &:-moz-placeholder {
    color: $placeholder-color !important;
  }

  &::-moz-placeholder {
    color: $placeholder-color !important;
  }

  &:-ms-input-placeholder {
    color: $placeholder-color !important;
  }
}

.login-btn {
  color: #ffffff !important;
  background-image: -webkit-linear-gradient(90deg, #0f67ae  0%, #0f67ae  90%, #0f67ae 100%) !important;
  background-image: -moz-linear-gradient(90deg, #0f67ae  0%, #0f67ae  90%, #0f67ae 100%) !important;
  background-image: -ms-linear-gradient(90deg, #0f67ae  0%, #0f67ae  90%, #0f67ae 100%) !important;
  background-image: linear-gradient(90deg, #0f67ae  0%, #0f67ae  90%, #0f67ae 100%) !important;
  border: 1px #0f67ae solid !important;
}