<div class="col-lg-12 full-width company-prof-row-1">
    <div class="col-xs-12 widget-outlet">
        {{outlet "w1"}}
    </div>
</div>

<div id="companyProfile" class="full-width company-prof-row-2">
    <div data-id="company-profile" class="full-width full-height">
        {{#if (onResponsive responsive.trigger responsive "company-profile" 1)}}
            <div class="full-width full-height">
                <div class="col-xs-8 full-height">
                    <div class="widget-outlet">
                        {{outlet "w2"}}
                    </div>
                </div>
                <div class="col-xs-4 full-height">
                    <div class="widget-outlet company-prof-row-responsive-1">
                        {{outlet "w3"}}
                    </div>
                    <div class="widget-outlet company-prof-row-responsive">
                        {{outlet "w4"}}
                    </div>
                    <div class="widget-outlet company-prof-row-responsive">
                        {{outlet "w5"}}
                    </div>
                </div>
            </div>
        {{else}}
            <div class="full-width full-height">
                <div class="col-xs-6 widget-outlet">
                    {{outlet "w2"}}
                </div>
                <div class="col-xs-3 widget-outlet">
                    {{outlet "w3"}}
                </div>
                <div class="col-xs-3 full-height">
                    <div class="widget-outlet quote-row-2-with-gap">
                        {{outlet "w4"}}
                    </div>
                    <div class="widget-outlet quote-row-3">
                        {{outlet "w5"}}
                    </div>
                </div>
            </div>
        {{/if}}
    </div>
</div>
