<div class="full-width full-height {{topStocksRows}}">
    <div class="full-width col-xs-12 top-stock-row">
        <div class="col-xs-6 widget-outlet">
            {{outlet "w1"}}
        </div>
        <div class="col-xs-6 widget-outlet">
            {{outlet "w2"}}
        </div>
    </div>
    <div class="full-width col-xs-12 top-stock-row">
        <div class="col-xs-4 widget-outlet">
            {{outlet "w3"}}
        </div>
        <div class="col-xs-4 widget-outlet">
            {{outlet "w4"}}
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-4 widget-outlet">
            {{outlet "w5"}}
        </div>
    </div>
</div>
