$theme2-colors-extended: (
        pallete-color1: #007ac1,
        pallete-color2: #065294,
        pallete-color18: #e04249,

        base-color-widget-title-tab-selected: "use(pallete-color18)",
        base-color-widget-tab-selected: "use(pallete-color18)",

        app-menu-fore-color-hover: #f1f1f1,
        app-menu-back-color-hover: #ee3124,
        app-menu-selected-sub-tab-back-color: "use(pallete-color18)",
);