<div class="layout-inline">
    {{#if isTradingEnabled}}
        <div {{bind-attr class=":layout-inline :font-m :hint--rounded :hint--bottom :hint--bounce tradeHintStyle tradeConnectionStatusStyle" data-hint=tradeConnectionStatusTitle}}>
            <div class="layout-inline pad-s-r"><i class="fa fa-plug" aria-hidden="true"></i></div>

            {{#if isTablet}}
                <div {{bind-attr class=":layout-inline :font-m :appttl-fore-color tradeMessageStyle"}}>{{app.lang.labels.trading}}</div>
            {{/if}}
        </div>
    {{/if}}

    <div {{bind-attr class=":layout-inline :font-m :pad-s-l :hint--rounded :hint--bottom :hint--bounce priceHintStyle priceConnectionStatusStyle" data-hint=priceConnectionStatusTitle}}>
        <div class="layout-inline pad-s-r"><i class="fa fa-plug" aria-hidden="true"></i></div>

        {{#if showPriceConnection}}
            <div {{bind-attr class=":layout-inline :font-m :appttl-fore-color priceMessageStyle"}}>{{app.lang.labels.price}}</div>
        {{/if}}
    </div>
</div>
