{{#unless disableMoreMarkets}}
    {{bootstrap-dropdown-select
    options=exchanges
    defaultSelect=defaultExchangeForDropdown
    value=value
    isDropdownDisabled=disableMoreMarkets
    valueKey= valueKey
    labelKey='des'
    selectedLabelKey='displayDesc'
    lblClass=lblClass
    buttonClass=buttonClass
    selectAction='setExchange'}}
{{/unless}}