{{#if isPopupEnabled}}
    <div class="message-box-fog change-password-box">
        <div class="message-box-frame change-password-container {{popupCss}}">
            {{#unless isMobile}}
                <div class="message-box-title change-password-title">{{app.lang.labels.changePassword}}</div>
            {{/unless}}
            <div class="pad-widget-left pad-widget-right y-scroll change-password-container-height">
                <!--<div class="layout-container pad-m-b pad-s-l">-->
                <!--<div class="layout-col  font-l bold">{{!app.lang.labels.username}}</div>-->
                <!--</div>-->

                <div class="layout-container pad-m-tb pad-l-lr">
                    <div class="layout-col-12 font-m h-left">{{app.lang.labels.username}}</div>
                    <div class="font-m ">{{input value=username disabled="true" class="form-control search-query mgn-m-r"}}</div>
                </div>
                <div class="widget-hline"></div>

                <div class="layout-container full-width">
                    <div class="{{if isMobile '' 'layout-col'}}">
                        <div class="layout-container pad-m-tb pad-s-l">
                            <div class="layout-col font-l bold">{{app.lang.labels.loginPassword}}</div>
                        </div>

                        <div class="layout-container full-width pad-m-tb pad-l-lr">
                            <div class="layout-col-12 font-m h-left">{{app.lang.labels.currentPassword}} <span class="down-fore-color">*</span></div>
                            <div>{{input value=currentPassword type="password" class="form-control search-query mgn-m-r "}}</div>
                        </div>
                        <div class="layout-container full-width pad-m-b pad-l-lr">
                            <div class="layout-col-12 font-m h-left">{{app.lang.labels.newPassword}} <span class="down-fore-color">*</span></div>
                            <div>{{input value=newPassword type="password" class="form-control search-query mgn-m-r"}}</div>
                        </div>
                        <div class="layout-container full-width pad-m-b pad-l-lr">
                            <div class="layout-col-12 font-m h-left">{{app.lang.labels.confirmNewPassword}} <span class="down-fore-color">*</span></div>
                            <div>{{input value=confirmPassword type="password" class="form-control search-query mgn-m-r"}}</div>
                        </div>

                        {{#if isEnabledPwRules}}
                            <div class="font-m pad-s-b pad-m-lr overflow-auto">
                                {{password-rules-check
                                    password=newPassword
                                    retypePwd=confirmPassword
                                    isOnlyPwdCheck=true
                                    isPwdRulesMatch=isPwdRulesMatch
                                }}
                            </div>
                        {{/if}}
                    </div>

                    {{#if isEnabledTransactionPw}}
                        <div class="{{if isMobile 'widget-hline pad-l-b mgn-l-t' 'layout-col widget-vline'}}"></div>

                        <div class="{{if isMobile '' 'layout-col'}}">
                            <div class="layout-container pad-m-tb pad-s-l">
                                <div class="layout-col font-l bold">{{app.lang.labels.transactionPassword}}</div>
                            </div>

                            <div class="layout-container full-width pad-m-tb pad-l-lr">
                                <div class="layout-col-12 font-m h-left">{{app.lang.labels.currentTransactionPassword}} <span class="down-fore-color">*</span></div>
                                <div class="layout-col-12 ">{{input value=currentTxPassword type="password" class="form-control search-query mgn-m-r "}}</div>
                            </div>
                            <div class="layout-container full-width pad-m-b pad-l-lr">
                                <div class="layout-col-12 font-m h-left">{{app.lang.labels.newTransactionPassword}} <span class="down-fore-color">*</span></div>
                                <div class="layout-col-12 ">{{input value=newTxPassword type="password" class="form-control search-query mgn-m-r"}}</div>
                            </div>
                            <div class="layout-container full-width pad-m-b pad-l-lr">
                                <div class="layout-col-12 font-m h-left">{{app.lang.labels.confirmNewTransactionPassword}} <span class="down-fore-color">*</span></div>
                                <div class="layout-col-12 ">{{input value=confirmTxPassword type="password" class="form-control search-query mgn-m-r"}}</div>
                            </div>

                            {{#if isEnabledPwRules}}
                                <div class="font-m pad-s-b pad-m-lr overflow-auto">
                                    {{password-rules-check
                                        password=newTxPassword
                                        retypePwd=confirmTxPassword
                                        isOnlyPwdCheck=true
                                        isPwdRulesMatch=isTxPwdRulesMatch
                                    }}
                                </div>
                            {{/if}}
                        </div>
                    {{/if}}
                </div>

                {{#if isMobile}}
                    <div class="layout-container pad-m-tb pad-l-lr">
                        <div class="layout-col h-left white-space-normal font-m down-fore-color">{{message}}</div>
                    </div>
                    <div class="layout-container pad-m-tb pad-l-lr full-width h-right">
                        <div class="layout-col pad-l-l h-right">
                            <div class="layout-inline">
                                <button type="submit" autofocus class="btn btn-dropdown btn-txt-color confirm-btn btn-animation pad-l-lr btn-small bold font-l" {{action 'onSave'}}>{{app.lang.labels.save}}</button>
                            </div>

                            {{#if isCancelEnabled}}
                                <div class="layout-inline pad-s-l">
                                    <button class="btn btn-dropdown btn-txt-color btn-animation confirm-btn pad-l-lr btn-small bold font-l" {{action 'onCancel'}}>{{app.lang.labels.cancel}}</button>
                                </div>
                            {{/if}}
                        </div>
                    </div>
                {{else}}
                    <div class="layout-col pad-s-l font-m down-fore-color pad-m-tb">{{message}}</div>
                    <div class="layout-container pad-m-b pad-l-lr">
                        <div class="layout-col">
                            <div class="layout-inline">
                                <button type="submit" autofocus class="btn btn-dropdown btn-default btn-animation" {{action 'onSave'}}>{{app.lang.labels.save}}</button>
                            </div>

                            {{#if isCancelEnabled}}
                                <div class="layout-inline pad-s-l">
                                    <button class="btn btn-dropdown btn-default btn-animation" {{action 'onCancel'}}>{{app.lang.labels.cancel}}</button>
                                </div>
                            {{/if}}

                        </div>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
{{/if}}