<div class="right-click-menu" data-toggle="dropdown">
    <div class="pad-l-all right-click-menu-header mgn-s-b watchlist-right-click-symbol">
        <div class="layout-inline bold font-x-l">{{selectedSymbol.dispProp1}}</div>
        <div class="layout-inline pad-xs-t font-m pad-s-l">{{selectedSymbol.exg}}</div>
    </div>
    {{#each group in fullContextMenu}}
        {{#if _view.contentIndex}}
            <hr> <!--Seperator-->
        {{/if}}
        {{#each item in group}}
            {{#if item.isExtended}}
                <div {{action 'position' on="mouseEnter"}} >
                    {{partial item.path}}
                </div>
            {{else}}
                <div class="right-click-menu-item {{item.view.displayStyle}}" {{action 'rightClickItem' item.config item.args}}>
                    <a> <span class="v-middle font-x-l right-click-menu-rtl"><i class={{item.view.iconClass}}></i></span><span class="pad-l-l font-m {{item.view.menuClass}}">{{item.view.name}}</span> <span class="right font-s pad-s-t">{{item.view.shortcut}}</span> </a>
                </div>
            {{/if}}
        {{/each}}
    {{/each}}
</div>
