<div class="display-table h-middle full-width" {{action 'upgradeSubscription'}}>
    <button class="btn btn-default bold highlight-back-color-1" type="button">{{app.lang.labels.upgradeSubscription}}</button>
</div>
