<div class="col-lg-12 tittle-bar">
    <div class="left border-right">
        <div  class="font-l colour-normal left pad-s-all pad-m-l"> <img src="assets/img/samba.png"/ style="width:176px">
        </div>
        <div class="left pad-l-l pad-l-r">
                <span class="input-group" style="width:200px;">
                    {{input type="text" valueBinding="searchKey" action="showSearchPopup" on="key-press" class="search-query tittle-bar-search form-control mousetrap"  placeholder=app.lang.labels.searchSymbol}}
                    <span class="input-group-btn">
                        <button class="btn btn-default tittle-bar-search-btn" {{action 'showSearchPopup'}} >
                            <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
                        </button>
                    </span>
                </span>
            <div class="modal-symbol">
                {{#modal-popup isEnabled=false id="topBarSymbolSearch"}}
                    {{global-search enableContentSettings=false searchKey=searchKey showWidgetButtons=true
                    closePopup='closeSearchPopup' openPopup='showSearchPopup'}}
                {{/modal-popup}}
                </div>
        </div>

    </div>

    <div class="right mgn-m-r border-left">
        <div class="right pad-s-l"><a class="cursor-pointer"><i
                class="icon-power green tittle-colour" {{action 'logout'}}></i></a></div>
        <div class="right pad-s-l"><a class="cursor-pointer tittle-colour"><i
                class="icon-maximize tittle-colour" {{action 'toggleFullScreen'}}></i></a></div>
        <!--<div class="right"><a class="cursor-pointer"><i class="icon-gear tittle-colour"></i></a></div>-->
        <div class="right pad-s-l ">
            {{bootstrap-icon-dropdown
            options=settings
            valueKey='code'
            iconStyle='tittle-colour'
            labelKey='des'
            selectAction='changeSettings'}}
        </div>
        <div class="right pad-s-l mgn-m-r" style="padding-top: 2px;">
             <div {{bind-attr class=":font-m :left :pad-s-r connectionStatusStyle"}} style="padding-top: 2px;"><i class="icon-circle"></i></div>
        <span class="font-m pad-l-r colour-normal border-right tittle-colour">{{app.lang.labels.price}}</span>
            
            <span class="font-m pad-s-r pad-l-l colour-2 colour-normal tittle-colour">{{app.lang.labels.welcome}}</span>
            <span class="font-m pad-l-r  colour-normal border-right colour-normal tittle-colour">{{username}}</span>
        </div>

    </div>
    {{message-viewer
    messageArray=msgArray}}
</div>

