<table class="w-full border-b" cellspacing="0" cellpadding="0" border="0">
<tr>
<td>
        <div class="navbar-nav-exchange">
            <div class="font-x-l bold colour-normal  padding-small">{{exchange.de}}
            </div>
            <div class="font-l padding-small">
                <span {{bind-attr class="marketStatusCSS"}}>{{exchange.statStr}} </span>
                {{#if showTime}}
                <span class="pad-s-l colour-1"> {{showTimeText}}</span>
                {{/if}}
            </div>
            <div class="font-m"><span>{{marketTime}} </span></div>
            <div class="progress progress-time" style="width: auto">
                <div {{bind-attr class="progressStyle"}} role="progressbar" aria-valuenow="70"
                                                 aria-valuemin="0" aria-valuemax="100" {{bind-attr style="bar"}}></div>
            </div>

        </div></td>
    <td><div class="vertical-separator"></div></td>
      <td><div class="vertical-separator-1"></div></td>
        
           <td> 
      
            <div class="navbar-nav-chart ltr" id="mainIndexChart" {{action 'popUpChartOptionWidget'}}><span
                    id="chart" class="index-chart-position"></span></div> </td>
    
    <td>
    
            <div class="navbar-nav-index-value pad-s-l">
               
                <div {{bind-attr class="indexValCss"}}>
                    <span class="index-Arrow">  <i {{bind-attr class="indexArrowCss"}}> </i> </span>
                    <span class="index-Value"> {{formatNumber index.ltp}}  </span>
                </div>

               <div class="padding-top-large left ltr">
                <div {{bind-attr class="indexCss"}}>
                    <span class="index-change"> {{formatNumber index.chg}}</span>
                    <span class="index-percentage">{{indexChangeSign}}{{formatNumberPercentage index.pctChg}}</span>
                </div>
               </div>
                
            </div>
       
    </td>
    <td><div class="vertical-separator"></div></td>
    <td><div class="vertical-separator-1"></div></td>
    
            <td style="width:100%">
        <div class="navbar-nav-ticker-area" style="width:100%">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td>
                        <div class="tickerDiv">
                            <div id="ticker">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                  <td>
                    <div class="horizontal-line-topbar"></div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="horizontal-line-topbar-1"></div>
                  </td>
                </tr>
                <tr>
                    <td>
                        <div class="left" style="width:100%">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="nav-horizontal-list mgn-s-t" >
                                <tr> <td></td><td ><div class="mgn-s-t" style="display: table; margin: auto; position: relative;">
                                 <div class="left padding-x-large-right" ><div class=" font-m bold colour-normal pad-s-b">{{formatNumber exchange.vol 0}}</div><div class="font-m header-colour toppanel-back">{{app.lang.labels.volume}}</div></div>
                                 <div   class="left padding-x-large-right">  <div class="font-m bold colour-normal  pad-s-b">{{formatNumber exchange.tovr 0}}</div><div class="font-m header-colour toppanel-back">{{app.lang.labels.turnover}}</div></div>
                                  <div   class="left padding-x-large-right"><div class="font-m bold colour-normal pad-s-b">{{formatNumber exchange.trades 0}}</div><div class="font-m header-colour toppanel-back">{{app.lang.labels.trades}}</div></div>
                                    <div  class="left"><div class="font-m bold green  pad-s-b ltr">
                                        <span {{bind-attr class="ytdCss"}}>{{formatNumberPercentage index.pctYtd}}</span>
                                    </div><div class="font-m header-colour toppanel-back">{{app.lang.labels.ytd}}</div></div>  </div> </td>
                                    <td ></td>
                                    <td class="border-right-topbar" style="width:1px"></td>
                                     <td class="border-right-topbar-1" style="width:1px"></td>
                                    <td ></td>
                                  <td> <div style="display: table; margin: auto; position: relative;"><div class="left padding-x-large-right">
                                        <div class="pad-s-b">
                                        {{#each barItem in upsDownsNoChgValueArray}}
                                            <div class="progress-market">
                                                <div {{bind-attr class="barItem.barClass"}} role="progressbar" aria-valuenow="70"
                                                     aria-valuemin="0" aria-valuemax="100" {{bind-attr style="barItem.barWidth"}}></div>
                                            </div>
                                        {{/each}}
                                            </div>
                                    </div>
                                  <div class="left padding-x-large-right"><div class="font-m bold h-left green  padding-small-bottom-1">{{formatNumber exchange.ups 0}}</div><div class="font-m h-left header-colour">{{app.lang.labels.ups}}</div></div>
                                 <div class="left padding-x-large-right"> <div class="font-m bold h-left red  padding-small-bottom-1">{{formatNumber exchange.dwns 0}}</div><div class="font-m h-left header-colour">{{app.lang.labels.down}}</div></div>
                                      <div class="left padding-x-large-right"><div class="font-m bold h-left colour-2  padding-small-bottom-1">{{formatNumber exchange.nChg 0}}</div><div class="font-m h-left header-colour">{{app.lang.labels.unchanged}}</div></div></div> </td>  <td ></td>
                                </tr>

                            </table>
                        </div>
      
                    </td>
                </tr>
            </table>

        </div>
         </td>
    <td><div class="vertical-separator"></div></td>
      <td><div class="vertical-separator-1"></div></td>

<td>
        <div class="navbar-nav mgn-m-l" style="width:180px; text-align:center">
            <div style="float:left; width:92px">
                <div style="height:55px; width:88px; float:left" id="symbols_traded_chart"></div>
                <div class="font-m header-colour">{{app.lang.labels.symTraded}}</div>
            </div>
            <div style="float:left; width:88px">
                <div style="height:55px;  width:88px; float:left" id="cash_map_chart"></div>
                <div class="font-m header-colour">{{app.lang.labels.cashMap}}%</div>
            </div>
        </div>
</td>
<td style="display:none">
    <div class="logo-co navbar-nav right" style="margin-bottom:15px">
        <img src="assets/img/logo-cobranded.png"/>
    </div>
    <div class="logo navbar-nav right" style="display:none">
        <img src="assets/img/logo.png"/>
    </div>
   </td>
</tr>
</table>
    <!--/.nav-collapse -->

<div class="clr-both"></div>

