<div class="widget_new full-height">
    {{widget-header
        widgetTitle=app.lang.labels.tdwlCart
        symbol=symbolObj.dSym
        hideWidgetLink=true
        innerWidgets=innerWidgets
        innerWidgetAction="renderInnerWidgetItems"
        isWidgetCloseAvailable=isWidgetCloseAvailable
        closeWidgetAction= 'closeWidgetAction'
        closeActionTarget=controller
        cursorMoveCss=cursorMoveCss
        app=app
    }}

    <div class="widget-container-new full-height-without-header pad-widget-top pad-widget-left pad-widget-right pad-s-b">
        <div class="layout-container full-width pad-s-t">
            <div class="layout-col-24">
                <!--<hr class="mgn-m-l">-->
            </div>
            <div class="layout-col">
                <img src="assets/images/tadawulity/tdwl_0.png"/>
            </div>
        </div>

        <div class="tdwl-wrapper full-height">
            <div class="layout-container text-center full-width">
                <div class="layout-col">
                    <img src="{{contentImgUrl}}"/>
                </div>
            </div>

            <div class="layout-container text-center full-width">
                <div class="layout-col-12">
                    <a href="#" {{action 'tadawulLogin'}}>
                        <img src="{{loginImgUrl}}" {{action 'tadawulLogin'}}/>
                    </a>
                </div>
                <div class="layout-col-12">
                    <a href="#" {{action 'tadawulMoreInfo'}}>
                        <img src="{{moreInfoImgUrl}}"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
