<div class="news-popup">
    <div class="news-popup an-resizable" style="line-height: 18px">
        <div class="right pad-m-lr pad-m-tb cursor-pointer" {{action 'closePopup'}}>
            <i class="icon-close-round font-x-l fade-fore-color" title="{{app.lang.labels.close}}"></i>
        </div>
        {{outlet "generalPopupOutlet"}}
    </div>
</div>
