<div class="layout-container">
    <div class="layout-col font-4x-l" {{action 'loadQuoteSummary' view.rowValues.content.symbolInfo target='view'}}>
        <span class="font-5x-l pad-l-r icon-files highlight-fore-color"></span>
    </div>
    <div class="layout-col">
        <span class="font-xx-l bold btn-txt-color pad-l-r"><button type="button" class="btn confirm-btn  btn-animation bold up-back-color" {{action 'buttonMenuAction' false view.rowValues view.content}} disabled={{isEqual view.rowData.isAmendEnabled false true}}>{{view.app.lang.labels.amend}}</button></span>
    </div>
    <div class="layout-col">
        <span class="font-xx-l bold btn-txt-color pad-l-r"><button type="button" class="btn btn-sell btn-animation bold down-back-color" {{action 'buttonMenuAction' true view.rowValues view.content}} disabled={{isEqual view.rowData.isCancelEnabled false true}}>{{view.app.lang.labels.cancelOrder}}</button></span>
    </div>

    <div class="layout-col-24 pad-l-r">
        <div {{bind-attr class=":ellipsis :font-xx-l :h-left :pad-m-b :pad-s-t :symbol-fore-color :bold view.styleFirstValue" }}>
            <span>
                {{view.rowValues.content.symbolInfo.dispProp1}}
            </span>
        </div>

        <div {{bind-attr class=":ellipsis :font-x-l :h-left :pad-s-b :fade-fore-color view.styleSecondValue" }}>
            <span>
                {{view.rowValues.content.symbolSDes}}
            </span>
        </div>
    </div>
</div>