<div class="layout-container">
    <div class="layout-col" {{action 'buttonMenuAction' false view.rowValues view.content}}>
        <span class="font-xx-l bold btn-txt-color pad-m-r"><button type="button" class="btn {{if view.rowValues.content.isRightSymbol 'btn-buy-small' 'btn-buy'}} btn-animation bold up-back-color" >{{view.app.lang.labels.buyMore}}</button></span>
    </div>
    <div class="layout-col" {{action 'buttonMenuAction' true view.rowValues view.content}}>
        <span class="font-xx-l bold btn-txt-color pad-m-lr"><button type="button" class="btn {{if view.rowValues.content.isRightSymbol 'btn-sell-small' 'btn-sell'}} btn-animation bold down-back-color" >{{view.app.lang.labels.sell}}</button></span>
    </div>

    {{#if view.rowValues.content.isRightSymbol}}
        <div class="layout-col" {{action 'renderSubscribeWindow' view.rowValues target='view'}}>
            <span class="font-xx-l bold btn-txt-color pad-m-lr"><button type="button" class="btn btn-txt-color highlight-back-color-2 font-m btn-animation bold" >{{view.app.lang.labels.subscribe}}</button></span>
        </div>
    {{/if}}

    <div class="layout-col-24 pad-m-r">
        <div {{bind-attr class=":ellipsis :font-xx-l :h-left :pad-m-b :pad-s-t :symbol-fore-color :bold view.styleFirstValue" }}>
            <span>
                {{view.rowValues.content.symbolInfo.dispProp1}}
            </span>
        </div>

        <div {{bind-attr class=":ellipsis :font-x-l :h-left :pad-s-b :fade-fore-color view.styleSecondValue" }}>
            <span>
                {{view.rowValues.content.lDes}}
            </span>
        </div>
    </div>
</div>