<div class="layout-container full-width full-height">
    <div class="full-width layout-col-24 appttl-fade-fore-color">
        <div class="full-width ellipsis font-s h-right pad-s-r">{{gainLossLabel}}</div>
        <div class="font-x-s h-right pad-s-r pad-xs-t">{{currency}}</div>
    </div>
    <div   {{bind-attr class=":layout-col :appttl-portfolio :btn-txt-color gainLossCss"}}   {{action 'onGLClick' on="click"}}>
        <div class="pad-m-lr ltr font-m"><span class="bold">{{formatNumber gainLossPercentage 2}}</span><span>%</span></div>
        <div class="pad-m-lr ltr font-s">{{gainLoss}}</div>
    </div>
</div>

