<div  id="accountSummary-{{wkey}}" class="widget_new full-height">
    {{#if disableInnerWidgets}}
        {{widget-header
            widgetTitle=title
            hideWidgetLink=true
            hideSymbol=true
            isResizeAvailable=true
            resizeAction='fullScreenToggle'
            fullScreenToggleTitle=fullScreenToggleTitle
        }}
    {{else}}
        {{widget-header
            widgetTitle=app.lang.labels.accountSummary
            hideSymbol=true
            hideWidgetLink=true
            innerWidgets=innerWidgets
            innerWidgetAction="renderInnerWidgetItems"
            isWidgetCloseAvailable=isWidgetCloseAvailable
            closeWidgetAction= 'closeWidgetAction'
            closeActionTarget=controller
            cursorMoveCss=cursorMoveCss
            isResizeAvailable=true
            resizeAction='fullScreenToggle'
            fullScreenToggleTitle=fullScreenToggleTitle
        }}
    {{/if}}

    <div class="widget-container-new pad-s-b full-height-without-header">
        <div class="layout-container full-width pad-widget-top pad-widget-left pad-widget-right">
            <div class="layout-col font-m fade-fore-color">
                {{app.lang.labels.portfolio}}
            </div>
            <div class="layout-col overflow-visible pad-s-l">
                {{bootstrap-dropdown-select
                options=tradingAccColl
                defaultSelect=currentAccount
                value=currentAccount.tradingAccId
                valueKey="tradingAccId"
                labelKey=portfolioDes
                selectAction="portfolioChanged"
                lblClass="btn-lbl-m"}}
            </div>

            <div class="layout-col pad-l-l font-m fade-fore-color">
                {{app.lang.labels.curr}}
            </div>
            <div class="layout-col overflow-visible pad-s-l" {{bind-attr title=app.lang.labels.curr}}>
                {{bootstrap-dropdown-select
                options=currencyDropdownOptions
                defaultSelect=currencySelection
                valueKey="id"
                labelKey="displayName"
                selectAction="currencyChanged"}}
            </div>
            {{#if isShowChart}}
                <div class="layout-col pad-l-l font-m fade-fore-color">
                    {{app.lang.labels.buyingPower}}
                </div>
                <div class="layout-col pad-s-l font-l bold">
                    {{formatNumber currentAccount.cashAccount.buyPwr decimalPlace}}
                </div>
            {{/if}}
            <div class="layout-col-24"></div>
        </div>
        {{#if isShowSecondRow}}
            <div class="layout-container full-width pad-widget-top pad-widget-left pad-widget-right">
                <div class="layout-col pad-l-t font-m fade-fore-color">
                    {{app.lang.labels.buyingPower}}
                </div>
                <div class="layout-col pad-s-l pad-l-t font-l bold">
                    {{formatNumber currentAccount.cashAccount.buyPwr decimalPlace}}
                </div>
                <div class="layout-col-24"></div>
            </div>
        {{/if}}
        {{#if isTablet}}
            <div class="layout-container full-width pad-widget-top pad-widget-left pad-widget-right {{if isShowBarChart 'pad-m-tb' 'pad-m-b'}}">
                {{#if isShowBarChart}}
                    {{#each bar in portfolioBarChartData}}
                        <div class="layout-container full-width" style="height: 20px;">
                            <div class="layout-col-6 pad-s-l v-middle font-s fade-fore-color">{{bar.portNme}}</div>
                            <div class="layout-col-24">
                                <div class="layout-container full-width">
                                    <div class="layout-col full-height {{bar.color}}" style="width: {{bar.width}};"></div>
                                    <div class="layout-col pad-s-l v-middle font-l bold">{{bar.percentage}}</div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                {{/if}}
            </div>
        {{/if}}
        <div class="pad-widget-top {{columnClass}} {{chartHeight}}" style="height: {{contentScrollHeight}}" id={{wkey}}>
            <div class="nano pos-rel has-scrollbar">
                <div class="{{if isTablet 'nano-content' 'y-scroll'}} full-height nano-content">
                    <div class="data-table full-width">
                        <div class="layout-row"></div>
                        {{#each field in panelFields}}
                            <div class="layout-row">
                                <div class="layout-col-24 row-height font-m fade-fore-color pad-widget-left">
                                    <span>{{field.caption}}</span>
                                </div>
                                <div class="layout-col font-l bold h-right pad-s-r ltr">
                                    {{field.formattedValue}}
                                </div>
                            </div>
                        {{/each}}

                        {{#if currentAccount.isMar}}
                        <div class="layout-row">
                            <div class="layout-col-24 pad-widget-left row-height font-m fade-fore-color">
                                <span>{{app.lang.labels.margin}}</span>
                            </div>
                            <div class="layout-col font-l bold h-right pad-s-r ltr">
                                {{formatNumber currentAccount.cashAccount.mrgLmt decimalPlace}}
                            </div>
                        </div>
                        <div class="layout-row">
                            <div class="layout-col-24 pad-widget-left row-height font-m fade-fore-color">
                                <span>{{app.lang.labels.marginBlocked}}</span>
                            </div>
                            <div class="layout-col font-l bold h-right pad-s-r ltr">
                                {{formatNumber currentAccount.cashAccount.marBlk decimalPlace}}
                            </div>
                        </div>
                        <div class="layout-row">
                            <div class="layout-col-24 pad-widget-left row-height font-m fade-fore-color">
                                <span>{{app.lang.labels.marginDue}}</span>
                            </div>
                            <div class="layout-col font-l bold h-right pad-s-r ltr">
                                {{formatNumber currentAccount.cashAccount.marDue decimalPlace}}
                            </div>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
        {{#if isShowChart}}
            <div class="pad-widget-top col-md-6 h-middle" style="height:{{accountChartHeight}}" id="c3-accounts-chart"></div>
        {{/if}}
    </div>
</div>