<div id="{{widgetContainerKey}}" class="widget_new full-height">
    {{#if disableInnerWidgets}}
        {{widget-header
            widgetTitle=app.lang.labels.cashStatements
            hideWidgetLink=true
            hideSymbol=true
            isResizeAvailable=true
            resizeAction='fullScreenToggle'
            fullScreenToggleTitle=fullScreenToggleTitle
        }}
    {{else}}
        {{widget-header
            hideWidgetLink=true
            innerWidgets=innerWidgets
            innerWidgetAction="renderInnerWidgetItems"
            isResizeAvailable=true
            resizeAction='fullScreenToggle'
            fullScreenToggleTitle=fullScreenToggleTitle
        }}
    {{/if}}

    <div class="col-md-12 widget-container-new pad-widget-top pad-widget-left pad-widget-right"
         style="height: calc(100% - 16px);">
        <form>
            <div class="layout-container">
                <div class="layout-col font-l fade-fore-color">{{app.lang.labels.portfolio}}</div>
                <div class="layout-col pad-s-l overflow-visible" title="{{app.lang.labels.portfolio}}">
                    {{bootstrap-dropdown-select
                    options=portfolios
                    defaultSelect=currentPortfolio
                    valueKey="tradingAccId"
                    labelKey=portfolioDes
                    selectAction="setPortfolio"
                    lblClass="btn-lbl-m"}}
                </div>

                <div class="layout-col pad-l-l font-l fade-fore-color">{{app.lang.labels.groupBy}}</div>
                <div class="layout-col pad-s-l overflow-visible">
                    {{bootstrap-dropdown-select
                    options=types
                    defaultSelect=defaultOptionForGrouping
                    valueKey="label"
                    labelKey="label"
                    selectAction="setGroup"
                    }}
                </div>

                <div class="layout-col pad-l-l font-m fade-fore-color">{{app.lang.labels.sortBy}}</div>
                <div class="layout-col pad-s-l overflow-visible">
                    {{bootstrap-dropdown-select
                    defaultSelect=defaultOptionForSorting
                    options=sortByOptions
                    valueKey="label"
                    labelKey="label"
                    selectAction= "setSortOption"
                    }}
                </div>
            </div>

            <div class="layout-container pad-m-t">
                <div class="layout-col font-m fade-fore-color">{{app.lang.labels.from}}</div>
                <div class="layout-col pad-s-l">
                    {{bootstrap-datepicker
                        language=lan
                        placeholder=app.lang.labels.fromDate
                        class="date-input-field"
                        value=fromDate
                        autoclose=true
                        endDate=toEndDate
                        format=datePickerFormat
                    }}
                </div>

                <div class="layout-col pad-l-l font-m fade-fore-color">{{app.lang.labels.to}}</div>
                <div class="layout-col pad-s-l">
                    {{bootstrap-datepicker
                        language=lan
                        placeholder=app.lang.labels.toDate
                        class="date-input-field"
                        value=toDate
                        autoclose=true
                        startDate=fromDate
                        endDate=toEndDate
                        format=datePickerFormat
                    }}
                </div>

                <div class="layout-col pad-l-l">
                    <button type="submit" class="btn btn-default fade-fore-color bold"{{action "onSubmit"}}>{{app.lang.labels.submit}}</button>
                </div>
            </div>
        </form>

        <div class="full-width pad-widget-top" style="height: calc(100% - 63px);">
            {{loading-indicator isLoading=isLoading}}
            {{single-message-viewer message=errorMessage showMessage=showError messageCss='appttl-light-bg-fore-color' backgroundCss='h-middle'}}
            {{#if isDataAvailable}}
                {{table-component
                columns=columns
                content=arrangedContent
                rowHeight= 25
                minHeaderHeight= 25
                hasFooter=false
                sortAscending=sortAscending
                id=wkey
                isRefreshed=isRefreshed
                numFixedColumns=numOfFixedColumns
                rowClickAction="clickRow"}}
            {{/if}}
        </div>
    </div>
</div>