<div class="widget_new full-height pad-s-b">
    {{#if isShowTitle}}
        {{widget-header
                widgetTitle=app.lang.labels.deposit
                hideWidgetLink=true
                innerWidgets=innerWidgets
                innerWidgetAction="renderInnerWidgetItems"
                isWidgetCloseAvailable=isWidgetCloseAvailable
                closeWidgetAction= 'closeWidgetAction'
                closeActionTarget=controller
                cursorMoveCss=cursorMoveCss
        }}
    {{/if}}

    <div class="widget-container-new full-height-without-header">
        <div class='col-md-6 pad-s-t pad-m-l'>
            <div class="col-lg-12 pad-s-r pad-m-b">
                <label for="symbol" class="font-m header-colour mgn-s-b">{{app.lang.labels.portfolio}}</label>
                {{bootstrap-dropdown-select
                        options=accountColl
                        defaultSelect=currentAccount
                        value=currentAccount.cashAccountId
                        valueKey="cashAccountId"
                        labelKey="cashAccountId"
                        selectAction="onAccountChanged"
                        lblClass="btn-lbl-m"
                }}
            </div>

            <div>
                <table border="1" cellspacing="1" cellpadding="1" class="table table-type-1 TFtable">
                    <tr>
                        <td class="font-m header-colour">
                            <span>Available Balance</span>
                        </td>
                        <td class="font-l bold h-right" style="padding-right: 5px;">
                            {{formatNumber currentAccount.cashAccount.balance}}
                        </td>
                    </tr>
                    <tr>
                        <td class="font-m header-colour">
                            <span>Cash</span>
                        </td>
                        <td class="font-l bold h-right" style="padding-right: 5px;">
                            {{formatNumber currentAccount.cashAccount.cashAmt}}
                        </td>
                    </tr>
                    <tr>
                        <td class="font-m header-colour">
                            <span>Blocked Amount</span>
                        </td>
                        <td class="font-l bold h-right" style="padding-right: 5px;">
                            {{formatNumber currentAccount.cashAccount.blkAmt}}
                        </td>
                    </tr>
                    <tr>
                        <td class="font-m header-colour">
                            <span>Unsettled Sales</span>
                        </td>
                        <td class="font-l bold h-right" style="padding-right: 5px;">
                            {{formatNumber currentAccount.cashAccount.penSet}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class='col-md-6 pad-m-l pad-s-t pad-m-r'>
            <div class="col-lg-12">
                <div class="col-lg-6 pad-s-r pad-m-b">
                    <label class="font-m header-colour mgn-s-b">Payment Method</label>
                    {{bootstrap-dropdown-select
                            options=payMethods
                            defaultSelect=currentPayMethod
                            valueKey="DisplayName"
                            labelKey="DisplayName"
                            selectAction="onPayMtdChanged"
                            lblClass="btn-lbl-m"
                    }}
                </div>

                <div class="col-lg-4 pad-m-b pad-m-l">
                    <label class="font-m header-colour mgn-s-b">Deposit Date <span class="down-fore-color">*</span></label>
                    <div>{{bootstrap-datepicker language=lan placeholder="Select Date" class="search-query form-control" value=valueDate autoclose=true format=datePickerFormat}}</div>
                </div>

                <div class="col-lg-6">
                    <div class="col-lg-9 form-group left pad-m-r">
                        <label for="symbol" class="font-m header-colour mgn-s-b">Amount <span class="down-fore-color">*</span></label>
                        {{input-field-number
                        class="form-control search-query colour-normal font-l h-right bold"
                        tabindex=1
                        maxlength=15
                        decimalPlaces=2
                        numValue=amount}}
                    </div>
                </div>

                <div class="col-lg-6 pad-m-l">
                    <label for="symbol" class="font-m header-colour mgn-s-b">Currency</label>
                    {{bootstrap-dropdown-select
                            options=currencyDropdownOptions
                            defaultSelect=currencySelection
                            valueKey="DisplayName"
                            labelKey="DisplayName"
                            selectAction="onCurrencyChanged"
                            lblClass="btn-lbl-m"
                    }}
                </div>
            </div>

            <div class="col-lg-12">
                <div class="col-lg-6 pad-s-r pad-m-b">
                    <label for="symbol" class="font-m header-colour mgn-s-b">Account</label>
                    {{bootstrap-dropdown-select
                            options=bankAccounts
                            defaultSelect=currentBnkAcnt
                            valueKey="bnkAccNum"
                            labelKey="bnkAccNum"
                            selectAction="onBankAccountChanged"
                            lblClass="btn-lbl-m"
                    }}
                </div>
            </div>

            <div>
                {{#modal-popup isEnabled=false id=messagePopupId}}
                    <div class="message-box-frame messege-box-inner h-left">
                        <div class="message-box-title">{{app.lang.labels.error}} !</div>
                        {{#each errorMessage in errorMessages}}
                            <div class="v-middle font-x-l"></div>
                            <div class="pad-m-all font-x-l">{{errorMessage}}</div>
                        {{/each}}
                    </div>
                {{/modal-popup}}
            </div>
        </div>

        <div class="h-right pad-m-lr">
            <div class="right pad-m-l">
                <button type="button" class="btn btn-default btn-small colour-normal bold" {{action 'onReset'}}>
                    {{app.lang.labels.cancel}}
                </button>
            </div>
            <div class="right">
                <button type="submit" class="btn btn-default btn-small colour-normal bold" {{action 'onSubmit'}}>
                    {{app.lang.labels.submit}}
                </button>
            </div>
        </div>
    </div>
</div>