<div id="orderSearch-{{wkey}}" class="widget_new full-height overflow-visible">
    {{#if isShowTitle}}
        {{#if disableInnerWidgets}}
            {{widget-header
                widgetTitle=title
                hideWidgetLink=true
                hideSymbol=true
                isResizeAvailable=true
                resizeAction='fullScreenToggle'
                fullScreenToggleTitle=fullScreenToggleTitle
            }}
        {{else}}
            {{widget-header
                hideWidgetLink=true
                widgetTitle=app.lang.labels.orderSearch
                innerWidgets=innerWidgets
                innerWidgetAction="renderInnerWidgetItems"
                isWidgetCloseAvailable=isWidgetCloseAvailable
                closeWidgetAction= 'closeWidgetAction'
                closeActionTarget=controller
                cursorMoveCss=cursorMoveCss
                isResizeAvailable=true
                resizeAction='fullScreenToggle'
                fullScreenToggleTitle=fullScreenToggleTitle
            }}
        {{/if}}
    {{/if}}

    <div class="col-md-12 widget-container-new pad-s-b full-height-without-header">
        <div class="layout-container full-width pad-widget-top pad-widget-left pad-widget-right">
            <div class="layout-col" title="{{app.lang.labels.symbol}}">
                {{input-field-text type="text" value=symbol  id=symbolFieldId placeholder=app.lang.labels.symbol class="search-query bold colour-symbol form-control default-panel-width"}}
            </div>

            <div class="layout-col pad-l-l overflow-visible" title="{{app.lang.labels.portfolio}}">
                {{bootstrap-dropdown-select
                options=portfolios
                defaultSelect=currentPortfolio
                valueKey="tradingAccId"
                labelKey=portfolioDes
                selectAction="setPortfolio"
                lblClass="btn-lbl-m"}}
            </div>

            <div class="layout-col pad-l-l font-l fade-fore-color">
                {{app.lang.labels.from}}
            </div>
            <div class="layout-col pad-s-l">
                {{bootstrap-datepicker
                readonly=isTablet
                language=lan
                placeholder=app.lang.labels.fromDate
                class="date-input-field"
                value=fromDate
                autoclose=true
                endDate=toEndDate
                format=datePickerFormat}}
            </div>

            <div class="layout-col pad-l-l font-l fade-fore-color">
                {{app.lang.labels.to}}
            </div>
            <div class="layout-col pad-s-l">
                {{bootstrap-datepicker
                readonly=isTablet
                language=lan
                placeholder=app.lang.labels.toDate
                class="date-input-field"
                value=toDate
                autoclose=true
                endDate=toEndDate
                startDate=fromDate
                format=datePickerFormat}}
            </div>

            <div class="layout-col pad-l-l">
                <button type="submit" class="btn btn-default fade-fore-color bold" disabled={{isLoading}}
                    {{action "onSearchOrder"}}>{{app.lang.labels.search}}</button>
            </div>
            <div class="layout-col-24"></div>
        </div>

        <div class="layout-container full-width pad-m-t pad-widget-top pad-widget-left pad-widget-right">
            <div class="layout-col" name="focal-elementx">
                <div class="layout-inline default-panel-width" title="{{app.lang.labels.orderId}}">
                    {{input-field-text type="text" id=orderFieldId value=orderId placeholder=app.lang.labels.orderId class="search-query bold colour-symbol form-control"}}
                </div>
            </div>

            <div class="layout-col pad-l-l overflow-visible" {{bind-attr title=app.lang.labels.side}}>
                {{bootstrap-dropdown-select
                options=sides
                defaultSelect=currentSide
                valueKey="code"
                labelKey="DisplayName"
                selectAction="setSide"}}
            </div>

            <div class="layout-col pad-l-l overflow-visible" {{bind-attr title=app.lang.labels.status}}>
                {{bootstrap-dropdown-select
                options=status
                defaultSelect=currentStatus
                valueKey="value"
                labelKey="DisplayName"
                selectAction="setStatus"}}
            </div>

            <div data-id="orderSearch-middle" class="layout-col-24"></div>

            <div class="layout-col pad-l-l" title={{app.lang.labels.previous}}>
                <button class="btn btn-default fade-fore-color bold"
                        disabled={{isPrevDisabled}} {{action "onClickPrevious"}}>
                    <i class="icon-caret-left"></i>
                </button>
            </div>
            <div class="layout-col pad-m-l" title={{app.lang.labels.next}}>
                <button class="btn btn-default fade-fore-color bold"
                        disabled={{isNextDisabled}} {{action "onClickNext"}}>
                    <i class="icon-caret-right"></i>
                </button>
            </div>

            <div class="layout-col overflow-visible dropdown pad-m-l">
                <button type="button" class="btn btn-dropdown btn-default dropdown-toggle" {{action 'loadMoreColumnsDropDown'}} data-toggle="dropdown" aria-expanded="false">
                    {{#if (onResponsive responsive.trigger responsive "orderSearch-middle" 1)}}
                        <span data-id="orderSearchMoreColumns"><i class="icon-th"></i></span>
                    {{else}}
                        <span data-id="orderSearchMoreColumns">{{app.lang.labels.moreColumns}}</span>
                        <span class="caret"></span>
                    {{/if}}
                </button>
            </div>
        </div>

        <div class="full-width pad-widget-top" style="height: calc(100% - 63px);">
            {{loading-indicator isLoading=isLoading}}
            {{#if isRenderingEnabled}}
                {{table-component
                columns=columns
                content=arrangedContent
                rowHeight= 25
                minHeaderHeight= 25
                hasFooter=false
                doubleClickAction="doubleClickRow"
                sortAction="sort"
                onColumnReordered= "reOrderColumns"
                enableColumnReorder=enableColumnReorder
                isRefreshed=isRefreshed
                sortAscending=sortAscending
                id=wkey
                numFixedColumns=numOfFixedColumns}}
            {{/if}}
            {{single-message-viewer message=errorMessage showMessage=showError messageCss='appttl-light-bg-fore-color' backgroundCss='h-middle'}}
        </div>
    </div>
</div>