<div id="orderList-{{wkey}}" class="widget_new full-height overflow-visible">
    {{#if isShowTitle}}
        {{#if disableInnerWidgets}}
            {{widget-header
                widgetTitle=title
                hideWidgetLink=true
                hideSymbol=true
                isResizeAvailable=true
                resizeAction='fullScreenToggle'
                fullScreenToggleTitle=fullScreenToggleTitle
            }}
        {{else}}
            {{widget-header
                hideWidgetLink=true
                widgetTitle=title
                innerWidgets=innerWidgets
                innerWidgetAction="renderInnerWidgetItems"
                isWidgetCloseAvailable=isWidgetCloseAvailable
                closeWidgetAction= 'closeWidgetAction'
                closeActionTarget=controller
                cursorMoveCss=cursorMoveCss
                isResizeAvailable=true
                resizeAction='fullScreenToggle'
                fullScreenToggleTitle=fullScreenToggleTitle
            }}
        {{/if}}
    {{/if}}

    <div class="col-md-12 widget-container-new " style="height: calc(100% - 26px);">
        <div class="layout-container full-width pad-widget-top pad-widget-left pad-widget-right ">
            <div class="layout-col font-m fade-fore-color">
                {{app.lang.labels.portfolio}}
            </div>
            <div class="layout-col pad-s-l overflow-visible" {{bind-attr title=app.lang.labels.portfolio}}>
                {{bootstrap-dropdown-select
                options=accountColl
                defaultSelect=currentAccount
                value=currentAccount.tradingAccId
                valueKey="tradingAccId"
                labelKey=portfolioDes
                selectAction="setPortfolio"
                lblClass="btn-lbl-m"}}
            </div>

            <div class="layout-col font-m pad-l-l fade-fore-color">
                {{app.lang.labels.side}}
            </div>
            <div class="layout-col pad-s-l overflow-visible" {{bind-attr title=app.lang.labels.side}}>
                {{bootstrap-dropdown-select
                options=sides
                defaultSelect=currentSide
                value=currentSide.code
                valueKey="code"
                labelKey="DisplayName"
                selectAction="setSide"}}
            </div>

            <div class="layout-col pad-l-l font-m fade-fore-color">
                {{app.lang.labels.status}}
            </div>
            <div class="layout-col pad-s-l overflow-visible" {{bind-attr title=app.lang.labels.status}}>
                {{bootstrap-dropdown-select
                options=status
                defaultSelect=currentStatus
                value=currentStatus.value
                valueKey="value"
                labelKey="DisplayName"
                selectAction="setStatus"}}
            </div>

            <div class="layout-col pad-l-l font-m fade-fore-color">
                {{app.lang.labels.groupBy}}
            </div>
            <div class="layout-col pad-s-l overflow-visible" {{bind-attr title=app.lang.labels.groupBy}}>
                {{bootstrap-dropdown-select
                options=groups
                defaultSelect=currentGroup
                value=currentGroup.code
                valueKey="code"
                labelKey="des"
                selectAction="setGroup"}}
            </div>
            <div data-id="orderList-middle" class="layout-col-24"></div>

            <div class="layout-col overflow-visible dropdown pad-m-l">
                <button type="button" class="btn btn-dropdown btn-default dropdown-toggle" {{action 'loadMoreColumnsDropDown'}} data-toggle="dropdown" aria-expanded="false">
                    {{#if (onResponsive responsive.trigger responsive "orderList-middle" 1)}}
                        <span data-id="orderListMoreColumns"><i class="icon-th"></i></span>
                    {{else}}
                        <span data-id="orderListMoreColumns">{{app.lang.labels.moreColumns}}</span>
                        <span class="caret"></span>
                    {{/if}}
                </button>
            </div>
        </div>

        <div class="full-width pad-widget-top" style="height: calc(100% - 30px);">
            {{loading-indicator isLoading=isLoading}}
            {{#if isRenderingEnabled}}
                {{table-component
                columns=columns
                content=arrangedContent
                rowHeight= 25
                minHeaderHeight= 25
                hasFooter=false
                rowClickAction="clickRow"
                doubleClickAction="doubleClickRow"
                sortAction="sort"
                onColumnReordered= "reOrderColumns"
                enableColumnReorder=enableColumnReorder
                isRefreshed=isRefreshed
                sortAscending=sortAscending
                id=wkey
                numFixedColumns=numOfFixedColumns}}
            {{/if}}
            {{single-message-viewer message=errorMessage showMessage=showError messageCss='appttl-light-bg-fore-color' backgroundCss='h-middle'}}
        </div>
    </div>
</div>