<div class="widget-new pad-s-b">
    <div class='col-xs-24 pad-s-all'>
        {{#each field in panelFields}}
            <div class="{{field.cellStyle}} layout-container order-detail-panel hint--bounce hint--top hint--rounded">
                <div class="layout-col font-m ellipsis fade-fore-color">{{field.caption}}</div>
                <div class="layout-col font-l bold fore-color right pad-xs-t h-right pad-s-r"><div class="layout-col v-middle order-detail-panel-cell-height {{field.style}}">{{field.formattedValue}}</div></div>
            </div>
        {{/each}}
    </div>

    {{#if isOrderRejected}}
        <div class='col-xs-12 pad-s-all'>
            <div class="layout-col font-m v-top {{rejectReasonStyle}}">
                <span>{{app.lang.labels.rejReason}}:</span>
            </div>
            <div class="layout-col-24 font-m pad-l-l pad-s-l white-space-normal {{rejectReasonStyle}}">
                {{orderInfo.txt}}
            </div>
        </div>
    {{/if}}
</div>