<div id="{{widgetContainerKey}}" class="widget_new full-height overflow-visible">
    {{#if isShowTitle}}
        {{#if disableInnerWidgets}}
            {{widget-header
                widgetTitle=app.lang.labels.portfolio
                hideWidgetLink=true
                hideSymbol=true
                isResizeAvailable=true
                resizeAction='fullScreenToggle'
                fullScreenToggleTitle=fullScreenToggleTitle
            }}
        {{else}}
            {{widget-header
                hideSymbol=true
                widgetTitle=app.lang.labels.portfolio
                hideWidgetLink=true
                innerWidgets=innerWidgets
                isResizeAvailable=true
                resizeAction='fullScreenToggle'
                fullScreenToggleTitle=fullScreenToggleTitle
                innerWidgetAction="renderInnerWidgetItems"
                isWidgetCloseAvailable=isWidgetCloseAvailable
                closeWidgetAction= 'closeWidgetAction'
                closeActionTarget=controller
                cursorMoveCss=cursorMoveCss
            }}
        {{/if}}
    {{/if}}
    
    <div class="col-md-12 widget-container-new full-height-without-header">
        <div class="layout-container full-width pad-widget-top pad-widget-left pad-widget-right">
            <div class="layout-col font-m fade-fore-color">
                {{app.lang.labels.portfolio}}
            </div>
            <div class="layout-col pad-s-l overflow-visible" {{bind-attr title=app.lang.labels.portfolio}}>
                {{bootstrap-dropdown-select
                options=portfolioDropdownOptions
                defaultSelect=currentPortfolio
                value=currentPortfolio.tradingAccId
                valueKey="tradingAccId"
                labelKey=portfolioDes
                selectAction="onSelectPortfolio"
                lblClass="btn-lbl-m"}}
            </div>

            {{#if isShowBuyingPower}}
                <div class="layout-col pad-l-l font-m fade-fore-color">
                    {{app.lang.labels.curr}}
                </div>
                <div class="layout-col pad-s-l overflow-visible" {{bind-attr title=app.lang.labels.curr}}>
                    {{bootstrap-dropdown-select
                    options=currencyDropdownOptions
                    defaultSelect=currencySelection
                    valueKey="Id"
                    labelKey="DisplayName"
                    selectAction="onSelectCurrency"}}
                </div>

                <div class="layout-col pad-l-l font-m fade-fore-color">
                    {{app.lang.labels.buyingPower}}
                </div>
                <div class="layout-col pad-s-l font-l bold">
                    {{formatNumber currentPortfolio.cashAccount.buyPwr decimalPlaces}}
                </div>
            {{/if}}
            <div data-id="portfolio-middle" class="layout-col-24"></div>

            <div class="layout-col overflow-visible dropdown pad-m-l">
                <button type="button" class="btn btn-dropdown btn-default dropdown-toggle" {{action 'loadMoreColumnsDropDown'}} data-toggle="dropdown" aria-expanded="false">
                    {{#if (onResponsive responsive.trigger responsive "portfolio-middle" 1)}}
                        <span data-id="portfolioMoreColumns"><i class="icon-th"></i></span>
                    {{else}}
                        <span data-id="portfolioMoreColumns">{{app.lang.labels.moreColumns}}</span>
                        <span class="caret"></span>
                    {{/if}}
                </button>
            </div>
        </div>

        <div class="full-width pad-widget-top" style="height: calc(100% - 30px);">
            {{#if isRenderingEnabled}}
                {{table-component
                columns=columns
                content=arrangedContent
                rowHeight=rowHeight
                footerArray=footerArray
                hasFooter=true
                minHeaderHeight=25
                rowClickAction="clickRow"
                sortAction="sort"
                onColumnReordered= "reOrderColumns"
                isRefreshed=isRefreshed
                enableColumnReorder=enableColumnReorder
                id=wkey
                sortAscending=sortAscending
                numFixedColumns=numOfFixedColumns}}
            {{/if}}
        </div>
    </div>
</div>