<div class="widget_new full-height overflow-visible">
    {{widget-header
        widgetTitle=app.lang.labels.savedOrders
        hideWidgetLink=true
        innerWidgets=innerWidgets
        innerWidgetAction="renderInnerWidgetItems"
        isWidgetCloseAvailable=isWidgetCloseAvailable
        closeWidgetAction= 'closeWidgetAction'
        closeActionTarget=controller
        cursorMoveCss=cursorMoveCss
    }}

    <div class="widget-container-new full-height-without-header">
        <div class="layout-container pad-widget-left pad-widget-right pad-widget-top">
            <div class="layout-col font-m fade-fore-color">
                {{app.lang.labels.portfolio}}
            </div>
            <div class="layout-col pad-s-l overflow-visible" {{bind-attr title=app.lang.labels.portfolio}}>
                {{bootstrap-dropdown-select
                    options=accountColl
                    defaultSelect=currentAccount
                    valueKey="tradingAccId"
                    labelKey=portfolioDes
                    selectAction="setPortfolio"
                    lblClass="btn-lbl-m"
                }}
            </div>
            <div class="layout-col font-m pad-l-l fade-fore-color">
                {{app.lang.labels.side}}
            </div>
            <div class="layout-col pad-s-l overflow-visible" {{bind-attr title=app.lang.labels.side}}>
                {{bootstrap-dropdown-select
                options=sides
                defaultSelect=currentSide
                valueKey="code"
                labelKey="DisplayName"
                selectAction="setSide"
                }}
            </div>
            <div class="layout-col pad-l-l font-m fade-fore-color">
                {{app.lang.labels.groupBy}}
            </div>
            <div class="layout-col pad-s-l overflow-visible" {{bind-attr title=app.lang.labels.groupBy}}>
                {{bootstrap-dropdown-select
                    options=groups
                    defaultSelect=currentGroup
                    valueKey="code"
                    labelKey="des"
                    selectAction="setGroup"
                }}
            </div>
            <div class="layout-col-24">
            </div>
            <div class="layout-col pad-l-l">
                <button class="btn btn-dropdown btn-default" {{action 'onSave'}} disabled={{isOrdersNotSelected}}>{{app.lang.labels.executeOrders}} </button>
            </div>
            <div class="layout-col pad-l-l">
                <button class="btn btn-dropdown btn-default" {{action 'onDelete'}} disabled={{isOrdersNotSelected}}>{{app.lang.labels.deleteOrders}} </button>
            </div>
        </div>

        <div class="full-width pad-widget-top trade-widget-table-height">
            {{table-component
                columns=columns
                content=arrangedContent
                rowHeight= 25
                minHeaderHeight= 25
                hasFooter=false
                rowClickAction="clickRow"
                doubleClickAction="doubleClickRow"
                sortAction="sort"
                sortAscending=sortAscending
                id=wkey
            }}
        </div>
    </div>
</div>