<div class="widget_new full-height">
    {{#if isShowTitle}}
        {{widget-header
            linkOptions=links
            defaultSelectedLink=defaultLink
            selectedLink=selectedLink
            setLink='setLink'
            widgetTitle=app.lang.labels.cashTransferHistory
            hideSymbol=true
            hideWidgetLink=true
            symbol=sym
            innerWidgets=innerWidgets
            innerWidgetAction="renderInnerWidgetItems"
            isWidgetCloseAvailable=isWidgetCloseAvailable
            closeWidgetAction= 'closeWidgetAction'
            closeActionTarget=controller
            cursorMoveCss=cursorMoveCss
        }}
    {{/if}}

    <div class="widget-container-new full-height-without-header">
        <div class="layout-container full-width tool-bar pad-widget-left pad-widget-right pad-widget-top pad-m-b font-m">
            <div class="layout-col font-m fade-fore-color">{{app.lang.labels.portfolio}}</div>
            <div class="layout-col pad-s-l overflow-visible" title="{{app.lang.labels.portfolio}}">
                {{bootstrap-dropdown-select
                    options=accountColl
                    defaultSelect=currentAccount
                    valueKey="tradingAccId"
                    labelKey="dispProp"
                    selectedLabelKey="cashAccount.invAccNo"
                    selectAction='setPortfolio'
                    wkey=wkey
                }}
            </div>
            <div class="layout-col pad-m-l font-m fade-fore-color">{{app.lang.labels.type}}</div>
            <div class="layout-col pad-s-l overflow-visible">
                {{bootstrap-dropdown-select
                    options=types
                    defaultSelect=currentType
                    value=currentType.['des']
                    valueKey='des'
                    labelKey='des'
                    selectAction='setType'
                    wkey=wkey
                }}
            </div>
            <div class="layout-col pad-m-l font-m fade-fore-color">{{app.lang.labels.status}}</div>
            <div class="layout-col pad-s-l overflow-visible">
                {{bootstrap-dropdown-select
                options=status
                defaultSelect=currentStatus
                value=currentStatus.['des']
                valueKey='des'
                labelKey='des'
                selectAction='setStatus'
                wkey=wkey
                }}
            </div>
            <div class="layout-col pad-m-l font-m fade-fore-color">{{app.lang.labels.from}}</div>
            <div class="layout-col pad-s-l">
                {{bootstrap-datepicker
                    readonly=isTablet
                    language=lan
                    placeholder=app.lang.labels.fromDate
                    class="date-input-field kyc-date-field fade-fore-color"
                    value=fromDate
                    autoclose=true
                    endDate=toEndDate
                    format=datePickerFormat
                }}
            </div>

            <div class="layout-col pad-m-l font-m fade-fore-color">{{app.lang.labels.to}}</div>
            <div class="layout-col pad-s-l">
                {{bootstrap-datepicker
                    readonly=isTablet
                    language=lan
                    placeholder=app.lang.labels.toDate
                    class="date-input-field kyc-date-field fade-fore-color"
                    value=toDate
                    autoclose=true
                    startDate=fromDate
                    endDate=toEndDate
                    format=datePickerFormat
                }}
            </div>
            <div class="layout-col pad-m-l">
                <button type="submit"
                        class="btn btn-default fade-fore-color bold kyc-btn"{{action "onSubmit"}}>{{app.lang.labels.view}}</button>
            </div>
            <div class="layout-col-24"></div>
        </div>

        {{#modal-popup isEnabled=false id="rightClickOrderList"}}
            <div class="watchlist-right-click">
                <div class="watchlist-right-click-symbol widget-title-fore-color">
                    <span class="bold font-x-l">{{clickedRowSymbol}}</span>
                </div>
                <div class="watchlist-right-click-item" {{action 'amendOrder' item.id}}>
                    <a><span class="v-middle font-x-l watchlist-right-click-rtl"><i
                            class="icon-file-symlink-directory"></i></span><span class="pad-l-l">{{app.lang.labels.amend}}</span>
                        <span class="right font-s pad-s-t"></span> </a>
                </div>
                <div class="watchlist-right-click-item" {{action 'cancelOrder' item.id}}>
                    <a> <span class="v-middle font-x-l watchlist-right-click-rtl"><i
                            class="icon-file-symlink-directory"></i></span><span
                            class="pad-l-l">{{app.lang.labels.cancel}}</span> <span
                            class="right font-s pad-s-t"></span></a>
                </div>
            </div>
        {{/modal-popup}}

        <div class="full-width stock-statement pos-rel">
            {{loading-indicator isLoading=isLoading}}
            {{table-component
                columns=columns
                content=arrangedContent
                rowHeight= 25
                minHeaderHeight= 25
                hasFooter=false
                rowClickAction="clickRow"
                sortAction="sort"
                sortAscending=sortAscending
                id=wkey
                numFixedColumns=numOfFixedColumns
            }}
            {{single-message-viewer showMessage=showError message=errorMessage messageCss='appttl-light-bg-fore-color' backgroundCss='h-middle'}}
        </div>
    </div>
</div>