<div class="layout-container full-width full-height">
    <div {{action 'linkAction' view.content view.rowValues}} {{bind-attr class=":layout-col-24 :panel-table :ellipsis view.styles view.styleBackground" title="view.formattedFirstValue"}}>
        <span {{bind-attr class=":text-underline :font-l view.styleFirstValue"}}>
           {{view.formattedFirstValue}}
            <br>
        </span>
    </div>
</div>
