<div style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden;"
    {{bind-attr class=":panel-table view.styles view.styleBackground"}}
    {{bind-attr cell-id="view.columnId"}}>
    <span {{bind-attr class=":font-sub view.styleFirstValue"}}>
        {{view.formattedFirstValue}}
        <br>
    </span>
</div>