<div class="full-height full-width app-border pos-abs container-back-color">
    <!--Title bar-->
    <div class="appttl-height">
        {{ outlet "titleBarOutlet"}}
    </div>

    <!--Top panel-->
    <div class="ms-top-bar">
        {{ outlet "topPanelOutlet"}}
    </div>

    {{#if isHorizontalPanel}}
        <!--Horizontal panel-->
        <div class="horizontal-panel full-height">
            {{ outlet "menuPanelOutlet"}}
        </div>
    {{/if}}

    <!--Main panel-->
    <div class="{{if isHorizontalPanel 'mid-col-horizontal-panel' 'mid-col'}} pos-rel container-back-color mgn-s-b">

        {{#unless isHorizontalPanel}}
            <!--Left panel-->
            <div class="left-panel pos-abs full-height pad-s-b">
                {{ outlet "menuPanelOutlet"}}
            </div>
        {{/unless}}

        <!--Content panel-->
        <div class="{{if isHorizontalPanel 'main-panel-h-nav' 'main-panel'}} main-panel-width full-height pos-abs" id="mainPanelOutletContainer">
            <!--Main content panel-->
            <div class="col-xs-12 full-height">
                {{ outlet "mainPanelOutlet"}}
            </div>
        </div>
    </div>

    <!--Ticker panel-->
    <div id="tickerPanel" class="ticker-panel">
        {{ outlet "tickerPanelOutlet"}}
    </div>
</div>
<div>
    <!--Other content-->
    <!--Popup container-->
    <div class="popup-container-view">
        {{view 'popup-container-view' style="height: 1px; max-height: 1px;"}}
    </div>

    <!--Modal popup-->
    <div>
        {{#modal-popup isEnabled=false  id='popupId' isRegistered=true}}
            {{ outlet "modalPopupContent"}}
        {{/modal-popup}}
    </div>

    <!--ChangePassword popup-->
    <div>
        {{password-change isEnabled=false id='changePasswordPopupId' isRegistered=true}}
    </div>

    <div>
        {{about-us-popup isEnabled=false id='aboutUsPopupID' isRegistered=true}}
    </div>

    <!--Full screen container-->
    <div id="fullScreenContainer" class="full-screen-container"></div>

    <!--Full screen widget container-->
    <div id="fullScreenWidgetContainer">
        {{ outlet "fullScreenWidgetOutlet"}}
    </div>

    <!--Message box container-->
    {{message-box id="message-box"}}
</div>
