// ---------  Search Box -------------------------------------------------------------------

.search-query {
  font-size: $font-x-large;
  box-shadow: none;
  border-radius: 0;

  @include theme((
          height: "38px",
          border: none,
          border-bottom: "1px {textbox-border-color} solid",
          background-color: app-back-color,
  ));

  @include theme-classic((
          height: "38px",
          background-image: "linear-gradient(top, {app-back-color} 0%, {app-back-color} 30%, {app-back-color} 30%, {app-back-color} 100%)"
  ));
}

.text-field {
  font-size: $font-x-large;
  border-radius: 2px;
  box-shadow: none;
  height: 38px;
  border: none;

  @include theme((
          background-color: app-back-color,
  ));

  @include theme-classic((
          background-image: "linear-gradient(top, {app-back-color} 0%, {app-back-color} 30%, {app-back-color} 30%, {app-back-color} 100%)"
  ));
}

.btn-default {
  height: 38px;
  font-size: $font-x-large;
  border-radius: 2px;

  @include theme((
          color: btn-fore-color,
          border: "1px {widget-dropdown-back-color} solid",
          background-color: widget-dropdown-back-color,
          box-shadow: none,
  ));

  @include theme-classic((
          box-shadow: none,
          background-image: "linear-gradient(0deg, {widget-dropdown-back-color} 0%, {widget-dropdown-back-color} 90%, {widget-dropdown-back-color} 100%)"

  ));
}

.dropdown-menu {
  font-size: $font-xx-large;
  border-radius: 2px;
  padding: 0;

  @include theme((
          border: "0 {widget-border-color} solid",
          box-shadow: "0px 1px 3px 1px {box-shadow-color}",
          background-color: widget-ui-control-back-color
  ));
}

ul.dropdown-menu li {
  margin: 0;
  padding: 15px 16px;
}

.dropdown-menu > li > a {
  padding: 0;
}

.dropdown-menu > li:hover, .dropdown-menu > li:focus {
  @include theme((
          background-color: widget-title-back-color
  ));

  @include theme-classic((
          background-color: textbox-back-color
  ));
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  @include theme((
          color: dark-bg-fore-color
  ));

  @include theme-classic((
          color: textbox-fore-color,
          background-color: textbox-back-color
  ));
}

// ---------  /Search Box -------------------------------------------------------------------

.nano > .nano-content {
  // margin-right: -8px !important;
  overflow: initial;
}

// Button Animation CSS

@keyframes clickeffect {
  from {
    opacity: 0.7;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(2);
  }
}

@-webkit-keyframes clickeffect {
  from {
    opacity: 0.7;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(2);
  }
}

.btn-animation {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.btn-animation:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

a.btn-animation{
  height: 37px;
  padding: 7px 0px;
}

.effect {
  margin: -100px;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  position: absolute;
  background: rgba(68, 66, 66, 0.5);
  transform: scale(0);
  pointer-events: none;
  animation: clickeffect 1s ease;
  -webkit-animation: clickeffect 1s ease;
}

// Align right dropdown

.dropdown-menu-align-right {
  right: 0;
  left: inherit;
}

// Date picker css

.date-input-field {
  height: 35px;
  width: 80px;
  text-align: center;
  border-radius: 0;

  @include theme((
          border: "0px {textbox-border-color} solid",
          border-bottom: "1px {textbox-border-color} solid",
          background-color: app-back-color
  ));

  @include theme-classic((
          background-image: "linear-gradient(top, {app-back-color} 0%, {app-back-color} 30%, {app-back-color} 30%, {app-back-color} 100%)"
  ));
}

.dropdown-solid-back-color {
  @include theme((
          background-color: "widget-ui-control-back-color !important"
  ));

  @include theme-classic((
          border: "0 {widget-ui-control-border} solid !important",
          background-image: "linear-gradient(0deg, {widget-ui-control-back-color} 0%, {widget-ui-control-back-color} 90%, {widget-ui-control-back-color} 100%) !important"
  ));
}

.form-control::-webkit-input-placeholder {
  font-style: normal;
}

.form-control:-moz-placeholder {
  font-style: normal;
}

.form-control::-moz-placeholder {
  font-style: normal;
}

.form-control:-ms-input-placeholder {
  font-style: normal;
}

::-webkit-input-placeholder {
  font-style: normal;
}

// Firefox 18-
:-moz-placeholder {
  font-style: normal;
}

// Firefox 19+
::-moz-placeholder {
  font-style: normal;
}

:-ms-input-placeholder {
  font-style: normal;
}

.filter-panel::-webkit-input-placeholder {
  font-size: $font-medium;

  @include theme ((
          color: placeholder-fore-color
  ))
}

.ember-table-table-row {
  min-width: 100%;
}

.filter-panel {
  @extend .search-query;
  border-radius: 4px;

  @include theme((
          color: app-title-fore-color,
          border: none,
          background-color: app-title-ui-control
  ));

  @include theme-classic((
          background-image: "linear-gradient(top, {app-title-ui-control} 0%, {app-title-ui-control-gradient} 100%)"
  ));
}

.search-query:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  webkit-animation: none;
  -moz-animation: none;
  animation: none;

  @include theme((
          border-bottom: "2px {textbox-border-color} solid"
  ));
}

// Text Field Animation CSS

@-webkit-keyframes inputHighlighter {
  from {
    width:0;
  }
  to {
    width:100%;
    background:transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    width:0;
  }
  to {
    width:100%;
    background:transparent;
  }
}
@keyframes inputHighlighter {
  from {
    width: 0;
  }
  to {
    width:100%;
    background:transparent; }
}

.filter-panel:focus {
  @extend .transform;
  webkit-animation: none;
  -moz-animation: none;
  animation: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;

  @include theme((
          border-bottom: none
  ));
}

input[type="text"]:disabled {
  @include theme-classic((
          background-image: none
  ));
}

input[type="number"]:disabled  {
  @include theme-classic((
          background-image: none
  ));
}

.loading-icon-wrapper-height {
  height: 40px;
}