<div class="full-height full-width">
    <div class="layout-container full-width">
        <div class="layout-col">
            <div class=" pad-s-t">
            </div>
        </div>
        <div class="layout-col-24">
            <div class="layout-container full-height" style="margin: auto;">
                <div class="layout-col">
                    <span class="font-m symbol-fore-color pad-l-r"> Distinguished Service, Outstanding Performance</span>
                </div>
                <div class="layout-col font-m">
                    <div class="layout-inline pad-l-lr pad-m-tb h-middle cursor-pointer" style="background-color: #6bbfc5; color: black; width: 85px;" {{action 'changeLanguage' toLang.lang.code}}>{{toLang.lang.desc}}</div>
                    <div class="layout-inline pad-l-lr pad-m-tb h-middle cursor-pointer" style="background-color: red; color: white; width: 85px;" {{action 'logout'}}>SIGN OUT</div>
                </div>
            </div>
        </div>
        <div class="layout-col">
            <div class="">
                <img style="height: 50px;" src="assets/img/index-main-logo.png">
            </div>
        </div>
    </div>
    <div class="layout-container full-width">
        <div class="layout-col-12">
            <div class="layout-container full-height font-m fore-color" style="margin: auto;">
                <span class="pad-m-l">Welcome</span>
                <!--<span class="pad-m-l">xxxxxxxxxx</span>-->
                <span class="pad-m-lr">Your Last Login: 2017-11-15 01:49 PM</span>
            </div>
        </div>
        <div class="layout-col-12">
            <div class="layout-container full-height" style="margin: auto;">
                <span class="font-m fore-color pad-m-lr"> This site is best view with a resolution of 1280 x 1024 pixels and above</span>
            </div>
        </div>
    </div>
</div>