<div id="topPanel-{{wkey}}">
    <div class="layout-container full-width">
        <div class="layout-col-24 pad-s-lr">
            <div class="layout-container toppanel-height full-width pad-m-t">
                <div class="layout-container full-width font-xx-l appmnu-fore-color bold">
                    <div class="layout-col mgn-s-r h-middle pad-s-tb" style="background-color: #004990;">SambaTadawul Plus</div>
                    <div class="layout-col" style="padding-left: 2px;"></div>
                    <div class="layout-col mgn-s-r h-middle pad-s-tb" style="background-color: #004990;">Fund Transfer</div>
                    <div class="layout-col" style="padding-left: 2px;"></div>
                    <div class="layout-col mgn-s-r h-middle pad-s-tb" style="background-color: #004990;">Banking Services</div>
                    <div class="layout-col" style="padding-left: 2px;"></div>
                    <div class="layout-col mgn-s-r pad-s-tb h-middle" style="background-color: #004990;">
                        <div class="display-inline-block">
                            <span class="mgn-s-l">Account Number</span>
                            <span class="mgn-s-l"><input type="text" class="form-control" id="usr" value="******1959" style="display: inline; width: 100px; height: 20px;"></span>
                            <span class="mgn-s-l"><button type="button" class="btn" style="background-color: #ef8910; padding: 1px 6px;">Default</button></span>
                        </div>
                    </div>
                    <div class="layout-col" style="padding-left: 2px;"></div>
                    <div class="layout-col h-middle pad-s-tb" style="background-color: #004990;">Refresh  >></div>
                </div>
                <div class="layout-container full-width" style="height: 15px;"></div>
                <div class="layout-container full-width appmnu-fore-color font-x-l">
                    <div class="layout-col ">
                        <div class="h-middle pad-s-lr pad-s-tb" style="background-color: #004990;">{{app.lang.labels.index}}</div>
                        <div class="h-middle pad-s-lr mgn-s-t bold fade-fore-color" style="border: 1px solid #5ea6ec; padding: 3px; border-radius: 4px; height: 22px;">
                            {{currentIndex.sDes}}
                        </div>
                    </div>

                    <div class="layout-col" style="padding-left: 4px;"></div>

                    <div class="layout-col ">
                        <div class="h-middle pad-s-lr pad-s-tb" style="background-color: #004990;">Current</div>
                        <div class="h-middle pad-s-lr mgn-s-t bold {{indexValCss}}" style="border: 1px solid #5ea6ec; padding: 3px; border-radius: 4px; height: 22px;">{{formatNumber currentIndex.ltp}}</div>
                    </div>

                    <div class="layout-col" style="padding-left: 4px;"></div>

                    <div class="layout-col ">
                        <div class="h-middle pad-s-lr pad-s-tb" style="background-color: #004990;">{{app.lang.labels.change}}</div>
                        <div class="h-middle pad-s-lr mgn-s-t  bold {{indexCss}}" style="border: 1px solid #5ea6ec; padding: 3px; border-radius: 4px; height: 22px;">{{formatNumber currentIndex.chg}}</div>
                    </div>

                    <div class="layout-col" style="padding-left: 4px;"></div>

                    <div class="layout-col ">
                        <div class="h-middle pad-s-lr pad-s-tb" style="background-color: #004990;">{{app.lang.labels.perChange}}</div>
                        <div class="h-middle pad-s-lr mgn-s-t bold {{indexPercentageCss}}" style="border: 1px solid #5ea6ec; padding: 3px; border-radius: 4px; height: 22px;">{{formatNumberPercentage currentIndex.pctChg}}</div>
                    </div>

                    <div class="layout-col" style="padding-left: 4px;"></div>

                    <div class="layout-col ">
                        <div class="h-middle pad-s-lr pad-s-tb" style="background-color: #004990;">Indicator</div>
                        <div class="h-middle pad-s-lr mgn-s-t bold {{indexValCss}}" style="border: 1px solid #5ea6ec; padding: 3px; border-radius: 4px; height: 22px;"><span class="index-Arrow">  <i {{bind-attr class="indexArrowCss :v-bottom"}}> </i> </span></div>
                    </div>

                    <div class="layout-col" style="padding-left: 4px;"></div>

                    <div class="layout-col ">
                        <div class="h-middle pad-s-lr pad-s-tb" style="background-color: #004990;">Net Balance</div>
                        <div class="h-middle pad-s-lr mgn-s-t bold fade-fore-color" style="border: 1px solid #5ea6ec; padding: 3px; border-radius: 4px; height: 22px;"> 4.05</div>
                    </div>

                    <div class="layout-col" style="padding-left: 4px;"></div>

                    <div class="layout-col ">
                        <div class="h-middle pad-s-lr pad-s-tb" style="background-color: #004990;">Block Balance</div>
                        <div class="h-middle pad-s-lr mgn-s-t bold fade-fore-color" style="border: 1px solid #5ea6ec; padding: 3px; border-radius: 4px; height: 22px;">0</div>
                    </div>

                    <div class="layout-col" style="padding-left: 4px;"></div>

                    <div class="layout-col ">
                        <div class="h-middle pad-s-lr pad-s-tb" style="background-color: #004990;">Available Funds</div>
                        <div class="h-middle pad-s-lr mgn-s-t bold fade-fore-color" style="border: 1px solid #5ea6ec; padding: 3px; border-radius: 4px; height: 22px;">4.05</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>