.menu-panel-item:hover, .sub-menu-item:hover {
  cursor: pointer;

  @include theme((
          background-color: widget-title-tab-hover-color,
          color: widget-title-selected-tab-fore-color
  ));
}

.menu-panel-sub-menu {
  width: 125px;
  background-color: #6C9BBD;

  @include theme((
          border-bottom: "1px {widget-border-color} solid",
          background-image: "linear-gradient(0deg, {app-title-back-color} 0%, {app-title-back-color-gradient} 100%)",
          box-shadow: "1px 1.732px 11px 0px {popup-box-shadow-color}",
          color: base-fore-color-app-title
  ));
}

.sub-menu-item {
  padding: 8px 19px 8px 19px;
  font-size: 10px;
  cursor: pointer;
}

.symbol-index-col-back-color {
  background-color: #3d6987;
}

.menu-up-back-color {
  background-color: #2ecc71;
}

.menu-down-back-color {
  background-color:	#ff6766;
}

.symbol-index-item {
  height: $appttl-bar-height;
}

.symbol-index-item-txt-key {
  opacity: .9;
}

.symbol-index-item-txt-val {
  opacity: .8;
}