<!DOCTYPE html>
<html manifest="universal-app.appcache">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title id="appName"></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{content-for 'head'}}
        <link rel="shortcut icon" type="image/png" href="assets/img/favcon.png"/>
        <link rel="stylesheet" href="assets/vendor.css">
        <link rel="stylesheet" href="assets/universal-app.css">
        <!-- Custom styles for common content -->
        <link href="assets/css/chart.css" rel="stylesheet">
        <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet">
        <!--<link href="assets/css/ember-widgets.css" rel="stylesheet">-->
        <link href="assets/css/stx-chart.css" rel="stylesheet">
        <link href="assets/css/stx-print.css" rel="stylesheet" media="print">
        <!--<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>-->
        <link href='https://fonts.googleapis.com/css?family=Arimo:400,700' rel='stylesheet' type='text/css'>
        <!--    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>-->

        <style id="jsbin-css">
            @font-face {
                font-weight: normal;
                font-style: normal;
            }

            body {
                font-family: 'Arimo';
                background-color: #000000;
            }

            .login {
                background-color: transparent;
                color: #fff;
                font-size: 12px;
            }

            .netplus .login {
                background-color: transparent;
                color: #444444;
                font-size: 12px;
            }

            .login-input {
                color: #EAEAEA;
                background-color: #25416F;
                font-size: 14px;
                font-weight: bold;
                line-height: 1.75;
                padding: 5px;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
                box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.075);
                -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
                -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                border: none;
                border-bottom: 1px solid rgba(79, 108, 132, 0.67);
            }

            .login-input-info {
                padding-left: 35px;
            }

            .ar .login-input-info {
                padding-right: 40px;
            }

            .netplus .login-input {
                color: #3A3A3A;
                background-color: #d6dff3;
                border: 1px #989B9E solid;
                font-size: 14px;
                line-height: 2.125;
                padding: 5px;
                padding-left: 35px;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
            }

            .login-input[type="text"] {
                background: url('assets/img/username-input-box.png') no-repeat 10px 12px;
                background-color: #25416F;
            }

            .ar .login-input[type="text"] {
                background-position-x: 270px;
            }

            .login-input[type="password"] {
                background: url('assets/img/password-input-box.png') no-repeat 10px 12px;
                background-color: #25416F;
            }

            .ar .login-input[type="password"] {
                background-position-x: 270px;
            }

            .login-btn {
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
                color: #15385A;
                font-size: 14px;
                font-weight: bold;
                padding: 8px 55px 8px 55px;
                border-top: 1px #FFDD56 solid;
                border-bottom: 1px #857021 solid;
                border-right: 1px #F7CA18 solid;
                border-left: 1px #F7CA18 solid;
                text-decoration: none;
                float: right;
                margin: 0 0 0 0;
                cursor: pointer;
                background-image: -moz-linear-gradient(90deg, #C8A414 0%, #FFD222 90%, #F6CC29 100%);
                background-image: -webkit-linear-gradient(90deg, #C8A414 0%, #FFD222 90%, #F6CC29 100%);
                background-image: -ms-linear-gradient(90deg, #C8A414 0%, #FFD222 90%, #F6CC29 100%);
                -webkit-box-shadow: 0px 4px 5px -3px rgba(0, 0, 0, 0.7);
                -moz-box-shadow: 0px 4px 5px -3px rgba(0, 0, 0, 0.7);
                box-shadow: 0px 4px 5px -3px rgba(0, 0, 0, 0.7);
            }

            .netplus .login-btn {
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
                color: #245460;
                font-size: 13px;
                padding: 8px 40px 8px 42px;
                border: solid #C7C7C7 1px;
                text-decoration: none;
                background-color: #EFEDED;
                float: right;
                margin: 0 4px 0 0;
                cursor: pointer;
            }

            .login-btn:hover {
                background-image: -moz-linear-gradient(90deg, #C8A414 0%, #FFD222 90%, #F6CC29 100%);
                background-image: -webkit-linear-gradient(90deg, #C8A414 0%, #FFD222 90%, #F6CC29 100%);
                background-image: -ms-linear-gradient(90deg, #C8A414 0%, #FFD222 90%, #F6CC29 100%);
                border-top: 1px #FFDD56 solid;
                border-bottom: 1px #857021 solid;
                border-right: 1px #F7CA18 solid;
                border-left: 1px #F7CA18 solid;
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                transition: all 0.5s ease;
            }

            .netplus .login-btn:hover {
                background: #FFFFFF;
            }

            .login-link {
                text-decoration: none;
                font-size: 12px;
                color: rgb(66, 77, 92);
                line-height: 1.5;
                text-align: left;
            }

            label {
                color: #ffffff;
                font-weight: normal;
                line-height: 1.5;
                margin-bottom: 0;
            }

            .label-align input[type="checkbox"] {
                margin-top: 2px;
            }

            .label-align input[type="radio"] {
                margin-top: -2px;
            }

            .label-align .txt {
                margin: 0 10px 5px 2px;
            }

            .netplus .txt {
                color: #424d5c;
            }

            .txt {
                color: #fefefe;
            }

            .link {
                color: #71ADBD;
            }

            .remember {
                font-size: 12px;
                line-height: 1.5;
                text-align: left;
                float: left;
                padding-left: 5px;
            }

            .login-footer {
                position: absolute;
                bottom: 30px;
                text-align: center;
                width: 99%;
                font-size: 9px;
                color: #424d5c;
            }

            .login-error-msg {
                background-color: #e15848;
                min-height: 24px;
                max-height: 150px;
                font-size: 12px;
                color: rgb(255, 255, 255);
                line-height: 1.5;
                text-align: left;
                width: 300px;
                display: none;
                padding-left: 30px;
            }

            .login-error-msg-background {
                background-image: url('assets/img/error-msg-background.png');
                background-repeat: no-repeat;
                background-position: 7px 2px;
            }

            .top-panel {
                width: 100%;
                overflow: hidden;
            }

            .logo-new {
                margin: 0 auto;
                width: 196px;
                min-height: 70px;
            }

            .circle {
                width: 150px;
                height: 150px;
                background-color: #6AB6CA;
                position: relative;
                border-radius: 500px;
                -webkit-border-radius: 500px;
            }

            .circle-2 {
                width: 150px;
                height: 150px;
                background-color: #403F3F;
                position: relative;
                border-radius: 500px;
                -webkit-border-radius: 500px;
            }

            .seperator {
                border-left: 1px #2C3844 solid;
            }

            .netplus .seperator {
                border-left: 1px #8A8787 solid;
            }

            .overlay-body {
                width: 100%;
                height: 100vh;
                background: #092756;
                background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(109, 151, 198, 0) 40%), linear-gradient(to bottom, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), linear-gradient(135deg, #255D8E 0%, #35194c 100%);
                background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(109, 151, 198, 0) 40%), linear-gradient(to bottom, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), linear-gradient(135deg, #255D8E 0%, #35194c 100%);
                background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(109, 151, 198, 0) 40%), linear-gradient(to bottom, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), linear-gradient(135deg, #255D8E 0%, #35194c 100%);
                background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(109, 151, 198, 0) 40%), linear-gradient(to bottom, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), linear-gradient(135deg, #255D8E 0%, #35194c 100%);
                background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(109, 151, 198, 0) 40%), linear-gradient(to bottom, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), linear-gradient(135deg, #255D8E 0%, #35194c 100%);
            }

            .login-animation-username {
                animation-name: animateLoginUsername;
                animation-duration: .5s;
                animation-timing-function: ease-out;
            }

            .login-animation-password {
                animation-name: animateLoginPassword;
                animation-duration: .5s;
                animation-timing-function: ease-out;
            }

            .login-animation-button {
                animation-name: animateLoginButton;
                animation-duration: .5s;
                animation-timing-function: ease-out;
            }

            @keyframes animateLoginUsername {
                from {
                    -webkit-transform: translate3d(0, -200%, 0);
                    transform: translate3d(0, -200%, 0);
                    visibility: visible;
                    opacity: 0;
                }
                25% {
                    opacity: 0.25;
                }
                50% {
                    opacity: 0.40;
                }
                to {
                    -webkit-transform: translate3d(0, 0, 0);
                    transform: translate3d(0, 0, 0);
                    opacity: 1;
                }
            }

            @keyframes animateLoginPassword {
                from {
                    -webkit-transform: translate3d(0, -200%, 0);
                    transform: translate3d(0, -200%, 0);
                    visibility: visible;
                    opacity: 0;
                }
                20% {
                    opacity: 0;
                }
                to {
                    -webkit-transform: translate3d(0, 0, 0);
                    transform: translate3d(0, 0, 0);
                    opacity: 1;
                }
            }

            @keyframes animateLoginButton {
                from {
                    -webkit-transform: translate3d(0, 200%, 0);
                    transform: translate3d(0, 200%, 0);
                    opacity: 0;
                }
                to {
                    -webkit-transform: translate3d(0, 0, 0);
                    transform: translate3d(0, 0, 0);
                    opacity: 1;
                }
            }

            .lang-selection {
                width: 136px;
                margin: 0 auto;
            }

            .lang-selection-radio {
                margin: auto;
                width: 103px;
                text-align: left;
            }

            .ar .lang-selection-radio {
                margin: auto;
                width: 103px;
                text-align: right;
            }

            .check-box {
                float: left;
            }

            .ar .check-box {
                float: right;
            }

            .link-color {
                color: white;
            }

            .theme-section {
                margin: 0 auto;
                width: 406px;
            }

            .theme-text {
                margin-top: 15px;
                font-size: 16px;
                padding: 10px;
                color: #528D9B;
                font-weight: bold;
            }

            .login-lang-section {
                float: right;
                margin-top: 2%;
                margin-right: 20px;
            }

            .login-text-boxes {
                width: 300px;
                min-height: 42px;
            }

            .link-padding {
                padding-top: 5px;
                padding-bottom: 5px;
            }

            .login-section {
                height: 233px;
                width: 300px;
                margin: auto;
            }

            .footer-logo {
                margin: 0 auto;
            }

            .copy-right-text {
                color: #4E7182;
                font-size: 11px;
            }

            .best-view-text {
                color: #4E7182;
                font-size: 11px;
                line-height: 20px
            }

            .overflow-hidden {
                overflow: hidden;
            }

            .overflow-auto {
                overflow: auto;
            }

            .h-middle {
                text-align: center;
            }

            .diplay-none {
                display: none;
            }

            .mgn-t-l {
                margin-top: 40px;
            }

            .mgn-t-m {
                margin-top: 20px;
            }

            .mgn-b-m {
                margin-bottom: 20px;
            }

            .mgn-t-s {
                margin-top: 10px;
            }

            .mgn-t-xs {
                margin-top: 5px;
            }

            .mgn-r-s {
                margin-top: 5px;
            }

            .float-left {
                float: left;
            }

            .float-right {
                float: right;
            }

            .float-none {
                float: none;
            }

            .full-width {
                width: 100%;
            }

            .visibility-hidden {
                visibility: hidden;
            }

            .display-inline-box {
                display: inline-block;
            }

            .logo-footer img {
                width: 150px;
                height: 17px;
            }

            .error-msg-background {
                background-color: #e15848;
            }

            .info-msg-background {
                background-color: #3875b8;
            }

            .cursor-pointer {
                cursor: pointer
            }

            .underline:hover {
                text-decoration: underline;
                color: #0000FF;
            }
        </style>
        {{content-for 'head-footer'}}
    </head>

    <body class="overflow-hidden" oncontextmenu="return false;">
        <div class="login">
            <div class="overlay-body diplay-none" id="divLang">
                <div class="top-panel">
                    <div class="logo-new mgn-t-l"><img class="full-width" src="assets/img/index-main-logo.png"></div>
                </div>

                <div id="divPreferredLanguage" class="txt mgn-t-l h-middle"></div>

                <div class="mgn-t-l">
                    <div class="lang-selection">
                        <div class="lang-selection-radio">
                            <label class="label-align">
                                <input type="radio" name="lang" value="EN">
                                <img src="assets/img/primary-lang-logo.png"/>
                                <span class="txt"> English </span>
                            </label>

                            <br>

                            <label class="label-align mgn-t-m">
                                <input type="radio" name="lang" value="AR">
                                <img src="assets/img/secondary-lang-logo.png"/>
                                <span class="txt"> &#1593;&#1585;&#1576;&#1610; </span>
                            </label>
                        </div>

                        <br>

                        <button id="btnLang" type="button" class="login-btn mgn-t-m"></button>
                    </div>
                </div>
            </div>

            <div class="overlay-body h-middle diplay-none" id="divTheme" >
                <div class="top-panel">
                    <div class="logo-new mgn-t-l"><img class="full-width" src="assets/img/index-main-logo.png"></div>
                </div>

                <div id="divPreferredTheme" class="txt mgn-t-l"></div>

                <div class="theme-section mgn-t-m">
                    <div class="float-left">
                        <br>
                        <div class="circle"></div>
                        <div class="nam theme-text">
                            <span>LIGHT THEME</span>
                        </div>
                        <input type="radio" name="color" value="theme2" class="mgn-t-s">
                        <!--Riyad-->
                    </div>

                    <div class="float-right">
                        <br>
                        <div class="circle-2"></div>
                        <div class="nam theme-text">
                            <span>DARK THEME</span>
                        </div>
                        <input type="radio" name="color" value="theme1" class="mgn-t-s">
                        <!--Dark-->
                    </div>

                    <br>

                    <button id="btnTheme" type="button" class="login-btn float-none mgn-t-l"></button>
                </div>
            </div>

            <div class="overlay-body diplay-none" id="divLogin">
                <div class="full-width display-inline-box">
                    <div id="divLoginLang" class="login-lang-section" authType="retail">
                        <label class="label-align mgn-r-s">
                            <input type="radio" name="loginLang" value="EN">
                            <img src="assets/img/primary-lang-logo.png"/>
                            <span class="txt"> English </span>
                        </label>

                        <label class="label-align">
                            <input type="radio" name="loginLang" value="AR">
                            <img src="assets/img/secondary-lang-logo.png"/>
                            <span class="txt"> &#1593;&#1585;&#1576;&#1610; </span>
                        </label>
                        <br>
                    </div>
                </div>

                <div class="top-panel mgn-t-l">
                    <div class="logo-new"><img class="full-width" src="assets/img/index-main-logo.png"></div>
                </div>

                <div class="full-width">
                    <div class="login-section">
                        <input class="login-input login-input-info login-animation-username mgn-t-l float-left login-text-boxes" type="text" id="txtUsername" name="username" placeholder="" authType="retail">

                        <br>

                        <input class="login-input  login-input-info login-animation-password mgn-t-m login-text-boxes mgn-b-m" type="password" id="txtPassword" name="password" placeholder="" authType="retail">

                        <!-- login error massage   -- START -- -->
                        <div class="login-error-msg login-error-msg-background login-animation-message overflow-auto" id="loginMsg"></div>
                        <!-- login error massage   -- END -- -->

                        <!-- virtual keyboard   -- START -- -->
                        <div class="login-animation-button overflow-auto link-padding" id="virtualKeyboard">
                            <label class="label-align left mgn-t-xs">
                                <input id="checkboxKeyboard" type="checkbox" name="virtualKeyboard" class="check-box">
                                <span id="spanVirtualKeyboard" class="remember txt"></span>
                            </label>
                        </div>
                        <!-- virtual keyboard   -- END -- -->

                        <div class="login-animation-button overflow-auto link-padding" id="termsAndConditions">
                            <span class="label-align left mgn-t-xs">
                                <input id="chkTermsAndConditions" type="checkbox" name="termsAndConditions" class="check-box">
                                <span id="spanTermsAndConditions" class="remember txt cursor-pointer underline"></span>
                            </span>
                        </div>

                        <div authType="retail" class="login-animation-button overflow-auto link-padding mgn-t-s" id="loginButton">
                            <label class="label-align left mgn-t-xs">
                                <input id="chkRemember" type="checkbox" name="remember" value="remember" class="check-box">
                                <span id="spanRemember" class="remember txt"></span>
                            </label>

                            <span class="right">
                                <button type="button" id="btnLogin" class="login-btn right"></button>
                            </span>
                        </div>

                        <!-- Registration & Forgot Password   -- START -- -->
                        <div id="registerDiv" class="login-animation-button overflow-auto link-padding">
                            <span id="register">
                                <label class="label-align left mgn-t-xs">
                                    <a id="registerLink" class="remember link-color" ></a>
                                </label>
                            </span>

                            <span id="forgotPwd">
                                <label class="label-align right mgn-t-xs">
                                    <a id="lnkForgotPwd" class="remember link-color"></a>
                                </label>
                            </span>
                        </div>
                        <!-- Registration & Forgot Password   -- END -- -->

                        <!-- online Account Opening   -- START -- -->
                        <div class="login-animation-button overflow-auto link-padding" id="onlineAcc">
                            <label class="label-align left mgn-t-s">
                                <a id="lnkOnlineAcc" class="remember link-color"></a>
                            </label>
                        </div>
                        <!-- online Account Opening   -- END -- -->

                        <div class="login-animation-button overflow-auto link-padding" id="help">
                            <label class="label-align left mgn-t-s">
                                <a id="lnkHelp" class="remember link-color"></a>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="login-footer">
                <div class="footer-logo" id="poweredByText">
                    <div class="logo-footer mgn-t-m mgn-b-m">
                        <img src="assets/img/index-footer-logo.png"/>
                    </div>
                </div>
                <span class="copy-right-text" id="spanCopyright"></span>
                <br>
                <span class=" best-view-text" id="spanBestView"></span>
            </div>
        </div>

        <div class="visibility-hidden" id="ember-app-root">
          {{content-for 'body'}}

          <script src="assets/vendor.js" defer></script>
          <script src="assets/universal-app.js" defer></script>

          {{content-for 'body-footer'}}
        </div>
    </body>
</html>
