<table class="w-full border-b" cellspacing="0" cellpadding="0" border="0">
    <tr>
        <td>
            <div class="mgn-m-l ms-top-bar-index-dropdown">
                {{bootstrap-dropdown-select
                options=indexCollectionArray
                defaultSelect=defaultIndexForDropdown
                valueKey='dSym'
                labelKey='sDes'
                selectedLabelKey='dSym'
                value=currentIndex.dSym
                selectAction='setIndexData'
                buttonClass='bold ltr'
                wkey=wkey}}
            </div>

            {{#unless isTablet}}
                <div class="ms-top-bar-chart ltr" id="mainIndexChart"  {{action 'popUpChartOptionWidget'}}><span id="chart" class="ms-top-bar-index-chart-position"></span></div>
            {{/unless}}
        </td>
        {{#if isTablet}}
            <td>
                <div class="ms-top-bar-chart ltr" id="mainIndexChart" style="margin-left: 50px;">
                    <span id="chart" class="ms-top-bar-index-chart-position"></span>
                </div>
            </td>
        {{/if}}
        <td>

            <div class="ms-top-bar-index-value" style="margin-bottom:{{if isTablet '35px' '7px'}}">

                <div class="ltr {{if isTablet 'pad-s-t' 'pad-l-r'}}">
                    <div {{bind-attr class="indexValCss"}}>
                        <span class="index-Arrow">  <i {{bind-attr class="indexArrowCss :v-bottom"}}> </i> </span>
                        <span class="index-Value hint--bottom-left hint--bounce hint--rounded" data-hint="{{app.lang.labels.indexValue}}"> {{formatNumber currentIndex.ltp}}</span>
                    </div>
                </div>

                <div class="ltr {{if isTablet '' 'pad-l-r'}}" style="padding-top:{{if isTablet '5px' '15px'}}">
                    <div {{bind-attr class=":layout-col indexCss"}}>
                        <span {{bind-attr class="indexBackgroundCss :hint--bottom-left :hint--bounce :hint--rounded"}} data-hint="{{app.lang.labels.change}}"> {{formatNumber currentIndex.chg}}</span>
                    <span {{bind-attr class="indexPercentageCss"}}>
                    <span class="ms-top-bar-index-percentage pad-s-l hint--bottom-left hint--bounce hint--rounded" data-hint="{{app.lang.labels.perChange}}">{{indexChangeSign}}{{formatNumberPercentage currentIndex.pctChg}}</span>
                    </span>

                    </div>
                </div>

            </div>
        </td>
    </tr>
</table>