<div class="tickerDiv">
    <div class="ticker {{if isHorizontalTickerAnimation 'tickerTwo-horizontal ticker-animation-horizontal' 'ticker-animation tickerTwo'}} transform {{if isTickerRunning 'anim-play' 'anim-paused'}}" id="tickerTwo">
        {{#each item in tickerTwoItems}}
            <div class="item left" style={{{settings.itemWidthStyle}}} {{action 'openPopup' item}}>
                <span> {{item.des}} </span>
                <i class="{{item.iconClass}}"></i>
                <div class="layout-inline fore-color ltr"> {{item.chg}} </div>
            </div>
        {{/each}}
    </div>

    <div class="ticker {{if isHorizontalTickerAnimation 'ticker-animation-horizontal' 'ticker-animation'}}  transform {{if isTickerRunning 'anim-play' 'anim-paused'}}" id="tickerOne">
        {{#each item in tickerOneItems}}
            <div class="item left" style={{{settings.itemWidthStyle}}} {{action 'openPopup' item}}>
                <span> {{item.des}} </span>
                <i class="{{item.iconClass}}"></i>
                <div class="layout-inline fore-color ltr"> {{item.chg}} </div>
            </div>
        {{/each}}
    </div>
</div>