<div id="topPanel-{{wkey}}">
    <table class="w-full border-b" cellspacing="0" cellpadding="0" border="0">
        <tr>
            <td class="ms-top-bar-logo-left">
            <td>
                <div class="ms-top-bar-logo-co">
                    <div class="top-panel-logo theme-logo-properties"></div>
                </div>
                <div class="ms-top-bar-logo">
                    <img src="assets/img/logo.png"/>
                </div>
            <td>
                <div class="ms-top-bar-vertical-separator ms-top-bar-vline-long"></div>
            </td>
            </td>
            <td>
                <div class="ms-top-bar-vertical-separator ms-top-bar-vline-long"></div>
            </td>
            </td>
            <td class="{{if isTablet 'v-top'}}">
                <div class="{{if isTablet 'layout-container toppanel-height ms-top-bar-exchange-width' 'ms-top-bar-exchange pad-s-t'}}">
                    <div class="{{if isTablet 'layout-col pad-m-l pad-s-t v-top'}}">
                        <div style="height:21px">
                            {{#if disableMoreMarkets}}
                                <button class="btn btn-dropdown btn-default bold ltr" type="button" id="appDropdown" data-toggle="dropdown">{{exchange.de}}</button>
                            {{else}}
                                {{bootstrap-dropdown-select
                                options=exchanges
                                valueKey='code'
                                labelKey='desc'
                                selectedLabelKey='de'
                                defaultSelect=selectedExg
                                selectAction='setExchange'
                                buttonClass='bold'
                                wkey=wkey
                                }}
                            {{/if}}
                        </div>
                    </div>

                    <div class="{{if isTablet 'layout-col full-height v-top'}}">
                        {{#if isTablet}}
                            <div class="font-l h-middle" style="height: 29px; padding-top: 8px; width:70px;">
                                <div {{bind-attr class="marketStatusCSS"}} >
                                    <div class="pos-abs" style="z-index: 1; width:70px;">{{exchange.statStr}}</div>
                                    <div id="marketSummaryExchangeStatusContainer" class="pos-abs" style="z-index: 3; width:70px;">{{exchange.statStr}}</div>
                                </div>
                            </div>
                        {{else}}
                            <div style="width:100%; height:22px" class="font-l pad-s-all ms-top-bar-alert-style">
                                <div style="position: relative" {{bind-attr class="marketStatusCSS"}} >
                                    <div style="position:absolute; z-index: 1; width:100%;">{{exchange.statStr}}</div>
                                    <div id="marketSummaryExchangeStatusContainer" style="position:absolute;z-index: 3; width:100%;">{{exchange.statStr}}</div>
                                </div>
                            </div>
                        {{/if}}

                        {{#if showTime}}
                            <div class="font-l fade-fore-color ms-top-bar-showTime"><span class="pad-s-l"> {{showTimeText}}</span>
                            </div>
                        {{else}}
                            <div class="font-m fade-fore-color ms-top-bar-showTime"><span>{{marketTime}} </span></div>
                        {{/if}}

                        {{#unless isTablet}}
                            <div class="ms-top-bar-progress-time" style="width: auto">
                                <div {{bind-attr class="progressStyle"}} role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style={{{bar}}}></div>
                            </div>
                        {{/unless}}
                    </div>

                </div>
            </td>
            <td>
                <div class="ms-top-bar-vertical-separator ms-top-bar-vline-long"></div>
            </td>
            <td>
                <div class="ms-top-bar-vertical-separator ms-top-bar-vline-long"></div>
            </td>

            <td>{{main-index-chart dataStatus=dataStatus exchange=exchange id="price-top-panel-main-index-chart" app=app}}</td>

            <td>
                <div class="ms-top-bar-vertical-separator ms-top-bar-vline-short"></div>
            </td>
            <td>
                <div class="ms-top-bar-vertical-separator ms-top-bar-vline-short"></div>
            </td>

            <td style="width:100%" class="{{if isTablet 'v-top'}}">
                <div class="ms-top-bar-ticker-area" style="width:100%">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        {{#unless isTablet}}
                            <tr>
                                <td>{{price-ticker dataStatus=dataStatus exchange=exchange id="price-top-panel-price-ticker"}}</td>
                            </tr>
                        {{/unless}}
                        <tr>
                            <td>
                                <div class="left" style="width:100%">
                                    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="ms-top-bar-nav-horizontal-list mgn-s-t">
                                        <tr>
                                            <td></td>
                                            <td>
                                                <div class="layout-row">
                                                    <div data-id="topPanel-left" class="layout-col-12"></div>
                                                    <div data-id="topPanel-left" class="layout-col mgn-s-t mgn-s-lr pos-rel">
                                                        <div class="layout-row">
                                                            {{#if (onResponsive responsive.trigger responsive "topPanel-left" 4)}}
                                                                <div data-id="topPanel-volume" class="layout-col {{if isTablet '' 'pad-m-r'}}">
                                                                    <div class="font-l bold prominent-fore-color pad-s-b">{{divideNumber exchange.vol 1}}</div>
                                                                    <div class="font-m fade-fore-color toppanel-back">{{app.lang.labels.volume}}</div>
                                                                </div>
                                                            {{else}}
                                                                <div data-id="topPanel-volume" class="layout-col {{if isTablet '' 'pad-m-r'}}">
                                                                    <div class="font-l bold prominent-fore-color pad-s-b">{{formatNumber exchange.vol 0}}</div>
                                                                    <div class="font-m fade-fore-color toppanel-back">{{app.lang.labels.volume}}</div>
                                                                </div>
                                                            {{/if}}

                                                            {{#if (onResponsive responsive.trigger responsive "topPanel-left" 5)}}
                                                                <div data-id="topPanel-turnover" class="layout-col ms-top-bar-padding-x-large-left">
                                                                    <div class="font-l bold prominent-fore-color  pad-s-b">{{divideNumber exchange.tovr 1}}</div>
                                                                    <div class="font-m fade-fore-color toppanel-back">{{app.lang.labels.turnover}}</div>
                                                                </div>
                                                            {{else}}
                                                                <div data-id="topPanel-turnover" class="layout-col ms-top-bar-padding-x-large-left">
                                                                    <div class="font-l bold prominent-fore-color pad-s-b">{{formatNumber exchange.tovr 0}}</div>
                                                                    <div class="font-m fade-fore-color toppanel-back">{{app.lang.labels.turnover}}</div>
                                                                </div>
                                                            {{/if}}

                                                            <div class="layout-col ms-top-bar-padding-x-large-left">
                                                                <div class="font-l bold prominent-fore-color pad-s-b">{{formatNumber exchange.trades 0}}</div>
                                                                <div class="font-m fade-fore-color toppanel-back">{{app.lang.labels.trades}}</div>
                                                            </div>

                                                            {{#if (onResponsive responsive.trigger responsive "topPanel-left" 2)}}
                                                                <!--Hide element-->
                                                            {{else}}
                                                                <div data-id="topPanel-ytd" class="ms-top-bar-padding-x-large-left">
                                                                    <div class="font-l bold up-fore-color pad-s-b ltr">
                                                                        <span {{bind-attr class="ytdCss"}}>{{formatNumberPercentage index.pctYtd}}</span>
                                                                    </div>
                                                                    <div class="font-m fade-fore-color toppanel-back">{{app.lang.labels.ytd}}</div>
                                                                </div>
                                                            {{/if}}
                                                        </div>
                                                    </div>
                                                    <div class="layout-col-12"></div>
                                                </div>
                                            </td>
                                            <td></td>
                                            <td class="ms-top-bar-border"></td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <div class="layout-row">
                                                    <div class="layout-col-12"></div>
                                                    <div class="layout-col  mgn-s-t mgn-s-l mgn-s-r" style="display: table; position: relative;">
                                                        <div class="layout-row">
                                                            {{#if (onResponsive responsive.trigger responsive "topPanel-left" 6)}}
                                                                <!--Hide element-->
                                                            {{else}}
                                                                {{#unless isTablet}}
                                                                    <div data-id="topPanel-symbol"
                                                                         class="layout-col mgn-l-r">
                                                                        <div class="font-l bold h-left prominent-fore-color pad-s-b">{{formatNumber exchange.symt 0}}</div>
                                                                        <div class="font-m h-left fade-fore-color">{{app.lang.labels.symTraded}}</div>
                                                                    </div>
                                                                {{/unless}}
                                                            {{/if}}

                                                            {{#if (onResponsive responsive.trigger responsive "topPanel-left" 3)}}
                                                                <!--Hide element-->
                                                            {{else}}
                                                                {{#unless isTablet}}
                                                                    <div data-id="topPanel-chartIcon" class="layout-col">
                                                                        <div class="pad-s-b {{if isTablet 'ms-top-bar-chartIcon' 'ms-top-bar-padding-x-large-left mgn-m-l'}} mgn-m-t">
                                                                            {{#each barItem in upsDownsNoChgValueArray}}
                                                                                <div class="progress-market ms-top-bar-progress-vertical ms-top-bar-vertical-top">
                                                                                    <div {{bind-attr class="barItem.barClass"}} role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style={{{barItem.barWidth}}}></div>
                                                                                </div>
                                                                            {{/each}}
                                                                        </div>
                                                                    </div>
                                                                {{/unless}}
                                                            {{/if}}

                                                            <div data-id="topPanel-ups" class="layout-col {{if isTablet '' 'pad-m-l'}}">
                                                                <div class="font-l bold h-left up-fore-color pad-s-b">{{formatNumber exchange.ups 0}}</div>
                                                                <div class="font-m h-left fade-fore-color">{{app.lang.labels.ups}}</div>
                                                            </div>
                                                            <div data-id="topPanel-down" class="layout-col ms-top-bar-padding-x-large-left">
                                                                <div class="font-l bold h-left down-fore-color pad-s-b">{{formatNumber exchange.dwns 0}}</div>
                                                                <div class="font-m h-left fade-fore-color">{{app.lang.labels.down}}</div>
                                                            </div>
                                                            <div data-id="topPanel-unchanged" class="layout-col ms-top-bar-padding-x-large-left">
                                                                <div class="font-l bold h-left highlight-fore-color pad-s-b">{{formatNumber exchange.nChg 0}}</div>
                                                                <div class="font-m h-left fade-fore-color">{{app.lang.labels.unchanged}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="layout-col-12"></div>
                                                </div>
                                            </td>
                                            <td></td>
                                        </tr>

                                    </table>
                                </div>

                            </td>
                        </tr>
                    </table>

                </div>
            </td>
            <td>
                <div class="ms-top-bar-vertical-separator ms-top-bar-vline-short"></div>
            </td>
            <td>
                <div class="ms-top-bar-vertical-separator ms-top-bar-vline-short"></div>
            </td>

            <td data-id="topPanel-cashmaps" class="{{if isTablet 'v-top'}}">
                <div class="cash-map-min-width full-height" style="{{cashMapStyle}}">
                    {{#if isRender}}
                        {{cash-maps
                        dataStatus=dataStatus
                        app=app
                        exchange=exchange
                        id="price-top-panel-cash-maps"}}
                    {{/if}}
                </div>
            </td>
            {{#unless isTablet}}
                <td class="ms-top-bar-logo-right">
                    {{#if (onResponsive responsive.trigger responsive "topPanel-left" 1)}}
                        <!--Hide element-->
                    {{else}}
                        <td>
                            <div class="ms-top-bar-vertical-separator ms-top-bar-vline-long"></div>
                        </td>
                    {{/if}}
                <td>
                    <div class="ms-top-bar-logo-co pad-m-l right">
                        <div class="top-panel-logo theme-logo-properties"></div>
                    </div>
                    <div class="ms-top-bar-logo right">
                        <img src="assets/img/logo.png"/>
                    </div>
                </td>
                </td>
            {{/unless}}
        </tr>
    </table>
    <!--/.nav-collapse -->

    <div class="clr-both"></div>
</div>