<div class="nano full-width full-height">
    <div class="full-height nano-content">
        <!--Portrait Order Ticket-->
        <div class="ria-trade-col-2 full-height display-inline-block">
            <div class="col-xs-12 widget-outlet ria-trade-row-2">
                {{outlet "w3"}}
            </div>
            <div class="col-xs-12 widget-outlet ria-trade-row-1">
                {{outlet "w1"}}
            </div>
        </div>
        <div class="ria-trade-col-1 full-height display-inline-block">
            <div class="col-xs-12 widget-outlet ria-trade-row-5">
                {{outlet "w4"}}
            </div>
            <div class="col-xs-12 widget-outlet ria-trade-row-3">
                {{outlet "w2"}}
            </div>
            <div class="col-xs-12 widget-outlet ria-trade-row-4">
                {{outlet "w5"}}
            </div>
        </div>
    </div>
</div>
