<div id="tradeOrderTab" class="full-width full-height">
    <div class="col-xs-6 full-height">
        <div class="col-xs-12 widget-outlet trade-row-4 {{responsive-height-one}}">
            {{outlet "w2"}}
        </div>
        <div class="col-xs-12 {{responsive-height-two}}">
            <div class="col-xs-6 widget-outlet">
                {{outlet "w4"}}
            </div>
            <div class="col-xs-6 widget-outlet">
                {{outlet "w5"}}
            </div>
        </div>
    </div>
    <div class="col-xs-6 full-height">
        <div class="col-xs-12 widget-outlet trade-row-1">
            {{outlet "w1"}}
        </div>
        <div  data-id="orderList-full" class="col-xs-12 widget-outlet {{responsive-height-three}}">
            {{outlet "w3"}}
        </div>
    </div>
</div>