// Login styles go here
// These styles wll over-write the styles used in index.html

.login-back {
  background-image: -webkit-linear-gradient(90deg, #149bb6 0%, #149bb6 90%, #149bb6 100%) !important;
  background-image: -moz-linear-gradient(90deg, #149bb6 0%, #149bb6 90%, #149bb6 100%) !important;
  background-image: -ms-linear-gradient(90deg, #149bb6 0%, #149bb6 90%, #149bb6 100%) !important;
  background-image: linear-gradient(90deg, #149bb6 0%, #149bb6 90%, #149bb6 100%) !important;
}

.login-input[type="text"] {
  background-color: #06788e !important;
}

.login-input[type="password"] {
  background-color: #06788e !important;
}

.login-input {
  border-bottom: 1px #06788e solid !important;
}

.copy-right-css {
  color:#b6c4d7 !important;
}

.txt {
  color:#b6c4d7 !important;
}

.login-input::-webkit-input-placeholder {
  color: #AFB5BD !important;
}

.login-input:-moz-placeholder {
  color: #AFB5BD !important;
}

.login-input::-moz-placeholder {
  color: #AFB5BD !important;
}

.login-input:-ms-input-placeholder {
  color: #AFB5BD !important;
}