<div class="col-lg-12 quote-row-1">
    <div class="col-xs-12 widget-outlet">
        {{outlet "w1"}}
    </div>
</div>
<div class="col-xs-3 widget-outlet quote-rows-full">
    <div class="col-xs-12 widget_new widget-new-border full-height">
        {{outlet "w6"}}
    </div>
</div>
<div class="col-xs-9 quote-rows">
    <div class="col-xs-12 full-height">
        <div class="col-xs-12 quote-row-tablet-2">
            <div class="col-xs-6 widget-outlet">
                {{outlet "w2"}}
            </div>
            <div class="col-xs-6 widget-outlet">
                {{outlet "w4"}}
            </div>
        </div>

        <div class="col-xs-12 quote-row-tablet">
            <div class="col-xs-6 widget-outlet">
                {{outlet "w3"}}
            </div>
            <div class="col-xs-6 widget-outlet">
                {{outlet "w5"}}
            </div>
        </div>
    </div>
</div>
