<div {{bind-attr class=":full-width :cell-container :pad-s-t :ellipsis :border-bottom view.styleBackground"}} cell-id="{{view.columnId}}">
    <div class="pad-s-tb">
        <span {{bind-attr class=":pad-s-tb :pad-s-lr :fore-color :font-xxx-l :bold view.styleFirstValue view.styles"}}>
            {{view.formattedFirstValue}}
        </span>
    </div>

    <div {{bind-attr class=":pad-s-tb :pad-s-r :fore-color :font-x-l view.styleSecondValue"}}>
        {{view.formattedSecondValue}}
    </div>
    {{#if view.isExpandedView}}
        <div class="layout-container full-width pad-m-t pad-s-b">
            <div {{bind-attr class=":layout-col-24 :pad-xs-tb :pad-m-lr :fade-fore-color :font-x-l :toolbar-color :text-align-left :watch-list-border-radius view.styleThirdValue"}}>
                <div>
                    {{view.app.lang.labels.low}}
                </div>
                <div class="pad-s-t down-fore-color bold">
                    {{view.formattedThirdValue}}
                </div>
            </div>
        </div>
    {{/if}}
</div>
