<div {{bind-attr class=":full-width :pad-m-lr :pad-s-t :cell-container :ellipsis :border-bottom :ltr view.styleBackground view.styles" }} cell-id="{{view.columnId}}">
    <div {{bind-attr class=":layout-inline :font-xxx-l :bold :pad-s-l :pad-s-tb view.styleFirstValue view.isIndexView::pad-s-r"}}>
        {{view.formattedFirstValue}}
    </div>

    <div {{bind-attr class=":pad-s-tb :fore-color :font-x-l view.styleSecondValue" }}>
        {{view.formattedSecondValue}}
    </div>
    {{#if view.isExpandedView}}
        <div class="layout-container full-width pad-m-t pad-s-b">
            <div {{bind-attr class=":layout-col-24 :pad-xs-tb :pad-m-lr :font-x-l :text-align-left :toolbar-color :watch-list-border-radius view.styleThirdValue"}}>
                <div class="fade-fore-color ellipsis">
                    {{view.app.lang.labels.prvClosed}}
                </div>
                <div class="pad-s-t fore-color bold">
                    {{view.formattedThirdValue}}
                </div>
            </div>
        </div>
    {{/if}}
</div>
