{{#if isTablet}}
    <div class="col-xs-12">
        <div class="left pad-m-lr border-right-topbar border-left-topbar">
            <div class="font-m header-colour mgn-s-b pad-s-r">{{app.lang.labels.orderValue}}<span class="font-m colour-normal bold pad-m-l">{{formatNumber invoker.orderParams.calcOrdVal orderValueDecimals}}</span></div>
        </div>

        <div class="left mgn-l-l pad-l-r border-right-topbar">
            <div class="font-m header-colour mgn-s-b pad-s-r">{{app.lang.labels.commission}}<span class="font-m colour-normal bold pad-m-l">{{formatNumber invoker.orderParams.comsn invoker.symbolInfo.deci}}</span></div>
        </div>

        <div class="left mgn-l-l">
            <div class="font-m header-colour mgn-s-b pad-s-r">{{app.lang.labels.netValue}}<span class="font-m colour-normal bold pad-m-l"></span>{{formatNumber invoker.orderParams.calcNetOrdVal orderValueDecimals}}</div>
        </div>
    </div>
{{/if}}

<div class="col-xs-12">
    <div class="left mgn-l-r {{if isTablet 'pad-s-t' ''}}">
        <div class="left">
            <button style="min-width:97px" type="submit" {{bind-attr class=":mgn-m-lr :colour-normal :bold invoker.orderStrategy.btnClass"}}
                {{action 'onSubmitOrder'}}>{{actionLabel}}</button>
        </div>

        {{#if appConfig.customisation.isSavedOrdersEnabled}}
            <div class="left pad-m-r">
                <button type="button" class="btn btn-default bold" {{action 'onSaveOrder'}}>{{app.lang.labels.save}}</button>
            </div>
        {{/if}}

        <div class="left">
            <button type="button" class="btn btn-default btn-small bold" {{action 'onResetOrder'}}
                    disabled={{invoker.orderStrategy.isResetDisabled}}>{{app.lang.labels.reset}}</button>
        </div>
    </div>

    {{#unless isTablet}}
        <div class="left pad-l-l pad-l-r border-right-topbar border-left-topbar">
            <div class="font-m header-colour mgn-s-b pad-s-r">{{app.lang.labels.orderValue}}</div>
            <div class="font-m colour-normal bold" >{{formatNumber invoker.orderParams.calcOrdVal orderValueDecimals}}</div>
        </div>

        <div class="left mgn-l-l pad-l-r border-right-topbar">
            <div class="font-m header-colour mgn-s-b pad-s-r">{{app.lang.labels.commission}} {{#if isVATEnabled}}+ {{app.lang.labels.vat}}{{/if}}</div>
            <div class="font-m colour-normal bold" >{{formatNumber invoker.orderParams.comsn invoker.symbolInfo.deci}} {{#if isVATEnabled}}+ {{formatNumber invoker.orderParams.vatAmount invoker.symbolInfo.deci}}{{/if}}</div>
        </div>

        <div class="left mgn-l-l">
            <div class="font-m header-colour mgn-s-b pad-s-r">{{app.lang.labels.netValue}}</div>
            <div class="font-m colour-normal bold">{{formatNumber invoker.orderParams.calcNetOrdVal orderValueDecimals}}</div>
        </div>
    {{/unless}}
</div>