<div class="layout-container full-width">
    <div class="layout-col">
        <div class="font-m header-colour pad-m-b">{{app.lang.labels.netValue}}:
            <span class="font-l colour-normal bold">{{formatNumber invoker.orderParams.calcNetOrdVal orderValueDecimals}}</span>
        </div>
    </div>
</div>

<div class="layout-container full-width left">
    <div class="layout-col-24"></div>

    <div class="layout-col">
        <button type="submit" {{bind-attr class=":mgn-m-lr :colour-normal :bold invoker.orderStrategy.btnClass"}}
            {{action 'onSubmitOrder'}}>{{actionLabel}}</button>
    </div>

    {{#if appConfig.customisation.isSavedOrdersEnabled}}
        <div class="layout-col pad-m-r">
            <button type="button" class="btn btn-default bold" {{action 'onSaveOrder'}} disabled={{invoker.orderStrategy.isSaveDisabled}}>{{app.lang.labels.save}}</button>
        </div>
    {{/if}}

    <div class="layout-col">
        <button type="button"
                class="btn btn-default btn-small bold" {{action 'onResetOrder'}}
                disabled={{invoker.orderStrategy.isResetDisabled}}>{{app.lang.labels.reset}}</button>
    </div>
</div>