<div class="col-xs-12 pad-m-b">
    <div class="col-xs-4">
        <div class="font-m header-colour mgn-s-b">{{app.lang.labels.holding}}</div>
        <div class="font-l colour-normal bold">{{formatNumber invoker.currentHolding.qty 0}}</div>
    </div>
    <div class="col-xs-4">
        <div class="font-m header-colour mgn-s-b">{{app.lang.labels.buyPending}}</div>
        <div class="font-l bold green">{{formatNumber invoker.currentHolding.pendBuy 0}}</div>
    </div>
    <div class="col-xs-4">
        <div class="font-m header-colour mgn-s-b">{{app.lang.labels.sellPending}}</div>
        <div class="font-l bold red">{{formatNumber invoker.currentHolding.pendSell 0}}</div>
    </div>
</div>
<div class="col-xs-12">
    <div class="col-xs-4">
        <div class="font-m header-colour mgn-s-b">{{app.lang.labels.orderValue}}</div>
        <div class="font-l colour-normal bold">{{formatNumber invoker.orderParams.calcOrdVal orderValueDecimals}}</div>
    </div>
    <div class="col-xs-4">
        <div class="font-m header-colour mgn-s-b">{{app.lang.labels.commission}}</div>
        <div class="font-l colour-normal bold">{{formatNumber invoker.orderParams.comsn invoker.symbolInfo.deci}}</div>
    </div>
    {{#if isVATEnabled}}
        <div class="col-xs-4">
            <div class="font-m header-colour mgn-s-b">{{app.lang.labels.vat}}</div>
            <div class="font-l colour-normal bold">{{formatNumber invoker.orderParams.vatAmount invoker.symbolInfo.deci}}</div>
        </div>
    {{/if}}
</div>
