
   <div {{bind-attr class=":col-xs-12 :pad-m-all invoker.orderStrategy.panelClass"}}>
        <div class="col-xs-3">
            <div class="left" style="width:75px;">
                {{bootstrap-dropdown-select
                        options=dropDownBuySell
                        defaultSelect=selectedSide
                        value=invoker.orderParams.ordSide
                        valueKey="code"
                        labelKey="des"
                        selectAction="onSideChanged"
                        lblClass="fore-color h-left bold"
                        buttonClass="btn-small"
                        isDropdownDisabled=invoker.orderStrategy.isSideDisabled
                        wkey=wkey
                }}
            </div>
        </div>
        {{#if invoker.orderStrategy.isBuy}}
            <div class="col-xs-9" style="margin-top:3px;"><span class="font-m data-table-header-fore-color">{{app.lang.labels.buyingPower}}</span>
                <span class="mgn-s-l font-l fore-color bold">
                     {{#if invoker.orderParams.isMar}}
                         {{formatNumber invoker.orderParams.smblmgnBuyPwr decimalPlaces}}
                     {{else}}
                         {{formatNumber invoker.currentPortfolio.cashAccount.buyPwr decimalPlaces}}
                     {{/if}}
                </span>
                <span class="font-m fore-color">{{invoker.currentPortfolio.curr}}</span>
            </div>
        {{else}}
            <div class="col-xs-9" style="margin-top:3px;"><span class="font-l data-table-header-fore-color">{{app.lang.labels.availQuantity}}</span> <span
                    class="mgn-s-l font-l fore-color bold"> {{formatNumber invoker.currentHolding.avaiQty 0}}</span></div>
        {{/if}}
   </div>

   <div class="col-xs-12 pad-m-t pad-s-b pad-m-l pad-m-r border-bottom">
        <div class="col-xs-4">
            <div class="left mgn-m-r">
                <span class="input-group" title={{app.lang.labels.searchSymbol}}>
                    {{input-field-text type="text" value=searchKey onKeyPress="showSearchPopup" onFocusOut="validateSearchKey" id=searchFieldId
                    class="search-query bold symbol-fore-color form-control mousetrap" placeholder=app.lang.labels.search disabled=invoker.orderStrategy.isSymbolDisabled}}
                </span>

                <div class="modal-symbol">
                    {{#modal-popup isEnabled=false id=symbolSearchId}}
                        {{global-search
                            enableContentSettings=false
                            searchKey=searchKey
                            showWidgetButtons=true
                            closePopup='closeSearchPopup'
                            openPopup='showSearchPopup'
                            stopGlobalNotification=true
                            clickAction='onSymbolSelected'
                            excludedInstruments=excludedInstruments
                            isOptionMode=isOptionMode
                            wkey=wkey
                        }}
                    {{/modal-popup}}
                </div>
            </div>
        </div>
        <div class="col-xs-4" {{bind-attr title=app.lang.labels.portfolio}}>
            {{bootstrap-dropdown-select
                options=accountDropdownOptions
                defaultSelect=invoker.currentPortfolio
                value=invoker.currentPortfolio.tradingAccId
                valueKey="tradingAccId"
                labelKey=portfolioDes
                selectAction="onSelectPortfolio"
                lblClass="btn-lbl-m"
                isDropdownDisabled=invoker.orderStrategy.isPortfolioDisabled
                wkey=wkey
            }}
        </div>

        <div class="col-xs-4 h-left">
            <div class="padding-top-small pad-l-l" style="margin-top:-2px">
                <div>
                    <span {{bind-attr class="perChgCss"}}><i {{bind-attr class="changeSign :font-m"}}> </i> </span>
                    <span class="font-l bold highlight-fore-color">{{formatNumber invoker.symbolInfo.ltp invoker.symbolInfo.deci}}</span>
                </div>
                <div>
                    <div {{bind-attr class=":layout-inline :ltr :font-m :bold perChgCss"}}>{{formatNumberPercentage invoker.symbolInfo.pctChg}}</div>
                    <div {{bind-attr class=":layout-inline :ltr :font-m :pad-s-r :pad-s-l changeCss"}} >{{formatNumber invoker.symbolInfo.chg invoker.symbolInfo.deci}}</div>
                </div>
            </div>
        </div>
   </div>
