<div class="col-xs-12 pad-m-all border-bottom mgn-s-b">
        <div class="col-xs-4">
            <div class="font-m data-table-header-fore-color mgn-s-b">{{app.lang.labels.bid}} / {{app.lang.labels.offer}}</div>
            <div class="font-l fore-color bold"><span class="up-fore-color">{{formatNumber symbol.bbp symbol.deci}}</span> / <span class="down-fore-color">{{formatNumber symbol.bap symbol.deci}}</span></div>
        </div>
        <div class="col-xs-4">
            <div class="font-m data-table-header-fore-color mgn-s-b">{{app.lang.labels.low}} / {{app.lang.labels.high}}</div>
            <div class="font-l fore-color bold">{{formatNumber symbol.low symbol.deci}} / {{formatNumber symbol.high symbol.deci}}</div>
        </div>
        <div class="col-xs-4">
            <div class="font-m data-table-header-fore-color mgn-s-b">{{app.lang.labels.min}} / {{app.lang.labels.max}}</div>
            <div class="font-l fore-color bold">{{formatNumber symbol.min symbol.deci}} / {{formatNumber symbol.max symbol.deci}}</div>
        </div>
</div>
