<div class="col-12 left">
        <div role="tabpanel">
            <div id="tablist" class="layout-container widget-tab-panel" role="tablist">
                <div role="presentation" class="layout-inline widget-tab-item active" {{action 'changeOrderType'}}>
                    <a href="#location1" aria-controls="location1" role="tab" data-toggle="tab" class="layout-inline font-m" tabindex="-1">{{app.lang.labels.general}}</a>
                </div>
                <!--<li role="presentation" {{!action 'changeOrder<!---->Type' 1}}><a href="#location2" aria-controls="location2" role="tab" data-toggle="tab" class="font-m">{{!app.lang.labels.advanced}}</a></li>
                <li role="presentation" {{!action 'changeOrderType' 2}}><a href="#location3" aria-controls="location3" role="tab" data-toggle="tab" class="font-m">{{!app.lang.labels.algorithm}}</a></li> -->
            </div>

            <div>
                {{partial partialControlPanel}}
            </div>
        </div>
    </div>
