<div class="layout-col font-m appttl-fore-color full-width single-message-container appttl-height {{containerCss}}">
    <span class="layout-inline single-message-content">
        {{#each item in messages}}
            <span class="{{item.style}}">{{item.txt}}</span>
        {{/each}}
    </span>
</div>
