
<div id="order-top-panel" class="layout-container full-width pad-m-lr">

    <div class="layout-col h-left pad-s-tb" style="width:75px;">
        {{bootstrap-dropdown-select
        options=dropDownBuySell
        defaultSelect=selectedSide
        value=invoker.orderParams.ordSide
        valueKey="code"
        labelKey="des"
        selectAction="onSideChanged"
        lblClass="fore-color h-left bold"
        buttonClass="btn-small"
        isDropdownDisabled=invoker.orderStrategy.isSideDisabled
        wkey=wkey
        }}
    </div>

    {{#if isShowBuyPwr}}
        <div class="layout-col h-left pad-l-l" style="margin-top: 7px;">
            <div class="layout-col font-m header-colour">{{app.lang.labels.buyingPower}}</div>
            <div class="layout-col font-l colour-normal bold pad-s-l">
                {{#if invoker.orderParams.isMar}}
                    {{formatNumber invoker.orderParams.smblmgnBuyPwr decimalPlaces}}
                {{else}}
                    {{formatNumber invoker.currentPortfolio.cashAccount.buyPwr decimalPlaces}}
                {{/if}}
            </div>
            <div class="layout-col font-m colour-normal pad-s-l" style="padding-top: 1px;">{{invoker.currentPortfolio.curr}}</div>
        </div>
    {{/if}}

    {{#if isShowHolding}}
        <div class="layout-col h-left pad-l-l">
            <div class="layout-col h-left font-m header-colour mgn-s-b pad-s-r" style="margin-top:7px;">
                {{#if isTablet}}
                    {{app.lang.labels.availQty}}
                {{else}}
                    {{app.lang.labels.availQuantity}}
                {{/if}}
            </div>
            <div {{bind-attr class=":layout-col :h-left :font-l :bold holdingCss"}}>{{formatNumber invoker.currentHolding.avaiQty 0}}</div>
        </div>
    {{/if}}

    {{#if (onResponsive responsive.trigger responsive "buyingPower-free" 1)}}
        <!--Hide element-->
    {{else}}
        {{#if isShowGainLoss}}
            <div class="layout-col h-left pad-l-l">
                <div class="layout-col h-left font-m header-colour mgn-s-b pad-s-r" style="margin-top: 7px;">{{app.lang.labels.gainLossRatio}}</div>
                <div {{bind-attr class=":layout-col :back-trade :h-left :font-l :bold gainLosCss"}}>{{formatNumber invoker.currentHolding.gainLoss decimalPlaces}}</div>
            </div>
        {{/if}}
    {{/if}}

    <div data-id="buyingPower-free" class="layout-col-24"></div>
</div>