<div class="layout-container">
    <div class="layout-col pad-s-l">
        <div class="layout-inline">
            {{#if isTablet}}
                <span class="input-group" style="width:100px">
                    {{input-field-text type="text" value=searchKey onKeyPress="showSearchPopup" onFocusOut="validateSearchKey" id=searchFieldId
                    class="search-query bold symbol-fore-color form-control" placeholder=app.lang.labels.search disabled=invoker.orderStrategy.isSymbolDisabled}}
                </span>
            {{else}}
                <span class="input-group hint--bounce hint--rounded hint--bottom" style="width:100px"
                      data-hint={{app.lang.labels.searchSymbol}}>
                    {{input-field-text type="text" value=searchKey onKeyPress="showSearchPopup" onFocusOut="validateSearchKey" id=searchFieldId
                    class="search-query bold symbol-fore-color form-control mousetrap" placeholder=app.lang.labels.search disabled=invoker.orderStrategy.isSymbolDisabled}}
                </span>
            {{/if}}
        </div>

        <div class="layout-inline">
            <div class="modal-symbol symbol-search-result-popup">
                {{#modal-popup isEnabled=false id=symbolSearchId}}
                    {{global-search
                        enableContentSettings=false
                        searchKey=searchKey
                        showWidgetButtons=showWidgetButtons
                        closePopup='closeSearchPopup'
                        openPopup='showSearchPopup'
                        stopGlobalNotification=true
                        clickAction='onSymbolSelected'
                        excludedInstruments=excludedInstruments
                        isOptionMode=isOptionMode
                        wkey=wkey
                    }}
                {{/modal-popup}}
            </div>
        </div>
    </div>

    <div class="layout-col mgn-m-lr overflow-visible" {{bind-attr title=app.lang.labels.portfolio}}>
        {{bootstrap-dropdown-select
            options=accountDropdownOptions
            defaultSelect=invoker.currentPortfolio
            value=invoker.currentPortfolio.tradingAccId
            valueKey="tradingAccId"
            labelKey=portfolioDes
            selectAction="onSelectPortfolio"
            lblClass="btn-lbl-m"
            isDropdownDisabled=invoker.orderStrategy.isPortfolioDisabled
            wkey=wkey
        }}
    </div>

    <div class="layout-col pad-l-l border-right-topbar">
        <div class="layout-inline">
            <div>
                <span {{bind-attr class="perChgCss :font-m"}}><i {{bind-attr class="changeSign"}}></i></span>
                <span class="font-l bold highlight-fore-color">{{formatNumber invoker.symbolInfo.ltp invoker.symbolInfo.deci}}</span>
            </div>
            <div>
                <div {{bind-attr class=":layout-inline :ltr :font-m :bold perChgCss"}}>{{formatNumberPercentage invoker.symbolInfo.pctChg}}</div>
                <div {{bind-attr class=":layout-inline :ltr :font-m :pad-s-r :pad-s-l changeCss"}} >{{formatNumber invoker.symbolInfo.chg invoker.symbolInfo.deci}}</div>
            </div>
        </div>
    </div>

    {{#unless isTablet}}
        <div class="layout-col pad-l-l">
            <div class="font-m fade-fore-color mgn-s-b">{{app.lang.labels.low}} / {{app.lang.labels.high}}</div>
            <div class="font-m fore-color bold">{{formatNumber invoker.symbolInfo.low invoker.symbolInfo.deci}}
                / {{formatNumber invoker.symbolInfo.high invoker.symbolInfo.deci}}</div>
        </div>
        <div class="layout-col pad-l-l">
            <div class="font-m fade-fore-color mgn-s-b">{{app.lang.labels.min}} / {{app.lang.labels.max}}</div>
            <div class="font-m fore-color bold">{{formatNumber invoker.symbolInfo.min invoker.symbolInfo.deci}}
                / {{formatNumber invoker.symbolInfo.max invoker.symbolInfo.deci}}</div>
        </div>
        <div class="layout-col pad-l-l ellipsis">
            <div class="font-m fade-fore-color mgn-s-b">{{app.lang.labels.buy}} / {{app.lang.labels.sellPending}}</div>
            <div class="font-m fore-color bold">
                <span class="up-fore-color">{{formatNumber invoker.currentHolding.pendBuy 0}}</span> /
                <span class="down-fore-color">{{formatNumber invoker.currentHolding.pendSell 0}}</span></div>
        </div>
    {{/unless}}
</div>

{{#if isTablet}}
    <div class="layout-container pad-m-t">
        <div class="layout-col pad-s-l ellipsis">
            <div class="font-m fade-fore-color mgn-s-b">{{app.lang.labels.buy}} / {{app.lang.labels.sellPending}}
            <span class="font-m fore-color bold pad-m-l">
                <span class="up-fore-color">{{formatNumber invoker.currentHolding.pendBuy 0}}</span> /
                <span class="down-fore-color">{{formatNumber invoker.currentHolding.pendSell 0}}</span>
            </span>
            </div>
        </div>
        <div class="layout-col pad-l-l">
            <div class="font-m fade-fore-color mgn-s-b">{{app.lang.labels.min}} / {{app.lang.labels.max}}
                <span class="font-m fore-color bold pad-m-l">{{formatNumber invoker.symbolInfo.min invoker.symbolInfo.deci}}
                    / {{formatNumber invoker.symbolInfo.max invoker.symbolInfo.deci}}</span>
            </div>
        </div>
    </div>
{{/if}}
