@import '../../common-variables';
@import '../../widget-variables';

$btn-lbl-m-width: 72px;

// Trade - Order Ticket

.order-ticket {
  width: 345px;
}

.buy-sell .tab-content {
  display: inline-block;
}

.buy-sell .search-query {
  height: 24px !important;
  font-size: $font-large;
}

.buy-sell .btn-default {
  width: 100%;
  min-width: 60px;
  height: 24px !important;
}

.buy-sell .btn-small {
  width: 60px !important;
}

.buy-sell.buy .caret {
  float: $float-2;
  margin-top: 3px;
}

.buy .caret {
  float: $float-2;
  margin-top: 3px;
}

.sell .caret {
  float: $float-2;
  margin-top: 3px;
}

.btn-lbl-m {
  max-width: $btn-lbl-m-width;
}

@-moz-document url-prefix() {
  .buy-sell .caret {
    float: $float-2;
    margin-top: -7px !important;
  }
}

.order-ticket-lable {
  margin-top: 3px;
  margin-bottom: 8px;
}

.buy-sell .form-control {
  padding: 3px 3px;
}

.buy-sell .number-input {
  padding: 3px;
}

.rapid-order .btn-default {
  width: 94px;
  height: 24px !important;
}

.rapid-order .search-query {
  width: 95px;
  height: 24px !important;
  font-size: $font-large;
}

.rapid-order .symbol-search {
  width: 127px !important;
}

/*  =============  Order List Colors  =================  */

.orderStatus_0 {
  color: #10a1fb !important;
}

.orderStatus_1 {
  color: #de5bde !important;
}

.orderStatus_2 {
  color: #187c18 !important;
}

.orderStatus_4, .orderStatus_m {
  color: #572812 !important;
}

.orderStatus_5, .orderStatus_C {
  color: #693b3b !important;
}

.orderStatus_6 {
  color: #4b4848 !important;
}

.orderStatus_8 {
  color: #ff0000 !important;
}

.orderStatus_f {
  color: #d18f37 !important;
}

.orderStatus_A, .orderStatus_P, .orderStatus_O, .orderStatus_x, .orderStatus_t {
  color: #0000ff !important;
}

.orderStatus_E, .orderStatus_R {
  color: #ffA500 !important;
}

.orderStatus_M {
  color: #afaf20 !important;
}

.orderStatus_Q {
  color: #025d5d !important;
}

.orderStatus_c {
  color: #ffff00 !important;
}

.orderStatus_default {
  color: #275880 !important;
}

.orderType {
  color: #696969 !important;
}

.tif {
  color: #696969 !important;
}

.orderSide_1 {
  // color: #008000 !important;
  @include theme((
          color: up-fore-color
  ));
}

.orderSide_2 {
  // color: #ff0000 !important;
  @include theme((
          color: down-fore-color
  ));
}

.orderStatus_1-progress_bar {
  @include theme((
          background-color: highlight-back-color-1
  ));
}

/*  =============  /End of Order List Colors  =================  */

.holding-trade {
  height: 34px;
  margin-top: -5px;
  margin-bottom: -5px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 11px;
  padding-bottom: 12px;

  @include theme((
          color: widget-title-fore-color,
          background-color: symbol-fore-color
  ));
}

.back-trade {
  margin-top: -5px;
  margin-bottom: -5px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 11px;
  padding-bottom: 12px;
  height: 34px;
}

.gain {
  background: #9DE6B8;
  color: #327A4D;
}

.loss {
  background: #F2C7C3;
  color: #D34848 !important;
}

.neutral {
  color: #666666 !important;
}

.quote-large-width {
  width: 60%;
}

.quote-small-width {
  width: 40%;
}

.btn-trade {
  height: 24px;
  padding: 2px 15px 2px 15px;
  font-size: $font-medium;
  border-radius: $radius-xs;

  @include theme((
          color: dark-bg-fore-color
  ));
}

.btn-buy {
  @extend .btn-trade;

  @include theme((
          border: "0 {trade-btn-buy-border-color} solid",
          background-color: trade-btn-buy-back-color
  ));

  @include theme-classic((
          border: "1px {trade-btn-buy-border-color} solid",
          background-image: "linear-gradient(180deg, {trade-btn-buy-back-color} 0%, {trade-btn-buy-back-color-gradient} 100%)"
  ));
}

.btn-sell {
  @extend .btn-trade;

  @include theme((
          border: "0 {trade-btn-buy-border-color} solid",
          background-color: trade-btn-sell-back-color
  ));

  @include theme-classic((
          border: "1px {trade-btn-sell-border-color} solid",
          background-image: "linear-gradient(180deg, {trade-btn-sell-back-color} 0%, {trade-btn-sell-back-color-gradient} 100%)"
  ));
}

.btn-buy-small {
  height: 24px;
  font-size: $font-medium;
  border-radius: $radius-xs;

  @include theme((
          color: dark-bg-fore-color,
          border: "0 {trade-btn-buy-border-color} solid",
          background-color: trade-btn-buy-back-color
  ));

  @include theme-classic((
          border: "1px {trade-btn-buy-border-color} solid",
          background-image: "linear-gradient(180deg, {trade-btn-buy-back-color} 0%, {trade-btn-buy-back-color-gradient} 100%)"
  ));
}

.btn-sell-small {
  height: 24px;
  font-size: $font-medium;
  border-radius: $radius-xs;

  @include theme((
          color: dark-bg-fore-color,
          border: "0 {trade-btn-sell-border-color} solid",
          background-color: trade-btn-sell-back-color
  ));

  @include theme-classic((
          border: "1px {trade-btn-sell-border-color} solid",
          background-image: "linear-gradient(180deg, {trade-btn-sell-back-color} 0%, {trade-btn-sell-back-color-gradient} 100%)"
  ));
}

.buy {
  @include theme((
          background-color: table-row-up-alternate-back-color
  ));
}

.sell {
  @include theme((
          background-color: table-row-down-alternate-back-color
  ));
}

/*.order-ticket-buy-back-color {
  @include theme((
          background-color: order-ticket-buy-back-color
  ));
}*/

/*.order-ticket-sell-back-color {
  @include theme((
          background-color: order-ticket-sell-back-color
  ));
}*/

.order-ticket-general-panel{
  height: 54px;
}

.sym-input-width {
  width: 73px;
  padding: 3px;
}

.order-ticket-text-boxes {
  border-radius: $radius-xs;
}

.buy-sell .btn-order-tif {
  min-width: 28px;
}

.dq-fix .ember-view {
  // Commented to fix issue Time&Sales widget showing only one record.
  // top: initial !important;
  left: initial !important;
  z-index: initial !important
}

.theme1 .disable-style {
  opacity: 0.5;
  cursor: not-allowed;
}

.theme2 .disable-style {
  opacity: 0.7;
  cursor: not-allowed;
}

.disable-style a:hover {
  cursor: not-allowed;
}

.message-box-trade {
  margin-left: auto;
  margin-right: auto;
  height: auto;
  overflow: auto;
  width: 325px;

  @include theme((
          border: "1px {border-color} solid",
          background-color: widget-back-color,
          box-shadow: "0 1px 2px 1px {box-shadow-color}"
  ));
}

.messege-box-inner {
  width: 200px;
  position: relative;
  white-space: normal;
  text-align: left;
  left: 50%;
  top: 50%;
}

.holding-trade {
  @include theme((
          background-color: widget-title-back-color
  ));
}

// provide some minimal visual accomodation for IE8 and below

.TFtable tr {
  @include theme((
          background-color: table-row-back-color
  ));
}

//  Define the background color for all the ODD background rows

.TFtable tr:nth-child(odd) {
  @include theme((
          background-color: table-row-alternate-back-color
  ));
}

//  Define the background color for all the EVEN background rows

.TFtable tr:nth-child(even) {
  @include theme((
          background-color: table-row-back-color
  ));
}

//  Define the attributes for hover rows

.TFtable tr:hover {
  border-top: 1px solid;
  border-bottom: 1px solid;

  @include theme((
          border-top-color: table-row-border-color,
          border-bottom-color: table-row-border-color,
          background-color: table-row-hover-back-color
  ));
}

.TFtable-selected {
  border-top: 1px solid;
  border-bottom: 1px solid;

  @include theme((
          border-top-color: table-row-border-color,
          border-bottom-color: table-row-border-color,
          background-color: table-row-selected-back-color
  ));
}

.date-picker-dropdown {
  width: 16.667%;
}

.appttl-portfolio {
  //opacity: 0.75;
}

.trade-widget-table-height {
  height: calc(100% - 48px);
}

.online-account-open-panel {
  width: 310px;
  margin: auto;
}

.online-account-open-back-lnk {
  margin-top: 50px;
}

.order-detail-panel {
  height: 21px;
  float: $float-1;
  width: 33%;
  margin-left: 2px;
}

.order-detail-panel-cell-height {
  height: 21px;
}

.order-detail-panel-height {
  height: 253px;
}

.account-summery-height {
  height: calc(100% - 33px);
}

.account-summery-vertical-height {
  height: calc(100% - 60px);
}

// Mutual Fund

.mf-btn-icon {
  padding: 0 1px 0 1px;
  font-size: 5px;
  height: 14px;
}

.mfTransType_1 {
  @include theme((
          color: up-fore-color
  ));
}

.mfTransType_2 {
  @include theme((
          color: down-fore-color
  ));
}

@import 'extended/trade-widgets-layout-extended';