$theme1-colors-extended: (
        pallete-color15: #ffffff,

        base-color-app-menu-selected: "darken(pallete-color8, 20)",
        widget-title-selected-tab-back-color: "use(app-menu-selected-sub-tab-back-color)",

        // App Menu Sub Tabs
        app-menu-active-fore-color: "use(pallete-color15)",
        app-menu-selected-back-color: "use(app-menu-back-color)",
);