$theme4-colors-extended: (
        pallete-color1: #131518,
        pallete-color3: #64CC00,
        pallete-color4: #ff0000,
        pallete-color5: #a3a4a8,
        pallete-color7: #047aff,
        pallete-color8: #16b19b,
        container-back-color: "use(pallete-color2)",
        base-fore-color-widget-title: #16b19b,
        base-fore-color-widget-tab-selected: #16b19b
);

