<div class="col-xs-2 widget-outlet">
    <div class="col-xs-12 widget_new widget-new-border full-height">
        {{outlet "w8"}}
    </div>
</div>
<div class="col-xs-10 full-height">
    <div class="col-lg-12 full-width quote-row-1">
        <div class="col-xs-12 widget-outlet">
            {{outlet "w1"}}
        </div>
    </div>

    <div class="full-width col-xs-12 quote-rows {{quoteRows}}">
        <div class="full-width col-xs-12 {{quoteRowOne}}">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 widget-outlet {{quoteWidget}}">
                {{outlet "w2"}}
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 widget-outlet {{quoteWidget}}">
                {{outlet "w3"}}
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 widget-outlet {{quoteWidget}}">
                {{outlet "w7"}}
            </div>
        </div>

        <div class="full-width col-xs-12 {{quoteRowTwo}}">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 widget-outlet {{quoteWidget}}">
                {{outlet "w4"}}
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 widget-outlet {{quoteWidget}}">
                {{outlet "w5"}}
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 widget-outlet {{quoteWidget}}">
                {{outlet "w6"}}
            </div>
        </div>
    </div>
</div>
