<div class="full-width full-height {{marketRows}}">
    <div class="col-xs-12" style="height: 55px">
        <div class="col-xs-12 widget-outlet">
            {{outlet "w4"}}
        </div>
    </div>
    <div class="col-xs-12" style="height:calc(100% - 370px)">
        <div class="col-xs-12 widget-outlet">
            {{outlet "w1"}}
        </div>
    </div>
    <div class="col-xs-12" style="height: 314px">
        <div class="col-xs-6 widget-outlet">
            {{outlet "w2"}}
        </div>
        <div class="col-xs-6 widget-outlet">
            {{outlet "w3"}}
        </div>
    </div>
</div>