<div class="full-height full-width overflow-hidden">
    {{#if isShowTitle}}
        {{widget-header
            widgetTitle=app.lang.labels.watchList
            isMarketTabAvailable=true
            titleTabs=exgTabs
            tabAction='setWlExchange'
            buttonClass='wdgttl-drp-dwn-btn'
            isShowOnlyDefault=isShowOnlyDefault
            hideWidgetLink=true
            hideSymbol=true
            isMoreMarketAvailable=true
            setExchange='onSelectExchange'
            defaultExchangeForDropdown=defaultExchangeForDropdown
            value=exg
        }}
    {{/if}}

    <!--  =========  Search Box  =============  -->

    <div class="layout-container full-width pos-rel pad-s-tb">
        <div class="layout-col pad-s-l">
            {{input-field-text type="text" value=textFilter placeholder=app.lang.labels.filter onKeyDown="onKeyDown" class="search-query search-ctrl form-control"}}

            <div class="input-group-btn pos-abs top-zero">
                <button class="btn search-ctrl-btn pad-m-t" type="button">
                    <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
                </button>
            </div>
        </div>

        <div class="layout-col pad-s-l">
            {{#if isTablet}}
                {{sub-markets-dropdown exchange=exchange key=wkey lblClass='tablet-submarket-btn' onSubMarketChanged='onSelectSubMarket'}}
            {{else}}
                {{more-markets-dropdown setExchange='onSelectExchange' key=wkey isShowDefaultMarket=true}}
            {{/if}}
        </div>

        <div class="layout-col-24"></div>

        <div class="layout-col pad-s-l">
            {{#unless isTablet}}
                {{#unless isHideLink}}
                    {{link-dropdown
                        options=links
                        defaultSelect=defaultLink
                        value=selectedLink
                        valueKey='code'
                        labelKey='desc'
                        selectAction='setLink'
                        toolTip=app.lang.labels.linkWidgets
                    }}
                {{/unless}}
            {{/unless}}
        </div>
    </div>

    <!--  =========  /Search Box  =============  -->

    <div class="ember-table-panel full-width quote-watchlist-height">
        {{#if isRenderingEnabled}}
            {{table-component
            columns=columns
            content=arrangedContent
            rowHeight= rowHeight
            hasFooter=false
            isActiveOnSymbolChange=true
            minHeaderHeight= 40
            isRefreshed=isRefreshed
            rowClickAction="clickRow"
            doubleClickAction="doubleClickRow"
            id=wkey
            }}
        {{/if}}
    </div>
</div>
