<div class="widget_new full-height">
    {{widget-header
        widgetTitle=title
        hideWidgetLink=true
        innerWidgets=innerWidgets
        innerWidgetAction="renderInnerWidgetItems"
        isWidgetCloseAvailable=isWidgetCloseAvailable
        closeWidgetAction= 'closeWidgetAction'
        closeActionTarget=controller
        cursorMoveCss=cursorMoveCss
    }}

    <div class="widget-container-new full-height-without-header pad-s-b">
        <div class="layout-container full-width font-m pad-widget-top pad-widget-right pad-widget-left tool-bar">
            <div class="layout-col font-m fade-fore-color">{{app.lang.labels.portfolio}}</div>
            <div class="layout-col pad-s-l overflow-visible" title="{{app.lang.labels.portfolio}}">
                {{bootstrap-dropdown-select
                options=accountColl
                defaultSelect=currentPortfolio
                valueKey="tradingAccId"
                labelKey="dispProp"
                selectedLabelKey="cashAccount.invAccNo"
                selectAction="setPortfolio"
                lblClass="btn-lbl-l"
                }}
            </div>

            {{#if isStatementDropDownEnable}}
                <div class="layout-col pad-m-l font-m fade-fore-color">{{app.lang.labels.type}}</div>
                <div class="layout-col pad-s-l overflow-visible">
                    {{bootstrap-dropdown-select
                    options=statementTypes
                    defaultSelect=defaultOptionForStatement
                    value=defaultOptionForStatement.['label']
                    valueKey="label"
                    labelKey="label"
                    selectAction="setStatementType"
                    }}
                </div>
            {{/if}}
            <div class="layout-col pad-m-l font-m fade-fore-color">{{app.lang.labels.from}}</div>
            <div class="layout-col pad-s-l">
                {{bootstrap-datepicker
                language=lan
                placeholder=app.lang.labels.fromDate
                class="date-input-field kyc-date-field fade-fore-color"
                value=fromDate
                autoclose=true
                endDate=toEndDate
                format=datePickerFormat
                }}
            </div>

            <div class="layout-col pad-m-l font-m fade-fore-color">{{app.lang.labels.to}}</div>
            <div class="layout-col pad-s-l">
                {{bootstrap-datepicker
                language=lan
                placeholder=app.lang.labels.toDate
                class="date-input-field kyc-date-field fade-fore-color"
                value=toDate
                autoclose=true
                startDate=fromDate
                endDate=toEndDate
                format=datePickerFormat
                }}
            </div>
            <div class="layout-col pad-m-l">
                <button type="submit" class="btn btn-default fade-fore-color bold kyc-btn" {{action "onSubmit"}}>{{app.lang.labels.view}}</button>
            </div>
            <div class="layout-col pad-m-l">
                <button class="btn btn-default fade-fore-color bold hint--bottom-left hint--bounce hint--rounded" {{action "onPrint"}} data-hint="{{app.lang.labels.print}}"><i class="fa fa-print fa-lg" aria-hidden="true"></i></button>
            </div>
            <!--<div class="layout-col pad-m-l">-->
                <!--<button class="btn btn-default fade-fore-color bold hint--bottom-left hint--bounce hint--rounded" {{!action "onPdf"}} data-hint="{{!app.lang.labels.downloadPdf}}"><i class="fa fa-file-pdf-o fa-lg" aria-hidden="true"></i></button>-->
            <!--</div>-->
            <div class="layout-col pad-m-l">
                <button class="btn btn-default fade-fore-color bold hint--bottom-left hint--bounce hint--rounded" {{action "onExcel"}} data-hint="{{app.lang.labels.downloadExcel}}"><i class="fa fa-file-excel-o fa-lg" aria-hidden="true"></i></button>
            </div>
            <div class="layout-col-24"></div>
        </div>
        {{#if isCashStatementEnable}}
            <div class="layout-container full-width pad-widget-left pad-widget-right">
                <div class="layout-col">
                    <div class="layout-container full-width pad-m-t">
                        <div class="layout-col font-m ellipsis fade-fore-color  h-left pad-s-r">{{app.lang.labels.curr}}</div>
                        <div class="layout-col font-m fade-fore-color bold  h-right">{{dataObj.curr}}</div>
                    </div>
                    <div class="layout-container full-width pad-m-t">
                        <div class="layout-col font-m ellipsis fade-fore-color  h-left pad-s-r">{{app.lang.labels.openingBal}}</div>
                        <div class="layout-col font-m fade-fore-color bold h-right">{{formatNumber dataObj.openBal 2}}</div>
                    </div>
                </div>
                <div class="layout-col-4"></div>
                <div class="layout-col pad-l-l ">
                    <div class="layout-container full-width pad-m-t">
                        <div class="layout-col font-m  ellipsis fade-fore-color h-left pad-s-r">{{app.lang.labels.deposits}}</div>
                        <div class="layout-col font-m fade-fore-color bold h-right">{{formatNumber dataObj.totDeposit 2}}</div>
                    </div>
                    <div class="layout-container full-width pad-m-t">
                        <div class="layout-col font-m ellipsis fade-fore-color  h-left pad-s-r">{{app.lang.labels.withdrawals}}</div>
                        <div class="layout-col font-m fade-fore-color bold  h-right">{{formatNumber dataObj.totWithdrawal 2}}</div>
                    </div>
                </div>
                <div class="layout-col-4"></div>
                <div class="layout-col  pad-l-l">
                    <div class="layout-container full-width pad-m-t">
                        <div class="layout-col font-m fade-fore-color ellipsis  h-left pad-s-r">{{app.lang.labels.buy}}</div>

                        <div class="layout-col font-m fade-fore-color bold h-right">{{formatNumber totBuy 2}}</div>
                    </div>
                    <div class="layout-container full-width pad-m-t">
                        <div class="layout-col font-m fade-fore-color ellipsis h-left pad-s-r">{{app.lang.labels.sell}}</div>

                        <div class="layout-col font-m fade-fore-color bold h-right">{{formatNumber totSell 2}}
                        </div>
                    </div>
                </div>
                <div class="layout-col-4"></div>
                <div class="layout-col pad-l-l">
                    <div class="layout-container full-width pad-m-t">
                        <div class="layout-col font-m fade-fore-color ellipsis h-left pad-s-r">{{app.lang.labels.other}}</div>
                        <div class="layout-col font-m fade-fore-color bold  h-right"> {{formatNumber totOther 2}}</div>
                    </div>
                    <div class="layout-container full-width pad-m-t">
                        <div class="layout-col font-m fade-fore-color h-left ellipsis pad-s-r">{{app.lang.labels.closingBal}}</div>
                        <div class="layout-col font-m fade-fore-color bold h-right"> {{formatNumber dataObj.closeBal 2}}</div>
                    </div>
                </div>
            </div>
        {{/if}}

        <div {{bind-attr class=":full-width isCashStatementEnable:pad-m-t:stock-statement"}} style="height: calc(100% - {{if isCashStatementEnable '80px' '40px'}});">
            {{loading-indicator isLoading=isLoading}}
            {{table-component
                columns=columns
                content=content
                rowHeight= 25
                minHeaderHeight= 25
                hasFooter=false
                sortAscending=sortAscending
                id=wkey
                rowClickAction="clickRow"
            }}
            {{single-message-viewer message=errorMessage showMessage=showError messageCss='appttl-light-bg-fore-color' backgroundCss='h-middle'}}
        </div>
    </div>
</div>