<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pro Lite</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{content-for 'head'}}

    <link rel="shortcut icon" type="image/png" href="assets/img/favcon.png"/>
    <link rel="stylesheet" href="assets/vendor.css">
    <link rel="stylesheet" href="assets/universal-app.css">

    <!-- Custom styles for common content -->
    <link href="assets/css/chart.css" rel="stylesheet">
    <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="assets/css/stx-chart.css" rel="stylesheet">
    <link href="assets/css/stx-print.css" rel="stylesheet" media="print">

    <link href='https://fonts.googleapis.com/css?family=Arimo:400,700' rel='stylesheet' type='text/css'>
    <style id="jsbin-css">
        @font-face {
            font-weight: normal;
            font-style: normal;
        }

        body {
            font-family: 'Arimo';
            background-color: #000000;
        }

        label {
            color: #ffffff;
            font-weight: normal;
            line-height: 1.5;
            margin-bottom: 0;
        }
    </style>

    {{content-for 'head-footer'}}
</head>
<body style="overflow:auto" oncontextmenu="return false;">
<div id="ember-app-root">
    {{content-for 'body'}}

    <script src="assets/vendor.js" defer></script>
    <script src="assets/universal-app.js" defer></script>

    {{content-for 'body-footer'}}
</div>
</body>
</html>
