    <div class="layout-container full-width pad-widget-left pad-widget-right">
        <div class="layout-container full-width">
            <div class="layout-col h-left">
                <div>{{min}}</div>
                <div class="bold">{{app.lang.labels.min}}</div>
            </div>

            <div class="layout-col h-middle">
                <span class="font-4x-l bold symbol-fore-color">{{formatNumber value}}</span>
            </div>

            <div class="layout-col h-right">
                <div>{{max}}</div>
                <div class="bold">{{app.lang.labels.max}}</div>
            </div>
        </div>

        <div class="layout-container full-width pad-m-t">
            <div class="layout-col">{{input id="slider-component" type="range" max=max min=min step=step value=value}}
            </div>
        </div>

        <div class="layout-container full-width">
            <div class="layout-col">
                <button type="button"
                        class="btn btn-dropdown btn-default full-width slider-button-padding" {{action 'redusePrice'}}>
                    <i class="glyphicon-minus glyphicon font-xxx-l"> </i>
                </button>
            </div>

            <div class="layout-col-24"></div>

            <div class="layout-col">
                <button type="button"
                        class="btn btn-dropdown btn-default full-width slider-button-padding" {{action 'addPrice'}}>
                    <i class="glyphicon-plus glyphicon font-xxx-l"> </i>
                </button>
            </div>
        </div>
    </div>