<div class="layout-container full-width status-panel separator separator-shadow">
    <div class="layout-col pad-l-l {{portfolioCss}}">
        <div class="layout-col h-left">
            <div class="layout-inline overflow-visible">
                <!-- Need following variable change to control button size $btn-lbl-m-width: 75px;-->
                {{bootstrap-dropdown-select
                options=portfolioOptions
                defaultSelect=invoker.currentPortfolio
                value=invoker.currentPortfolio.tradingAccId
                valueKey="tradingAccId"
                labelKey=portfolioDes
                selectAction="onSelectPortfolio"
                lblClass="bold"
                buttonClass="dropdown-text-only ltr"
                isDropdownDisabled=invoker.orderStrategy.isPortfolioDisabled}}
            </div>
            <div class="layout-inline font-m pad-s-l fade-fore-color">{{currency}}</div>
        </div>
        <div class="layout-col pad-m-l pad-l-tb" {{action 'nextPortRight'}}>
        </div>
    </div>

    <div class="layout-col-24 h-right">
        <div class="layout-col-24 pad-m-l font-l fade-fore-color">
                <span class="font-xx-l">
                    {{widgetName}}
                </span>
        </div>

        {{#if isToggleEnable}}
            <div class="layout-col pad-l-lr pad-m-tb h-right full-width">
                {{#if Ember.isIos}}
                    <div class="full-width toggle ltr">
                        {{input type="checkbox" name="holdingWatchlist" class="toggle-checkbox" id="holdingWatchlist" checked=isEnableWatchlist}}
                        <label class="toggle-label watchlist-toggle-label" for="holdingWatchlist">
                            <span class="toggle-inner watchlist-toggle-style"></span>
                            <div class="toggle-animation">
                                <span class="toggle-switch watchlist-toggle-switch"></span>
                            </div>
                        </label>
                    </div>
                {{else}}
                    <label for="holdingWatchlist">
                        {{input type="checkbox" name="holdingWatchlist" checked=isEnableWatchlist class="simple-switch-input" id="holdingWatchlist"}}
                        <span class="simple-switch dark"></span>
                    </label>
                {{/if}}
            </div>
        {{/if}}
    </div>
</div>
<div class="horizontal-separator mgn-m-lr"></div>