<div class="layout-container full-width pad-s-l pad-s-tb pad-widget-right">
    <div class="layout-col-16">
        <div class="layout-container full-width">
            {{#each button in values}}
                <div class="layout-col-4 font-l pad-m-tb {{button.pad}}">
                    <button type="button"
                            class="btn btn-dropdown btn-default full-width btn-animation" {{action 'addQuantity' button.value}}>
                        <span class="v-middle bold up-fore-color font-xx-l">+ {{button.desc}}</span>
                    </button>
                </div>
            {{/each}}
        </div>

        <div class="layout-container full-width">
            {{#each button in values}}
                <div class="layout-col-4 font-l pad-m-tb {{button.pad}}">
                    <button type="button"
                            class="btn btn-dropdown btn-default full-width btn-animation" {{action 'reduseQuantity' button.value}}>
                        <span class="v-middle bold down-fore-color font-xx-l">- {{button.desc}}</span>
                    </button>
                </div>
            {{/each}}
        </div>
    </div>
    <div class="layout-col-5 pad-s-lr pad-m-tb">
        <button type="button"
                class="full-height btn btn-dropdown btn-default full-width btn-animation" {{action 'resetQuantity'}}>
            <span class="bold fore-color font-6x-l">0</span>
        </button>
    </div>
</div>