{{#if isArabic}}
    <div class="layout-container pad-m-tb">
        <div class="fore-color font-x-l bold">المكتب الرئيسي – الرياض</div>
        <div class="fore-color font-x-l">طريق الملك فهد</div>
        <div class="fore-color font-x-l">ص.ب : 6888 –   الرياض 11452</div>
        <div class="layout-container font-m pad-s-tb">
            <div class="layout-col fore-color">هاتف: </div>
            <div class="layout-col ltr highlight-fore-color"><a
                    href="tel: +966112547666">+966112547666</a></div>
        </div>
    </div>

    <div class="layout-container pad-m-tb">
        <div class="fore-color font-x-l bold">المكتب الإقليمي – المنطقة الغربية</div>
        <div class="fore-color font-x-l">فرع شارع الملك</div>
        <div class="layout-container font-m pad-s-tb">
            <div class="layout-col fore-color">هاتف: </div>
            <div class="layout-col ltr highlight-fore-color"><a
                    href="tel: +966126078500 ">+966126078500 </a></div>
        </div>
        <div class="layout-container font-m pad-s-b">
            <div class="layout-col fore-color">تحويلة : </div>
            <div class="layout-col ltr fore-color">202, 106</div>
        </div>
    </div>

    <div class="layout-container pad-m-tb">
        <div class="fore-color font-x-l bold">لمكتب الإقليمي – المنطقة الشرقية</div>
        <div class="fore-color font-x-l">ص.ب : 1581 – الخبر 31952 </div>
        <div class="layout-container font-m pad-s-tb">
            <div class="layout-col fore-color">هاتف: </div>
            <div class="layout-col ltr highlight-fore-color"><a
                    href="tel: +966138423811">+966138423811</a></div>
        </div>
        <div class="layout-container font-m pad-s-b">
            <div class="layout-col fore-color">تحويلة : </div>
            <div class="layout-col ltr fore-color">222</div>
        </div>
    </div>

    <div class="layout-container font-s pad-xs-b">
        <div class="layout-col fore-color">الرقم المجاني  : </div>

        <div class="layout-col ltr highlight-fore-color"><a
                href="tel: (800) 124-8282">(800) 124-8282</a></div>
    </div>
{{else}}
    <div class="layout-container pad-m-tb">
        <div class="fore-color font-x-l bold">Head Office - King Fahad Road</div>
        <div class="fore-color font-x-l">P.O Box 6888</div>
        <div class="fore-color font-x-l">Riyadh 1145, KSA</div>
        <div class="layout-container font-m pad-s-tb">
            <div class="layout-col fore-color">Tell: </div>
            <div class="layout-col ltr highlight-fore-color"><a
                    href="tel: +966 11 254 7666">+966 11 254 7666</a></div>
        </div>
    </div>

    <div class="layout-container pad-m-tb">
        <div class="fore-color font-x-l bold">Regional Office - West Province :</div>
        <div class="fore-color font-x-l">King Street Branch</div>
        <div class="layout-container font-m pad-s-tb">
            <div class="layout-col fore-color">Tell: </div>
            <div class="layout-col ltr highlight-fore-color"><a
                    href="tel: +966-12-6078500">+966-12-6078500</a></div>
        </div>
        <div class="layout-container font-m pad-s-b">
            <div class="layout-col fore-color">Ext: </div>
            <div class="layout-col ltr fore-color">106, 201</div>
        </div>
    </div>

    <div class="layout-container pad-m-tb">
        <div class="fore-color font-x-l bold">REGIONAL OFFICE – Eastern Province :</div>
        <div class="fore-color font-x-l">Al Rayan branch</div>
        <div class="fore-color font-x-l">P.O. Box 1581</div>
        <div class="fore-color font-x-l">Al Khobar 31952, KSA</div>
        <div class="layout-container font-m pad-s-tb">
            <div class="layout-col fore-color">Tell: </div>
            <div class="layout-col ltr highlight-fore-color"><a
                    href="tel: +966-13-8423811">+966-13-8423811</a></div>
        </div>
        <div class="layout-container font-m pad-s-b">
            <div class="layout-col fore-color">Ext: </div>
            <div class="layout-col ltr fore-color">222</div>
        </div>
    </div>

    <div class="layout-container font-s pad-xs-b">
        <div class="layout-col fore-color">Toll Free : </div>

        <div class="layout-col ltr highlight-fore-color"><a
                href="tel: (800) 124-8282">(800) 124-8282</a></div>
    </div>
{{/if}}
