<div class="widget_new mgn-s-t full-height">
    <div class="col-md-12 full-height">
        <div class="widget-header-wrap">
          <div class="horizontal-line-header"></div>
           <div class="widget-header">
            <ul id="tablist" style="height:24px; margin-top: -5px;" class="nav nav-tabs-3 nav-special" role="tablist">
                <li role="presentation" class="active"> <a href="#location1" aria-controls="location1" role="tab" data-toggle="tab" class="font-m" {{action 'tabAction' 1}} style="padding-top:4px;height:22px;">{{app.lang.labels.orderList}}</a> </li>
                <li role="presentation"> <a href="#location2" aria-controls="location2" role="tab" data-toggle="tab" style="padding-top:4px;height:22px;" class="font-m" {{action 'tabAction' 2}} >{{app.lang.labels.portfolio}}</a> </li>
                <li role="presentation"> <a href="#location3" aria-controls="location3" role="tab" data-toggle="tab" style="padding-top:4px;height:22px;" class="font-m" {{action 'tabAction' 3}} >{{app.lang.labels.accountSummary}}</a> </li>
            </ul>
            </div>
        </div>
        
        <div class="widget-container full-height padding-zero">
            {{outlet "w1"}}
        </div>
   </div>
</div>
  
