<div class="container-fluid row full-height">
    <div class="full-width col-xs-12 mgn-s-b">
        <div class="col-xs-3">
            {{outlet "w2"}}
        </div>
        <div class="col-xs-3">
            {{outlet "w3"}}
        </div>
        <div class="col-xs-3">
            {{outlet "w4"}}
        </div>
        <div class="col-xs-3">
            {{outlet "w5"}}
        </div>
    </div>

    <div class="full-width col-xs-12 mgn-s-b">
        <div class="col-xs-3">
            {{outlet "w6"}}
        </div>
        <div class="col-xs-3">
            {{outlet "w7"}}
        </div>
        <div class="col-xs-3">
            {{outlet "w8"}}
        </div>
        <div class="col-xs-3">
            {{outlet "w9"}}
        </div>
    </div>
</div>