<div class="container-fluid row full-height">
    <div class="full-width col-xs-12 mgn-s-b top-stocks-tab-upper">
        <div class="col-xs-6 full-height">
            {{outlet "w1"}}
        </div>
        <div class="col-xs-6 full-height">
            {{outlet "w2"}}
        </div>

    </div>
</div>