<div {{bind-attr class=":cell-container :pad-m-tb :pad-s-r :border-bottom :ellipsis view.styles view.styleBackground" }} {{bind-attr title="view.formattedFirstValue" }} {{bind-attr cell-id="view.columnId" }}>
            <div {{bind-attr class=":font-xx-l view.styleFirstValue"}}>
                {{view.formattedFirstValue}}
            </div>
            <div {{bind-attr class=":font-x-l view.styleSecondValue"}}>
                {{view.formattedSecondValue}}
            </div>
            <div {{bind-attr class=":font-x-l :fade-fore-color :pad-m-t"}}>
                {{view.formattedThirdValue}}
            </div>
</div>
