<div {{bind-attr class=":cell-container :pad-s-t :pad-m-r :border-bottom :ellipsis view.styles view.styleBackground" }} {{bind-attr title="view.formattedFirstValue" }} {{bind-attr cell-id="view.columnId" }}>

             <div {{bind-attr class=" :ellipsis :font-m-l :mgn-xs-b :orderStatus_1-progress_bar :progress-bar-order-list :full-width view.styleFirstValue" }} >
                <div style="width:{{view.progressPercentage}};" class="pad-s-tb pad-xs-lr h-middle {{view.filledColor}}">
                    {{view.formattedFirstValue}}
                </div>
            </div>

            {{#if view.isEnablePer}}
                <div class="pad-xs-t pad-s-b">
                    <span class="fade-fore-color">{{view.formattedThirdValue}}</span>
                    <span class="pad-s-l">(</span>
                    <span class="up-fore-color" >{{view.progressPercentage}}</span>
                    <span>)</span>
                </div>
            {{/if}}

            <div {{bind-attr class=":font-x-l :fade-fore-color view.isEnablePer:pad-s-t:pad-xs-t"}}>
                {{view.formattedSecondValue}}
            </div>

</div>
