<div {{bind-attr class=":cell-container :pad-m-tb :border-bottom :ellipsis view.styles view.styleBackground" }} {{bind-attr title="view.formattedFirstValue" }} {{bind-attr cell-id="view.columnId" }}>
    <div class="layout-row">
        <div {{bind-attr class=":layout-col-24 :font-xx-l  view.styleFirstValue" }}>
            {{view.formattedFirstValue}}
        </div>
        <div {{bind-attr class=":layout-col :h-right :font-xx-l :highlight-fore-color view.styleFirstValue"}}>
            {{view.formattedFourthValue}}
        </div>
    </div>

    <div class="layout-row">
        <div {{bind-attr class=":layout-col-24 :ellipsis :font-x-l :fade-fore-color view.styleSecondValue" }}>
            {{view.secondValue}}
        </div>
        <div {{bind-attr class=":layout-col :h-right :font-x-l :fore-color view.styleSecondValue"}}>
            {{view.formattedFifthValue}}
        </div>
    </div>

    <div class="layout-row">
        <div {{bind-attr class=":layout-col-24 :ellipsis :font-x-l  :pad-m-t :pad-xs-b view.styleThirdValue" }}>
            <span class="bold">{{view.formattedThirdValue}}</span>
            <span class="fade-fore-color pad-s-l">(</span>
            <span class="fade-fore-color">{{view.orderType}}</span>
            <span class="fade-fore-color">)</span>
        </div>
        <div {{bind-attr class=":layout-col :h-right :font-x-l :fore-color :pad-m-t"}}>
            {{view.formattedSixthValue}}
        </div>
    </div>
</div>

