// Login Extended styles go here

.login-back {
  background-image: -webkit-linear-gradient(90deg, #004990 0%, #004990 90%, #004990 100%) !important;
  background-image: -moz-linear-gradient(90deg, #004990 0%, #004990 90%, #004990 100%) !important;
  background-image: -ms-linear-gradient(90deg, #004990 0%, #004990 90%, #004990 100%) !important;
  background-image: linear-gradient(90deg, #004990 0%, #004990 90%, #004990 100%) !important;
}

.login-input[type="text"] {
  background-color: #faffbd !important;
}

.login-input[type="password"] {
  background-color: #faffbd !important;
}

.login-input {
  color: #000000 !important;
}