@import '../../common-variables';
@import '../../themes/theme-2-variables';
@import '../../widget-variables';
//@import '../../themes/theme-helper';

.appttl-mobile {
  @include theme((
          background-color: app-title-back-color,
  ));
}

.appttl-horizontal-seperator {
  @include theme((
          border-top: "1px {widget-border-t-color} solid",
  ));
}

.appttl-height {
  height: $appttl-bar-height;
}

.appttl-ticker {
  height: 25px;
  width: 100%;
}

.ticker-panel {
  width: 100%;
  height: 25px;
  position: absolute;
}

.navbar-brand {
  height: 44px;
  padding: 0;
}

.title-info-message {
  font-weight: bold;

  @include theme((
          color: single-message-info-fore-color
  ));
}

.ticker-panel-message {
  height: 32px;
}