<div class="message-box-fog">
    <div class="message-box-frame tila-box-frame">
        <div class="message-box-title">{{app.lang.labels.tilaAgreement}}</div>
        <iframe src={{filePath}} width="810px" height="300px"></iframe>
        <div class="layout-container pad-l-tb pad-l-l">
            <div class="layout-col pad-widget-left">
                <div class="layout-inline">
                    <button type="submit" autofocus
                            class="btn btn-dropdown btn-default" {{action 'onBusinessUser'}}>{{app.lang.labels.businessUser}}</button>
                </div>
                <div class="layout-inline">
                    <button class="btn btn-dropdown btn-default" {{action 'onPrivateUser'}}>{{app.lang.labels.privateUser}}</button>
                </div>
            </div>
            <div class="layout-col font-m down-fore-color pad-l-l">{{message}}</div>
        </div>
    </div>
</div>