<div class="full-height container-back-color">
    <div class="layout-container full-width">
        <div class="login">
            <div class="overlay-body">
                <div class="pad-l-tb"></div>
                <div class="top-panel pad-l-tb">
                    <div class="logo-new h-middle"><img class="full-width" src="assets/img/index-main-logo.png"/>
                    </div>
                </div>
                <div class="full-width">
                    <div class="online-account-open-panel">
                        <div class="pad-l-tb remember left">{{app.lang.messages.existingCustomerConfirmMessage}}</div>
                        <div class="full-width login-animation-button right pad-m-t pad-m-b">
                            <div class="left pad-m-r">
                                <button class="login-btn" {{action 'showAccountCreationPage'}}> {{app.lang.labels.yes}} </button>
                            </div>
                            <div class="right">
                                <button class="login-btn" {{action 'showBankHomePage'}}> {{app.lang.labels.no}} </button>
                            </div>
                        </div>
                        <div class="full-width">
                            <label class="left online-account-open-back-lnk">
                                <a class="highlight-fore-color" {{action 'onBackToLogin'}}>{{app.lang.labels.backToLogin}}</a>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
