<div class="layout-container full-width pad-m-tb pad-m-lr">
    <div class="layout-row">
        <div class="layout-container full-width pad-m-b pad-l-lr">
            <div class="layout-col-6 fade-fore-color font-m ">{{app.lang.labels.investmentPercentage}}<span
                    class="pad-s-l down-fore-color">*</span></div>
            <div class="layout-col-4  font-m">
                {{bootstrap-dropdown-select
                options=capitalAmountCollection
                value= dataObj.capitalAmt
                valueKey='code'
                labelKey='des'
                buttonClass=buttonClass
                }}
            </div>
            <div class="layout-col-2  font-m "></div>
            <div class="layout-col-6 fade-fore-color font-m ">{{app.lang.labels.generalInvestmentObjectives}} <span
                    class="pad-s-l down-fore-color">*</span></div>
            <div class="layout-col-4  font-m ">
                {{bootstrap-dropdown-select
                options=investmentObjectivesCollection
                value= dataObj.invObjec
                valueKey='code'
                labelKey='des'
                buttonClass=buttonClass
                }}
            </div>
        </div>
    </div>
    <div class="layout-row">
        <div class="layout-container full-width  pad-m-b pad-l-lr">
            <div class="layout-col-6 fade-fore-color font-m ">{{app.lang.labels.investmentPeriod}}  <span
                    class="pad-s-l down-fore-color">*</span></div>
            <div class="layout-col-4  font-m ">
                {{bootstrap-dropdown-select
                options=investmentPeriodCollection
                value= dataObj.invPeriod
                valueKey='code'
                labelKey='des'
                buttonClass=buttonClass
                }}
            </div>
            <div class="layout-col-2  font-m "></div>
            <div class="layout-col-6 fade-fore-color font-m ">{{app.lang.labels.isTradedInLocalShares}}  <span
                    class="pad-s-l down-fore-color">*</span></div>
            <div class="layout-col-4  font-m ">
                {{bootstrap-dropdown-select
                options=yesNoCollection
                value= dataObj.isTradedLocal
                valueKey='code'
                labelKey='des'
                buttonClass=buttonClass
                }}
            </div>
        </div>
    </div>
    <div class="layout-row">
        <div class="layout-container full-width  pad-m-b pad-l-lr">
            <div class="layout-col-6 fade-fore-color font-m ">{{app.lang.labels.investmentExperience}}  <span
                    class="pad-s-l down-fore-color">*</span></div>
            <div class="layout-col-4  font-m ">
                {{bootstrap-dropdown-select
                options=investmentExperienceCollection
                value= dataObj.invExp
                valueKey='code'
                labelKey='des'
                buttonClass=buttonClass
                }}
            </div>
            <div class="layout-col-2  font-m "></div>
            <div class="layout-col-6 fade-fore-color font-m ">{{app.lang.labels.isTradedInInternationalShares}}  <span
                    class="pad-s-l down-fore-color">*</span></div>
            <div class="layout-col-4  font-m ">
                {{bootstrap-dropdown-select
                options=yesNoCollection
                value= dataObj.isTradedInternational
                valueKey='code'
                labelKey='des'
                buttonClass=buttonClass
                }}
            </div>
        </div>
    </div>
    <div class="layout-row">
        <div class="layout-container full-width  pad-m-b pad-l-lr">
            <div class="layout-col-6 fade-fore-color font-m ">{{app.lang.labels.riskTolerance}}  <span class="pad-s-l down-fore-color">*</span>
            </div>
            <div class="layout-col-4  font-m ">
                {{bootstrap-dropdown-select
                options=riskToleranceCollection
                value= dataObj.riskTol
                valueKey='code'
                labelKey='des'
                buttonClass=buttonClass
                }}
            </div>
            <div class="layout-col-2  font-m "></div>
            <div class="layout-col-6 fade-fore-color font-m ">{{app.lang.labels.isTradedInBondsSukuk}}  <span
                    class="pad-s-l down-fore-color">*</span></div>
            <div class="layout-col-4  font-m ">
                {{bootstrap-dropdown-select
                options=yesNoCollection
                value= dataObj.isTradedBondsSukuk
                valueKey='code'
                labelKey='des'
                buttonClass=buttonClass
                }}
            </div>
        </div>
    </div>
    <div class="layout-row">
        <div class="layout-container full-width  pad-m-b pad-l-lr">
            <div class="layout-col-6 fade-fore-color font-m ">{{app.lang.labels.hasOtherCompanyInvestmentAcc}}  <span
                    class="pad-s-l down-fore-color">*</span></div>
            <div class="layout-col-4  font-m ">
                {{bootstrap-dropdown-select
                options=yesNoCollection
                value= dataObj.invAccOtherCom
                valueKey='code'
                labelKey='des'
                buttonClass=buttonClass
                }}
            </div>
            <div class="layout-col-2  font-m "></div>
            <div class="layout-col-6  font-m "></div>
            <div class="layout-col-4  font-m "></div>
        </div>
    </div>
</div>
