@import '../../app-layout/app-layout';

$landscape-order-ticket-height: 286px;
$portrait-order-ticket-width: 350px;
$portrait-order-ticket-height: 425px;
$option-trade-quote-height: 150px;
$option-trade-quote-width: 400px;
$option-trade-orderList-height: 150px; // TODO: [Anushka] Need to define a flexible layout for large screens
$ria-trade-portfolio-height: 265px;
$ria-trade-orderList-height: 200px;
$account-summery-height-vertical: 265px;
$ria-trade-watchlist-height: 200px;
$brkClassic-trade-watchlist-height: 390px;

.trade-row-1 {
  height: $landscape-order-ticket-height !important;
}

.trade-row-2 {
  @include generate-widget-height($landscape-order-ticket-height);
}

.trade-row-4 {
  height: $landscape-order-ticket-height * 2;
}

.trade-row-bottom {
  height: $landscape-order-ticket-height !important;
}

.trade-row-3-with-margin {
  @include generate-widget-height($landscape-order-ticket-height + $app-widget-gap * 2);
}

.trade-row-middle {
  // Change height parameter as $landscape-order-ticket-height * 2 to support responsive
  @include generate-widget-height($landscape-order-ticket-height * 2 + $app-widget-gap * 3);
}

.mutual-found-row {
  height: calc(50% - 5px);
}

.option-trade-row-1 {
  @include generate-widget-height($option-trade-quote-height + $option-trade-orderList-height + $app-widget-gap);
}

.option-trade-row-2 {
  height: $option-trade-quote-height;
}

.option-trade-row-3 {
  height: $option-trade-quote-height;
}

.option-trade-col-1 {
  @include generate-widget-width($portrait-order-ticket-width);
}

.option-trade-col-2 {
  width: $portrait-order-ticket-width;
}

.option-trade-row-2-col-1 {
  width: $option-trade-quote-width;
}

.option-trade-row-2-col-2 {
  @include generate-widget-width($option-trade-quote-width);
}

.ria-trade-col-1 {
  @include generate-widget-width($portrait-order-ticket-width + $app-widget-gap);
}

.ria-trade-col-2 {
  width: $portrait-order-ticket-width;
}

.ria-trade-row-1 {
  height: $portrait-order-ticket-height;
}

.ria-trade-row-2 {
  height: $account-summery-height-vertical;
}

.ria-trade-row-3 {
  height: $ria-trade-watchlist-height;
}

.ria-trade-row-4 {
  height: $ria-trade-orderList-height;
}

.ria-trade-row-5 {
  height: $ria-trade-portfolio-height;
}

.brkClassic-trade-row-1 {
  height: $brkClassic-trade-watchlist-height;
}

.brkClassic-trade-row-2 {
  height: $landscape-order-ticket-height;
}

@import 'extended/trade-page-layout-extended';