<div class="layout-col ellipsis pad-m-l pad-s-r appmnu-fore-color symbol-index-col-back-color">
    {{#each symbolObj in symbolList}}
        <div class="display-inline-block pad-s-lr">
            {{symbol-info symbol=symbolObj}}
        </div>
    {{/each}}
</div>