<div {{bind-attr class="backgroundColorCss"}}>
    <div class="layout-col pad-s-lr rtl symbol-index-item">
        <span class="pad-s-r font-l bold symbol-index-item-txt-key">{{symbol.dSym}}</span>
        <span class="pad-s-l symbol-index-item-txt-val">{{formatNumber symbol.ltp}}</span>
    </div>
</div>
