$theme2-colors-extended: (
    pallete-color1: #0e5d9f,
    pallete-color2: #f9bf3b,
    pallete-color3: #086e00,
    pallete-color4: #e90202,
    pallete-color5: #000000,
    pallete-color6: #ffffff,
    pallete-color7: #c3c8cd,
    pallete-color8: #eeeeee,
    pallete-color9: "use(pallete-color1)",
    pallete-color10: #52c73a,
    pallete-color11: #ff5152,
    pallete-color12: "lighten(pallete-color7, 18)",

    base-color-button: "use(pallete-color1)",

    // Table
    base-color-table: "darken(pallete-color6, 5)",
    base-color-table-header: "lighten(pallete-color7, 15)",

    // Widgets
    widget-ui-control-fore-color: "use(base-fore-color-widget-title)",
    widget-ui-control-back-color: "lighten(widget-title-back-color, 6)",
    widget-ui-control-back-color-gradient1: "use(widget-ui-control-back-color)",
    widget-ui-control-back-color-gradient2: "use(widget-ui-control-back-color)",
    widget-ui-control-border: "darken(widget-title-back-color, 4)",

    // Data Table
    data-table-header-back-color-gradient: "use(data-table-header-back-color)",
    data-table-header-fore-color: "use(fore-color)",

    table-row-alternate-back-color: "lighten(table-row-back-color, 5)",

    widget-border-color: "darken(base-color-button, 2)",
);