$theme1-colors-extended: (
        pallete-color1: #171a1f,
        pallete-color2: #4a4a4a,
        pallete-color3: #01fe31,
        pallete-color4: #fe0000,
        pallete-color5: #ffffff,
        pallete-color6: #000000,
        pallete-color7: #266aa0,
        pallete-color8: #fc8e1f,
        pallete-color9: #ffb005,
        pallete-color10: #333840,
        pallete-color11: "use(pallete-color3)",
        pallete-color12: "use(pallete-color4)",

        symbol-fore-color: "use(pallete-color5)",
        box-shadow-color: "lighten(pallete-color2, 9)",

        // App Title
        base-color-app-title-edit-control: "use(pallete-color10)",

        // Widget Title
        base-fore-color-widget-title: "use(pallete-color5)",
        base-color-widget-title: "use(pallete-color6)",

        // Table
        base-color-table: "use(pallete-color2)",
        base-fore-color-table: "lighten(pallete-color2, 63)",
        base-color-table-header: "darken(pallete-color2, 19)",
        base-fore-color-table-header: "darken(pallete-color5, 24)",

        // Widget
        base-color-widget: "darken(pallete-color2, 15)",
        base-color-widget-ui-control: "use(pallete-color8)",

        // Widget - Tabs
        base-color-widget-tab: "darken(base-color-widget, 6)",
        base-fore-color-widget-tab: "lighten(base-color-widget, 39)",
        base-color-widget-tab-selected: "use(pallete-color6)",
        base-fore-color-widget-tab-selected: "use(pallete-color5)",

        // Widgets
        widget-ui-control-fore-color: "use(base-color-widget-title)",
        widget-ui-control-border: "darken(widget-ui-control-back-color, 10)",

        data-table-fore-color: "use(base-fore-color-table)",
        table-row-back-color: "darken(base-color-table, 13)",

        // App Title Bar Search Input Text Bar
        app-title-search-top-color: "use(base-color-app-title-edit-control)",
        app-title-search-bottom-color: "use(base-color-app-title-edit-control)",
);