$font-small: 0.625em;
$font-medium: 0.813em;
$font-large: 0.85em; // 1.25
$font-m-large: 0.875em; //0.85
$font-x-large: 1em; // 0.95
$font-xx-large: 1.125em; // 1
$font-xxx-large: 1.25em; // 1.25
$font-4x-large: 1.5em; // 1.5
$font-5x-large: 1.7em;
$font-6x-large: 2.1em; // 2.1

$pad-widget: 15px;
$widget-tab-item-height: 26px;
$btn-lbl-m-width: 80px;


