<div class="widget-container-new over full-width">
    <div class="layout-container full-width">
        <!--Theme Settings-->
        <div class="layout-container full-height full-width pad-l-t">
            <div class="layout-col-24 nav-row-header-height bold font-l highlight-fore-color pad-widget-left">
                <a class="pad-widget-right">{{app.lang.labels.themes}}</a>
            </div>
        </div>
        {{#each item in supportedThemes}}
            <div class="layout-container full-height full-width"  {{action 'changeTheme' item.code}}>
                <div class="layout-col-24 nav-row-height pad-widget-left">
                    <span class="{{item.active}}"></span>
                    <a class="pad-widget-left">{{item.langDesc}}</a>
                </div>
            </div>
        {{/each}}
        <!--/Theme Settings-->

        <!--Language Settings-->
        <div class="layout-container full-height full-width pad-l-t">
            <div class="layout-col-24 nav-row-header-height bold font-l highlight-fore-color pad-widget-left">
                <a class="pad-widget-right">{{app.lang.labels.languages}}</a>
            </div>
        </div>
        {{#each item in supportedLanguages}}
            <div class="layout-container full-height full-width"  {{action 'changeLanguage' item.code}}>
                <div class="layout-col-24 nav-row-height pad-widget-left">
                    <span class="{{item.active}}"></span>
                    <a class="pad-widget-left">{{item.desc}}</a>
                </div>
            </div>
        {{/each}}
        <!--/Language Settings-->

    </div>
</div>
