<div class="full-width full-height overflow-hidden pos-rel">
    {{#if showPopup}}
        <div class="layout-container full-width full-height pos-abs top-zero left-zero z-index-hundred">
            <div class="layout-container full-height full-width pos-abs transparent-dark-background"></div>
            <div class="layout-container full-height full-width pos-abs">
                <div class="layout-col h-middle">
                <span class="v-middle">
                    {{#if isRenameWL}}
                        {{custom-watchlist-dialog
                        watchListName=currentCustomWLName
                        app=app
                        title="renameWL"
                        actionType="renameWL"
                        currentCustomWLId=currentCustomWLId
                        customWLCallBack='renameCustomWLCallBack'
                        }}
                    {{/if}}
                    {{#if isAddNewWL}}
                        {{custom-watchlist-dialog
                        app=app
                        actionType="addNewWL"
                        customWLCallBack='onCustomWlSelect'
                        }}
                    {{/if}}
                </span>
                </div>
            </div>
        </div>
    {{/if}}

    {{#unless isTableControlPanelDisabled}}
        <div id="tabPanelWatchlist" {{bind-attr class=":layout-container :full-width :pos-rel :appttl-horizontal-seperator :info-back-color isDisplayFilter:pad-s-tb"}}>
            <div {{bind-attr class=":layout-container :pos-rel :full-width isIndexView:pad-xs-b"}}>
                <div class="layout-col font-xxx-l pos-abs transform z-index-hundred pad-m-l pad-s-b {{filterCss}}">
                    {{input id="filterWatchlist" value=textFilter type="text" class="filter-panel search-ctrl full-height full-width form-control" placeholder=app.lang.labels.filter}}
                </div>

                <div class="layout-container font-xxx-l wdgttl-tab-panel {{tabPanelCss}}">
                    {{#if isMoreMarketAvailable }}
                        <div class="layout-col overflow-visible pad-l-l">
                            {{more-markets-dropdown
                                setExchange='onSelectExchange'
                                exchangeValue=exchange
                                buttonClass='wdgttl-drp-dwn-btn ltr'
                                lblClass='wdgttl-drp-dwn-btn-width font-m'
                                defaultExchangeForDropdown=defaultExchange
                                exg=exg
                                isShowDefaultMarket=true
                                value=value
                                key=wkey
                            }}
                        </div>
                    {{else}}
                        <div  class="layout-col mgn-m-r">
                            <div role="presentation" {{bind-attr class=":pad-s-tb :wdgttl-tab-item isCustomWLMode::active"}}  {{action 'onSelectExchange' marketTab}} >
                                <a class="font-l wdgttl-tab-link hint--top hint--bounce hint--rounded" href="#" aria-controls="" role="tab" data-toggle="tab">
                                    {{marketTab.de}}
                                </a>
                            </div>
                        </div>
                    {{/if}}

                    <div class="wdgttl-border"></div>

                    <div class="layout-col wdgttl-tab pad-xs-b">
                        {{#unless isIndexView}}
                            {{sub-markets-dropdown
                            exchange=exchange
                            key=wkey
                            buttonClass='wdgttl-drp-dwn-btn ltr'
                            onSubMarketChanged='onSelectSubMarket'
                            lblClass='wdgttl-drp-dwn-btn-width font-l pad-m-l'
                            }}
                        {{/unless}}
                    </div>

                    <div class="layout-col">
                        {{#unless isIndexView}}
                            <div class="layout-col wdgttl-tab-link wdgttl-tab-item font-l pad-l-l pad-xs-t {{favouritesActive}}">
                                <i class="glyphicon-star-empty glyphicon"></i>
                            </div>

                            {{#unless isFavouriteTextDisabled}}
                                <div class="layout-col overflow-visible font-l">
                                    {{#if isWidgetRefreshed}}
                                        {{tab-dropdown
                                        isDropdown=isDropdown
                                        displayList=customWatchListArray
                                        newActive=customWLNewActive
                                        isDisplayListChanged=isCustomWLChanged
                                        labelKey='name'
                                        actionName='onCustomWlSelect'
                                        tabItemClass='wdgttl-tab-item'
                                        tabLinkClass='wdgttl-tab-link bold wdgttl-fore-color'
                                        lblClass='wdgttl-tab-link bold wdgttl-fore-color'
                                        buttonClass='wdgttl-drp-dwn-btn'
                                        }}
                                    {{/if}}
                                </div>
                            {{/unless}}
                        {{/unless}}
                    </div>
                </div>
            </div>

            <!--Filter will be applied later-->
            {{#if isCustomWLMode}}
                <div class="layout-col h-right appttl-fade-fore-color pad-l-lr font-xxx-l">
                    {{bootstrap-icon-dropdown
                        options=menuConfig
                        valueKey="name"
                        labelKey="name"
                        selectAction="onSelectOption"
                        dropdownCss="dropdown-menu-align-right"
                        itemCss="font-s bold"
                    }}
                </div>
            {{else}}
                <div class="layout-col h-right appttl-fade-fore-color pad-l-lr font-xxx-l"{{action 'displayFilter'}}>
                    <i class="glyphicon glyphicon-filter" aria-hidden="true"></i>
                </div>
            {{/if}}
        </div>
        {{#unless isHideLink}}
            <div class="hint--top-left hint--bounce hint--rounded pos-abs quote-watchlist-link" data-hint="{{app.lang.labels.linkWidgets}}"> {{link-dropdown
            options=links
            defaultSelect=defaultLink
            value=selectedLink
            valueKey='code'
            labelKey='desc'
            selectAction='setLink'
            }}
            </div>
        {{/unless}}
    {{/unless}}
    <div class="full-width {{if isIndexView 'page-height-with-navigators' 'watch-list-container-height'}}">
        {{#if isWidgetRefreshed}}
            {{table-component
            hasBody=isRenderingEnabled
            columns=columns
            content=oneWayContent
            rowHeight= rowHeight
            indicatorConfig= indicatorConfig
            hasFooter=false
            isActiveOnSymbolChange=true
            rowClickAction="clickRow"
            minHeaderHeight= 40
            isRefreshed=isRefreshed
            isOddEvenRowStyleDisabled=isOddEvenRowStyleDisabled
            isExpandedView=isExpandedView
            deleteSymbol='deleteSymbol'
            expandColumnAction='expandColumnAction'
            contextPath=contextPath
            isIndexView=isIndexView
            disableExpand=disableExpand
            isCustomWLMode=isCustomWLMode
            isDeleteButtonDisabled=isDeleteButtonDisabled
            isAddedToCustomWatchList=isAddedToCustomWatchList
            id=wkey
            isContextPanel=isContextPanel
            enableColumnReorder=false
            }}
        {{/if}}
    </div>
</div>