<div class="panel-table"  cell-id="{{view.columnId}}">
    <div {{bind-attr class=":font-l :bold view.styleFirstValue"}}>
        {{view.formattedFirstValue}}
    </div>
    <div {{bind-attr class=":font-m :pad-xs-t view.styleSecondValue"}}>
        {{view.formattedSecondValue}}
    </div>
</div>
