//*  --- Consensus chart arrow icons ---- */
.ar .arrow-buy {
  border-left: inherit;
  border-right: 13px solid #086e00;
}

.ar .arrow-sell {
  border-left: inherit;
  border-right: 13px solid #e80303;
}

.ar .arrow-buy-right {
  border-right: inherit;
  border-left: 13px solid #086e00;
}

.ar .arrow-sell-right {
  border-right: inherit;
  border-left: 13px solid #e80303;
}

.ar .arrow-hold {
  border-left: inherit;
  border-right: 13px solid #f9f00d;
}

.ar .arrow-green-1 {
  border-right: inherit;
  border-left: 13px solid #086e00;
}

.ar .arrow-green-2 {
  border-right: inherit;
  border-left: 13px solid #237f02;
}

.ar .arrow-green-3 {
  border-right: inherit;
  border-left: 13px solid #479704;
}

.ar .arrow-green-4 {
  border-right: inherit;
  border-left: 13px solid #71b306;
}

.ar .arrow-green-5 {
  border-right: inherit;
  border-left: 13px solid #9ccf09;
}

.ar .arrow-green-6 {
  border-right: inherit;
  border-left: 13px solid #c1e30b;
}

.ar .arrow-yellow-1 {
  border-right: inherit;
  border-left: 13px solid #e5f10c;
}

.ar .arrow-yellow-2 {
  border-right: inherit;
  border-left: 13px solid #f9f00d;
}

.ar .arrow-yellow-3 {
  border-right: inherit;
  border-left: 13px solid #f9d90c;
}

.ar .arrow-red-1 {
  border-right: inherit;
  border-left: 13px solid #f9b80b;
}

.ar .arrow-red-2 {
  border-right: inherit;
  border-left: 13px solid #f98c09;
}

.ar .arrow-red-3 {
  border-right: inherit;
  border-left: 13px solid #f96107;
}

.ar .arrow-red-4 {
  border-right: inherit;
  border-left: 13px solid #f33305;
}

.ar .arrow-red-5 {
  border-right: inherit;
  border-left: 13px solid #e80303;
}