@import '../common-variables';
@import '../themes/theme-2-variables';
@import '../widget-variables';
//@import '../themes/theme-helper';

.appttl {
    width: 100%;
    height: $appttl-bar-height;
    z-index: 100;
    position: absolute;

    @include theme((
        border-bottom: "1px {app-title-border-color} solid",
        background-color: app-title-back-color,
    ));

    @include theme-classic((
            border-bottom: "1px {app-title-border-color} solid",
            background-image: "linear-gradient(0deg, {app-title-back-color} 0%, {app-title-back-color-gradient} 100%)",
            box-shadow: "1.3px 2.2px 7px 0px {app-title-box-shadow-color}"
    ));

    &-height {
      height: $appttl-bar-height;
    }

    &-logo-fore-color {
      @include theme((
              color: app-title-logo-fore-color
      ));
    }

    &-fore-color {
      @include theme((
              color: app-title-fore-color
      ));
    }

    &-fade-fore-color {
      @include theme((
              color: app-title-fade-fore-color
      ));
    }

    &-light-bg-fore-color {
      @include theme((
              color: fore-color
      ));
    }

/*    &-toolbar-fore-color {
      @include theme((
              color: app-title-toolbar-fore-color
      ));
    }*/

  // Green Circle
  &-up-fore-color {
      @include theme((
              color: app-title-up-fore-color
      ));
    }

  // Red Circle
  &-down-fore-color {
      @include theme((
              color: app-title-down-fore-color
      ));
    }

    &-up-back-color {
      @include theme((
              background-color: app-title-up-back-color
      ));
    }

    &-down-back-color {
      @include theme((
              background-color: app-title-down-back-color
      ));
    }

    &-vline {
      @include theme((
              border-left: "1px solid {app-title-vertical-line}"
      ));
    }

    &-logo-upper {
      margin-top: -5px;
      font-size: 10px;
      padding: 2px 4px 2px 4px;
      background-image: -moz-linear-gradient(90deg, #404e6b 0%, #5f6a86 100%);
      background-image: -webkit-linear-gradient(90deg, #404e6b 0%, #5f6a86 100%);
      background-image: -ms-linear-gradient(90deg, #404e6b 0%, #5f6a86 100%);
      border-radius: 3px;
      margin-left: 3px;
      margin-right: 4px;

      @include theme((
              color: app-title-fore-color
      ));
    }

    &-search {
      padding-right: $padding-medium;
      width: 122px;
      border-radius: $radius-xs;

      @include theme((
              height: "29px",
              border: "0 {app-title-border-color} solid",
              background: app-title-edit-control,
      ));

      @include theme-classic((
              height: "24px",
              padding-left: "24px",
              background-image: "linear-gradient(top, {app-title-search-top-color} 0%, {app-title-edit-control} 30%, {app-title-edit-control} 30%, {app-title-search-bottom-color} 100%)"
      ));
    }

    &-search-rsponsive {
      width: 78px;
    }

    & .input-group-btn {
      @include theme((
              display: none
      ));

      @include theme-classic((
              display: block
      ));
    }

    &-btn-search {
      border-style: solid;
      margin-bottom: 0;
      border-radius: 0;
      padding: $padding-small;
      padding-left: $padding-medium;
      font-size: $font-medium;
      margin-top: 0;
      z-index: 2;
      border: 0;
      height: 23px;
      background-color: transparent;
    }

    &-btn-special {
      font-weight: normal !important;
      height: 31px !important;
      border-radius: 0;
      font-size: 11px;
      padding-bottom: 8px;

      @include theme((
              color: app-title-fore-color,
              border: "1px {app-title-ui-control} solid",
              background-color: app-title-ui-control

      ));

      @include theme-classic((
              background-image: "linear-gradient(top, {app-title-ui-control} 0%, {app-title-ui-control-gradient} 100%)"
      ));
    }

    &-btn-special:hover {
      @include theme((
              background: sidebar-nav-bg-color
      ));
    }

    &-toolbar-back-clr {
      @include theme((
              background-color: app-title-toolbar-back-color
      ));

      @include theme-classic((
              background-image: "linear-gradient(top, {app-title-toolbar-back-color} 0%, {app-title-toolbar-back-color-gradient} 30%)"
      ));
    }

    &-version {
      padding-top: 2px;
    }

    &-dark-back-color {
      @include theme((
              background-color: app-title-toolbar-back-color-gradient
      ));
    }

  &-logo-image-size img {
    max-width: 155px;
    max-height: 16px;
  }
}

.modal-symbol {
  position: absolute;
  left: inherit;
  top: 22px;
}

.username-width {
  max-width: 100px;
}

.symbol-search-result-popup {
  left: 10px;
  top: 32px;
}

.top-panel-logo {
  width: 84px;
  height: 64px;
  background-image: url(img/logo-cobranded.png);
}

@import 'extended/app-title-bar-extended';














