@import '../common-variables';
//@import '../themes/theme-helper';

a {
  text-decoration: none;
  outline: 0;
}

a:hover, a:active, a:focus {
  outline: 0;
  text-decoration: none;
}

label.checkbox-label input[type=checkbox] {
  position: relative;
  vertical-align: middle;
  padding: 0px !important;
}

// ---------  Search Box -------------------------------------------------------------------

.search-query {
  padding-left: $padding-small;
  font-size: $font-large;
  border-radius: $radius-xs;

  @include theme((
          height: "27px",
          border: "1px {textbox-border-color} solid",
          color: textbox-fore-color,
          background-color: textbox-back-color
  ));

  @include theme-classic((
          height: "23px",
          background-image: "linear-gradient(top, {textbox-back-color} 0%, {textbox-back-color-gradient} 30%, {textbox-back-color-gradient} 30%, {textbox-back-color-gradient1} 100%)"
  ));
}

.search-ctrl {
  padding-left: 24px;
  padding-right: $padding-medium;
  width: 120px;

  /*  @include theme((
            border-color: textbox-border-color,
            background: widget-edit-control,
    ));

    @include theme-classic((
            background-image: "linear-gradient(top, {widget-edit-control} 0%, {widget-edit-control-back-color-gradient1} 30%, {widget-edit-control-back-color-gradient1} 30%, {widget-edit-control-back-color-gradient2} 100%)"
    ));*/
}

.search-ctrl-btn {
  border-style: solid;
  margin-bottom: 0;
  border-radius: 0;
  padding: $padding-small;
  padding-left: $padding-medium;
  font-size: $font-medium;
  margin-top: 0;
  z-index: 2;
  border: 0;
  height: 23px;
  background-color: transparent;
}

// ---------  /Search Box  -------------------------------------------------------------------

// ---------  Widget Dropdown  ---------------------------------------------------------------

/*.widget-dropdown {
  height: 21px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 3px;
  padding: 4px 5px 4px 5px;

  @include theme((
          color: widget-ui-control-fore-color,
          border: "1px {widget-ui-control-border} solid",
          background-color: widget-ui-control-back-color
  ));

  @include theme-classic((
          background-image: "linear-gradient(0deg, {widget-ui-control-back-color} 0%, {widget-ui-control-back-color-gradient1} 90%, {widget-ui-control-back-color-gradient2} 100%)"
  ));
}*/

// ---------  /Widget Dropdown  ---------------------------------------------------------------

// ---------  Horizontal Lists  -------------------------------------------------------------------

.horizontal-list-left {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  float: $float-1;
}

.horizontal-list-left-1 {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  float: $float-1;
}

.horizontal-list-left li {
  margin-right: 11px;
  float: $float-1;
  vertical-align: middle;
}

.horizontal-list-left li a {
  vertical-align: middle;
}

.horizontal-list-left-v-sep {
  content: "";
  display: inline-block;
  width: 10px;
  height: 18px;
  border-right: 1px solid #1a2128;
  padding: 0;
  position: relative;
  top: 3px;
  margin-left: -$padding-small;
}

.horizontal-list-left input[type="checkbox"] {
  margin: 0px 5px 0 0;
}

.horizontal-list-left input[type="radio"] {
  margin: 0px 5px 0 0;
}

.horizontal-list-right {
  list-style-type: none;
  margin: 0px;
  float: right;
}

.horizontal-list-right li {
  margin-left: 11px;
  float: left;
  line-height: 23px;
  vertical-align: middle;
}

.horizontal-list-right li a {
  vertical-align: middle;
}

.horizontal-list-right-v-sep {
  content: "";
  display: inline-block;
  width: 10px;
  height: 18px;
  border-left: 1px solid #1a2128;
  padding: 0;
  position: relative;
  top: 3px;
  margin-right: -$padding-small;
}

.horizontal-list-right input[type="checkbox"] {
  margin: 0px $padding-small 0 0;
}

.horizontal-list-right input[type="radio"] {
  margin: 0px $padding-small 0 0;
}

// ---------  /Horizontal Lists  -------------------------------------------------------------------

// ---------  Scroll  -------------------------------------------------------------------

.y-scroll {
  overflow-y: scroll;
}

.x-scroll {
  overflow-x: scroll;
}

// ---------  /Scroll  -------------------------------------------------------------------

.text-box {
  height: 24px;
  padding-left: $padding-small;
}

.full-screen-container {
  position: absolute;
  z-index: 0;
  height: 100%;
  max-height: 100%;
  margin-top: -5px;
  margin-left: -5px;
}

.date-input-field {
  height: 23px;
  width: 73px;
  font-size: $font-large;
  font-weight: bold;
  padding: 0 $padding-small 0 $padding-small;
  border-radius: 3px;

  @include theme((
          color: textbox-fore-color,
          border: "1px {textbox-border-color} solid",
          background-color: widget-ui-control-back-color
  ));

  @include theme-classic((
          background-image: "linear-gradient(top, {textbox-back-color} 0%, {textbox-back-color-gradient} 30%, {textbox-back-color-gradient} 30%, {textbox-back-color-gradient1} 100%)"
  ));
}

.settings-dropdown {
  margin-left: -75px;
  margin-right: auto;
}

.btn-default {
  height: 23px;
  padding: $padding-small;
  font-size: $font-medium;
  border-radius: 3px;

  @include theme((
          color: widget-ui-control-fore-color,
          border: "1px {textbox-border-color} solid",
          background-color: widget-ui-control-back-color
  ));

  @include theme-classic((
          border: "1px {widget-ui-control-border} solid",
          box-shadow: "0 1px 0px 0px {box-shadow-color}",
          background-image: "linear-gradient(0deg, {widget-ui-control-back-color} 0%, {widget-ui-control-back-color-gradient1} 90%, {widget-ui-control-back-color-gradient2} 100%)"
  ));
}

// =============  Dropdown Menu ======================

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  text-align: left;
  list-style: none;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-radius: 4px;

  @include theme((
          border-right: "1px {widget-border-color} solid",
          border-bottom: "1px {widget-border-color} solid",
          border-left: "1px {widget-border-color} solid",
          background-color: widget-back-color,
          box-shadow: "1px 1.732px 11px 0px {popup-box-shadow-color}"
  ));
}

ul.dropdown-menu li {
  display: inline-block;
  float: $float-1;
  margin: 0 0 1px 0;
  width: 100%;
}

.dropdown-menu > li > a {
  padding: 5px 10px;
  font-size: $font-medium;

  @include theme((
          color: fade-fore-color
  ));
}

.dropdown-menu .settings-selected a {
  font-size: $font-medium;

  @include theme((
          color: fade-fore-color
  ));
}

.dropdown-menu > li > a:hover, .theme2 .dropdown-menu > li > a:focus {
  @include theme((
          color: app-title-fore-color,
          background-color: widget-title-back-color
  ));
}

// Helps position submenu
.dropdown-submenu {
  position: relative;
}

// Menus under the submenu should show up on the right of the parent
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
}

// Make submenu visible when hovering on link
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu:hover > a:after {
  border-width: 5px 0 5px 5px;
  margin-top: 5px;
  margin-right: -10px;
  float: $float-2;
}

// Set submenu content max height when scroll enabled
.dropdown-submenu-height {
  height: 200px;
}

// ---------  /Dropdown  -------------------------------------------------------------------

.settings-selected {
  @include theme((
          background-color: ticker-back-color
  ));
}

// =============  /Dropdown Menu ======================

// ------------------------ Popup ------------------------

.popup-container-view {
  position: absolute;
  z-index: 500;
  height: 1px;
  max-height: 1px;
}

.popup-container-view-height {
  height: 1px;
  max-height: 1px;
}

.dropdown-text-only {
  background-color: transparent !important;
  background-image: none !important;
  box-shadow: none !important;
  border: none !important;
}

.dropdown-solid-back-color {
  @include theme((
          color: "widget-ui-control-fore-color !important",
          border: "0 {widget-ui-control-border} solid !important",
          background-color: "widget-ui-control-back-color !important"
  ));

  @include theme-classic((
          border: "1px {widget-ui-control-border} solid !important",
          box-shadow: "0 1px 0px 0px {box-shadow-color} !important",
          background-image: "linear-gradient(0deg, {widget-ui-control-back-color} 0%, {widget-ui-control-back-color-gradient1} 90%, {widget-ui-control-back-color-gradient2} 100%) !important"
  ));
}

.dropdown-semi-transparent {
  border-radius: 2px;

  @include theme((
          color: btn-fore-color,
          border: "0px {app-back-color} solid",
          background-image: none,
          background-color: semi-transparent-back-color,
          box-shadow: none,
  ));

  @include theme-classic((
          box-shadow: none
  ));
}

.button-semi-transparent {
  @include theme((
          color: btn-fore-color,
          border: "0px {app-back-color} solid",
          background-image: none,
          background-color: semi-transparent-back-color,
          box-shadow: none,
  ));

  @include theme-classic((
          box-shadow: none
  ));
}

// ------------------------ End Popup ------------------------

.form-control::-webkit-input-placeholder {
  font-style: normal;
}

.form-control:-moz-placeholder {
  font-style: normal;
}

.form-control::-moz-placeholder {
  font-style: normal;
}

.form-control:-ms-input-placeholder {
  font-style: normal;
}

::-webkit-input-placeholder {
  font-style: normal;
}

// Firefox 18-
:-moz-placeholder {
  font-style: normal;
}

// Firefox 19+
::-moz-placeholder {
  font-style: normal;
}

:-ms-input-placeholder {
  font-style: normal;
}

input[type="text"]:disabled {
  @include theme((
          background-color: disable-back-color
  ));

  @include theme-classic((
          background-image: "linear-gradient(top, {disable-back-color} 0%, {disable-back-color} 30%, {disable-back-color} 30%, {disable-back-color} 100%)"
  ));
}

input[type="number"]:disabled {
  @include theme((
          background-color: disable-back-color
  ));

  @include theme-classic((
          background-image: "linear-gradient(top, {disable-back-color} 0%, {disable-back-color} 30%, {disable-back-color} 30%, {disable-back-color} 100%)"
  ));
}

.btn-dropdown:disabled {
  @include theme((
          background-color: disable-back-color
  ));

  @include theme-classic((
          background-image: "linear-gradient(top, {disable-back-color} 0%, {disable-back-color} 30%, {disable-back-color} 30%, {disable-back-color} 100%)"
  ));
}

.kyc-date-field:disabled {
  @include theme((
          background-color: disable-back-color
  ));

  @include theme-classic((
          background-image: "linear-gradient(top, {disable-back-color} 0%, {disable-back-color} 30%, {disable-back-color} 30%, {disable-back-color} 100%)"
  ));
}

/*.btn-default-special {
  height: 21px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 3px;
  padding: 4px 5px 4px 5px;

  @include theme((
          color: widget-ui-control-fore-color,
          border: "1px {widget-ui-control-border} solid",
          background-color: widget-ui-control-back-color
  ));

  @include theme-classic((
          background-image: "linear-gradient(0deg, {widget-ui-control-back-color} 0%, {widget-ui-control-back-color-gradient1} 90%, {widget-ui-control-back-color-gradient2} 100%)"
  ));
}*/

@import 'extended/common-ui-controls-extended';