@import '../common-variables';
@import '../themes/theme-2-variables';
@import '../widget-variables';
//@import '../themes/theme-helper';

.nano {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.nano > .nano-content {
  overflow: scroll;
  overflow-x: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  margin-right: 0px !important;
}

.nano > .nano-content:focus {
  outline: thin dotted;
}

.nano > .nano-content::-webkit-scrollbar {
  display: none;
}

.has-scrollbar > .nano-content::-webkit-scrollbar {
  display: none;
}

.nano > .nano-pane {
  background: rgba(0, 0, 0, 0);
  position: absolute;
  width: 10px;
  right: 0;
  top: 0;
  bottom: 0;
  visibility: hidden \9; // Target only IE7 and IE8 with this hack
  opacity: .01;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.nano > .nano-pane > .nano-slider {
  background: #444;
  background: rgba(0, 0, 0, .5);
  position: relative;
  margin: 0 1px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.nano:hover > .nano-pane, .nano-pane.active, .nano-pane.flashed {
  visibility: visible \9; // Target only IE7 and IE8 with this hack
  opacity: 0.99;
  height: calc(100% - 25px);
  // margin-top: 30px;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  width: $scrollbar-width;

  @include theme((
          -webkit-box-shadow: "inset 10px 0px 1px {fade-back-color}"
  ));
}

::-webkit-scrollbar-track {
  @include theme((
          -webkit-box-shadow: scrollbar-back-color
  ));
}

@import 'extended/nano-scroll-override-extended';

