
@import '../common-variables.scss';
//@import '../themes/theme-helper';
@import '../widget-variables';
@import '../app-layout/app-layout';

.appmnu {
  top: 0;
  width: $appmnu-width;
  margin: 0;
  padding: 0;
  list-style: none;

  @include theme((
		  background: app-menu-back-color,
  ));

  @include theme-classic((
		  background-image: "linear-gradient(90deg, {app-menu-back-color} 0%, {app-menu-back-color} 100%)"
  ));

  & li {
	height: $appmnu-height;
	text-align: center;
	padding: 13px 0 10px 0;

	@include theme((
			color: app-menu-fore-color
	));
  }

  & li a {
	display: block;
	text-decoration: none;
	font-size: $font-medium;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
  }

  & li:hover {
	text-decoration: none;
	cursor: pointer;

	@include theme((
			color: app-menu-fore-color-hover,
			background-color: app-menu-back-color-hover
	));
  }

  &-active {
	padding-top: $padding-small;
  }

  &-active a {
	@include theme((
			color: app-menu-selected-fore-color
	));
  }

  & li a:active, & li a:focus {
	text-decoration: none;
  }

  & > .sidebar-brand {
	height: 65px;
	font-size: $font-xxx-large;
	line-height: 60px;
  }

  &-sidebar-active {
	@include theme((
			color: app-menu-selected-fore-color,
			background-image: "linear-gradient(90deg, {app-menu-selected-back-color} 0%, {app-menu-selected-back-color} 23%, {app-menu-selected-back-color} 45%, {app-menu-selected-back-color} 100%)"
	));

	@include theme-classic((
			border-top: "1px {app-menu-selected-border-top} solid",
			border-bottom: "1px {app-menu-selected-border-bottom} solid",
			background-image: "linear-gradient(90deg, {app-menu-selected-back-color} 0%, {app-menu-selected-back-color-gradient1} 23%, {app-menu-selected-back-color-gradient2} 45%, {app-menu-selected-back-color-gradient3} 100%)"
  	));
  }

  &-sidebar-active a {
	@include theme((
			color: app-menu-selected-fore-color
	));
  }

  & span.glyphicon {
	font-size: $font-4x-large;
  }

  &-fore-color {
	@include theme((
			color: app-menu-fore-color
	));
  }
}
