@import '../common-variables.scss';
//@import '../themes/theme-helper';
@import '../widget-variables';
@import '../app-layout/app-layout';
@import '../themes/theme-1-variables';
@import '../themes/theme-2-variables';

.widget {
    &-tab-panel {
      border-radius: $radius-xm;

      @include theme-classic((
              box-shadow: "0 1px 0px 0px {box-shadow-color}"
      ));
    }

    &-tab-panel .active {
      @include theme((
              border: "3px {tab-color-border} solid"
      ));

      @include theme-classic((
              border: "1px {tab-selected-color-border} solid",
      ));
    }

    &-tab-panel .active a {
      @include theme((
              border-radius: "5px",
              color: tab-selected-fore-color,
              background-color: tab-selected-back-color
      ));

      @include theme-classic((
              border-radius: "0",
              background-image: "linear-gradient(0deg, {tab-selected-back-color} 0%, {tab-selected-back-color-gradient} 100%)"
      ));
    }

    &-tab-panel .active a:hover {
      @include theme((
              color: tab-selected-fore-color,
      ));
    }

    // Widget Tab Item
    &-tab-item {
      @include theme((
              border-top: "3px {tab-color-border} solid",
              border-bottom: "3px {tab-color-border} solid",
              border-left: "0 {tab-color-border} solid",
              border-right: "3px {tab-color-border} solid",
              background-color: tab-back-color
      ));

      @include theme-classic((
              border-top: "1px {tab-color-border} solid",
              border-bottom: "1px {tab-color-border} solid",
              border-left: "0 {tab-color-border} solid",
              border-right: "1px {tab-color-border} solid",
              background-image: "linear-gradient(0deg, {tab-back-color} 0%, {tab-back-color-gradient} 100%)"
      ));
    }

    &-tab-item a {
      @include theme((
              padding: "3px 10px",
              color: tab-fore-color
      ));

      @include theme-classic((
              padding: "5px 10px"
      ));
    }

    &-tab-item a:hover {
      @include theme((
              color: tab-fore-color-hover
      ));
    }

    &-tab-item:first-child {
      border-radius: $radius-xm 0 0 $radius-xm;

      @include theme((
              border-left: "1px {tab-color-border} solid"
      ));
    }

    &-tab-item.active:first-child {
      @include theme((
              border-left: "3px {tab-color-border} solid"
      ));

      @include theme-classic((
              border-left: "0 {tab-color-border} solid"
      ));
    }

    &-tab-item:last-child {
      border-radius: 0 $radius-xm $radius-xm 0;
    }
}

@import 'extended/tabs-extended';


