<div id="proChartContainer-{{wkey}}" class="widget_new full-height chart-dropdown">
    {{widget-header
    linkOptions=links
    defaultSelectedLink=defaultLink
    selectedLink=selectedLink
    setLink='setLink'
    widgetTitle=app.lang.labels.proChartTitle
    innerWidgets=innerWidgets
    innerWidgetAction="renderInnerWidgetItems"
    isWidgetCloseAvailable=isWidgetCloseAvailable
    closeWidgetAction= 'closeWidgetAction'
    closeActionTarget=controller
    cursorMoveCss=cursorMoveCss
    app=app}}
    <div class="full-height widget-container-new">
        <!-- Chart tool-bar -->
        <div class="layout-container full-width font-m pro-chart-ctrl-panel pos-rel pad-widget-top pad-widget-left pad-widget-right">
            <div class="layout-container">
                <div class="layout-col">
                    <!--  =========  Search Box - 01 =============  -->
                    <div data-id="chart-search" class="input-group pro-chart-search-width">
                        {{input-field-text type="text" value=searchKey action="showSearchPopup" onKeyPress="showSearchPopup" class="search-query search-ctrl form-control mousetrap" placeholder=app.lang.labels.chartBaseSymbol}}

                        <div class="input-group-btn pos-abs top-zero">
                            <button class="btn search-ctrl-btn" {{action 'showSearchPopup'}} >
                                <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>

                    <!--  =========  /Search Box - 01 =============  -->

                    <div class="modal-symbol chart-search-popup-position">
                        {{#modal-popup isEnabled=false id=searchSymbolKey}}
                            {{global-search
                            enableContentSettings=false
                            searchKey=searchKey
                            showWidgetButtons=showWidgetButtons
                            closePopup='closeSearchPopup'
                            openPopup='showSearchPopup'
                            stopGlobalNotification=true
                            clickAction='onSearchSymbolSelected'
                            analyticsKey=gaKey
                            wkey=searchSymbolKey}}
                        {{/modal-popup}}
                    </div>
                </div>

                <div class="layout-col border-right pro-chart-separator pad-l-l"></div>

                <div id="periodsDropdownContainer-{{wkey}}" class="layout-col">
                    <div id="periodsDropdown-{{wkey}}" data-id="period-dropdown" {{bind-attr class=":layout-col :overflow-visible isChartRespDisabled:pad-l-l"}}>
                        {{tab-dropdown
                        isDropdown=isPeriodsDropdown
                        displayList=periods
                        newActive=chartPeriodNewActive
                        tabTooltipLabel='chartperiodTitle'
                        defaultSelect=chartPeriod
                        labelKey='DisplayName'
                        actionName='setChartPeriod'
                        tabPanelClass='widget-tab-panel'
                        tabItemClass='layout-inline widget-tab-item'
                        tabLinkClass='layout-inline'
                        }}
                    </div>
                </div>

                <div data-id="chartCategories-dropdown" class="layout-col dropdown overflow-visible pad-l-l">
                    {{bootstrap-dropdown-select
                    options=chartCategories
                    value=chartCategory.DisplayName
                    valueKey='DisplayName'
                    labelKey='DisplayName'
                    selectAction='setChartCategory'
                    toolTip=app.lang.labels.chartModeTitle
                    responsiveIcon=(onResponsive responsive.trigger responsive "chart-right" 2)
                    iconClass='icon-pro-chart'}}
                </div>

                <div data-id="intervals-dropdown" class="layout-col pad-m-l dropdown overflow-visible">
                    {{bootstrap-dropdown-select
                    options=intervals
                    value = chartInterval.DisplayName
                    valueKey='DisplayName'
                    labelKey='DisplayName'
                    selectAction='setChartInterval'
                    toolTip=app.lang.labels.chartIntvTitle
                    responsiveIcon=(onResponsive responsive.trigger responsive "chart-right" 3)
                    iconClass='icon-graph1'}}
                </div>

                <div data-id="chartStyles-dropdown" class="layout-col dropdown overflow-visible pad-m-l">
                    {{bootstrap-dropdown-select
                    options=chartStyles
                    value = chartStyle.DisplayName
                    valueKey='DisplayName'
                    labelKey='DisplayName'
                    selectAction='setChartStyle'
                    toolTip=app.lang.labels.chartStyleTitle
                    responsiveIcon=(onResponsive responsive.trigger responsive "chart-right" 4)
                    iconClass='icon-chart-area'}}
                </div>

                <div class="layout-col border-right pro-chart-separator pad-l-l"></div>

                <div class="layout-col pad-l-l dropdown overflow-visible">
                    <button class="btn  btn-default dropdown-toggle background-color-none" type="button" data-toggle="dropdown" id="dropdownMenu1">
                        {{app.lang.labels.chartIndicator}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown dropdown-menu">
                        {{#if averageIndicators}}
                            <li class="dropdown-submenu">
                                <a>{{app.lang.labels.chartIndiAverages}}</a>
                                <ul class="dropdown dropdown-menu" role="menu" aria-labelledby="menu1">
                                    {{#each item in averageIndicators}}
                                        <li><a {{action 'studyDialog' item}}>{{item.DisplayName}}</a></li>
                                    {{/each}}
                                </ul>
                            </li>
                        {{/if}}
                        {{#if bandIndicators}}
                            <li class="dropdown-submenu">
                                <a>{{app.lang.labels.chartIndiBands}}</a>
                                <ul class="dropdown dropdown-menu" role="menu" aria-labelledby="menu1">
                                    {{#each item in bandIndicators}}
                                        <li><a {{action 'studyDialog' item}}>{{item.DisplayName}}</a></li>
                                    {{/each}}
                                </ul>
                            </li>
                        {{/if}}
                        {{#if otherIndicators}}
                            <li class="nano dropdown-submenu overflow-visible">
                                <a>{{app.lang.labels.chartIndiOthers}}</a>
                                <ul class="nano-content dropdown dropdown-menu dropdown-submenu-height" role="menu" aria-labelledby="menu1">
                                    {{#each item in otherIndicators}}
                                        <li><a {{action 'studyDialog' item}}>{{item.DisplayName}}</a></li>
                                    {{/each}}
                                </ul>
                            </li>
                        {{/if}}
                        {{#if allIndicators}}
                            <li class="nano dropdown-submenu overflow-visible">
                                <a>{{app.lang.labels.chartIndiAll}}</a>
                                <ul class="nano-content dropdown dropdown-menu dropdown-submenu-height" role="menu" aria-labelledby="menu1">
                                    {{#each item in allIndicators}}
                                        <li><a {{action 'studyDialog' item}}>{{item.DisplayName}}</a></li>
                                    {{/each}}
                                </ul>
                            </li>
                        {{/if}}
                    </ul>
                </div>

                <div class="layout-col pad-m-l overflow-visible hint--bottom hint--rounded hint--bounce" data-hint="{{app.lang.labels.chartShowVol}}">
                    <button id="volume-btn" class="chart-btn-icon" {{action 'onToggleVolume'}} type="button" >
                        <i class="chart-show-volume"></i>
                    </button>
                </div>

                <div class="layout-col overflow-visible hint--bottom hint--rounded hint--bounce" data-hint="{{app.lang.labels.chartShowCrosH}}">
                    <button id="crosshair-btn" class="chart-btn-icon" {{action 'onToggleCrossHair'}} type="button" >
                        <i class="chart-show-cross-hair"></i>
                    </button>
                </div>

                <div class="layout-col dropdown chart-icon-btn  pad-m-l overflow-visible">
                    <button data-hint="{{app.lang.labels.chartGridTitle}}" class="hint--bottom hint--rounded hint--bounce btn btn-default dropdown-toggle background-color-none dropdown-chart-grid" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class={{selectedGridType.Icon}}></i>
                        <span class="caret mgn-s-t"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        {{#each item in gridTypes}}
                            <li><a {{action 'setChartGridStyle' item}}><i class="chart-btn-icon pad-s-r {{item.Icon}}"></i>{{item.DisplayName}}</a></li>
                        {{/each}}
                    </ul>
                </div>

                {{#if isChartRespDisabled}}
                    <div class="layout-col border-right pro-chart-separator pad-l-l"></div>
                {{/if}}

                <!--  =========  Search Box - 02 =============  -->
                <div id="chartCompareContainer-{{wkey}}" class="layout-col">
                    <div id="chartCompare-{{wkey}}" class="layout-col">
                        <div class="layout-col pad-l-l">
                            <div data-id="chart-compare" class="input-group pro-chart-compare-width pos-rel">
                                {{input-field-text type="text" value=searchKeyCompare action="showSearchComparePopup" onKeyPress="showSearchComparePopup" class="search-query search-ctrl form-control mousetrap" placeholder=app.lang.labels.chartCompareSymbol}}
                                <div class="input-group-btn pos-abs top-zero">
                                    <button class="btn search-ctrl-btn" {{action 'showSearchComparePopup'}} >
                                        <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="layout-col modal-symbol prochart-symbol-fix overflow-visible chart-search-popup-position">
                            {{#modal-popup isEnabled=false id=compareSymbolKey}}
                                {{global-search
                                enableContentSettings=false
                                searchKey=searchKeyCompare
                                showWidgetButtons=showWidgetButtons
                                stopGlobalNotification=true
                                clickAction='onCompareSymbol'
                                closePopup='closeSearchComparePopup'
                                openPopup='showSearchComparePopup'
                                analyticsKey=gaKey
                                wkey=compareSymbolKey}}
                            {{/modal-popup}}
                        </div>
                    </div>
                </div>
                <!--  =========  /Search Box - 02 =============  -->

                <div data-id="chart-right" class="layout-col-24 "></div>

                <!-- Expand Buttion -->
                <div class="layout-col v-top overflow-visible">
                    <div class="hint--bottom-left hint--bounce hint--rounded" data-hint="{{fullScreenToggleTitle}}"><a class="cursor-pointer"><i class="icon-maximize" {{action 'onToggleFullScreenMode'}} style="font-size: 16px"></i></a></div>
                </div>
                <!-- End Expand Buttion -->
            </div>

            <div {{bind-attr class=":layout-container :full-width :font-m :pos-rel isChartRespDisabled:padding-zero:pad-m-t"}}>
                <div id="periodsDropdownResLocation-{{wkey}}" class="layout-col v-top overflow-visible"></div>
                <div id="chartCompareResLocation-{{wkey}}" class="layout-col v-top overflow-visible"></div>
                <div class="layout-col-24"></div>
            </div>
        </div>
        <!-- End Chart tool-bar -->

        <!-- Chart Body -->
        <div style="margin: 0px; float: left; width: 100%;" {{bind-attr class=":full-width isChartRespDisabled:pro-chart-content:pro-chart-content-responsive :pad-widget-top"}}>

            <!-- Chart Line Studies -->
            <div class="prochart-line-studies-back" style="display: inline-block;float: left; width:43px">
                <ul style="list-style-type: none; margin: 0px;">
                    <li>
                        <button data-hint="{{app.lang.labels.chartLineSTrend}}" id="segment" class="hint--right hint--rounded hint--bounce chart-btn-icon chart-tab-icon" type="button" {{action 'setLineStudy' 'segment'}}> <i class="chart-trend-line"></i> </button>
                    </li>
                    <li>
                        <button data-hint="{{app.lang.labels.chartLineSHorizontal}}" id="horizontal" class="hint--right hint--rounded hint--bounce chart-btn-icon chart-tab-icon" type="button" {{action 'setLineStudy' 'horizontal'}}> <i class="chart-horizontal-line"></i> </button>
                    </li>
                    <li>
                        <button data-hint="{{app.lang.labels.chartLineSVertical}}" id="vertical" class="hint--right hint--rounded hint--bounce chart-btn-icon chart-tab-icon" type="button" {{action 'setLineStudy' 'vertical'}}> <i class="chart-vertical-line"></i> </button>
                    </li>
                    <li>
                        <button data-hint="{{app.lang.labels.chartLineSRec}}" id="rectangle" class="hint--right hint--rounded hint--bounce chart-btn-icon chart-tab-icon" type="button" {{action 'setLineStudy' 'rectangle'}}> <i class="chart-rectangle"></i> </button>
                    </li>
                    <li>
                        <button data-hint="{{app.lang.labels.chartLineSEllipse}}" id="ellipse" class="hint--right hint--rounded hint--bounce chart-btn-icon chart-tab-icon" type="button" {{action 'setLineStudy' 'ellipse'}}> <i class="chart-ellipse"></i> </button>
                    </li>
                </ul>
            </div>
            <!-- End Chart Line Studies -->

            <!-- Chart Container -->
            <div style="display: inline-block; margin: 0; padding: 0; float: right; height: 100%; width: calc(100% - 55px);">
                <div id="chartContainer" class="{{chartContainer}}" style="height: calc(100% - 13px); position:relative">
                    <ul class="stx-chart-summary-label">
                        <li>
                            <div class="stx-panel-symbol ltr">{{symbolObj.dispProp1}}</div>
                            <div class="stx-panel-description">{{symbolObj.sDes}}</div>
                            <!--<div class="stx-btn-panel" style="float: left;"><span class="stx-ico-edit"></span></div>-->
                            <div class="stx-panel-ltp">{{symbolLTP}}</div>
                        </li>
                        <li>
                            <div class="chart-data-view">
                                <ul class="hu left" style="float: left;">
                                    <li><span class="font-s header-colour">O: </span><span id="huOpen" class="font-s colour-normal" style="font-weight: bold">{{pointOpen}}</span></li>
                                    <li><span class="font-s header-colour">H: </span><span id="huHigh" class="font-s colour-normal" style="font-weight: bold">{{pointHigh}}</span></li>
                                    <li><span class="font-s header-colour">L: </span><span id="huLow" class="font-s colour-normal" style="font-weight: bold">{{pointLow}}</span></li>
                                    <li><span class="font-s header-colour">C: </span><span id="huClose" class="font-s colour-normal" style="font-weight: bold">{{pointClose}}</span></li>
                                    <li><span class="font-s header-colour">V: </span><span id="huVolume" class="font-s colour-normal" style="font-weight: bold">{{pointVolume}}</span></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="chart-data-view">
                                <span class="font-s header-colour">D: </span><span id="huDate" class="font-s colour-normal" style="font-weight: bold">{{pointDate}}</span>
                            </div>
                        </li>
                        {{#each item in activeTechStudies}}
                            <li><div style="float: left; margin-left: 5px; margin-top: 5px; min-width: 100%;">{{item.key}} {{item.value}}</div></li>
                        {{/each}}
                    </ul>
                    <div class="stx-volume-panel stx-chart-summary-label" style="top: {{volumeToTop}}px; visibility: {{volumeVisibility}};">
                        <span class="font-s header-colour">{{app.lang.labels.chartVolume}} </span><span id="volumePanel" class="font-s colour-normal" style="font-weight: bold;">{{lastVolume}}</span>
                    </div>
                    <img class="stx-loader" src="assets/images/chartIQ/stx-loading.gif" style="display:none; z-index:100">
                </div>
            </div>
            <!-- End Chart Container -->
        </div>
        <!-- End Chart Body -->

        <!-- Dialog Container -->
        <div class="stx-dialog-container">
            <!-- The studyDialog is a general purpose dialog for entering the parameters for studies. It may be customized so long
            as the id an class names remain the same. Note that it contains templates which are replicated dynamically -->
            <div id="studyDialog" style="display:none; height: auto; width: 320px; padding-top: 5px; padding-bottom: 10px;" class="stx-dialog">
                <h4 class="title font-l"></h4>
                <div {{action 'dismissStudyDialog' }} class="stx-btn stx-ico pad-s-all"><i class="icon-close-round" title="Close"></i></div>
                <div id="inputs">
                    <div class="inputTemplate" style="display:none">
                        <div class="stx-heading font-m" style="margin-bottom: 5px"></div>
                        <div class="stx-data" style="margin-bottom: 5px"></div>
                    </div>
                </div>
                <div id="outputs">
                    <hr/>
                    <div class="outputTemplate" style="display:none">
                        <div class="stx-heading font-m" style="margin-bottom: 5px"></div>
                        <div class="stx-color"><span></span></div>
                    </div>
                </div>
                <div id="parameters"></div>
                <div {{action 'createStudy' }} class="stx-btn">{{app.lang.labels.create}}</div>
            </div>

        </div>
        <!-- End Dialog Container -->
    </div>
</div>
