<div class="widget_new full-height pad-s-b">
    <div style="height:calc(100% - 0px);">
        <div class="left full-width full-height">

            {{#unless isTitleDisabled}}
                {{widget-header
                widgetTitle=app.lang.labels.chart
                symbol=symbolObj.dispProp1
                hideWidgetLink=hideWidgetLink
                isTabAvailable=true titleTabs=arrDisplayPeriods tabClass="nav-tabs-dq-charts" tabAction='chartTypeSelected'
                linkOptions=links defaultSelectedLink=defaultLink selectedLink=selectedLink setLink='setLink'
                hideSymbol=hideSymbol
                searchedSymbol=symbolObj.dispProp1
                innerWidgets=innerWidgets
                innerWidgetAction="renderInnerWidgetItems"
                isWidgetCloseAvailable=isWidgetCloseAvailable
                closeWidgetAction= 'closeWidgetAction'
                closeActionTarget=controller
                isSearchAvailable=isSearchAvailable
                searchID=searchID
                clickAction='changeSymbol'
                cursorMoveCss=cursorMoveCss
                app=app}}
            {{/unless}}

            <div class="widget-container-new pad-widget-left pad-widget-right pad-widget-top pad-s-b" style="height:calc(100% - {{if isTablet '28px' '19px'}});">
                <div {{bind-attr class=":regular-chart-container :dq_chart :full-width chartContainer"}} role="tabpanel" id="dq_chart" style="height:calc(100% - 0px); position:relative;">
                    <img class="stx-loader" src="assets/images/chartIQ/stx-loading.gif" style="display:none; z-index:100">
                </div>
            </div>
        </div>
    </div>
</div>


