<div class="layout-container full-width pad-m-tb pad-m-lr">
    <div class="layout-row">
        <div class="layout-container full-width pad-m-b pad-l-lr">
            <div class="layout-col-6  font-m ">{{app.lang.labels.investmentPercentage}}</div>
            <div class="layout-col-4  font-m">
                {{bootstrap-dropdown-select
                options=capitalAmountCollection
                value= dataObj.capitalAmt
                valueKey='code'
                labelKey='des'
                buttonClass=buttonClass
                }}
            </div>
            <div class="layout-col-2  font-m "></div>
            <div class="layout-col-6  font-m ">{{app.lang.labels.generalInvestmentObjectives}}</div>
            <div class="layout-col-4  font-m ">
                {{bootstrap-dropdown-select
                options=investmentObjectivesCollection
                value= dataObj.invObjec
                valueKey='code'
                labelKey='des'
                buttonClass=buttonClass
                }}
            </div>
        </div>
    </div>
    <div class="layout-row">
        <div class="layout-container full-width  pad-m-b pad-l-lr">
            <div class="layout-col-6  font-m ">{{app.lang.labels.investmentPeriod}}</div>
            <div class="layout-col-4  font-m ">
                {{bootstrap-dropdown-select
                options=investmentPeriodCollection
                value= dataObj.invPeriod
                valueKey='code'
                labelKey='des'
                buttonClass=buttonClass
                }}
            </div>
            <div class="layout-col-2  font-m "></div>
            <div class="layout-col-6  font-m ">{{app.lang.labels.isTradedInLocalShares}}</div>
            <div class="layout-col-4  font-m ">
                {{bootstrap-dropdown-select
                options=yesNoCollection
                value= dataObj.isTradedLocal
                valueKey='code'
                labelKey='des'
                buttonClass=buttonClass
                }}
            </div>
        </div>
    </div>
    <div class="layout-row">
        <div class="layout-container full-width  pad-m-b pad-l-lr">
            <div class="layout-col-6  font-m ">{{app.lang.labels.investmentExperience}}</div>
            <div class="layout-col-4  font-m ">
                {{bootstrap-dropdown-select
                options=investmentExperienceCollection
                value= dataObj.invExp
                valueKey='code'
                labelKey='des'
                buttonClass=buttonClass
                }}
            </div>
            <div class="layout-col-2  font-m "></div>
            <div class="layout-col-6  font-m ">{{app.lang.labels.isTradedInInternationalShares}}</div>
            <div class="layout-col-4  font-m ">
                {{bootstrap-dropdown-select
                options=yesNoCollection
                value= dataObj.isTradedInternational
                valueKey='code'
                labelKey='des'
                buttonClass=buttonClass
                }}
            </div>
        </div>
    </div>
    <div class="layout-row">
        <div class="layout-container full-width  pad-m-b pad-l-lr">
            <div class="layout-col-6  font-m ">{{app.lang.labels.riskTolerance}}</div>
            <div class="layout-col-4  font-m ">
                {{bootstrap-dropdown-select
                options=riskToleranceCollection
                value= dataObj.riskTol
                valueKey='code'
                labelKey='des'
                buttonClass=buttonClass
                }}
            </div>
            <div class="layout-col-2  font-m "></div>
            <div class="layout-col-6  font-m ">{{app.lang.labels.isTradedInBondsSukuk}}</div>
            <div class="layout-col-4  font-m ">
                {{bootstrap-dropdown-select
                options=yesNoCollection
                value= dataObj.isTradedBondsSukuk
                valueKey='code'
                labelKey='des'
                buttonClass=buttonClass
                }}
            </div>
        </div>
    </div>
    <div class="layout-row">
        <div class="layout-container full-width  pad-m-b pad-l-lr">
            <div class="layout-col-6  font-m ">{{app.lang.labels.hasOtherCompanyInvestmentAcc}}</div>
            <div class="layout-col-4  font-m ">
                {{bootstrap-dropdown-select
                options=yesNoCollection
                value= dataObj.invAccOtherCom
                valueKey='code'
                labelKey='des'
                buttonClass=buttonClass
                }}
            </div>
            <div class="layout-col-2  font-m "></div>
            <div class="layout-col-6  font-m "></div>
            <div class="layout-col-4  font-m "></div>
        </div>
    </div>

    {{#if isRequiredFieldsNotFilled}}
        <div class="layout-row">
            <div class="layout-container full-width pad-m-tb pad-l-lr">
                <div class="layout-col  font-m down-fore-color">{{app.lang.messages.mandatoryFields}} </div>
            </div>
        </div>
    {{/if}}

    <div class="layout-row">
        <div class="layout-container full-width pad-m-tb pad-l-lr border-top">
            <div class="layout-inline">
                <button type="submit"
                        class="btn btn-dropdown btn-default kyc-btn" {{action 'onSaveInvestmentsInfo'}}>{{app.lang.labels.save}}</button>
            </div>
            <div class="layout-inline pad-l-l">
                <button class="pad-l-lr btn btn-dropdown btn-default kyc-btn" {{action 'onCancel'}}>{{app.lang.labels.cancel}}</button>
            </div>
        </div>
    </div>
    <div class="layout-row">
        <div {{bind-attr class=":layout-container :pad-m-t :pad-l-l isMsgEnable:pad-m-b"}}>
            <div {{bind-attr class=":layout-col :font-m msgCss"}}>{{message}}</div>
        </div>
    </div>
</div>
