<div class="widget_new full-width full-height">
    <div class="layout-container full-width font-m pad-l-lr pad-m-t">
        <div class="layout-col">
            {{#if isNativeDevice}}
                <button class="date-input-field" {{action 'pickDate' true}}> {{displayFromDate}} </button>
                <span><i class="glyphicon glyphicon-minus font-m"></i></span>
                <button class="date-input-field" {{action 'pickDate'}}> {{displayToDate}}</button>
            {{else}}
                {{bootstrap-datepicker
                language=lan
                placeholder=app.lang.labels.fromDate
                class="date-input-field"
                value=fromDate
                autoclose=true
                endDate=toDate
                readonly=true
                }}

                <span><i class="glyphicon glyphicon-minus font-m"></i></span>

                {{bootstrap-datepicker
                language=lan
                placeholder=app.lang.labels.toDate
                class="date-input-field"
                value=toDate
                autoclose=true
                startDate=fromDate
                endDate=toEndDate
                readonly=true
                }}
            {{/if}}
        </div>
    </div>

    <div class="full-width widget-hline pad-l-lr mgn-m-t"></div>

    <div class="y-scroll hide-scroll" style="height: calc(100% - 75px);">
        <div class="layout-container full-width full-height">
            {{loading-indicator isLoading=isLoading}}
            {{single-message-viewer message=errorMessage showMessage=showError messageCss='appttl-light-bg-fore-color' backgroundCss='h-middle'}}
            {{#each obj in content}}
                <div class="layout-container full-width pad-widget-left pad-widget-right">
                    <div class="layout-container full-width">
                        <div class="layout-row">
                            <div class="layout-col-8 font-m">
                                <div class="pad-m-t"><span class="fade-fore-color">{{app.lang.labels.symbol}}</span></div>
                                <div class="pad-s-t"><span class="fore-color bold">{{obj.sym}}</span></div>
                            </div>
                            <div class="layout-col-8 font-m pad-m-l">
                                <div class="pad-m-t h-right"><span class="fore-color bold">{{obj.subNo}}</span></div>
                                <div class="pad-s-t h-right"><span class="fore-color bold">{{formatNumber obj.netValue 2}}</span></div>
                            </div>
                            <div class="layout-col-8 font-m pad-m-l h-right">
                                <div class="h-middle font-l progress-bar-order-list-width full-width {{getStatusColor obj.status}} " >
                                    <div class="pad-s-lr pad-m-tb ellipsis"> {{obj.statusLabel}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layout-container full-width">
                        <div class="layout-row">
                            <div class="layout-col-8 font-m">
                                <div class="pad-m-t"><span class="fade-fore-color">{{app.lang.labels.date}}</span></div>
                                <div class="pad-s-t"><span class="fore-color bold">{{formatToDate obj.subDate}}</span></div>
                            </div>
                            <div class="layout-col-8 font-m pad-m-l">
                                <div class="pad-m-t h-right"><span class="fade-fore-color">{{app.lang.labels.averagePrice}}</span></div>
                                <div class="pad-s-t h-right"><span class="fore-color bold">{{formatNumber obj.avgPrice 2}}</span></div>
                            </div>
                            <div class="layout-col-8 font-m pad-m-l">
                                <div class="pad-m-t h-right"><span class="fade-fore-color">{{app.lang.labels.quantity}}</span></div>
                                <div class="pad-s-t h-right"><span class="fore-color bold">{{obj.qty}}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="full-width widget-hline-solid pad-l-lr mgn-m-t"></div>
            {{/each}}
        </div>
    </div>
</div>
