.ar .pie-chart-value {
  right: 71%;
  left: 0%;
}

.ar .order-list-transparent-panel {
  padding-left: 34px;
  padding-right: 0;
}

.ar .datepicker-padding {
  padding-right: 25px;
  padding-left: 0;
}

.ar .datepicker {
  right: 9% !important;
  left: 0 !important;
}

.ar .btn-subscribe {
  max-width: 90%;
}