<div class="full-height full-width app-border pos-abs">
    <!--Title bar-->
    <div class="appttl-height">
        {{outlet "titleBarOutlet"}}
    </div>

    <!--Top panel-->
    <div class="ms-top-bar">
        {{ outlet "topPanelOutlet"}}
    </div>

    {{#if isHorizontalPanel}}
        <!--Horizontal panel-->
        <div class="horizontal-panel full-height pos-rel" style="z-index: 10">
            {{ outlet "menuPanelOutlet"}}
        </div>
    {{/if}}

    <!--Main panel-->
    <div class="{{if isHorizontalPanel 'mid-col-horizontal-panel' 'mid-col'}} pos-rel container-back-color">

        {{#unless isHorizontalPanel}}
            <!--Left panel-->
            <div class="left-panel pos-abs full-height">
                {{ outlet "menuPanelOutlet"}}
            </div>
        {{/unless}}

        <!--Content panel-->
        <div class="{{if isHorizontalPanel 'main-panel-h-nav' 'main-panel'}} {{mainPanelStyle}} full-height pos-abs">
            <!--Main content panel-->
            <div class="{{mainOutletStyle}}">
                {{ outlet "mainPanelOutlet"}}
            </div>

            <!--Right panel-->
            <div style="{{{rightPanelStyle}}}" class="col-md-2 col-xs-0 pad-s-b rtpnl-height">
                <div class="full-width full-height widget-outlet">
                    {{ outlet "rightPanelOutlet"}}
                </div>
            </div>
        </div>

        <!--TODO: [Bashitha] Temporarily adding to fix right panel width issue when caching enabled-->
        <!--Fixed content panel with right panel enable, to take required width for right panel-->
        <div class="main-panel main-panel-width-responsive full-height pos-abs" style="z-index: -9999">
            <!--Main content panel-->
            <div class="col-md-10 col-xs-12 full-height"></div>
            <!--Right panel-->
            <div class="col-md-2 col-xs-0 pad-s-b rtpnl-height">
                <div class="full-height"><div class="widget_new full-height right-panel mgn-s-t mgn-s-l">
                    {{widget-header hideWidgetLink=true hideSymbol=true isIconTabAvailable=true titleTabs=appLayout.layout.rightPanel.content tabAction='renderRightPanelItems' wkey=wkey}}
                    <div id="rpl-parent-newsAnn" class="nano has-scrollbar right-panel-height pos-abs" style="z-index: -100">
                        <div id="rpl-newsAnn" name="mpl-newsAnn" class="widget-container-new nano-content full-height">
                            <div class="tab-content full-height">
                                {{outlet "newsAnn"}}
                            </div>
                        </div>
                    </div>
                    <div id="rpl-parent-watchList" class="right-panel-height pos-abs" style="z-index: -400">
                        <div id="rpl-watchList" name="mpl-watchList" class="widget-container-new">
                            <div class="tab-content full-height">
                                {{outlet "watchList"}}
                            </div>
                        </div>
                    </div>
                </div></div>
            </div>
        </div>
        <!--End TODO: [Bashitha] Temporarily adding to fix right panel width issue when caching enabled-->

        <!--Right panel-->
        <div class="rtpnl-container right-panel-collapse-menu media-visibility pos-abs pad-s-l full-height" style="{{rightCollapseStyle}}">
            <!--Display collapse menu when view port = 991px by using media query-->
            {{right-panel-collapse}}
        </div>
    </div>
</div>
<div>
    <!--Other content-->
    <!--Popup container-->
    <div class="popup-container-view">
        {{view 'popup-container-view' style="height: 1px; max-height: 1px;"}}
    </div>

    <!--Modal popup-->
    <div>
        {{#modal-popup isEnabled=false  id='popupId' isRegistered=true}}
            {{ outlet "modalPopupContent"}}
        {{/modal-popup}}
    </div>

    <!--ChangePassword popup-->
    <div>
        {{password-change isEnabled=false id='changePasswordPopupId' isRegistered=true}}
    </div>

    <div>
        {{about-us-popup isEnabled=false id='aboutUsPopupID' isRegistered=true}}
    </div>

    <!--Full screen container-->
    <div id="fullScreenContainer" class="full-screen-container"></div>

    <!--Full screen widget container-->
    <div id="fullScreenWidgetContainer">
        {{ outlet "fullScreenWidgetOutlet"}}
    </div>

    <!--Message box container-->
    {{message-box id="message-box"}}
</div>
