.overlay-body{
  width: 100% !important;
  height: 100vh !important;
  background-color: #112348 !important;
  background-image: url("../assets/img/bg-icap.png") !important;
  background-position: right bottom !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
}

.login-input {
  background-color:#2b3b5c !important;
}