// Use !important to all the properties in this file since these classes are overriding the classes of index.html
.overlay-body {
  width: 100% !important;
  height: 100vh !important;
  background: #e8f5ee !important;
}

.login-input {
  background-color: #046b33 !important;
}

.txt {
  color: #707170 !important;
}

.login-input {
  $placeholder-color: #EAEAEA;

  &::-webkit-input-placeholder {
    color: $placeholder-color !important;
  }

  &:-moz-placeholder {
    color: $placeholder-color !important;
  }

  &::-moz-placeholder {
    color: $placeholder-color !important;
  }

  &:-ms-input-placeholder {
    color: $placeholder-color !important;
  }
}

.underline:hover {
  color: #0000FF !important;
}