<div class="widget_new full-height">
    {{#unless isMobile}}
        {{widget-header
            widgetTitle=app.lang.labels.bankTransfer
            hideWidgetLink=true
            innerWidgets=innerWidgets
            innerWidgetAction="renderInnerWidgetItems"
            isWidgetCloseAvailable=isWidgetCloseAvailable
            closeWidgetAction= 'closeWidgetAction'
            closeActionTarget=controller
            cursorMoveCss=cursorMoveCss
        }}
    {{/unless}}

    <div class="widget-container-new full-height-without-header">
        <div class="page-container cash-transfer-height">
            <div class="layout-container full-width pad-widget-left pad-widget-right">
                <div class="col-sm-5">
                    <div class="layout-container full-width pad-widget-top">
                        <div class="layout-col-24 fade-fore-color font-m  h-left">{{app.lang.labels.portfolio}} <span class="down-fore-color pad-s-l">*</span></div>
                        <div class="layout-col font-m pad-widget-left h-right">
                            {{bootstrap-dropdown-select
                                options=accountColl
                                isStaticLableEnabled=isStaticLableEnabled
                                staticLabel=app.lang.labels.pleaseSelect
                                defaultSelect=currentAccount
                                valueKey="tradingAccId"
                                labelKey="dispProp"
                                selectedLabelKey="cashAccount.invAccNo"
                                selectAction="setPortfolio"
                                lblClass="btn-lbl-l"
                                buttonClass="fore-color"
                                mobileButtonClass="dropdown-text-only ltr"
                            }}
                        </div>
                    </div>
                    <div class="layout-container full-width pad-m-t single-row-padding">
                        <div class="layout-col-6 font-m fade-fore-color h-left">{{app.lang.labels.cash}}</div>
                        <div class="layout-col-8 font-l pad-widget-left h-right fore-color bold row-height ltr">{{formatNumber currentAccount.cashAccount.balance 2}}</div>
                    </div>
                    <div class="layout-container full-width pad-m-t single-row-padding">
                        <div class="layout-col-6 font-m fade-fore-color h-left">{{app.lang.labels.blockedAmount}}</div>
                        <div class="layout-col-8 ltr font-l pad-widget-left h-right fore-color bold row-height ltr"> {{formatNumber currentAccount.cashAccount.blkAmt 2}}</div>
                    </div>
                    <div class="layout-container full-width pad-m-t single-row-padding">
                        <div class="layout-col-6 font-m fade-fore-color h-left">{{app.lang.labels.unsettledSales}}</div>
                        <div class="layout-col-8 font-l pad-widget-left h-right fore-color bold row-height ltr"> {{formatNumber currentAccount.cashAccount.unsettledSales 2}}</div>
                    </div>
                    <div class="layout-container full-width pad-m-t single-row-padding">
                        <div class="layout-col-6 font-m fade-fore-color h-left">{{app.lang.labels.availBalance}}</div>
                        <div class="layout-col-8 font-l pad-widget-left h-right fore-color bold row-height ltr">{{formatNumber currentAccount.cashAccount.cashForWith 2}}</div>
                    </div>
                </div>
                <div class="col-sm-2 hidden-xs"></div>
                <div class="widget-hline mgn-m-t mgn-s-b visible-xs"></div>
                <div class="col-sm-5">
                    <div class="layout-container full-width pad-widget-top single-row-padding">
                        <div class="layout-col-24 font-m fade-fore-color h-left">{{app.lang.labels.payMethod}}</div>
                        <div class="layout-col font-m pad-widget-left h-right">
                            {{bootstrap-dropdown-select
                                options=payMethodCollection
                                defaultSelect=currentPayMtd
                                value=currentPayMtd.DisplayName
                                valueKey='DisplayName'
                                labelKey='DisplayName'
                                buttonClass="fore-color"
                                mobileButtonClass="dropdown-text-only ltr"
                                selectAction="setPayMethod"
                            }}
                        </div>
                    </div>
                    <div class="layout-container full-width pad-m-t">
                        <div class="layout-col-24 font-m fade-fore-color h-left">{{app.lang.labels.curr}}</div>
                        <div class="layout-col font-m pad-widget-left h-right">
                            {{bootstrap-dropdown-select
                                options=currencyDropdownOptions
                                defaultSelect=currentCurrency
                                value=currentCurrency.DisplayName
                                valueKey='DisplayName'
                                labelKey='DisplayName'
                                buttonClass="fore-color"
                                mobileButtonClass="dropdown-text-only ltr"
                                selectAction="setCurrency"
                            }}
                        </div>
                    </div>
                    <div class="layout-container full-width pad-m-t">
                        <div class="layout-col-24 font-m fade-fore-color h-left">{{app.lang.labels.withdrawalDate}}</div>
                        <div class="layout-col font-m pad-widget-left h-right">
                            {{#if isNativeDevice}}
                                <button class="date-input-field kyc-date-field fade-fore-color" {{action 'pickDate' true}}>{{displayWithdrawalDate}}</button>
                            {{else}}
                                {{bootstrap-datepicker
                                    language=lan
                                    class="date-input-field kyc-date-field fade-fore-color"
                                    value=withdrawalDate
                                    autoclose=true
                                    startDate=fromDate
                                    format=datePickerFormat
                                }}
                            {{/if}}

                    </div>
                </div>
                <div class="layout-container full-width pad-m-t">
                    <div class="layout-col-24 font-m fade-fore-color h-left">{{app.lang.labels.bankAccount}}</div>
                    <div class="layout-col font-m pad-widget-left h-right">
                        {{bootstrap-dropdown-select
                            options=bankAccCollection
                            defaultSelect=currentBankAcc
                            value=currentBankAcc.bnkAccNum
                            valueKey='bnkAccNum'
                            labelKey='bnkAccNum'
                            buttonClass="fore-color"
                            mobileButtonClass="dropdown-text-only ltr"
                            selectAction="setBankAcc"
                        }}
                    </div>
                </div>
                <div class="layout-container full-width pad-m-t">
                    <div class="layout-col-6 font-m fade-fore-color h-left">{{app.lang.labels.amount}}<span class="down-fore-color pad-s-l">*</span></div>
                    <div class="layout-col-8 font-m pad-widget-left h-right"  name="cash-amount" >
                        {{input-field-number class="form-control order-ticket-text-boxes search-query fade-fore-color h-right input-font-size"
                            decimalPlaces=2
                            maxlength=15
                            numValue=amount
                            elementName="cash-amount"
                            id="cashAmount"
                        }}
                    </div>
                </div>
            </div>
            </div>
            <div class="layout-container full-width pad-l-lr pad-l-tb">
                <div class="layout-col">
                    <div class="layout-inline">
                        <button type="submit" autofocus
                                class="btn btn-dropdown btn-default kyc-btn submit-btn" {{action 'onSubmit'}}>{{app.lang.labels.submit}}</button>
                    </div>
                </div>
                <div class="layout-col-24">
                    <div {{bind-attr class=":white-space-normal :pad-m-l :font-m msgCss"}}>{{message}}</div>
                </div>
            </div>
        </div>
    </div>
</div>