<div class="full-height">
    <div class="layout-container full-width pad-m-tb">
        <div class="layout-col">
            <div class="layout-col h-left pad-widget-left">
                <div class="layout-inline overflow-visible">
                    <!-- Need following variable change to control button size $btn-lbl-m-width: 75px;-->
                    {{bootstrap-dropdown-select
                    options=tradingAccColl
                    defaultSelect=currentAccount
                    valueKey="tradingAccId"
                    labelKey=portfolioDes
                    selectAction="portfolioChanged"
                    buttonClass="dropdown-text-only ltr"
                    lblClass="bold"
                    }}
                </div>
                <div class="layout-inline font-m pad-m-l fade-fore-color">{{currency}}</div>
            </div>
        </div>
    </div>
    <div class="layout-container full-width">
        <div class="layout-col-16 pad-widget-left">
            <div class="pad-m-t pad-s-b font-m fade-fore-color">
                <span>{{app.lang.labels.cashAvailableForWidth}}</span>
            </div>
            <div class="pad-l-tb font-l ltr bold h-left pad-s-r highlight-fore-color font-xxx-l">
                {{formatNumber currentAccount.cashAccount.cashForWith decimalPlaces}}
            </div>
        </div>
        <div class="layout-col-6 overflow-visible h-right pad-m-l pad-widget-right">
            <div class="pad-m-t font-m fade-fore-color">
                {{app.lang.labels.curr}}
            </div>
            <div class="pad-s-t pad-m-b overflow-visible pad-s-l" {{bind-attr title=app.lang.labels.curr}}>
                {{bootstrap-dropdown-select
                options=currencyDropdownOptions
                value=currencySelection.displayName
                valueKey="displayName"
                labelKey="displayName"
                buttonClass="dropdown-text-only ltr"
                selectAction="currencyChanged"}}
            </div>
        </div>
    </div>

    <div class="layout-container full-width widget-hline pad-widget-left pad-widget-right">
        {{#each field in panelFields}}
            <div class="layout-row">
                <div class="layout-col-24 pad-m-r row-height font-m fade-fore-color">
                    <span>{{field.caption}}</span>
                </div>
                <div class="layout-col ltr font-l bold h-right pad-s-r {{field.style}}">
                    {{field.formattedValue}}
                </div>
            </div>
        {{/each}}

        {{#if currentAccount.isMar}}
            <div class="layout-row">
                <div class="layout-col-24 pad-m-r row-height font-m fade-fore-color">
                    <span>{{app.lang.labels.margin}}</span>
                </div>
                <div class="layout-col ltr font-l bold h-right pad-s-r">
                    {{formatNumber currentAccount.cashAccount.mrgLmt}}
                </div>
            </div>

            <div class="layout-row">
                <div class="layout-col-24 pad-m-r row-height font-m fade-fore-color">
                    <span>{{app.lang.labels.marginBlocked}}</span>
                </div>
                <div class="layout-col ltr font-l bold h-right pad-s-r">
                    {{formatNumber currentAccount.cashAccount.marBlk}}
                </div>
            </div>

            <div class="layout-row">
                <div class="layout-col-24 pad-m-r row-height font-m fade-fore-color">
                    <span>{{app.lang.labels.marginDue}}</span>
                </div>
                <div class="layout-col ltr font-l bold h-right pad-s-r">
                    {{formatNumber currentAccount.cashAccount.marDue}}
                </div>
            </div>
        {{/if}}
    </div>
</div>
