<div class="layout-container full-width pad-m-lr pad-m-t">
    <div class="layout-col pad-m-r">
        {{bootstrap-dropdown-select
        options=portfolios
        defaultSelect=currentPortfolio
        valueKey="tradingAccId"
        labelKey="dispProp"
        selectedLabelKey="cashAccount.invAccNo"
        selectAction="setPortfolio"
        buttonClass="dropdown-text-only ltr"
        lblClass="bold btn-lbl-l"
        }}
    </div>
    <div class="layout-col h-right font-m">
        {{#if isNativeDevice}}
            <button class="date-input-field" {{action 'pickDate' true}} > {{displayFromDate}} </button>
            <span><i class="glyphicon glyphicon-minus font-m"></i></span>
            <button class="date-input-field" {{action 'pickDate'}}> {{displayToDate}}</button>
        {{else}}
            {{bootstrap-datepicker
            readonly=true
            language=lan
            placeholder=app.lang.labels.fromDate
            class="date-input-field"
            value=fromDate
            autoclose=true
            endDate=toEndDate
            }}

            <span><i class="glyphicon glyphicon-minus font-m"></i></span>

            {{bootstrap-datepicker
            readonly=true
            language=lan
            placeholder=app.lang.labels.toDate
            class="date-input-field"
            value=toDate
            autoclose=true
            startDate=fromDate
            endDate=toEndDate
            }}
        {{/if}}
    </div>
</div>

<div class="layout-container full-width" style="height: calc(100% - 65px)">
    <div class="full-width pad-widget-top full-height">
        {{loading-indicator isLoading=isLoading}}
        {{single-message-viewer message=errorMessage showMessage=showError messageCss='appttl-light-bg-fore-color' backgroundCss='h-middle'}}
        {{#if isDataAvailable}}
            {{#if isWidgetRefreshed}}    <!-- Default value of this boolean value is true -->
                {{table-component
                columns=columns
                content=arrangedContent
                rowHeight= 50
                minHeaderHeight= 40
                hasFooter=false
                sortAscending=sortAscending
                id=wkey
                numFixedColumns=numOfFixedColumns
                rowClickAction="clickRow"
                }}
            {{/if}}
        {{/if}}
    </div>
</div>