<div class="widget_new full-height pad-s-b overflow-visible">
    <div class="horizontal_line"></div>
    <div class="pad-l-lr pad-m-tb popup-content-height">
        <div class="layout-container full-width">
            <div class="layout-container full-width pad-m-b">
                <!--<div class="layout-col-1 h-left">-->
                <!--<span><i class="glyphicon-triangle-left glyphicon sidebar-nav-icon-color font-l"></i></span>-->
                <!--</div>-->
                <div class="layout-col">
                    <div class="h-left symbol-fore-color font-x-l ellipsis bold">{{rowData.symbolInfo.dispProp1}}</div>
                </div>
                <div class="layout-col-24 ellipsis h-left pad-l-l fade-fore-color font-l">{{rowData.symbolInfo.exg}}</div>
                <div class="layout-col pad-m-l">
                    <div {{bind-attr class=":h-middle :ellipsis :font-l :orderStatus_1-progress_bar :progress-bar-order-list :progress-bar-order-list-width :full-width" }} >
                        <div style="width:{{progressPercentage}};" class="pad-s-lr pad-xs-tb {{filledColor}}"> {{formatLabel 'orderStatus' rowData.ordSts}}</div>
                    </div>
                </div>
                <!--<div class="layout-col-1">-->
                <!--<span><i class="h-right glyphicon-triangle-right glyphicon sidebar-nav-icon-color font-l"></i></span>-->
                <!--</div>-->
            </div>
            <div class="layout-container full-width pad-m-b">
                <!--<div class="layout-col-1"></div>-->
                <div class="layout-col-24">
                    <div  class="h-left fade-fore-color font-l h-left">{{rowData.symbolInfo.lDes}}</div>
                </div>
            </div>
        </div>

        {{#if isOrdRejection}}
            <div class="layout-container full-width pad-m-b">
                <div  class="down-fore-color font-l text-justify ans-layout-inline">{{errorMessageText}}</div>
            </div>
        {{/if}}
        <div class="y-scroll order-list-height">
            <div class="widget-hline">
            </div>
            <div class="layout-container full-width pad-m-t">
                <div class="layout-col-24 font-l  h-left fade-fore-color">{{app.lang.labels.orderId}}</div>
                <div class="layout-col font-l  h-right fore-color bold"> {{orderId}}</div>
            </div>
            <div class="layout-container full-width pad-s-t ">
                <div class="layout-col-24 font-l  h-left fade-fore-color">
                    <span>{{app.lang.labels.side}}</span>
                    <span class="pad-s-lr">/</span>
                    <span>{{app.lang.labels.orderType}}</span>
                </div>
                <div {{bind-attr class=":layout-col :font-l  :h-right :fore-color :bold"}}>
                    <span {{bind-attr class=ordSideCss}}>{{formatLabel 'orderSide' rowData.ordSide}}</span>
                    <span class="pad-s-l fore-color">(</span>
                    <span>{{formatLabel 'orderType' rowData.ordTyp}}</span>
                    <span class="fore-color">)</span>
                </div>
            </div>
            <div class="layout-container full-width pad-s-t pad-m-b">
                <div class="layout-col-24 font-l  h-left fade-fore-color">{{app.lang.labels.date}}</div>
                <div class="layout-col font-l  h-right fore-color bold">
                    <span>{{formatToDateTime rowData.crdDte rowData.exg}}</span>
                </div>
            </div>
            <div class="widget-hline">
            </div>
            <div class="layout-container full-width pad-m-t">
                <div class="layout-col-24 font-l h-left fade-fore-color ">{{app.lang.labels.quantity}}</div>
                <div class="layout-col font-l  h-right fore-color bold">  {{formatNumber rowData.ordQty 0}}</div>
            </div>
            <div class="layout-container full-width pad-s-t">
                <div class="layout-col-24 font-l  h-left fade-fore-color">{{app.lang.labels.price}}</div>
                <div class="layout-col font-l  h-right fore-color bold"> {{priceValue}}</div>
            </div>
            <div class="layout-container full-width pad-s-t">
                <div class="layout-col-24 font-l  h-left fade-fore-color">{{app.lang.labels.orderValue}}</div>
                <div class="layout-col font-l  h-right fore-color bold"> {{orderValue}}</div>
            </div>
            <div class="layout-container full-width pad-s-t">
                <div class="layout-col-24 font-l  h-left fade-fore-color">{{app.lang.labels.commission}}</div>
                <div class="layout-col font-l  h-right fore-color bold">{{commission}}</div>
            </div>
            {{#if isVATEnabled}}
                <div class="layout-container full-width pad-s-t">
                    <div class="layout-col-24 font-l  h-left fade-fore-color">{{app.lang.labels.vat}}</div>
                    <div class="layout-col font-l  h-right fore-color bold">{{vat}}</div>
                </div>
            {{/if}}
            <div class="layout-container full-width pad-s-t">
                <div class="layout-col-24 font-l  h-left  fade-fore-color">{{app.lang.labels.netValue}}</div>
                <div class="layout-col font-l  h-right fore-color bold"> {{netValue}}</div>
            </div>
            <div class="layout-container full-width pad-s-t pad-m-b">
                <div class="layout-col-24 font-l  h-left fade-fore-color">{{app.lang.labels.averagePrice}}</div>
                <div class="layout-col font-l  h-right fore-color bold"> {{averagePrice}}</div>
            </div>
            <div class="widget-hline">
            </div>
            <div class="layout-container full-width pad-m-t">
                <div class="layout-col-24 font-l  h-left fade-fore-color">{{app.lang.labels.tif}}</div>
                <div class="layout-col font-l  h-right fore-color bold"> {{formatLabel 'tifType' rowData.tif}}</div>
            </div>
            <div class="layout-container full-width">
                <div class="layout-col-24 font-l h-left fade-fore-color pad-s-t">{{app.lang.labels.disclosedQty}}</div>
                <div class="layout-col font-l  h-right fore-color bold">  {{formatNumber rowData.disQty 0}}</div>
            </div>
            <div class="layout-container full-width pad-s-t pad-m-b  ">
                <div class="layout-col-24 font-l  h-left fade-fore-color">{{app.lang.labels.minFill}}</div>
                <div class="layout-col font-l h-right fore-color bold"> {{formatNumber rowData.minQty 0}}</div>
            </div>
            <div class="widget-hline">
            </div>
            <div class="layout-container full-width pad-m-t">
                <div class="layout-col-24 font-l  h-left fade-fore-color">{{app.lang.labels.expiryDate}}</div>
                <div class="layout-col font-l  h-right fore-color bold">{{formatToDate rowData.expTime}}</div>
            </div>
            <div class="layout-container full-width pad-s-t">
                <div class="layout-col-24 font-l h-left fade-fore-color ">{{app.lang.labels.filledQty}}</div>
                <div class="layout-col font-l  h-right fore-color bold">  {{formatNumber rowData.fillQty 0}}</div>
            </div>
            <div class="layout-container full-width pad-s-t pad-m-b">
                <div class="layout-col-24 font-l h-left fade-fore-color ">{{app.lang.labels.pendingQty}}</div>
                <div class="layout-col font-l  h-right fore-color bold">  {{formatNumber rowData.pendQty 0}}</div>
            </div>
            <div class="layout-container full-width pad-s-t pad-m-b transparent-box container-back-color"></div>
        </div>
    </div>
    <div class="layout-container full-width order-list-transparent-panel pad-m-l  pad-m-tb pos-abs bottom-zero">
        <div class="layout-col v-middle pad-s-t h-left ltr">

            {{#if (onResponsive responsive.trigger responsive "hnav-panel-mobile" 1)}}
                <div class="layout-inline font-xxx-l pad-s-b pad-s-l" {{action 'navigateOrders'}}>
                    <span class="pad-s-r pad-l-tb"><i class="glyphicon-triangle-left glyphicon sidebar-nav-icon-color font-xx-l"></i></span>
                </div>
                <div class="layout-inline font-xxx-l pad-s-b pad-m-lr" {{action 'navigateOrders' true}}>
                    <span class="pad-s-l pad-l-tb"><i class="glyphicon-triangle-right glyphicon sidebar-nav-icon-color font-xx-l"></i></span>
                </div>
            {{else}}
                <div class="layout-inline font-xxx-l pad-s-b pad-m-l" {{action 'navigateOrders'}}>
                    <span class="pad-l-r pad-l-tb"><i class="glyphicon-triangle-left glyphicon sidebar-nav-icon-color font-xx-l"></i></span>
                </div>
                <div class="layout-inline font-xxx-l pad-s-b pad-l-lr" {{action 'navigateOrders' true}}>
                    <span class="pad-l-l pad-l-tb"><i class="glyphicon-triangle-right glyphicon sidebar-nav-icon-color font-xx-l"></i></span>
                </div>
            {{/if}}
        </div>
        <div class="layout-col h-right font-l">
            {{#if rowData.isAmendEnabled}}
                <div class="layout-inline pad-s-r">
                    <button type="submit" class="btn confirm-btn bold btn-txt-color font-l" disabled={{isEqual rowData.isAmendEnabled false true}} {{action 'amendOrder'}}>{{app.lang.labels.amend}}</button>
                </div>
            {{/if}}

            {{#if rowData.isCancelEnabled}}
                <div class="layout-inline font-xx-l">
                    <button type="submit" class="btn btn-small btn-sell btn-txt-color order-confirmation-cancel-btn pad-l-lr bold font-l" disabled={{isEqual rowData.isCancelEnabled false true}} {{action 'cancelOrder'}}>{{app.lang.labels.cancelOrder}}</button>
                </div>
            {{/if}}
        </div>
    </div>
</div>
