<div id="orderList-{{wkey}}" class="full-height order-list-line-height">
    {{!#if disableInnerWidgets}}
    {{!widget-header
    widgetTitle=app.lang.labels.orderList
    hideWidgetLink=true
    hideSymbol=true
    }}
    {{!else}}
    {{!widget-header
    hideWidgetLink=true
    innerWidgets=innerWidgets
    innerWidgetAction="renderInnerWidgetItems"
    }}
    {{!/if}}

    <div class="layout-container full-width pad-widget-left pad-widget-right pad-s-t">
        <div class="layout-col">
            <div class="layout-container">
                <div class="layout-col font-l pad-s-l fade-fore-color">
                    {{app.lang.labels.portfolio}}
                </div>
            </div>
            <div class="layout-container">
                <div class="layout-col overflow-visible" {{bind-attr title=app.lang.labels.portfolio}}>
                    {{bootstrap-dropdown-select
                    options=accountColl
                    defaultSelect=currentAccount
                    value=currentAccount.tradingAccId
                    valueKey="tradingAccId"
                    labelKey=portfolioDes
                    selectAction="setPortfolio"
                    buttonClass="dropdown-text-only ltr fore-color"
                    lblClass="font-x-l"}}
                </div>
            </div>
        </div>
        <div class="layout-col-24" data-id="status-free"></div>
        <div class="layout-col">
            <div class="layout-container">
                <div class="layout-col font-l pad-s-l fade-fore-color">
                    {{app.lang.labels.status}}
                </div>
            </div>
            <div class="layout-container">
                <div class="layout-col overflow-visible" {{bind-attr title=app.lang.labels.status}} data-id="statusDropdown">
                    {{bootstrap-dropdown-select
                    options=status
                    defaultSelect=currentStatus
                    value=currentStatus.value
                    valueKey="value"
                    labelKey="DisplayName"
                    selectAction="setStatus"
                    buttonClass="dropdown-text-only ltr fore-color"
                    lblClass=lblClass}}
                </div>
            </div>
        </div>
    </div>
    <div class="full-width {{containerHeight}}">
        {{loading-indicator isLoading=isLoading}}
        <div class="pos-abs mgn-l-t full-width pad-l-t">
            {{single-message-viewer message=errorMessage showMessage=showError messageCss='appttl-light-bg-fore-color mgn-l-t' backgroundCss='h-middle mgn-l-t'}}
        </div>
        {{#if isWidgetRefreshed}}
            {{table-component
            hasBody=isRenderingEnabled
            columns=columns
            content=oneWayContent
            rowHeight=rowHeight
            minHeaderHeight= 50
            hasFooter=false
            rowClickAction="clickRow"
            sortAction="sort"
            sortAscending=sortAscending
            id=wkey
            rowData=rowData
            numFixedColumns=numOfFixedColumns
            headerNames=headerNames
            isExpandedView=isExpandedView
            disableExpand=disableExpand
            isOddEvenRowStyleDisabled=isOddEvenRowStyleDisabled
            contextPath=contextPath
            loadQuoteSummary='loadQuoteSummary'
            }}
        {{/if}}
    </div>
</div>