<div id="orderTicketMarketDepth" class="full-width pad-widget-left pad-widget-right-scroll pos-abs overflow-hidden transform-all container-back-color {{marketDepthCss}}">
    <div class="layout-container full-width full-height">
            <div class="layout-col-10 v-top">
                <div class="layout-container h-middle full-width">
                    {{#each bidItem in adjustedBidRecordList}}
                        <div class="layout-row">
                            <div class="layout-container full-width pos-rel border-bottom">
                                <div class="layout-col-8 row-height up-fore-color h-left font-m">{{formatNumber bidItem.qty 0}}</div>
                                <div class="layout-col-8 row-height up-fore-color bold cursor-pointer h-right btn-animation" {{action 'setPriceValue' bidItem.prc}}>{{formatNumber bidItem.prc symbolObj.deci}}</div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
            <div class="layout-col-4 pos-rel v-middle h-middle overflow-visible {{marketDepthIconCss}}" {{action 'showMarketDepth'}}>
                <span class="font-4x-l transform-all cursor-pointer icon-fore-color">
                    {{#if parentContainer.isMarketDepthEnable}}
                        <i class="glyphicon icon-angle-up"></i>
                    {{else}}
                        <i class="glyphicon icon-angle-down"></i>
                    {{/if}}
                </span>
            </div>
            <div class="layout-col-10 v-top">
                <div class="layout-container h-middle full-width">
                    {{#each offerItem in adjustedOfferRecordList}}
                        <div class="layout-row">
                            <div class="layout-container full-width pos-rel border-bottom">
                                <div class="layout-col-8 row-height down-fore-color bold cursor-pointer h-left btn-animation" {{action 'setPriceValue' offerItem.prc}}>{{formatNumber offerItem.prc symbolObj.deci}}</div>
                                <div class="layout-col-8 row-height down-fore-color h-right h-right font-m">{{formatNumber offerItem.qty 0}}</div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
</div>

<div class="full-width" style="height: 33px">
    <div class="layout-container full-width pad-widget-left pad-widget-right-scroll">
        <div class="layout-col-10 v-top">
            <div class="layout-container h-middle full-width">
                <div class="layout-row">
                    <div class="layout-container full-width pos-rel border-bottom">
                        <div class="layout-col-8 row-height up-fore-color h-left font-m">{{formatNumber symbolObj.bbq 0}}</div>
                        <div class="layout-col-8 row-height up-fore-color bold cursor-pointer h-right btn-animation" {{action 'setPriceValue' symbolObj.bbp}}>{{formatNumber symbolObj.bbp symbolObj.deci}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layout-col-4 v-middle h-middle pos-rel overflow-visible {{marketDepthIconCss}}" {{action 'showMarketDepth'}}>
             <span class="font-4x-l transform-all cursor-pointer icon-fore-color">
                 {{#if parentContainer.isMarketDepthEnable}}
                     <i class="glyphicon icon-angle-up"></i>
                 {{else}}
                     <i class="glyphicon icon-angle-down"></i>
                 {{/if}}
             </span>
        </div>
        <div class="layout-col-10 v-top">
            <div class="layout-container h-middle full-width">
                <div class="layout-row full-width">
                    <div class="layout-container full-width pos-rel border-bottom">
                        <div class="layout-col-8 row-height down-fore-color bold cursor-pointer h-left btn-animation" {{action 'setPriceValue' symbolObj.bap}}>{{formatNumber symbolObj.bap symbolObj.deci}}</div>
                        <div class="layout-col-8 row-height down-fore-color h-right h-right font-m">{{formatNumber symbolObj.baq 0}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="layout-container full-width pad-widget-left pad-widget-right-scroll">
{{#unless isBottomRowHidden}}
    <div class="layout-col-10">
        <div class="layout-row full-width">
            <div class="layout-col-24 font-m fade-fore-color pad-m-tb">{{app.lang.labels.min}}</div>
            <div class="layout-col fore-color bold pad-m-l h-right">{{formatNumber symbol.min symbol.deci}}</div>
        </div>
    </div>
    <div class="layout-col-4 v-middle h-middle" {{action 'showMarketDepth'}}>
    </div>
    <div class="layout-col-10">
        <div class="layout-row full-width">
            <div class="layout-col-24 font-m fade-fore-color pad-m-tb">{{app.lang.labels.max}}</div>
            <div class="layout-col fore-color pad-m-l bold h-right">{{formatNumber symbol.max symbol.deci}}</div>
        </div>
    </div>
{{/unless}}
</div>
