<div id="orderSearch-{{wkey}}" class="full-width full-height overflow-hidden pos-rel">
    {{#if showAdvancedFilterPopup}}
        <div class="layout-container full-width full-height pos-abs top-zero left-zero z-index-hundred">
            <div class="layout-container full-height full-width pos-abs transparent-dark-background"></div>
            <div class="layout-container full-height full-width pos-abs">
                <div class="layout-col h-middle">
                    <div class="v-middle">

                        <div class="layout-container pad-m-all fade-fore-color add-new-watchlist-dialog">
                            <div class="layout-container full-width pad-s-all">
                                <div class="layout-col pad-xs-l fade-fore-color"> {{app.lang.labels.searchBy}} </div>
                                <div class="layout-col-24"></div>
                            </div>

                            <div class="layout-container full-width pad-s-all">
                                <div class="layout-col pad-s-lr" title="{{app.lang.labels.portfolio}}">
                                    {{bootstrap-dropdown-select
                                        options=portfolios
                                        defaultSelect=currentPortfolio
                                        value=currentPortfolio.tradingAccId
                                        valueKey="tradingAccId"
                                        labelKey=portfolioDes
                                        selectAction="setPortfolio"
                                        buttonClass='full-width ltr fore-color'
                                        lblClass='dropdown-item-container'
                                    }}
                                </div>
                            </div>

                            <div class="layout-container full-width pad-s-all">
                                <div class="layout-col pad-s-lr" title="{{app.lang.labels.side}}">
                                    {{bootstrap-dropdown-select
                                        options=sides
                                        defaultSelect=currentSide
                                        value=currentSide.code
                                        valueKey="code"
                                        labelKey="DisplayName"
                                        selectAction="setSide"
                                        buttonClass='full-width ltr fore-color'
                                        lblClass='dropdown-item-container'
                                    }}
                                </div>
                            </div>

                            <div class="layout-container full-width pad-s-all">
                                <div class="layout-col pad-s-lr" title="{{app.lang.labels.status}}">
                                    {{bootstrap-dropdown-select
                                        options=status
                                        defaultSelect=currentStatus
                                        value=currentStatus.value
                                        valueKey="value"
                                        labelKey="DisplayName"
                                        selectAction="setStatus"
                                        buttonClass='full-width ltr fore-color'
                                        lblClass='dropdown-item-container'
                                    }}
                                </div>
                            </div>

                            <div class="layout-container full-width pad-s-all">
                                <div class="layout-col-8 pad-xs-lr fade-fore-color h-left">
                                    {{app.lang.labels.from}}
                                </div>
                                <div class="layout-col-16 pad-s-lr pos-rel">
                                    {{#if isNativeDevice}}
                                        <button class="search-query form-control datepicker-padding" {{action 'pickDate' true}}> {{displayFromDate}} </button>
                                    {{else}}
                                        {{bootstrap-datepicker
                                            readonly=true
                                            language=lan
                                            placeholder=app.lang.labels.fromDate
                                            class="search-query form-control datepicker-padding fore-color"
                                            value=fromDate
                                            autoclose=true
                                            endDate=toEndDate
                                        }}
                                    {{/if}}

                                    <div class="pos-abs top-zero calendar-icon fore-color">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="layout-container full-width pad-s-all">
                                <div class="layout-col-8 pad-xs-lr fade-fore-color h-left">
                                    {{app.lang.labels.to}}
                                </div>
                                <div class="layout-col-16 pad-s-lr pos-rel">
                                    {{#if isNativeDevice}}
                                        <button class="search-query form-control datepicker-padding" {{action 'pickDate'}}> {{displayToDate}} </button>
                                    {{else}}
                                        {{bootstrap-datepicker
                                            readonly=true
                                            language=lan
                                            placeholder=app.lang.labels.toDate
                                            class="search-query form-control datepicker-padding fore-color"
                                            value=toDate
                                            autoclose=true
                                            endDate=toEndDate
                                            startDate=fromDate
                                        }}
                                    {{/if}}

                                    <div class="pos-abs top-zero calendar-icon fore-color">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="layout-container pad-m-t">
                                <div class="layout-col-24"></div>
                                <div class="layout-col">
                                    <button class="btn btn-default submit-btn fore-color bold" disabled={{isLoading}} {{action "onSearchOrder"}}>{{app.lang.labels.search}}</button>
                                    <button class="btn btn-default fade-fore-color bold pad-m-lr" {{action "onAdvancedSearchCancel"}}>{{app.lang.labels.cancel}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}

    <div class="layout-container full-width pad-widget-left pad-widget-right pad-m-tb">
        <div class="layout-col pad-s-r">
            <div class="layout-container">
                <div class="layout-col" title="{{app.lang.labels.symbol}}">
                    {{input-field-text type="text" value=symbol id=symbolFieldId placeholder=app.lang.labels.symbol class="search-query colour-symbol form-control default-panel-width"}}
                </div>
            </div>
        </div>

        <div class="layout-col pad-s-lr">
            <div class="layout-container">
                <div class="layout-inline default-panel-width" title="{{app.lang.labels.orderId}}">
                    {{input-field-text type="text" id=orderFieldId value=orderId placeholder=app.lang.labels.orderId class="search-query colour-symbol form-control default-panel-width"}}
                </div>
            </div>
        </div>

        <div class="layout-col-24" data-id="status-free"></div>

        <div class="layout-col" {{action "onAdvancedFilter"}}>
            <div class="layout-inline h-middle font-4x-l icon-fore-color pad-s-t right">
                    <i class="icon-ellipsis-v"></i>
            </div>
        </div>
    </div>
    <div class="full-width {{containerHeight}}">
        {{loading-indicator isLoading=isLoading}}
        <div class="pos-abs mgn-l-t full-width pad-l-t">
            {{single-message-viewer message=errorMessage showMessage=showError messageCss='appttl-light-bg-fore-color mgn-l-t' backgroundCss='h-middle mgn-l-t'}}
        </div>
        {{#if isWidgetRefreshed}}
            {{table-component
                hasBody=isRenderingEnabled
                columns=columns
                content=oneWayContent
                rowHeight=rowHeight
                minHeaderHeight= 50
                hasFooter=false
                rowClickAction="clickRow"
                sortAction="sort"
                sortAscending=sortAscending
                id=wkey
                rowData=rowData
                numFixedColumns=numOfFixedColumns
                headerNames=headerNames
                isExpandedView=isExpandedView
                disableExpand=disableExpand
                isOddEvenRowStyleDisabled=isOddEvenRowStyleDisabled
                contextPath=contextPath
                loadQuoteSummary='loadQuoteSummary'
            }}
        {{/if}}
    </div>
</div>