<div class="widget_new full-height pad-s-b overflow-visible">
    <div class="horizontal_line"></div>
    <div class="pad-l-lr pad-m-tb popup-content-height">
        <div class="layout-container full-width">
            <div class="layout-col-20">
                <span class="symbol-fore-color pad-l-r font-x-l bold">{{currentHolding.symbolInfo.dispProp1}}</span>
                <span class="fade-fore-color font-m">{{currentHolding.exg}}</span>
            </div>
        </div>
        <div class="layout-container full-width pad-m-tb">
            <div class="layout-col-22">
                <div class="h-left fade-fore-color font-l ellipsis"> {{currentHolding.symbolInfo.sDes}}</div>
            </div>
        </div>
        <div class="widget-hline"></div>
        <div class="layout-container full-width">
            <div class="layout-col-14">
                <div class="layout-row ltr">
                    <div {{bind-attr class=":layout-col :font-l  :h-left :bold :pad-m-t todayGainPerCss"}}>
                        <span class="font-xxx-l">{{formatNumber todayGain decimalPlaces}}</span>
                        <span class="pad-m-l">(</span>
                        <span>{{formatNumberPercentage todayGainPer}}</span>
                        <span>)</span>
                    </div>
                </div>
                <div class="layout-row ltr full-width">
                    <div class="layout-col font-l h-left fade-fore-color pad-s-t pad-l-b">
                        <span>{{todayGainLossLbl}}</span>
                        <span class="pad-s-lr">/</span>
                        <span>%</span>
                    </div>
                </div>
                <div class="layout-row ltr">
                    <div {{bind-attr class=":layout-col :font-l  :h-left :bold :pad-l-t gainLossCss"}}>
                        <span class="font-xxx-l">{{formatNumber currentHolding.gainLoss decimalPlaces}}</span>
                        <span class="pad-m-l">(</span>
                        <span>{{formatNumberPercentage currentHolding.gainLossPer}}</span>
                        <span>)</span>
                    </div>
                </div>
                <div class="layout-row ltr full-width pad-m-t">
                    <div class="layout-col font-l h-left fade-fore-color pad-s-t pad-m-b">
                        <span>{{gainLossLbl}}</span>
                        <span class="pad-s-lr">/</span>
                        <span>%</span>
                    </div>
                </div>
            </div>
            <div class="layout-col-10 pad-m-r pad-l-l">
                <span class="fore-color pos-abs pie-chart-value bold {{portfolioPerCss}}">{{portfolioPer}}</span>
                <div class="layout-col h-middle" style="height:100px" id="c3-portfolio-chart"></div>
                <!--<div class="layout-row">-->
                <!--<div class="layout-col font-l h-left fore-color bold"> {{!formatNumberPercentage portPer}}</div>-->
                <!--</div>-->
                <div class="layout-row full-width pad-s-t pad-m-b">
                    <div class="layout-col-24 font-l ltr h-middle fade-fore-color pad-m-b">{{app.lang.labels.portfolioPer}}</div>
                </div>
            </div>
        </div>
        <div class="widget-hline"></div>

        <div class="y-scroll portfolio-scroll-height">
            <div class="layout-container full-width pad-m-t">
                <div class="layout-col-24 font-l  h-left fade-fore-color">{{app.lang.labels.portfolio}}</div>
                <div class="layout-col font-l h-right fore-color bold"> {{currentHolding.portfolioInfo.tradingAccName}}</div>
            </div>
            <div class="layout-container full-width pad-s-t">
                <div class="layout-col-24 font-l  h-left fade-fore-color">{{app.lang.labels.curr}}</div>
                <div class="layout-col font-l h-right fore-color bold"> {{currentHolding.curr}}</div>
            </div>
            <div class="layout-container full-width pad-s-t">
                <div class="layout-col-24 font-l  h-left fade-fore-color">{{app.lang.labels.averageCost}}</div>
                <div class="layout-col font-l  h-right fore-color bold">{{formatNumber currentHolding.avgCst decimalPlaces}}</div>
            </div>
            <div class="layout-container full-width pad-s-t">
                <div class="layout-col-24 font-l  h-left fade-fore-color">{{app.lang.labels.totCost}}</div>
                <div class="layout-col font-l  h-right fore-color bold"> {{formatNumber currentHolding.costVal decimalPlaces}}</div>
            </div>
            <div class="layout-container full-width pad-s-t">
                <div class="layout-col-24 font-l h-left fade-fore-color">{{app.lang.labels.mktPrice}}</div>
                <div class="layout-col font-l  h-right fore-color bold">  {{formatNumber currentHolding.mktPrice decimalPlaces}}</div>
            </div>
            <div class="layout-container full-width pad-s-t pad-m-b">
                <div class="layout-col-24 font-l  h-left fade-fore-color">{{app.lang.labels.marketValue}}</div>
                <div class="layout-col font-l  h-right fore-color bold"> {{formatNumber currentHolding.mktVal decimalPlaces}}</div>
            </div>
            <div class="widget-hline"></div>
            <div class="layout-container full-width pad-s-t pad-m-t">
                <div class="layout-col-24 font-l  h-left fade-fore-color"> {{app.lang.labels.quantity}}</div>
                <div {{bind-attr class=":layout-col :font-l  :h-right :fore-color :bold"}}> {{formatNumber currentHolding.qty 0}}</div>
            </div>
            <div class="layout-container full-width pad-s-t ">
                <div class="layout-col-24 font-l  h-left fade-fore-color"> {{app.lang.labels.availQuantity}}</div>
                <div class="layout-col font-l  h-right fore-color bold"> {{formatNumber currentHolding.avaiQty 0}}</div>
            </div>
            <div class="layout-container full-width pad-s-t">
                <div class="layout-col-24 font-l  h-left fade-fore-color">{{app.lang.labels.buyPending}}</div>
                <div class="layout-col font-l  h-right fore-color bold"> {{formatNumber currentHolding.pendBuy 0}}</div>
            </div>
            <div class="layout-container full-width pad-s-t pad-m-b">
                <div class="layout-col-24 font-l  h-left fade-fore-color">{{app.lang.labels.sellPending}}</div>
                <div class="layout-col font-l  h-right fore-color bold"> {{formatNumber currentHolding.pendSell 0}}</div>
            </div>

            {{#if selectedRow.content.isRightSymbol}}
                <div class="widget-hline"></div>
                <div class="layout-container full-width pad-s-t pad-m-t">
                    <div class="layout-col-24 font-l  h-left fade-fore-color"> {{app.lang.labels.subQty}}</div>
                    <div {{bind-attr class=":layout-col :font-l  :h-right :fore-color :bold"}}> {{formatNumber currentHolding.subQty 0}}</div>
                </div>
                <div class="layout-container full-width pad-s-t ">
                    <div class="layout-col-24 font-l  h-left fade-fore-color"> {{app.lang.labels.subPrice}}</div>
                    <div class="layout-col font-l  h-right fore-color bold"> {{formatNumber currentHolding.subPrice decimalPlaces}}</div>
                </div>
                <div class="layout-container full-width pad-s-t">
                    <div class="layout-col-24 font-l  h-left fade-fore-color">{{app.lang.labels.pendingSubscriptionQty}}</div>
                    <div class="layout-col font-l  h-right fore-color bold"> {{formatNumber currentHolding.pendSubQty 0}}</div>
                </div>
            {{/if}}

            <div class="layout-container full-width pad-s-t pad-m-b transparent-box container-back-color"></div>
        </div>
    </div>
    <div class="layout-container pos-abs bottom-zero full-width pad-s-l pad-m-t h-left order-list-transparent-panel">

        {{#if (onResponsive responsive.trigger responsive "hnav-panel-mobile" 1)}}
            <div class="layout-col v-middle pad-s-t h-left ltr">
                <div class="layout-col pad-s-b font-xxx-l pad-s-lr" {{action 'navigateHoldings'}}>
                    <span class="pad-m-r pad-l-tb"><i class="glyphicon-triangle-left glyphicon sidebar-nav-icon-color font-xx-l"></i></span>
                </div>
                <div class="layout-col font-xxx-l pad-s-b pad-s-l" {{action 'navigateHoldings' true}}>
                    <span class="pad-m-lr pad-l-tb"><i class="glyphicon-triangle-right glyphicon sidebar-nav-icon-color font-xx-l"></i></span>
                </div>
            </div>
        {{else}}
            <div class="layout-col v-middle pad-s-t h-left ltr">
                <div class="layout-col pad-s-b font-xxx-l pad-m-lr" {{action 'navigateHoldings'}}>
                    <span class="{{if selectedRow.content.isRightSymbol 'pad-s-r' 'pad-m-lr'}} pad-l-tb"><i class="glyphicon-triangle-left glyphicon sidebar-nav-icon-color font-xx-l"></i></span>
                </div>
                <div class="layout-col font-xxx-l pad-s-b pad-l-l" {{action 'navigateHoldings' true}}>
                    <span class="{{if selectedRow.content.isRightSymbol 'pad-s-l pad-m-r' 'pad-m-lr'}} pad-l-tb"><i class="glyphicon-triangle-right glyphicon sidebar-nav-icon-color font-xx-l"></i></span>
                </div>
            </div>
        {{/if}}

        <div class="layout-col-24"></div>
        <div class="layout-col">
            <div class="layout-col pad-s-r">
                <button type="submit" class="btn btn-animation btn-buy up-back-color btn-txt-color font-xx-l" {{action 'onBuyMore'}} disabled={{isTradingDisabledExg}}>{{app.lang.labels.buy}}</button>
            </div>
            <div class="layout-col pad-s-lr">
                <button type="submit" class="btn btn-animation btn-sell down-back-color btn-txt-color font-l" {{action 'onLiquidate'}} disabled={{isTradingDisabledExg}}>{{app.lang.labels.sell}}</button>
            </div>
            {{#if selectedRow.content.isRightSymbol}}
                {{#unless isDisabledSubscription}}
                    <div class="layout-col pad-s-lr">
                        <button type="button" class="btn btn-animation btn-subscribe btn-txt-color font-l ellipsis" {{action 'renderSubscribeWindow'}}>{{app.lang.labels.subscribe}}</button>
                    </div>
                {{/unless}}
            {{/if}}
        </div>
    </div>
</div>