<div id="portfolio-{{wkey}}" class="full-height full-width">
    {{portfolio-status-panel
    currentPortfolio=currentPortfolio
    portfolioOptions=portfolioDropdownOptions
    selectAction="onSelectPortfolio"
    isEnableWatchlist=isEnableWatchlist
    isToggleEnable=true
    widgetName=widgetName
    app=app
    }}

    <div class="layout-container full-width status-panel">
        <div class="layout-col-2"></div>
        <div class="layout-col-15">
            <div class="layout-col">
                <div class="fade-fore-color font-m pad-m-t">{{app.lang.labels.portfolioValue}}</div>

                <div class="layout-container pad-m-t full-width">
                    <div class="pad-s-tb ltr btn-rounded">
                        {{#if (onResponsive responsive.trigger responsive "portfolio-free" 1)}}
                            <span data-id='portfolio-value' class="pad-m-lr pad-xs-tb font-x-l appttl-mobile btn-txt-color bold btn-rounded">{{divideNumber mktVal 2}}</span>
                        {{else}}
                            <span data-id='portfolio-value' class="pad-m-lr pad-xs-tb font-x-l appttl-mobile btn-txt-color bold btn-rounded">{{formatNumber mktVal 2}}</span>
                        {{/if}}
                    </div>
                    <div data-id='portfolio-free' class="layout-col-24"></div>
                </div>
            </div>

            <div class="layout-col pad-m-l full-width h-right">
                <div class="fade-fore-color font-m pad-m-t">{{app.lang.labels.unrealizedProfit}}</div>

                <div class="layout-container pad-m-t full-width">
                    <div class="pad-s-tb ltr btn-rounded">
                        <span data-id='gainLoss-value' class="pad-m-lr btn-txt-color font-x-l pad-xs-t pad-s-b {{gainLossCss}} bold btn-rounded">{{gainLossValue}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="layout-col v-bottom cursor-pointer">
            <div class="layout-inline ltr font-m pad-m-lr pad-xs-tb bold {{gainLossPerCss}}"><span>{{formatNumber gainLossPercentage 2}}</span><span>%</span></div>
        </div>
        <div class="layout-col h-middle font-4x-l icon-fore-color pad-s-r overflow-visible">
            {{bootstrap-icon-dropdown
            options=menuArray
            defaultSelect=defaultMenu
            valueKey="name"
            labelKey="name"
            selectAction="itemClicked"
            iconStyle="icon-ellipsis-v"
            dropdownCss="dropdown-menu-align-right"
            itemCss="font-s bold"
            isNativeDropdownDisabled=true
            }}
            <!--<i class="icon-ellipsis-v sidebar-nav-icon-color"></i>-->
        </div>
    </div>

    {{#if isEnableWatchlist}}
        <div class="full-width portfolio-watchlist-container-height">
            {{outlet 'portfolioWatchlist'}}
        </div>
    {{else}}
        <div class="full-width portfolio-container-height">
            {{#if isWidgetRefreshed}}
                {{table-component
                hasBody=isRenderingEnabled
                columns=columns
                content=oneWayContent
                rowHeight=rowHeight
                footerArray=footerArray
                hasFooter=false
                minHeaderHeight=headerHeight
                rowClickAction="clickRow"
                sortAction="sort"
                id=wkey
                sortAscending=sortAscending
                isHorizontalScrollAvailable=true
                availableHorizontalScrollWidth=600
                numFixedColumns=numOfFixedColumns
                isOddEvenRowStyleDisabled=isOddEvenRowStyleDisabled
                isExpandedView=isExpandedView
                headerNames=headerNames
                expandColumnAction='expandColumnAction'
                contextPath=contextPath
                renderSubscribeWindow='renderSubscribeWindow'
                }}
            {{/if}}
        </div>
    {{/if}}
</div>
