.ms-top-bar-vline-short {
  height: 30px;
  margin-top: 8px;
}

.ms-top-bar-vline-long {
  height: 42px;
  margin-top: 22px;
}

.ms-top-bar-index-dropdown {
  top: 52px;
  margin-left: 10px;
}

.ms-top-bar-change {
  width: 100%;
  margin-left: 10px;
}

.ms-top-bar-exchange-width {
  width: 140px;
}

.ms-top-bar-exchange {
  width: 148px;
  padding-top: 6px;
}

.ms-top-bar-index-chart-position {
  top: 1px;

  @include theme((
          background-color: fade-prominent-back-color-2
  ));
}

.ms-top-bar-chartIcon {
  padding-left: 12px;
}

.ms-top-bar-chart {
  width: 85px;
}

.ms-top-bar .ms-top-bar-align-cash-map {
  text-align: center;
  height: 22px;
  width: 58px;
}

.cash-map-min-width {
  min-width: 140px;
}

.ms-top-bar-cash-map-container {
  padding-top: 12px;
  width: auto;
}

.ms-top-bar-cash-map-content {
  width: 100%;
  //padding-top: 6px;
}

.ms-top-bar-index-value {
  width: 211px;
}

.ms-top-bar-padding-x-large-left {
  padding-left: 20px;
}

.ms-top-bar-showTime {
  height:11px;
  width:70px;
  text-align: center;
  padding-top: 12px;
  padding-left: 5px;
}

.ms-top-bar-exchange-btn {
  max-width: 118px;
  text-overflow: ellipsis;
}

.ms-top-bar-index-dropdown-btn {
  max-width: 152px;
  text-overflow: ellipsis;
}

.ms-top-bar-text-align {
  text-align: center;
}

.ms-top-bar-icons {
  padding-bottom: 3px;
  margin-top: 3px;
}
