$tab-dot-menu-height: 15px;

.main-panel-width {
  width: calc(100% - #{$appmnu-width + $app-widget-gap}) !important;
}

.tab-menu {
  height: calc(100% - #{$tab-dot-menu-height}) !important;
}

.mid-col {
  height: calc(100% - #{$height-top-panel + $height-footer + $appttl-bar-height + $height-ticker-panel + $margin-small});
}

.mid-col-horizontal-panel {
  height: calc(100% - #{$height-top-panel + $height-footer + $appttl-bar-height + $height-ticker-panel + $margin-small + $horizontal-panel-height + $app-widget-gap});
}

.dropdown-menu-height {
  max-height: 185px;
}

.tablet-submarket-btn {
  max-width: 67px;
}

.transform-search-box {
  transition: width .5s ease;
}

.message-box-frame {
  top: 25%;
  left: 30%;
  width: 40%;
}

.about-us-box-frame {
  top: 20%;
  left: 27%;
  width: 45%;
}

.dropdown-watchlist-more-items {
  height: 28px;
}

.quote-watchlist-height {
  height: calc(100% - 60px);
}

.time-and-sales {
  height: calc(100% - 60px);
}