.tickerDiv {
  @include theme-classic((
          border-top: "1px {widget-border-b-color} solid",
          background-image: "linear-gradient(180deg, {widget-back-color-gradient} 10%, {widget-back-color} 30%)"));
}

.ticker-panel {
  height: $height-ticker-panel;
  width: 100%;
  margin: 0 auto;
  float: $float-3;

  @include theme((
          line-height: "24px",
          margin-top: "0",
          border: "0 {widget-back-color} solid",
          border-top: "1px {widget-back-color} solid",
          background-color: ticker-back-color
  ));

  @include theme-classic((
          line-height: "28px",
          margin-top: "-26px",
          border: "1px {widget-border-color} solid",
          border-top: "0 {widget-back-color} solid",
          -moz-box-shadow: "inset 1px 4px 9px -6px",
          -webkit-box-shadow: "inset 1px 4px 9px -6px",
          box-shadow: "inset 1px 4px 9px -6px"
  ));
}

.tickerDiv {
  height: 28px;
  float: none !important;
}

// Horizontal ticker styles

.ticker {
  height: 28px;
  width: 100% !important;
  text-align: center;
}

.ticker-animation-horizontal {
  -webkit-animation: tickerMove-horizontal 12s linear infinite both;  /* Chrome, Safari, Opera */
  -moz-animation: tickerMove-horizontal 12s linear infinite both;
  animation: tickerMove-horizontal 12s linear infinite both;
}

.tickerTwo-horizontal {
  -webkit-animation-delay: -6s;  /* Chrome, Safari, Opera */
  -moz-animation-delay: -6s;
  animation-delay: -6s;

  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

@-webkit-keyframes tickerMove-horizontal {
  0% {
    -webkit-transform: translate3d(0, 25px, 0);
    -moz-transform: translate3d(0, 25px, 0);
    -ms-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  10% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  46% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  54% {
    -webkit-transform: translate3d(0, -25px, 0);
    -moz-transform: translate3d(0, -25px, 0);
    -ms-transform: translate3d(0, -25px, 0);
    transform: translate3d(0, -25px, 0);
  }

  100% {
    -webkit-transform: translate3d(0, -25px, 0);
    -moz-transform: translate3d(0, -25px, 0);
    -ms-transform: translate3d(0, -25px, 0);
    transform: translate3d(0, -25px, 0);
  }
}

@keyframes tickerMove-horizontal {
  0% {
    -webkit-transform: translate3d(0, 25px, 0);
    -moz-transform: translate3d(0, 25px, 0);
    -ms-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  10% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  46% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  54% {
    -webkit-transform: translate3d(0, -25px, 0);
    -moz-transform: translate3d(0, -25px, 0);
    -ms-transform: translate3d(0, -25px, 0);
    transform: translate3d(0, -25px, 0);
  }

  100% {
    -webkit-transform: translate3d(0, -25px, 0);
    -moz-transform: translate3d(0, -25px, 0);
    -ms-transform: translate3d(0, -25px, 0);
    transform: translate3d(0, -25px, 0);
  }
}