.wdgttl {
  border-radius: 0;
}

.wdgttl-tab-item {
  @include theme((
          height: "28px",
  ));

  @include theme-classic((
          height: "28px"
  ));
}

.wdgttl-drp-dwn-btn {
  height: $wdgttl-bar-height !important;
}

.wdgttl-tab-item {
  @include theme((
          border-left: "0 {widget-title-border-color} solid",
          border-right: "0 {widget-title-border-color} solid"
  ));

  @include theme-classic((
          border-left: "1px {widget-title-border-color} solid",
          border-right: "0 {widget-title-border-color} solid"
  ));
}

.wdgttl-icon-padding {
  padding: 6px 5px 5px 5px;
}