.alert-padding-left {
  padding-left: 40px;
}

.alert-search-box {
  height: 30px;
}

.alert-text-box {
  height: 30px;
  padding-left: 5px;
}

.add-alert-btn {
  @extend .btn-default;
  width: 100%;
  border-radius: 2px;

  @include theme((
          color: light-bg-fore-color,
          background-color: pending-back-color,
          background-image: "linear-gradient(180deg, {pending-back-color} 0%, {pending-back-color} 100%)"
  ));

  @include theme-classic((
          border: "0 {base-color-widget-tab-selected} solid",
          background-image: "linear-gradient(180deg, {pending-back-color} 0%, {pending-back-color} 100%)"
  ));
}

.search-popup-price-alert {
  position: absolute;
  left: 0;
  top: 95px;
}

.btn-alert {
  height: 25px;
  padding: 1px 5px 2px 5px;
  font-size: $font-medium;
  background-color: transparent;
  background-image: none;
  border: none;
  border: 0 #fff solid;
}

.alert-status-cell {
  border-radius: $radius-xs;
  @include theme((
          color: dark-bg-fore-color
  ));
}

.alert-criteria-cell-width {
  max-width: 45%;
}

.alert-pop-up-line-height {
  line-height: 1;
}

.alert-container-height {
  height: calc(100% - 50px);
}