@import '../../common-variables';
@import '../../themes/theme-2-variables';
@import '../../widget-variables';

.tickerDiv {
    overflow: hidden;
    height: 32px;
    line-height: 28px;
    float: left;
    position: relative;

    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

.ticker {
    height: 32px;
    width: 1500px;
    display: inline;
    position: absolute;
    padding: 0;
}

.ticker-animation {
    -webkit-animation: tickerMove 60s linear infinite both;  /* Chrome, Safari, Opera */
    -moz-animation: tickerMove 60s linear infinite both;
    animation: tickerMove 60s linear infinite both;
}

.ar .ticker-animation {
    -webkit-animation: tickerMoveAr 60s linear infinite both;  /* Chrome, Safari, Opera */
    -moz-animation: tickerMoveAr 60s linear infinite both;
    animation: tickerMoveAr 60s linear infinite both;
}

.tickerTwo {
    -webkit-animation-delay: -30s !important;  /* Chrome, Safari, Opera */
    -moz-animation-delay: -30s !important;
    animation-delay: -30s !important;

    -webkit-transform: translate3d(-1500px, 0, 0);
    -moz-transform: translate3d(-1500px, 0, 0);
    -ms-transform: translate3d(-1500px, 0, 0);
    transform: translate3d(-1500px, 0, 0);
}

.item {
    overflow: hidden;
    font-size: 12px;
    padding-right: 5px;
    padding-left: 5px;
}

/* This class is to force browser to use GPU for animations */
.transform {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-perspective: 1500px;
    -moz-perspective: 1500px;
    perspective: 1500px;

    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0) rotate(0.02deg);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.anim-paused {
    -webkit-animation-play-state: paused;  /* Chrome, Safari, Opera */
    animation-play-state: paused;
}

.anim-play {
    -webkit-animation-play-state: running;  /* Chrome, Safari, Opera */
    animation-play-state: running;
}

.ar .anim-paused {
    -webkit-animation-play-state: paused;   /* Chrome, Safari, Opera */
    animation-play-state: paused;
}

.ar .anim-play {
    -webkit-animation-play-state: running;   /* Chrome, Safari, Opera */
    animation-play-state: running;
}

/* TODO: [Atheesan] Enable this after fixing overlapping issue in safari */
/*.tickerDiv:hover > .anim-play {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}*/

/* Chrome, Safari, Opera */
@-webkit-keyframes tickerMove {
    0% {
        -webkit-transform: translate3d(1500px, 0, 0);
        -moz-transform: translate3d(1500px, 0, 0);
        -ms-transform: translate3d(1500px, 0, 0);
        transform: translate3d(1500px, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(-1500px, 0, 0);
        -moz-transform: translate3d(-1500px, 0, 0);
        -ms-transform: translate3d(-1500px, 0, 0);
        transform: translate3d(-1500px, 0, 0);
    }
}

@keyframes tickerMove {
    0% {
        -webkit-transform: translate3d(1500px, 0, 0);
        -moz-transform: translate3d(1500px, 0, 0);
        -ms-transform: translate3d(1500px, 0, 0);
        transform: translate3d(1500px, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(-1500px, 0, 0);
        -moz-transform: translate3d(-1500px, 0, 0);
        -ms-transform: translate3d(-1500px, 0, 0);
        transform: translate3d(-1500px, 0, 0);
    }
}

@-webkit-keyframes tickerMoveAr {
    0% {
        -webkit-transform: translate3d(-1500px, 0, 0);
        -moz-transform: translate3d(-1500px, 0, 0);
        -ms-transform: translate3d(-1500px, 0, 0);
        transform: translate3d(-1500px, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(1500px, 0, 0);
        -moz-transform: translate3d(1500px, 0, 0);
        -ms-transform: translate3d(1500px, 0, 0);
        transform: translate3d(1500px, 0, 0);
    }
}

@keyframes tickerMoveAr {
    0% {
        -webkit-transform: translate3d(-1500px, 0, 0);
        -moz-transform: translate3d(-1500px, 0, 0);
        -ms-transform: translate3d(-1500px, 0, 0);
        transform: translate3d(-1500px, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(1500px, 0, 0);
        -moz-transform: translate3d(1500px, 0, 0);
        -ms-transform: translate3d(1500px, 0, 0);
        transform: translate3d(1500px, 0, 0);
    }
}

@import 'extended/ticker-panel-extended';