.topstocks {
  &-border-bottom-col1 {
    padding-bottom: $padding-small;
  }

  &-border-bottom-col2 {
    padding-bottom: $padding-small;
  }

  &-border-bottom-col3 {
    padding-bottom: $padding-small;
  }
}