.watch-list {
  &-progress-cell {
    padding-bottom: 2px;
  }

  &-progress-bar {
    height: 2px;
  }

  &-text-cell {
    padding-left: 2px;
  }

  &-dot-cell {
    padding-bottom: 2px;
  }

  &-default-cell {
    padding-top: 15px;
  }

  &-border-radius {
    border-radius: $radius-xs;
  }

  &-header-large {
    font-size: $font-xx-large;
  }

  &-container-height {
    height: calc(100% - 40px);
  }
}

@import 'extended/watch-list-extended';
