<div class="col-lg-12">
    <div class="col-lg-4">
        <div class="font-m header-colour order-ticket-lable">Portfolio No</div>
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle fore-color h-left bold" type="button"
                    data-toggle="dropdown" disabled={{invoker.orderStrategy.isPortfolioDisabled}}>{{invoker.currentPortfolio.secAccNum}}<span class="caret"></span></button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                {{#each portfolio in accountDropdownOptions}}
                    <li><a href="#" {{action 'onSelectPortfolio' portfolio}}>{{portfolio.secAccNum}}</a></li>
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="left">
            <label for="symbol" class="font-m header-colour mgn-s-b">{{app.lang.labels.symbol}}</label>
                <span class="input-group">
                    {{input type="text" value="searchKey" action="showSearchPopup" on="key-press"
                    class="search-query symbol-search" placeholder=app.lang.labels.searchSymbol disabled=invoker.orderStrategy.isSymbolDisabled}}
                </span>

            <div class="modal-symbol">
                {{#modal-popup isEnabled=false id=symbolSearchId}}
                    {{global-search
                    enableContentSettings=false
                    searchKey=searchKey
                    showWidgetButtons=false
                    closePopup='closeSearchPopup'
                    openPopup='showSearchPopup'
                    stopGlobalNotification=true
                    clickAction='onSymbolSelected'}}
                {{/modal-popup}}
            </div>
        </div>
    </div>
    <div class="col-lg-3 h-left">
        <div class="padding-top-large pad-m-l">
            <div class="green"><span class="index-Arrow"><i class="glyphicon-triangle-top glyphicon "> </i> </span><span class="fon-x-large bold">{{formatNumber invoker.symbolInfo.ltp}}</span></div>
            <div class="green"><span class="font-l bold pad-s-r">{{formatNumber invoker.symbolInfo.chg}}</span><span class="font-l">{{formatNumberPercentage invoker.symbolInfo.pctChg}}</span></div>
        </div>
    </div>

</div>

