<div class="col-lg-12">
    <div class="col-lg-4 h-middle">
        <div >
        <button type="button"
                class="btn btn-default btn-success btn-small colour-normal bold btn-buy"
            {{action 'onBuy'}}>Buy
        </button>
    </div>
    </div>
    <div class="col-lg-4 h-middle">
        <div >
        <button type="button" class="btn btn-default btn-small bold" {{action 'onResetOrder'}}>Reset</button>
    </div>
    </div>
    <div class="col-lg-4 h-middle">
        <div>
        <button type="button"
                class="btn btn-default btn-success btn-small bold btn-sell"
            {{action 'onSell'}}>Sell
        </button>
    </div>
    </div>
</div>