
    <div class="col-lg-12 mgn-m-t">
        <div class="col-lg-4">
            <div class="font-m header-colour mgn-s-b order-ticket-lable">Order Type</div>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle fore-color h-left bold" type="button"
                        id="menu1"
                        data-toggle="dropdown"
                        disabled={{invoker.orderStrategy.isOrderTypeDisabled}}>{{selectedOrderType.des}}<span
                        class="caret"></span></button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    {{#each item in orderTypeOptions}}
                        <li><a href="#" {{action 'onTypeChanged' item}}>{{item.DisplayName}}</a></li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group left">
                <label for="symbol" class="font-m header-colour mgn-s-b">Quantity</label>
                {{input-field-number
                class="form-control search-query colour-normal font-l h-right bold"
                tabindex=1
                maxlength=15
                decimalPlaces=0
                numValue=invoker.orderParams.ordQty
                disabled=invoker.orderStrategy.isQtyDisabled}}
            </div>
        </div>
        <div class="col-lg-4 pad-s-r">
            <label class="font-m header-colour mgn-s-b">Price </label>
            {{input-field-number
            class="form-control search-query colour-normal h-right bold"
            decimalPlaces=invoker.symbolInfo.deci
            tabindex=2
            maxlength=15
            disabled=invoker.orderStrategy.isPriceDisabled
            numValue=invoker.orderParams.displayPrice}}
        </div>
    </div>
