<div class="widget_new full-height">
    {{widget-header
    widgetTitle=app.lang.labels.accStatement
    hideWidgetLink=true
    innerWidgets=innerWidgets
    innerWidgetAction="renderInnerWidgetItems"
    }}

    <div class="widget-container-new"
         style="height: calc(100% - 16px);">

        <div class="layout-container full-width tool-bar">
            <div class="layout-container font-m">

                <div class="layout-col font-m fade-fore-color">{{app.lang.labels.portfolio}}</div>
                <div class="layout-col pad-s-l overflow-visible" title="{{app.lang.labels.portfolio}}">
                    {{bootstrap-dropdown-select
                    options=portfolios
                    defaultSelect=currentPortfolio
                    valueKey="secAccNum"
                    labelKey="secAccNum"
                    selectAction="setPortfolio"
                    lblClass="btn-lbl-m"}}
                </div>

                <div class="layout-col pad-l-l font-m fade-fore-color">{{app.lang.labels.statementTyp}}</div>
                <div class="layout-col pad-s-l overflow-visible">
                    {{bootstrap-dropdown-select
                    options=statementTypes
                    valueKey="label"
                    labelKey="label"
                    }}
                </div>


                <div class="layout-col pad-l-l font-m fade-fore-color">{{app.lang.labels.period}}</div>
                <div class="layout-col pad-s-l">
                    {{bootstrap-dropdown-select
                    options=periods
                    valueKey="label"
                    labelKey="label"
                    selectAction="setPeriod"
                    lblClass="btn-lbl-m"}}
                </div>

                <div class="layout-col pad-l-l font-m fade-fore-color">{{app.lang.labels.year}}</div>
                <div class="layout-col pad-s-l">
                    {{bootstrap-dropdown-select
                    options=years
                    valueKey="label"
                    labelKey="label"
                    selectAction="setYear"
                    lblClass="btn-lbl-m"}}
                </div>

                <div class="layout-col pad-l-l font-m fade-fore-color">{{app.lang.labels.month}}</div>
                <div class="layout-col pad-s-l overflow-visible" title="{{app.lang.labels.month}}">
                    {{bootstrap-dropdown-select
                    options=months
                    valueKey="label"
                    labelKey="label"
                    selectAction="setMonth"
                    lblClass="btn-lbl-m"}}
                </div>

                <div class="layout-col pad-l-l">
                    <button type="submit"
                            class="btn btn-default fade-fore-color bold kyc-btn"{{action "onSubmit"}}>{{app.lang.labels.search}}</button>
                </div>

                <div class="layout-col pad-l-l font-m fade-fore-color">
                    {{#each conReport in reportCollection}}
                        <div class="pad-s-all">
                            {{conReport.pdfName}}
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>