<div class="full-height">

    <div class="layout-container full-width info-back-color appttl-horizontal-seperator">
        <div class="layout-container wdgttl-tab-panel">
            {{#each tabItem in gmsTabs}}
                <div role="presentation"
                     class="layout-col pad-s-tb wdgttl-tab-item ellipsis h-middle {{tabItem.css}}"  {{action 'onGmsTabItemSelected' tabItem}} >
                    <a class="wdgttl-tab-link hint--top hint--bounce hint--rounded" href="#" aria-controls="" role="tab"
                       data-toggle="tab">
                        {{tabItem.displayName}}
                    </a>
                </div>
            {{/each}}
        </div>
    </div>

    {{outlet "w1"}}
</div>
