<div class="widget_new full-height">
    {{widget-header
        widgetTitle=app.lang.labels.productSubscription
        hideWidgetLink=true
        innerWidgets=innerWidgets
        innerWidgetAction="renderInnerWidgetItems"
        isWidgetCloseAvailable=isWidgetCloseAvailable
        closeWidgetAction= 'closeWidgetAction'
        closeActionTarget=controller
        cursorMoveCss=cursorMoveCss
    }}

    <div class="widget-container-new full-height-without-header pad-s-b">
        <div class="layout-container full-width full-height pad-widget-left pad-widget-right pad-widget-top">
            <div class="layout-col-10 v-top">
                <div class="layout-container full-width">
                    <div class=" layout-col font-m h-left row-height fade-fore-color">{{app.lang.labels.subscribeType}}</div>
                    <div class="layout-col-24"></div>
                    <div class="layout-col font-m pad-m-l h-left">
                        {{bootstrap-dropdown-select
                        defaultSelect=defaultType
                        options=typeCollection
                        labelKey='des'
                        valueKey='code'
                        selectAction='setType'
                        buttonClass="fore-color"
                        }}
                    </div>
                </div>
                <div class="layout-container full-width pad-s-t">
                    <div class=" layout-col font-m h-left row-height fade-fore-color">{{app.lang.labels.packageName}}</div>
                    <div class="layout-col-24"></div>
                    {{#if isProductsAvailable}}
                        <div class="layout-col font-m pad-m-l">
                            {{bootstrap-dropdown-select
                            options=products
                            defaultSelect=currentProduct
                            value=currentProduct.[productLabelKey]
                            valueKey='proId'
                            labelKey=productLabelKey
                            selectAction='setProduct'
                            buttonClass="fore-color"
                            }}
                        </div>
                    {{/if}}
                    {{#if isNoProductsMsg}}
                        <div class="layout-col font-m pad-m-l fore-color">
                            {{noProductsMsg}}
                        </div>
                    {{/if}}
                </div>
                <div class="layout-container full-width pad-s-t">
                    <div class=" layout-col font-m h-left row-height fade-fore-color">{{app.lang.labels.subPeriod}}</div>
                    <div class="layout-col-24"></div>
                    {{#if isProductsAvailable}}
                        <div class="layout-col font-m pad-m-l">
                            {{bootstrap-dropdown-select
                            options=currentProduct.feeDetails
                            valueKey='feeId'
                            labelKey='des'
                            selectAction='setPeriod'
                            buttonClass="fore-color"
                            }}
                        </div>
                    {{/if}}
                </div>
                <div class="layout-container full-width pad-s-t">
                    <div class=" layout-col font-m h-left row-height v-middle fade-fore-color">{{app.lang.labels.upgradeEndOfCurrentSubscription}}</div>
                    <div class="layout-col-24"></div>
                    <div class="layout-col font-m pad-m-l row-height">{{input type="checkbox" checked=isEndOfSubscription}}</div>
                </div>
                <div class="layout-container full-width pad-s-t">
                    <div class=" layout-col font-m h-left row-height v-middle fade-fore-color">{{app.lang.labels.startDate}}</div>
                    <div class="layout-col-24"></div>
                    <div class="layout-col font-m pad-m-l fore-color">{{currentProduct.expFrmDte}}</div>
                </div>
                <div class="layout-container full-width pad-s-t">
                    <div class=" layout-col font-m h-left row-height v-middle fade-fore-color">{{app.lang.labels.expiryDate}}</div>
                    <div class="layout-col-24"></div>
                    <div class="layout-col font-m pad-m-l fore-color">{{currentProduct.expExpDte}}</div>
                </div>
                <div class="layout-container full-width pad-s-t">
                    <div class=" layout-col font-m h-left row-height row-height v-middle fade-fore-color">{{app.lang.labels.amount}}</div>
                    <div class="layout-col-24"></div>
                    <div class="layout-col font-m pad-m-l row-height fore-color">
                        {{#if isProductsAvailable}}
                            <span>{{formatNumber currentProduct.fee 2}}</span>
                            <span {{bind-attr class=":pad-s-l"}}>{{currentProduct.feeCurr}}</span>
                        {{/if}}
                    </div>
                </div>

                {{#if isVATEnabled}}
                    <div class="layout-container full-width pad-s-t">
                        <div class=" layout-col font-m h-left row-height row-height v-middle fade-fore-color">{{app.lang.labels.vat}}</div>
                        <div class="layout-col-24"></div>
                        <div class="layout-col font-m pad-m-l row-height fore-color">
                            {{#if isProductsAvailable}}
                                <span>{{formatNumber currentProduct.vat 2}}</span>
                                <span {{bind-attr class=":pad-s-l"}}>{{currentProduct.feeCurr}}</span>
                            {{/if}}
                        </div>
                    </div>
                    <div class="layout-container full-width pad-s-t">
                        <div class=" layout-col font-m h-left row-height row-height v-middle fade-fore-color">{{app.lang.labels.netAmount}}</div>
                        <div class="layout-col-24"></div>
                        <div class="layout-col font-m pad-m-l row-height fore-color">
                            {{#if isProductsAvailable}}
                                <span>{{formatNumber currentProduct.netFee 2}}</span>
                                <span {{bind-attr class=":pad-s-l"}}>{{currentProduct.feeCurr}}</span>
                            {{/if}}
                        </div>
                    </div>
                {{/if}}

                <div class="layout-container pad-m-t">
                    <div class="layout-col">
                        <div class="layout-inline">
                            <button type="submit" autofocus
                                    class="btn btn-dropdown btn-small btn-default pad-m-lr" {{action 'onSubmit'}} disabled={{isSubmitDisabled}}>{{app.lang.labels.submit}}</button>
                        </div>
                    </div>
                </div>
                <div class="layout-container">
                    <div {{bind-attr class=":layout-col :font-m msgCss"}}>{{message}}</div>
                </div>
            </div>
            <div class="layout-col-14"></div>
        </div>
    </div>
</div>