@import '../../../common-variables';
@import '../../../themes/theme-1-variables';
@import '../../../themes/theme-2-variables';
@import '../../../widget-variables';
//@import '../../../themes/theme-helper';

.row-height {
  height: 30px;
}

.dual-row-height {
  height: 56px;
}

.dropdown-menu-height {
  max-height: 247px;
  min-width: 130px;
}

.time-and-sales-table{
  height: 100%;
}

.time-and-sales {
  height: calc(100% - 95px);
}

.search-popup-mobile {
  position: absolute;
  left: 0;
  top: 40px;
}

.widget-container-height {
  height: calc(100% - 127px);
}

.widget-container-height-order-ticket {
  height: calc(100% - 102px);
}

.hide-container {
  width: 0;
  overflow: hidden;
}

.xs-border-radius {
  border-radius: $radius-xs;
}

.z-index-hundred {
  z-index: 100;
}

.transform {
  transition: width .2s ease;
}

.status-panel {
  height: 50px;
}

.search-panel-state-zero {
  left: 0;
  -webkit-animation: nav-bar-right-animation .3s ease-out;
  -moz-animation: nav-bar-right-animation .3s ease-out;
  -o-animation: nav-bar-right-animation .3s ease-out;
  animation: nav-bar-right-animation .3s ease-out;
}

.search-panel-state-one {
  left: 80%;
  -webkit-animation: nav-bar-left-animation .6s;
  -moz-animation: nav-bar-left-animation .6s;
  -o-animation: nav-bar-left-animation .6s;
  animation: nav-bar-left-animation .6s;
}

.search-box-height {
  height: 43px;
  font-size: 1.25em;
  z-index: 100;
}

.search-ctrl {
  padding-left: $padding-small;
}

.panel-table {
  width: 100%;
}

.message-box-frame {
  left: 10%;
  width: 80%;
}

.message-box-title {
  @include theme((
          color: fore-color,
  ));
}

.chart-height {
  height: 92px;
}

.progress-market {
  width: 32px;
  height: 5px;
}

.news-popup-container {
  position: absolute;
  top: 44px;
}

.pad-widget-right-scroll {
  padding-right: 23px;
}

.ms-progress-bar-panel-height {
  height: 66px;
}

.large-wk52-icon .wk52-down-icon {
  padding: 2px 2px 0 2px;
  font-size: 12px;
  display: block;
  text-align: center;
}

.large-wk52-icon .wk52-up-icon {
  padding: 2px 2px 0 2px;
  font-size: 12px;
  display: block;
  text-align: center;
}

.search-wrapper {
  display: table;

  @include theme((
          border: "0 {widget-border-color} solid !important"
  ));
}

.mobile-portrait-chart-height {
  height: 80px;
}

.mobile-landscape-chart-height {
  height: calc(100% - 99px);
}

.cash-map-progress-bar {
  width: 70px;
}

.popup-content-height {
  height: calc(100% - 40px);
}

// This is to give the proper padding for low resolution devices
.low-res-padding-right {
  padding-right: 14px;
}

.modal-popup-frame {
  transition: width 5s ease-in-out;
  border-radius: 2px;
  margin: 0;
}

.modal-popup-frame ::-webkit-scrollbar {
  width: 0;
}

// This is to add the layout-col-5 to iphone
.iphone-layout {
  width: (5/24)*100%;
  max-width: 0;
  @extend .layout-col;
}

.wk52-down-icon {
  width: 20%;
  display: inline;
}

.wk52-up-icon {
  width: 20%;
  display: inline;
}

.vertical-separator {
  height: 76px;
  margin-top: 5px;

  @include theme((
          border-right: "1px {widget-separator-color} solid"
  ));
}

.theme-settings {
  padding-left: 20px;
}

.dropdown-item-container {
  width: 100%;
  max-width: 0;
  @extend .layout-col;
}

.div-up {
  -webkit-animation: up 0.4s;
  animation: up 0.4s;
  -o-animation: up 0.4s;
  top: -35px;
}

.div-up-top {
  top: -35px;
}

.div-down {
  -webkit-animation: down 0.4s;
  animation: down 0.4s;
  -o-animation: down 0.4s;
  top: 0;
  z-index: 400;
}

.single-message-container {
  position: absolute;
  display: block;
  height: 25px;
}

.single-message-content {
  padding-top: 7px;
  padding-bottom: 0;
}

.search-row-container {
  padding-top: 8px;
}

.change-password-title {
  @include theme((
          color: dark-bg-fore-color,
          background-color: app-title-back-color
  ));
}

.change-password-container {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;

  @include theme((
          box-shadow: none,
          background: none
  ));
}

.change-password-box {
  height: 100%;
  width: 100%;
  top: 44px;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;

  @include theme((
          background: none
  ));
}

.change-password-container-height {
  height:calc(100% - 100px);
}

.mutual-fund-search-icon {
  padding: 22px 10px;
  font-size: $font-large;

  @include theme((
          color: placeholder-fore-color
  ));
}

.single-row-padding {
  padding-top: 0;
}

.panel-table-padding {
  padding-left: 0;
  padding-right: 0;
}

.submit-btn {
  @extend .confirm-btn;

  @include theme((
          color: dark-bg-fore-color,
          background-image: none,
          border: none
  ));
}

.about-us-container-height {
  height: calc(100% - 319px);
}

.help-icon-small {
  height: 20px;
  width: 20px;
}

.help-icon-large {
  height: 30px;
  width: 30px;
}