// Watch-list Extended styles go here
.watch-list-value-width {
  width: 66px;
}

.context-menu-mobile {
  z-index: 100;
  width: 29.84px;

  @include theme((
          background-color: app-back-color
  ));
}

.add-favorite-btn {
  height: 38px;
  padding: 1px 22px 2px 22px;
  font-size: $font-x-large;
  border-radius: $radius-xs;

  @include theme((
          background-color: no-changed-back-color
  ));
}

.transparent-dark-background {
  background-color: rgba(0, 0, 0, 0.29);
}

.add-new-watchlist-dialog {
  width: 260px;
  margin: auto;

  @include theme((
          background-color: app-back-color,
          box-shadow: "0 5px 15px {box-shadow-color}",
          border: "1px {widget-border-color} solid"
  ));
}