@import '../../../common-variables';
@import '../../../themes/theme-1-variables';
@import '../../../themes/theme-2-variables';
@import '../../../widget-variables';

.wdgttl {
  font-size: $font-xx-large;

  @include theme((
          color: highlight-fore-color,
          background-color: widget-title-back-color,
          border-top: "1px {widget-title-border-b-color} solid"
  ));

  &-tab-panel {
    width: 20px;
  }

  &-tab-panel .active {
    font-weight: bold;
    font-size: $font-medium;

    @include theme((
            border-bottom: "0",
            color: widget-title-selected-tab-fore-color,
            background-color: "transparent",
            box-shadow: "none"
    ));

    @include theme-classic((
            background-image: "linear-gradient(90deg, {widget-title-selected-tab-back-color} 7%, {widget-title-selected-tab-back-color-gradient} 100%)"
    ));
  }

  &-tab-panel .active a {
    @include theme((
            border-bottom: "0 {tab-selected-color-border} solid"
    ));
  }

  &-tab-item {
    @include theme((
            height: "39px",
            color: app-title-fade-fore-color,
            border-right: "0 {widget-title-border-color} solid",
            border-bottom: "3px {ticker-back-color} solid"
    ));

    @include theme-classic((
            height: "39px"
    ));
  }

  &-tab-item a {
    padding: 9px 15px;
    margin: 0;
  }

  &-tab-item:hover {
    cursor: pointer;
    @include theme((
            color: app-title-fade-fore-color,
            background-color: widget-title-selected-tab-back-color
    ));
  }

  &-tab-item.active {
    @include theme((
            border-bottom: "3px {tab-selected-color-border} solid"
    ));
  }

  &-tab-item:first-child {
    @include theme((
            border-left: "0 {tab-selected-color-border} solid"
    ));
  }

  &-tab-link {
    font-weight: bold;

    @include theme((
            color: app-title-fade-fore-color
    ));
  }

  &-tab-link:hover {
    font-weight: bold;

    @include theme((
            color: app-title-fade-fore-color
    ));
  }

  &-header {
    @include theme((
            color: widget-title-header-fore-color
    ));
  }

  &-drp-dwn-btn {
    height: 28px !important;

    @include theme((
            color: widget-title-tab-fore-color,
            border: "none",
            background-image: "none",
            background-color: "transparent"
    ));
  }

  &-drp-dwn-btn:active {
    @include theme((
            color: app-title-fade-fore-color,
            border: "0 {widget-title-ui-control-border-color} solid",
            background-image: "none"
    ));
  }

  &-drp-dwn-btn-width {
    max-width: 63px;
    width: 100%;
  }

  &-border {
    height: 16px;
    margin-top: $margin-medium;

    @include theme((
            border-right: "1px {widget-border-t-color} solid"
    ));
  }
}