{{market-status-panel
    isShowSubMarketDropdown=true
}}
<div class="page-container">
        <div class="mgn-m-b">{{ outlet "w1"}}</div>
        <div class="mgn-m-b">{{ outlet "w2"}}</div>
        <div class="mgn-m-b">{{ outlet "w3"}}</div>
        <div class="mgn-m-b">{{ outlet "w4"}}</div>
        <div class="mgn-m-b">{{ outlet "w5"}}</div>
</div>