<div class="full-width full-height overflow-hidden">
    <div class="layout-container full-width font-m pad-m-tb pad-l-lr">
        <div class="layout-col-5">
            {{bootstrap-dropdown-select
            value=selectedParameter
            options=parameters
            defaultSelect=defaultParameter
            valueKey='value'
            labelKey='caption'
            selectAction='setParameter'
            buttonClass='full-width'
            lblClass='dropdown-item-container'
            }}
        </div>
        <div class="layout-col-0 pad-s-lr"></div>
        <div class="layout-col-8">
            {{bootstrap-dropdown-select
            value=selectedCriteria
            options=criteria
            defaultSelect=defaultCriteria
            valueKey='value'
            labelKey='caption'
            selectAction='setCriteria'
            buttonClass='full-width'
            lblClass='dropdown-item-container'
            }}
        </div>
        <div class="layout-col-0 pad-s-lr"></div>
        <div class="layout-col-5 font-xx-l">
            {{input-field-number
            class="form-control search-query h-right fore-color font-xx-l full-width alert-text-box"
            decimalPlaces=valueDecimalPlaces
            maxlength=15
            numValue=value
            placeholder=alertValuePlaceHolder}}
        </div>
        <div class="layout-col-1"></div>
        <div class="layout-col-6 pad-s-r" {{action 'addAlert'}}>
            <span class="font-x-l bold btn-txt-color">
                <button type="button" class="btn bold btn-default btn-animation add-alert-btn font-l"  disabled={{isAddAlertDisabled}}>
                    <span>{{alertButtonText}}</span>
                </button>
            </span>
        </div>
    </div>

    <div class="full-width alert-container-height pos-rel">
        {{loading-indicator isLoading=isLoading}}
        {{#if isWidgetRefreshed}}    <!-- Default value of this boolean value is true -->
            {{table-component
            columns=columns
            content=arrangedContent
            rowHeight= 45
            hasFooter=false
            isActiveOnSymbolChange=false
            minHeaderHeight=25
            isRefreshed=isRefreshed
            headerNames=headerNames
            isOddEvenRowStyleDisabled=true
            contextPath=contextPath
            isContextPanel=isContextPanel
            id=wkey
            }}
        {{/if}}
        {{single-message-viewer message=errorMessage showMessage=showError messageCss='appttl-light-bg-fore-color mgn-l-t' backgroundCss='h-middle mgn-l-t'}}
    </div>
</div>
