<div class="pad-s-b">
    <div class="container-fluid">
        <div class="row wdgttl-table-header" style="padding-bottom: 5px;">
            <div class="layout-container col-lg-12 pad-m-lr">
                <div class="layout-col pad-l-r" style="width:33%">
                    <div class="layout-inline font-m pad-s-r" style="white-space:nowrap">{{app.lang.labels.daysRange}}</div>
                    <div class="layout-inline quote-x-large-width hint--bottom hint--rounded" data-hint="{{app.lang.labels.daysRange}} %   {{formatNumber daysRangeValues.dayRangePosition 2}}&#10;{{app.lang.labels.lastTrade}}           {{formatNumber daysRangeValues.lastTradeValue stock.deci}}&#10;{{app.lang.labels.todayHigh}}       {{formatNumber daysRangeValues.highValue stock.deci}}&#10;{{app.lang.labels.todayLow}}        {{formatNumber daysRangeValues.lowValue stock.deci}}">{{days-range id=daysRangeId stock=stock isBarAvailable=true}}</div>
                </div>
                <div class="layout-col pad-l-r pad-s-l" style="width:33%">
                    <span class="layout-inline font-m pad-s-r" style="white-space:nowrap">{{app.lang.labels.week52Range}}</span>
                    <span class="layout-inline quote-x-large-width hint--bottom hint--rounded" data-hint="{{app.lang.labels.week52Range}} %  {{formatNumber fiftyTowWkValues.fiftyTwoWkPosition 2}}&#10;{{app.lang.labels.lastTrade}}        {{formatNumber daysRangeValues.lastTradeValue stock.deci}}&#10;{{app.lang.labels.fiftyTwoWkH}}        {{formatNumber fiftyTowWkValues.highValue stock.deci}}&#10;{{app.lang.labels.fiftyTwoWkL}}         {{formatNumber fiftyTowWkValues.lowValue stock.deci}}">{{fifty-two-wk-hl id=fiftyTowWkId stock=stock isBarAvailable=true}}</span>
                </div>

                <div class="layout-col pad-l-r pad-s-l" style="width:33%">
                    <span class="layout-inline font-m pad-s-r" style="white-space:nowrap">{{app.lang.labels.cashMap}}</span>
                    <span class="layout-inline quote-x-large-width hint--bottom hint--rounded" data-hint="{{app.lang.labels.cashMap}} %   {{formatNumber cashMapValues.calculateCash 2}}&#10;{{app.lang.labels.cashIn}}       {{formatNumber stock.cit stock.deci}}&#10;{{app.lang.labels.cashOut}}    {{formatNumber stock.cot stock.deci}}">{{cash-map id=cashMapId stock=stock isValueHidden=true}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row mgn-m-t mgn-s-l mgn-s-r">
        <div class="detailquote-height" >
            {{#each field in panelFields}}
                <div class="intraday-dq-widget hint--bounce hint--top hint--rounded" data-hint={{field.detailQouteTitle}}>
                    <span class="font-m ellipsis fade-fore-color">{{field.caption}}</span>
                    <span class="font-l bold fore-color right pad-xs-t h-right pad-s-r"><span class="{{field.style}}">{{field.formattedValue}}</span></span>
                </div>
            {{/each}}
        </div>
    </div>
</div>
