<div class="full-height">
    <div class="col-xs-6 full-height">
        <div class="widget-outlet" style="height: calc(50% - 20px);">
            {{outlet "w8"}}
        </div>
        <div class="widget-outlet" style="height: calc(50% - 15px);">
            {{outlet "w9"}}
        </div>
    </div>

    <div class="col-xs-6" style="height: calc(100% - 24px);">
        <div class="col-xs-6 full-height">
            <div class="widget-outlet full-height">
                {{outlet "w5"}}
            </div>
        </div>
        <div class="col-xs-6 full-height">
            <div class="widget-outlet" style="height: 50%;">{{outlet "w6"}}</div>
            <div class="widget-outlet" style="height: 50%;">{{outlet "w7"}}</div>
        </div>
    </div>
</div>
