<div class="page-container">

    {{#unless isMobile}}
        {{widget-header
        widgetTitle=widgetTitle
        linkOptions=links defaultSelectedLink=defaultLink selectedLink=selectedLink setLink='setLink'
        hideSymbol=true
        }}
    {{/unless}}

    <div>
        <div id="div-{{wkey}}" class="widget-container-new">
            {{#each gmsSymbols in gmsSymbolsByAssetType}}
                {{widget-header
                class = "full-width"
                widgetTitle = gmsSymbols.title
                linkOptions=links defaultSelectedLink=defaultLink selectedLink=selectedLink setLink = 'setLink'
                hideSymbol = true
                }}

                <div class="layout-container pad-xs-t full-width">
                    {{#each item in gmsSymbols}}
                        <div class="layout-row cursor-pointer" id="gms-{{item.entity.sym}}-{{item.entity.exg}}"
                            {{action 'doubleClickRow' item.entity on="doubleClick"}}>

                            <!-- Flag or icon -->
                            <div class="layout-col-3 pad-s-t v-top border-bottom pad-widget-left {{item.containerCss}}" >
                                <div class="{{item.icon}}"></div>
                            </div>

                            <!-- Symbol description -->
                            <div {{bind-attr class=":layout-col-8 :white-space-normal :sym-desc-line-height :v-top :pad-s-t :border-bottom :symbol-fore-color :dual-row-height :font-l :bold :pad-s-l item.css"}}  >{{item.entity.sDes}}</div>

                            <!-- Symbol up / down indicator -->
                            {{#unless isMobile}}
                                <div class="layout-col pad-m-l">
                                    {{#if item.entity.isChangeNegative}}
                                        <i {{bind-attr class="indexArrowCssDown"}}></i>
                                    {{else}}
                                        <i {{bind-attr class="indexArrowCssUp"}}></i>
                                    {{/if}}
                                </div>
                            {{/unless}}

                            <!-- Symbol last price -->
                            <div class="layout-col-7 h-right v-top pad-s-t pad-l-l border-bottom"  >
                                <div class="font-l h-right highlight-fore-color bold pad-s-tb pad-m-l">{{formatNumber item.entity.ltp item.entity.deci}}</div>
                            </div>

                            <!-- Symbol change / % chg-->
                            <div class="layout-col-6 h-right ltr pad-m-l border-bottom pad-widget-right" >
                                <div {{bind-attr class=":pad-s-tb :font-l :bold item.entity.isChangeNegative:down-fore-color:up-fore-color"}}>{{formatNumberPercentage item.entity.pctChg}}</div>
                                <div {{bind-attr class=":pad-s-tb :font-m item.entity.isChangeNegative:down-fore-color:up-fore-color"}}>{{formatNumber item.entity.chg item.entity.deci}}</div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            {{/each}}
        </div>
    </div>
</div>
