<div class="widget_new full-height" id="{{wkey}}">
    {{widget-header
    linkOptions=links
    defaultSelectedLink=defaultLink
    selectedLink=selectedLink
    widgetTitle=app.lang.labels.detailQuote
    symbol=stock.dispProp1
    setLink='setLink'
    hideSymbol=hideSymbol
    searchedSymbol=stock.dispProp1
    innerWidgets=innerWidgets
    innerWidgetAction="renderInnerWidgetItems"
    isWidgetCloseAvailable=isWidgetCloseAvailable
    closeWidgetAction= 'closeWidgetAction'
    closeActionTarget=controller
    isSearchAvailable=isSearchAvailable
    searchID=searchID
    clickAction='changeSymbol'
    cursorMoveCss=cursorMoveCss
    app=app}}

    <div class="nano detailquote-height has-scrollbar pos-rel">
        <div class="widget-container-new nano-content full-height pad-xs-t" >
            {{#each field in panelFields}}
                <div class="intraday-dq-widget hint--top hint--bounce hint--rounded pad-widget-left pad-widget-right" data-hint={{field.detailQouteTitle}}>
                    <span class="font-m ellipsis left fade-fore-color">{{field.caption}}</span>
                    <span class="font-l bold fade-fore-color right"><span class="layout-inline ltr {{field.style}}">{{field.formattedValue}}</span></span>
                </div>
            {{/each}}
        </div>
    </div>
</div>