{{#if isWidgetHeaderAvailable}}
    <div class="layout-container full-width">
        {{widget-header
        widgetTitle=app.lang.labels.quoteSummary
        linkOptions=links defaultSelectedLink=defaultLink selectedLink=selectedLink setLink='setLink'
        hideSymbol=hideSymbol
        searchedSymbol=stock.dispProp1
        innerWidgets=innerWidgets
        innerWidgetAction="renderInnerWidgetItems"
        isWidgetCloseAvailable=isWidgetCloseAvailable
        closeWidgetAction='closeWidgetAction'
        closeActionTarget=controller
        isSearchAvailable=isSearchAvailable
        searchID=searchID
        clickAction='changeSymbol'
        cursorMoveCss=cursorMoveCss}}
    </div>
{{/if}}

<div id="quoteSummery-{{wkey}}" {{bind-attr class="addBorder :pad-widget-left :pad-widget-right :pad-s-tb isWidgetHeaderAvailable:full-height-without-header"}}>
    <div class="layout-container">
        <div class="layout-col">
            <div class="layout-inline pos-rel full-height full-width">

                <div class="layout-container">
                    <div class="layout-col">
                        <div class="layout-inline ltr"><span class="font-x-l bold symbol-fore-color">{{stock.dispProp1}}</span></div>
                    </div>

                        <div class="layout-container">
                            <div class="horizontal-list-left font-m">
                                <div class="layout-col indicator-li"><i {{bind-attr class="dcfsStyle" }} {{bind-attr title="dcfsToolTip"}}></i></div>
                                {{#if stock.is52WeekHigh}}
                                    <div class="layout-col"><div class="hint--bottom-right hint--bounce hint-info hint--rounded" data-hint="{{app.lang.labels.highReachedFiftyTwoWeekHigh}}"><div class="wk52-up-icon"><i class="icon-high-low-52 up-fore-color"></i></div></div></div>
                                {{/if }}
                                {{#if stock.is52WeekLow}}
                                    <div class="layout-col"><div class="hint--bottom-right hint--bounce hint-info hint--rounded" data-hint="{{app.lang.labels.lowReachedFiftyTwoWeekLow}}"><div class="wk52-down-icon"><i class="icon-high-low-52 down-fore-color"></i></div></div></div>
                                {{/if }}
                                {{#if stock.isTodayHigh}}
                                    <div class="layout-col"><div class="hint--bottom-right hint--bounce hint-info hint--rounded" data-hint="{{app.lang.labels.lastTradedReachedHigh}}"><i class="chart-max up-fore-color"></i></div></div>
                                {{/if }}
                                {{#if stock.isTodayLow}}
                                    <div class="layout-col"><div class="hint--bottom-right hint--bounce hint-info hint--rounded" data-hint="{{app.lang.labels.lastTradedReachedLow}}"><i class="chart-max red"></i></div></div>
                                {{/if }}
                                {{#if stock.ann}}
                                    <div class="layout-col"><div class="hint--bottom-right hint--bounce hint-info hint--rounded" data-hint="{{app.lang.labels.annAvailable}}"><i class="icon-megaphone-1 colour-1"></i></div></div>
                                {{/if }}
                            </div>
                        </div>



                    <div class="layout-col">
                        <div class="layout-inline pos-rel full-height mgn-l-l">
                            <span {{bind-attr class="perChgCss :font-m"}}> <i {{bind-attr class="changeSign"}}></i> </span>
                            <span class="font-x-l bold highlight-fore-color "><{{formatNumber stock.ltp stock.deci}}</span>
                            <span class="font-m">{{stock.cur}}</span>
                        </div>
                    </div>
                </div>
                <div class="layout-container bottom-zero">
                    <span class="font-m fade-fore-color">{{stock.sDes}}</span>
                </div>
            </div>
        </div>
        <div class="layout-inline pos-rel full-height pad-l-l">
            <span class="font-x-l bold fore-color"><span class="layout-inline ltr"><span {{bind-attr class="perChgCss"}}>{{formatNumberPercentage stock.pctChg}}</span></span></span>
            <span class="font-l fore-color  pad-m-l layout-inline ltr"><span {{bind-attr class="changeCss"}}>{{formatNumber stock.chg stock.deci}}</span></span>
            <div class=" font-m pad-s-t fade-fore-color bottom-zero"><span>{{app.lang.labels.perChange}}&nbsp;</span>/<span>&nbsp;{{app.lang.labels.change}}</span></div>
        </div>
        <div class="widget-vline layout-col pad-m-l"></div>
        <div class="layout-col">
            <div class="layout-inline pos-rel full-height pad-l-l">
                <span class="font-x-l bold up-fore-color">{{formatNumber stock.bbp stock.deci}}</span>
                <span class="font-l up-fore-color  pad-m-l">{{formatNumber stock.bbq 0}}</span>
                <div class="font-m pad-s-t fade-fore-color bottom-zero"><span>{{app.lang.labels.bestBid}}&nbsp;</span>/<span>&nbsp;{{app.lang.labels.quantity}}</span></div>
            </div>
            <div class="layout-inline pos-rel full-height pad-l-l">
                <span class="font-x-l bold down-fore-color ">{{formatNumber stock.bap stock.deci}}</span>
                <span class="font-l down-fore-color pad-m-l">{{formatNumber stock.baq 0}}</span>
                <div class="font-m pad-s-t fade-fore-color bottom-zero"><span>{{app.lang.labels.bestOffer}}&nbsp;</span>/<span>&nbsp;{{app.lang.labels.quantity}}</span></div>
            </div>
        </div>
        <div class="widget-vline layout-col pad-m-l"></div>
        <div class="layout-col">
             {{#if (onResponsive responsive.trigger responsive "quoteSummery-right" 6)}}
                <div data-id="quoteSummery-volume" class="layout-inline pad-l-l">
                    <!--Hide element-->
                </div>
             {{else if (onResponsive responsive.trigger responsive "quoteSummery-right" 2)}}
                <div data-id="quoteSummery-volume" class="layout-inline pad-l-l">
                    <span class="font-x-l bold highlight-fore-color  ">{{divideNumber stock.vol 0}}</span>
                    <div class="font-m pad-s-t fade-fore-color">{{app.lang.labels.volume}}</div>
                </div>
            {{else}}
                <div data-id="quoteSummery-volume" class="layout-inline pad-l-l">
                    <span class="font-x-l bold highlight-fore-color  ">{{formatNumber stock.vol 0}}</span>
                    <div class="font-m pad-s-t fade-fore-color">{{app.lang.labels.volume}}</div>
                </div>
            {{/if}}

            {{#if (onResponsive responsive.trigger responsive "quoteSummery-right" 5)}}
                <div data-id="quoteSummery-turnover" class="layout-inline pad-l-l ">
                    <!--Hide element-->
                </div>
            {{else if (onResponsive responsive.trigger responsive "quoteSummery-right" 1)}}
                <div data-id="quoteSummery-turnover" class="layout-inline pad-l-l">
                    <span class="font-x-l bold highlight-fore-color ">{{divideNumber stock.tovr 0}}</span>
                    <div class="font-m pad-s-t fade-fore-color">{{app.lang.labels.turnover}}</div>
                </div>
            {{else}}
                <div data-id="quoteSummery-turnover" class="layout-inline pad-l-l">
                    <span class="font-x-l bold highlight-fore-color ">{{formatNumber stock.tovr 0}}</span>
                    <div class="font-m pad-s-t fade-fore-color">{{app.lang.labels.turnover}}</div>
                </div>
            {{/if}}

            {{#if (onResponsive responsive.trigger responsive "quoteSummery-right" 4)}}
                <!--Hide element-->
            {{else}}
                <div data-id="quoteSummery-trades" class="layout-inline pad-l-l">
                    <span class="font-x-l bold highlight-fore-color ">{{formatNumber stock.trades 0}}</span>
                    <div class="font-m pad-s-t fade-fore-color">{{app.lang.labels.trades}}</div>
                </div>
            {{/if}}
        </div>

        {{#if (onResponsive responsive.trigger responsive "quoteSummery-right" 3)}}
            <!--Hide elements-->
        {{else}}
            <div class="widget-vline layout-col pad-m-l"></div>
            <div data-id="quoteSummery-cashMap" class="layout-col pad-l-l">
                <div>{{cash-map  stock=stock}}</div>
                <div class="layout-col pad-s-t font-m fade-fore-color">{{app.lang.labels.cashMap}}</div>
            </div>
        {{/if}}

        <div data-id="quoteSummery-right" class="layout-col-24">
        </div>
        {{#unless isTablet}}
            <div class="layout-col v-top">
                <div>
                    {{link-dropdown
                    options=links
                    defaultSelect=defaultLink
                    value=selectedLink
                    valueKey='code'
                    labelKey='desc'
                    selectAction='setLink'
                    toolTip=app.lang.labels.linkWidgets}}
                </div>
            </div>
        {{/unless}}
    </div>
</div>