<div id="sectorOverviewContainer" class="widget_new full-height overflow-visible">
    {{widget-header
    widgetTitle=app.lang.labels.sectorOverview
    hideWidgetLink=true
    hideSymbol=true
    isDropdownAvailable=true dropDownOptions=sortBySelectBox defaultSelect=defaultCriteria valueKey='val' labelKey='name' toolTip=app.lang.labels.sortBy
    selectAction='onSortChanged'
    innerWidgets=innerWidgets
    innerWidgetAction="renderInnerWidgetItems"
    isWidgetCloseAvailable=isWidgetCloseAvailable
    closeWidgetAction= 'closeWidgetAction'
    closeActionTarget=controller
    cursorMoveCss=cursorMoveCss
    app=app}}

    {{#if isFullScreenMode}}
        <div class="col-lg-10">
            {{outlet "wlWidgetOutlet"}}
        </div>
    {{else}}
        <div class="widget-container-new mkt-ovw-row-1-height">
            <div class="layout-container pad-xs-t full-height">
                {{#each sectors in sortedContent}}
                    <div class="layout-row">
                        {{#if sectors.isNegative}}
                            <div class="layout-col-24 row-height font-m bold pad-widget-left hint--bottom-left hint--bounce hint--rounded"
                                 data-hint="{{sectors.sDes}} - {{sectors.pctChg}}">
                                <span {{bind-attr class="downColorCss"}}>{{sectors.lDes}}</span>
                            </div>
                            <div class="layout-col row-height font-m h-right pad-m-l">
                                <i {{bind-attr class="indexArrowCssBottom"}} ></i>
                            </div>
                            <div class="layout-col row-height font-m bold h-right ltr pad-m-l">
                                <span {{bind-attr class="downColorCss"}} >{{formatNumberPercentage sectors.pctChg}}</span>
                            </div>
                        {{else}}
                            <div class="layout-col-24 row-height font-m bold pad-widget-left hint--bottom-left hint--bounce hint--rounded"
                                 data-hint="{{sectors.sDes}} - {{sectors.pctChg}}">
                                <span {{bind-attr class="upColorCss"}}>{{sectors.lDes}}</span>
                            </div>
                            <div class="layout-col row-height font-m h-right pad-m-l">
                                <i {{bind-attr class="indexArrowCssTop"}}> </i>
                            </div>
                            <div class="layout-col row-height font-m bold h-right ltr pad-m-l">
                                <span {{bind-attr class="upColorCss"}} >{{formatNumberPercentage sectors.pctChg}}</span>
                            </div>
                        {{/if}}
                        <div class="layout-col row-height font-m bold h-right fore-color pad-m-l">{{formatNumber sectors.ltp 2}}</div>
                        <div class="layout-col row-height font-m bold h-right fore-color pad-m-l pad-widget-right">{{sectors.sortedProperty}}</div>
                    </div>
                {{/each}}
            </div>
        </div>
    {{/if}}
</div>