<div class="widget_new full-width full-height">
    {{widget-header
        widgetTitle=app.lang.labels.fundHoldings
        hideWidgetLink=true
        innerWidgets=innerWidgets
        innerWidgetAction="renderInnerWidgetItems"
        isWidgetCloseAvailable=isWidgetCloseAvailable
        closeWidgetAction= 'closeWidgetAction'
        closeActionTarget=controller
        cursorMoveCss=cursorMoveCss
        isReloadAvailable=true
        reloadAction='reloadData'
        app=app
    }}

    <div class="col-md-12 widget-container-new full-height-without-header pad-s-b">
        <div class="layout-container wl-def-panel-height pad-widget-left pad-widget-right pad-widget-top">
            <div class="layout-col pos-rel">
                {{input value=textFilter type="text" class="search-query search-ctrl form-control default-panel-width" placeholder=app.lang.labels.filter}}

                <div class="input-group-btn pos-abs top-zero">
                    <button class="btn search-ctrl-btn" type="button">
                        <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <div class="layout-col-24"></div>
        </div>

        <div class="full-width pad-widget-top" style="height: calc(100% - 30px);">
            {{loading-indicator isLoading=isLoading}}
            {{#if isRenderingEnabled}}
                {{table-component
                columns=columns
                content=arrangedContent
                rowHeight= 25
                minHeaderHeight= 25
                hasFooter=false
                rowClickAction="clickRow"
                sortAction="sort"
                id=wkey
                sortAscending=sortAscending
                numFixedColumns=numOfFixedColumns}}
            {{/if}}
            {{single-message-viewer message=errorMessage showMessage=showError messageCss='appttl-light-bg-fore-color' backgroundCss='h-middle'}}
        </div>
    </div>
</div>
