<div class="full-height pad-s-b overflow-visible">
    <div style="height: calc(100% - 7px);">
        <div class="layout-container full-width pad-m-tb pad-l-lr">
            <div class="layout-col">
                <div class="h-left symbol-fore-color font-l ellipsis bold">{{fundReqObj.symbol}} - {{fundReqObj.desc}}</div>
            </div>
            <div class="layout-col-24 ellipsis h-right pad-l-l pad-s-r fade-fore-color font-m">{{fundReqObj.curr}}</div>
        </div>
        <div class="widget-hline"></div>
        <div class="y-scroll full-height full-width">
            <div class="layout-container pad-m-t pad-l-lr">
                {{bootstrap-dropdown-select
                    options=accountColl
                    defaultSelect=currentAccount
                    valueKey="tradingAccId"
                    labelKey=portfolioDes
                    selectAction="onPortfolioChanged"
                    lblClass="bold"
                    buttonClass="fore-color"
                    isDropdownDisabled=isCalDisabled
                    dropdownClass="portfolio-dropdown"
                }}
            </div>

            <div class="layout-container full-width pad-l-b">
                <div class="layout-container pad-l-lr">
                    <div class="layout-col-24 font-m h-left fade-fore-color pad-m-t">{{app.lang.labels.availBalance}}</div>
                    <div class="layout-col pad-s-l pad-m-t">
                        <div class="layout-inline font-m fore-color">{{formatNumber currentAccount.cashAccount.cashAmt}}</div>
                        <div class="layout-inline pad-s-l font-m fade-fore-color pad-s-r">{{currentAccount.cashAccount.curr}}</div>
                    </div>
                </div>
                <div class="layout-container pad-l-lr">
                    <div class="layout-col-24 font-m h-left fade-fore-color pad-m-t">{{app.lang.labels.fundRiskProfile}}</div>
                    <div class="layout-col pad-s-l font-m fore-color pad-m-t pad-s-r">{{fundReqObj.fndRiskProName}}</div>
                </div>
                <div class="layout-container pad-l-lr">
                    <div class="layout-col-24 font-m h-left fade-fore-color pad-m-t">{{app.lang.labels.valuationDate}}</div>
                    <div class="layout-col pad-s-l font-m fore-color pad-m-t pad-s-r">{{formatToDateTime fundReqObj.valDte}}</div>
                </div>
                <div class="layout-container pad-l-lr pad-m-b">
                    <div class="layout-col-24 font-m h-left fade-fore-color pad-m-t">{{app.lang.labels.reqCutOffDT}}</div>
                    <div class="layout-col pad-s-l font-m fore-color pad-m-t pad-s-r">{{formatToDateTime fundReqObj.cutoffDate}}</div>
                </div>

                <div class="layout-container pad-l-lr">
                    {{#modal-popup isEnabled=false id=messagePopupId}}
                        <div class="message-box-frame messege-box-inner" style="left: 0">
                            <div class="message-box-title"> {{app.lang.labels.warning}} </div>
                            {{#each errorMessage in errorMessages}}
                                <div class="fade-down-back-color">
                                    <div class="v-middle font-x-l"></div>
                                    <div class="pad-m-all font-x-l">{{errorMessage}}</div>
                                </div>
                            {{/each}}
                        </div>
                    {{/modal-popup}}
                </div>

                {{#if strategy.isSubscription}}
                    <!--Subscription Change Start-->
                    <div class="layout-container full-width pad-m-tb pad-l-lr fade-up-back-color">
                        {{#if isCrossCurrEnabled}}
                            <div class="layout-container full-width">
                                <div class="layout-col-24 font-m h-left fade-fore-color">{{app.lang.labels.curr}}
                                    <span class="down-fore-color pad-xs-l">*</span></div>
                                <div class="layout-col pad-s-l font-m fore-color pad-s-r">
                                    {{bootstrap-dropdown-select
                                        options=currencyDropdownOptions
                                        defaultSelect=currentCurrency
                                        valueKey='DisplayName'
                                        labelKey='DisplayName'
                                        buttonClass="fore-color"
                                        mobileButtonClass="dropdown-text-only ltr"
                                        selectAction="onCurrencyChanged"
                                        isDropdownDisabled=isCalDisabled
                                    }}
                                </div>
                            </div>

                            <div class="layout-container full-width">
                                <div class="{{if isPortCurrEnabled 'layout-col-12' 'layout-col-24'}} font-m h-left fade-fore-color pad-m-t">{{app.lang.labels.subAmount}} ({{currentAccount.cashAccount.curr}})
                                    <span class="down-fore-color pad-xs-l">*</span></div>
                                <div class="{{if isPortCurrEnabled 'layout-col-12' 'layout-col'}} pad-s-l font-m fore-color pad-m-t pad-s-r">
                                    {{#if isPortCurrEnabled}}
                                        {{input-field-number
                                            id=subAmountId
                                            class="h-right fore-color font-l bold search-query form-control"
                                            maxlength=15
                                            decimalPlaces=2
                                            disabled=isCalDisabled
                                            numValue=fundReqObj.amtCur
                                        }}
                                    {{else}}
                                        {{formatNumber fundReqObj.amtCur}}
                                    {{/if}}
                                </div>
                            </div>

                            <div class="layout-container full-width">
                                <div class="{{if isPortCurrEnabled 'layout-col-24' 'layout-col-12'}} font-m h-left fade-fore-color pad-m-t">{{app.lang.labels.subAmount}} ({{fundReqObj.curr}})
                                    <span class="down-fore-color pad-xs-l">*</span></div>
                                <div class="{{if isPortCurrEnabled 'layout-col' 'layout-col-12'}} pad-s-l font-m fore-color pad-m-t pad-s-r">
                                    {{#if isPortCurrEnabled}}
                                        {{formatNumber fundReqObj.amt}}
                                    {{else}}
                                        {{input-field-number
                                            id=subCurrAmountId
                                            class="h-right fore-color font-l bold search-query form-control"
                                            maxlength=15
                                            decimalPlaces=2
                                            disabled=isCalDisabled
                                            numValue=fundReqObj.amt
                                        }}
                                    {{/if}}
                                </div>
                            </div>

                            <div class="layout-container full-width">
                                <div class="layout-col-24 font-m h-left fade-fore-color pad-m-t ltr white-space-normal">
                                    <span class={{msgCss}}>{{fxConvertRate}} {{currMessage}}</span>
                                </div>
                                <div class="layout-col pad-s-l font-m fore-color pad-m-t pad-s-r">
                                    <button type="submit" class="btn btn-small btn-primary pad-m-lr font-m" disabled={{isCalDisabled}}
                                        {{action 'onCalculateCrossCurrency'}}><i class="fa fa-calculator pad-xs-r" aria-hidden="true"></i>{{app.lang.labels.calculate}}</button>
                                </div>
                            </div>
                        {{else}}
                            <div class="layout-container full-width">
                                <div class="layout-col-12 font-m h-left fade-fore-color">{{app.lang.labels.subAmount}} ({{currentAccount.cashAccount.curr}})
                                    <span class="down-fore-color pad-xs-l">*</span></div>
                                <div class="layout-col-12 pad-s-l font-m fore-color pad-s-r">
                                    {{input-field-number
                                        id=subCurrAmountId
                                        class="h-right fore-color font-l bold search-query form-control"
                                        maxlength=15
                                        decimalPlaces=2
                                        numValue=fundReqObj.amt
                                    }}
                                </div>
                            </div>
                        {{/if}}
                    </div>
                    <!--Subscription Change End-->

                    <div class="layout-container pad-l-lr">
                        <div class="layout-col-24 font-m h-left fade-fore-color pad-m-t">{{app.lang.labels.subFee}} ({{currentAccount.cashAccount.curr}})</div>
                        <div class="layout-col pad-s-l font-m fore-color pad-m-t pad-s-r">{{formatNumber fundReqObj.subPercentFee}}</div>
                    </div>

                    {{#if isVATEnabled}}
                        <div class="layout-container pad-l-lr">
                            <div class="layout-col-24 font-m h-left fade-fore-color pad-m-t ltr">{{app.lang.labels.vat}} ({{currentAccount.cashAccount.curr}})</div>
                            <div class="layout-col pad-s-l font-m fore-color pad-m-t pad-s-r">{{formatNumber fundReqObj.vatAmt}}</div>
                        </div>
                    {{/if}}

                    <div class="layout-container pad-l-lr">
                        <div class="layout-col-24 font-m h-left fade-fore-color pad-m-t">{{app.lang.labels.netInvAmount}} ({{currentAccount.cashAccount.curr}})</div>
                        <div class="layout-col pad-s-l font-m fore-color pad-m-t pad-s-r">{{formatNumber fundReqObj.netAmount}}</div>
                    </div>
                {{else}}
                    <div class="layout-container pad-l-lr">
                        <div class="layout-col-24 font-m h-left fade-fore-color pad-m-t">{{app.lang.labels.availUnits}}</div>
                        <div class="layout-col pad-s-l font-m fore-color pad-m-t pad-s-r">{{formatNumber fundReqObj.avaiQty 4}}</div>
                    </div>
                    <div class="layout-container pad-l-lr">
                        <div class="layout-col-24 font-m h-left fade-fore-color pad-m-t">{{app.lang.labels.totalValue}} ({{fundReqObj.curr}})</div>
                        <div class="layout-col pad-s-l font-m fore-color pad-m-t pad-s-r">{{formatNumber fundReqObj.totalValue 4}}</div>
                    </div>
                    <div class="layout-container pad-l-lr">
                        <div class="layout-col-24 font-m h-left fade-fore-color pad-m-t">{{app.lang.labels.redemption}}</div>
                        <div class="layout-col pad-s-l font-m fore-color pad-m-t pad-s-r">
                            {{bootstrap-dropdown-select
                                options=redemptionDropdownOptions
                                defaultSelect=currentRedemptionType
                                value=redemptionType
                                valueKey="type"
                                labelKey="desc"
                                selectAction="onRedemptionTypeChanged"
                                isDropdownDisabled=isCalDisabled
                                lblClass="bold"
                            }}
                        </div>
                    </div>
                    <div class="layout-container pad-l-lr pad-m-b">
                        <div class="layout-col-24 font-m h-left fade-fore-color pad-m-t">{{app.lang.labels.byAmountUnit}}</div>
                        <div class="layout-col pad-s-l font-m fore-color pad-m-t pad-s-r">
                            {{bootstrap-dropdown-select
                                options=redemptionByOptions
                                defaultSelect=currentRedemptionBy
                                value=currentRedemptionBy.type
                                valueKey="type"
                                labelKey="desc"
                                selectAction="onRedemptionByChanged"
                                lblClass="bold"
                                isDropdownDisabled=strategy.isRedemptionFull
                            }}
                        </div>
                    </div>

                    {{#if strategy.isByAmount}}
                        <!--Redemption Change Start-->
                        <div class="layout-container full-width pad-l-lr pad-m-tb fade-down-back-color">
                            {{#if isCrossCurrEnabled}}
                                <div class="layout-container full-width">
                                    <div class="layout-col-24 font-m h-left fade-fore-color">{{app.lang.labels.curr}}
                                        <span class="down-fore-color pad-xs-l">*</span></div>
                                    <div class="layout-col pad-s-l font-m fore-color pad-s-r">
                                        {{bootstrap-dropdown-select
                                            options=currencyDropdownOptions
                                            defaultSelect=currentCurrency
                                            valueKey='DisplayName'
                                            labelKey='DisplayName'
                                            buttonClass="fore-color"
                                            mobileButtonClass="dropdown-text-only ltr"
                                            selectAction="onCurrencyChanged"
                                            isDropdownDisabled=isCalDisabled
                                        }}
                                    </div>
                                </div>

                                <div class="layout-container full-width">
                                    <div class="{{if isPortCurrEnabled 'layout-col-12' 'layout-col-24'}} font-m h-left fade-fore-color pad-m-t">{{app.lang.labels.redAmount}} ({{currentAccount.cashAccount.curr}})
                                        <span class="down-fore-color pad-xs-l">*</span></div>
                                    <div class="{{if isPortCurrEnabled 'layout-col-12' 'layout-col'}} pad-s-l font-m fore-color pad-m-t pad-s-r">
                                        {{#if isPortCurrEnabled}}
                                            {{input-field-number
                                                id=popupId
                                                class="h-right fore-color font-l bold search-query form-control"
                                                maxlength=15
                                                decimalPlaces=2
                                                numValue=fundReqObj.amountCur
                                                disabled=strategy.isRedemptionFull
                                            }}
                                        {{else}}
                                            {{formatNumber fundReqObj.amountCur 2}}
                                        {{/if}}
                                    </div>
                                </div>

                                <div class="layout-container full-width">
                                    <div class="{{if isPortCurrEnabled 'layout-col-24' 'layout-col-12'}} font-m h-left fade-fore-color pad-m-t">{{app.lang.labels.redAmount}} ({{fundReqObj.curr}})
                                        <span class="down-fore-color pad-xs-l">*</span></div>
                                    <div class="{{if isPortCurrEnabled 'layout-col' 'layout-col-12'}} pad-s-l font-m fore-color pad-m-t pad-s-r">
                                        {{#if isPortCurrEnabled}}
                                            {{formatNumber fundReqObj.amount 2}}
                                        {{else}}
                                            {{input-field-number
                                                id=redAmountId
                                                class="h-right fore-color font-l bold search-query form-control"
                                                maxlength=15
                                                decimalPlaces=2
                                                numValue=fundReqObj.amount
                                                disabled=strategy.isRedemptionFull
                                            }}
                                        {{/if}}
                                    </div>
                                </div>

                                <div class="layout-container full-width">
                                    <div class="layout-col-24 font-m h-left fade-fore-color pad-m-t ltr white-space-normal">
                                        <span class={{msgCss}}>{{fxConvertRate}} {{currMessage}}</span>
                                    </div>
                                    <div class="layout-col pad-s-l font-m fore-color pad-m-t pad-s-r">
                                        <button type="submit" class="btn btn-small btn-primary pad-m-lr font-m" disabled={{isCalDisabled}}
                                            {{action 'onCalculateCrossCurrency'}}><i class="fa fa-calculator pad-xs-r" aria-hidden="true"></i>{{app.lang.labels.calculate}}</button>
                                    </div>
                                </div>
                            {{else}}
                                <div class="layout-container full-width">
                                    <div class="layout-col-12 font-m h-left fade-fore-color">{{app.lang.labels.amount}} ({{currentAccount.cashAccount.curr}})
                                        <span class="down-fore-color pad-xs-l">*</span></div>
                                    <div class="layout-col-12 pad-s-l font-m fore-color pad-s-r">
                                        {{input-field-number
                                            id=popupId
                                            class="h-right fore-color font-l bold search-query form-control"
                                            maxlength=15
                                            decimalPlaces=2
                                            numValue=fundReqObj.amount
                                            disabled=strategy.isRedemptionFull
                                        }}
                                    </div>
                                </div>
                            {{/if}}
                        </div>
                        <!-- Redemption Change End-->
                    {{else}}
                        <div class="layout-container full-width pad-l-lr pad-m-tb fade-down-back-color">
                            <div class="layout-col-12 font-m h-left fade-fore-color">{{app.lang.labels.numOfUnits}}
                                <span class="down-fore-color pad-xs-l">*</span></div>
                            <div class="layout-col-12 pad-s-l font-m fore-color pad-s-r">
                                {{input-field-number
                                    id=popupId
                                    class="h-right fore-color font-l bold search-query form-control"
                                    maxlength=15
                                    decimalPlaces=4
                                    numValue=fundReqObj.numOfUnits
                                    disabled=strategy.isRedemptionFull
                                }}
                            </div>
                        </div>
                    {{/if}}

                    {{#if strategy.isByAmount}}
                        <div class="layout-container pad-l-lr">
                            <div class="layout-col-24 font-m h-left fade-fore-color pad-m-t">{{app.lang.labels.redemptionFee}} ({{currentAccount.cashAccount.curr}})</div>
                            <div class="layout-col pad-s-l font-m fore-color pad-m-t pad-s-r">{{formatNumber fundReqObj.redPercentFee}}</div>
                        </div>

                        <div class="layout-container pad-l-lr">
                            <div class="layout-col-24 font-m h-left fade-fore-color pad-m-t">{{app.lang.labels.projectedRedAmount}} ({{currentAccount.cashAccount.curr}})</div>
                            <div class="layout-col pad-s-l font-m fore-color pad-m-t pad-s-r">{{formatNumber fundReqObj.redNetAmount}}</div>
                        </div>
                    {{/if}}
                {{/if}}
            </div>

            <div class="widget-hline"></div>
            <div class="layout-container full-width pad-m-t pad-l-lr">
                <div class="layout-container">
                    <div class="layout-col font-m h-left fade-fore-color pad-m-t">{{app.lang.labels.name}}</div>
                    <div class="layout-col-24 pad-s-l font-m fore-color pad-m-t pad-s-r h-right ltr white-space-normal">{{cusDetails.fullName}}</div>
                </div>
                <div class="layout-container">
                    <div class="layout-col font-m h-left fade-fore-color pad-m-t">{{app.lang.labels.iqamaIdCR}}</div>
                    <div class="layout-col-24 pad-s-l font-m fore-color pad-m-t pad-s-r h-right ltr white-space-normal">{{cusDetails.nin}}</div>
                </div>
                <div class="layout-container">
                    <div class="layout-col font-m h-left fade-fore-color pad-m-t">{{app.lang.labels.nationality}}</div>
                    <div class="layout-col-24 pad-s-l font-m fore-color pad-m-t pad-s-r h-right ltr white-space-normal">{{cusDetails.Nationality}}</div>
                </div>
                <div class="layout-container">
                    <div class="layout-col font-m h-left fade-fore-color pad-m-t">{{app.lang.labels.investorType}}</div>
                    <div class="layout-col-24 pad-s-l font-m fore-color pad-m-t pad-s-r h-right ltr white-space-normal">{{cusDetails.cusAccTyp}}</div>
                </div>
                <div class="layout-container">
                    <div class="layout-col font-m h-left fade-fore-color pad-m-t">{{app.lang.labels.mobileNo}}</div>
                    <div class="layout-col-24 pad-s-l font-m fore-color pad-m-t pad-s-r h-right ltr white-space-normal">{{cusDetails.mobile}}</div>
                </div>
                <div class="layout-container">
                    <div class="layout-col font-m h-left fade-fore-color pad-m-t">{{app.lang.labels.addr}}</div>
                    <div class="layout-col-24 pad-s-l font-m fore-color pad-m-t pad-s-r h-right ltr white-space-normal">{{cusDetails.cusAddress}}</div>
                </div>
            </div>
        </div>
        <div class="layout-container pad-m-tb full-width pad-l-lr">
            <div class="layout-col-24 font-m symbol-fore-color white-space-normal">{{message}}</div>
            <div class="layout-col pad-m-l pad-s-r">
                <button type="submit" {{bind-attr class=":btn-animation :colour-normal :bold :btn-txt-color isSubmitDisabled:disable-style strategy.btnClass" disabled=isSubmitDisabled}}
                    {{action 'onExecute'}}>{{actionLabel}}</button>
            </div>
        </div>
    </div>
</div>
