<div class="full-height pad-s-b overflow-visible">
    <div class="pad-l-lr" style="height: calc(100% - 15px);">
        <div class="layout-container full-width pad-m-tb">
            <div class="layout-col">
                <div class="h-left symbol-fore-color font-l ellipsis bold">{{fundReqObj.symbol}} - {{fundReqObj.desc}}</div>
            </div>
            <div class="layout-col-24 ellipsis h-right pad-l-l pad-m-r fade-fore-color font-m">{{fundReqObj.curr}}</div>
        </div>
        <div class="widget-hline"></div>
        <div class="y-scroll full-height full-width pos-rel">
            {{#if strategy.isSubscription}}
                <div class="layout-container">
                    <div class="layout-col-24 font-m h-left fade-fore-color pad-m-t">{{app.lang.labels.subAmount}} ({{fundObj.curr}})</div>
                    <div class="layout-col pad-s-l font-m fore-color pad-m-t">{{formatNumber fundReqObj.amt}}</div>
                </div>
                <div class="layout-container">
                    <div class="layout-col-24 font-m h-left fade-fore-color pad-m-t">{{app.lang.labels.subFee}} ({{fundObj.curr}})</div>
                    <div class="layout-col pad-s-l font-m fore-color pad-m-t">{{formatNumber fundReqObj.subPercentFee}}</div>
                </div>

                {{#if isVATEnabled}}
                    <div class="layout-container">
                        <div class="layout-col-24 font-m h-left fade-fore-color pad-m-t ltr">{{app.lang.labels.vat}} ({{fundObj.curr}})</div>
                        <div class="layout-col pad-s-l font-m fore-color pad-m-t">{{formatNumber fundReqObj.vatAmt}}</div>
                    </div>
                {{/if}}

                <div class="layout-container">
                    <div class="layout-col-24 font-m h-left fade-fore-color pad-m-t">{{app.lang.labels.netInvAmount}} ({{fundObj.curr}})</div>
                    <div class="layout-col pad-s-l font-m fore-color pad-m-t">{{formatNumber fundReqObj.netAmount}}</div>
                </div>
            {{else}}
                <div class="layout-container">
                    <div class="layout-col-24 font-m h-left fade-fore-color pad-m-t">{{app.lang.labels.availUnits}}</div>
                    <div class="layout-col pad-s-l font-m fore-color pad-m-t">{{formatNumber fundReqObj.avaiQty 4}}</div>
                </div>
                <div class="layout-container">
                    <div class="layout-col-24 font-m h-left fade-fore-color pad-m-t">{{app.lang.labels.totalValue}} ({{fundObj.curr}})</div>
                    <div class="layout-col pad-s-l font-m fore-color pad-m-t">{{formatNumber fundReqObj.totalValue 4}}</div>
                </div>
                <div class="layout-container">
                    <div class="layout-col-24 font-m h-left fade-fore-color pad-m-t">{{app.lang.labels.redemption}}</div>
                    <div class="layout-col pad-s-l font-m fore-color pad-m-t">{{redemptionType}}</div>
                </div>
                <div class="layout-container">
                    <div class="layout-col-24 font-m h-left fade-fore-color pad-m-t">{{app.lang.labels.byAmountUnit}}</div>
                    <div class="layout-col pad-s-l font-m fore-color pad-m-t">{{redemptionBy}}</div>
                </div>

                <div class="layout-container">
                    {{#if strategy.isByAmount}}
                        <div class="layout-col-24 font-m h-left fade-fore-color pad-m-t">{{app.lang.labels.amount}} ({{fundObj.curr}})</div>
                        <div class="layout-col pad-s-l font-m fore-color pad-m-t">{{formatNumber fundReqObj.amount}}</div>
                    {{else}}
                        <div class="layout-col-24 font-m h-left fade-fore-color pad-m-t">{{app.lang.labels.numOfUnits}}</div>
                        <div class="layout-col pad-s-l font-m fore-color pad-m-t">{{formatNumber fundReqObj.numOfUnits 4}}</div>
                    {{/if}}
                </div>

                {{#if strategy.isByAmount}}
                    <div class="layout-container">
                        <div class="layout-col-24 font-m h-left fade-fore-color pad-m-t">{{app.lang.labels.redemptionFee}} ({{fundObj.curr}})</div>
                        <div class="layout-col pad-s-l font-m fore-color pad-m-t">{{formatNumber fundReqObj.redPercentFee}}</div>
                    </div>

                    <div class="layout-container">
                        <div class="layout-col-24 font-m h-left fade-fore-color pad-m-t">{{app.lang.labels.projectedRedAmount}} ({{fundObj.curr}})</div>
                        <div class="layout-col pad-s-l font-m fore-color pad-m-t">{{formatNumber fundReqObj.redNetAmount}}</div>
                    </div>
                {{/if}}
            {{/if}}

            <div class="layout-container pad-l-lr">
                {{#modal-popup isEnabled=false id=messagePopupId}}
                    <!--Added inline style 'left: 0' to disable scroll bar and 'left-zero' css class is available in layout-helper file and that is overwritten by 'message-box-inner' css class-->
                    <div class="message-box-frame messege-box-inner" style="left: 0">
                        <div class="message-box-title"> {{app.lang.labels.warning}} </div>
                        {{#each errorMessage in errorMessages}}
                            <div class="fade-down-back-color">
                                <div class="v-middle font-x-l"></div>
                                <div class="pad-m-all font-x-l">{{errorMessage}}</div>
                            </div>
                        {{/each}}
                    </div>
                {{/modal-popup}}
            </div>

            <div class="layout-container pad-m-b pad-l-t full-width h-right pad-s-r" style="padding-top: 35px">
                <div class="layout-col-24 font-m h-middle bold btn-link link">
                    <a {{action "onClickTC"}}>{{app.lang.labels.termAndCondition}}</a>
                </div>
            </div>

            <div class="layout-container pad-m-b pad-l-t full-width h-right pad-s-r">
                <div class="layout-col-24 font-m h-middle white-space-normal"> {{termsConditionMessage}} </div>
            </div>

            {{#if isTCNotAccepted}}
                <div class="layout-container pad-m-b pad-l-t full-width h-right pad-s-r">
                    <div class="layout-col pad-m-b pad-m-l full-width h-right pad-s-r">
                        <button type="button" class="{{strategy.btnClass}} pad-l-lr btn-small :bold btn-animation border-none" {{action 'onAccept'}}>{{app.lang.labels.accept}}</button>
                    </div>
                    <div class="layout-col pad-m-b pad-m-l pad-s-r full-width h-right">
                        <button type="button" class="btn-default pad-l-lr btn-small bold btn-animation" {{action 'onCancel'}}>{{this.app.lang.labels.reject}}</button>
                    </div>
                </div>
            {{/if}}

            <div class="layout-container pad-m-tb full-width h-right pad-s-r">
                <div {{bind-attr class=":layout-col-24 :font-m :h-middle msgColor"}}>
                    {{message}}
                </div>
            </div>

            {{#unless isTCNotAccepted}}
                <div class="layout-container pad-m-b pad-l-t full-width h-right pad-s-r pos-abs bottom-zero">
                    <div class="layout-col pad-m-l full-width h-right pad-s-r">
                        <button type="button" {{bind-attr disabled=isBtnDisabled}} {{bind-attr class=":pad-l-lr :btn-small :bold :btn-animation strategy.btnClass isBtnDisabled:disable-style :border-none"}}
                            {{action 'onContinue'}}>{{app.lang.labels.continue}}</button>
                    </div>
                    <div class="layout-col pad-m-l pad-s-r full-width h-right">
                        <button type="button" class="btn-default pad-l-lr btn-small bold btn-animation" {{action 'onCancel'}}>
                            {{#if isBtnDisabled}}
                                {{app.lang.labels.close}}
                            {{else}}
                                {{app.lang.labels.cancel}}
                            {{/if}}
                        </button>
                    </div>
                </div>
            {{/unless}}
        </div>
    </div>
</div>
