<div class="widget_new full-width full-height">
    {{widget-header
        widgetTitle=title
        hideWidgetLink=true
        innerWidgets=innerWidgets
        innerWidgetAction="renderInnerWidgetItems"
        isWidgetCloseAvailable=isWidgetCloseAvailable
        closeWidgetAction= 'closeWidgetAction'
        closeActionTarget=controller
        cursorMoveCss=cursorMoveCss
        isReloadAvailable=true
        reloadAction='reloadData'
        app=app
    }}

    <div class="col-md-12 widget-container-new full-height-without-header">
        <div class="full-width full-height">
            {{loading-indicator isLoading=isLoading}}
            {{#if isRenderingEnabled}}
                {{table-component
                columns=columns
                content=arrangedContent
                rowHeight= 25
                minHeaderHeight= 25
                hasFooter=false
                sortAction="sort"
                sortAscending=sortAscending
                id=wkey
                numFixedColumns=numOfFixedColumns}}
            {{/if}}
            {{single-message-viewer message=errorMessage showMessage=showError messageCss='appttl-light-bg-fore-color' backgroundCss='h-middle'}}
        </div>
    </div>
</div>
