<div class="widget_new full-height pad-s-b overflow-visible order-confirmation-back-color">
    <div class="horizontal_line"></div>
    <div class="pad-m-lr pad-m-tb">
        <div class="pad-l-lr order-confirmation-panel">
            <div class="layout-container full-width  pad-m-tb">
                <div class="layout-col-18  h-left ">
                   <div><span class="symbol-fore-color font-x-l bold  pad-l-r">{{invoker.symbolInfo.dispProp1}}</span> <span class="fade-fore-color font-m"> {{invoker.orderParams.exg}}</span></div>
                    <div class="fade-fore-color pad-m-t font-l">   {{invoker.symbolInfo.sDes}}</div>
                </div>
                <div {{bind-attr class=":layout-col-6 :font-x-l :bold  :h-right :v-top ordSideCss"}}>{{formatLabel 'orderSide' invoker.orderParams.ordSide}}</div>
            </div>
        </div>

        <div class="mgn-m-t pad-l-lr order-confirmation-panel">
            <div class="widget-hline"></div>
            {{#if isCancelOrder}}
            <div class="layout-container full-width pad-m-t">
                <div class="layout-col-12 font-l  h-left fade-fore-color">{{app.lang.labels.orderId}}</div>
                <div class="layout-col-12 font-x-l  h-right fore-color"> {{invoker.orderParams.clOrdId}}</div>
            </div>
            {{/if}}
            <div class="layout-container full-width pad-m-t pad-m-b">
                <div class="layout-col-12 font-l  h-left fade-fore-color">{{app.lang.labels.price}}</div>
                <div class="layout-col-12 font-x-l  h-right fore-color {{priceValueCss}}"> {{priceValue}}</div>
            </div>
            <div {{bind-attr class=":layout-container :full-width isCancelOrder:pad-m-b"}}>
                <div class="layout-col-12 font-l h-left fade-fore-color ">{{app.lang.labels.quantity}}</div>
                <div class="layout-col-12 font-x-l  h-right fore-color bold">  {{formatNumber invoker.orderParams.ordQty 0}}</div>
            </div>
        </div>

         {{#unless isCancelOrder}}
         <div class="mgn-m-t pad-l-lr order-confirmation-panel">
            <div class="layout-container full-width widget-hline pad-m-t">
                <div class="layout-col-12 font-l  h-left fade-fore-color">{{app.lang.labels.orderType}}</div>
                <div class="layout-col-12 font-x-l h-right"> {{formatLabel 'orderType' invoker.orderParams.ordTyp}}</div>
            </div>
            <div class="layout-container full-width pad-m-t">
                <div class="layout-col-12 font-l  h-left fade-fore-color">{{app.lang.labels.tif}}</div>
                <div class="layout-col-12 font-x-l  h-right"> {{formatLabel 'tifType' invoker.orderParams.tif}}</div>
            </div>
        </div>

        <div class=" mgn-m-t pad-l-lr fade-fore-color order-confirmation-panel">
            <div class="layout-container full-width pad-m-t widget-hline">
                <div class="layout-col-12 font-l h-left">{{app.lang.labels.orderValue}}</div>
                <div class="layout-col-12 font-x-l  h-right bold fore-color">{{formatNumber invoker.orderParams.calcOrdVal valueDecimals}}</div>
            </div>
            <div class="layout-container full-width pad-m-t">
                <div class="layout-col-12 font-l h-left">{{app.lang.labels.commission}}</div>
                <div class="layout-col-12 font-x-l h-right bold fore-color">{{formatNumber invoker.orderParams.comsn invoker.symbolInfo.deci}}</div>
            </div>
            {{#if isVATEnabled}}
                <div class="layout-container full-width pad-m-t">
                    <div class="layout-col-12 font-l h-left">{{app.lang.labels.vat}}</div>
                    <div class="layout-col-12 font-x-l h-right bold fore-color">{{formatNumber invoker.orderParams.vatAmount invoker.symbolInfo.deci}}</div>
                </div>
            {{/if}}
            <div class="layout-container full-width pad-m-tb">
                <div class="layout-col-12 font-l  h-left">{{app.lang.labels.netValue}}</div>
                <div class="layout-col-12 font-x-l  h-right highlight-fore-color bold"> {{formatNumber invoker.orderParams.calcNetOrdVal valueDecimals}}</div>
            </div>
        </div>
         {{/unless}}

        {{#if invoker.warningMessages}}
            <div class="widget-hline"></div>
            <div class="pad-m-lr order-confirmation-panel">
                <div class="layout-container full-width pad-m-tb white-space-normal">
                    <div class="fade-down-back-color">
                        <div class="pad-s-lr pad-s-t">
                            <div class="font-m fore-color pad-s-b">{{app.lang.labels.warning}} : </div>

                            {{#each warningMessage in invoker.warningMessages}}
                                <div class="font-m fore-color pad-s-b">{{warningMessage}}</div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        {{/if}}

        <div class="widget-hline"></div>
        <div class="layout-container full-width pad-l-t h-right pad-l-lr">
            {{#if isCancelOrder}}
                <div class="layout-inline pad-m-l">
                    <button type="submit" class="btn btn-small btn-sell btn-txt-color order-confirmation-cancel-btn pad-l-lr bold font-l" {{action 'confirmOrder'}}>{{app.lang.labels.confirmCancelOrder}}</button>
                </div>
            {{else}}
                <div class="layout-inline">
                    <button type="submit" class="btn btn-default btn-animation pad-l-lr btn-small bold font-l" {{action 'closePopup'}}>{{app.lang.labels.cancel}}</button>
                </div>
                <div class="layout-inline pad-m-l">
                    <button type="submit" class="btn bold confirm-btn btn-animation orderStatus_1-progress_bar btn-txt-color font-l" {{action 'confirmOrder'}}>{{app.lang.labels.confirmOrder}}</button>
                </div>
            {{/if}}
        </div>
        <div class="layout-container full-width pad-l-t">
            {{#if isOfflineOrder}}
                <div class="font-l white-space-normal text-justify fore-color">{{app.lang.messages.offLineOrder}}
                </div>
            {{/if}}
        </div>
    </div>
</div>
