<div id="orderTicket-{{wkey}}" class="full-height">
    <div class="layout-container full-width">
        {{order-main-details
            id=mainDetailCompId
            app=app
            enableSearch=enableSearch
            invoker=invoker
            onSymbolChanged='onSymbolChanged'
            searchFieldId=searchFieldId
            displayPrice=invoker.orderParams.displayPrice
            wkey=wkey
        }}
    </div>

    <div>
        {{#modal-popup isEnabled=false id=messagePopupId}}
            <div class="message-box-frame messege-box-inner">
                <div class="message-box-title">{{invoker.message}} !</div>
                {{#each errorMessage in invoker.errorMessages}}
                    <div class="v-middle font-x-l"></div>
                    <div class="pad-m-all font-x-l">{{errorMessage}}</div>
                {{/each}}
            </div>
        {{/modal-popup}}
    </div>

    <div class="full-width pos-rel pad-xs-t">
        {{outlet "marketDepth"}}
        <div id="orderTicketSliderMobile" class="{{popupPanelCss}} layout-container transform-all full-height full-width pos-abs top-zero left-zero z-index-hundred shadow container-back-color">
            {{#if quantitySelectorEnabled}}
                {{quantity-selector
                quantity=invoker.orderParams.ordQty
                }}
            {{else if sliderEnabled}}

            {{/if}}
        </div>
    </div>

    <div {{bind-attr class=":layout-container :pad-widget-left :pad-widget-right-scroll :full-width invoker.orderStrategy.panelClass"}}>
        {{order-action-container-mobile
            id=actionComponentId
            qtyFieldId=qtyFieldId
            invoker=invoker
            statAction='setStat'
            componentStatus=componentStatus
            sliderEnabled=false
            quantitySelectorEnabled=quantitySelectorEnabled
            app=app
            wkey=wkey
        }}
    </div>
        {{order-summary
            invoker=invoker
            app=app
        }}
    <div class="layout-container pad-s-b full-width pad-widget-left pad-widget-right-scroll widget-hline1 {{containerPadding}}">
        {{order-execute
            id=executeComponentId
            invoker=invoker
            app=app
            showRecentOrders='showRecentOrders'
            onExecute="onExecute"
            onReset="onReset"
        }}
    </div>
</div>
