<div class="widget_new full-width">
    <div class="layout-container full-width pad-m-lr">
        <div class="layout-col-24">
            <div class="layout-container full-width pad-s-t">
                <div class=" layout-col-8 font-m h-left row-height v-middle">{{app.lang.labels.buyingPower}}</div>
                <div class="layout-col-8 font-m pad-widget-left ">
                    <span> {{formatNumber currentPortfolio.cashAccount.buyPwr 2}}</span>
                    <span {{bind-attr class=":pad-s-l"}}>{{currentPortfolio.cashAccount.curr}}</span>
                </div>
            </div>
            <div class="layout-container full-width pad-s-t">
                <div class=" layout-col-8 font-m h-left row-height">{{app.lang.labels.portfolio}}</div>
                <div class="layout-col-8 font-m pad-widget-left h-left">
                    {{bootstrap-dropdown-select
                    options=portfolios
                    defaultSelect=currentPortfolio
                    valueKey="tradingAccId"
                    labelKey=portfolioDes
                    selectAction="setPortfolio"
                    lblClass="btn-lbl-m"
                    buttonClass='full-width'
                    mobileButtonClass="dropdown-text-only ltr"
                    }}
                </div>
            </div>
            <div class="layout-container full-width pad-s-t">
                <div class=" layout-col-8 font-m h-left row-height v-middle">{{app.lang.labels.rights}}</div>
                <div class="layout-col-8 font-m pad-widget-left">
                    <span class="symbol-fore-color">{{rowData.symbol}}</span>
                    <span class="pad-s-l bold fore-color">{{rowData.sDes}}</span>
                </div>
            </div>
            <div class="layout-container full-width pad-s-t">
                <div class=" layout-col-8 font-m h-left row-height v-middle">{{app.lang.labels.availableRights}}</div>
                <div class="layout-col-8 font-m pad-widget-left">{{formatNumber rowData.avaiQty 0}}</div>
            </div>
            <div class="layout-container full-width pad-s-t">
                <div class=" layout-col-8 font-m h-left row-height row-height v-middle">{{app.lang.labels.price}}</div>
                <div class="layout-col-8 font-m pad-widget-left row-height">{{formatNumber rowData.subPrice 2}}</div>
            </div>
            <div class="layout-container full-width pad-s-t">
                <div class=" layout-col-8 font-m h-left row-height row-height v-middle">{{app.lang.labels.quantity}}
                    <span class="down-fore-color pad-s-l">*</span></div>
                <div class="layout-col-8 font-m pad-widget-left">
                    {{input-field-number class="form-control order-ticket-text-boxes search-query fade-fore-color h-right"
                    decimalPlaces=0
                    maxlength=15
                    numValue=quantity
                    }}
                </div>
            </div>
        </div>
    </div>
    <div class="layout-container pad-m-t pad-m-l">
        <div class="layout-col">
            <div class="layout-inline">
                <button type="submit" autofocus
                        class="btn btn-dropdown btn-small btn-default pad-m-lr" {{action 'onSubmit'}}>{{app.lang.labels.subscribe}}</button>
            </div>
        </div>
    </div>
    <div {{bind-attr class=":layout-container :pad-m-t :pad-m-l isMsgEnable:pad-m-b"}}>
        <div {{bind-attr class=":layout-col :font-m msgCss"}}>{{message}}</div>
    </div>
</div>
