@charset "UTF-8";
/* CSS Document */

html,body{
	-ms-touch-action: none; /* This is necessary to allow the chart to grab windows touch events */
}

.chartContainer, #chartContainer { /* DIV that the canvas expands to. Use any ID you wish. #chartContainer is only for backward compatibility with older libraries. */
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	position:relative; /* chart container must be relative for internal DOM elements to be correct */
}

/* --------------------------------------------------------- BUTTONS --------------------------------------------------------- */

/* Basic Buttons */

.stx-btn { /* Inactive Button */
	display:inline-block;
	cursor: pointer;
	padding: 0px 8px;
	border: solid 1px #323d4c;
	font-weight: bold;
	line-height: 24px;
	color: #616d7d;
	text-align: center;
	overflow: visible;
	background-repeat: no-repeat;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 23px;
	-webkit-transition: color .25s, border .25s, box-shadow .25s;
	-moz-transition: color .25s, border .25s, box-shadow .25s;
	transition: color .25s, border .25s, box-shadow .25s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.stx-btn:hover { /* Button Hover State */
	color: #58a7e2;
	border: solid 1px #58a7e2;
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, .1), inset 0px -8px 6px rgba(100, 100, 100, .03);
	-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, .1), inset 0px -8px 6px rgba(100, 100, 100, .03);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, .1), inset 0px -8px 6px rgba(100, 100, 100, .03);
}
.stx-btn:active { /* Button Active State */
	color: #333;
	-webkit-box-shadow: inset 0px 8px 6px rgba(100, 100, 100, .03);
	-moz-box-shadow: inset 0px 8px 6px rgba(100, 100, 100, .03);
	box-shadow: inset 0px 8px 6px rgba(100, 100, 100, .03);
}


/* Panel Buttons */

.stx-btn-panel,
.stx-btn-panel span {/* Button Defaults */
	display:inline-block;
	width:25px;
	height:25px;
	cursor:pointer;
   -webkit-transition: -webkit-transform .2s;
   transition: transform .2s;
}
.stx-btn-panel {/* Button Spacing */
	margin: 0px;
	}
.stx-btn-panel:hover span,
.stx-btn-panel:active span {/* Make buttons full opacity on hover or hit */
	opacity:1;
	}
.stx-btn-panel:active {/* Scale up when active */
	-webkit-transform: scale(1.2, 1.2);
	-ms-transform: scale(1.2, 1.2);
	transform: scale(1.2, 1.2);
}
.stx-btn-panel span {/* Button Icons */
	background-image:url(../../assets/images/chartIQ/stx-sprite-panels.svg);
	opacity:.6;
   -webkit-transition: opacity .2s;
   -moz-transition: opacity .2s;
   transition: opacity .2s; 
}
.no-svg .stx-btn-panel span {/* Button Icons for non SVG browsers */
	background-image:url(../../assets/images/chartIQ/stx-sprite-panels.png);
}
/*.stx-btn-panel > span.stx-ico-up {background-position: -150px -25px;}*/
.stx-btn-panel > span.stx-ico-down {background-position: -200px -25px;} 
.stx-btn-panel > span.stx-ico-close {background-position: -250px -25px;} 
/*.stx-btn-panel > span.stx-ico-edit {background-position: -300px -25px;}*/
.stx-btn-panel > span.stx-ico-focus {background-position: -350px -25px;} 



/* --------------------------------------------------------- CHART CONTROLS --------------------------------------------------------- */

.stx_chart_controls { /* Chart Control module */
	position: absolute;
	display: block;
	bottom: 60px;
	left: 50%;
	margin-left:-55px;
	height: 27px;
	margin-bottom: 15px;
	width: auto;
	text-align: center;
	z-index: 30;
}
#chartSize, #chartSize span { /* Chart Control element defaults */
	height: 25px;
	display: inline-block;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#chartSize { /* Chart size container */
	margin: 0px auto;
	position:relative;
	-webkit-border-radius: 24px;
	-moz-border-radius: 24px;
	border-radius: 24px;
	background:#11161a;
    border: 1px solid #323d4c;
	-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, .2);
}
#chartSize:hover{
    border: 1px solid #58a7e2;
} 
#chartSize:after {/* Divider between zoom buttons */
	position:absolute;
	top:4px;
	bottom:4px;
	width:1px; 
	left:36px;
	content:"";
	display:block;
	background:#323d4c;
}
#chartSize span {/* Chart size (+) and (-) buttons */
	background-image:url(../../assets/images/chartIQ/stx-sprite-panels.svg);
	width: 35px;
	cursor: pointer;
	transition: opacity .25s, transform .2s;
	-webkit-transition: opacity .25s, -webkit-transform .2s;
	opacity: .6;
}
.no-svg #chartSize span {/*Chart size (+) and (-) buttons for non SVG browsers */
	background-image:url(../../assets/images/chartIQ/stx-sprite-panels.png);
}
#chartSize .stx-zoom-out {/* Zoom out */
	background-position: -45px -25px;
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}
#chartSize .stx-zoom-in {/* Zoom in */
	background-position: -95px -25px;
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}
#chartSize span:hover,
#chartSize span:active {/* Make buttons full opacity on hover or hit */
	opacity: 1;
	}
#chartSize span:active {/* Scale up when active */
	-webkit-transform: scale(1.2, 1.2);
	-ms-transform: scale(1.2, 1.2);
	transform: scale(1.2, 1.2);
}



.stx_jump_today {/* Button  jumping to today's data */
	color: #FFF;
	overflow: hidden;
	position: absolute;
	bottom: 12px;
	right: 70px;
	line-height: 0px;
	height: 25px;
	width: 30px;
	padding: 0px;
	margin-bottom: 17px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 24px;
    border: 1px solid #323d4c;
	background:#11161a;
	-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, .2);
	transition: background .25s;
	-webkit-transition: background .25s;
	cursor: pointer;
	z-index:30;
}
.stx_jump_today:hover{
    border: 1px solid #58a7e2;
}

.stx_jump_today span {	
	background-image:url(../../assets/images/chartIQ/stx-sprite-panels.svg);
	background-repeat: no-repeat;
	display: inline-block;
	line-height: 25px;
	height: 25px;
	width: 30px;
	padding-top: 25px;
	background-position: -448px -26px;
	transition: opacity .25s, transform .2s;
	-webkit-transition: opacity .25s, -webkit-transform .2s;
	opacity: .6;
}
.no-svg .stx_jump_today span {/* Button Icons for non SVG browsers */
	background-image:url(../../assets/images/chartIQ/stx-sprite-panels.png);
}
.stx_jump_today:hover span {	
	opacity: 1;
}

/* --------------------------------------------------------- PANEL CONTROL TEMPLATES --------------------------------------------------------- */

.stx-baseline-handle { /* used for dragging the baseline up and down */
	color: rgba(96,128,192,.5);
	cursor: ns-resize;
	display: none;
	font-size: 20px;
	font-style:bold;
	height: 20px;
	position: absolute;
	text-align: center;
	width: 20px;
	z-index: 30;
}
.stx-baseline-handle:before {
	content: '\f07d';
}


.stx-drag-chart { /* Use the hand icon when grabbing and moving the chart */
	cursor: url(http://cur-google.com/mail/images/2/closedhand.cur), default !important;
}
.stx-ico-handle {/* The div that allows users to ajust the panels */
	position: absolute;
	left: 0%;
	height: 6px;
	width: 100%;
	overflow: hidden;
	cursor:ns-resize;
	z-index: 30;
}
.stx-ico-handle:active {/* Use the vertical resize when adjusting panels */
	cursor:ns-resize;
}


.stx-panel-control {/* Panel Control buttons template */
	position: absolute;
	left: 0px;
	overflow: hidden;
	z-index: 30;
	display: none;
}

.stx-panel-control * {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.stx-panel-control.stx-show {
	display: none;
} 

.stx-panel-title {/* Panel/Chart Titles */
	margin: 0;
	float: left;
	display: inline-block;
	color: #cecece;
	padding: 0 10px;
	line-height:22px;
	font-size: 12px;
	text-align:left;
	/*text-transform: uppercase;*/
	/*-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);*/
	/*-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);*/
	/*box-shadow: 0px 1px 1px rgba(0, 0, 0, .2);*/
	cursor: auto;
	background-color:transparent;
}

.stx-chart-summary-label {
	margin: 12px 0px 0px 5px;
	float: left;
	display: inline-block;
	padding: 0;
	text-align:left;
	cursor: auto;
	list-style-type: none;
	background-color:transparent;
	position: absolute;
	left: 0px;
	overflow: hidden;
	z-index: 30;
}

.stx-panel-symbol {/* Panel/Chart Titles */
	color: #cecece;
	float: left;
	font-size: 18px;
	font-weight: bold;
	background-color:transparent;
}

.stx-panel-description{
	font-size: 11px;
	font-weight: bold;
	float: left;
	margin: 5px 0px 0px 10px;
	background-color:transparent;
}

.stx-panel-ltp{
	float: left;
	margin: 5px 0px 0px 10px;
	color: #6696CE;
	font-size: 13px;
	font-weight: lighter;
	background-color:transparent;
}

.stx-volume-panel{
	visibility: hidden;
}

.stx-panel-control .stx-btn {/* Float all icons so they stay in line on the left */
	float: left;
}

/* ------------------------------------------------------- CHART OVERLAY ELEMENTS ------------------------------------------------------ */

#mSticky, #showMeasure { /* These are the small divs that come up when you hover over a drawing or study overlay */
	display: none;
	background: #efefef;
	border: solid #ddd 1px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #666;
	font-size: 11px;
	text-transform: capitalize;
	white-space: nowrap;
	z-index: 40;
}
#mSticky, #vectorTrashCan, #overlayTrashCan, #showMeasure {
	position: absolute;
	z-index: 40;
}
#mStickyInterior, #sMeasure {/* Drawing and study info div contents*/
	margin: 0px;
	padding: 5px 10px 5px 10px;
	display: inline-block;
	float: left;
}
#overlayTrashCan.stx-btn, #vectorTrashCan.stx-btn {/* Drawing and study info div delete button wrappers for mobile */
	background: none;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	width: 30px;
	height: 27px;
	padding:0px;
	border:none;
}
#overlayTrashCan.stx-btn span, #vectorTrashCan.stx-btn span {/* Drawing and study info div delete button content */
	display: block;
	margin: 0 0 0 5px;
	width: 23px;
	height: 23px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	overflow: hidden;
	text-indent: 100px;
	background: #efefef;
	border: solid #ddd 1px;
	background-image:url(../../assets/images/chartIQ/stx-sprite-panels.svg);
	background-position: -401px -26px;
}
.no-svg #overlayTrashCan.stx-btn span, .no-svg #vectorTrashCan.stx-btn span {/* Button Icons for non SVG browsers */
	background-image:url(../../assets/images/chartIQ/stx-sprite-panels.png);
}

#mouseDeleteInstructions {
	margin: 0px;
	padding: 5px 10px 5px 10px;
    display: block;
    clear: both;
    font-size: xx-small;
}
.stx-loader {/* Loading image size and placement */
	position: absolute;
	top: 280px;
	left: 50%;
	margin-left:-20px;
	width: 40px;
	height: 40px;
	z-index:50;
}

/* --------------------------------------------------------- CHART ELEMENT STYLES --------------------------------------------------------- */

/* -------- Current Price label (Floating last price on y-axis)-------- */

.stx-float-price, .stx-float-date {/* Crosshair Floating axis values */
	position: absolute;
	font-size: 10px;
	font-family: Helvetica;
	z-index: 30;
	padding: 1px 0px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color:#fff;
}
.stx-float-date {/* Crosshair Floating x-axis date */
	padding: 1px 6px;
	width: 56px;
	text-align: center;
	width: 70px;
	background-color: #333;
}
.stx-float-price {/* Corsshair Floating y-axis value */
	margin-left: -10px;
}

.stx-float-price-canvas {
	margin-top: 7px;
	margin-left: 2px;
}
.stx-float-price-arrow {
	color: #333;
}
.stx-float-price-inner {
	position: absolute;
	top: 10px;
	text-align:right;
	left:8px;
	padding-right:3px;
}

#currentHR {/* Current chart value ( floating last price on y-axis) */
	width: 33px;
	z-index: 1;
}
.stx_current_hr_up {/* 'Up' color for current chart value ( floating last price on y-axis) */
	background-color: #459d6a;
	color:#fff;
}
.stx_current_hr_down {/* 'Down' color for current chart value ( floating last price on y-axis) */
	background-color: #b82c0c;
	color:#fff;
}


/* -------- Axis Styles -------- */

.stx_xaxis {/* x-axis date styles */
	font-size: 12px;
	font-family: Helvetica;
	color:#424d5c;
	}
.stx_xaxis_dark {/* x-axis date divider styles */
	color:#424d5c;
	}
.stx_yaxis {/* y-axis price styles */
	font-size: 10px;
	font-family: Helvetica;
	color:#424d5c;
	}

/* -------- Crosshairs -------- */

.stx_crosshair {/* Standard Crosshair color */
	position: absolute;
	z-index: 10;
	background-color:#999;
	}
.stx_crosshair_drawing {/* Darker crosshairs when drawing */
	position: absolute;
	z-index: 10;
	background-color:#333;
	}
#crossY, .stx_crosshair_y {/* Vertical Crosshair size */
	left: 0px;
	height: 1px;
	width: 98%;
	margin-top:-1px; /* since we're using border-top to draw the actual line */
}
#crossX, .stx_crosshair_x {/* Horizontal Crosshair size */
	top: 0px;
	width: 1px;
	height: 100%;
}
.stx-crosshair-on {	/* Crosshair pointer icon */
	cursor:crosshair;
}


/* -------- Chart and Indicator Panel Styling -------- */

.stx_panels {/* Panel Title text */
	font-family: Helvetica;
	font-size: 10px;
	color: white;
}
.stx_panel_background {/* Panel Title background */
	color: #7c878b;
	}
.stx_panel_border { /* Divider between panels */
	width: 1px;
	color:#cccccc;
	}
.stx_panel_drag { /* Darker Divider between panels when resizing */
	width: 2px;
	color:#666;
	}
.stx_solo_lit span {/* Add background to expand button when toggled on */
	background-color:#b1b7b8;
	color:#ffffff;
	opacity: 1;
}


/* -------- Chart Grid -------- */

.stx_grid { /* Default Grid */
	color:#22272e; 
	opacity:1;
	}
.stx_grid_dark {/* Default Grid dividers */
	color:#3c434c; 
	opacity:.9;
	}
.stx_grid_border {/* Default Grid borders */
	color:#1c232b; 
	}

/* -------- Chart Type Styles -------- */

.stx_line_chart {/* Default width for line Charts */
	width: 1px;
}
.stx_bar_chart, .stx_bar_up, .stx_bar_down, .stx_bar_even {/* Default width for bar Charts */
	width: 1px;
}
/* Default color for line and bar Charts */
.stx_line_chart, .stx_bar_chart {
	color: #02adf3;}

.stx_bar_down {/* Down Bar color */
	color: #3399FE;
}
.stx_bar_up {/* Up Bar color */
	color: #3399FF;
}

.stx_mountain_chart {/* Default color for mountain Charts */
	width: 1px;			/* Optional line width */
}
/*.stx_mountain_chart.color {width:24px;}*/
.stx_highlight_vector {/* change the color and weight of drawings and study overlays on hover */
	color: red;
	width: 3px;
}

.stx_candle_shadow, .stx_bar_even {/* Candle wick color */
	color:#2e383b;
	}
/*
Optionally use .stx_candle_shadow_up and .stx_candle_shadow_down to change shadow/wick color for up/down candles
 */
.stx_candle_down, .stx_line_down { /* Down Candle color */
	color: #e44f4f;
	border-left-color: #11161a;
	}
.stx_candle_up, .stx_line_up {/* Up Candle color */
	color: #2ecc71;
	border-left-color: #11161a;
	}
	
.stx_hollow_candle_down{color:#e25959;}
.stx_hollow_candle_up{color:#459d6a;}
.stx_hollow_candle_even{color:#888888;}

.stx_baseline{/* baseline color */
	color:#2e383b;
}

.stx_baseline_down { /* under area color */
	color: #eb242b;
  	width: 2px;
}
.stx_baseline_up {/* over area color */
	color: #49ba59;
  	width: 2px;
}

.stx_kagi_down {/* Kagi chart width and color for downtrend */
	color: #FF0000;
	width: 1px;
}
.stx_kagi_up {/* Kagi chart width and color for uptrend */
	color: #00FF00;
	width: 3px;
}

.stx_pandf_down {/* P&F chart color, padding, width for downtrend */
	color: #FF0000;
	padding: 2px 0px 2px 0px;
	width: 2px;
}
.stx_pandf_up {/* P&F chart color, padding, width for uptrend */
	color: #00FF00;
	padding: 2px 0px 2px 0px;
	width: 2px;
}

/* Volume underlay styles */
.stx_volume_underlay_up {
	color: rgb(140, 193, 118);
	opacity: .3;
	border-left-color: rgb(0, 0, 0);
}
.stx_volume_underlay_down {
	color: rgb(184, 45, 12);
	opacity: .3;
	border-left-color: rgb(0, 0, 0);
}

/* Volume profile styles */
.stx_volume_profile {
	opacity: .3;
	border-color: rgb(0, 0, 0);
}

/* Line color for projections */

.stx_projection_new {/* Line color for active line when drawing projections */
	color: blue;
}

.stx_gaps {/* Transparent gaps overlay style */
	color: #b1b7b8;
	opacity: .3;
}

.stx_histogram { /* Default color for histograms */
	color: #fff;
	opacity: .2;
}

/* -------- Annotations -------- */

.stx_annotation {/* Annotation styles */
	font-size: 13px;
	font-family: Helvetica;
	background: transparent;
	border: none;
	box-shadow: none;
	padding: 0px 6px;
	outline: none;
	color: #333;
	resize: none;
}
.stx_annotation_bg {/* Annotation backgrounds */
	color: #f5f5f5;
}
.stx_annotation_highlight {/* Annotation highlight color */
	color: white;
}
.stx_annotation_highlight_bg {/* Annotation highlight background color */
	color: #3d4447;
}
#annotationSave, #annotationCancel,
.stx-btn.stx_annotation_save, .stx-btn.stx_annotation_cancel {/* Annotation Buttons */
	position: absolute;
	display: none;
	font-size: 11px;
	-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
	z-index: 50;
	background-color: #ffffff;
}

#annotationCancel, .stx_annotation_cancel {
	margin-left: 10px;
}
.stx_watermark {/* Optional watermark style */
	font-size: 16px;
	font-family: Helvetica;
	color: rgba(0,0,0,0.5);
}
.stx_fib_levels {/* Text for fibonacci values */
	font-size: 12px;
	font-family: Helvetica;
	color: transparent;
}

/* -------- Text for shared charts -------- */

.stx_share {
	font-size: 14px;
	font-family: georgia;
	color: #fff;
	width: 1px;
}
.stx_share_symbol {
	font-size: 14px;
	font-family: Arial;
	font-weight: bold;
}

.stx-holder {
	display:block;
	position:absolute;
	overflow: hidden;
	z-index: 20;
}

.stx-subholder {
	position:absolute;
	overflow:hidden;
}

/* --------------------------------------------------------- LAYOUT --------------------------------------------------------- */

.stx-wrapper {width:100%;}
.stx-toolbar {/*margin-right:30px; */}

.chartContainer {border: 0px;}

.stx-footer {right:30px;}

/* Uncomment following to remove space for right hand sibebar toggles */
/*
.stx-toolbar {margin-right:0px;}
.stx-panel-side {right:0px;}
.stx-footer {right:0px;}
*/

/* ------------------------------------------------------- TOOLBAR ------------------------------------------------------- */

.stx-toolbar {
	border:none;
	border-bottom:solid 0px #ddd;
}

/* Heads Up */
.stx-toolbar ul.hu {
	/*width:260px;*/
	/*margin-right:70px;*/
}
#huDate {white-space:nowrap;}

/* ------------------------------------------------------- STX Advanced CSS ------------------------------------------------------- */

@charset "UTF-8";

/* --------------------------------------------------------- GENERAL STYLES --------------------------------------------------------- */

.stx-footer ul, .stx-footer li,
.stx-panel-side ul, .stx-panel-side li { /* Override basic List styles */
	margin: 0px;
	list-style: none;
}


.stx-panel-control.stx-chart-panel{ /* hide chart controls */
	display:none;
}

.stx-panel-control div:nth-of-type(3) { /* solo button */
	display:none;
}
/* --------------------------------------------------------- TOOLTIPS --------------------------------------------------------- */

.stx-tooltip {
	display:block;
	position:absolute;
	top:5px;
	font-size:9px;
	padding:0;
	height:14px;
	border-radius:3px;
	opacity:0;
	width:0px;
	overflow:hidden;
	transition:opacity .25s, margin .25s ease-out .1s;
}
*:hover > .stx-tooltip {
	overflow:visible;
	width:auto;
	opacity:1;
}

.stx-tooltip.right {
	left:40px;
	margin-left:5px;
}
*:hover > .stx-tooltip.right {
	opacity:1;
	margin-left:0px;
}
.stx-tooltip.left {
	right:40px;
	margin-right:5px;
}
*:hover > .stx-tooltip.left {
	opacity:1;
	margin-right:0px;
}

.stx-tooltip > div {
	display:block;
	position:absolute;
	font-size:9px;
	height:12px;
	padding-top:2px;
	border-radius:3px;
	z-index:2
}
.stx-tooltip.right > div {
	left:6px;
	padding:2px 4px 0 2px;
}
.stx-tooltip.left > div {
	right:6px;
	padding:2px 2px 0 4px;
}
.stx-tooltip > span {
	position: absolute;
	top:2px;
	display: block;
	width: 10px;
	height: 10px;
	background: #000;
	-webkit-transform: rotate(45deg);  /* Saf3.1+, Chrome */
	-moz-transform: rotate(45deg);  /* FF3.5+ */
	-ms-transform: rotate(45deg) ;  /* IE9 */
	-o-transform: rotate(45deg);  /* Opera 10.5 */
	transform: rotate(45deg) ;
	filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476, sizingMethod='auto expand'); /* IE6–IE9 */
	zoom: 1;
	z-index:1
}
.stx-tooltip.left span {
	right:2px;
}
.stx-tooltip.right span  {
	left:2px;
}


/* --------------------------------------------------------- LAYOUT --------------------------------------------------------- */

.stx-wrapper {width:100%;}
.stx-toolbar {/*margin-right:30px; */}

.chartContainer {border: 0px;}

.stx-footer {right:30px;}

/* Uncomment following to remove space for right hand sibebar toggles */
/*
.stx-toolbar {margin-right:0px;}
.stx-panel-side {right:0px;}
.stx-footer {right:0px;}
*/

/* -------------------------------------------------------- NAV BAR -------------------------------------------------------- */

.stx-nav {border:none;}
.stx-nav .stx-menus {margin-right:8px;}

.stx-nav.stx-collapse .stx-menu-btn.stx-collapsible > span {
	width:0px;
	height:0px;
	overflow:hidden;
}

.stx-nav.stx-collapse .stx-menu-btn.stx-collapsible {
	background-image: url(assets/images/chartIQ/stx-sprite.png);
	height: 27px;
	width: 45px;
	padding: 0;
	margin: 0 6px 0 0;
	border-color: rgba(153, 153, 153, 0.4);
	color: #efefef;
}

.stx-nav.stx-collapse #menuWrapperCompare {
	background-position: -337px -197px;
}
.stx-nav.stx-collapse #menuWrapperChart {
	background-position: -216px -197px;
}
.stx-nav.stx-collapse #menuWrapperStudies {
	background-position: -276px -197px;
}
.stx-nav.stx-collapse #menuEvents {
	background-position: -276px -236px;
	width:30px;
}


/* Search */
input#symbol {
	background:#fff;
	-webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, .2);
	-moz-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, .2);
	box-shadow: inset 0px 1px 2px rgba(0, 0, 0, .2);
}

/* Dropdown Menus */
.menuSelect.periodicity,
.menuSelect.chart-display,
.menuSelect.studies,
.menuSelect.cog {
	width:150px;
	top:34px;
	left:auto;
	right:auto;
}
.menuSelect.periodicity {
	left:0px;
	width:80px;
}
.menuSelect.chart-display {
	right:0px;
}
.menuSelect.studies {
	right:0px;
	width:608px;
}
.menuSelect.cog {
	width:180px;
	right:0px;
}
.menuSelect.stx-line-style-menu {
	left:0px;
}

/* Events Button */
.stx-btn.stx-menu-btn.toggle {padding: 0px 10px;}


/* Chart Comparison Menu */
.menuSelect.compare {width: 210px;}
.menuSelect.compare input[type="text"] {
	float: left;
	width: 90px;
	margin-right: 3px;
	text-transform: uppercase;
	border:none;
	color: #666666;
	padding: 6px;
	height:14px;
	line-height:14px;
}
.menuSelect.compare .stx-color {
	float: left;
	width: 26px;
	height:26px;
	margin-top:1px
}
.menuSelect.compare > .add .stx-btn {
	float: right;
	height: 26px;
	line-height: 26px;
	padding: 0px 8px;
}
.menuSelect.compare .stx-menu-content.add {
	height: 38px;
	padding-bottom: 0px;
	border-bottom: solid 1px #efefef;
}
.menuSelect.compare .stx-menu-content.add .stx-option input[type="text"] {
	height: 10px;
	line-height: 14px;
	width: 45px;
	margin-top: 2px;
	margin-left: 6px;
	text-align: right;
	float: right;
}
.menuSelect.compare .stx-menu-content.add .stx-checkbox, .menuSelect.compare .stx-menu-content.add .stx-checkbox.false { /* Compare checkbox toggles */
	display: block;
	float: left;
	width: 14px;
	height: 14px;
	padding-right: 5px;
	margin-top: 5px;
	text-indent: -1000px;
	overflow: hidden;
	background-image: url(assets/images/chartIQ/stx-sprite.png);
	background-position: -142px -122px;
}
.menuSelect.compare .stx-menu-content.add .stx-checkbox.true { /* Menu checkbox toggle active */
	background-position: -182px -122px;
}
.menuSelect.compare .stx-menu-content.type {
	padding-bottom:10px;
	border-bottom: solid 1px #efefef;
}
.menuSelect.compare .stx-menu-content.stops {
	border-bottom:0px;
	padding-bottom:15px;
}
.menuSelect.compare .stx-menu-content.stops .stx-btn {
	font-size:11px;
	width:65px;
}
.menuSelect.compare .stx-menu-content.stops .stx-btn:last-child {
	float: right;
	margin-left:5px;
}
.menuSelect.compare #symComparison li.stx-menu-content {padding: 2px 16px;}


/* Chart Comparison Type toggle */
.toggle-opt {
	line-height:normal;
	border-radius: 3px;
	background:rgba(0,0,0,.05);
	box-shadow: inset 0 1px 3px rgba(100, 100, 100, .4);
	border:solid 1px rgba(0,0,0,.1)
}
.toggle-opt div {
	border-radius:inherit;
	display:inline-block;
	width:50%;
	line-height:28px;
	text-align:center;
	cursor:pointer;
	color:#666;
}
.toggle-opt div:first-of-type {
	border-radius: 3px 0px 0px 3px;
	float:left;
}
.toggle-opt div:last-of-type {
	border-radius: 0px 3px 3px 0px;
}
.toggle-opt div:hover {
	background:rgba(0,0,0,.05);}

.toggle-opt div.true,
.toggle-opt div.true:hover {
	border-radius: 3px;
	color:#999;
	background:#fff;
	box-shadow: 1px 0px 2px rgba(100, 100, 100, .4);
}
.toggle-opt.sm  {
	margin:0px auto;
}
.toggle-opt.sm div {
	font-size:11px;
	line-height:22px;
}

/* Override default width of lookup to make room for commodities */
.stxResults{width:400px;}
.stxLookupResults{width:400px;}
.stxLookupSymbols li span:nth-of-type(2){width:200px;}

#menuCompare .stxLookupResults {
	top: 50px;
}

/* ------------------------------------------------------- TOOLBAR ------------------------------------------------------- */

.stx-toolbar {
	border:none;
	border-bottom:solid 0px #ddd;
}

/* Heads Up */
.stx-toolbar ul.hu {
	/*width:260px;*/
	/*margin-right:70px;*/
}
#huDate {white-space:nowrap;}

/* Sharing Button */
.stx-btn#shareBtn {
	position: absolute;
	top: 8px;
	right: 10px;
	background: rgba(98,108,116,.45);
	color:#fff;
	font-size:12px;
	text-shadow: 0 1px 0px rgba(0,0,0,.2);
	margin: 0px;
	padding: 0 4px 0 10px;
	transition: color .25s, border .25s, background .25s, box-shadow .25s;
	-webkit-transition: color .25s, border .25s, background .25s, box-shadow .25s;
}

.stx-btn#shareBtn:hover{
	background: rgba(98,108,116,.7);
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, .1), inset 0px 10px 10px rgba(255, 255, 255, .2);
	-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, .1), inset 0px 10px 10px rgba(255, 255, 255, .2);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, .1), inset 0px 10px 10px rgba(255, 255, 255, .2);
}
.stx-btn#shareBtn:active{
	-webkit-box-shadow: inset 0px -8px 10px rgba(255, 255, 255, .1);
	-moz-box-shadow:inset 0px -8px 10px rgba(255, 255, 255, .1);
	box-shadow: inset 0px -8px 10px rgba(255, 255, 255, .1);
}
.stx-btn#shareBtn span {
	float:right;
	display:inline-block;
	width: 25px;
	height:25px;
	background:url(assets/images/chartIQ/stx-sprite.png);
	background-position: -98px -116px;
	margin-left:4px;
}
.stx-btn.loading#shareBtn {
	background:#fff;
	color:#666;
	text-shadow:none;
	border-color:#ccc;
	cursor:default;
}
.stx-btn.loading#shareBtn:hover {
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
.stx-btn.loading#shareBtn span {
	background:url(assets/images/chartIQ/stx-loading.gif);
	cursor:default;
}


/* ------------------------------------------------------- SIDE PANELS ------------------------------------------------------- */

/* Sidepanel Selector Area */
.stx-panel-selector{
	position:absolute;
	width:30px;
	top:95px;
	right:0px;
	bottom:-1px;
	border-left:solid 1px;
	z-index:4;
	border-color:#DDDDDD;
}
.stx-panel-selector.closed {
	width:0px;
	display:none;
}
.stx-panel-selector .false {display:none;}

/* Sidepanel Selector Buttons */
.stx-panel-selector .stx-panel-toggle {
	display:block;
	width:30px;
	text-indent:100px;
	border-bottom:solid 1px;
	border-color:#DDDDDD;
	cursor:pointer;
	opacity:.6;
	transition: opacity 0.25s;
}
.stx-panel-selector .stx-panel-toggle:hover,
.stx-panel-selector .stx-panel-toggle.active {opacity:1}
.stx-panel-selector .stx-panel-toggle:first-child {
	border-top:solid 1px;
	border-color:#DDDDDD;
	margin-top:49px;
}
.stx-panel-toggle#btnToggleWatch {height:110px;}
.stx-panel-toggle#btnToggleTrade {height:80px;}
.stx-panel-toggle#btnToggleStocktwits {height:105px;}
.stx-panel-toggle#btnToggleNews {height:65px;}
.stx-panel-selector .stx-panel-toggle {background:url(assets/images/chartIQ/stx-sprite.png);}

/* Sidebar Strucure */
.stx-panel-side {
	position:absolute;
	top:96px;
	bottom:0;
	border-left:solid 1px;
}
.stx-panel-side.closed {
	width:0px;
	display:none;
}

/* Watchlist Sidebar Contents */
#stxWatch {
	width:180px;
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	height:100%;
}
#stxWatch h4 {
	display:inline-block;
	float:left;
	margin:15px 0 15px 15px;
	font-weight:normal;
	font-size:15px;
}

#stxWatch a {
	text-decoration: none;
	border-bottom:none;
	cursor: pointer;
}

/* New List + Next/Prev Buttons */
#stxWatch a#stxNewWatchList,
#stxWatch a#stxWatchNext, #stxWatch a#stxWatchPrev,
#stxWatch a#stxWatchNext.false, #stxWatch a#stxWatchPrev.false,
#stxWatch a#stxWatchNext.false:hover, #stxWatch a#stxWatchPrev.false:hover {
	border:solid 1px;
	padding:0px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
#stxWatch a#stxNewWatchList:hover,
#stxWatch a#stxWatchNext:hover, #stxWatch a#stxWatchPrev:hover {
	border:solid 1px;
	-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
}

#stxWatch a#stxWatchNext.false, #stxWatch a#stxWatchPrev.false,
#stxWatch a#stxWatchNext.false:hover, #stxWatch a#stxWatchPrev.false:hover {
	cursor:default;
	opacity:.3;
}

/* Watchlist Control Arrows */
#stxWatch i.arrow {
	display: block;
	-webkit-transform: rotate(45deg);  /* Saf3.1+, Chrome */
	-moz-transform: rotate(45deg);  /* FF3.5+ */
	-ms-transform: rotate(45deg) ;  /* IE9 */
	-o-transform: rotate(45deg);  /* Opera 10.5 */
	transform: rotate(45deg) ;
	filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476, sizingMethod='auto expand'); /* IE6–IE9 */
	zoom: 1;
	transition: border .25s;
	-webkit-transition: border .25s;
}

/* New List */
#stxWatch a#stxNewWatchList {
	float:right;
	margin:10px 10px 0 0;
	height: 25px;
	width: 25px;
	font-size:19px;
	font-weight:bold;
	line-height: 25px;
}

/* Scrollable Lists Area */
#stxWatch .watchListScroller {
	clear:both;
	height:140px;
	border-bottom:solid 1px;
}

#stxWatch.false .watchListScroller {display:none;}
#stxWatch #stxWatchLists {
	clear:both;
	overflow: auto;
}
#stxWatch #stxWatchLists ul {
	display: block;
	margin: 0;
	padding: 0;
}
#stxWatch #stxWatchLists ul li {
	font-size:11px;
	display: block;
	position:relative;
	margin: 0;
	padding: 4px 0;
	text-align:left;
	clear:both
}
#stxWatch #stxWatchLists ul li div {
	cursor: pointer;
	color: #666;
}
#stxWatch #stxWatchLists ul li div:active,
#stxWatch #stxWatchLists ul li.current div {
	font-weight: bold;
}

/* Watchlist List List-Items */
#stxWatch #stxWatchLists ul li div.save {display:none}
#stxWatch #stxWatchLists ul li div.list {
	margin-left:15px;
	padding:6px 0;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
#stxWatch #stxWatchLists ul li.current div.list {width:100px;}
#stxWatch #stxWatchLists ul li.current div.edit,
#stxWatch #stxWatchLists ul li.current div.delete {
	display:inline-block;
	width:30px;
	height:25px;
	float:right;
	opacity:.5
}
#stxWatch #stxWatchLists ul li.current div.edit:hover,
#stxWatch #stxWatchLists ul li.current div.delete:hover {opacity:.8}

/* Action Area */
#stxWatch #action {display:none}

/* Watchlist Symbol Up Down Controls */
#stxWatchUp,
#stxWatchDown {
	position:relative;
	display:block;
	height:50px;
	text-align:center;
	overflow:hidden;
	z-index:2
}
#stxWatch.false #stxWatchUp,
#stxWatch.false #stxWatchDown {display:none;}
#stxWatchUp .arrow,
#stxWatchDown .arrow {
	width: 18px;
	height: 18px;
	border:3px solid;
}
#stxWatchUp .arrow {
	margin:20px auto;
	border-right:none;
	border-bottom:none;
}
#stxWatchDown .arrow {
	margin:5px auto;
	border-top:none;
	border-left:none;
}
#stxWatchUp.false .arrow,
#stxWatchDown.false .arrow {
	opacity:.2;
	cursor:default
}

/* Watchlist Symbols */
#symbolScroller {
	margin-top:-50px;
	margin-bottom:-50px;
	z-index:1;
}
#stxWatch.false #symbolScroller {display:none;}
#stxWatch #stxWatch-symbols {
	overflow: auto;
}
#stxWatch #stxWatch-symbols ul {
	display: block;
	margin: 0;
	padding: 0;
}
#stxWatch #stxWatch-symbols ul li {
	padding: 11px 2px 11px 2px;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}

#stxWatch #stxWatch-symbols ul li:first-of-type {margin-top:50px;}
#stxWatch #stxWatch-symbols ul li:last-of-type {margin-bottom:50px;}

/* Optional state Control */
#stxWatch.false #stxEditWatchList,
#stxWatch.false #stxDeleteWatchList{ }

#stxWatch.true #stxEditWatchList,
#stxWatch.true #stxDeleteWatchList{}

#stxWatch a#stxEditWatchList {visibility:hidden}
#stxWatch a#stxDeleteWatchList {visibility:hidden}

/* CIQ Watchlist Add/Remove Tabs */
.ciq #stxWatch #stxWatchLists ul li.current div.list {width:85px;}
.ciq #stxWatch #stxWatchLists ul li div.save,
.ciq #stxWatch #stxWatchLists ul li div.true,
.ciq #stxWatch #stxWatchLists ul li div.false,
.ciq #stxWatch #stxWatchLists ul li div.locked,
.ciq #stxWatch #stxWatchLists ul li div.neither {
	display: inline-block;
	height: 25px;
	width: 27px;
	background-image: url(ciq-ico-watch-save.png);
	background-size: 27px 108px;
	background-repeat: no-repeat;
	background-position: 0 -54px;
	float: left;
	margin-left: -5px;
	margin-right: 6px;
	cursor: pointer;
}
.ciq #stxWatch #stxWatchLists ul li:last-child div.save,
.ciq #stxWatch #stxWatchLists ul li:only-child div.save {
	border-bottom: none;
}
.ciq #stxWatch #stxWatchLists ul li div.locked,
.ciq #stxWatch #stxWatchLists ul li div.neither {
	cursor: default;
}
.ciq #stxWatch #stxWatchLists ul li div.neither {background-position: 0 0;}
.ciq #stxWatch #stxWatchLists ul li div.true {background-position: 0 -27px;}
.ciq #stxWatch #stxWatchLists ul li div.false {background-position: 0 -54px;}
.ciq #stxWatch #stxWatchLists ul li div.locked {background-position: 0 -81px;}
.ciq #stxWatch #stxWatchLists ul li div.list {margin-left:30px;}

/* New Dialog */
#stxWatchEditDialog {width:375px;}
#stxWatchEditDialog h4 {
	display: inline;
	margin:0px;
}
input#stxWatchEditName {
	margin-left: 5px;
	width: 226px;
}
#stxWatchEditDialog div.textarea {
	border-top: 1px solid #ddd;
	margin: 10px 0;
	padding-top: 10px;
}
textarea#stxWatchEditTA {
	height: 100px;
	padding: 10px;
	width: 352px;
}

/* CIQ Action Area */
.ciq #stxWatch #action {
	display:block;
	position: relative;
	clear:both;
	padding: 10px 0 10px 0;
	margin:0;
	text-align: center;
	overflow: hidden;
	border-bottom:solid 1px #ddd;
}

.ciq #stxWatch #controls {
	position: relative;
	overflow: hidden;
}
.ciq #stxWatch #stxWatchSymbol {
	display: inline-block;
	margin: 0;
	font-size: 14px;
	line-height:32px;
	width: 80px;
	overflow: hidden;
}

.ciq #stxWatch a#stxWatchNext, #stxWatch a#stxWatchPrev,
.ciq #stxWatch a#stxWatchNext.false:hover, #stxWatch a#stxWatchPrev.false:hover {
	position: absolute;
	width: 30px;
	height: 30px;
	line-height: 27px;
	top: 0px;
}
.ciq #stxWatch a#stxWatchPrev {left: 10px;}
.ciq #stxWatch a#stxWatchNext {right: 10px;}
.ciq #stxWatch #controls i.arrow {
	width: 7px;
	height: 7px;
	border:2px solid;
}
.ciq #stxWatch a#stxWatchNext i.arrow {
	margin:10px 0 0 8px;
	border-bottom:none;
	border-left:none;
}
.ciq #stxWatch a#stxWatchPrev i.arrow {
	margin:10px 0 0 12px;
	border-top:none;
	border-right:none;
}


/* ------------------------------------------------------- BOTTOM BAR ------------------------------------------------------- */

.stx-footer {
	display:none;
	position:absolute;
	bottom:0;
	left:0px;
	height:40px;
	border-top:solid 1px;
	z-index:3
}

/* Saved Views */
#stxViews {
	position:relative;
	text-align:left;
	height:40px;
	overflow:hidden;
}
#stxViews h4 {
	position:absolute;
	height:40px;
	line-height:40px;
	width:62px;
	display:inline-block;
	font-weight:normal;
	font-size:15px;
	text-indent:10px;
	left:0px;
	top:0px;
	margin:0;
}
#stxViews #stxNewView {
	position:absolute;
	right:0px;
	top:0px;
	width:45px;
	height:40px;
}
#stxViews #stxNewViewBtn.stx-btn {
	position:absolute;
	right:8px;
	top:6px;
	text-align:center;
	border:solid 1px;
	height: 25px;
	width: 25px;
	font-size:19px;
	font-weight:bold;
	line-height: 25px;
	padding:0px;
}
#stxViews #stxNewViewBtn.stx-btn:hover {
	border:solid 1px;
	-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
}


/* Scrollable Views Area */
#stxViews .viewsScroller {
	position:absolute;
	left:70px;
	right:50px;
	top:0px;
	height:40px;
	overflow:hidden;
}
#stxSavedViews {
	height:60px;
	margin:-10px 0 0 0;
	overflow:hidden;
}
#stxViews ul {
	display: block;
	margin: 10px 0 0 0;
	padding: 0;
}
#stxViews ul li {
	float:left;
	font-size:11px;
	line-height:40px;
	display: inline-block;
	margin: 0;
	padding:0px 20px;
	margin:0px;
	text-align:left;
	cursor:pointer;
}
#stxViews ul li.current {font-weight: bold;}

#stxViewEditName {
	width:185px;
	margin-bottom:10px;
}

/* ------------------------------------------------------- Dialogs ------------------------------------------------------- */

/* study dialog override to allow left scroll bar on large dialogs*/
#studyDialog {
	max-height: 500px;
	width: 210px;
	overflow-y: auto;
}

#sharedLinkDialog {
	width:300px;
	text-align:center;
}
#sharedLinkDialog h4 {
	font-size:22px;
	margin:15px 0 15px 0;
}
#sharedLinkDialog .or,
#sharedLinkDialog p:first-of-type {
	font-family:Georgia, "Times New Roman", serif;
	font-style:italic;
	color:#666
}
#sharedLinkDialog a {font-weight:bold;}
#shareCopyPaste {
	background: none repeat scroll 0 0 #EFEFEF;
	border: 1px solid #FFFFFF;
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) inset;
	color:#484848;
	display: table-cell;
	margin-bottom: 20px;
	padding: 20px;
	width: 480px;
}

/* Timezones*/
#timezoneDialog{text-align:center;}
#timezoneDialog .title {margin: 0 auto;}
#timezoneDialogWrapper{border-bottom: solid #CCCCCC 1px;}
#timezoneDialog .instruct{
	margin: 10px auto;
	font-style:italic;
}
#timezoneDialog li:hover{background-color:#F0F0F0;}

.eventName {
	font-weight:bold;
	color:#666;
}
.yap:hover .eventName  {color:#333;}
.eventDate {font-size:11px;}
.eventDate:before {content: "(";}
.eventDate:after {content: ")";}

.myEvents {
	display:none;
	text-align:center;
	width:20px;
	height:20px;
	line-height:20px;
	color:white;
}

.myEvents.dividend{
	background-color:blue;
}
.myEvents.news{
	background-color:red;
}
.myEvents.earnings{
	background-color:purple;
}

/* To deal with IOS7 full screen bug */
@media (orientation:landscape) {
	html.ipad.ios7 > body {
		position:fixed;
		bottom:0;
		width:100%;
		height: 672px;
	}
}


/* --------------------------------------------------------- Light Theme --------------------------------------------------------- */

/*body.Light  {background: #FDFDFD;}*/

/* Tooltips */
.Light .stx-tooltip div,
.Light .stx-tooltip span {
	background:#000;
	color:#fff;
}

/* Share Button */
.Light .stx-btn#shareBtn {
	opacity: 1;
	border-color:rgba(0,0,0,.1);
}

/* Sidepanel Selector Area */
.Light .stx-panel-selector {
	background:#FDFDFD;
	border-color: #DDDDDD;
}

/* Sidepanel Selector Buttons */
.Light .stx-panel-selector .stx-panel-toggle,
.Light .stx-panel-selector .stx-panel-toggle:first-child {border-color:#efefef;}
.Light .stx-panel-toggle#btnToggleWatch {background-position: -35px -190px;}
.Light .stx-panel-toggle#btnToggleTrade {background-position: -75px -190px;}
.Light .stx-panel-toggle#btnToggleStocktwits {background-position: -35px -295px;}
.Light .stx-panel-toggle#btnToggleNews {background-position: -75px -295px;}

/* Sidebar Strucure */
.Light .stx-panel-side {
	background:#fdfdfd;
	border-color:#ddd;
}

/* Watchlists Sidebar Contents */
.Light #stxWatch h4 {color: #000;}
.Light #stxWatch a#stxNewWatchList,
.Light #stxWatch a#stxWatchNext, #stxWatch a#stxWatchPrev,
.Light #stxWatch a#stxWatchNext.false, #stxWatch a#stxWatchPrev.false,
.Light #stxWatch a#stxWatchNext.false:hover, #stxWatch a#stxWatchPrev.false:hover {
	color:#6e7578;
	background:#f9f9f9;
	border-color: #ddd;
}
.Light #stxWatch a#stxNewWatchList:hover,
.Light #stxWatch a#stxWatchNext:hover, #stxWatch a#stxWatchPrev:hover  {
	border-color:#ccc;
	color:#333;
}
.Light #stxWatch .watchListScroller {border-color:#ddd;}
.Light #stxWatch #stxWatchLists ul li div {color: #666;}
.Light #stxWatch #stxWatchLists ul li div:hover {color: #000;}
.Light #stxWatch #stxWatchLists ul li.current {background:#F6F6F6;}
.Light #stxWatch #stxWatchLists ul li div:active,
.Light #stxWatch #stxWatchLists ul li.current div {color: #000;}
.Light #stxWatch #stxWatchLists ul li.current div.edit {background:url(assets/images/chartIQ/stx-sprite.png) -198px -36px no-repeat;}
.Light #stxWatch #stxWatchLists ul li.current div.delete {background:url(assets/images/chartIQ/stx-sprite.png) -236px -36px no-repeat;}
.Light #stxWatchUp {
	background: rgba(253,253,253,1);
	background: -moz-linear-gradient(top, rgba(253,253,253,1) 0%, rgba(253,253,253,1) 50%, rgba(253,253,253,0) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(253,253,253,1)), color-stop(50%, rgba(253,253,253,1)), color-stop(100%, rgba(253,253,253,0)));
	background: -webkit-linear-gradient(top, rgba(253,253,253,1) 0%, rgba(253,253,253,1) 50%, rgba(253,253,253,0) 100%);
	background: -o-linear-gradient(top, rgba(253,253,253,1) 0%, rgba(253,253,253,1) 50%, rgba(253,253,253,0) 100%);
	background: -ms-linear-gradient(top, rgba(253,253,253,1) 0%, rgba(253,253,253,1) 50%, rgba(253,253,253,0) 100%);
	background: linear-gradient(to bottom, rgba(253,253,253,1) 0%, rgba(253,253,253,1) 50%, rgba(253,253,253,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#fdfdfd', GradientType=0 );
}
.Light #stxWatchDown {
	background: rgba(253,253,253,0);
	background: -moz-linear-gradient(top, rgba(253,253,253,0) 0%, rgba(253,253,253,1) 50%, rgba(253,253,253,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(253,253,253,0)), color-stop(50%, rgba(253,253,253,1)), color-stop(100%, rgba(253,253,253,1)));
	background: -webkit-linear-gradient(top, rgba(253,253,253,0) 0%, rgba(253,253,253,1) 50%, rgba(253,253,253,1) 100%);
	background: -o-linear-gradient(top, rgba(253,253,253,0) 0%, rgba(253,253,253,1) 50%, rgba(253,253,253,1) 100%);
	background: -ms-linear-gradient(top, rgba(253,253,253,0) 0%, rgba(253,253,253,1) 50%, rgba(253,253,253,1) 100%);
	background: linear-gradient(to bottom, rgba(253,253,253,0) 0%, rgba(253,253,253,1) 50%, rgba(253,253,253,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#fdfdfd', GradientType=0 );
}
.Light #stxWatchUp i.arrow,
.Light #stxWatchDown i.arrow,
.Light #stxWatchUp.false:hover i.arrow,
.Light #stxWatchDown.false:hover i.arrow {border-color:#ccc;}
.Light #stxWatchUp:hover i.arrow,
.Light #stxWatchDown:hover i.arrow {border-color:#666;}
.Light #stxWatch #stxWatch-symbols ul li {color:#838383;}
.Light #stxWatch #stxWatch-symbols ul li:hover {color:#333;}
.Light #stxWatch #stxWatch-symbols ul li:active,
.Light #stxWatch #stxWatch-symbols ul li.current {
	color: #000;
	background:#F6F6F6;
}
.Light #stxWatch #stxWatch-symbols ul li:active {background: rgba(0, 0, 0, 0.05);}
.Light .ciq #stxWatch #action {border-color:#ddd;}
.Light .ciq #stxWatch #stxWatchSymbol {color: #333;}
.Light .ciq #stxWatch a#stxWatchNext i.arrow,
.Light .ciq #stxWatch a#stxWatchPrev i.arrow
.Light .ciq #stxWatch a#stxWatchNext.false:hover i.arrow,
.Light .ciq #stxWatch a#stxWatchPrev.false:hover i.arrow {
	border-color: #999;
}
.Light .ciq #stxWatch a#stxWatchNext:hover i.arrow,
.Light .ciq #stxWatch a#stxWatchPrev:hover i.arrow {
	border-color: #000;
}

/* Bottom Bar */
.Light .stx-footer {
	background:#fdfdfd;
	color:#929292;
	border-color:#ddd;
}

/* Saved Views */
.Light #stxViews h4 {
	color:#000;
	box-shadow: 5px 0px 5px rgba(0, 0, 0, .2)
}
.Light #stxViews #stxNewView {box-shadow: -5px 0px 5px rgba(0, 0, 0, .2);}
.Light #stxViews #stxNewViewBtn.stx-btn {
	color:#6e7578;
	background:#f9f9f9;
	border-color: #ddd;
}
.Light #stxViews #stxNewViewBtn.stx-btn:hover  {
	border-color:#ccc;
	color:#333;
}
.Light #stxViews ul li {color: #666;}
.Light #stxViews ul li:hover {color: #000;}
.Light #stxViews ul li.current {
	background:rgba(0, 0, 0, .05);
	color: #000;
}

/* Events Flags */
.Light .stx-stem{
	border-left: 2px dotted rgba(0,0,0,0.3);
	width:0;
}


.Light .stx_crosshair_y {/* Vertical Crosshair size */
	height: 0px;
	width: 98%;
	border-bottom: dashed rgba(0,0,0,.5) 1px;
	background-color: transparent;
}
.Light .stx_crosshair_x {/* Horizontal Crosshair size */
	width: 0px;
	height: 100%;
	border-left: dashed rgba(0,0,0,.5) 1px;
	background-color: transparent;
}

.Light .stx_crosshair_x.stx_crosshair_drawing {border-left:dashed rgba(0,160,0,.9) 1px;}
.Light .stx_crosshair_y.stx_crosshair_drawing {border-bottom:dashed rgba(0,160,0,.9) 1px;}

/* --------------------------------------------------------- Dark Theme --------------------------------------------------------- */

/*body.Dark  {background: #111111;} */

/* Tooltips */
.Dark .stx-tooltip div,
.Dark .stx-tooltip span {
	background:#fff;
	color:#000;
}

/* Share Button */
.Dark .stx-btn#shareBtn {
	opacity: .8;
	border-color:rgba(255,255,255,.1);
}

/* Sidepanel Selector Area */
.Dark .stx-panel-selector {
	background:#111111;
	border-color: #333333;
}

/* Sidepanel Selector Buttons */
.Dark .stx-panel-selector .stx-panel-toggle,
.Dark .stx-panel-selector .stx-panel-toggle:first-child {border-color:#333;}
.Dark .stx-panel-toggle#btnToggleWatch {background-position: -115px -190px;}
.Dark .stx-panel-toggle#btnToggleTrade {background-position: -155px -190px;}
.Dark .stx-panel-toggle#btnToggleStocktwits {background-position: -115px -295px;}
.Dark .stx-panel-toggle#btnToggleNews {background-position: -155px -295px;}

/* Sidebar Strucure */
.Dark .stx-panel-side {
	background:#111;
	border-color:#333;
}

/* Watchlists Sidebar Contents */
.Dark #stxWatch h4 {color: #fff;}
.Dark #stxWatch a#stxNewWatchList,
.Dark #stxWatch a#stxWatchNext, #stxWatch a#stxWatchPrev,
.Dark #stxWatch a#stxWatchNext.false, #stxWatch a#stxWatchPrev.false,
.Dark #stxWatch a#stxWatchNext.false:hover, #stxWatch a#stxWatchPrev.false:hover {
	color:#999;
	background:#1F1F1F;
	border-color: #333;
}
.Dark #stxWatch a#stxNewWatchList:hover,
.Dark #stxWatch a#stxWatchNext:hover, #stxWatch a#stxWatchPrev:hover  {
	border-color:#666;
	color:#fff;
}
.Dark #stxWatch .watchListScroller {border-color:#333;}
.Dark #stxWatch #stxWatchLists ul li div {color: #999;}
.Dark #stxWatch #stxWatchLists ul li div:hover {color: #fff;}
.Dark #stxWatch #stxWatchLists ul li.current {background:#1F1F1F;}
.Dark #stxWatch #stxWatchLists ul li div:active,
.Dark #stxWatch #stxWatchLists ul li.current div {color: #fff;}
.Dark #stxWatch #stxWatchLists ul li.current div.edit {background:url(assets/images/chartIQ/stx-sprite.png) -198px -76px no-repeat;}
.Dark #stxWatch #stxWatchLists ul li.current div.delete {background:url(assets/images/chartIQ/stx-sprite.png) -236px -76px no-repeat;}
.Dark #stxWatchUp {
	background: rgba(17,17,17,1);
	background: -moz-linear-gradient(top, rgba(17,17,17,1) 0%, rgba(17,17,17,1) 50%, rgba(17,17,17,0) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(17,17,17,1)), color-stop(50%, rgba(17,17,17,1)), color-stop(100%, rgba(17,17,17,0)));
	background: -webkit-linear-gradient(top, rgba(17,17,17,1) 0%, rgba(17,17,17,1) 50%, rgba(17,17,17,0) 100%);
	background: -o-linear-gradient(top, rgba(17,17,17,1) 0%, rgba(17,17,17,1) 50%, rgba(17,17,17,0) 100%);
	background: -ms-linear-gradient(top, rgba(17,17,17,1) 0%, rgba(17,17,17,1) 50%, rgba(17,17,17,0) 100%);
	background: linear-gradient(to bottom, rgba(17,17,17,1) 0%, rgba(17,17,17,1) 50%, rgba(17,17,17,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111111', endColorstr='#111111', GradientType=0 );
}
.Dark #stxWatchDown {
	background: rgba(17,17,17,0);
	background: -moz-linear-gradient(top, rgba(17,17,17,0) 0%, rgba(17,17,17,1) 50%, rgba(17,17,17,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(17,17,17,0)), color-stop(50%, rgba(17,17,17,1)), color-stop(100%, rgba(17,17,17,1)));
	background: -webkit-linear-gradient(top, rgba(17,17,17,0) 0%, rgba(17,17,17,1) 50%, rgba(17,17,17,1) 100%);
	background: -o-linear-gradient(top, rgba(17,17,17,0) 0%, rgba(17,17,17,1) 50%, rgba(17,17,17,1) 100%);
	background: -ms-linear-gradient(top, rgba(17,17,17,0) 0%, rgba(17,17,17,1) 50%, rgba(17,17,17,1) 100%);
	background: linear-gradient(to bottom, rgba(17,17,17,0) 0%, rgba(17,17,17,1) 50%, rgba(17,17,17,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111111', endColorstr='#111111', GradientType=0 );
}
.Dark #stxWatchUp i.arrow,
.Dark #stxWatchDown i.arrow,
.Dark #stxWatchUp.false:hover i.arrow,
.Dark #stxWatchDown.false:hover i.arrow {border-color:#999;}
.Dark #stxWatchUp:hover i.arrow,
.Dark #stxWatchDown:hover i.arrow {border-color:#fff;}
.Dark #stxWatch #stxWatch-symbols ul li {color:#999;}
.Dark #stxWatch #stxWatch-symbols ul li:hover {color:#fff;}
.Dark #stxWatch #stxWatch-symbols ul li:active,
.Dark #stxWatch #stxWatch-symbols ul li.current {
	color: #fff;
	background:#1F1F1F;
}
.Dark #stxWatch #stxWatch-symbols ul li:active {background: rgba(0, 0, 0, 0.05);}
.Dark .ciq #stxWatch #action {border-color:#333;}
.Dark .ciq #stxWatch #stxWatchSymbol {color: #fff;}
.Dark .ciq #stxWatch a#stxWatchNext i.arrow,
.Dark .ciq #stxWatch a#stxWatchPrev i.arrow
.Dark .ciq #stxWatch a#stxWatchNext.false:hover i.arrow,
.Dark .ciq #stxWatch a#stxWatchPrev.false:hover i.arrow {
	border-color: #999;
}
.Dark .ciq #stxWatch a#stxWatchNext:hover i.arrow,
.Dark .ciq #stxWatch a#stxWatchPrev:hover i.arrow {
	border-color: #fff;
}

/* Bottom Bar */
.Dark .stx-footer {
	background:#111111;
	color:white;
	border-color:#333;
}

/* Saved Views */
.Dark #stxViews h4 {
	color:#fff;
	box-shadow: 5px 0px 5px rgba(0, 0, 0, .8)
}
.Dark #stxViews #stxNewView {box-shadow: -5px 0px 5px rgba(0, 0, 0, .8);}
.Dark #stxViews #stxNewViewBtn.stx-btn {
	color:#999;
	background:#1F1F1F;
	border-color: #333;
}
.Dark #stxViews #stxNewViewBtn.stx-btn:hover  {
	border-color:#666;
	color:#fff;
}
.Dark #stxViews ul li {color: #999;}
.Dark #stxViews ul li:hover {color: #fff;}
.Dark #stxViews ul li.current {
	background:rgba(255, 255, 255, .05);
	color: #fff;
}

/* Events Flags */
.Dark .stx-stem{
	border-left: 2px dotted rgba(255,255,255,0.3);
	width:0;
}

.Dark .stx_crosshair_y {/* Vertical Crosshair size */
	height: 0px;
	width: 98%;
	border-bottom: dashed rgba(255,255,255,.5) 1px;
	background-color: transparent;
}
.Dark .stx_crosshair_x {/* Horizontal Crosshair size */
	width: 0px;
	height: 100%;
	border-left: dashed rgba(255,255,255,.5) 1px;
	background-color: transparent;
}

.Dark .stx_crosshair_x.stx_crosshair_drawing {border-left:dashed rgba(0,255,0,.9) 1px;}
.Dark .stx_crosshair_y.stx_crosshair_drawing {border-bottom:dashed rgba(0,255,0,.9) 1px;}

BODY.IE8.Dark .stx_crosshair_y, BODY.IE8.Dark .stx_crosshair_x{
	background-color: #fff;
}

BODY.IE8.Light .stx_crosshair_y, BODY.IE8.Light .stx_crosshair_x{
	background-color: #000;
}

/* ------------------------------------------------------- End STX Advanced CSS ------------------------------------------------------- */

/* ------------------------------------------------------- STX Demo CSS ------------------------------------------------------- */
@charset "UTF-8";
/* This is a very basic sample css file that may be customized */

/* --------------------------------------------------------- GENERAL STYLES --------------------------------------------------------- */
.chartContainer { /* DIV that the canvas expands to */
	/*border: solid 1px #151a20;*/
    margin-bottom: 5px;
}

.stx-wrapper * { /* This overrides page selection and tap/touch responses */
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;
}
.stx-wrapper canvas { /* This keeps users from accidently highlighting the canvas */
	-webkit-user-select: none;
}

.stx-wrapper ul, .stx-wrapper li { /* Override basic List styles */
	margin: 0;
	padding: 0;
	list-style: none;
}

a {cursor:pointer}

/* --------------------------------------------------------- FORM FIELDS --------------------------------------------------------- */

.stx-input-field, .stx-textarea, .stx-input-check, .stx-dialog-container [type=text], .stx-dialog-container [type=number] {
	background: #f6f6f6;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: #CCC solid 1px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, .2);
	-moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, .2);
	box-shadow: inset 0px 1px 3px rgba(0, 0, 0, .2);
	padding: 0px 6px;
	outline: none;
	color: #333;
	resize: none;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	-o-user-select: text;
	resize: none;
}
.stx-input-field, .stx-dialog-container [type=text], .stx-dialog-container [type=number] {
	line-height: 27px;
	height: 27px;
	width: 110px;
}
.stx-input-field:focus,
.stx-textarea:focus,
.stx-dialog-container [type=text]:focus,
.stx-dialog-container [type=number]:focus {
	color: #333;
}
.stx-input-check {
	margin-left:0px;
}

.stx-select {
	padding-top: 3px;
	height: 27px;
	color: #666;
}
.stx-select:focus {
	outline: none;
}


/* --------------------------------------------------------- BUTTONS AND MENUS --------------------------------------------------------- */

/* Basic Buttons */

.stx-btn, .stx-btn > span { /* Defaults */
	display: inline-block;
	cursor: pointer;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 23px;
}
.stx-btn { /* Inactive Button */
	padding: 0px 8px;
	border: solid 1px #323d4c;
    border-radius: 23px;
	font-weight: bold;
	line-height: 24px;
	color: #616d7d;
	text-align: center;
	position: relative;
	overflow: visible;
	background-repeat: no-repeat;
	transition: color .25s, border .25s, box-shadow .25s;
	-webkit-transition: color .25s, border .25s, box-shadow .25s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.stx-btn:hover { /* Button Hover State */
	color: #58a7e2;
	border: solid 1px #58a7e2;
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, .1), inset 0px -8px 6px rgba(100, 100, 100, .03);
	-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, .1), inset 0px -8px 6px rgba(100, 100, 100, .03);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, .1), inset 0px -8px 6px rgba(100, 100, 100, .03);
}
.stx-btn:active { /* Button Active State */
	color: #58a7e2;
	-webkit-box-shadow: inset 0px 8px 6px rgba(100, 100, 100, .03);
	-moz-box-shadow: inset 0px 8px 6px rgba(100, 100, 100, .03);
	box-shadow: inset 0px 8px 6px rgba(100, 100, 100, .03);
}
/* Basic Navigation */

.stx-btn.stx-menu-btn { /* Menu Buttons */
	padding: 0px 28px 0px 10px;
}
.stx-btn.stx-menu-btn > em { /* Menu Arrows */
	position: absolute;
	top: 0px;
	right: 0px;
	line-height: 27px;
	height: 27px;
	width: 16px;
	background-image: url(assets/images/chartIQ/stx-sprite.png);
	background-position: -302px -118px;
	border-left: 1px dotted #999;
	opacity: .4;
	filter: alpha(opacity=40);/* for IE5-7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";/* for IE8 */
	transition: opacity .25s, border .25s;
	-webkit-transition: opacity .25s, border .25s;
}
.stx-btn.stx-menu-btn:hover > em {/* Menu Arrow hover */
	border-left: 1px dotted #ccc;
	opacity: 1;
	filter: alpha(opacity=100);/* for IE5-7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";/* for IE8 */
}

/* General Icon Button Styles */

.stx-btn.stx-ico, /* Override base button styles */ .stx-btn.stx-ico:hover, .stx-btn.stx-ico > span .stx-btn.stx-ico:hover > span, .stx-btn.stx-ico:active > span {
	overflow: hidden;
	padding: 0px !important;
	line-height: 0px;
	border: none;
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.stx-btn.stx-ico { /* This is the button wrapper and hit area */
	width: 27px;
	height: 27px;
	padding: 0px;
}
.stx-btn.stx-ico > span, .stx-btn.stx-ico:hover > span, .stx-btn.stx-ico:active > span { /* Styling of visible area and text hiding */
	background-color: #999;
	background-image: url(assets/images/chartIQ/stx-sprite.png);
	background-repeat: no-repeat;
	background-color: rgba(153,153,153,.2);
	border: 1px solid transparent;
	width: 17px;
	height: 17px;
	text-indent: 2000px;
	padding: 0px;
	margin: 4px;
	transition: color .25s, border .25s, background-color .25s, box-shadow .25s;
	-webkit-transition: color .25s, border .25s, background-color .25s, box-shadow .25s;
	opacity:.7;
}
.stx-btn.stx-ico:hover > span {/* Visible area hover state */
	background-color: #666;
	background-color: rgba(153,153,153,.3);
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, .1), inset 0px -8px 6px rgba(100, 100, 100, .03);
	-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, .1), inset 0px -8px 6px rgba(100, 100, 100, .03);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, .1), inset 0px -8px 6px rgba(100, 100, 100, .03);
	opacity:1;
}
.stx-btn.stx-ico:active > span {/* Visible area active state */
	background-color: #666;
	background-color: rgba(153,153,153,.9);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.stx-btn > span.stx-ico-close, .stx-btn > span.stx-ico-close:active {background-position: -160px -40px;}

.stx-dialog .stx-btn.stx-ico > span.stx-ico-close,
.menuSelect .stx-btn.stx-ico > span.stx-ico-close { /* Close buttons */
	background-image: url(assets/images/chartIQ/stx-sprite.png);
	background-color: #fff;
	background-position: -160px -40px;
	border-color: #ddd;
}
.stx-dialog .stx-btn.stx-ico.stx-ico:hover > span.stx-ico-close,
.menuSelect .stx-btn.stx-ico:hover > span.stx-ico-close { /* Close button hover state */
	border-color: #ccc;
}
.stx-dialog .stx-btn.stx-ico.stx-ico:active > span.stx-ico-close,
.menuSelect .stx-btn.stx-ico:active > span.stx-ico-close { /* Close button active state */
	border-color: #ccc;
	-webkit-box-shadow: inset 0px 8px 6px rgba(100, 100, 100, .03);
	-moz-box-shadow: inset 0px 8px 6px rgba(100, 100, 100, .03);
	box-shadow: inset 0px 8px 6px rgba(100, 100, 100, .03);
}

.stx-remove-study {
	background-image: url(assets/images/chartIQ/stx-sprite.png);
	background-color: #fff;
	background-position: -160px -40px;
	border-color: #ddd;
	right:20px;
	width:15px;
	height:50px;
	position:absolute;
	display:none;
}

/* --------------------------------------------------------- COLOR PICKER --------------------------------------------------------- */

.stx-color, .stx-border-color {/* Swatch / Open Palette Button */
	position: relative;
	display: inline-block;
	width: 24px;
	height: 24px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0px 1px 3px rgba(0,0,0,.6);
	-moz-box-shadow: inset 0px 1px 3px rgba(0,0,0,.6);
	box-shadow: inset 0px 1px 3px rgba(0,0,0,.6);
	cursor: pointer;
}
.stx-color span, .stx-border-color span { /* Swatch Arrow */
	display:none;
}
.stx-color { /* Initial Swatch Value for light theme */
	background-color: #000000;
}
.stxColorDarkChart { /* Initial Swatch Value for dark theme */
	background-color: #FFFFFF;
}


/* --------------------------------------------------------- BASIC LAYOUT --------------------------------------------------------- */

.stx-wrapper { /* Content Wrapper/Chart width */
	display: inline-block;
	width: 840px;
	margin: 0 auto;
	text-align: left;
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.stx-nav { /* Navigation Bar */
	height: 50px;
}
.stx-toolbar { /* Toolbar for Drawing and Heads Up */
	height: 36px;
	padding: 9px 0 0 0;
}

/* -------------------------------------------------------- NAV BAR -------------------------------------------------------- */

.stx-nav {
	position: relative;
	border: solid 0px;
	background: #5b656b;
	/*background: -webkit-gradient(linear, left top, left bottom, from(#5b656b), to(#424b50));*/
	/*background: -moz-linear-gradient(top, #5b656b, #424b50);*/
	/*background: -o-linear-gradient(top, #5b656b, #424b50);*/
    background:transparent;
}


/* Nav sections */
.stx-nav .stx-search, .stx-nav .stx-menus {
	/*float: left;*/
	display: inline-block;
	margin: 0px;
	padding: 0px;
}
.stx-nav .stx-menus {
	float: right;
	margin-right: 10px;
}
.stx-nav .stx-search, .stx-nav #periodBtn, .stx-nav .stx-menus {
	margin-top: 10px;
}

/* Button Adjustments for dark background */
.stx-nav .stx-btn.stx-menu-btn, .stx-nav .stx-nav-ico {
	border-color: rgba(153,153,153,.4);
	color: #efefef;
}
.stx-nav .stx-btn.stx-menu-btn:hover, .stx-nav .stx-nav-ico:hover {
	border-color: rgba(153,153,153,.8);
	color: #fff;
}
.stx-nav .stx-btn.stx-menu-btn:active {
	color: #fff;
}
.stx-nav .stx-btn.stx-menu-btn > em {
	border-left: 1px dotted rgba(153,153,153,.5);
	opacity: 1;
	filter: none;/* for IE5-7 */
	-ms-filter: none;/* for IE8 */
}
.stx-nav .stx-btn.stx-menu-btn:hover > em {
	border-left: 1px dotted rgba(153,153,153,.8);
}

/* Search */
.stx-nav .stx-search {
	margin-left: 15px;
	position: relative
}
input#symbol {
	text-transform: uppercase;
	border-right: none;
	-webkit-border-radius: 3px 0px 0px 3px;
	-moz-border-radius: 3px 0px 0px 3px;
	border-radius: 3px 0px 0px 3px;
}

/* Top Bar specific button styles */
.stx-nav .stx-btn {
	margin: 0 6px 0 0;
}
.stx-nav .stx-btn.stx-menu-btn {
	width: 80px;
}
.stx-nav .stx-btn.stx-menu-btn#periodBtn { /* Periodicity button */
	width: auto;
	-webkit-border-radius: 0px 3px 3px 0px;
	-moz-border-radius: 0px 3px 3px 0px;
	border-radius: 0px 3px 3px 0px;
}
.stx-nav .stx-btn.stx-menu-btn#cogBtn {  /* Cog Button */
	background-image: url(assets/images/chartIQ/stx-sprite.png);
	width: 27px;
	padding: 0px 20px 0px 0px;
	background-position: -35px -118px;
}

/* Dropdown Menus */
.menuOutline {
	position: absolute;
	top: 31px;
	right: 0px;
	width: 126px;
	background: #fff;
	font-weight: normal;
	border: solid 1px #ccc;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, .2);
	box-shadow: 0px 2px 3px rgba(0, 0, 0, .2);
	z-index: 100;
}
.menuSelect > li,
.menuSelect > ul > li { /* Menu Items */
	padding: 2px 16px;
	line-height: 27px;
	margin: 0px;
	text-align: left;
	cursor: pointer;
	color: #666;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	transition: color .25s, background-color .25s;
	-webkit-transition: color .25s, background-color .25s;
}
.menuSelect > li:first-child, .menuSelect > ul > li:first-child { /* Give more top padding to first item */
	padding: 5px 16px 2px 16px;
}
.menuSelect > li:last-child, .menuSelect > ul > li:last-child { /* Give more bottom padding to last item */
	padding: 2px 16px 5px 16px;
}
.menuSelect > li:hover, .menuSelect > ul > li:hover { /* Menu item hover state */
	background: #efefef;
}
li.stx-menu-divider,
.menuSelect li.stx-menu-content,
.menuSelect li.stx-heading,
li.stxLookupFilter,
li.stx-menu-divider:hover,
.menuSelect li.stx-menu-content:hover,
.menuSelect li.stx-heading:hover,
li.stxLookupFilter:hover { /* Remove hover states for headings, dividers, and nested list parents/special content */
	background: transparent;
	cursor: default;
	white-space: normal;
}
li.stx-menu-divider, li.stx-menu-divider:hover,
.menuSelect li.stx-menu-divider, .menuSelect li.stx-menu-divider:hover { /* Menu Section dividers */
	height: 1px;
	padding: 0px;
	background: #ccc !important;
}
.menuSelect li.stx-menu-content { /* Nested list parents and special content padding */
	padding: 10px 16px 16px 16px;
}
.menuSelect li.stx-menu-content:first-child { /* First Nested list parent or special content padding */
	padding: 16px 16px 16px 16px;
}
.menuSelect li.stx-heading, .menuSelect li.stx-heading:first-child, li.stxLookupFilter { /* Menu Headings and Search filter */
	padding: 10px 1px 5px 16px;
	font-size: 10px;
	text-transform: uppercase;
	line-height: normal;
	color: #999;
	font-weight: bold;
}
.menuSelect li.stx-heading, .menuSelect li.stx-heading:first-child { /* Menu heading padding */
	padding: 10px 16px 5px 16px;
}
.menuSelect li.stx-option { /* Menu item with checkbox adjustments */
	position: relative;
	padding-left: 35px;
}
.menuSelect li.stx-option .stx-checkbox, .menuSelect li.stx-option .stx-checkbox.false { /* Menu checkbox toggles */
	position: absolute;
	left: 14px;
	top: 8px;
	display: block;
	float: left;
	width: 14px;
	height: 14px;
	text-indent: -1000px;
	overflow: hidden;
	background-image: url(assets/images/chartIQ/stx-sprite.png);
	background-position: -142px -122px;
}
.menuSelect li.stx-option .stx-checkbox.true { /* Menu checkbox toggle active */
	background-position: -182px -122px;
}
.menuSelect ul.col { /* Columns for Studies Menu */
	float: left;
	cursor: default;
	width: 151px;
	border-top: none;
	border-right: 1px solid #efefef;
	margin-bottom:-100px;
	padding-bottom:100px;
}
.menuSelect ul.col:last-child { /* No border divider needed for last column */
	border-right: none;
}
.menuSelect ul.col li { /* Studies menu item padding */
	padding: 2px 16px 2px 16px;
}
.menuSelect ul.col li:first-child { /* Give more top padding to first item */
	padding: 5px 16px 2px 16px;
}
.menuSelect ul.col li:last-child {/* Give more bottom padding to last item */
	padding: 2px 16px 5px 16px;
}
.menuSelect .stx-btn { /* Slightly smaller button for within menus */
	font-size: 11px;
	margin: 0px;
}


/* User Injected Menu Content */

.injected .stx-btn { /* Delete button placement for custom item */
	float: right;
	margin: 0px
}
.injected li { /* Custom Item Basics */
	clear: both;
	border-top: 1px dotted #ccc;
}
.injected li.stx-menu-content:last-child { /* Give more top padding to list item with custom theme button */
	padding-top: 5px;
}
.injected a.stxItem { /* Custom name/link */
	color: #666;
	display: inline-block;
	width: 110px;
	float: left;
	line-height: 29px;
	cursor: pointer;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	border-bottom:none;
}
.injected a.stxItem:hover {
	color: #333;
	border-bottom:none;
}


/* Search Results */

.stxLookupResults { /* Search results container */
	right: auto;
	left: 0px;
	width: 400px;
}
.stxResults { /* Search results List */
	right: auto;
	left: 0px;
	width: 100%;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, .2);
	box-shadow: 0px 2px 3px rgba(0, 0, 0, .2);
}
.stxResults li { /* Search results List Item */
	font-size: 11px;
	line-height: 0px;
	clear: both
}
.stxResults li.stxLookupFilter { /* Search Filter area padding */
	/*padding: 10px 0px 30px 5px;*/
}
.stxResults li.stxLookupFilter .stx-btn { /* Search Filter buttons */
	padding: 0px;
	line-height: 18px;
	font-size: 10px;
	/*width: 60px;*/
	padding-left:5px;
	padding-right:5px;
	margin-left: 5px;
	border-color: #efefef;
	color: #999;
	overflow: hidden;
	text-overflow: ellipsis;
}
.stxResults li.stxLookupFilter .stx-btn:hover {
	border-color: #ccc;
	color: #666
}
.stxResults li.stxLookupFilter .stx-btn:first-child { /* Narrower button for "ALL" option */
	width: 35px;
}
.stxResults li.stxLookupFilter .stx-btn.on, .stxResults li.stxLookupFilter .stx-btn.on:hover {/* Active filter button */
	background: #999;
	color: #fff;
	border-color: #999;
	text-shadow: 0 1px 0px #666;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	cursor: default;
}
.stxResults span { /* Search results List Item Content */
	line-height: 27px;
	display: inline-block;
	margin: 0px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.stxLookupSymbols li span:nth-of-type(1) { /* Search results Symbol */
	color: #333333;
	font-weight: bold;
	min-width: 55px;
	float: left;
	padding-right:10px;
}
.stxLookupSymbols li span:nth-of-type(2) { /* Search results Company */
	width: 200px;
	float: left;
}
.stxLookupSymbols li span:nth-of-type(3) { /* Search results exchange */
	color: #333333;
	font-size: 10px;
	min-width: 40px;
	float: right;
	text-align:right;
}

/* Periodicity Menu Styles */
.menuSelect.periodicity {
	right: auto;
	left: 0px;
}

/* Studies Menu Styles */
.menuSelect.studies {
	width: 608px;
	overflow:hidden
}
.stx-basic .menuSelect.studies{
	width: 118px;
}
.menuSelect.studies > ul > li {
	line-height: 24px;
}

/* Themes Menu Styles */
.menuSelect.cog {
	width: 180px;
}
.menuSelect.cog .stx-btn.theme {
	display: block;
	float: none;
	clear: both;
}
.menuSelect.cog li.stx-menu-content {
	padding: 0px;
}
.menuSelect.cog .injected li.stx-heading {
	border-top: none;
	padding-bottom: 10px;
}
.menuSelect.cog li.stx-menu-content:last-child {
	padding: 10px 16px 16px;
}
.menuSelect.cog li.themeSelectorTemplate {
	margin: 0px 16px;
}


/* You may need to set the zIndex of this class if you have body elements that are stacked with different zIndexes.
 * You can test this by temporarily setting the background-color: red and seeing how the overlays work! Set the zIndexes
 * for your menus higher until they appear on top of the overlay.
 */
.stxBodyOverlay, .stxDialogOverlay {
	position: absolute;
	width: 99%; /* prevent scollbars */
	height: 100%;
	top: 0px;
	overflow: hidden;
	display: none;
	background: rgba(255,255,255,0);	/* fully transparent. If this is left out then IE9 won't detect clicks on the overlay */
}
.stxDialogOverlay {
	background: rgba(24,27,28,.7);
}

/* This z-index order is important to maintain so that the dialogs, menus and clickable overlays are all accessible */
.stxDialogOverlay {
	z-index: 200;
}
.stx-dialog-container {
	z-index: 201;
}
.stxBodyOverlay {
	z-index: 202;
}
.ciqColorPicker {
	z-index: 205;
}
.stxMenu {
	z-index: 203;
}
.stx-nav {
	z-index: 204;
}

/* ------------------------------------------------------- TOOLBAR ------------------------------------------------------- */

.stx-toolbar { /* Basic Toolbar */
	position: relative;
	display: block;
	border-right: solid 0px;
	border-left: solid 0px;
	text-align: center;
}

.stx-toolbar div { /* Keep elements from wrapping */
	display: inline-block;
}

/* Heads Up */
ul.hu { /* Formatting for list container /*
	/*width: 225px;*/
	float: right;
	/*margin-right: 20px;*/
	text-align: left
}
ul.hu li { /* Data Sets */
	float: left;
	/*width: 75px;*/
	font-size: 11px;
    list-style-type: none;
	margin-right: 20px;
}
.huLabel { /* Data Set Labels */
	display: inline-block;
	margin-right: 5px;
	width: 15px;
	color: #b2b2b2;
}
.huField { /* Data Set Value */
	display: inline-block;
	width: 55px;
}


/* Drawing Tools */

.stx-toolbar .drawOptions { /* Drawing Menu Container */
	width: auto;
	float: left;
	margin-left: 6px;
}
.stx-toolbar .drawing.false {
	display: none;
}
.stx-toolbar div.stx-btn, .stx-toolbar div.stx-color { /* Tool color */
	float: left;
	margin-left: 6px;
}
.stx-toolbar .stx-btn { /* Toolbar Buttons */
	border: solid 1px;
	font-size: 11px;
	font-weight: normal;
	height: 27px;
	border: solid 1px #ddd;
}
.stx-toolbar .menuSelect.draw {left: 0px;}
.stx-toolbar .menuSelect li { /* Tool Menu Font Size */
	font-size: 12px;
}
.stx-toolbar .menuSelect.stx-line-style-menu li:last-child {
	padding:2px 10px 5px;
}
.stx-toolbar .stx-btn.stx-menu-btn.drawBtn { /* Tool Menu Button */
	width: 62px;
	text-align: left;
}
.stx-toolbar .stx-heading { /* Background and line color headings */
	float: left;
	line-height: 27px;
	font-size: 10px;
	text-transform: uppercase;
	color: #999;
}

.stx-annotation-italic{
	font-style:italic;
}
.stx-annotation-bold{
	font-weight:bold;
}

.stx-drawing { /* Tool Options container */
	float: left;
}
.stx-drawing .stx-draw-settings { /* Line and background color modules */
	float: left;
	margin: 0px 0px 0 10px;
	padding: 0 0px 0 10px;
	border-left: dotted 1px #ddd;
}
.stx-drawing .stx-draw-settings:first-child { /* Margin for first module */
	margin: 0 0px 0 10px;
}
.stx-drawing .stx-color {/* Line and background color swatches */
	border-radius: 0px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6) inset;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6) inset;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6) inset;
	cursor: pointer;
	display: inline-block;
	height: 19px;
	position: relative;
	width: 19px;
	margin:5px;
}

.stx-drawing .stx-color span {/* Hide arrow in toolbar color swatches */
	display: none;
}
.stx-drawing span.stx-line {/* Formatting for line styles */
	display: block;
	width: 30px;
	height: 0px;
	padding: 0px;
	margin: 13px -4px 0 -4px;
	text-indent: -9999px;
	border-top: 1px solid #666;
	border-radius:0;
}

.stx-drawing .stx-checkbox, .stx-drawing .stx-checkbox.false{
	display: block;
	float: left;
	width: 14px;
	height: 14px;
	margin: 5px 0px 0 5px;
	overflow: hidden;
	background-image: url(assets/images/chartIQ/stx-sprite.png);
	background-position: -142px -122px;
}

.stx-drawing .stx-checkbox.true{
	background-position: -182px -122px;
}

.menuSelect.stx-line-style-menu { /* Line Menu width */
	width: 60px;
}
.menuSelect.stx-annotation-size-menu { /* Line Menu width */
	width: 60px;
}
.menuSelect.stx-annotation-family-menu { /* Line Menu width */
	width: 140px;
}
.menuSelect.stx-line-style-menu li.stxToolbarNone {/* Center "none" option */
	text-align: center;
}
.menuSelect li span.stx-line {/* Additional formatting for line styles within the menu */
	width: auto;
	margin: 8px -8px 8px -8px;
	border-top-color: #666;
}
.stx-btn .stx-line.style1.weight3, .stx-btn .stx-line.style2.weight3 {/* placement of line within the menu button */
	margin-bottom: 12px;
}
.stx-btn .stx-line.style2.weight1, .stx-btn .stx-line.style3.weight1 {/* placement of line within the menu button */
	margin-top: 12px;
}

/* Line style types */
.stx-btn .stx-line.style1 {
	border-top-style: solid;
}
.stx-btn .stx-line.style2 {
	border-top-style: dotted;
}
.stx-btn .stx-line.style3 {
	border-top-style: dashed;
}
.stx-btn .stx-line.weight0 {
	border-top-width: 0px;
}
.stx-btn .stx-line.weight1 {
	border-top-width: 1px;
}
.stx-btn .stx-line.weight3 {
	border-top-width: 2px;
}
.stx-btn .stx-line.weight5 {
	border-top-width: 3px;
}

/*  Measuring tool */
.currentMeasure {
	text-align: left;
	display: inline-block;
	margin: 4px 0 0 20px;
	height: 20px;
	line-height: 20px;
}
#mMeasure {
	/*border-left: dotted 1px #999;*/
	display: inline-block;
	margin: 0 0 0 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width:140px;
}


/* ------------------------------------------------------- STUDY DIALOGS ------------------------------------------------------- */

/* Popup Styles */

.stx-dialog-container {/* Wrapper for dialog placement */
	width: 100%;
	top: 0px;
	left: 0px;
	text-align: center;
	position: absolute;
}
.stx-dialog {/* The dialog */
	position: relative;
	text-align: left;
	margin: 100px auto;
	padding: 25px 30px;
	width: 200px;
	border: solid 1px #424d5c;
	background-color: #141C21;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 3px 9px 0px rgba(0,0,0,.5);
	-moz-box-shadow: 0 3px 9px 0px rgba(0,0,0,.5);
	box-shadow: 0 3px 9px 0px rgba(0,0,0,.5);
}
.stx-dialog .stx-btn { /* Make dialog buttons smaller */
	font-size: 11px;
}
.stx-dialog h4 { /* Dialog headings */
	display: inline-block;
	font-size: 16px;
	font-weight: normal;
	margin: 0px 30px 5px 0px;
    color: #3d647a;
}
.stx-dialog .stx-btn.stx-ico, .stx-dialog .stx-btn.stx-ico:hover {/* Position close dialog button */
	position: absolute;
	top: 3px;
	right: 3px;
	margin: 0px;
}
.stx-dialog div.stx-heading, .stx-dialog div.stx-data {/* Dialog content columns */
	display: inline-block;
	min-height: 24px;
	color: #424d5c;
	margin-bottom: 10px;
}
.stx-dialog div.stx-heading {/* Dialog content label */
	width: 120px;
	text-transform: capitalize;
	vertical-align: middle;
}
.stx-dialog div.stx-data {/* Dialog content swatches and fields */
	display: inline-block;
	float: right;
	width: 75px;
}
.stx-dialog .stx-color, .stx-dialog .stx-border-color {/* Dialog color swatch position */
	float: right;
	margin-left: 4px;
}
.stx-dialog hr {/* Dialog divider */
	border: none;
	height: 1px;
	color: #202c34;
	background: #202c34;
	margin: 4px 0px 8px 0px;
	padding: 0px;
}

/* Studies Dialogs */

.stx-dialog #inputs, .stx-dialog #outputs { /* Dialog content templates */
	clear: both;
}
.stx-dialog #inputs { /* Dialog Input area (headings with textfields, etc.) */
	border-top: dotted 1px #202c34;
	margin: 8px 0px 0px 0px;
	padding: 8px 0px 4px 0px;
}
.stx-dialog #outputs {/* Dialog Output area (headings with color swatches) */
	border-bottom: dotted 2px #202c34;
	margin: 0px 0px 15px 0px;
	padding: 0px 0px 8px 0px;
}
.stx-dialog .inputTemplate, .stx-dialog .outputTemplate {/* Specific Dialog Input/Output temlates*/
	clear: both;
	border-bottom: #202c34 1px solid;
	padding: 5px 0 0 0;
}
.stx-dialog .inputTemplate:last-child, .stx-dialog .outputTemplate:last-child {/* Remove divider from last item */
	border: none;
}
.stx-dialog .outputTemplate div.stx-heading {/* Dialog Output heading columns */
	width: 130px;
}
.stx-dialog div.stx-data input[type="number"],.stx-dialog div.stx-data input[type="text"] {/* Text Input styles */
	float: right;
	width: 58px;
	margin: 1px 0px 0px 0px;
}
.stx-dialog div.stx-data select {/* Select element styles */
	float: right;
	text-align: left;
	width: 70px;
	margin: 2px 0px 0px 0px;
}
.stx-dialog #parameters .outputTemplate div.stx-heading {/* Dialog Parameters heading columns (RIS overbought/oversold) */
	width: 120px;
}
.stx-dialog #parameters div.stx-data {/* Make data area wider for Params  */
	width: 70px;
}
.stx-dialog #parameters input {/* Position textfields for Parameters */
	float: none;
}
.stx-dialog #parameters .stx-color {/* Position Color swatches for Parameters */
	float: right;
}

/* Theme Dialog */
.stx-dialog#themeDialog {
	width: 460px;
}
.stx-dialog .settings { /* Theme Dialog content wrapper */
	border-top: dotted 2px #ccc;
	border-bottom: dotted 2px #ccc;
	margin: 8px 0px 22px 0px;
	padding: 15px 0px 25px 0px;
}
.stx-dialog ul {/* Theme Dialog columns */
	width: 200px;
	display: inline-block;
}
.stx-dialog ul:last-child {/* Add divider and wider second column */
	width: 220px;
	margin-left: 14px;
	border-left: dotted 1px #ddd;
}
.stx-dialog ul:first-child {/* Keep the columns from wrapping */
	float: left;
}
.stx-dialog ul:last-child li { /* Add space after column divider from second column */
	margin-left: 20px;
}
.stx-dialog ul:last-child li:last-child { /* Add space at bottom to even up column heights */
	margin-bottom: 22px;
}
.stx-dialog li {/* Theme Dialog Option set */
	width: auto;
	clear: both;
	border-top: #ddd 1px solid;
	padding: 8px 0 0 0;
}
.stx-dialog li.stx-heading {/* Theme Dialog Option set */
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	color: #999;
	padding: 5px 0 10px 0;
	border: none;
}
.stx-dialog li div.stx-data {/* Theme Dialog Option set */
	margin-bottom: 5px;
}
.stx-dialog .themeName {/* Custom Theme name heading */
	display: inline-block;
	padding: 10px 10px 5px 0px;
	font-size: 10px;
	text-transform: uppercase;
	line-height: normal;
	color: #999;
	font-weight: bold;
}
.stx-dialog#themeDialog input[type="text"] {/* Custom Theme name input */
	width: 225px;
	margin: 0px 4px 0px 0px;
}

#timezoneDialog{
	text-align:center;
	width:375px;
}

#timezoneDialog ul{
	width:365px;
	text-align:left;
	border-left: 0 none;
	margin-left: 0;
}
#timezoneDialog ul li,
#timezoneDialog ul li:last-child {
	margin-left:0px;
	padding: 8px 0;
}


#timezoneDialog .title {
	margin: 0 auto;
}
#timezoneDialogWrapper{
	border-bottom: solid #CCCCCC 1px;
}
#timezoneDialog .detect{
	margin: 20px auto;
}
#timezoneDialog .detect .stx-btn {
	line-height:35px;
	height:35px;
	padding:0px 30px;
	font-size:12px;
	color:#666;
}
#timezoneDialog .instruct{
	margin: 10px auto 0px;
	font-style:italic;
	font-family: Georgia,"Times New Roman",Times,serif;
	font-size: 12px;
	font-style: italic;
	color:#999;
}
#timezoneDialog li:hover{
	background-color:#F0F0F0;
}

/* ------------------------------------------------------- COLOR PICKER ------------------------------------------------------ */

.ciqColorPicker {/* This is the actual color picker container */
	position: absolute;
	background: #FFF;
	width: 180px;
	margin: 20px 0 0 0px;
	padding: 10px 5px 5px 10px;
	border: 1px solid #ccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 5px 0px rgba(0,0,0,.5);
	-moz-box-shadow: 0 1px 5px 0px rgba(0,0,0,.5);
	box-shadow: 0 1px 5px 0px rgba(0,0,0,.5);
}
.ciqColorPicker ul { /* The unordered list with all the swatches */
	margin: 0;
	padding: 0;
	list-style-type: none;
	zoom: 1;
}
.ciqColorPicker ul:after { /* Fix display in some browsers */
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}
.ciqColorPicker ul li { /* List item containing each swatch */
	float: left;
	margin: 0 5px 5px 0;
}
.ciqColorPicker ul li a { /* The swatches themselves */
	display: block;
	width: 13px;
	height: 13px;
	text-decoration: none;
	text-indent: -100000px;
	outline: 0;
	border: 1px solid #aaa;
}
.ciqColorPicker ul li a:hover {/* Swatch hover state */
	border-color: #000;
}


/* --------------------------------------------------------- MEDIA QUERIES --------------------------------------------------------- */
/* Very very basic Media queries to make the sample fit in ipad portrait view */
@media (max-width: 768px) {
	.stx-wrapper {
		display: inline-block;
		width: 700px;
		margin: 0px auto;
		text-align: left;
		position: relative;
	}

}


/* --------------------------------------------------------- Light Theme --------------------------------------------------------- */

/* Tooltips */
.Light .stx-tooltip div,
.Light .stx-tooltip span {
	background:#000;
	color:#fff;
}

/* Nav */
.Light .stx-nav {border-color:#ddd;}

/* Toolbar */
.Light .stx-toolbar {
	background:#fdfdfd;
	border-color: #ddd;
}

.Light .huLabel {color: #b2b2b2;}
.Light .huField {color: #666666;}

.Light .stx-toolbar .stx-btn {
	background:#fff;
	border: solid 1px #ddd;
	color:#7e7e7e;
}
.Light .stx-toolbar .stx-btn:hover {
	color:#444444;
	border: solid 1px #c5c5c5;
}

.Light .stx-toolbar .stx-btn.active{
	background-color: rgba(0,0,0,.1);
	border-color: rgba(0,0,0,.2);
}
.Light .stx-toolbar .stx-btn:active {color:#333;}
.Light .stx-toolbar .stx-btn.stx-menu-btn > em {border-left:1px dotted #999;}
.Light .stx-toolbar .stx-btn.stx-menu-btn:hover > em {border-left:1px dotted #ccc;}

.Light .stx-drawing .stx-draw-settings {border-left:dotted 1px #ddd;}

.Light .stx-drawing .stx-color {outline:none;}

.Light .stx-drawing span.stx-line {border-color:#666;}
.Light .stx-line-style-menu span.stx-line {border-color: #666666;}

.Light .measureUnlit {color:#666;}
.Light .measureLit {color:#000;}

/* Chart Area */
.Light .chartContainer {
	background:transparent;
	/*border-color:#ddd;*/
}

/*.Light .stx-btn-panel > span.stx-ico-up {background-position: -150px -25px;}*/
.Light .stx-btn-panel > span.stx-ico-down {background-position: -200px -25px;}
.Light .stx-btn-panel > span.stx-ico-close {background-position: -250px -25px;}
/*.Light .stx-btn-panel > span.stx-ico-edit {background-position: -300px -25px;}*/
.Light .stx-btn-panel > span.stx-ico-focus {background-position: -350px -25px;}

.Light #chartSize {
	background:rgba(0,0,0,.05);
	-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, .2);
}
.Light #chartSize:after {background:rgba(0,0,0,.2);}
.Light #chartSize .stx-zoom-out {background-position: -45px -25px;}
.Light #chartSize .stx-zoom-in {background-position: -95px -25px;}

.Light .stx-panel-title {background-color:transparent; color: #000000;}

.Light .stx-panel-symbol {color: #5D9AFF;}

.Light .stx-float-date { background-color: #333; color: #fff;}

.Light .stx-float-price { color:#fff; background-color: #333;}

.Light .stx-float-price-arrow { color: #333; }

.Light .stx_xaxis {color: #666;}
.Light .stx_xaxis_dark {color: #444;}
.Light .stx_yaxis {color:#333;}

.Light .stx_crosshair {background-color:rgba(0,0,0,.3);}
.Light .stx_crosshair_drawing {background-color:rgba(0,0,0,.9);}

.Light .stx_panel_border{color:#ccc;}
.Light .stx_panel_drag {color:#666;}

.Light .stx_grid {color:#dedede; opacity:.8;}
.Light .stx_grid_dark {color:#151a20;opacity:.9;}

.Light .stx_line_chart, .Light .stx_bar_chart {color:#000;}

.Light .stx_candle_shadow, .Light .stx_bar_even {color:#2e383b;}

.Light .stx_candle_down, .Light .stx_line_down { border-left-color: #000000; }
.Light .stx_candle_up, .Light .stx_line_up { border-left-color: #000000; }

.Light .stx_baseline{color:#2e383b;}

/* Volume underlay styles */
.Light .stx_volume_underlay_up {
	color: rgb(140, 193, 118);
	opacity: .2;
	border-left-color: rgb(0, 0, 0);
}
.Light .stx_volume_underlay_down {
	color: rgb(184, 45, 12);
	opacity: .2;
	border-left-color: rgb(0, 0, 0);
}

/* Volume profile styles */
.Light .stx_volume_profile {
	color: #b64a96;
	opacity: .3;
	border-color: rgb(0, 0, 0);
}

.Light .stx_hollow_candle_even{color:#888888;}

.Light .stx_projection {color: black;}

.Light .stx_histogram {
	color: #000000;
	opacity: .2;
}

.Light .stx-dialog {/* The dialog */
	border: solid 1px #ccc;
	background-color: #fff;
}

.Light .stx_mountain_chart{
	background-color: rgba(120,192,216,.8);	/* background color for mountain */
	color: rgba(255,255,255,.6);				/* Optional gradient */
	border: #3577ae;	/* Optional line color */
}

.Light .stx_volume_up {/* Up Volume color */
	color: #72cbcf;
}

.Light .stx_volume_down {/* Down volume color */
	color: #72cbce;
}

/* --------------------------------------------------------- Dark Theme --------------------------------------------------------- */

/* Tooltips */
.Dark .stx-tooltip div,
.Dark .stx-tooltip span {
	background:#fff;
	color:#000;
}

/* Nav */
.Dark .stx-nav {border-color:#333;}

/* Toolbar */
.Dark .stx-toolbar {
	background:#111111;
	border-color:#333;
}

.Dark .huLabel {color: #999;}
.Dark .huField {color: #efefef;}

.Dark .stx-toolbar .stx-btn {
	background:#1f1f1f;
	border: solid 1px #414141;
	color:#ccc;
}
.Dark .stx-toolbar .stx-btn:hover {
	color:#efefef;
	border: solid 1px #666;
}
.Dark .stx-toolbar .stx-btn.active{
	background-color: rgba(255,255,255,.3);
	border-color: rgba(255,255,255,.4);
}
.Dark .stx-toolbar .stx-btn:active {color:#fff;}
.Dark .stx-toolbar div.btn.menu > em {border-left:1px dotted #999;}
.Dark .stx-toolbar div.btn.menu:hover > em {border-left:1px dotted #999;}

.Dark .stx-drawing .stx-draw-settings {border-left:dotted 1px #414141;}

.Dark .stx-drawing .color {outline: 1px solid rgba(255,255,255,.2);}

.Dark .stx-drawing span.stx-line {border-color: #efefef;}
.Dark .stx-line-style-menu span.stx-line {border-color: #666666;}

.Dark .measureUnlit {color:#cbcccd;}
.Dark .measureLit {color:#fff;}

/* Chart Area */
.Dark .chartContainer {
	background:transparent;
	/*border-color:#22272e;*/
}


/*.Dark .stx-btn-panel > span.stx-ico-up {background-position: -150px -50px;}*/
.Dark .stx-btn-panel > span.stx-ico-down {background-position: -200px -50px;}
.Dark .stx-btn-panel > span.stx-ico-close {background-position: -250px -50px;}
/*.Dark .stx-btn-panel > span.stx-ico-edit {background-position: -300px -50px;}*/
.Dark .stx-btn-panel > span.stx-ico-focus {background-position: -350px -50px;}

.Dark #chartSize {
	background:rgba(255,255,255,.1);
	-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, .4);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, .4);
}
.Dark #chartSize:after {background:rgba(255,255,255,.2);}
.Dark #chartSize .stx-zoom-out {background-position: -45px -50px;}
.Dark #chartSize .stx-zoom-in {background-position: -95px -50px;}

.Dark .stx-panel-title {background-color:transparent; color: #000;}

.Dark .stx-panel-symbol {color: #5D9AFF;}

.Dark .stx-float-date { background-color: #fff; color: #333;}

.Dark .stx-float-price { color:#333; background-color: #fff;}

.Dark .stx-float-price-arrow { color: #fff; }

.Dark .stx_xaxis {color: #efefef;}
.Dark .stx_xaxis_dark {color: #fff;}
.Dark .stx_yaxis {color:#efefef;}

.Dark .stx_crosshair {background-color:rgba(255,255,255,.4);}
.Dark .stx_crosshair_drawing {background-color:rgba(255,255,255,.9);}

.Dark .stx_panel_border{color:#666;}
.Dark .stx_panel_drag {color:#ccc;}

.Dark .stx_grid {color:#22272e; opacity:1;}
.Dark .stx_grid_dark {color:#3c434c;opacity:.8;}

.Dark .stx_line_chart, .Dark .stx_bar_chart {color:#fff;}

.Dark .stx_candle_shadow, .Dark .stx_bar_even {color:#ccc;}

.Dark .stx_candle_down, .Dark .stx_line_down { border-left-color: #e34621; }
.Dark .stx_candle_up, .Dark .stx_line_up { border-left-color: #b8dea8; }

.Dark .stx_hollow_candle_even{color:#cccccc;}

.Dark .stx_baseline{color:#ccc;}

/* Volume underlay styles */
.Dark .stx_volume_underlay_up {
	color: rgb(140, 193, 118);
	opacity: .4;
	border-left-color: rgb(148, 201, 126);
}
.Dark .stx_volume_underlay_down {
	color: rgb(184, 45, 12);
	opacity: .4;
	border-left-color: rgb(242, 103, 70);
}

/* Volume profile styles */
.Dark .stx_volume_profile {
	color: #b64a96;
	opacity: .3;
	border-color: rgb(255, 255, 255);
}

.Dark .stx_projection {color: #FFF;}

.Dark .stx_histogram{
	color:#fff;
	opacity:.3;
}

/* --- OVERLAY CLOSE --- */
.stx-close-overlay {
	font-family: "Helvetica";
	font-size: 10px;
	position: absolute;
	z-index: 4;
	margin-top: 11px;  /* Note, needs to be 7 when volume study is open */
}
.stx-close-overlay span, .Light .stx-close-overlay span {
	background-position: -160px -40px;
	background-image: url(assets/images/chartIQ/stx-sprite.png);
	background-repeat: no-repeat;
	cursor: pointer;
	display: inline-block;
	width: 14px;
	height: 14px;
}

.Dark .stx-close-overlay span {
	background-position: -160px -80px;
}

.Dark .stx-dialog {/* The dialog */
	border: solid 1px #424d5c;
	background-color: #141C21;
}

.Dark .stx_mountain_chart{
	background-color: rgba(53,93,115,.8);	/* background color for mountain */
	color: rgba(30,35,41,.6);				/* Optional gradient */
	border: #70b7dc;	/* Optional line color */
}

.Dark .stx_volume_up {/* Up Volume color */
	color: #355d73;
}

.Dark .stx_volume_down {/* Down volume color */
	color: #355d72;
}
/* ------------------------------------------------------- End STX Demo CSS ------------------------------------------------------- */


.last-col-right{
	margin-right: 0!important;
	padding-right: 0!important;
}

/* -------- Colors for session shading -------- */
.stx_market_session.divider {
	background-color: rgba(0,255,0,0.8);
	width: 1px;
}
.stx_market_session.pre {
	background-color: rgba(255,255,0,0.1);
}
.stx_market_session.post {
	background-color: rgba(0,0,255,0.2);
}

/* -------- Heads up tooltip -------- */
stx-hu-tooltip {
	position: absolute;
	left: -1000px;
	z-index: 30;
	white-space: nowrap;
	padding: 6px;
	border: 1px solid gray;
	background-color: rgb(232, 237, 241);
	color: #5c5c5c;;
}

stx-hu-tooltip-field {
	display: table-row;
}

stx-hu-tooltip-field-name {
	display: table-cell;
	font-size: 12px;
	padding-right: 8px;
}

stx-hu-tooltip-field-value {
	display: table-cell;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
}
