<div class="ans-panel" id={{wkey}}>
    <div class="ans-news-bar full-width appttl-horizontal-seperator info-back-color">
        <div class="ans-news-animation font-m">
            {{#each newAnn in topAnn}}
                <a {{action 'itemClicked' newAnn.id newAnn.type}}>
                    <div class="ans-container full-width">
                        <div class="layout-col">
                            {{#if newAnn.sym}}
                                <span class="pad-m-lr {{newAnn.textCss}} font-l">{{newAnn.dSym}}</span>
                            {{else}}
                                <span class="pad-m-lr {{newAnn.textCss}} font-l">{{newAnn.exg}}</span>
                            {{/if}}
                        </div>
                        <div class="layout-col-24 full-width h-left ltr dark-bg-announcement-fore-color pad-m-r">{{newAnn.dHed}}</div>
                    </div>
                </a>
            {{/each}}
        </div>
    </div>
</div>