<div {{bind-attr class=":dotstyle :dotstyle-fillup :layout-container :full-width  dotPanelCss"}}>
    <div class="layout-col h-middle">
        {{#each menuItem in appLayout.layout.mainPanel.content}}
            <ul {{bind-attr class="menuItem.subMenuCss"}}>
                {{#each subMenuItem in menuItem.tab}}
                    {{#unless subMenuItem.expandId}}
                        <li {{bind-attr class="subMenuItem.css"}}><a></a></li>
                    {{/unless}}
                {{/each}}
            </ul>
        {{/each}}
    </div>
</div>
<div id="hnav-panel-mobile" class="layout-container hnav-z-index pos-abs bottom-zero full-width navigation-back-color border-top hnav-panel-height">
    {{#each menuItem in appLayout.layout.mainPanel.content}}
        <div {{action 'renderMenuItems' menuItem}} {{bind-attr class=":layout-col :hnav-default-width :pos-rel :h-middle :cell-collapse :hnav-outline :hnav-cell-height :bottom-menu-fore-color menuItem.mainMenuCss"}}>
            <div class="pos-abs top-zero h-middle full-width hnav-cell-padding-top">
                <div class="h-middle">
                    <i {{bind-attr class=":hnav-icon-font-size menuItem.icon"}}></i>
                </div>
            </div>
            <div class="pos-abs bottom-zero font-m ellipsis h-middle full-width hnav-cell-padding-bottom">
                <div class="h-middle pad-s-r">
                    {{menuItem.displayMainTitle}}
                </div>
            </div>
        </div>
    {{/each}}
</div>