<div class="full-width full-height">
    <div class="col-md-4 full-height" style="width: 350px;">
        <div class="widget-outlet full-height">{{outlet "w1"}}</div>
    </div>
    <div class="col-md-8 full-height" style="width: calc(100% - 350px);">
        <div class="widget-outlet dividends-chart full-width">{{outlet "w4"}}</div>
        <div class="widget-outlet dividends-chart full-width">{{outlet "w2"}}</div>
        <div class="widget-outlet dividends-chart full-width">{{outlet "w5"}}</div>
    </div>
</div>

