<div class="full-width full-height">
    <div class="col-xs-6 full-height">
        <div class="full-width col-xs-12 widget-outlet">
            {{outlet "w1"}}
        </div>
    </div>
    <div class="col-xs-6 full-height">
        <div class="full-width col-xs-12 widget-outlet">
            {{outlet "w2"}}
        </div>
    </div>
</div>

