<div class="col-xs-6 full-height">
    <div class="full-width col-xs-12 top-stock-row">
        <div class="full-width widget-outlet">
            {{outlet "w1"}}
        </div>
        <div class="full-width widget-outlet">
            {{outlet "w2"}}
        </div>
    </div>
</div>

<div class="col-xs-6 full-height">
    <div class="full-width col-xs-12 widget-outlet">
        {{outlet "w3"}}
    </div>
</div>