<div class="widget_new full-width full-height pad-s-b">
    {{loading-indicator isLoading=graphDataManager.isLoading}}

    <div style="height:calc(100% - 0px);">
        <div {{bind-attr class=":regular-chart-container :dq_chart :full-width chartContainer"}} role="tabpanel"
                                                                                                 id="dq_chart"
                                                                                                 style="height:calc(100% - 0px); position:relative;">
            <ul class="hu left" style="float: left;">
                <li><span class="font-s header-colour">{{app.lang.labels.top}} </span><span id="huOpen" class="font-s colour-normal" style="font-weight: bold">{{pointClose}}</span></li>
                <li><span class="font-s header-colour">{{app.lang.labels.tov}} </span><span id="huHigh" class="font-s colour-normal" style="font-weight: bold">{{pointVolume}}</span></li>
                <li><span class="font-s header-colour">{{app.lang.labels.dateTime}}</span><span id="huDateTime" class="font-s colour-normal pad-s-l" style="font-weight: bold">{{pointDate}}</span></li>
            </ul>
            <img class="stx-loader" src="assets/images/chartIQ/stx-loading.gif" style="display:none; z-index:100">
        </div>
    </div>
</div>