$quote-row-tab-height: $app-widget-gap + $wdgttl-height + $quote-mdp-summary-height + ($app-row-height * 7); // 5 = header + no of rows

.quote-row-tablet {
  @include generate-widget-height($quote-row-tab-height);
}

.quote-row-tablet-2 {
  height: $quote-row-tab-height;
}