<div {{bind-attr class=":layout-container :full-width :pad-widget-left :pad-widget-right-scroll :pad-m-tb invoker.orderStrategy.panelClass"}}>
    <div class="layout-col overflow-visible">
        <!-- Need following variable change to control button size $btn-lbl-m-width: 75px;-->
        {{bootstrap-dropdown-select
        options=accountDropdownOptions
        defaultSelect=invoker.currentPortfolio
        value=invoker.currentPortfolio.tradingAccId
        valueKey="tradingAccId"
        labelKey=portfolioDes
        selectAction="onSelectPortfolio"
        lblClass="bold"
        buttonClass="dropdown-semi-transparent"
        isDropdownDisabled=invoker.orderStrategy.isPortfolioDisabled}}
    </div>

    <div class="layout-col-24">
        <div class="layout-container full-width">
            {{#if invoker.orderStrategy.isBuy}}
                <div class="layout-col-24 pad-l-l font-s h-right v-bottom">
                    {{invoker.currentPortfolio.cashAccount.curr}}
                </div>
                <div class="layout-col pad-m-l font-x-l bold">
                    {{formatNumber invoker.currentPortfolio.cashAccount.buyPwr}}
                </div>
            {{else}}
                <div class="layout-col-24 pad-l-l font-m data-table-header-fore-color v-bottom h-right">
                    {{app.lang.labels.availQuantity}}
                </div>
                <div class="layout-col pad-m-l font-x-l bold">
                    {{formatNumber invoker.currentHolding.avaiQty 0}}
                </div>
            {{/if}}
        </div>
    </div>
</div>

<div id="orderTicketSearch"  class="layout-container full-width separator separator-shadow pad-widget-left pad-widget-right-scroll pad-m-tb">
    <div class="v-top layout-col font-xxx-l pad-s-t" {{action 'showOrderTicketSearch'}}>
        <i class="glyphicon glyphicon-search fade-fore-color"></i>
    </div>
    <div class="layout-col-24 pos-rel overflow-visible pad-m-l">
        <div class="hide-container layout-inline transform input-group full-width font-xxx-l pos-abs pad-s-b pad-xs-t z-index-hundred container-back-color" title={{app.lang.labels.searchSymbol}}>
            {{input-field-text type="text" value=searchKey onKeyPress="showSearchPopup" id=searchFieldId
            class="search-query search-input full-width bold symbol-fore-color pad-m-l" placeholder=app.lang.labels.search disabled=invoker.orderStrategy.isSymbolDisabled}}
        </div>
        <div class="modal-symbol">
            {{#modal-popup isEnabled=false id=symbolSearchId}}
                {{global-search
                enableContentSettings=false
                searchKey=searchKey
                showWidgetButtons=false
                closePopup='closeSearchPopup'
                openPopup='showSearchPopup'
                stopGlobalNotification=true
                clickAction='onSymbolSelected'
                excludedInstruments=excludedInstruments}}
            {{/modal-popup}}
        </div>

        <div class="layout-container full-width">
            <div class="layout-container pad-m-l">
                <div class="layout-col-24 symbol-fore-color bold"><span {{action 'showOrderTicketSearch'}} >{{invoker.symbolInfo.dispProp1}}</span></div>
                <div class="layout-col pad-l-l h-right">
                    <span {{bind-attr class=":layout-col pad-l-l perChgCss"}}>
                        <i {{bind-attr class=":font-xxx-l changeSign"}}></i>
                    </span>
                    <span class="layout-col highlight-fore-color bold font-x-l pad-m-l btn-animation" {{action 'setPriceValue' invoker.symbolInfo.ltp}}>{{formatNumber invoker.symbolInfo.ltp invoker.symbolInfo.deci}}</span>
                </div>
            </div>

            <div class="layout-container pad-m-l pad-m-t full-width font-m fade-fore-color">
                <div class="layout-col-24 pad-m-r">
                    {{invoker.symbolInfo.sDes}}
                </div>
                <div class="layout-col full-width h-right pad-m-l">
                    <div {{bind-attr class=":layout-col :bold :font-x-l perChgCss"}}>{{formatNumberPercentage invoker.symbolInfo.pctChg 2}}</div>
                    <div {{bind-attr class=":layout-col :bold :font-x-l :pad-l-l changeCss"}}>{{formatNumber invoker.symbolInfo.chg invoker.symbolInfo.deci}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="horizontal-separator mgn-m-lr"></div>
