{{#if isEnabled}}
    <div class="outer" style="position: absolute; display: table; height: 254px; width: 100%; z-index: 1000; background-color: rgba(0, 0, 0, 0.22);">
        <div class="middle" style="display: table-cell; vertical-align: middle;">
            <div class="message-box-trade">
                <div class="message-box-title">{{app.lang.labels.confirmOrder}}</div>
                <div>
                    {{#if invoker.warningMessages}}
                        <div class="col-md-12 pad-s-all font-m white-space-normal">
                            <div class="fade-down-back-color">
                                <div class="pad-s-lr pad-s-t">
                                    <div class="font-m fore-color pad-s-b">{{app.lang.labels.warning}} : </div>

                                    {{#each warningMessage in invoker.warningMessages}}
                                        <div class="font-m fore-color pad-s-b">{{warningMessage}}</div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    {{/if}}

                    <div class="pad-s-all font-m">
                        <div class="col-md-6 pad-s-r pad-s-b">
                            <table border="1" cellspacing="1" cellpadding="1" class="table table-type-1 TFtable fore-color">
                                <tr>
                                    <td>
                                        <span>{{app.lang.labels.symbol}}</span>
                                    </td>
                                    <td class="bold h-right pad-s-r">
                                        {{invoker.orderParams.dSym}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>{{app.lang.labels.side}}</span>
                                    </td>
                                    <td class="bold h-right pad-s-r">
                                        {{formatLabel 'orderSide' invoker.orderParams.ordSide}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>{{app.lang.labels.orderType}}</span>
                                    </td>
                                    <td class="bold h-right pad-s-r">
                                        {{formatLabel 'orderType' invoker.orderParams.ordTyp}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>{{app.lang.labels.tif}}</span>
                                    </td>
                                    <td class="bold h-right pad-s-r">
                                        {{formatLabel 'tifType' invoker.orderParams.tif}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>{{app.lang.labels.commission}}</span>
                                    </td>
                                    <td class="bold h-right pad-s-r">
                                        {{formatNumber invoker.orderParams.comsn invoker.symbolInfo.deci}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-6 pad-s-b">
                            <table border="1" cellspacing="1" cellpadding="1" class="table table-type-1 TFtable" >
                                <tr>
                                    <td>
                                        <span>{{app.lang.labels.exchange}}</span>
                                    </td>
                                    <td class="bold h-right pad-s-r">
                                        {{invoker.orderParams.exg}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>{{app.lang.labels.quantity}}</span>
                                    </td>
                                    <td class="bold h-right pad-s-r">
                                        {{formatNumber invoker.orderParams.ordQty 0}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>{{app.lang.labels.price}}</span>
                                    </td>
                                    <td class="bold h-right pad-s-r">
                                        {{#if invoker.orderStrategy.isMarketOrder}}
                                            {{app.lang.labels.marketPrice}}
                                        {{else}}
                                            {{formatNumber invoker.orderParams.price invoker.symbolInfo.deci}}
                                        {{/if}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>{{app.lang.labels.orderValue}}</span>
                                    </td>
                                    <td class="bold h-right pad-s-r">
                                        {{formatNumber invoker.orderParams.calcOrdVal invoker.symbolInfo.deci}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>{{app.lang.labels.netValue}}</span>
                                    </td>
                                    <td class="bold h-right pad-s-r">
                                        {{formatNumber invoker.orderParams.calcNetOrdVal invoker.symbolInfo.deci}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    {{#if isOfflineOrder}}
                        <div class="col-md-12 pad-s-all font-m white-space-normal fade-back-color">{{app.lang.messages.offLineOrder}}</div>
                    {{/if}}
                    <div class="right pad-s-all">
                        <button type="submit" autofocus class="btn btn-dropdown btn-default pad-s-r" {{action 'confirmOrder'}}>{{app.lang.labels.confirmOrder}}</button>
                        <button class="btn btn-dropdown btn-default" {{action 'closeModalPopup'}}>{{app.lang.labels.cancel}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/if}}