<div class="full-width h-right pad-s-b">
    <div class="layout-col pad-m-b pad-m-lr cursor-pointer">
        {{#unless appConfig.customisation.isCompactMenuEnabled}}
            <div class="btn-default pad-l-lr pad-m-tb btn-animation" {{action 'showRecentOrders'}}><i class="glyphicon icon-listitem"></i></div>
        {{/unless}}
    </div>

    <div class="layout-col-17 pad-m-b pad-m-l h-right">
        <button type="submit" disabled={{isTradingDisabledExg}} {{bind-attr class=":btn :btn-animation :colour-normal :bold :btn-txt-color invoker.orderStrategy.btnClass"}}
            {{action 'onSubmitOrder'}}>{{actionLabel}}</button>
    </div>
    <div class="layout-col-7 pad-m-lr"></div>
    <!-- Commented out Reset Button in Mobile Version -->

    <!--<div class="layout-col pad-m-b pad-m-l pad-s-r full-width h-right">-->
    <!--<button type="button"-->
    <!--class="btn-default pad-l-lr btn-small bold btn-animation" {{!action 'onResetOrder'}}-->
    <!-->{{!app.lang.labels.reset}}
    <!--</button>-->
    <!--</div>-->
</div>