<div class="layout-container pad-s-tb full-width pad-widget-left pad-widget-right widget-hline1">
    <div class="layout-row full-width">
        <div class="layout-col-8 pad-l-l pad-m-tb h-right font-m fade-fore-color">{{app.lang.labels.orderValue}}</div>
        <div class="layout-col-10 bold font-xx-l pad-l-l pad-m-tb highlight-fore-color h-right">{{formatNumber invoker.orderParams.calcOrdVal orderValueDecimals}}</div>
        <div class="layout-col-6"></div>
    </div>
</div>