<div class="layout-container full-width pad-widget-left pad-widget-right-scroll">
    <div class="layout-col-12 pad-s-r">
        <div class="layout-row full-width">
            <div class="layout-col-24 font-m fade-fore-color pad-m-tb">{{app.lang.labels.bestBid}}</div>
            <div class="layout-col pad-m-l up-fore-color bold h-right" {{action 'setPriceValue' symbol.bbp}}>{{formatNumber symbol.bbp}}</div>
        </div>
        <div class="layout-row full-width">
            <div class="layout-col-24 widget-hline font-m fade-fore-color pad-m-tb">{{app.lang.labels.low}}</div>
            <div class="layout-col  widget-hline fore-color bold pad-m-l h-right">{{formatNumber symbol.low}}</div>
        </div>
    </div>
    <div class="layout-col-12 pad-s-l">
        <div class="layout-row full-width">
            <div class="layout-col-24 font-m fade-fore-color pad-m-tb">{{app.lang.labels.bestOffer}}</div>
            <div class="layout-col pad-m-l bold down-fore-color h-right" {{action 'setPriceValue' symbol.bap}}>{{formatNumber symbol.bap}}</div>
        </div>
        <div class="layout-row full-width">
            <div class="layout-col-24  widget-hline font-m fade-fore-color pad-m-tb">{{app.lang.labels.high}}</div>
            <div class="layout-col  widget-hline fore-color pad-m-l bold h-right">{{formatNumber symbol.high}}</div>
        </div>
    </div>
</div>
