$theme2-colors-extended: (
// main-tab-panel dots
        tab-menu-dot-background: "lighten(pallete-color5, 95)",
        tab-menu-dot-shadow: "lighten(pallete-color5, 50)",
        tab-menu-dot-active: "lighten(pallete-color5, 60)"
);