


//**************************************************//

//---------- Most Frequently use Variables -----------//

//Widget Header colors 

// *****  This should be theme specific gradient colors (Need two colors), this will affect to entire theme headers  *****//

$theme2-gradient-tittle-first-colour: #003a8c;
$theme2-gradient-tittle-second-colour: #003a8c;

// Widget Background Color

$theme2-color-widget: #ffffff;

//Widget Border Color

$theme2-color-widget-border: #cecccc;

// Application Header and Side bar Background gradient ( two color gradient )

$theme2-gradient-topbar-first-colour: #eeeeee;
$theme2-gradient-topbar-second-colour: #e3e3e3;

// Application Header : Label background gradient

$theme2-gradient-toppanel-back-first-colour:#6CA2C9; 
$theme2-gradient-toppanel-back-second-colour:#4A90C2;

// Tab Default ( Nav-tabs-3) : Default gradient colors

$theme2-gradient-nav-tabs-3-first-colour: #7dabcc;
$theme2-gradient-nav-tabs-3-second-colour: #7dabcc;

// Tab Sections ( Nav-tabs-3) : Selected Background gradient colors

$theme2-gradient-nav-tabs-3-hover-first-colour: #e1a025; 
$theme2-gradient-nav-tabs-3-hover-second-colour: #e1a025; 
$theme2-gradient-nav-tabs-3-hover-third-colour: #e1a025;
$theme2-gradient-nav-tabs-3-hover-fourth-colour: #e1a025;

//Sidebar Navigation : Selected Gradient colors

$theme2-gradient-sidebar-active-first-colour: #e1a025;
$theme2-gradient-sidebar-active-second-colour: #e1a025;
$theme2-gradient-sidebar-active-fourth-colour: #e1a025;
$theme2-gradient-sidebar-active-third-colour: #e1a025;

// Default color

$theme2-Default-color: #29419b;

//Dq Chart Special Gradient colors for Header

$theme2-gradient-dq-chart-first-colour:#6E9CBC; 
$theme2-gradient-dq-chart-second-colour:#7FAED0; 

//Quote Tab stle border color 

$theme2-color-border-bottom: #D2D2D2;

//Dropdown Hover colors 

$theme2-color-search-hover: #003a8c;

$theme2-color-tooltip: #44526F;

$theme2-nav-border: #8d7d74;

//Button especial widget header 

$theme2-btn-special-gradient-first-colour: #286fb1;
$theme2-btn-special-gradient-second-colour: #286fb1;
$theme2-btn-special-gradient-third-colour: #286fb1;
$theme2-btn-special-hover: #233d81;


//----------End Most Frequently use Variables -----------//

//**************************************************//

//Other Variables Starts Here

$theme2-color-green: #2ba25c;
$theme2-color-green-dark: #055d21;
$theme2-color-green-connection:#58e2b3;
$theme2-color-green-buy: #8FFF92;
$theme2-color-green-buy-light: #58E2B3;
$theme2-color-green-btn:#76b852;

$theme2-color-red: #ff0101;
$theme2-color-red-dark: #a80000;
$theme2-color-red-connection:#fe7071;
$theme2-color-red-sell: #FF8F8F;
$theme2-color-red-sell-light: #FABCBC;
$theme2-color-red-btn: #f14242;

$theme2-color-border: #d2d2d2;
$theme2-color-background: #e8edf1;

$theme2-color-table-odd: #ffffff;
$theme2-color-table-even: #F3F3F3;

$theme2-color-border-widget-header:#265e81;
$theme2-color-border-1: #D3D2D2;
$theme2-color-border-top:#ECECEC; 
$theme2-color-border-left:#ECECEC;
$theme2-color-border-bottom-2:#265e81;
$theme2-color-border-right:#ffffff;

$theme2-color-search-background: #d6dff3;
$theme2-color-search-border-wrapper: #424d5c;
$theme2-color-search-border: #D4D4D4;


$theme2-menu-colour: #ffffff;

$theme2-tab-border-bottom-color:#62a8ea;
$theme2-tab-button-color:#76838f;

$theme2-dropdown-background-color:rgb( 255, 255, 255 );
$theme2-colour-dropdown-selected: #E9F0F6;

$theme2-market-color-open:yellow;

$theme2-btn-color: #7a8a99;
$theme2-btn-border-color: #a7a3a3;
$theme2-btn-border-color-hover: #000000;
$theme2-btn-color-active: #ffffff;
$theme2-drp-color-active: #c3dfe6;

$theme2-text-color-main: #333333;
$theme2-text-color-light: #ffffff;
$theme2-text-color-table-header: #333333;
$theme2-text-color-table-header-2: #ffffff;
$theme2-text-color-normal: #333333;
$theme2-text-color-widget-title: #ffffff;
$theme2-text-color-symbol: #385a76;
$theme2-text-color-symbol-dis: #80909c;

$theme2-ember-table-border: rgb( 132, 164, 190 );

$theme2-color-announcement: #ffbe40;
$theme2-color-1: #d07f00;
$theme2-color-2: #3592d0;
$theme2-color-3: #675a94;
$theme2-color-4: #ff6c00;
$theme2-color-5: #333333;
$theme2-color-6: #848484;
$theme2-color-7: #e8edf1;

$theme2-ticker-color:#E6E6E6;

$theme2-Default-color: #003a8c;
$theme2-prochart-line-studies-back-color: #9E9E9E;
$theme2-popover-header-color: #5a6fcd;
$theme2-popover-border-color: #4b6878;
$theme2-popover-background-color: #ffffff;
$theme2-popover-hover-color: #c3dfe6;

$theme2-intraday-cell-text-color:#5A6473;
    
$theme2-watchlist-cell-back-red: rgba(231, 67, 67, 0.14);
$theme2-watchlist-cell-back-red-2: #f2dbdb;
$theme2-watchlist-cell-back-green: rgba(46, 204, 113, 0.14);
$theme2-watchlist-cell-back-green-2: #d8eee1;
$theme2-watchlist-cell-back-lastqty: rgba(85, 159, 214, 0.14);
$theme2-watchlist-row-back-red: rgba(250, 212, 223, 1); 
$theme2-watchlist-row-back-green: rgba(199, 238, 189, 1); 

$theme2-gradient-deg: 90deg;
$theme2-horizontal-line-width: 100%;

//sidebar active

$theme2-gradient-sidebar-active-first-precent: 0%; 
$theme2-gradient-sidebar-active-second-precent: 23%; 
$theme2-gradient-sidebar-active-third-precent: 45%; 
$theme2-gradient-sidebar-active-fourth-precent: 100%;

//nav tabs hover

$theme2-gradient-nav-tabs-hover-first-colour: #e1a025; 
$theme2-gradient-nav-tabs-hover-first-precent: 0%;
$theme2-gradient-nav-tabs-hover-second-colour: #e1a025;
$theme2-gradient-nav-tabs-hover-second-precent: 13%;
$theme2-gradient-nav-tabs-hover-third-colour: #e1a025;
$theme2-gradient-nav-tabs-hover-third-precent: 41%;
$theme2-gradient-nav-tabs-hover-fourth-colour: #e1a025;
$theme2-gradient-nav-tabs-hover-fourth-precent: 100%;

//nav tabs

$theme2-gradient-nav-tabs-first-colour: #ececec;
$theme2-gradient-nav-tabs-first-precent:  0%;
$theme2-gradient-nav-tabs-second-colour: #fefefe;
$theme2-gradient-nav-tabs-second-precent:  100%;
$theme2-color-nav-tabs-border:#BABABA;

//nav tabs 2

$theme2-nav-tabs-2-selected-colour:#FFFFFF;

//dq charts 

$theme2-gradient-dq-chart-first-colour: #7DABCC; 
$theme2-gradient-dq-chart-first-precent: 0%;
$theme2-gradient-dq-chart-second-colour: #2F82BC; 
$theme2-gradient-dq-chart-second-precent:  100%;

//watchlist table header 

$theme2-gradient-watchlist-table-header-first-colour: rgb(251,252,252);
$theme2-gradient-watchlist-table-header-first-precent: 0%;
$theme2-gradient-watchlist-table-header-second-colour: rgb(215,225,230);
$theme2-gradient-watchlist-table-header-second-precent: 100%;
$theme2-gradient-watchlist-table-header-third-colour: rgb(211,223,231);
$theme2-gradient-watchlist-table-header-third-precent:  100%;
$theme2-gradient-watchlist-table-header-fourth-colour: rgb(191,205,205);
$theme2-gradient-watchlist-table-header-fourth-precent:  100%;

//toppanel back

$theme2-gradient-toppanel-back-first-precent: 0%; 
$theme2-gradient-toppanel-back-second-precent: 100%;

//topbar 

$theme2-gradient-topbar-first-precent: 0%; 
$theme2-gradient-topbar-second-precent: 100%;

//prochart line studies back

$theme2-gradient-prochart-line-studies-back-first-colour:rgb(237,241,242);
$theme2-gradient-prochart-line-studies-back-first-precent: 0%;
$theme2-gradient-prochart-line-studies-back-second-colour: rgb(251,251,251);
$theme2-gradient-prochart-line-studies-back-second-precent: 100%;

//nav special

$theme2-gradient-nav-special-first-colour: rgb(24,181,176);
$theme2-gradient-nav-special-first-precent: 0%;
$theme2-gradient-nav-special-second-colour: rgb(37,170,166);
$theme2-gradient-nav-special-second-precent: 23%;  
$theme2-gradient-nav-special-third-colour: rgb(22,177,172);
$theme2-gradient-nav-special-third-precent: 45%;
$theme2-gradient-nav-special-fourth-colour: rgb(0,149,144);
$theme2-gradient-nav-special-fourth-precent: 100%;

//nav special focus

$theme2-gradient-nav-special-focus-first-colour: rgb(24,181,176); 
$theme2-gradient-nav-special-focus-first-precent: 0%;
$theme2-gradient-nav-special-focus-second-colour: rgb(37,170,166);
$theme2-gradient-nav-special-focus-second-precent:  23%;
$theme2-gradient-nav-special-focus-third-colour: rgb(22,177,172);
$theme2-gradient-nav-special-focus-third-precent:  45%;
$theme2-gradient-nav-special-focus-fourth-colour: rgb(0,149,144);
$theme2-gradient-nav-special-focus-fourth-precent:  100%;

// Widget Tittles

$theme2-gradient-tittle-first-precent: 0%; 
$theme2-gradient-tittle-second-precent:  100%;

// ember table body container 

$theme2-gradient-ember-table-body-container-first-colour: rgb(214,226,233);
$theme2-gradient-ember-table-body-container-first-precent: 0%;
$theme2-gradient-ember-table-body-container-second-colour: rgb(214,226,233);
$theme2-gradient-ember-table-body-container-second-precent: 100%;

// btn defult

$theme2-gradient-btn-default-first-colour: #ececec;
$theme2-gradient-btn-default-first-precent: 0%;
$theme2-gradient-btn-default-second-colour:#fdfdfd;
$theme2-gradient-btn-default-second-precent: 90%;
$theme2-gradient-btn-default-third-colour: #ffffff;
$theme2-gradient-btn-default-third-precent:  100%;

//nav tabs 3 

$theme2-gradient-nav-tabs-3-first-precent: 0%;
$theme2-gradient-nav-tabs-3-second-precent:  100%;

// nav tabs 3 hover 

$theme2-gradient-nav-tabs-3-hover-first-precent: 0%;
$theme2-gradient-nav-tabs-3-hover-second-precent:23%;
$theme2-gradient-nav-tabs-3-hover-third-precent:34%;
$theme2-gradient-nav-tabs-3-hover-fourth-precent:100%;

//width

$theme2-horizontal-line-width:96%px;

//Footer

$theme2-color-footer:#f3f3f3;

// watchlist sort back colour


$theme2-gradient-sort-back-color-first-colour: #f4f7f8;
$theme2-gradient-sort-back-color-first-precent: 0%;
$theme2-gradient-sort-back-color-second-colour: #f6f8f9;
$theme2-gradient-sort-back-color-second-precent: 52%;
$theme2-gradient-sort-back-color-third-colour: #FFFFFF;
$theme2-gradient-sort-back-color-third-precent:  100%;

// New Variables added after the major CSS and HTML refactor

//Title-bar colors

$theme2-titlebar-value-color:#ffffff;
$theme2-titlebar-caption-color:#C7DFF3;
$theme2-titlebar-seperator-color:#608EB0;
$theme2-titlebar-border-bottom-color:#5D88A7;
    
$theme2-titlebar-background-green-color:#42B370;
$theme2-titlebar-background-red-color:#FE8787;
$theme2-titlebar-background-blue-color:#6F9DBD;

//Top-panel colors

$theme2-toppanel-progress-bar-color: #E8EDF1;
    
// Side-bar colors

$theme2-active-border-top:#364565;
$theme2-sidebar-nav-background:#eeeeee;


// Depth Widgets

$theme2-depth-widget-borders:#D2D2D2;
$theme2-data-background:#ffffff;


// Symbol search dropdown


//button

$theme2-btn-border-bottom:#C5C5C5;
$theme2-btn-txt-color:#ffffff;

// Text colors

$theme2-txt-color-normal:#545454;
$theme2-txt-color-light:#ffffff;

// Right click dropdowns

$theme2-popup-border: #d8d8d8;
$theme2-popup-header: #003a8c;

// Horizontal -line

$theme2-horizontal-line: #5c92b9;

// title-bar special-btn

$theme2-titlebar-btn-border-bottom:#5a87a6;
$theme2-titlebar-btn-border-top:#5a87a6;
$theme2-titlebar-btn-border-left-right:#57809d;

// Seperator colors

$theme2-seperator-color-1:#F5F5F5;

// Table headings

$theme2-tbl-heading-border-top:#e9e9e9;


//  Theme attribute definitions

/*$theme2-colors-extended: (
        title-color: white,
        title-color-2: orange,
        back-color: blue,

        menu-back-color: #003a8c,
        border-color: #D2D2D2,
        seperator-color-1: #F5F5F5,
        title-bottom-border-color: #5D88A7,
        txt-color-normal: #545454,
        text-color-light: #ffffff,
        color-2: #3592d0,
        btn-txt-color: #ffffff,
        titlebar-caption-color: #C7DFF3,
        color-border: #d2d2d2,
        color-search-border: #D4D4D4,
        search-query-font: #518399,
        color-6: #848484,
    
        box-shadow-color: #868686,
        
        // App Title Bar Theme Colors

        app-title-back-color: #003a8c,
        app-title-back-color-gradient: #003a8c,

        app-title-fore-color: #ffffff,
        app-title-fade-fore-color: #C7DFF3,
        app-title-toolbar-fore-color: #ffffff,

        app-title-up-fore-color: #ffffff,
        app-title-down-fore-color: #ffffff,
        app-title-up-back-color: #58e2b3, // Green Circle
        app-title-down-back-color: #fe7071, // Red Circle

        app-title-toolbar-back-color: #286fb1,
        app-title-toolbar-back-color-gradient: #286fb1,



        app-title-control-selected-back-color: #ffffff,
        app-title-control-selected-back-color-gradient: #81b1d3,
        app-title-control-selected-text-color: #ffffff,

        app-title-border-color: #5D88A7,

        // App Title Bar Search Input Text Bar
        app-title-search-top-color: #ebebeb,
        app-title-search-middle-color: #fafafa,
        app-title-search-bottom-color: #fafafa,

        app-title-fade-text-color: #C7DFF3,
        app-title-vertical-line: #608EB0,
        app-title-prominent-text-color: #ffffff,

        // App Title Bar Search Button
        titlebar-btn-border-bottom: #5A87A6,
        titlebar-btn-border-top: #5A87A6,
        titlebar-btn-border-left-right: #57809D,
        titlebar-btn-hover: #7DACCE,

        // Left Side Bar
        sidebar-nav-bg-color: #003a8c,
        sidebar-nav-icon-color: #F1F1F1,
        sidebar-nav-icon-color-hover: #209ac6,
        sidebar-nav-icon-color-active: #6594B5,
        sidebar-nav-brand-color: #F1F1F1,
        sidebar-nav-brand-color-hover: #333333,

        app-menu-back-color: #79A9CB,
        app-menu-back-color-gradient: #79A9CB,
        app-menu-fore-color: #F1F1F1,

        app-menu-selected-back-color: #404e6b,
        app-menu-selected-back-color-gradient: #5f6a86,
        app-menu-selected-fore-color: #6594B5
);*/

$theme2-colors-extended: (
        pallete-color1: #003a8c,
        pallete-color2: #e1a025,

        base-color-app-menu-selected: "use(pallete-color2)",

        app-title-fade-fore-color: "lighten(app-title-back-color, 50)", // l - 29
        app-title-back-color-gradient: "use(app-title-back-color)", // l - 9

        app-menu-fore-color-hover: #209ac6, // TODO: [Bashitha] New variable to store menu mouse hover color and modify usages
        app-menu-selected-back-color-gradient1: "use(app-menu-selected-back-color)", // d - 13
        app-menu-selected-back-color-gradient2: "use(app-menu-selected-back-color)", // d - 13
        app-menu-selected-back-color-gradient3: "use(app-menu-selected-back-color)", // d - 17

        widget-title-back-color-gradient: "use(widget-title-back-color)", // l - 9,
        widget-back-color-gradient: #e3eaf2, // TODO: [Bashitha] New variable to store right click mouse hover color and modify usages
        widget-title-selected-tab-back-color: #e1a025,
        widget-title-selected-tab-back-color-gradient: #e1a025, // d - 3

        tab-selected-back-color: #e1a025,
        tab-selected-back-color-gradient: #e1a025, // d - 3
);
