<div id="tradeOrderTab" class="full-width full-height">
    <div class="col-xs-12 full-height">
        <div class="col-xs-12 widget-outlet" style="height: calc(100% - 175px);">
            {{outlet "w1"}}
        </div>
        <div  data-id="orderList-full" class="col-xs-12 widget-outlet" style="height: 165px;">
            {{outlet "w2"}}
        </div>
    </div>
</div>