<div class="widget_new full-height">
    <div class="widget-container-new full-height">

        <!--FV Summary -- START-- -->

        <div class="layout-container pad-widget-left pad-widget-right pad-m-tb widget-border-top">
            <div class="layout-col">
                {{symbol-summary
                stockObj=stock}}
            </div>

                <div class="widget-vline layout-col pad-m-l"></div>

                <div class="layout-col pad-m-lr">
                    <div class="layout-col">
                        <div class="font-m bold fore-color"> {{app.lang.labels.median12M}} </div>
                        <div class="font-m bold fore-color pad-s-t"><span> {{app.lang.labels.targetPrice}} </span></div>
                    </div>

                    <div class="layout-col pad-m-l">
                        <span class="font-4x-l bold fore-color">{{formatNumber medianTargetPrice}}</span>
                    </div>
                </div>

                <div class="widget-vline layout-col"></div>

                <div class="layout-col pad-m-lr">
                    <div class="layout-col">
                        <div class="font-m bold fore-color"> {{app.lang.labels.upSide}} </div>
                        <div class="font-m pad-s-t bold fore-color"><span> {{app.lang.labels.potentialPer}} </span></div>
                    </div>

                    <div class="layout-col pad-m-l">
                        <span class="{{upPotentialColor}} font-4x-l bold">{{formatNumberPercentage medianUpsidePotential 1}}</span>
                    </div>
                </div>
        </div>

        <!--FV Summary -- END-- -->

        <!--History chart & Consensus -- END-- -->

        <div class="layout-container full-width">

            <!--Historical-price-chart -- START-- -->

            <div class="layout-col-16">
                <div class="layout-container full-width wdgttl mgn-s-l mgn-s-r mgn-s-b pad-s-lr pad-s-tb">
                    <span class="font-l bold">{{app.lang.labels.oneYearHistoricalAndTargetPrices}}</span>
                </div>

                <div class="layout-container mgn-s-l mgn-s-r full-width">
                    <div class="full-width" style="height: 244px;" id="fvChartLoad1">{{outlet 'chartOutlet'}}</div>
                </div>

                <div class="layout-container mgn-s-t mgn-s-l mgn-s-b mgn-s-r full-width ltr">
                    <div class="layout-col-12 font-l h-middle bold">{{app.lang.labels.oneYearHistoricalPrice}}</div>
                    <div class="layout-col-12 font-l h-middle bold">{{app.lang.labels.twelveMonthsTargetPrice}}</div>
                </div>
            </div>

            <!--Historical-price-chart -- END-- -->


            <!--Consensus -- START-- -->

            <div class="layout-col-8">

                <div class="layout-container full-width full-height mgn-l-r">
                    <div class="layout-container full-width full-height mgn-l-r">

                        <div class="layout-container full-width wdgttl mgn-s-l mgn-s-r mgn-s-b pad-s-lr pad-s-tb">
                            <span class="font-l bold"> {{app.lang.labels.consensus}} </span>
                        </div>

                        <!--Consensus chart -- START-- -->

                        <div class="layout-container text-center full-width mgn-m-l mgn-s-t">
                            <div class="layout-col full-width">
                                <div class="layout-inline">

                                    <div class="layout-container" style="width: 150px; height: 13px;">
                                        <div class="layout-col-10">
                                            <div class="display-table">
                                                <div class="arrow-shaft display-table-cell v-middle appttl-fore-color green-back-color-1 font-m bold">{{app.lang.labels.buy}}: 5</div>
                                                <div class="display-table-cell arrow arrow-top-buy-sell arrow-buy"></div>
                                            </div>
                                        </div>
                                        <div class="layout-col-4"></div>
                                        <div class="layout-col-10">
                                            {{#if consensusPositionBuy}}
                                                <div class="display-table">
                                                    <div class="display-table-cell arrow arrow-top-buy-sell arrow-buy-right"></div>
                                                    <div class="arrow-shaft display-table-cell font-m bold v-middle appttl-fore-color green-back-color-1">{{formatNumber consensus}} </div>
                                                </div>
                                            {{/if}}
                                        </div>
                                    </div>

                                    <div class="layout-container" style="width: 150px; height: 13px;">
                                        <div class="layout-col-10"></div>
                                        <div class="layout-col-4 green-back-color-1"></div>
                                        <div class="layout-col-10">
                                            {{#if consensusPosition5}}
                                                <div class="display-table">
                                                    <div class="display-table-cell arrow arrow-bottom arrow-top arrow-green-1"></div>
                                                    <div class="arrow-shaft display-table-cell font-m bold v-middle appttl-fore-color green-back-color-1">{{formatNumber consensus}} </div>
                                                </div>
                                            {{/if}}
                                        </div>
                                    </div>

                                    <div class="layout-container" style="width: 150px; height: 13px;">
                                        <div class="layout-col-10"></div>
                                        <div class="layout-col-4 green-back-color-2"></div>
                                        <div class="layout-col-10">
                                            {{#if consensusPosition43}}
                                                <div class="display-table">
                                                    <div class="display-table-cell arrow arrow-bottom arrow-top arrow-green-2"></div>
                                                    <div class="arrow-shaft display-table-cell font-m bold v-middle appttl-fore-color green-back-color-2">{{formatNumber consensus}} </div>
                                                </div>
                                            {{/if}}
                                        </div>
                                    </div>

                                    <div class="layout-container" style="width: 150px; height: 13px;">
                                        <div class="layout-col-10"></div>
                                        <div class="layout-col-4 green-back-color-3"></div>
                                        <div class="layout-col-10">
                                            {{#if consensusPosition4}}
                                                <div class="display-table">
                                                    <div class="display-table-cell arrow arrow-bottom arrow-top arrow-green-3"></div>
                                                    <div class="arrow-shaft display-table-cell font-m bold v-middle appttl-fore-color green-back-color-3">{{formatNumber consensus}} </div>
                                                </div>
                                            {{/if}}
                                        </div>
                                    </div>

                                    <div class="layout-container" style="width: 150px; height: 13px;">
                                        <div class="layout-col-10"></div>
                                        <div class="layout-col-4 green-back-color-4"></div>
                                        <div class="layout-col-10">
                                            {{#if consensusPosition375}}
                                                <div class="display-table">
                                                    <div class="display-table-cell arrow arrow-bottom arrow-top arrow-green-4"></div>
                                                    <div class="arrow-shaft display-table-cell font-m bold v-middle appttl-fore-color green-back-color-4">{{formatNumber consensus}} </div>
                                                </div>
                                            {{/if}}
                                        </div>
                                    </div>

                                    <div class="layout-container" style="width: 150px; height: 13px;">
                                        <div class="layout-col-10"></div>
                                        <div class="layout-col-4 green-back-color-5"></div>
                                        <div class="layout-col-10">
                                            {{#if consensusPosition35}}
                                                <div class="display-table">
                                                    <div class="display-table-cell arrow arrow-bottom arrow-top arrow-green-5"></div>
                                                    <div class="arrow-shaft display-table-cell font-m bold v-middle fore-color green-back-color-5">{{formatNumber consensus}} </div>
                                                </div>
                                            {{/if}}
                                        </div>
                                    </div>

                                    <div class="layout-container" style="width: 150px; height: 13px;">
                                        <div class="layout-col-10"></div>
                                        <div class="layout-col-4 green-back-color-6"></div>
                                        <div class="layout-col-10">
                                            {{#if consensusPosition325}}
                                                <div class="display-table">
                                                    <div class="display-table-cell arrow arrow-bottom arrow-top arrow-green-6"></div>
                                                    <div class="arrow-shaft display-table-cell font-m bold v-middle fore-color green-back-color-6">{{formatNumber consensus}} </div>
                                                </div>
                                            {{/if}}
                                        </div>
                                    </div>

                                    <div class="layout-container" style="width: 150px; height: 13px;">
                                        <div class="layout-col-10"></div>
                                        <div class="layout-col-4 yellow-back-color-1"></div>
                                        <div class="layout-col-10">
                                            {{#if consensusPosition3}}
                                                <div class="display-table">
                                                    <div class="display-table-cell arrow arrow-bottom arrow-top arrow-yellow-1"></div>
                                                    <div class="arrow-shaft display-table-cell font-m bold v-middle fore-color yellow-back-color-1">{{formatNumber consensus}} </div>
                                                </div>
                                            {{/if}}
                                        </div>
                                    </div>

                                    <div class="layout-container" style="width: 150px; height: 13px;">
                                        <div class="layout-col-10">
                                            <div class="display-table">
                                                <div class="arrow-shaft display-table-cell v-middle fore-color yellow-back-color-2 font-m bold">{{app.lang.labels.hold}}: 3</div>
                                                <div class="display-table-cell arrow arrow-top arrow-bottom arrow-hold"></div>
                                            </div>
                                        </div>
                                        <div class="layout-col-4 yellow-back-color-2"></div>
                                        <div class="layout-col-10">
                                            {{#if consensusPosition275}}
                                                <div class="display-table">
                                                    <div class="display-table-cell arrow arrow-bottom arrow-top arrow-yellow-2"></div>
                                                    <div class="arrow-shaft display-table-cell font-m bold v-middle fore-color yellow-back-color-2">{{formatNumber consensus}} </div>
                                                </div>
                                            {{/if}}
                                        </div>
                                    </div>

                                    <div class="layout-container" style="width: 150px; height: 13px;">
                                        <div class="layout-col-10"></div>
                                        <div class="layout-col-4 yellow-back-color-3"></div>
                                        <div class="layout-col-10">
                                            {{#if consensusPosition25}}
                                                <div class="display-table">
                                                    <div class="display-table-cell arrow arrow-bottom arrow-top arrow-yellow-3"></div>
                                                    <div class="arrow-shaft display-table-cell font-m bold v-middle fore-color yellow-back-color-3">{{formatNumber consensus}} </div>
                                                </div>
                                            {{/if}}
                                        </div>
                                    </div>

                                    <div class="layout-container" style="width: 150px; height: 13px;">
                                        <div class="layout-col-10"></div>
                                        <div class="layout-col-4 red-back-color-1"></div>
                                        <div class="layout-col-10">
                                            {{#if consensusPosition225}}
                                                <div class="display-table">
                                                    <div class="display-table-cell arrow arrow-bottom arrow-top arrow-red-1"></div>
                                                    <div class="arrow-shaft display-table-cell font-m bold v-middle fore-color red-back-color-1">{{formatNumber consensus}} </div>
                                                </div>
                                            {{/if}}
                                        </div>
                                    </div>

                                    <div class="layout-container" style="width: 150px; height: 13px;">
                                        <div class="layout-col-10"></div>
                                        <div class="layout-col-4 red-back-color-2"></div>
                                        <div class="layout-col-10">
                                            {{#if consensusPosition2}}
                                                <div class="display-table">
                                                    <div class="display-table-cell arrow arrow-bottom arrow-top arrow-red-2"></div>
                                                    <div class="arrow-shaft display-table-cell font-m bold v-middle fore-color red-back-color-2">{{formatNumber consensus}} </div>
                                                </div>
                                            {{/if}}
                                        </div>
                                    </div>

                                    <div class="layout-container" style="width: 150px; height: 13px;">
                                        <div class="layout-col-10"></div>
                                        <div class="layout-col-4 red-back-color-3"></div>
                                        <div class="layout-col-10">
                                            {{#if consensusPosition16}}
                                                <div class="display-table">
                                                    <div class="display-table-cell arrow arrow-bottom arrow-top arrow-red-3"></div>
                                                    <div class="arrow-shaft display-table-cell font-m bold v-middle appttl-fore-color red-back-color-3">{{formatNumber consensus}} </div>
                                                </div>
                                            {{/if}}
                                        </div>
                                    </div>

                                    <div class="layout-container" style="width: 150px; height: 13px;">
                                        <div class="layout-col-10"></div>
                                        <div class="layout-col-4 red-back-color-4"></div>
                                        <div class="layout-col-10">
                                            {{#if consensusPosition13}}
                                                <div class="display-table">
                                                    <div class="display-table-cell arrow arrow-bottom arrow-top arrow-red-4"></div>
                                                    <div class="arrow-shaft display-table-cell font-m bold v-middle appttl-fore-color red-back-color-4">{{formatNumber consensus}} </div>
                                                </div>
                                            {{/if}}
                                        </div>
                                    </div>

                                    <div class="layout-container" style="width: 150px; height: 13px;">
                                        <div class="layout-col-10"></div>
                                        <div class="layout-col-4 red-back-color-5"></div>
                                        <div class="layout-col-10">
                                            {{#if consensusPosition1}}
                                                <div class="display-table">
                                                    <div class="display-table-cell arrow arrow-bottom arrow-top arrow-red-5"></div>
                                                    <div class="arrow-shaft display-table-cell font-m bold v-middle appttl-fore-color red-back-color-5">{{formatNumber consensus}} </div>
                                                </div>
                                            {{/if}}
                                        </div>
                                    </div>

                                    <div class="layout-container" style="width: 150px; height: 13px;">
                                        <div class="layout-col-10">
                                            <div class="display-table">
                                                <div class="arrow-shaft display-table-cell v-middle appttl-fore-color red-back-color-5 font-m bold">{{app.lang.labels.sell}}: 1</div>
                                                <div class="display-table-cell arrow arrow-bottom-buy-sell arrow-sell"></div>
                                            </div>
                                        </div>
                                        <div class="layout-col-4"></div>
                                        <div class="layout-col-10">
                                            {{#if consensusPositionSell}}
                                                <div class="display-table">
                                                    <div class="display-table-cell arrow arrow-bottom-buy-sell arrow-sell-right"></div>
                                                    <div class="arrow-shaft display-table-cell font-m bold v-middle appttl-fore-color red-back-color-5">{{formatNumber consensus}} </div>
                                                </div>
                                            {{/if}}
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!--Consensus chart -- END-- -->


                        <!--Consensus calculation -- START-- -->

                        <div class="layout-container text-center full-width mgn-m-l mgn-m-r mgn-s-t container-back-color pad-s-t pad-s-b">
                            <div class="layout-inline pos-rel">
                                <span class="font-l bold">{{app.lang.labels.count}} :&nbsp; </span>
                            </div>

                            <div class="layout-inline pos-rel">
                                <span class="font-l bold">{{consensusCount}}</span>
                            </div>
                        </div>

                        <div class="layout-container text-center full-width mgn-m-l mgn-m-t">
                            <div class="layout-inline pos-rel">
                                <div class="font-l bold">{{app.lang.labels.consensus}} :&nbsp; </div>
                            </div>

                            <div class="layout-inline pos-rel">
                                <span class="font-l bold">{{formatNumber consensus}} / 5</span>
                            </div>
                        </div>

                    </div>

                </div>

                <!--Consensus calculation -- END-- -->

            </div>

            <!--Consensus -- END-- -->

        </div>

        <!--History chart & Consensus -- END-- -->


        <!--Recommendations Table -- START-- -->

        <div class="layout-container full-width wdgttl mgn-s-l mgn-s-r mgn-s-t pad-m-l pad-m-r pad-s-t pad-s-b">
            <span class="font-l bold"> {{app.lang.labels.recommendation}} </span>
        </div>

        <div class="layout-container full-width mgn-s-l mgn-s-r">
            <div  class="data-table full-width">
                <div class="data-table-header">
                    {{#each fieldObj in fieldList}}
                        <div class="{{fieldObj.col}} layout-col row-height-header {{fieldObj.padding}} {{fieldObj.textAlign}} font-m">{{fieldObj.columnName}}</div>
                    {{/each}}
                </div>

                {{#each fairValueObj in fairValueArray}}
                    <div class="layout-row">
                        {{#each field in fieldList}}
                            {{#unless field.isHide}}
                                <div data-id="fairValue-{{field.fieldName}}" class="{{field.col}} layout-col row-height {{field.padding}} {{fontColor fairValueObj field.fieldName field.fontColor}} {{recBackgroundColor fairValueObj field.isCellHighlight}} {{field.textAlign}} font-m bold">
                                    <span class="ltr"> {{dataTextField fairValueObj field.fieldName field.formatter}}</span>
                                </div>
                            {{/unless}}
                        {{/each}}

                        <div data-id="fairValue-upsidePotential" class="layout-col row-height pad-m-l {{fairValueObj.upPotentialTextColor}} {{!fontColor fairValueObj 'upsidePotential' 'redOrGreen'}} h-right font-m bold">
                            <span class="ltr"> {{formatNumberPercentage fairValueObj.upsidePotential 1}}</span>
                        </div>

                        <div data-id="fairValue-report" class=" layout-col row-height pad-m-lr h-middle font-m bold">
                            {{#if fairValueObj.docId}}
                                <span class="ltr cursor-pointer" {{action 'openReport' fairValueObj.docId}}> <i class="fa fa-file-pdf-o down-fore-color"></i> </span>
                            {{/if}}
                        </div>

                    </div>
                {{/each}}

                <!-- To make the last row visible added an empty row-->
                <div class="layout-row row-height"></div>
            </div>
        </div>

        <!--Recommendations Table -- END-- -->

        <div class="layout-container full-width pad-s-lr pad-s-tb">
            {{tell-a-friend}}
        </div>
    </div>
</div>
