<div class="full-height pad-s-b">
    <div class="left full-width full-height">
        <div class="{{chartContainer}} full-width" role="tabpanel" id="history_chart" style="height:calc(100% - 0px); position:relative;">
            <img class="stx-loader" src="assets/images/chartIQ/stx-loading.gif" style="display:none; z-index:100">
        </div>
    </div>
</div>
