<div class="mgn-m-l ltr ms-top-bar-cash-map-container">
    <div class="ms-top-bar-cash-map-content">
        {{#if isTablet}}
            <div class="layout-container pad-s-t">
                <div class="col-xs-7">
                    <div class="font-m fade-fore-color h-left">{{app.lang.labels.cashMap}}%</div>
                </div>
                <div class="col-xs-5">
                    <div class="ms-top-bar-align-cash-map font-l bold up-fore-color h-right">
                        {{cashInPerValue}}
                    </div>
                </div>
            </div>
        {{else}}
            <div class="ms-top-bar-align-cash-map" id="cash_map_chart"></div>
            <div class="font-m fade-fore-color">{{app.lang.labels.cashMap}}%</div>
        {{/if}}
    </div>
    <div class="ms-top-bar-cash-map-content">
        {{#if isTablet}}
            <div class="layout-container pad-s-t">
                <div class="col-xs-7">
                    <div class="font-m fade-fore-color h-left">{{app.lang.labels.netCash}}%</div>
                </div>
                <div class="col-xs-5">
                    <div class="ms-top-bar-align-cash-map font-l bold up-fore-color h-right">
                        {{netCashPerValue}}
                    </div>
                </div>
            </div>
        {{else}}
            <div class="ms-top-bar-align-cash-map" id="net_cash_chart"></div>
            <div class="font-m fade-fore-color">{{app.lang.labels.netCash}}%</div>
        {{/if}}
    </div>
</div>
