<table class="w-full border-b" cellspacing="0" cellpadding="0" border="0">
    <tr>
        {{#if isTablet}}
            <td>
                <div class="ms-top-bar-chart ltr" id="mainIndexChart" style="margin-left: 4px;">
                    <span id="chart" class="ms-top-bar-index-chart-position"></span>
                </div>
            </td>
        {{/if}}

        <td>
            {{#unless isTablet}}
                <div class="mgn-m-l ms-top-bar-index-dropdown">
                    {{bootstrap-dropdown-select
                    options=indexCollectionArray
                    valueKey='dSym'
                    labelKey='sDes'
                    selectedLabelKey='dSym'
                    defaultSelect=defaultIndexForDropdown
                    selectAction='setIndexData'
                    buttonClass='bold ltr ms-top-bar-index-dropdown-btn'
                    value=currentIndex.dSym
                    wkey=wkey}}
                </div>
            {{/unless}}

            {{#unless isTablet}}
                <div class="ms-top-bar-chart ltr" id="mainIndexChart"  {{action 'popUpChartOptionWidget'}}><span id="chart" class="ms-top-bar-index-chart-position"></span></div>
            {{/unless}}
        </td>

        <td>
            {{#if isTablet}}
                <div class="ms-top-bar-index-value pad-m-lr" style="margin-top: 30px">
                    <div class="ms-top-bar-index-dropdown">
                        {{bootstrap-dropdown-select
                        options=indexCollectionArray
                        valueKey='dSym'
                        labelKey='sDes'
                        selectedLabelKey='sDes'
                        defaultSelect=defaultIndexForDropdown
                        selectAction='setIndexData'
                        buttonClass='bold ltr'
                        lblClass='ms-top-bar-index-dropdown-btn'
                        value=currentIndex.dSym
                        wkey=wkey}}
                    </div>
                    <div class="layout-container ms-top-bar-change">
                        <div class="layout-col">
                            <div class="ltr pad-s-t">
                                <div {{bind-attr class="indexValCss"}}>
                                    <span class="index-Arrow">  <i {{bind-attr class="indexArrowCss :v-bottom"}}> </i> </span>
                                    <span class="index-Value hint--bottom-left hint--bounce hint--rounded" data-hint="{{app.lang.labels.indexValue}}"> {{formatNumber currentIndex.ltp}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="layout-col">
                            <div class="ltr" style="padding-top: 5px">
                                <div {{bind-attr class="indexCss"}}>
                                    <span {{bind-attr class="indexBackgroundCss :hint--bottom-left :hint--bounce :hint--rounded"}} data-hint="{{app.lang.labels.change}}"> {{formatNumber currentIndex.chg}}</span>
                                    <span {{bind-attr class="indexPercentageCss"}}><span class="ms-top-bar-index-percentage pad-s-l hint--bottom-left hint--bounce hint--rounded" data-hint="{{app.lang.labels.perChange}}">{{indexChangeSign}}{{formatNumberPercentage currentIndex.pctChg}}</span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{else}}
                <div class="ms-top-bar-index-value" style="margin-bottom: 7px">

                    <div class="ltr pad-l-r">
                        <div {{bind-attr class="indexValCss"}}>
                            <span class="index-Arrow">  <i {{bind-attr class="indexArrowCss :v-bottom"}}> </i> </span>
                            <span class="index-Value hint--bottom-left hint--bounce hint--rounded" data-hint="{{app.lang.labels.indexValue}}"> {{formatNumber currentIndex.ltp}}</span>
                        </div>
                    </div>

                    <div class="ltr pad-l-r" style="padding-top:15px">
                        <div {{bind-attr class="indexCss"}}>
                            <span {{bind-attr class="indexBackgroundCss :hint--bottom-left :hint--bounce :hint--rounded"}} data-hint="{{app.lang.labels.change}}"> {{formatNumber currentIndex.chg}}</span>
                    <span {{bind-attr class="indexPercentageCss"}}>
                    <span class="ms-top-bar-index-percentage pad-s-l hint--bottom-left hint--bounce hint--rounded" data-hint="{{app.lang.labels.perChange}}">{{indexChangeSign}}{{formatNumberPercentage currentIndex.pctChg}}</span>
                    </span>

                        </div>
                    </div>

                </div>
            {{/if}}
        </td>
    </tr>
</table>