<div name="mpl-standard" class="full-height full-width pos-abs" style="z-index: -610">
    {{main-tab-panel tabList=menuTabMap.netplus showTabs=displayTabs.netplus tabClickAction='renderTabItems' tabName='standard'}}
    <div class="full-height full-width {{if displayTabs.netplus 'tab-menu' ''}}">{{outlet "standard"}}</div>
</div>
<div name="mpl-classic" class="full-height full-width pos-abs" style="z-index: -620">
    {{main-tab-panel tabList=menuTabMap.netplus showTabs=displayTabs.netplus tabClickAction='renderTabItems' tabName='classic'}}
    <div class="full-height full-width {{if displayTabs.netplus 'tab-menu' ''}}">{{outlet "classic"}}</div>
</div>
<div name="mpl-investor" class="full-height full-width pos-abs" style="z-index: -630">
    {{main-tab-panel tabList=menuTabMap.netplus showTabs=displayTabs.netplus tabClickAction='renderTabItems' tabName='investor'}}
    <div class="full-height full-width {{if displayTabs.netplus 'tab-menu' ''}}">{{outlet "investor"}}</div>
</div>
<div name="mpl-custom" class="full-height full-width pos-abs" style="z-index: -640">
    {{main-tab-panel tabList=menuTabMap.netplus showTabs=displayTabs.netplus tabClickAction='renderTabItems' tabName='custom'}}
    <div class="full-height full-width {{if displayTabs.netplus 'tab-menu' ''}}">{{outlet "custom"}}</div>
</div>
<div name="mpl-market" class="full-height full-width pos-abs" style="z-index: -110">
    {{main-tab-panel tabList=menuTabMap.market showTabs=displayTabs.market tabClickAction='renderTabItems' tabName='market'}}
    <div class="full-height full-width {{if displayTabs.market 'tab-menu' ''}}">{{outlet "market"}}</div>
</div>
<div name="mpl-trading" class="full-height full-width pos-abs" style="z-index: -810">
    {{main-tab-panel tabList=menuTabMap.trading showTabs=displayTabs.trading tabClickAction='renderTabItems' tabName='trading'}}
    <div class="full-height full-width {{if displayTabs.trading 'tab-menu' ''}}">{{outlet "trading"}}</div>
</div>
<div name="mpl-fullQuote" class="full-height full-width pos-abs" style="z-index: -210">
    {{main-tab-panel tabList=menuTabMap.quote showTabs=displayTabs.quote tabClickAction='renderTabItems' tabName='fullQuote'}}
    <div class="full-height full-width {{if displayTabs.quote 'tab-menu' ''}}">{{outlet "fullQuote"}}</div>
</div>
<div name="mpl-dividend" class="full-height full-width pos-abs" style="z-index: -230">
    {{main-tab-panel tabList=menuTabMap.quote showTabs=displayTabs.quote tabClickAction='renderTabItems' tabName='dividend'}}
    <div class="full-height full-width {{if displayTabs.quote 'tab-menu' ''}}">{{outlet "dividend"}}</div>
</div>
<div name="mpl-theoretical" class="full-height full-width pos-abs" style="z-index: -260">
    {{main-tab-panel tabList=menuTabMap.theoretical showTabs=displayTabs.theoretical tabClickAction='renderTabItems' tabName='theoretical'}}
    <div class="full-height full-width {{if displayTabs.theoretical 'tab-menu' ''}}">{{outlet "theoretical"}}</div>
</div>
<div name="mpl-fairValue" class="full-height full-width pos-abs" style="z-index: -280">
    {{main-tab-panel tabList=menuTabMap.quote showTabs=displayTabs.quote tabClickAction='renderTabItems' tabName='fairValue'}}
    <div class="full-height full-width {{if displayTabs.quote 'tab-menu' ''}}">{{outlet "fairValue"}}</div>
</div>
<div name="mpl-companyProf" class="full-height full-width pos-abs" style="z-index: -240">
    {{main-tab-panel tabList=menuTabMap.quote showTabs=displayTabs.quote tabClickAction='renderTabItems' tabName='companyProf'}}
    <div class="full-height full-width {{if displayTabs.quote 'tab-menu' ''}}">{{outlet "companyProf"}}</div>
</div>
<div name="mpl-optionChain" class="full-height full-width pos-abs" style="z-index: -220">
    {{main-tab-panel tabList=menuTabMap.quote showTabs=displayTabs.quote tabClickAction='renderTabItems' tabName='optionChain'}}
    <div class="full-height full-width {{if displayTabs.quote 'tab-menu' ''}}">{{outlet "optionChain"}}</div>
</div>
<div name="mpl-topStocks" class="full-height full-width pos-abs" style="z-index: -310">
    {{main-tab-panel tabList=menuTabMap.topStocks showTabs=displayTabs.topStocks tabClickAction='renderTabItems' tabName='topStocks'}}
    <div class="full-height full-width {{if displayTabs.topStocks 'tab-menu' ''}}">{{outlet "topStocks"}}</div>
</div>
<div name="mpl-heatMap" class="full-height full-width pos-abs" style="z-index: -710">
    {{main-tab-panel tabList=menuTabMap.heatMap showTabs=displayTabs.heatMap tabClickAction='renderTabItems' tabName='heatMap'}}
    <div class="full-height full-width {{if displayTabs.heatMap 'tab-menu' ''}}">{{outlet "heatMap"}}</div>
</div>
<div name="mpl-news" class="full-height full-width pos-abs" style="z-index: -410">
    {{main-tab-panel tabList=menuTabMap.news showTabs=displayTabs.news tabClickAction='renderTabItems' tabName='news'}}
    <div class="full-height full-width {{if displayTabs.news 'tab-menu' ''}}">{{outlet "news"}}</div>
</div>
<div name="mpl-chart" class="full-height full-width pos-abs" style="z-index: -510">
    {{main-tab-panel tabList=menuTabMap.chart showTabs=displayTabs.chart tabClickAction='renderTabItems' tabName='chart'}}
    <div class="full-height full-width {{if displayTabs.chart 'tab-menu' ''}}">{{outlet "chart"}}</div>
</div>
<div name="mpl-ria" class="full-height full-width pos-abs" style="z-index: -1010">
    {{main-tab-panel tabList=menuTabMap.ria showTabs=displayTabs.ria tabClickAction='renderTabItems' tabName='ria'}}
    <div class="full-height full-width {{if displayTabs.ria 'tab-menu' ''}}">{{outlet "ria"}}</div>
</div>
<div name="mpl-oneStop" class="full-height full-width pos-abs" style="z-index: -1020">
    {{main-tab-panel tabList=menuTabMap.oneStop showTabs=displayTabs.oneStop tabClickAction='renderTabItems' tabName='oneStop'}}
    <div class="full-height full-width {{if displayTabs.oneStop 'tab-menu' ''}}">{{outlet "oneStop"}}</div>
</div>
<div name="mpl-transfers" class="full-height full-width pos-abs" style="z-index: -1030">
    {{main-tab-panel tabList=menuTabMap.transfers showTabs=displayTabs.transfers tabClickAction='renderTabItems' tabName='transfers'}}
    <div class="full-height full-width {{if displayTabs.transfers 'tab-menu' ''}}">{{outlet "transfers"}}</div>
</div>
<div name="mpl-mutualFund" class="full-height full-width pos-abs" style="z-index: -820">
    {{main-tab-panel tabList=menuTabMap.trading showTabs=displayTabs.trading tabClickAction='renderTabItems' tabName='mutualFund'}}
    <div class="full-height full-width {{if displayTabs.trading 'tab-menu' ''}}">{{outlet "mutualFund"}}</div>
</div>
<div name="mpl-riaClassic" class="full-height full-width pos-abs" style="z-index: -1040">
    {{main-tab-panel tabList=menuTabMap.trading showTabs=displayTabs.trading tabClickAction='renderTabItems' tabName='riaClassic'}}
    <div class="full-height full-width {{if displayTabs.trading 'tab-menu' ''}}">{{outlet "riaClassic"}}</div>
</div>
<div name="mpl-brkClassic" class="full-height full-width pos-abs" style="z-index: -1050">
    {{main-tab-panel tabList=menuTabMap.trading showTabs=displayTabs.trading tabClickAction='renderTabItems' tabName='brkClassic'}}
    <div class="full-height full-width {{if displayTabs.trading 'tab-menu' ''}}">{{outlet "brkClassic"}}</div>
</div>
<div name="mpl-productSubscription" class="full-height full-width pos-abs" style="z-index: -1060">
    {{main-tab-panel tabList=menuTabMap.trading showTabs=displayTabs.trading tabClickAction='renderTabItems' tabName='productSubscription'}}
    <div class="full-height full-width {{if displayTabs.trading 'tab-menu' ''}}">{{outlet "productSubscription"}}</div>
</div>
<div name="mpl-tdwlCart" class="full-height full-width pos-abs" style="z-index: -1070">
    {{main-tab-panel tabList=menuTabMap.trading showTabs=displayTabs.trading tabClickAction='renderTabItems' tabName='tdwlCart'}}
    <div class="full-height full-width {{if displayTabs.trading 'tab-menu' ''}}">{{outlet "tdwlCart"}}</div>
</div>
<div name="mpl-statement" class="full-height full-width pos-abs" style="z-index: -220">
    {{main-tab-panel tabList=menuTabMap.statement showTabs=displayTabs.statement tabClickAction='renderTabItems' tabName='statement'}}
    <div class="full-height full-width {{if displayTabs.statement 'tab-menu' ''}}">{{outlet "statement"}}</div>
</div>

<!--Temporary DOM elements to initialize and cache watch-list instance-->
<div name="table-cache" id="table-cache" class="full-height full-width pos-abs" style="z-index: -1010">
</div>
<div name="table-container" id="table-container" class="full-height full-width pos-abs" style="z-index: -1010">
    {{outlet "watchlistOutlet"}}
</div>