/* TODO: [Atheesan] After verifying colors add or remove classes */

.green-back-color-1 {
  background-color: #086e00
}

.green-back-color-2 {
          background-color: #237f02
}

.green-back-color-3 {
          background-color: #479704
}

.green-back-color-4 {
          background-color: #71b306
}

.green-back-color-5 {
          background-color: #9ccf09
}

.green-back-color-6 {
          background-color: #c1e30b
}

.yellow-back-color-1 {
          background-color: #e5f10c
}

.yellow-back-color-2 {
          background-color: #f9f00d
}

.yellow-back-color-3 {
          background-color: #f9d90c
}

.red-back-color-1 {
          background-color: #f9b80b
}

.red-back-color-2 {
          background-color: #f98c09
}

.red-back-color-3 {
          background-color: #f96107
}

.red-back-color-4 {
          background-color: #f33305
}

.red-back-color-5 {
          background-color: #e80303
}

//*  --- Consensus Icon ---- */

.arrow-shaft {
  width: 60px;
  height:13px;
}

.arrow {
  width: 0;
  height: 0;
}

.arrow-top {
  border-top: 6px solid transparent;
}

.arrow-bottom {
  border-bottom: 7px solid transparent;
}

.arrow-top-buy-sell {
  border-top: 13px solid transparent;
}

.arrow-bottom-buy-sell {
  border-bottom: 13px solid transparent;
}

.arrow-buy {
  border-left: 13px solid #086e00;
}

.arrow-sell {
  border-left: 13px solid #e80303;
}

.arrow-buy-right {
  border-right: 13px solid #086e00;
}

.arrow-sell-right {
  border-right: 13px solid #e80303;
}

.arrow-hold {
  border-left: 13px solid #f9f00d;
}

.arrow-green-1 {
  border-right: 13px solid #086e00;
}

.arrow-green-2 {
  border-right: 13px solid #237f02;
}

.arrow-green-3 {
  border-right: 13px solid #479704;
}

.arrow-green-4 {
  border-right: 13px solid #71b306;
}

.arrow-green-5 {
  border-right: 13px solid #9ccf09;
}

.arrow-green-6 {
  border-right: 13px solid #c1e30b;
}

.arrow-yellow-1 {
  border-right: 13px solid #e5f10c;
}

.arrow-yellow-2 {
  border-right: 13px solid #f9f00d;
}

.arrow-yellow-3 {
  border-right: 13px solid #f9d90c ;
}

.arrow-red-1 {
  border-right: 13px solid #f9b80b;
}

.arrow-red-2 {
  border-right: 13px solid #f98c09;
}

.arrow-red-3 {
  border-right: 13px solid #f96107;
}

.arrow-red-4 {
  border-right: 13px solid #f33305;
}

.arrow-red-5 {
  border-right: 13px solid #e80303 ;
}