<div class="widget_new full-height" id="order-ticket-landscape-id">
    {{#if isShowTitle}}
        {{widget-header
            widgetTitle=title
            hideWidgetLink=hideWidgetLink
            isTabAvailable=false
            linkOptions=links defaultSelectedLink=defaultLink selectedLink=selectedLink setLink='setLink'
            innerWidgets=innerWidgets
            innerWidgetAction="renderInnerWidgetItems"
            isWidgetCloseAvailable=isWidgetCloseAvailable
            closeWidgetAction= 'closeWidgetAction'
            closeActionTarget=controller
            cursorMoveCss=cursorMoveCss
        }}
    {{/if}}

    <div class="widget-container-new overflow-visible padding-zero" style="white-space: nowrap;">
        <div class="col-12 left">
            <div {{bind-attr class=":col-12 :left :buy-sell invoker.orderStrategy.panelClass" style="padding: 3px;"}} >
                {{order-top-panel
                    id=topPanelCompId
                    app=app
                    invoker=invoker
                    onSymbolChanged='onSymbolChanged'
                    wkey=wkey
                }}
            </div>
        </div>
        <div class="col-12 left border-bottom">
            <div {{bind-attr class=":col-12 :left :buy-sell"}}  style="padding-top:6px;padding-right:5px;padding-left:5px;padding-bottom:8px; height: {{if isTablet '70px' '44px'}}; min-width: 512px;">
                {{order-price-info
                    id=orderPriceInfoId
                    invoker=invoker
                    onSymbolChanged='onSymbolChanged'
                    searchFieldId=searchFieldId
                    wkey=wkey
                    app=app
                    isOptionMode=isOptionMode
                }}
            </div>
        </div>
        <div>
            {{order-confirmation
                isEnabled=false
                id=confirmationPopupId
                invoker=invoker
                onReset="onReset"
                app=app
            }}
        </div>
        <form>
            <div class="col-12 left">
                <div class="left {{if isTablet 'col-12' 'col-7'}}">
                    <div class="col-12 left buy-sell">
                        {{order-action-container
                            id=actionComponentId
                            qtyFieldId=qtyFieldId
                            orderPriceId=orderPriceId
                            orderDisQtyId=orderDisQtyId
                            orderMinQtyId=orderMinQtyId
                            invoker=invoker
                            app=app
                            wkey=wkey
                        }}
                    </div>

                    {{#modal-popup isEnabled=false id=messagePopupId}}
                        <div class="message-box-frame messege-box-inner">
                            <div class="message-box-title">{{invoker.message}} !</div>
                            {{#each errorMessage in invoker.errorMessages}}
                                <div class="v-middle font-x-l"></div>
                                <div class="pad-m-all font-x-l">{{errorMessage}}</div>
                            {{/each}}

                        </div>
                    {{/modal-popup}}

                </div>

                {{#unless isTablet}}
                    <div class="left col-5 left">
                        {{outlet "priceInfo"}}
                    </div>
                {{/unless}}
            </div>
            <div class="col-12 left border-top">
                <div {{bind-attr class=":col-12 :left :buy-sell :pad-widget-top"}} style="min-width: 535px;">
                    {{detail-order-execute
                        id=executeComponentId
                        invoker=invoker
                        app=app
                        onExecute="onExecute"
                        onReset="onReset"
                        onSave="onSave"
                        wkey=wkey
                    }}
                </div>
            </div>
        </form>
    </div>
</div>
