<div class="widget_new order-ticket" data-wkey={{wkey}}>
        {{#if isShowTitle}}
            {{widget-header
                widgetTitle=title
                hideWidgetLink=hideWidgetLink
                isTabAvailable=false
                linkOptions=links defaultSelectedLink=defaultLink selectedLink=selectedLink setLink='setLink'
            }}
        {{/if}}
        <div class="widget-container-new">
            <div class="col-md-12 buy-sell">
                {{order-main-details
                    id=mainDetailCompId
                    app=app
                    invoker=invoker
                    onSymbolChanged='onSymbolChanged'
                    searchFieldId=searchFieldId
                    wkey=wkey
                    isOptionMode=isOptionMode
                }}
            </div>
            <div class="#">
                {{order-symbol-info
                symbol=invoker.symbolInfo
                app=app}}
            </div>
            <div>
                {{order-confirmation
                    isEnabled=false
                    id=confirmationPopupId
                    invoker=invoker
                    onReset="onReset"
                    app=app
                }}
            </div>
            <form>
                <div {{bind-attr class=":col-md-12 :buy-sell "}}>
                    {{order-action-container
                        id=actionComponentId
                        qtyFieldId=qtyFieldId
                        orderPriceId=orderPriceId
                        orderDisQtyId=orderDisQtyId
                        orderMinQtyId=orderMinQtyId
                        invoker=invoker
                        app=app
                        wkey=wkey
                    }}
                </div>
                <div  {{bind-attr class=":col-md-12 :buy-sell :pad-m-all"}} >
                    {{order-summary invoker=invoker app=app}}
                </div>
                <div {{bind-attr class=":col-md-12 :buy-sell :pad-m-all invoker.orderStrategy.panelClass"}} >
                    {{order-execute
                        id=executeComponentId
                        invoker=invoker
                        app=app
                        onExecute="onExecute"
                        onReset="onReset"
                        onSave="onSave"
                    }}
                </div>
                <div>
                    {{#modal-popup isEnabled=false id=messagePopupId}}
                        <div class="message-box-frame messege-box-inner h-left" style="left: 0">
                            <div class="message-box-title">{{invoker.message}} !</div>
                            {{#each errorMessage in invoker.errorMessages}}
                                <div class="v-middle font-x-l"></div>
                                <div class="pad-m-all font-x-l">{{errorMessage}}</div>
                            {{/each}}
                        </div>
                    {{/modal-popup}}
                </div>
            </form>
        </div>
</div>
