<div class="widget_new">
    {{#if isShowTitle}}
       <div class="widget-header-wrap">
        <div class="horizontal-line-header"></div>
          <div class="widget-header">
            <div class="title">Rapid Order</div>
          </div>
       </div>       
    {{/if}}
    <div class="horizontal_line"></div>

    <div class="widget-container">
        <div class="col-md-12 rapid-order pad-s-t pad-s-b">
            {{rapid-order-main-details
            app=app
            invoker=invoker
            onSymbolChanged='onSymbolChanged'
            wkey=wkey
            }}
        </div>
        <div class="col-md-12 rapid-order pad-s-t pad-s-b">
            {{rapid-order-action
            invoker=invoker
            }}
        </div>
        <div>
            {{#modal-popup isEnabled=false id=messagePopupId}}
                <div class="watchlist-right-click" data-toggle="dropdown">
                    <div class="watchlist-right-click-symbol widget-title-fore-color">
                        <span class="bold font-x-l">{{invoker.message}} !</span>

                    </div>
                    {{#each errorMessage in invoker.errorMessages}}
                        <div class="watchlist-right-click-item">
                            <a><span class="v-middle font-x-l watchlist-right-click-rtl"></span><span
                                    class="pad-l-l">{{errorMessage}}</span></a>
                        </div>
                    {{/each}}

                </div>
            {{/modal-popup}}
        </div>
        <div class="col-md-12 buy-sell pad-s-t pad-s-b">
            {{rapid-order-execute
            invoker=invoker messagePopup=messagePopup messagePopupId=messagePopupId
            }}
        </div>


    </div>
</div>