<div class="col-xs-3 full-height">

</div>
<div class="col-xs-2 full-height">
    <button type="button"
            class="btn btn-default btn-success btn-small mgn-m-l mgn-m-r colour-normal bold"
        {{action 'onAdd'}}>Add
    </button>
</div>
<div class="col-xs-2 full-height">
    <button type="button"
            class="btn btn-default btn-success btn-small mgn-m-l mgn-m-r colour-normal bold"
        {{action 'onAdd'}}>Add
    </button>
</div>