<div class="widget_new full-width col-xs-12 full-height" xmlns="http://www.w3.org/1999/html" id={{wkey}}>
    {{widget-header
    hideWidgetLink=true
    widgetTitle=app.lang.labels.newsAnn
    innerWidgets=innerWidgets
    innerWidgetAction="renderInnerWidgetItems"
    isWidgetCloseAvailable=isWidgetCloseAvailable
    closeWidgetAction= 'closeWidgetAction'
    closeActionTarget=controller
    cursorMoveCss=cursorMoveCss
    app=app}}
    <div class="col-xs-12 full-height widget-container-new full-height-without-header">
        <div class="full-height pad-s-b">
            <div class="container-fluid full-height">
                <div class="row full-height">
                    <div class="col-lg-12 full-height">
                        <div class="pad-widget-left pad-widget-right pad-widget-top pad-m-b" role="tabpanel">
                            {{tab-dropdown
                            isDropdown=isDropdown
                            displayList=announcementTabs
                            newActive=announcementTabsActive
                            isDisplayListChanged=isAnntabsChanged
                            labelKey='displayDesc'
                            actionName='onTabSelected'
                            tabPanelClass='widget-tab-panel'
                            tabItemClass='layout-inline widget-tab-item'
                            tabLinkClass='layout-inline'
                            }}
                        </div>
                        <div class="tool-bar">
                            {{#if isAdvancedSearch}}
                                <div class="layout-container">
                                    <div class="left pad-s-b" style="min-width: 735px">

                                        <div class="layout-col">
                                            <span class="layout-inline font-m header-colour pad-s-all" style="margin-top:2px">{{app.lang.labels.symbol}}</span>
                                            <span class="layout-inline input-group" style="width: 100px;">
                                                {{input-field-text type="text" id=symbolSearchId value=searchSymbol onKeyPress="showSearchPopup" class="layout-inline search-query form-control mousetrap"}}
                                            </span>
                                            <div class="modal-symbol" style="margin-top: 33px; display:table-cell; position: absolute; left: 52px; right: 60px">
                                                {{#modal-popup isEnabled=false id="annSymbolSearch"}}
                                                    {{global-search enableContentSettings=false searchKey=searchSymbol showWidgetButtons=false
                                                    closePopup='closeSearchPopup' openPopup='showSearchPopup'  stopGlobalNotification=true clickAction='onSymbolSelected' analyticsKey=gaKey wkey=wkey}}
                                                {{/modal-popup}}
                                            </div>
                                            <div class="layout-inline pad-m-r">
                                                <span class="font-m header-colour pad-m-l left pad-s-all"  style="margin-top:2px">{{app.lang.labels.title}}</span>
                                            <span class="layout-inline input-group">
                                                <span class="left" style="width: 225px; margin-left: 3px">{{input-field-text type="text" value=searchTitle class="left search-query form-control"}}
                                                </span>
                                            </span>
                                            <span class="layout-inline mgn-s-l mgn-m-r">
                                                <button class="btn btn-default" {{action 'onClickAdvancedSearch'}} >
                                                    <span class="header-colour pad-m-l pad-m-r bold">{{app.lang.labels.search}}</span>
                                                </button>
                                            </span>
                                            </div>
                                            <div style="width:1px; height:23px" class="layout-inline border-right"></div>

                                            <div class="layout-inline pad-m-l">
                                                <span style="margin-top:2px" class="font-m header-colour left pad-s-all pad-m-l left"> {{app.lang.labels.from}} </span>
                                                <span class="left" style="width:80px">
                                                    {{bootstrap-datepicker
                                                    readonly=isTablet
                                                    orientation="bottom"
                                                    language=lan
                                                    placeholder=app.lang.labels.startDate
                                                    format=datePickerFormat
                                                    class="search-query form-control"
                                                    value=startDate
                                                    autoclose=true
                                                    endDate=toEndDate}}
                                                </span>
                                                <span style="margin-top:2px" class="font-m header-colour left pad-s-all pad-m-l left">{{app.lang.labels.to}}</span>
                                                <span class="left" style="width:80px">
                                                    {{bootstrap-datepicker
                                                    readonly=isTablet
                                                    orientation="bottom"
                                                    language=lan
                                                    placeholder=app.lang.labels.endDate
                                                    format=datePickerFormat
                                                    class="search-query form-control"
                                                    value=endDate
                                                    autoclose=true
                                                    startDate=startDate
                                                    endDate=toEndDate}}
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div style="width:1px; height:23px" class="layout-inline border-right"></div>

                                    <div class="layout-inline pad-l-l pad-l-r overflow-visible">
                                        <div class="layout-col overflow-visible">
                                            <div style="width:100%; margin-top:3px;" class="layout-col pad-s-l">
                                                <div class="layout-inline pad-s-r" style="margin-top:-2px;">
                                                    {{input checked=isEnabledAnnSearch type="checkbox" name="cc"}}
                                                </div>
                                                <span class="layout-inline font-m header-colour">{{app.lang.labels.showAnnouncement}}</span>
                                            </div>
                                            <div class="layout-col dropdown pad-s-l pad-l-r overflow-visible">
                                                <button type="button" class="layout-inline btn btn-dropdown btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" disabled={{isExchangeSelectionDisabled}}>
                                                    {{app.lang.labels.exchanges}}
                                                    <span class="caret"></span>
                                                </button>
                                                <div class="dropdown-menu" role="menu">
                                                    {{announcement-context-menu
                                                    columns=exchangeOptionForSearch
                                                    app=app
                                                    saveAction='onExchangeSettingsChanged'
                                                    showActionButton=true}}
                                                </div>
                                            </div>
                                        </div>
                                        {{#if isNewsEnabled}}
                                            <div class="layout-col overflow-visible">
                                                <div style="width:100%; margin-top:3px;" class="layout-col pad-s-l overflow-visible">
                                                    <div class="layout-inline pad-s-r" style="margin-top:-2px;">
                                                        {{input checked=isEnabledNewsSearch type="checkbox" name="cc"}}
                                                    </div>
                                                    <span class="layout-inline font-m header-colour">{{app.lang.labels.showNews}}</span>
                                                </div>
                                                <div class="layout-col dropdown overflow-visible overflow-visible">
                                                    <button type="button" class="layout-inline mgn-s-l btn btn-dropdown btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" disabled={{isProviderSelectionDisabled}}>
                                                        {{app.lang.labels.newsProviders}}
                                                        <span class="caret"></span>
                                                    </button>
                                                    <div class="dropdown-menu" role="menu">
                                                        {{announcement-context-menu
                                                        columns=providerOptionForSearch
                                                        app=app
                                                        saveAction='onProviderSettingsChanged'
                                                        showActionButton=true}}
                                                    </div>
                                                </div>
                                            </div>
                                        {{/if}}
                                        <div>
                                        </div>

                                    </div>
                                </div>

                                <div>
                                </div>
                            {{else}}
                                <div class="layout-col">
                                    <span class="layout-inline font-m header-colour pad-s-all" style="margin-top: 2px;">{{app.lang.labels.symbol}}</span>
                                    <span class="layout-inline" style="width: 150px;">
                                        {{input-field-text type="text" value=symbolFilter class="search-query form-control"}}
                                    </span>
                                    <span class="layout-inline font-m header-colour pad-s-all" style="margin-top: 2px;">{{app.lang.labels.title}}</span>
                                    <span class="layout-inline">
                                        <span class="layout-inline">{{input-field-text type="text" value=titleFilter class="search-query form-control"}}</span>
                                    </span>
                                </div>
                                {{#if showExgFilter}}
                                    <div class="layout-col dropdown overflow-visible">
                                        <button type="button" class="layout-inline mgn-s-l btn btn-dropdown btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            {{app.lang.labels.exchanges}}
                                            <span class="caret"></span>
                                        </button>
                                        <div class="dropdown-menu" role="menu">
                                            {{announcement-context-menu
                                            columns=exchangeOption
                                            app=app
                                            saveAction='onExchangeSettingsChanged'
                                            showActionButton=true}}
                                        </div>
                                    </div>
                                {{/if}}
                                {{#if showProviderFilter}}
                                    <div class="layout-col dropdown overflow-visible">
                                        <button type="button" class="layout-inline mgn-s-l btn btn-dropdown btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            {{app.lang.labels.newsProviders}}
                                            <span class="caret"></span>
                                        </button>
                                        <div class="dropdown-menu" role="menu">
                                            {{announcement-context-menu
                                            columns=providerOption
                                            app=app
                                            saveAction='onProviderSettingsChanged'
                                            showActionButton=true}}
                                        </div>
                                    </div>
                                {{/if}}
                            {{/if}}
                        </div>

                        <div class="col-lg-12 pad-widget-left mgn-l-t full-height">
                            <div class="col-xs-5 border-right" style="height: calc(100% - 120px);">
                                {{loading-indicator isLoading=isLoading}}
                                {{single-message-viewer message=errorMessage showMessage=showError messageCss='appttl-light-bg-fore-color' backgroundCss='h-middle'}}
                                <div class="nano has-scrollbar">
                                    <div class="nano-content tab-content pad-s-r full-height">
                                        <div role="tabpanel" class="tab-pane active" id="location1">
                                            {{#each announcement in filteredContent}}
                                                <div  class="table-row-hover-back-color {{isEqual announcement.id selectedNewAnn 'table-row-selected-back-color'}} ">

                                                    <div class="layout-container full-width overflow-visible news-list-item border-bottom pad-m-tb">

                                                        <a {{action 'itemClicked' announcement.id announcement.type}} >

                                                            <div class="layout-col v-top">
                                                                {{#if announcement.isAnnouncement}}
                                                                    <i class="icon-megaphone-1 ann-icon-color"></i>
                                                                {{else}}
                                                                    <i class="icon-tv news-icon-color"></i>
                                                                {{/if}}
                                                            </div>

                                                            {{#if announcement.isArabic}}
                                                                <div class="layout-col full-width v-top white-space-normal pad-m-l">

                                                                    <p class="font-m text-justify pad-m-b fore-color"><span class={{announcement.annNewsHeadCss}}>{{announcement.dHed}}</span></p>

                                                                    <div class="layout-container full-width">
                                                                        <div class="layout-col-24 font-m symbol-fore-color"> <div class="ltr left">{{announcement.dispProp1}}</div> </div>
                                                                        <div class="layout-col font-m"><span class={{announcement.annNewsTimeCss}}>{{announcement.dDTt}}</span></div>
                                                                    </div>

                                                                </div>
                                                            {{else}}
                                                                <div class="layout-col full-width v-top white-space-normal pad-m-l">

                                                                    <p class="font-m text-justify pad-m-b fore-color"><span class={{announcement.annNewsHeadCss}}>{{announcement.dHed}}</span></p>

                                                                    <div class="layout-container full-width">
                                                                        <div class="layout-col-24 font-m symbol-fore-color"> <div class="ltr left">{{announcement.dispProp1}}</div> </div>
                                                                        <div class="layout-col font-m"><span class={{announcement.annNewsTimeCss}}>{{announcement.dDTt}}</span></div>
                                                                    </div>

                                                                </div>
                                                            {{/if}}

                                                        </a>
                                                    </div>
                                                </div>
                                            {{/each}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-7 full-height">
                                <div id="announcementListUpdateContainer" class="full-height pad-m-l pad-s-b" style="height:calc(100% - 96px);">
                                    <div class="news-heading">{{{annObj.dHed}}}</div>
                                    <div class="news-date-time-bar full-width left">
                                        <span class="left font-m symbol-fore-color">{{annObj.dispProp1}}</span>
                                        <span class="ltr right font-m pad-m-r">{{annObj.dDt}}</span>
                                    </div>
                                    <div class="nano has-scrollbar pos-rel" style="height:calc(100% - 77px);">
                                        <div class="news-body nano-content full-height">{{{annObj.dBody}}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
