<div class="pad-s-t full-height" role="tabpanel" id={{wkey}} >
    <div class="layout-col pad-m-l">
    {{#if showAnnTabs}}
        {{tab-dropdown
        isDropdown=isDropdown
        displayList=announcementTabs
        newActive=announcementTabsActive
        isDisplayListChanged=isAnntabsChanged
        labelKey='displayDesc'
        actionName='onTabSelected'
        tabPanelClass='widget-tab-panel'
        tabItemClass='layout-inline widget-tab-item'
        tabLinkClass='layout-inline font-size-initial'
        }}
    {{/if}}
    </div>
    {{#if isMobile}}
    <div>
        {{widget-header
        selectedLink=selectedLink
        widgetTitle=title
        hideSymbol=hideSymbol
        hideWidgetLink=true
        app=app}}
    </div>
    {{/if}}
    <div class="nano right-panel-height has-scrollbar pos-rel">
        <div id="location1" class="nano-content full-height">
            {{#each announcement in filteredContent}}
                <div  class="pad-widget-left pad-widget-right table-row-hover-back-color {{isEqual announcement.id selectedNewAnn 'table-row-selected-back-color'}} ">

                    <div class="layout-container full-width news-list-item-right-panel border-bottom pad-m-tb">

                        <a {{action 'itemClicked' announcement.id announcement.type}}>

                            <div class="layout-col v-top">
                                {{#if announcement.isAnnouncement}}
                                    <i class="icon-megaphone-1 ann-icon-color"></i>
                                {{else}}
                                    <i class="icon-tv news-icon-color"></i>
                                {{/if}}
                            </div>

                            {{#if announcement.isArabic}}
                                <div class="layout-col full-width v-top white-space-normal pad-m-l">

                                    <p class="news-title pad-m-b fore-color"><span class={{announcement.annNewsHeadCss}}>{{announcement.dHed}}</span></p>

                                    <div class="layout-container full-width">
                                        <div class="layout-col-24 font-m symbol-fore-color">{{announcement.dispProp1}}</div>
                                        <div class="layout-col font-m"><span class={{announcement.annNewsTimeCss}}>{{announcement.dDTt}}</span></div>
                                    </div>

                                </div>
                            {{else}}
                                <div class="layout-col full-width v-top white-space-normal pad-m-l">

                                    <p class="news-title pad-m-b fore-color"><span class={{announcement.annNewsHeadCss}}>{{announcement.dHed}}</span></p>

                                    <div class="layout-container full-width">
                                        <div class="layout-col-24 font-m symbol-fore-color">{{announcement.dispProp1}}</div>
                                        <div class="layout-col font-m"><span class={{announcement.annNewsTimeCss}}>{{announcement.dDTt}}</span></div>
                                    </div>

                                </div>
                            {{/if}}

                        </a>

                    </div>

                </div>
            {{else}}
                {{#if isInvokedBySearch}}
                    {{#if isAnnUnavailable}}
                        <div>{{app.lang.messages.dataNotAvailable}}</div>
                    {{/if}}
                {{/if}}
            {{/each}}
        </div>

    </div>

</div>
