.overlay-body {
  width: 100% !important;
  height: 100vh !important;
  background: #e8f5ee !important;
}

.login-input {
  background-color: #046b33 !important;
}

.logo-footer img {
  width: 155px !important;
  height: 66px !important;
}

.txt {
  color: #707170 !important;
}