<div id="appTitle" class="layout-container appttl" {{action 'onWidgetClick' on="click"}}>

    <!-- ====================  First column =====================  -->
    <div class="layout-col overflow-visible pad-s-lr pad-xs-t appttl-toolbar-back-clr">
        <div class="layout-inline pad-s-l">
            <!--  Btn pop up menu  -->
            <a class="cursor-pointer hint--bottom-left hint--bounce hint--rounded">
                <i class="icon-listitem appttl-fade-fore-color"></i>
            </a>
        </div>
    </div>

    <!-- ====================  Second column =====================  -->
    <div class="layout-col font-m">
        {{menu-panel}}
    </div>
    <!-- ====================  Third column =====================  -->
    <div class="layout-col font-m">
        {{symbol-panel symbolList=symbolIndexList}}
    </div>
    <!-- ====================  Forth column =====================  -->
    <div class="layout-col pad-m-l overflow-visible">
        <div class="layout-inline mgn-m-r pos-rel">
            <!--  Global Search  -->
            {{#if (onResponsive responsive.trigger responsive "title-middle" 2)}}
                <div data-id="title-search" class="layout-inline pos-rel">
                    {{input id="appGlobalSymbolSearch" type="text" value=searchKey action="showSearchPopup" on="key-press" class="search-query appttl-search appttl-search-rsponsive form-control mousetrap" placeholder=app.lang.labels.searchSymbolShortcut}}
                    <div class="input-group-btn pos-abs top-zero">
                        <button class="btn appttl-btn-search" {{action 'showSearchPopup'}} >
                            <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            {{else}}
                <div data-id="title-search" class="layout-inline pos-rel">
                    {{input id="appGlobalSymbolSearch" type="text" value=searchKey action="showSearchPopup" on="key-press" class="search-query appttl-search form-control mousetrap" placeholder=app.lang.labels.searchSymbolShortcut}}
                    <div class="input-group-btn pos-abs top-zero fore-color">
                        <button class="btn appttl-btn-search" {{action 'showSearchPopup'}} >
                            <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            {{/if}}

            <div class="modal-symbol fore-color">
                {{#modal-popup isEnabled=false id="topBarSymbolSearch"}}
                    {{global-search enableContentSettings=false searchKey=searchKey showWidgetButtons=true
                    closePopup='closeSearchPopup' openPopup='showSearchPopup' analyticsKey=gaKey app=app wkey=containerKey}}
                {{/modal-popup}}
            </div>
        </div>
    </div>
    <!-- ====================  Fifth column =====================  -->

    <div class="layout-col overflow-visible pad-s-lr pad-xs-t appttl-toolbar-back-clr">
        <div class="layout-inline">
            <!--  Btn Settings  -->
            <div class="btn-settings mgn-s-l">
                {{settings-dropdown
                options=settings
                valueKey='code'
                iconStyle='appttl-fade-fore-color'
                labelKey='des'
                selectAction='changeSettings'
                app=app}}
            </div>
        </div>

        <div class="layout-inline pad-s-l">
            <!--  Btn Fullscreen  -->
            <a class="cursor-pointer hint--bottom-left hint--bounce hint--rounded appttl-fore-color"
               data-hint={{fullScreenToggleTitle}}>
                <i class="icon-maximize appttl-fade-fore-color" {{action 'toggleFullScreen'}}></i>
            </a>
        </div>

        {{#if isParentWindow}}
            <div class="layout-inline pad-s-l">
                <!--  Btn Open New Window  -->
                <a class="cursor-pointer hint--bottom-left hint--bounce hint--rounded"
                   data-hint="{{app.lang.labels.newWindow}}">
                    <i class="icon-files appttl-fade-fore-color" {{action 'openNativeWindow'}}></i>
                </a>
            </div>

            <div class="layout-inline pad-s-l">
                <!--  Btn User Logout  -->
                <a class="cursor-pointer hint--bottom-left hint--bounce hint--rounded"
                   data-hint="{{app.lang.labels.logOut}}">
                    <i class="icon-power appttl-fade-fore-color" {{action 'logout'}}></i>
                </a>
            </div>
        {{/if}}

    </div>
</div>
