<div class="layout-container mgn-s-tb mgn-s-lr pad-s-lr pad-s-tb">
    <span class="font-l bold"> {{app.lang.labels.otpLogin}} </span>
</div>

<div class="layout-container full-width pad-s-t">
    <div class="layout-col-11 v-top">
        <div class="full-width pad-l-b pad-l-l">
            <div class="font-m pad-m-lr pad-m-tb h-left container-back-color white-space-normal line-height-l"> {{app.lang.messages.registeredMobile}} {{mobileNo}}. {{app.lang.messages.otpDetail}} </div>
        </div>

        <div class="layout-container full-width pad-m-b pad-l-l">
            <div class="layout-col-12 font-m pad-m-l h-left"> {{app.lang.labels.otp}} <span class="down-fore-color">*</span> </div>
            <div class="layout-col-12 pad-m-r">{{input value=otpPin type="text" class="form-control search-query"}}</div>
        </div>

        <div class="layout-container pad-m-b pad-l-l">
            <div class="layout-col-24 pad-m-l font-m down-fore-color white-space-normal">{{message}}</div>
            <div class="layout-col pad-l-l pad-m-r">
                <!--<div class="layout-inline pad-s-l pad-m-r font-m">
                    <a href="#" {{!action 'resendOtp'}}> {{!app.lang.labels.resendOtp}} </a>
                </div>-->

                <div class="layout-inline pad-s-l">
                    <button type="submit" autofocus class="btn btn-dropdown btn-default" disabled={{isOtpSubmitDisabled}} {{action 'onSubmit'}}> {{app.lang.labels.submit}} </button>
                </div>

                <div class="layout-inline pad-s-l">
                    <button class="btn btn-dropdown btn-default" {{action 'onHome'}}> {{app.lang.labels.home}} </button>
                </div>
            </div>
        </div>
    </div>

    <div class="layout-col-2 hidden-xs"></div>

    <div class="layout-col-11 hidden-xs">
        <!--<img src="assets/images/tadawulity/reg_right.png" style="max-width: 100%;"/>-->
    </div>
</div>
