<div class="layout-container mgn-s-tb mgn-s-lr pad-s-lr pad-s-tb">
    <span class="font-l bold"> {{app.lang.labels.customerDetails}} </span>
</div>

<div class="layout-container full-width pad-s-t">
    <div class="layout-col-11 v-top">
        <div class="layout-container full-width pad-m-b pad-l-l">
            <span class="layout-col-10 font-m pad-m-l h-left"> {{app.lang.labels.idNumber}} <span class="down-fore-color">*</span></span>
            <div class="layout-col-14 pad-m-r">{{input value=idNumber type="text" class="form-control search-query"}}</div>
        </div>

        <div class="layout-container full-width pad-m-b pad-l-l">
            {{#if isMobile}}
                <span class="layout-col-8 font-m pad-m-l h-left"> {{app.lang.labels.cusNumber}} </span> <span class="layout-col down-fore-color">*</span>
            {{else}}
                <span class="layout-col-10 font-m pad-m-l h-left"> {{app.lang.labels.cusNumber}} <span class="down-fore-color">*</span></span>
            {{/if}}
            <div class="layout-col-14 pad-m-r">{{input-field-number numValue=cusNumber decimalPlaces=cusNumberDecimal maxlength=15 class="form-control search-query"}}</div>
        </div>

        <div class="layout-container full-width pad-m-b pad-l-l">
            <div class="layout-col-24 pad-m-l font-m down-fore-color white-space-normal">{{message}}</div>
            <div class="layout-col pad-l-l pad-m-r">
                <div class="layout-inline">
                    <button type="submit" autofocus class="btn btn-dropdown btn-default highlight-back-color-2 dark-bg-fore-color" disabled={{isCDSubmitDisabled}} {{action 'onSubmit'}}> {{app.lang.labels.submit}} </button>
                </div>

                <div class="layout-inline pad-s-l">
                    <button class="btn btn-dropdown btn-default" {{action 'onReset'}}> {{app.lang.labels.reset}} </button>
                </div>
            </div>
        </div>

        <div class="layout-container full-width pad-m-b pad-l-l">
            <div class="layout-col pad-m-r">
                <div class="layout-inline pad-m-l">
                    <button class="btn btn-dropdown btn-default" {{action 'onBackToLogin'}}> {{app.lang.labels.backToLogin}} </button>
                </div>
            </div>
            <div class="layout-col-24"></div>
        </div>
    </div>

    <div class="layout-col-2 hidden-xs"></div>

    <div class="layout-col-11 hidden-xs">
        <!--<img src="assets/images/tadawulity/reg_right.png" style="max-width: 100%;"/>-->
    </div>
</div>
