<div class="layout-container mgn-s-tb mgn-s-lr pad-s-lr pad-s-tb">
    <span class="font-l bold"> {{app.lang.labels.termAndCondition}} </span>
</div>

<div class="full-width mgn-m-b pad-m-b nano has-scrollbar registration-agreement-height">
    <div class="full-width full-height nano-content">
        <div class="full-width full-height pad-m-lr pad-m-tb">
            <iframe class="full-width full-height" src={{agreementPath}}></iframe>
        </div>
    </div>
</div>

<div class="layout-container full-width pad-m-lr pad-m-b">
    <div class="layout-col-6 pad-l-l pad-m-r h-right">
        <button autofocus class="btn btn-dropdown btn-default" {{action 'onAccept'}}> {{app.lang.labels.accept}} </button>
    </div>
    <div class="layout-col-6 pad-l-r pad-m-l h-left">
        <button class="btn btn-dropdown btn-default" {{action 'onReject'}}> {{app.lang.labels.reject}} </button>
    </div>
</div>
