<div class="layout-container mgn-s-tb mgn-s-lr pad-s-lr pad-s-tb">
    <span class="font-l bold"> {{app.lang.labels.userNamePassword}}</span>
</div>

<div class="col-sm-5 v-top">
    <div class="layout-container full-width pad-m-b">
        <div class="layout-col-12 font-m pad-m-l h-left"> {{app.lang.labels.username}} <span class="down-fore-color">*</span> </div>
        <div class="layout-col-12 font-m pad-m-r">{{input value=userName type="text" disabled=isForgotPwdComponent class="form-control search-query"}}</div>
    </div>

    <div class="layout-container full-width pad-m-b">
        <div class="layout-col-12 font-m pad-m-l h-left"> {{app.lang.labels.password}} <span class="down-fore-color">*</span> </div>
        <div class="layout-col-12 pad-m-r">
            <div>{{input value=password type="password" disabled=isPwsInputDisabled class="form-control search-query"}}</div>
        </div>
    </div>

    <div class="layout-container full-width pad-m-b">
        <div class="layout-col-12 font-m pad-m-l h-left"> {{app.lang.labels.retypePassword}} <span class="down-fore-color">*</span> </div>
        <div class="layout-col-12 pad-m-r">{{input value=retypePwd type="password" disabled=isPwsInputDisabled class="form-control search-query"}}</div>
    </div>

    <div class="layout-container pad-m-b">
        <div class="layout-col-24 pad-m-l font-m white-space-normal {{messageStsColor}}">{{message}}</div>
        <div class="layout-col pad-l-l pad-m-r">
            <div class="layout-inline">
                <button type="submit" autofocus class="btn btn-dropdown btn-default" disabled={{isPwdSubmitDisabled}} {{action 'onSubmit'}}> {{app.lang.labels.submit}} </button>
            </div>

            <div class="layout-inline pad-s-l">
                <button class="btn btn-dropdown btn-default" {{action 'onHome'}}> {{app.lang.labels.home}} </button>
            </div>
        </div>
    </div>

    <div class="layout-container full-width pad-m-b pad-l-l">
        <div class="layout-col pad-m-r">
            <div class="layout-inline pad-m-l">
                <button class="btn btn-dropdown btn-default" {{action 'onBackToLogin'}}> {{app.lang.labels.backToLogin}} </button>
            </div>
        </div>
        <div class="layout-col-24"></div>
    </div>
</div>

<div class="col-sm-2 hidden-xs"></div>

<div class="col-sm-5 font-m pad-s-b pad-m-lr overflow-auto">
    {{password-rules-check
        userName=userName
        password=password
        retypePwd=retypePwd
        isPwdSubmitDisabled=isPwdSubmitDisabled
        isOnlyPwdCheck=isForgotPwdComponent
        isUNameRulesMatch=isUNameRulesMatch
        isPwdRulesMatch=isPwdRulesMatch
    }}
</div>
