{{#if showMessage}}
    <div class="display-table full-width full-height {{backgroundCss}}">
        <div class="display-table-cell {{if isTablet 'v-middle' 'v-top'}}">
            <div class="layout-inline appttl-fore-color pad-m-l pad-s-t">
                <i {{bind-attr class="icon"}}></i>
            </div>
            <div class="layout-inline font-l appttl-fore-color pad-s-all ltr single-message-content {{messageCss}}">
                {{message}}
            </div>
        </div>
    </div>
{{/if}}
