.slider-button-padding {
  padding-bottom: 22px;
  padding-top: 5px;
  padding-right: 10px;
  padding-left: 10px;
}

.quantity-button-padding {
  padding-bottom: 22px;
  padding-top: 5px;
}

.order-confirmation-back-color {
  @include theme((
          background-color: widget-back-color-gradient,
  ));
}

.order-confirmation-panel {
  border-radius: $radius-xs;

  @include theme((
          background-color: widget-back-color,
  ));
}

.confirm-btn {
  height: 38px;
  padding: 1px 22px 2px 22px;
  font-size: $font-x-large;
  border-radius: 2px;

  @include theme((
          background-color: highlight-back-color-1,
          // box-shadow: "2px 2px 6px {box-shadow-color}"
  ));
}

.order-confirmation-cancel-btn {
  border-radius: 2px;
  height: 38px;
  font-size: $font-medium;

  @include theme((
          color: btn-fore-color,
          background-color: widget-dropdown-back-color,
          // box-shadow: "2px 2px 6px {box-shadow-color}",
  ));
}

.order-ticket-slider {
  opacity: 0;
  z-index: -1;
  transform: translatey(-68px);
}

.transform-all {
  transition: all .2s ease;
}

.marketDepthContainerCollapsed {
  height: 33px;
  visibility: hidden;
}

.marketDepthContainerOpen {
  height: 123px;
  z-index: 50;
}