<div class="left pad-m-t pad-m-r pad-m-l" style="width:100%; border-bottom:1px solid #d2d2d2;">
    {{#each columns as |column index| }}
        <div class="mgn-m-b layout-container">
            <div class="layout-col">{{input checked=column.isSelected type="checkbox" name="cc"}}
            </div>
            <div class="layout-col pad-s-l ltr">
                <a class="fade-fore-color" style="margin-top:3px" role="menuitem">{{column.displayName}}</a>
            </div>
        </div>
    {{/each}}
</div>

{{#if showActionButton}}
    <div class="right pad-m-t pad-m-r pad-m-l layout-container" style="padding-bottom:6px">
        <div class="pad-s-l layout-col">
            <button type="button"
                    class="btn btn-default bold" {{action 'cancel' item}}>{{app.lang.labels.cancel}}
            </button>
        </div>
        <div class="pad-s-l layout-col">
            <button type="button"
                    class="btn btn-default bold" {{action 'save' item}}>{{app.lang.labels.save}}
            </button>
        </div>
    </div>
{{/if}}

