
    <div class="layout-col appttl-height font-m appttl-fore-color">
        <span class="layout-inline colour-1">
            {{annObj.dispProp1}}
            <m class="layout-inline pad-s-l appttl-fore-color">{{annObj.dHed}}</m>
        </span>
    </div>
