.ans {
  @keyframes ticker {
    0% {
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }

    20% {
      -webkit-transform: translateY(-25px);
      -moz-transform: translateY(-25px);
      -ms-transform: translateY(-25px);
      transform: translateY(-25px);
    }

    40% {
      -webkit-transform: translateY(-50px);
      -moz-transform: translateY(-50px);
      -ms-transform: translateY(-50px);
      transform: translateY(-50px);
    }

    60% {
      -webkit-transform: translateY(-75px);
      -moz-transform: translateY(-75px);
      -ms-transform: translateY(-75px);
      transform: translateY(-75px);
    }

    80% {
      -webkit-transform: translateY(-100px);
      -moz-transform: translateY(-100px);
      -ms-transform: translateY(-100px);
      transform: translateY(-100px);
    }

    100% {
      -webkit-transform: translateY(-125px);
      -moz-transform: translateY(-125px);
      -ms-transform: translateY(-125px);
      transform: translateY(-125px);
    }
  }

  &-news-bar {
    height: 25px;
    overflow: hidden;
    position: absolute;
  }

  &-news-animation {
    animation: ticker 20s cubic-bezier(1, 0, .5, 0) infinite;
    -webkit-user-select: none
  }

  &-layout-inline {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    font-size: 13px;
    max-height: 34px;
    line-height: 16px;
  }

  &-topbar {
    margin-top: 14px;
  }

  &-padding {
    vertical-align: middle;
    font-size: 26px;
  }

  &-panel {
    height: 25px;
    width: 100%;
  }

  &-container {
    height: 25px;
    width: 100%;
    overflow: hidden;
    display: table;
  }
}

.news {
  &-popup {
    height: 100%;
    min-height: 60px;
    max-height: calc(100% - 40px);
    width: 100%;
    min-width: 30px;
    max-width: 2500px;
    opacity: 1;

    @include theme((
            border: "0",
            background-color: widget-back-color,
            box-shadow: none
    ));
  }

  &-popup-body {
    overflow-x: scroll;
    height: 100%;
    width: 100%;
    max-height: 566px;
  }

  &-title {
    font-weight: bold;
  }

  &-popup-header {
    @include theme((
            background-color: app-back-color
    ));
  }
}

.news-pop-up-transparent-panel {
  opacity: 0.8;

  @include theme((
          background-color: tool-bar-back-color
  ));
}

.news-pop-up-transparent-box {
  height: 150px;

  @include theme((
          background-color: app-back-color
  ));
}