@import '../../themes/extended/theme-2-variables-extended';
@import '../../themes/extended/theme-1-variables-extended';
//@import '../../themes/theme-helper';

.hnav-cell-height {
  height: 50px;
}

.hnav-panel-height {
  height: 58px;
}

.hnav-outline {
  outline-style: double;
}

.hnav-z-index {
  z-index: 1;
}

.hnav-cell-collapse {
  transition: width 0.5s;
  border-right: 1px solid #cccccc;  // TODO [Arosha] Add this to generate by theme
  border-left: 1px solid #cccccc;
  border-radius: 3px;

  @include theme((
          background: sidebar-nav-bg-color
  ));
}

.hnav-default-width {
  width: 20%;
}

.hnav-shadow {
  z-index: 1000;
  position: absolute;
  width: 100%;

  @include theme((
          border-top: "1px {widget-separator-color} solid"
  ));

  @include theme-classic((
          box-shadow: "1.3px 2.2px 7px 0px {box-shadow-color}"
  ));
}

.hnav-selected-tab-font i{
  @include theme((
          color: sidebar-nav-icon-color-active
  ));
}

.selected-outer-tab {
  background: white
}

.hnav-icon-font-size {
  font-size: 23px;
}

.hnav-cell-padding-top {
  padding-top: 9px;
}

.hnav-cell-padding-bottom {
  padding-bottom: 9px;
}

.hnav-container-padding {
  padding-top: 7px;
  padding-bottom: 3px;
}

.active {
  @include theme((
          color: sidebar-nav-icon-color-active
  ));
}

.navbar-inverse {
  @include theme((
          border: none
  ));
}

.navbar-inverse .navbar-toggle {
  @include theme((
          border-color: app-title-back-color
  ));
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  @include theme((
          background-color: app-title-back-color
  ));
}

.nav-row-height {
  height: 40px;
}

.hnav-will-change {
  will-change: transform;
}

.hnav-transform {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

//-----------Dot Styles Start---------------//
.dotstyle {
  @include theme((
          background-color: app-title-back-color
  ));
}

.dotstyle ul {
  position: relative;
  margin: 0;
  padding: 0;
  cursor: default;
}

.dotstyle li {
  position: relative;
  display: block;
  float: left;
  margin: 1px 10px;
  width: 8px;
  height: 8px;
  cursor: pointer;
  opacity: 1;
}

.dotstyle li a {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: none;
  border-radius: 50%;
  background-color: #fff;
  background-color: rgba(255,255,255,0.3);
  text-indent: -999em;
  cursor: pointer; /* make the text accessible to screen readers */
  position: absolute;
}

/* Fill up */
.dotstyle-fillup li a {
  overflow: hidden;
  //background-color: rgba(0,0,0,0);
  transition: background 0.3s;

  @include theme((
          box-shadow: "0 0 0 2px {app-title-back-color}"
  ));
}

.dotstyle-fillup li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 1px #fff;
  transition: height 0.3s;
}

.dotstyle-fillup li a:hover,
.dotstyle-fillup li a:focus {
  background-color: rgba(0,0,0,0.2);
}

.dotstyle-fillup li.current a::after {
  height: 100%;
}

.dot-panel-container {  // Display block is not switch side in direction rtl, but inline-flex is
  display: inline-flex;
  display: -moz-inline-box;
  display: -ms-flexbox;
  -ms-flex-pack: center;
}

.active-back {
  border-radius: 50%;

  @include theme((
          background-color: sidebar-nav-icon-color-active
  ));
}

.nav-row-header-height {
  height: 25px;
}

.nav-row-header {
  font-size: $font-large;

  @include theme((
          color: app-menu-selected-back-color,
          background-color: "rgba(19, 63, 95, .9)"
  ));
}

.nav-row-active {
  font-weight: bold;

  @include theme((
          color: hnav-selected-fore-color
  ));
}

.appmnu-sidebar-active {
  @include theme((
          color: app-menu-selected-fore-color
  ));

  @include theme-classic((
          border-top: "0px {app-menu-selected-border-top} solid",
          border-bottom: "0px {app-menu-selected-border-bottom} solid"
  ));
}

//-----------/Dot Styles End---------------//

/*  --- Blur Effect for Widget Menu ---  */

/*.main-menu-blur {
  z-index: 10;

  @include theme((
          background-color: popup-box-shadow-color
  ));
}*/

/*.theme2 .widgetmnu {
  background-color: rgba(255, 255, 255, .6);
}*/

/*.theme2 .main-menu-blur {
  opacity: 0.4;
}*/

/*.theme2 .blur-mobile-body {
  -webkit-filter: blur(25px);
}*/

/*  --- /Blur Effect for Widget Menu ---  */