.main-menu-container {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 2;
}

.main-menu-enter {
  left: 0;
  right: 0;
  -webkit-animation: main-menu-left-animation .4s;
  -moz-animation: main-menu-left-animation .4s;
  -o-animation: main-menu-left-animation .4s;
  animation: main-menu-left-animation .4s;
}

.main-menu-exit {
  left: -100%;
  right: 100%;
  -webkit-animation: main-menu-right-animation .4s;
  -moz-animation: main-menu-right-animation .4s;
  -o-animation: main-menu-right-animation .4s;
  animation: main-menu-right-animation .4s;
}

@keyframes main-menu-left-animation {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes main-menu-right-animation {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

.main-menu-line {
  line-height: 18px;
}

.main-menu-inner {
  width: 80%
}

.main-menu-right-panel {
  width: 20%;
  right: 0;
  opacity: 0.9;

  @include theme-classic((
          background-color: box-shadow-color
  ));
}

.main-menu-scroll {
  overflow: hidden;
  overflow-y: scroll;
}

.menu-scroll-height {
  height: calc(100% - 72px);
}


@import "extended/main-navigation-mobile-extended";