.disable-link {
  pointer-events: none;
  cursor: default;
}

.otp-input {
  width: 300px;
  min-height: 42px;
}

.tila-box-frame {
  width: 810px;
  top: 20%;
  left: 20%;
}

.kyc-date-field {
  width: 75px;
}

.kyc-btn {
  min-width: 60px;
  height: 25px;
}

.stock-statement {
  height: calc(100% - 45px);
}

.tdwl-wrapper {
  width: 298px;
  margin: auto;
  background-color: #ffffff; /* Tadawulaty Wrapper Box Background Color */
}