// Login styles go here

.login-back {
  background-image: -webkit-linear-gradient(90deg, #cfcece 0%, #cfcece 90%, #cfcece 100%) !important;
  background-image: -moz-linear-gradient(90deg, #cfcece 0%, #cfcece 90%, #cfcece 100%) !important;
  background-image: -ms-linear-gradient(90deg, #cfcece 0%, #cfcece 90%, #cfcece 100%) !important;
  background-image: linear-gradient(90deg, #cfcece 0%, #cfcece 90%, #cfcece 100%) !important;
}

.login-input[type="text"] {
  background-color: #f6f7c6 !important;
}

.login-input[type="password"] {
  background-color: #f6f7c6 !important;
}

.login-input {
  color: #606060 !important;
  border-bottom: 1px #f6f7c6 solid !important;
}

.txt {
  color: #787979 !important;
}

.login-input::-webkit-input-placeholder {
  color: #a1a2a2 !important;
}

.login-input:-moz-placeholder {
  color: #a1a2a2 !important;
}

.login-input::-moz-placeholder {
  color: #a1a2a2 !important;
}

.login-input:-ms-input-placeholder {
  color: #a1a2a2 !important;
}