<div class="widget_new full-height overflow-visible">
    {{widget-header
        hideWidgetLink=true
        widgetTitle=app.lang.labels.rightsSubscriptionList
        innerWidgets=innerWidgets
        innerWidgetAction="renderInnerWidgetItems"
        isWidgetCloseAvailable=isWidgetCloseAvailable
        closeWidgetAction= 'closeWidgetAction'
        closeActionTarget=controller
        cursorMoveCss=cursorMoveCss
    }}

    <div class="col-md-12 widget-container-new full-height-without-header">

        <div class="layout-container full-width pad-widget-top pad-widget-left pad-widget-right">
            <div class="layout-col font-l fade-fore-color">
                {{app.lang.labels.from}}
            </div>
            <div class="layout-col pad-s-l">
                {{bootstrap-datepicker
                    language=lan
                    placeholder=app.lang.labels.fromDate
                    class="date-input-field"
                    value=fromDate
                    autoclose=true
                    endDate=toDate
                    format=datePickerFormat
                }}
            </div>
            <div class="layout-col pad-l-l font-l fade-fore-color">
                {{app.lang.labels.to}}
            </div>
            <div class="layout-col pad-s-l">
                {{bootstrap-datepicker
                    language=lan
                    placeholder=app.lang.labels.toDate
                    class="date-input-field"
                    value=toDate
                    autoclose=true
                    endDate=toEndDate
                    startDate=fromDate
                    format=datePickerFormat
                }}
            </div>
            <div class="layout-col pad-l-l">
                <button type="submit" class="btn btn-default fade-fore-color bold" {{action "onSearch"}}>{{app.lang.labels.search}}</button>
            </div>
            <div class="layout-col-24"></div>
        </div>

        <div class="full-width pad-widget-top" style="height: calc(100% - 33px);">
            {{#if isRenderingEnabled}}
                {{table-component
                    columns=columns
                    content=arrangedContent
                    rowHeight= 25
                    minHeaderHeight= 25
                    hasFooter=false
                    sortAction="sort"
                    sortAscending=sortAscending
                    id=wkey
                    numFixedColumns=numOfFixedColumns
                }}
            {{/if}}
        </div>
    </div>
</div>