<div class="layout-container full-width full-height">
    <div {{bind-attr class=":layout-col :panel-table :font-xxx-l" }}>
        <span {{bind-attr class="view.styles"}}>
            {{view.cellValue}}
            <br>
        </span>
    </div>
</div>