<div class="layout-container full-width full-height">
    <div {{bind-attr class=":layout-col-24 :ltr :panel-table :ellipsis view.styles view.styleBackground" title="view.formattedFirstValue" cell-id="view.columnId"}}>
                    <span {{bind-attr class=":font-l view.styleFirstValue" }}>
                        {{view.formattedFirstValue}}
                        <br>
                    </span>
    </div>
</div>
