<div {{bind-attr class=":display-block :panel-table :panel-table-row-odd :data-table-header view.styles view.conditionalStyles" }} {{action 'sortByColumn' view.content}} >
      <span class="font-m font-table-header" >
        {{view.firstValue}}
          {{#if view.content.isSortSupported}}
                  {{#if view.content.isSorted}}
                      {{#if controller.sortAscending}}
                            <span class="icon-caret-up" title="Ascending"></span>
                      {{else}}
                              <span class="icon-caret-down" title="Descending"></span>
                      {{/if}}
                  {{/if}}
          {{/if}}
      </span>
    <br>
     <span class="font-m font-table-header">
         {{view.secondValue}}
     </span>
</div>