.date-picker-dropdown {
  width: 100%;
  overflow: visible;
  @extend .layout-col;
}

.datepicker .datepicker-switch {
  height: 40px;
}

.datepicker .next, .datepicker .prev {
  height: 40px;
  width: 40px;
  padding-top: 18px;
  padding-left: 5px;
}

.btn-done {
  @extend .btn-trade;
  height: 28px;
  font-size: $font-small;

  @include theme((
          color: dark-bg-fore-color,
          border: "1px {sidebar-nav-icon-color-active} solid",
          background-color: sidebar-nav-icon-color-active
  ));
}

.btn-trade {
  height: 38px;
  padding: 1px 22px 2px 22px;
  font-size: $font-x-large;
  border-radius: $radius-xs;
}

.btn-buy {
  @extend .btn-trade;
  border-radius: 2px;

  @include theme((
          background-color: trade-btn-buy-back-color
  ));

  @include theme-classic((
          border: "0 {trade-btn-buy-back-color} solid",
          background-image: "linear-gradient(180deg, {trade-btn-buy-back-color} 0%, {trade-btn-buy-back-color-gradient} 100%)"
  ));
}

.btn-sell {
  @extend .btn-trade;
  border-radius: 2px;

  @include theme((
          background-color: trade-btn-sell-back-color
  ));

  @include theme-classic((
          border: "0 {trade-btn-sell-back-color} solid",
          background-image: "linear-gradient(180deg, {trade-btn-sell-back-color} 0%, {trade-btn-sell-back-color-gradient} 100%)"
  ));
}

.progress-bar-order-list {
  border-radius: $radius-xs;
  // min-width: 90px;         // No need of min width for order status

  @include theme((
          color: dark-bg-fore-color
  ));
}

.progress-bar-order-list-width {
  min-width: 90px;
}

.selector-btn {
  height: 38px;
  font-size: $font-x-large;
  width: 43px;
}

.btn-rounded {
  border-top-left-radius: $radius-xs;
  border-top-right-radius: $radius-xs;
}

.order-ticket-text-boxes {
  height: 38px;
  font-size: $font-x-large;
  border-radius: 0;
  border: none;
}

.btn-cancel-order {
  height: 38px;
  font-size: $font-x-large;

  @include theme((
          color: btn-fore-color,
          background-color: widget-dropdown-back-color
  ));
}

.search-input {
  height: 42px;
  border-radius: $radius-s;

  @include theme((
          border: "1px {box-shadow-color} solid",
  ));
}

.search-btn {
  border-style: solid;
  margin-bottom: 0;
  border-radius: 0;
  padding: $padding-small;
  padding-left: $padding-medium;
  font-size: $font-medium;
  margin-top: 0;
  z-index: 2;
  border: 0;
  height: 40px;
  background-color: transparent;
}

.order-list-height {
  height: calc(100% - 48px);
}

.order-list-line-height {
  line-height: 1;
}

.popup-content-height {
  height: calc(100% - 40px);
}

.portfolio-container-height {
  height: calc(100% - 126px);
}

.portfolio-watchlist-container-height {
  height: calc(100% - 86px);
}

.order-list-transparent-panel {
  // opacity: 0.8;  // Removed to get the exact button colors without transceparency
  padding-right: 34px;
  padding-bottom: $padding-medium;

  @include theme((
          background-color: tool-bar-back-color
  ));
}

.order-list-height {
  height: calc(100% - 60px);
}

.order-list-container-height {
  height: calc(100% - 73px);
}

.order-list-popup-container-height {
  height: calc(100% - 100px);
}

.portfolio-scroll-height {
  height: calc(100% - 200px);
}

.transparent-box {
  //background-color: white;
  height: 90px;
}

.pie-chart-value {
  top: 30%;
  left: 75%;
  z-index: 1;
}

// This is to add the layout-col-5 to iphone
.iphone-layout {
  width: (5/24)*100%;
  max-width: 0;
  @extend .layout-col;
}

.portfolio-dropdown-css {
  height: 38px;
  font-size: $font-x-large;
  border-radius: 2px;

  @include theme((
          color: btn-fore-color,
          border: "0px {app-back-color} solid",
          background-image: none,
          background-color: full-transparent-back-color,
          box-shadow: none,
  ));

  @include theme-classic((
          box-shadow: none
  ));
}

.order-ticket-dropdown-css {
  @extend .portfolio-dropdown-css;

  @include theme((
          background-color: semi-transparent-back-color
  ));
}

.datepicker-padding {
  padding: 0 7px 0 25px;
}

// Note that !important is used to override inline styles used in datepicker Library
.datepicker {
  top: 14% !important;
  left: 15% !important;
}

.datepicker-dropdown:before {
  display: none;
}

.datepicker-dropdown:after {
  display: none;
}

.table-condensed > tbody > tr > td {
  padding: 10px;
}

.calendar-icon {
  top: 27%;
  padding-left: $padding-small;
  padding-right: $padding-small;
}

.mutual-fund-status-cell {
  max-width: 80px;
  text-overflow: ellipsis;
}

.cash-transfer-height {
  height: calc(100% - 27px);
}

.btn-subscribe {
  @extend .btn-trade;
  border-radius: 2px;
  max-width: 71%;

  @include theme((
          background-color: highlight-back-color-2
  ));

  @include theme-classic((
          border: "0 {trade-btn-buy-back-color} solid",
          background-image: "linear-gradient(180deg, {highlight-back-color-2} 0%, {highlight-back-color-2} 100%)"
  ));
}

.mf-transaction-container-height {
  height: calc(100% - 76px);
}