<div class="widget_new full-height" id={{wkey}}>
    {{#unless isMobile}}
        {{widget-header
            widgetTitle=app.lang.labels.transferBetweenPortfolios
            hideWidgetLink=true
            innerWidgets=innerWidgets
            innerWidgetAction="renderInnerWidgetItems"
            isWidgetCloseAvailable=isWidgetCloseAvailable
            closeWidgetAction= 'closeWidgetAction'
            closeActionTarget=controller
            cursorMoveCss=cursorMoveCss
        }}
    {{/unless}}

    <div class="widget-container-new {{if isMobile '' 'nano has-scrollbar'}} pos-rel full-height-without-header">
        <div class="page-container {{if isMobile '' 'nano-content'}} full-height">
            <div class="layout-container full-width pad-widget-left pad-widget-right pad-widget-top">
                <div class="col-sm-5">
                    <div class="layout-container full-width">
                        <div class="layout-col-8 fade-fore-color font-m  h-left">{{app.lang.labels.fromPortfolio}} <span class="down-fore-color pad-s-l">*</span></div>
                        <div class="layout-col-8 font-m pad-widget-left h-right">
                            {{bootstrap-dropdown-select
                            options=accountColl
                            defaultSelect=defaultAccount
                            isStaticLableEnabled=isFromStaticLableEnabled
                            staticLabel=app.lang.labels.pleaseSelect
                            valueKey="tradingAccId"
                            labelKey="dispProp"
                            selectedLabelKey="cashAccount.invAccNo"
                            selectAction="setFromPortfolio"
                            lblClass="btn-lbl-l"}}
                        </div>
                    </div>
                    <div class="layout-container full-width pad-s-t">
                        <div class="layout-col-8 fade-fore-color font-m h-left">{{app.lang.labels.cash}}</div>
                        <div class="layout-col-8 font-m pad-widget-left h-right fore-color bold row-height ltr">{{formatNumber fromPortfolio.cashAccount.balance 2}}</div>
                    </div>
                    <div class="layout-container full-width pad-s-t">
                        <div class="layout-col-8 fade-fore-color font-m h-left">{{app.lang.labels.blockedAmount}}</div>
                        <div class="layout-col-8 font-m pad-widget-left h-right fore-color row-height ltr">{{formatNumber fromPortfolio.cashAccount.blkAmt 2}}</div>
                    </div>
                    <div class="layout-container full-width pad-s-t">
                        <div class="layout-col-8 fade-fore-color font-m h-left">{{app.lang.labels.unsettledSales}}</div>
                        <div class="layout-col-8 font-m pad-widget-left h-right fore-color row-height ltr">{{formatNumber fromPortfolio.cashAccount.unsettledSales 2}}</div>
                    </div>
                    <div class="layout-container full-width pad-s-t">
                        <div class="layout-col-8 fade-fore-color font-m h-left">{{app.lang.labels.availBalance}}</div>
                        <div class="layout-col-8 font-m pad-widget-left h-right fore-color bold row-height ltr">{{formatNumber fromPortfolio.cashAccount.cashForWith 2}}</div>
                    </div>
                    <div class="layout-container full-width pad-s-t">
                        <div class="layout-col-8 fade-fore-color font-m h-left">{{app.lang.labels.curr}}</div>
                        <div class="layout-col-8 font-m pad-widget-left fore-color row-height h-right bold">{{fromPortfolio.cashAccount.curr}}</div>
                    </div>
                    <div class="layout-container full-width pad-s-t">
                        <div class="layout-col-6 fade-fore-color font-m h-left">{{app.lang.labels.amount}}<span class="down-fore-color pad-s-l">{{fromRequired}}</span></div>
                        <div class="layout-col-2 font-m pad-widget-left h-right">{{input type="checkbox" checked=isEnableFromAmount disabled=isFromCheckboxDisabled}}</div>
                        <div {{bind-attr class=":layout-col-8 :font-m :pad-widget-left :h-right isFromAmountDisabled:disable-style"}}>
                            {{input-field-number class="form-control order-ticket-text-boxes search-query fade-fore-color h-right"
                            decimalPlaces=2
                            maxlength=15
                            disabled=isFromAmountDisabled
                            numValue=fromAmount}}
                        </div>
                    </div>
                    <div class="layout-container full-width pad-s-t">
                        <div class="layout-col-8 fade-fore-color font-m h-left">{{app.lang.labels.netBalance}}</div>
                        <div class="layout-col-8 font-m pad-widget-left fore-color row-height h-right">{{formatNumber fromNetBalance 2}}</div>
                    </div>
                </div>
                <div class="col-sm-2 hidden-xs"></div>
                <div class="widget-hline mgn-m-t mgn-s-b visible-xs"></div>
                <div class="col-sm-5">
                    <div class="layout-container full-width">
                        <div class="layout-col-8 fade-fore-color font-m  h-left">{{app.lang.labels.toPortfolio}} <span class="down-fore-color pad-s-l">*</span></div>
                        <div class="layout-col-8 font-m pad-widget-left h-right">
                            {{bootstrap-dropdown-select
                            options=accountColl
                            defaultSelect=defaultAccount
                            isStaticLableEnabled=isToStaticLableEnabled
                            staticLabel=app.lang.labels.pleaseSelect
                            valueKey="tradingAccId"
                            labelKey="dispProp"
                            selectedLabelKey="cashAccount.invAccNo"
                            selectAction="setToPortfolio"
                            lblClass="btn-lbl-l"}}
                        </div>
                    </div>
                    <div class="layout-container full-width pad-s-t">
                        <div class="layout-col-8 fade-fore-color font-m h-left">{{app.lang.labels.cash}}</div>
                        <div class="layout-col-8 font-m pad-widget-left h-right fore-color bold row-height ltr">{{formatNumber toPortfolio.cashAccount.balance 2}}</div>
                    </div>
                    <div class="layout-container full-width pad-s-t">
                        <div class="layout-col-8 fade-fore-color font-m h-left">{{app.lang.labels.blockedAmount}}</div>
                        <div class="layout-col-8 font-m pad-widget-left h-right fore-color row-height ltr">{{formatNumber toPortfolio.cashAccount.blkAmt 2}}</div>
                    </div>
                    <div class="layout-container full-width pad-s-t">
                        <div class="layout-col-8 fade-fore-color font-m h-left">{{app.lang.labels.unsettledSales}}</div>
                        <div class="layout-col-8 font-m pad-widget-left h-right fore-color row-height ltr">{{formatNumber toPortfolio.cashAccount.unsettledSales 2}}</div>
                    </div>
                    <div class="layout-container full-width pad-s-t">
                        <div class="layout-col-8 fade-fore-color font-m h-left">{{app.lang.labels.availBalance}}</div>
                        <div class="layout-col-8 font-m pad-widget-left h-right fore-color bold row-height ltr">{{formatNumber toPortfolio.cashAccount.cashForWith 2}}</div>
                    </div>
                    <div class="layout-container full-width pad-s-t">
                        <div class="layout-col-8 fade-fore-color font-m h-left">{{app.lang.labels.curr}}</div>
                        <div class="layout-col-8 font-m pad-widget-left row-height fore-color h-right bold">{{toPortfolio.cashAccount.curr}}</div>
                    </div>
                    <div class="layout-container full-width pad-s-t">
                        <div class="layout-col-6 fade-fore-color font-m  h-left">{{app.lang.labels.amount}}<span class="down-fore-color pad-s-l">{{toRequired}}</span></div>
                        <div class="layout-col-2 font-m pad-widget-left h-right">{{input type="checkbox" checked=isEnableToAmount disabled=isToCheckboxDisabled}}</div>
                        <div {{bind-attr class=":layout-col-8 :font-m :pad-widget-left :h-right isToAmountDisabled:disable-style"}}>
                            {{input-field-number class="form-control order-ticket-text-boxes search-query fade-fore-color h-right"
                            decimalPlaces=2
                            maxlength=15
                            disabled=isToAmountDisabled
                            numValue=toAmount}}
                        </div>
                    </div>
                    <div class="layout-container full-width pad-s-t">
                        <div class="layout-col-8 fade-fore-color font-m  h-left">{{app.lang.labels.netBalance}}</div>
                        <div class="layout-col-8 font-m pad-widget-left fore-color row-height h-right">{{formatNumber toNetBalance 2}}</div>
                    </div>
                </div>
            </div>
            <div class="layout-container full-width pad-widget-left pad-widget-right pad-widget-top pad-s-b">
                <div class="layout-col-24 font-m white-space-normal {{msgCss}}"> {{fxConvertRate}}{{message}} </div>
                <div class="layout-col">
                    <div class="layout-inline h-right">
                        <button type="submit" autofocus
                                class="btn btn-dropdown btn-small btn-default pad-m-lr" disabled={{isCalDisabled}} {{action 'onCalculate'}}><i class="fa fa-calculator" aria-hidden="true"></i> {{app.lang.labels.calculate}}</button>
                        <button type="submit" autofocus
                                class="btn btn-dropdown btn-small btn-default submit-btn pad-m-lr" disabled={{isSubmitDisabled}} {{action 'onSubmit'}}>{{app.lang.labels.submit}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
