<div class="layout-container full-width pad-m-tb pad-m-lr">
    <div class="layout-row">
        <div class="layout-container full-width pad-m-b pad-l-lr">
            <div class="layout-col-6  font-m "></div>
            <div class="layout-col-2  font-m "></div>
            <div class="layout-col-4 fade-fore-color font-m ">{{app.lang.labels.highRisk}}</div>
            <div class="layout-col-2  font-m "></div>
            <div class="layout-col-4 fade-fore-color font-m ">{{app.lang.labels.medRisk}}</div>
            <div class="layout-col-2  font-m "></div>
            <div class="layout-col-4 fade-fore-color font-m ">{{app.lang.labels.lowRisk}}</div>
        </div>
    </div>
    <div class="layout-row">
        <div class="layout-container full-width pad-m-b pad-l-lr">
            <div class="layout-col-6 fade-fore-color font-m {{sharesRiskColor}}">{{app.lang.labels.sharesPer}} <span
                    class="pad-s-l down-fore-color">*</span></div>
            <div class="layout-col-2  font-m "></div>
            <div class="layout-col-4  font-m ">
                {{input-field-number class="form-control order-ticket-text-boxes search-query fore-color h-right"
                decimalPlaces=0
                maxlength=3
                numValue=dataObj.sharesHighRisk
                }}
            </div>
            <div class="layout-col-2  font-m "></div>
            <div class="layout-col-4  font-m ">
                {{input-field-number class="form-control order-ticket-text-boxes search-query fore-color h-right"
                decimalPlaces=0
                maxlength=3
                numValue=dataObj.sharesMedRisk
                }}
            </div>
            <div class="layout-col-2  font-m "></div>
            <div class="layout-col-4  font-m ">
                {{input-field-number class="form-control order-ticket-text-boxes search-query fore-color h-right"
                decimalPlaces=0
                maxlength=3
                numValue=dataObj.sharesLowRisk
                }}
            </div>
        </div>
    </div>
    <div class="layout-row">
        <div class="layout-container full-width pad-m-b pad-l-lr">
            <div class="layout-col-6 fade-fore-color font-m {{debtInstRiskColor}}">{{app.lang.labels.debtInstrumentsPer}} <span
                    class="pad-s-l down-fore-color">*</span></div>
            <div class="layout-col-2  font-m "></div>
            <div class="layout-col-4  font-m ">
                {{input-field-number class="form-control order-ticket-text-boxes search-query fore-color h-right"
                decimalPlaces=0
                maxlength=3
                numValue=dataObj.debtInstrmntsHighRisk
                }}
            </div>
            <div class="layout-col-2  font-m "></div>
            <div class="layout-col-4  font-m ">
                {{input-field-number class="form-control order-ticket-text-boxes search-query fore-color h-right"
                decimalPlaces=0
                maxlength=3
                numValue=dataObj.debtInstrmntsMedRisk
                }}
            </div>
            <div class="layout-col-2  font-m "></div>
            <div class="layout-col-4  font-m ">
                {{input-field-number class="form-control order-ticket-text-boxes search-query fore-color h-right"
                decimalPlaces=0
                maxlength=3
                numValue=dataObj.debtInstrmntsLowRisk
                }}
            </div>
        </div>
    </div>
    <div class="layout-row">
        <div class="layout-container full-width  pad-m-b pad-l-lr">
            <div class="layout-col-6 fade-fore-color font-m {{investFundRiskColor}}">{{app.lang.labels.investmentFundsPer}} <span
                    class="pad-s-l down-fore-color">*</span></div>
            <div class="layout-col-2  font-m "></div>
            <div class="layout-col-4  font-m ">
                {{input-field-number class="form-control order-ticket-text-boxes search-query fore-color h-right"
                decimalPlaces=0
                maxlength=3
                numValue=dataObj.invstmntFundHighRisk
                }}
            </div>
            <div class="layout-col-2  font-m "></div>
            <div class="layout-col-4  font-m ">
                {{input-field-number class="form-control order-ticket-text-boxes search-query fore-color h-right"
                decimalPlaces=0
                maxlength=3
                numValue=dataObj.invstmntFundMedRisk
                }}
            </div>
            <div class="layout-col-2  font-m "></div>
            <div class="layout-col-4  font-m ">
                {{input-field-number class="form-control order-ticket-text-boxes search-query fore-color h-right"
                decimalPlaces=0
                maxlength=3
                numValue=dataObj.invstmntFundLowRisk
                }}
            </div>
        </div>
    </div>
    <div class="layout-row">
        <div class="layout-container full-width pad-m-b pad-l-lr">
            <div class="layout-col-6 fade-fore-color font-m {{tradeFinanceRiskColor}}">{{app.lang.labels.tradeFinancePer}} <span
                    class="pad-s-l down-fore-color">*</span></div>
            <div class="layout-col-2  font-m "></div>
            <div class="layout-col-4  font-m ">
                {{input-field-number class="form-control order-ticket-text-boxes search-query fore-color h-right"
                decimalPlaces=0
                maxlength=3
                numValue=dataObj.tradeFinanceHighRisk
                }}
            </div>
            <div class="layout-col-2  font-m "></div>
            <div class="layout-col-4  font-m ">
                {{input-field-number class="form-control order-ticket-text-boxes search-query fore-color h-right"
                decimalPlaces=0
                maxlength=3
                numValue=dataObj.tradeFinanceMedRisk
                }}
            </div>
            <div class="layout-col-2  font-m "></div>
            <div class="layout-col-4  font-m ">
                {{input-field-number class="form-control order-ticket-text-boxes search-query fore-color h-right"
                decimalPlaces=0
                maxlength=3
                numValue=dataObj.tradeFinanceLowRisk}}
            </div>
        </div>
    </div>
    <div class="layout-row">
        <div class="layout-container full-width pad-m-b pad-l-lr">
            <div class="layout-col-6 fade-fore-color font-m {{commdtsRiskColor}}">{{app.lang.labels.commodities}} <span
                    class="pad-s-l down-fore-color">*</span></div>
            <div class="layout-col-2  font-m "></div>
            <div class="layout-col-4  font-m ">
                {{input-field-number class="form-control order-ticket-text-boxes search-query fore-color h-right"
                decimalPlaces=0
                maxlength=3
                numValue=dataObj.commdtsHighRisk
                }}
            </div>
            <div class="layout-col-2  font-m "></div>
            <div class="layout-col-4  font-m ">
                {{input-field-number class="form-control order-ticket-text-boxes search-query fore-color h-right"
                decimalPlaces=0
                maxlength=3
                numValue=dataObj.commdtsMedRisk
                }}
            </div>
            <div class="layout-col-2  font-m "></div>
            <div class="layout-col-4  font-m ">
                {{input-field-number class="form-control order-ticket-text-boxes search-query fore-color h-right"
                decimalPlaces=0
                maxlength=3
                numValue=dataObj.commdtsLowRisk
                }}
            </div>
        </div>
    </div>
    <div class="layout-row">
        <div class="layout-container full-width pad-m-b pad-l-lr">
            <div class="layout-col-6 fade-fore-color font-m {{optionsRiskColor}}">{{app.lang.labels.optionsPer}} <span
                    class="pad-s-l down-fore-color">*</span></div>
            <div class="layout-col-2  font-m "></div>
            <div class="layout-col-4  font-m ">
                {{input-field-number class="form-control order-ticket-text-boxes search-query fore-color h-right"
                decimalPlaces=0
                maxlength=3
                numValue=dataObj.optionsHighRisk
                }}
            </div>
            <div class="layout-col-2  font-m "></div>
            <div class="layout-col-4  font-m ">
                {{input-field-number class="form-control order-ticket-text-boxes search-query fore-color h-right"
                decimalPlaces=0
                maxlength=3
                numValue=dataObj.optionsMedRisk
                }}
            </div>
            <div class="layout-col-2  font-m "></div>
            <div class="layout-col-4  font-m ">
                {{input-field-number class="form-control order-ticket-text-boxes search-query fore-color h-right"
                decimalPlaces=0
                maxlength=3
                numValue=dataObj.optionsLowRisk
                }}
            </div>
        </div>
    </div>
    <div class="layout-row">
        <div class="layout-container full-width pad-m-b pad-l-lr">
            <div class="layout-col-6 fade-fore-color font-m ">{{app.lang.labels.total}} <span class="pad-s-l down-fore-color">*</span>
            </div>
            <div class="layout-col-2  font-m "></div>
            <div class="layout-col-4  font-m ">
                {{input-field-number class="form-control order-ticket-text-boxes search-query fore-color h-right bold"
                decimalPlaces=0
                maxlength=5
                numValue=totVal
                disabled=true
                }}
            </div>
            <div class="layout-col-2  font-m "></div>
            <div class="layout-col-4  font-m "></div>
            <div class="layout-col-2  font-m "></div>
            <div class="layout-col-4  font-m "></div>
        </div>
    </div>
    <div class="layout-row">
        <div class="layout-container full-width pad-m-tb pad-l-lr">
            <div class="layout-col fade-fore-color font-m ">{{app.lang.labels.investmentCaption}} </div>
        </div>
    </div>
</div>