$theme2-colors-extended: (
        pallete-color1: #0d8142,
        pallete-color2: #f78b33,
        pallete-color3: #2ba25c,
        pallete-color4: #ff0101,
        pallete-color5: #333333,
        pallete-color6: #ffffff,
        pallete-color7: #e9f0f6,
        pallete-color8: #d2d2d2,
        pallete-color9: #578db4,
        pallete-color10: "lighten(pallete-color3, 53)",
        pallete-color11: "lighten(pallete-color4, 45)",
        pallete-color12: #ffffff,
        pallete-color13: #6C9BBD,
        pallete-color14: #f9bf3b,
        pallete-color15: #545454,
        pallete-color16: #3577ae,
        pallete-color17: #5ec17f,

        // Fore Colors
        fade-fore-color: "lighten(pallete-color5, 28)",
        icon-fore-color: "lighten(fade-fore-color, 30)",

        // Up-Down Back Colors
        //fade-up-back-color-2: "darken(fade-up-back-color, 7)",
        fade-back-color: "use(pallete-color2)",
        fade-up-back-color: "darken(pallete-color10, 5)",
        fade-down-back-color: "darken(pallete-color11, 5)",
        box-shadow-color: "darken(pallete-color8, 8)",
        app-back-color:"use(pallete-color6)",
        semi-transparent-back-color: rgba(255, 255, 255, 0.5),
        tool-bar-back-color: "lighten(pallete-color8, 13)",
        progress-bar-back-color: "darken(base-color-widget, 15)",
        no-changed-back-color: "lighten(pallete-color8, 5)",
        symbol-fore-color: "darken(pallete-color9, 12)",

        // Base Colors
        base-color-title-separator: "darken(base-color-title, 5)",

        // Base Colors - App Title
        base-color-app-title-toolbar: "lighten(pallete-color8, 14)",
        base-fade-fore-color-app-title: "use(pallete-color17)",

        // Base Colors - Widget Menu - (LankaBangla)
        base-fore-color-widget-menu: "use(pallete-color5)",

        // Ticker
        base-color-ticker: "use(pallete-color1)",

        // App Menu
        base-color-app-menu: "use(pallete-color6)",
        base-color-app-menu-selected: "use(base-color-app-menu)",
        base-color-app-menu-group-header: "darken(pallete-color9, 24)",
        base-fore-color-app-menu-selected: "use(pallete-color1)",

        // Widget Menu
        base-fore-color-widget-menu-header: "darken(pallete-color8, 32)",

        // App Title
        base-color-app-title-ui-control: "lighten(pallete-color1, 10)",

        // Base Colors - Widget Title
        base-color-widget-title: "lighten(pallete-color8, 15)",
        base-fore-color-widget-title: "use(pallete-color9)",
        base-fore-color-widget-title-tab: "use(pallete-color9)",
        base-color-widget-title-tab-selected: "use(pallete-color6)",
        base-fore-color-widget-title-tab-selected: "use(pallete-color9)",

        // Base Colors - Widget - Tabs
        base-color-widget-tab: "use(pallete-color6)",
        base-fore-color-widget-tab: "lighten(fade-fore-color, 12)",
        base-color-widget-tab-selected: "use(pallete-color14)",
        base-fore-color-widget-tab-selected: "use(pallete-color6)",

        // Bottom Navigation Bar
        hnav-selected-fore-color: "lighten(pallete-color9, 10)",
        sidebar-nav-icon-color: "lighten(fade-fore-color, 20)",
        sidebar-nav-icon-color-active: "use(base-color-app-menu)",
        sidebar-nav-bg-color: "use(app-back-color)",

        // App Menu
        app-menu-selected-border-top: "darken(base-color-app-menu, 15)",
        app-menu-group-header-back-color: "use(base-color-app-menu-group-header)",

        // App Title
        app-title-ui-control-gradient: "use(app-title-ui-control)",

        dark-bg-announcement-fore-color: "use(base-fore-color-app-title)",

        widget-title-fore-color: "use(fade-fore-color)",
        widget-title-back-color-gradient: "use(widget-title-back-color)",
        widget-title-border-b-color: "lighten(widget-title-back-color, 18)",
        widget-title-border-color: "lighten(widget-title-back-color, 18)",
        widget-title-border-light-color: "lighten(widget-title-back-color, 18)",

        // Data Table Colors
        table-row-hover-back-color: "use(table-row-back-color)",
        table-row-selected-back-color: "use(table-row-back-color)",

        // Widget
        widget-back-color-gradient: "use(widget-back-color)",
        widget-border-t-color: "lighten(app-title-back-color, 11)",

        // Data Table Colors
        tab-selected-back-color-gradient: "use(tab-selected-back-color)",

        // Widget Title - Tabs
        widget-title-header-fore-color: "use(pallete-color9)",
        widget-title-tab-fore-color: "use(pallete-color6)",
        widget-title-selected-tab-fore-color: "use(pallete-color6)",
        widget-title-selected-tab-back-color: "use(base-color-ticker)",
        widget-title-selected-tab-back-color-gradient: "use(widget-title-selected-tab-back-color)",

        trade-btn-buy-back-color: "use(up-back-color)",
        trade-btn-buy-back-color-gradient: "use(trade-btn-buy-back-color)",
        trade-btn-sell-back-color: "use(down-back-color)",
        trade-btn-sell-back-color-gradient: "use(trade-btn-sell-back-color)",

        // Bottom Menu
        bottom-menu-fore-color: "lighten(fade-fore-color, 10)",

        // Ticker Message
        single-message-info-fore-color: "use(base-color-ticker)",

        // LankaBangla Styles
        widget-menu-icon-fore-color: "lighten(widget-menu-fore-color, 45)",
        widget-menu-icon-fore-color-active: "use(dark-bg-fore-color)",
);