// $isCoBranded:no;
// Theme Attribute Definitions
$theme2-colors: (
        pallete-color1: #6C9BBD,
        pallete-color2: #f9bf3b,
        pallete-color3: #2ba25c,
        pallete-color4: #ff0101,
        pallete-color5: #545454,
        pallete-color6: #ffffff,
        pallete-color7: #e9f0f6,
        pallete-color8: #d2d2d2,

        // Fore Colors
        fore-color: "use(pallete-color5)",
        fade-fore-color: "lighten(pallete-color5, 19)",
        prominent-fore-color: "use(pallete-color1)",
        up-fore-color: "use(pallete-color3)",
        down-fore-color: "use(pallete-color4)",
        highlight-fore-color: "darken(pallete-color1, 6)",
        symbol-fore-color: "darken(pallete-color1, 6)",
        dark-bg-fore-color: "use(pallete-color6)",

        app-back-color: "use(pallete-color1)",

        base-color-title: "use(pallete-color1)",
        base-color-title-separator: "darken(base-color-title, 10)",

        // App Title
        base-color-app-title:  "use(base-color-title)",
        base-color-app-title-edit-control: "use(pallete-color6)",
        base-color-app-title-ui-control: "use(pallete-color1)",
        base-color-app-title-toolbar: "use(base-color-app-title)",
        base-fore-color-app-title: "use(pallete-color6)",
        base-fade-fore-color-app-title: "darken(pallete-color6, 10)",
        base-color-app-title-separator: "use(base-color-title-separator)",

        // Ticker
        base-color-ticker: "use(pallete-color7)",

        // App Menu
        base-color-app-menu: "use(pallete-color1)",
        base-color-app-menu-selected: "darken(pallete-color1, 17)",
        base-fore-color-app-menu-selected: "use(base-color-app-menu)",
        base-fore-color-app-menu-hover: "darken(pallete-color5, 15)",

        // Widget Title
        base-color-widget-title: "use(base-color-title)",
        base-color-widget-title-edit-control: "use(pallete-color6)",
        base-color-widget-title-ui-control: "use(pallete-color1)",
        base-fore-color-widget-title: "use(pallete-color6)",
        base-color-widget-title-separator: "use(base-color-title-separator)",

        // Widget Title - Tabs
        base-color-widget-title-tab: "use(base-color-title)",
        base-fore-color-widget-title-tab: "use(pallete-color6)",
        base-color-widget-title-tab-selected: "use(pallete-color2)",
        base-fore-color-widget-title-tab-selected: "use(base-fore-color-widget-title)",

        // Widget
        base-color-widget: "use(pallete-color6)",
        base-color-widget-edit-control: "darken(base-color-widget, 6)",
        base-color-widget-ui-control: "darken(base-color-widget, 7)",
        base-color-widget-separator: "darken(base-color-widget, 18)",
        base-color-widget-toolbar: "darken(base-color-widget-ui-control, 50)",
        base-color-widget-border: "darken(base-color-widget, 18)",

        // Widget - Tabs
        base-color-widget-tab: "lighten(base-color-widget-ui-control, 2)",
        base-fore-color-widget-tab: "use(fade-fore-color)",
        base-fore-color-widget-tab-hover: "use(fade-fore-color)",
        base-color-widget-tab-selected: "use(pallete-color2)",
        base-fore-color-widget-tab-selected: "use(pallete-color6)",

        // Table
        base-color-table: "use(base-color-widget)",
        base-color-table-selected: "alpha(pallete-color1, 0.4)",
        base-color-table-header: "darken(base-color-table, 10)",

        // Up Down Back Colors
        up-back-color: "use(pallete-color3)",
        down-back-color: "use(pallete-color4)",
        fade-up-back-color: "lighten(up-back-color, 53)",
        fade-down-back-color: "lighten(down-back-color, 45)",
        fade-up-back-color-2: "lighten(fade-up-back-color, 3)",
        fade-down-back-color-2: "lighten(fade-down-back-color, 2)",
        fade-back-color: "lighten(pallete-color5, 19)",

        fade-prominent-back-color: "lighten(prominent-fore-color, 30)",
        fade-prominent-back-color-2: "lighten(fade-prominent-back-color, 3)",
        highlight-up-back-color: "use(up-back-color)",
        highlight-down-back-color: "use(down-back-color)",

        pending-back-color: "use(pallete-color2)",
        box-shadow-color: #eeeeee,
        popup-box-shadow-color: "lighten(pallete-color5, 3)",
        container-back-color: "use(pallete-color7)",
        tool-bar-back-color: "lighten(pallete-color5, 65)",
        progress-bar-back-color: "lighten(pallete-color5, 49)",
        news-icon-color: "lighten(pallete-color1, 7)",
        announcements-icon-color: "darken(pallete-color2, 16)",
        dark-bg-announcement-fore-color: "darken(pallete-color7, 6)",

        scrollbar-back-color: #b5c8d9,
        btn-fore-color: #848484,

        // App Title Bar Theme Colors
        app-title-logo-fore-color: "use(base-fore-color-app-title)",
        app-title-back-color: "use(base-color-app-title)",
        app-title-back-color-gradient: "lighten(app-title-back-color, 9)",
        app-title-toolbar-fore-color: #ffffff, //Start use this varible (&-toolbar-fore-color)
        app-title-toolbar-back-color: "lighten(base-color-app-title-toolbar, 3)",
        app-title-toolbar-back-color-gradient: "darken(app-title-toolbar-back-color, 10)",
        app-title-box-shadow-color: "darken(app-title-toolbar-back-color, 13)",
        app-title-ui-control: "use(base-color-app-title-ui-control)",
        app-title-ui-control-gradient: "use(app-title-ui-control)",
        app-title-fore-color: "use(base-fore-color-app-title)",
        app-title-fade-fore-color: "use(base-fade-fore-color-app-title)",
        app-title-up-fore-color: "use(up-fore-color)",
        app-title-down-fore-color: "use(down-fore-color)",
        app-title-up-back-color: "lighten(up-back-color, 22)",
        app-title-down-back-color: "lighten(down-back-color, 22)",
        app-title-border-color: "darken(app-title-back-color, 7)",
        app-title-edit-control: "use(base-color-app-title-edit-control)",
        app-title-vertical-line: "use(base-color-title-separator)",

        app-title-control-selected-back-color: #ffffff, //not used
        app-title-control-selected-back-color-gradient: "lighten(app-title-back-color, 9)", //#81b1d3, //not used
        app-title-control-selected-text-color: #ffffff, //not used

        // App Title Bar Search Button
        titlebar-btn-border-bottom: "darken(app-title-back-color, 8)",
        titlebar-btn-border-top: "darken(app-title-back-color, 8)",
        titlebar-btn-border-left-right: "darken(app-title-back-color, 10)",
        titlebar-btn-hover: "lighten(app-title-back-color, 7)",

        ticker-back-color: "use(base-color-ticker)",

        // App Menu
        app-menu-back-color: "use(base-color-app-menu)",
        app-menu-back-color-gradient: "use(app-menu-back-color)",
        app-menu-fore-color: "use(base-fore-color-app-title)",
        app-menu-selected-back-color: "use(base-color-app-menu-selected)",
        app-menu-selected-fore-color: "darken(app-menu-selected-back-color, 9)",
        app-menu-back-color-hover: "use(app-menu-back-color)",
        app-menu-fore-color-hover: "use(base-fore-color-app-menu-hover)",
        app-menu-fore-color-active: "use(app-menu-fore-color)",
        app-menu-selected-border-top: "darken(app-menu-selected-back-color, 34)",
        app-menu-selected-border-bottom: "lighten(app-menu-selected-back-color, 14)",
        app-menu-selected-back-color-gradient1: "use(app-menu-selected-back-color)",
        app-menu-selected-back-color-gradient2: "use(app-menu-selected-back-color)",
        app-menu-selected-back-color-gradient3: "use(app-menu-selected-back-color)",

        // Widget Title
        widget-title-fore-color: "use(base-fore-color-widget-title)",
        widget-title-back-color: "use(base-color-widget-title)",
        widget-title-back-color-gradient: "lighten(widget-title-back-color, 9)",
        widget-title-border-b-color: "darken(widget-title-back-color, 13)",
        widget-title-border-color: "darken(widget-title-back-color, 10)",
        widget-title-border-dark-color: "lighten(widget-title-back-color, 7)",
        widget-title-border-light-color: "lighten(widget-title-back-color, 21)",

        widget-title-ui-control-fore-color: "use(base-fore-color-widget-title)",
        widget-title-ui-control-back-color: "use(widget-title-back-color)",
        widget-title-ui-control-back-color-gradient1: "darken(widget-title-ui-control-back-color, 4)",
        widget-title-ui-control-back-color-gradient2: "darken(widget-title-ui-control-back-color, 13)",
        widget-title-ui-control-border-color: "darken(widget-title-ui-control-back-color, 11)",
        widget-title-textbox-back-color: "darken(base-color-widget-title-edit-control, 10)",
        widget-title-textbox-back-color-gradient1: "darken(base-color-widget-title-edit-control, 5)",
        widget-title-textbox-back-color-gradient2: "use(base-color-widget-title-edit-control)",

        // Widget
        widget-back-color: "use(base-color-widget)",
        widget-back-color-gradient: "darken(widget-back-color, 5)",
        widget-separator-color: "use(base-color-widget-separator)",
        widget-border-t-color: "darken(widget-back-color, 7)",
        widget-border-r-color: "darken(widget-back-color, 18)",
        widget-border-b-color: "darken(widget-back-color, 18)",
        widget-border-l-color: "darken(widget-back-color, 7)",

        widget-ui-control-fore-color: "use(fade-fore-color)",
        widget-ui-control-back-color: "use(base-color-widget-ui-control)",
        widget-ui-control-back-color-gradient1: "lighten(widget-ui-control-back-color, 6)",
        widget-ui-control-back-color-gradient2: "lighten(widget-ui-control-back-color, 7)",
        widget-ui-control-border:"darken(widget-ui-control-back-color, 2)",

        widget-border-color: "use(base-color-widget-border)",
        widget-edit-control: "use(base-color-widget-edit-control)",
        widget-edit-control-back-color-gradient1: "lighten(widget-edit-control, 2)",
        widget-edit-control-back-color-gradient2: "lighten(widget-edit-control, 8)",

        // Widget Title - Tabs
        widget-title-tab-back-color: "use(base-color-widget-title-tab)",
        widget-title-tab-fore-color: "use(base-fore-color-widget-title-tab)",
        widget-title-tab-hover-color: "darken(widget-title-tab-back-color, 5)",

        widget-title-selected-tab-fore-color: "use(base-fore-color-widget-title)",
        widget-title-selected-tab-back-color: "use(base-color-widget-title-tab-selected)",
        widget-title-selected-tab-back-color-gradient: "darken(widget-title-selected-tab-back-color, 3)",

        // Data Table Colors
        table-row-back-color: "use(base-color-table)",
        table-row-alternate-back-color: "darken(table-row-back-color, 5)",

        table-row-up-back-color: "use(fade-up-back-color)",
        table-row-up-alternate-back-color: "use(fade-up-back-color-2)",
        table-row-down-back-color: "use(fade-down-back-color)",
        table-row-down-alternate-back-color: "use(fade-down-back-color-2)",

        table-row-prominent-back-color: "use(fade-prominent-back-color)",
        table-row-prominent-alternate-back-color: "use(fade-prominent-back-color-2)",
        table-row-selected-back-color: "use(base-color-table-selected)",
        table-row-selected-back-color-gradient: "use(table-row-selected-back-color)",

        table-row-selected-border-top: "use(table-row-selected-back-color)",
        table-row-selected-border-bottom: "use(table-row-selected-back-color)",
        table-row-hover-color: #d6e2e9, //Not in Used //Check
        table-row-hover-back-color: "alpha(base-color-table-selected, 0.3)",
        table-row-border-color: "use(base-color-table-selected)",

        data-table-header-back-color: "use(base-color-table-header)",
        data-table-header-back-color-gradient: "lighten(data-table-header-back-color, 9)",
        data-table-header-border-top: "lighten(data-table-header-back-color, 1)",
        data-table-header-border-bottom: "darken(data-table-header-back-color, 12)",

        data-table-fore-color: "use(fore-color)",
        data-table-header-fore-color: "darken(fore-color, 13)",

        // Widget - Tabs
        tab-fore-color: "use(base-fore-color-widget-tab)",
        tab-fore-color-hover: "use(base-fore-color-widget-tab)",
        tab-back-color: "use(base-color-widget-tab)",
        tab-back-color-gradient: "lighten(tab-back-color, 4)",
        //tab-border-color: "darken(base-color-widget-tab, 10)", //Not used

        tab-selected-fore-color: "use(base-fore-color-widget-tab-selected)",
        tab-selected-back-color: "use(base-color-widget-tab-selected)",
        tab-selected-back-color-gradient: "darken(tab-selected-back-color, 3)",
        tab-color-border: "use(base-color-widget-border)",
        tab-selected-color-border: "use(tab-selected-back-color)",

        // Common TextBox
        textbox-fore-color: "use(fore-color)",
        textbox-border: "use(base-color-widget)",
        textbox-back-color: "use(base-color-widget-edit-control)",
        textbox-back-color-gradient: "lighten(textbox-back-color, 2)",
        textbox-back-color-gradient1: "lighten(textbox-back-color, 8)",

        // Link Colors
        link-1-color: "lighten(pallete-color2, 10)", // Yellow
        link-2-color: "lighten(pallete-color4, 6)", // Pink
        link-3-color: "lighten(pallete-color3, 15)", // Green
        link-4-color: "lighten(pallete-color1, 25)", // Blue

        trade-btn-buy-back-color: "lighten(up-back-color, 16)",
        trade-btn-buy-back-color-gradient: "darken(trade-btn-buy-back-color, 14)",
        trade-btn-buy-border-color: "use(trade-btn-buy-back-color-gradient)",

        trade-btn-sell-back-color: "lighten(down-back-color, 28)",
        trade-btn-sell-back-color-gradient: "darken(trade-btn-sell-back-color, 16)",
        trade-btn-sell-border-color: "use(trade-btn-sell-back-color-gradient)",

        order-ticket-buy-back-color: "use(fade-up-back-color)",
        order-ticket-sell-back-color: "use(fade-down-back-color)",
        btn-up-back-color: "lighten(up-back-color, 8)",
        btn-down-back-color: "lighten(down-back-color, 26)",
);