// $isCoBranded:no;
// Theme Attribute Definitions
$theme4-colors: (
        // Crystal Theme
        pallete-color1: #a5acb8,
        pallete-color2: #9aa1ac,

        base-color-app-title: "use(pallete-color1)",
        base-color-app-menu: "use(pallete-color1)",
        base-color-app-menu-selected: "darken(pallete-color1, 17)",
        base-color-widget-title: "use(pallete-color1)",
        base-color-widget-drp-dwn: "use(pallete-color1)",
        base-color-widget-title-tab: "use(pallete-color2)",
        base-color-tab: "use(pallete-color2)",

        app-back-color: #e8edf1,
        border-color: #d2d2d2,
        // text-color-light: #ffffff, // Checked - Can be deleted.
        // color-2: #3592d0,  // Checked - Can be deleted.
        // search-border-color: #d4d4d4, // Checked - Can be deleted.
        // search-query-font: #518399, // Checked - Can be deleted.
        // color-6: #848484, // Checked - Can be deleted.

        // Common Theme Variables
        fore-color: #545454,
        fade-fore-color: #848484,
        prominent-fore-color: #545454,
        fade-back-color: #848484,
        up-fore-color: #2ba25c,
        down-fore-color: #ff0101,
        up-back-color: #2ba25c,
        down-back-color: #ff0101,
        fade-up-back-color: #b1d6c0,
        fade-down-back-color: #F4B6B6,
        dark-up-back-color: #3E8D57,
        dark-down-back-color: #b22222,
        pending-back-color: #f2a633,
        symbol-fore-color: #547494,
        highlight-fore-color: #3592d0,
        dark-bg-fore-color: #ffffff,
        ticker-color: #E6E6E6,
        ticker-back-color: #e9f0f6,
        box-shadow-color: #eeeeee,
        popup-box-shadow-color: #5c5c5c,
        container-back-color: #e9f0f6,
        tool-bar-back-color: #fbfbfb,
        watchlist-right-click-back: #7AA9CB,
        btn-up-back-color: #42B370,
        btn-down-back-color: #FE8787,
        progress-bar-back-color: #d2d2d2,

        // App Title Bar Theme Colors
        app-title-logo-fore-color: #ffffff,
        app-title-back-color: "use(base-color-app-title)", //#6C9BBD,
        app-title-back-color-gradient: "lighten(app-title-back-color, 9)", // #81b1d3, // l - 9
        app-title-fore-color: #ffffff,
        app-title-fade-fore-color: "lighten(app-title-back-color, 29)", // #C7DFF3, // l - 29
        app-title-toolbar-fore-color: #ffffff,
        app-title-up-fore-color: #58e2b3,
        app-title-down-fore-color: #fe7071,
        app-title-up-back-color: #58e2b3, // Green Circle
        app-title-down-back-color: #fe7071, // Red Circle
        app-title-toolbar-back-color: "lighten(app-title-back-color, 3)", // #75A1C1, // l - 3
        app-title-toolbar-back-color-gradient: "darken(app-title-back-color, 10)", //#5581A0, // d - 10
        app-title-box-shadow-color: #868686,
        app-title-border-color: "darken(app-title-back-color, 7)", //#5D88A7, // d - 7

        app-title-control-selected-back-color: #ffffff,
        app-title-control-selected-back-color-gradient: "lighten(app-title-back-color, 9)", //#81b1d3, // l - 9
        app-title-control-selected-text-color: #ffffff,

        // App Title Bar Search Input Text Bar
        app-title-search-top-color: #ebebeb,
        app-title-search-middle-color: #fafafa,
        app-title-search-bottom-color: #fafafa,
        app-title-vertical-line: "darken(app-title-back-color, 5)", //#608EB0, // d - 5
        app-title-prominent-text-color: #ffffff,

        // App Title Bar Search Button
        titlebar-btn-border-bottom: "darken(app-title-back-color, 8)", //#5A87A6, // d - 8
        titlebar-btn-border-top: "darken(app-title-back-color, 8)", //#5A87A6, // d - 8
        titlebar-btn-border-left-right: "darken(app-title-back-color, 10)", //#57809D, // d - 10
        titlebar-btn-hover: "lighten(app-title-back-color, 7)",//#7DACCE, // l - 7

        // App Menu
        app-menu-back-color: "use(base-color-app-menu)", //#79A9CB,
        app-menu-back-color-gradient: "darken(app-menu-back-color, 0)", //#79A9CB,
        app-menu-back-color-hover: "use(base-color-app-menu)",
        app-menu-fore-color: #F1F1F1,
        app-menu-fore-color-hover: #333333,
        app-menu-fore-color-active: "darken(app-menu-back-color, 9)", //#6594B5, // d - 9

        app-menu-selected-back-color: "use(base-color-app-menu-selected)", //#79A9CB,
        app-menu-selected-fore-color: "darken(app-menu-selected-back-color, 9)", //#6594B5, // d - 9
        app-menu-selected-border-top: "darken(app-menu-selected-back-color, 34)", //#364565, // d - 34
        app-menu-selected-border-bottom: "lighten(app-menu-selected-back-color, 14)",  //#B2C0DE, // l - 14
        app-menu-selected-back-color-gradient1: "darken(app-menu-selected-back-color, 13)", //#5888ab, // d - 13
        app-menu-selected-back-color-gradient2: "darken(app-menu-selected-back-color, 13)", //#5a89ab, // d - 13
        app-menu-selected-back-color-gradient3: "darken(app-menu-selected-back-color, 17)", //#567e9a, // d - 17

        // Widget Title
        widget-title-fore-color: #000000,
        widget-title-back-color: "use(base-color-widget-title)", //#6C9BBD,
        widget-title-back-color-gradient: "lighten(widget-title-back-color, 9)", //#81b1d3, // l - 9,
        widget-title-border-b-color: "darken(widget-title-back-color, 13)", //#497A9E, // d - 13
        widget-title-border-color: "darken(widget-title-back-color, 10)", //#57809d, // d - 10
        widget-title-border-dark-color: "lighten(widget-title-back-color, 7)", //#7DABCC, // l - 7
        widget-title-border-light-color: "lighten(widget-title-back-color, 21)", //#AFCBE2, // l - 21

        widget-title-tab-fore-color: #ffffff,
        widget-title-tab-over-color: "darken(widget-title-back-color, 7)", //#5989ab, // d - 7

        widget-title-selected-tab-fore-color: #ffffff,
        widget-title-selected-tab-back-color: "use(base-color-widget-title-tab)", //#f9bf3b,
        widget-title-selected-tab-back-color-gradient: "darken(widget-title-selected-tab-back-color, 3)", //#f3b72f, // d - 3

        widget-title-drp-dwn-fore-color: #ffffff,
        widget-title-drp-dwn-back-color: "use(base-color-widget-drp-dwn)", //#75A1C1,
        widget-title-drp-dwn-back-color-gradient1: "darken(widget-title-drp-dwn-back-color, 4)", //#6999BA, // d - 4
        widget-title-drp-dwn-back-color-gradient2: "darken(widget-title-drp-dwn-back-color, 13)", //#5581A0, // d - 13
        widget-title-drp-dwn-border-color: "darken(widget-title-drp-dwn-back-color, 11)", //#5A87A6, // d - 11

        widget-back-color: #ffffff,
        widget-back-color-gradient: #f1f1f1,
        widget-separator-color: #d2d2d2,
        widget-dropdown-fore-color: #333333,
        widget-dropdown-back-color: #ececec,
        widget-dropdown-back-color-gradient1: #fdfdfd,
        widget-dropdown-back-color-gradient2: #ffffff,
        widget-dropdown-border: #C5C5C5,
        widget-border-color: #d4d4d4,
        widget-border-t-color: #ececec,
        widget-border-r-color: #d2d2d2,
        widget-border-b-color: #d2d2d2,
        widget-border-l-color: #ececec,

        // Ember Table Styles
        table-row-back-color: #ffffff,
        table-row-alternate-back-color: #f3f3f3,
        table-row-up-back-color: #d8eee1,
        table-row-up-alternate-back-color: #e2f8eb,
        table-row-down-back-color: #f2dbdb,
        table-row-down-alternate-back-color: #fce5e5,
        table-row-prominent-back-color: #dde8f0,
        table-row-prominent-alternate-back-color: #e7f2fa,
        table-row-selected-back-color: #d6e2e9,
        table-row-selected-back-color-gradient: #d6e2e9,
        table-row-border-color: #84a4be,
        table-row-hover-color: #d6e2e9,
        table-row-hover-back-color: #e9f0f6,

        data-table-header-back-color: #e5e5e5,
        data-table-header-back-color-gradient: #fcfcfc,
        data-table-fore-color: #333333,
        data-table-header-fore-color: #333333,
        data-table-header-border-top: #e9e9e9,
        data-table-header-border-bottom: #D2D2D2,

        // Tab Colors
        tab-fore-color: #76838f,
        tab-fore-color-hover: #58a7e2,
        tab-selected-fore-color: #ffffff,
        tab-back-color: #f3f3f3,
        tab-back-color-gradient: #fefefe,
        tab-selected-back-color: "use(base-color-tab)", //#f9bf3b,
        tab-selected-back-color-gradient: "darken(tab-selected-back-color, 3)", //#f3b72f, // d - 3
        tab-color-border: #c5c5c5,
        tab-selected-color-border: "darken(tab-selected-back-color, 0)", //#f9bf3b,

        news-icon-color: #3592d0,
        announcements-icon-color: #d07f00,
        dark-bg-announcement-fore-color: #cce3f4,

        // Common TextBox
        textbox-fore-color: #518399,
        textbox-border: #d2d2d2,
        textbox-back-color: #ebebeb,
        textbox-back-color-gradient: #fafafa,
        textbox-back-color-gradient1: #ffffff,

        // Link Colors
        link-1-color: #F4D03F,
        link-2-color: #FE8FE1,
        link-3-color: #58e2b3,
        link-4-color: #74CAF4,

        trade-btn-buy-border-color: #2da75a,
        trade-btn-buy-back-color: #4dd17c,
        trade-btn-buy-back-color-gradient: #2da75a,
        trade-btn-sell-border-color: #da6d6d,
        trade-btn-sell-back-color: #eca0a0,
        trade-btn-sell-back-color-gradient: #e45757
);
