// Theme Attribute Definitions
$theme1-colors: (
        is-flat-theme: true,

        pallete-color1: #171a1f,
        pallete-color2: #000000,
        pallete-color3: #019875,
        pallete-color4: #fe7071,
        pallete-color5: #616d7d,
        pallete-color6: #707c8d,
        pallete-color7: #266aa0,
        pallete-color8: #f4b350,
        pallete-color9: #67809f,
        pallete-color10: #518399,

        app-back-color: "use(pallete-color1)",

        base-color-title: "lighten(pallete-color1, 6)",
        base-color-title-separator: "lighten(base-color-title, 10)",

        // App Title
        base-color-app-title:  "use(base-color-title)",
        base-color-app-title-edit-control: "darken(base-color-app-title, 6)",
        base-color-app-title-ui-control: "use(pallete-color1)",
        base-color-app-title-toolbar: "use(base-color-app-title)",
        base-fore-color-app-title: "use(fore-color)",
        base-fade-fore-color-app-title: "use(fade-fore-color)",
        base-color-app-title-separator: "use(base-color-title-separator)",

        // Ticker
        base-color-ticker: "use(base-color-title)",

        // App Menu
        base-color-app-menu: "use(pallete-color1)",
        base-color-app-menu-selected: "use(pallete-color8)",
        base-fore-color-app-menu-selected: "use(base-color-app-menu)",

        // Widget Title
        base-color-widget-title: "use(base-color-title)",
        base-color-widget-title-edit-control: "darken(base-color-widget-title, 6)",
        base-color-widget-title-ui-control: "use(pallete-color1)",
        base-fore-color-widget-title: "use(pallete-color9)",
        base-color-widget-title-separator: "use(base-color-title-separator)", // Start using this if applicable

        // Widget Title - Tabs
        base-color-widget-title-tab: "use(base-color-title)",
        base-fore-color-widget-title-tab: "use(pallete-color6)",
        base-color-widget-title-tab-selected: "use(pallete-color1)",
        base-fore-color-widget-title-tab-selected: "use(base-fore-color-widget-title)",

        // Widget
        base-color-widget: "use(pallete-color1)",
        base-color-widget-edit-control: "darken(base-color-widget, 6)",
        base-color-widget-ui-control: "lighten(base-color-widget, 6)",
        base-color-widget-separator: "lighten(base-color-title-separator, 10)",
        base-color-widget-toolbar: "use(base-color-widget-ui-control)", // Newly introduced. Start using this

        // Widget - Tabs
        base-color-widget-tab: "use(base-color-widget-ui-control)",
        base-fore-color-widget-tab: "use(pallete-color7)",
        base-color-widget-tab-selected: "use(base-color-widget)",
        base-fore-color-widget-tab-selected: "use(pallete-color7)",

        // Table
        base-color-table: "use(pallete-color1)",
        base-color-table-selected: "alpha(pallete-color8, 0.4)",
        base-color-table-header: "darken(base-color-table, 6)",

        // Fore Colors
        fore-color: "use(pallete-color5)",
        fade-fore-color: "use(pallete-color6)",
        prominent-fore-color: "use(pallete-color7)",
        up-fore-color: "use(pallete-color3)",
        down-fore-color: "use(pallete-color4)",
        highlight-fore-color: "use(pallete-color7)",
        symbol-fore-color: "use(pallete-color10)",
        dark-bg-fore-color: "use(fore-color)",

        // Up Down Back Colors
        up-back-color: "use(pallete-color3)",
        down-back-color: "use(pallete-color4)",
        fade-up-back-color: "alpha(up-back-color, 0.3)",
        fade-down-back-color: "alpha(down-fore-color, 0.3)",
        fade-up-back-color-2: "darken(fade-up-back-color, 7)",
        fade-down-back-color-2: "darken(fade-down-back-color, 7)",
        fade-back-color: "lighten(pallete-color1, 7)",  // ---- Check Later

        fade-prominent-back-color: "alpha(prominent-fore-color, 0.3)",
        fade-prominent-back-color-2: "darken(fade-prominent-back-color, 7)",
        highlight-up-back-color: "use(up-back-color)",
        highlight-down-back-color: "use(down-back-color)",

	    pending-back-color: "use(pallete-color8)",
        box-shadow-color: "darken(pallete-color1, 90)",
        popup-box-shadow-color: "darken(pallete-color1, 100)",
        container-back-color: "use(pallete-color2)",
        tool-bar-back-color: "use(base-color-widget-toolbar)",
        progress-bar-back-color: "lighten(base-color-widget, 5)",
        news-icon-color: "lighten(base-color-widget, 5)",
        announcements-icon-color: "use(pallete-color8)",
        dark-bg-announcement-fore-color: "lighten(prominent-fore-color, 49)", //----Check with mobile

        scrollbar-back-color: #888686,
        btn-fore-color: #46627D,

        // App Title Bar Theme Colors
        app-title-logo-fore-color: "use(highlight-fore-color)",
        app-title-back-color: "use(base-color-app-title)",
        app-title-back-color-gradient: "use(app-title-back-color)",
        app-title-toolbar-back-color: "use(base-color-app-title-toolbar)",
        app-title-toolbar-back-color-gradient: "use(app-title-toolbar-back-color)",
        app-title-ui-control: "use(base-color-app-title-ui-control)",
        app-title-ui-control-gradient: "use(app-title-ui-control)",
        app-title-fore-color: "use(base-fore-color-app-title)",
        app-title-fade-fore-color: "use(base-fade-fore-color-app-title)",
        app-title-up-fore-color: "use(up-fore-color)",
        app-title-down-fore-color: "use(down-fore-color)",
        app-title-up-back-color: "use(up-back-color)",
        app-title-down-back-color: "use(down-back-color)",
        app-title-border-color: "use(app-title-back-color)",
        app-title-edit-control: "use(base-color-app-title-edit-control)",
        app-title-vertical-line: "use(base-color-title-separator)",

        ticker-back-color: "use(base-color-ticker)",

        // App Menu
        app-menu-back-color: "use(base-color-app-menu)",
        app-menu-back-color-gradient: "use(app-menu-back-color)",
        app-menu-fore-color: "use(fade-fore-color)",
        app-menu-selected-back-color: "use(base-color-app-menu-selected)",
        app-menu-selected-fore-color: "use(base-fore-color-app-menu-selected)",
        app-menu-back-color-hover: "alpha(app-menu-selected-back-color, 0.3)",
        app-menu-fore-color-hover: "use(app-menu-fore-color)",  // Check Navigation-bar.sass Line #44 Need to fix the selected hover color
        app-menu-fore-color-active:  "use(app-menu-selected-fore-color)",

        // Widget Title
        widget-title-fore-color: "use(base-fore-color-widget-title)",
        widget-title-back-color: "use(base-color-widget-title)",
        widget-title-back-color-gradient: "use(widget-title-back-color)",
        widget-title-border-b-color: "use(widget-title-back-color)",
        widget-title-border-color: "use(widget-title-back-color)",
        widget-title-border-dark-color: "use(widget-title-back-color)",
        widget-title-border-light-color: "use(widget-title-back-color)",

        widget-title-ui-control-fore-color: "use(fore-color)",
        widget-title-ui-control-back-color: "use(base-color-widget-title-ui-control)",
        widget-title-ui-control-back-color-gradient1: "use(base-color-widget-title-ui-control)",
        widget-title-ui-control-back-color-gradient2: "use(base-color-widget-title-ui-control)",
        widget-title-ui-control-border-color: "use(base-color-widget-title-ui-control)",  //----Check Later
        widget-title-textbox-back-color: "use(base-color-widget-title-edit-control)",
        widget-title-textbox-back-color-gradient1: "use(widget-title-textbox-back-color)",
        widget-title-textbox-back-color-gradient2: "use(widget-title-textbox-back-color)",

        widget-back-color: "use(base-color-widget)",
        widget-back-color-gradient: "use(base-color-widget)",
        widget-separator-color: "use(base-color-widget-separator)",

        widget-ui-control-fore-color: "use(fade-fore-color)",
        widget-ui-control-back-color: "use(base-color-widget-ui-control)",
        widget-ui-control-back-color-gradient1: "use(widget-ui-control-back-color)",
        widget-ui-control-back-color-gradient2: "use(widget-ui-control-back-color)",
        widget-ui-control-border:"use(widget-ui-control-back-color)",

        widget-border-color: "lighten(base-color-widget, 15)",
        widget-edit-control: "use(base-color-widget-edit-control)",

        // Widget Title - Tabs
        widget-title-tab-back-color: "use(base-color-widget-title-tab)",
        widget-title-tab-fore-color: "use(base-fore-color-widget-title-tab)",
        widget-title-tab-hover-color: "alpha(base-color-widget-title-tab-selected, 0.3)",

        widget-title-selected-tab-fore-color: "use(base-fore-color-widget-title-tab-selected)", // Check Later
        widget-title-selected-tab-back-color: "use(base-color-widget-title-tab-selected)",
        widget-title-selected-tab-back-color-gradient: "use(widget-title-selected-tab-back-color)",

        // Data Table Colors
        table-row-back-color: "use(base-color-table)",
        table-row-alternate-back-color: "darken(base-color-table, 7)",

        table-row-up-back-color: "use(fade-up-back-color)",
        table-row-up-alternate-back-color: "use(fade-up-back-color-2)",
        table-row-down-back-color: "use(fade-down-back-color)",
        table-row-down-alternate-back-color: "use(fade-down-back-color-2)",

        table-row-prominent-back-color: "use(fade-prominent-back-color)",
        table-row-prominent-alternate-back-color: "use(fade-prominent-back-color-2)",
        table-row-selected-back-color: "use(base-color-table-selected)",
        table-row-selected-back-color-gradient: "use(table-row-selected-back-color)",

        table-row-selected-border-top: "use(table-row-selected-back-color)",
        table-row-selected-border-bottom: "use(table-row-selected-back-color)",
        table-row-hover-back-color: "alpha(base-color-table-selected, 0.1)",
        table-row-border-color: "use(table-row-hover-back-color)",

        data-table-header-back-color: "use(base-color-table-header)",
        data-table-header-back-color-gradient: "use(data-table-header-back-color)",

        data-table-fore-color: "use(fore-color)",
        data-table-header-fore-color: "use(fade-fore-color)",

        // Widget - Tabs
        tab-fore-color: "use(base-fore-color-widget-tab)",

        tab-fore-color-hover: "use(base-fore-color-widget-tab)",
        tab-back-color: "use(base-color-widget-tab)",
        tab-back-color-gradient: "use(tab-back-color)",

        tab-selected-fore-color: "use(base-fore-color-widget-tab-selected)",
        tab-selected-back-color: "use(base-color-widget-tab-selected)",
        tab-selected-back-color-gradient: "use(tab-selected-back-color)",
        tab-color-border: "use(base-color-widget-tab)",
        tab-selected-color-border: "use(base-fore-color-widget-tab)",

        // Common TextBox
        textbox-fore-color: "use(fore-color)",
        textbox-border-color: "use(base-color-widget)",
        textbox-back-color: "use(base-color-widget-edit-control)",
        textbox-back-color-gradient: "use(textbox-back-color)",
        textbox-back-color-gradient1: "use(textbox-back-color)",

        link-1-color: "lighten(pallete-color8, 10)", // Yellow
        link-2-color: "lighten(pallete-color4, 6)", // Pink
        link-3-color: "lighten(pallete-color3, 15)", // Green
        link-4-color: "lighten(pallete-color7, 25)", // Blue

        trade-btn-buy-back-color: "use(up-back-color)",
        trade-btn-buy-back-color-gradient: "use(trade-btn-buy-back-color)",
        trade-btn-buy-border-color: "use(trade-btn-buy-back-color)",
        trade-btn-sell-back-color: "use(down-back-color)",
        trade-btn-sell-back-color-gradient: "use(trade-btn-sell-back-color)",
        trade-btn-sell-border-color: "use(trade-btn-sell-back-color)",

        order-ticket-buy-back-color: "use(fade-up-back-color)",
        order-ticket-sell-back-color: "use(fade-down-back-color)",
        btn-up-back-color: "use(up-back-color)",
        btn-down-back-color: "use(down-back-color)",
);


