<div class="widget_new full-height" id="order-ticket-landscape-id">
    {{#if isShowTitle}}
        {{widget-header
            widgetTitle=title
            hideWidgetLink=hideWidgetLink
            isTabAvailable=false
            linkOptions=links defaultSelectedLink=defaultLink selectedLink=selectedLink setLink='setLink'
            innerWidgets=innerWidgets
            innerWidgetAction="renderInnerWidgetItems"
            isWidgetCloseAvailable=isWidgetCloseAvailable
            closeWidgetAction= 'closeWidgetAction'
            closeActionTarget=controller
            cursorMoveCss=cursorMoveCss
        }}
    {{/if}}

    <div class="widget-container-new overflow-visible padding-zero" style="white-space: nowrap;">
        <div class="layout-container full-width pad-m-r {{invoker.orderStrategy.panelClass}}">
            <div class="layout-col pad-m-l font-x-l fore-color pad-l-l" style="padding: 0 35px 0 10px;">
                <div class="h-left">
                    <div class="radio" style="height: 25px">
                        <label><input type="radio" name="optradio" style="margin-top: 4px;" checked>Buy</label>
                    </div>
                </div>
                <div class="h-left">
                    <div class="radio" style="height: 25px">
                        <label><input type="radio" name="optradio" style="margin-top: 4px;">Sell</label>
                    </div>
                </div>
            </div>
            <div class="layout-col-3 pad-m-l">
                <div class="h-left font-x-l fore-color mgn-m-b">Symbol <span>*</span></div>
                <div class="h-left">
                    <div class="layout-col pos-rel">
                        {{input-field-text type="text" value=textFilter placeholder=invoker.symbolInfo.sym class="search-query search-ctrl form-control default-panel-width"}}

                        <div class="input-group-btn pos-abs top-zero">
                            <button class="btn search-ctrl-btn" type="button">
                                <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layout-col-3 pad-m-l">
                <div class="h-left font-x-l fore-color mgn-m-b">Company<span>*</span></div>
                <div class="h-left">
                    <input type="text" class="form-control"  style="display: inline; width: 125px; height: 25px;"  value={{invoker.symbolInfo.sDes}}>
                </div>
            </div>
            <div class="layout-col-3 pad-m-l">
                <div class="h-left font-x-l fore-color mgn-m-b">Order Type</div>
                <div class="h-left">
                    <div class="form-group" style="margin: 0">
                        <select class="form-control" id="sel1" style="height: 25px; width: 125px;">
                            <option>Limit</option>
                            <option>Buy</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="layout-col-3 pad-m-l">
                <div class="h-left font-x-l fore-color mgn-m-b">Quantity <span>*</span></div>
                <div class="h-left">
                    <input type="text" class="form-control bold" style="display: inline; width: 125px; height: 25px; color: #333333"  value={{invoker.orderParams.ordQty}} >
                </div>
            </div>
            <div class="layout-col-3 pad-m-l">
                <div class="h-left font-x-l fore-color mgn-m-b">Price <span>*</span></div>
                <div class="h-left"><input type="text" class="form-control bold" style="display: inline; width: 125px; height: 25px; color: #333333"  value={{invoker.orderParams.displayPrice}}></div>
            </div>
            <div class="layout-col-3 pad-m-l">
                <div class="h-left font-x-l fore-color mgn-m-b">Disclose Quantity <span>*</span></div>
                <div class="h-left"><input type="text" class="form-control"  value="" style="display: inline; width: 125px; height: 25px;"></div>
            </div>
            <div class="layout-col-3 pad-m-l">
                <div class="h-left font-x-l fore-color mgn-m-b">Validity</div>
                <div class="h-left">
                    <div class="form-group" style="margin: 0">
                        <select class="form-control" id="sel1" style="height: 25px; width: 150px;">
                            <option>Good For Day</option>
                            <option>Good For Week</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="layout-col-3 pad-m-l">
                <div class="h-left font-x-l fore-color mgn-m-b">Date</div>
                <div class="h-left"><input type="date" class="form-control"  style="display: inline; height: 25px;"></div>
            </div>
        </div>
        <div class="layout-container full-width pad-m-r mgn-l-t">
            <div class="layout-col-24 pad-m-l"></div>
            <div class="layout-col pad-m-l"><button type="button" class="btn" style="background-color: #ef8910;">Submit</button></div>
            <div class="layout-col pad-m-l"><button type="button" class="btn" style="background-color: #dadada;">Clear</button></div>
            <div class="layout-col pad-m-l"><button type="button" class="btn" style="background-color: #ef8910;">Get Quote</button></div>
        </div>
    </div>
</div>
