<div class="layout-container full-width pad-m-tb">
    <div class="layout-col-7">
        <div class="layout-inline toggle full-width">
            {{input type="checkbox" name="buy-sell-switch" class="toggle-checkbox" id=orderSideToggleId checked=isBuy disabled=invoker.orderStrategy.isSideDisabled}}
            <label class="toggle-label ltr" for={{orderSideToggleId}}>
                <span class="toggle-inner buy-sell-style"></span>
                <span class="toggle-switch"></span>
            </label>
        </div>
    </div>

    <div class="layout-col-1"></div>
    <div class="layout-col-7 h-middle overflow-visible">
        {{!#if isMoreOrderTypesAvailable}}
        <div class="layout-inline toggle full-width" name="focal-element">
            {{input type="checkbox" name="mkt-limit-switch" class="toggle-checkbox" id=orderTypeToggleId checked=isLimitOrder disabled=invoker.orderStrategy.isOrderTypeDisabled}}
            <label class="toggle-label ltr" for={{orderTypeToggleId}}>
                <span class="toggle-inner mkt-limit-style"></span>
                <span class="toggle-switch"></span>
            </label>
        </div>
        {{!else}}
        <!--<div class="layout-inline buy-sell-switch full-width">-->
        <!--{{!input type="checkbox" name="buy-sell-switch" class="buy-sell-switch-checkbox" id="marketswitch" checked=isMarket}}-->
        <!--<label class="buy-sell-switch-label" for="marketswitch">-->
        <!--<span class="market-limit-switch-inner"></span>-->
        <!--<span class="buy-sell-switch-switch"></span>-->
        <!--</label>-->
        <!--</div>-->
        {{!/if}}
    </div>
    <div class="layout-col-1"></div>
    <div class="layout-col-7 h-right overflow-visible">
        <div class="layout-inline full-width">
            {{#if isDatePickerEnabled}}
                <div class="layout-col-24 pos-rel">
                    {{#if isNativeDevice}}
                        <button class="search-query form-control datepicker-padding dropdown-semi-transparent" {{action 'selectDate'}}
                                disabled={{invoker.orderStrategy.isTiffDisabled}}> {{displayDate}}</button>
                    {{else}}
                        {{bootstrap-datepicker
                        readonly=true
                        language=lan
                        placeholder="Select Date"
                        class="search-query form-control datepicker-padding dropdown-semi-transparent"
                        value=expDateTime
                        autoclose=true
                        disabled=invoker.orderStrategy.isTiffDisabled
                        format="mm/dd"
                        startDate=startDateGTD
                        endDate=endDateGTD}}
                    {{/if}}
                    <div class="pos-abs top-zero calendar-icon">
                        <i class="glyphicon glyphicon-calendar" aria-hidden="true"></i>
                    </div>
                </div>
            {{/if}}

            <div {{bind-attr class="tiffDropdownCSS"}}>
                <div class="dropdown h-left">
                    <button {{bind-attr class=":btn-animation :btn :btn-default :dropdown-semi-transparent :full-width :dropdown-toggle :colour-normal :bold :h-left isDatePickerEnabled: layout-col-6: full-width"}}
                            style="min-width: 20px;"
                            type="button" disabled={{invoker.orderStrategy.isTiffDisabled}}
                        {{action 'selectTifType'}}>
                        <div class="layout-container">
                            {{#unless isDatePickerEnabled}}
                                <div class="layout-col-24">{{selectedTifType.des}}</div>
                            {{/unless}}
                            <div class="layout-col full-width h-right">
                                {{#if Ember.isIos}}
                                    <i class="icon-angle-down"></i>
                                {{else}}
                                    <i class="icon-arrow-lowerright font-xx-l"></i>
                                {{/if}}
                            </div>
                        </div>
                    </button>
                    <!-- Tiff Drop Down List: tif-dropdown-list -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="widget-hline full-width"></div> -->

<div class="layout-container full-width pad-s-tb">
    {{#if isDiscloseQtyEnabled}}
        <div class="layout-row full-width pad-m-tb font-m fade-fore-color">
            <div class="layout-col-4"></div>
            <div class="layout-col-10 h-left pad-l-l">{{qtyCaption}}</div>
            <div class="layout-col-10 h-left pad-l-l">{{app.lang.labels.disclosedQty}}</div>
        </div>
    {{/if}}
    <div class="layout-row full-width">
        {{#unless isDiscloseQtyEnabled}}
            <div class="layout-col-5 h-right pad-m-tb font-m fade-fore-color {{layoutCell}}">{{app.lang.labels.quantity}}</div>
        {{/unless}}
        <div class="{{if isDiscloseQtyEnabled 'layout-col-3 h-right' 'layout-col-4 h-middle pad-l-l'}} pad-m-tb font-xxx-l bold {{unless isDiscloseQtyEnabled layoutCell}}">
            <span>
                 <button type="button" disabled={{invoker.orderStrategy.isQtyDisabled}} class="{{selectorButton.css}} selector-btn button-semi-transparent btn-animation" {{action 'setStatus' componentStatus.quantitySelector target=view}}><i class="icon-rename"></i></button>
            </span>
        </div>
        <div class="{{if isDiscloseQtyEnabled 'layout-col-10' 'layout-col-9'}} pad-l-l pad-m-tb" name="focal-input-element">
            {{input-field-number
            id=qtyFieldId
            class="form-control text-field h-right fore-color font-x-l bold"
            maxlength=15
            decimalPlaces=0
            numValue=invoker.orderParams.ordQty
            elementName="focal-element"
            disabled=invoker.orderStrategy.isQtyDisabled}}
        </div>
        <div class="{{if isDiscloseQtyEnabled 'layout-col-10 h-left' 'layout-col-4 h-left font-xxx-l bold'}} pad-l-l pad-m-tb {{unless isDiscloseQtyEnabled layoutCell}}">
            {{#if isDiscloseQtyEnabled}}
                {{input-field-number
                id='disCloseQty'
                class="form-control text-field h-right fore-color font-x-l bold"
                maxlength=15
                decimalPlaces=0
                elementName="focal-element"
                numValue=invoker.orderParams.disQty
                disabled=invoker.orderStrategy.isDisclosedDisabled
                }}
            {{/if}}
        </div>
    </div>
    <div class="layout-row full-width widget-hline pad-m-tb">
        {{#unless isDiscloseQtyEnabled}}
            <div class="layout-col-5 h-right pad-m-tb font-m fade-fore-color {{layoutCell}}">{{app.lang.labels.price}}</div>
        {{/unless}}
        <div class="{{if isDiscloseQtyEnabled 'layout-col-3 h-right' 'layout-col-4 h-middle pad-l-l'}} pad-m-tb font-xxx-l bold {{unless isDiscloseQtyEnabled layoutCell}}">
            <span>
                <button type="button" disabled={{invoker.orderStrategy.isPriceDisabled}} class="{{sliderMinusButton.css}} selector-btn button-semi-transparent btn-animation" {{action 'setStatus' componentStatus.sliderMinus target=view}}><i class="glyphicon glyphicon-minus font-m"></i></button>
            </span>
        </div>
        <div class="{{if isDiscloseQtyEnabled 'layout-col-10' 'layout-col-9'}} pad-l-l pad-m-tb" name="focal-input-element">
            {{input-field-number
            class="form-control text-field h-right fore-color font-x-l bold"
            decimalPlaces=invoker.symbolInfo.deci
            maxlength=15
            isClearDefault=invoker.orderStrategy.isMarketOrder
            disabled=invoker.orderStrategy.isPriceDisabled
            numValue=invoker.orderParams.displayPrice
            elementName="focal-element"
            placeholder=mktPlaceholder
            id='orderPrice'
            }}
        </div>
        <div class="{{if isDiscloseQtyEnabled 'layout-col-10 h-left' 'layout-col-4 h-left'}} pad-l-l pad-m-tb font-xxx-l bold {{unless isDiscloseQtyEnabled layoutCell}}">
            <span>
                <button type="button" disabled={{invoker.orderStrategy.isPriceDisabled}} class="{{sliderPlusButton.css}} selector-btn button-semi-transparent btn-animation" {{action 'setStatus' componentStatus.sliderPlus target=view}}><i class="glyphicon glyphicon-plus font-m"></i></button>
            </span>
        </div>
    </div>
</div>