@import '../../common-variables';
@import '../../themes/theme-1-variables';
@import '../../themes/theme-2-variables';
@import '../../widget-variables';
//@import '../../themes/theme-helper';

.wdgttl {
  border-radius: $radius-xm $radius-xm 0 0;
  height: $wdgttl-height;

  @include theme((
          background-color: widget-title-back-color,
          border: "0 {widget-title-border-color} solid",
          color: widget-title-fore-color
  ));

  @include theme-classic((
          border: "1px {widget-title-border-color} solid",
          box-shadow: "0 1px 0 {widget-title-border-light-color} inset",
          background-image: "linear-gradient(0deg, {widget-title-back-color} 0%, {widget-title-back-color-gradient} 100%)"
  ));

  &-tab-panel {
    width: 100%;
  }

  &-tab-panel .active .wdgttl-fore-color {
     @include theme((
            color: widget-title-selected-tab-fore-color
    ));
  }

  &-header {
    height: inherit;
    font-size: $font-medium;
    font-weight: $font-bold;
    height: 100%;
    border-radius: $radius-xm $radius-xm 0 0;

    @include theme((
            color: widget-title-fore-color
    ));
  }

  &-search {
    padding-left: 18px;
    padding-right: 10px;
    margin-left: 5px;
    width: 80px;

    @include theme((
            height: "20px",
            border: "1px {widget-title-textbox-back-color} solid",
            color: textbox-fore-color,
            background-color: widget-title-textbox-back-color
    ));

    @include theme-classic((
            background-image: "linear-gradient(top, {widget-title-textbox-back-color} 0%, {widget-title-textbox-back-color-gradient1} 30%, {widget-title-textbox-back-color-gradient1} 30%, {widget-title-textbox-back-color-gradient2} 100%)"
    ));
  }

  &-btn-search {
    border-style: solid;
    margin-bottom: 0;
    border-radius: 0;
    padding-bottom: $padding-small;
    padding-left: $padding-medium;
    font-size: $font-medium;
    margin-top: 0;
    z-index: 2;
    border: 0;
    height: 23px;
    background-color: transparent;
  }

  &-tab-item {
    white-space: nowrap;
    display: table-cell;
    overflow: hidden;
    vertical-align: middle;
    font-size: $font-medium;
    font-weight: bold;

    @include theme((
            height: "26px",
            color: widget-title-tab-fore-color,
            border-right: "1px {widget-title-border-color} solid"
    ));

    @include theme-classic((
            height: "25px"
    ));
  }

  &-tab-item a {
    padding: 0 $padding-medium 0 $padding-medium;
  }

  &-tab-item .active a {
    @include theme((
            color: widget-title-selected-tab-fore-color
    ));
  }

  &-tab-item:first-child {
    @include theme((
            border-left: "0 {widget-title-border-color} solid"
    ));

    @include theme-classic((
            border-left: "1px {widget-title-border-color} solid"
    ));
  }

  &-tab-item:hover {
    cursor: pointer;
    @include theme((
            background-color: widget-title-tab-hover-color,
            color: widget-title-selected-tab-fore-color
    ));
  }

  &-tab-panel {
    @include theme((
            color: widget-title-tab-fore-color
    ));
  }

  &-tab-panel .active {
    font-weight: normal;

    @include theme((
            color: widget-title-selected-tab-fore-color,
            background-color: widget-title-selected-tab-back-color
    ));

    @include theme-classic((
            border-bottom: "1px {widget-title-selected-tab-border-bottom} solid",
            box-shadow: "0 1px 0 {widget-title-border-light-color} inset",
            background-image: "linear-gradient(0deg, {widget-title-selected-tab-back-color} 7%, {widget-title-selected-tab-back-color-gradient} 100%)"
    ));
  }

  &-tab-panel .active a {
    font-weight: normal;

    @include theme((
            color: widget-title-selected-tab-fore-color,
    ));
  }

  &-tab-link {
    @include theme((
            color: widget-title-tab-fore-color,
    ));
  }

  &-tab-link:hover {
    @include theme((
            color: widget-title-selected-tab-fore-color,
    ));
  }

  &-fore-color, &-fore-color:hover, &-fore-color:focus {
    @include theme((
            color: widget-title-tab-fore-color,
    ));
  }

  &-drp-dwn-btn {
    height: $wdgttl-bar-height !important;
    border-radius: $radius-z !important;
    font-size: $font-medium;
    font-weight: normal;

    @include theme((
            color: widget-title-ui-control-fore-color,
            border: "1px {widget-title-back-color} solid",
            background-color: widget-title-ui-control-back-color
    ));

    @include theme-classic((
            border: "1px {widget-title-ui-control-border-color} solid",
            border-top: "0 {widget-title-ui-control-border-color} solid",
            background-image: "linear-gradient(top, {widget-title-ui-control-back-color} 0%, {widget-title-ui-control-back-color-gradient1} 50%, {widget-title-ui-control-back-color-gradient2} 100%)"));

  }

  &-drp-dwn-btn:active {
    @include theme((
            color: widget-title-ui-control-fore-color,
            border: "1px {widget-title-ui-control-border-color} solid",
    ));

    @include theme-classic((
            background-image: "linear-gradient(0, {widget-title-ui-control-back-color} 0%, {widget-title-ui-control-back-color-gradient1} 50%, {widget-title-ui-control-back-color-gradient2} 100%)"));

  }

  &-btn-dropdown {
    padding: 4px 4px 4px 0;
    background: rgba(255, 255, 255, 0);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    border: 1px solid transparent;
  }

  &-btn-dropdown:focus {
    outline-style: none;
  }

/*  &-horizontal-line {
    border-radius: $radius-xm $radius-xm 0 0;
    width: 100%;
    height: 1px;

    @include theme((
            //border-top: "1px {widget-title-back-color} solid",
            border-bottom: "1px {widget-title-border-light-color} solid"
    ));

    @include theme-classic((
            //border-top: "1px {widget-title-border-light-color} solid",
            border-bottom: "1px {widget-title-border-light-color} solid"
    ));
  }*/

  &-table-header {
    padding-top: $radius-s;

    @include theme-classic((
            border-top: "1px {data-table-header-border-top} solid",
            border-bottom: "1px {data-table-header-border-bottom} solid",
            background-image: "linear-gradient(0deg, {data-table-header-back-color} 0%, {data-table-header-back-color-gradient} 100%)"
    ));
  }
}

.sfc .wdgttl {
  border-radius: 4px 4px 0 0;
  height: 26px;
  /*  &-horizontal-line {
    border-radius: $radius-xm $radius-xm 0 0;
    width: 100%;
    height: 1px;

    @include theme((
            //border-top: "1px {widget-title-back-color} solid",
            border-bottom: "1px {widget-title-border-light-color} solid"
    ));

    @include theme-classic((
            //border-top: "1px {widget-title-border-light-color} solid",
            border-bottom: "1px {widget-title-border-light-color} solid"
    ));
  }*/ }
.theme1 .sfc .wdgttl {
  background-color: #242931;
  border: 0 #242931 solid;
  color: #67809f; }
.theme2 .sfc .wdgttl {
  background-color: #155c6e;
  border: 0 #104754 solid;
  color: #ffffff; }
.theme2 .sfc .wdgttl {
  border: 1px #104754 solid;
  box-shadow: 0 1px 0 #2192ae inset;
  background-image: -moz-linear-gradient(0deg, #155c6e 0%, #1c7c95 100%);
  background-image: -webkit-linear-gradient(0deg, #155c6e 0%, #1c7c95 100%);
  background-image: -ms-linear-gradient(0deg, #155c6e 0%, #1c7c95 100%);
  background-image: linear-gradient(0deg, #155c6e 0%, #1c7c95 100%); }
.sfc .wdgttl-tab-panel {
  width: 100%; }
.theme1 .sfc .wdgttl-tab-panel .active .wdgttl-fore-color {
  color: #67809f; }
.theme2 .sfc .wdgttl-tab-panel .active .wdgttl-fore-color {
  color: #ffffff; }
.sfc .wdgttl-header {
  height: inherit;
  font-size: 11px;
  font-weight: bold;
  height: 100%;
  border-radius: 4px 4px 0 0; }
.theme1 .sfc .wdgttl-header {
  color: #67809f; }
.theme2 .sfc .wdgttl-header {
  color: #ffffff; }
.sfc .wdgttl-search {
  padding-left: 18px;
  padding-right: 10px;
  margin-left: 5px;
  width: 80px; }
.theme1 .sfc .wdgttl-search {
  height: 20px;
  border: 1px #171a1f solid;
  color: #c4c8d2;
  background-color: #171a1f; }
.theme2 .sfc .wdgttl-search {
  height: 20px;
  border: 1px #f0f0f0 solid;
  color: #333333;
  background-color: #f0f0f0; }
.theme2 .sfc .wdgttl-search {
  background-image: -moz-linear-gradient(top, #f0f0f0 0%, whitesmoke 30%, whitesmoke 30%, white 100%);
  background-image: -webkit-linear-gradient(top, #f0f0f0 0%, whitesmoke 30%, whitesmoke 30%, white 100%);
  background-image: -ms-linear-gradient(top, #f0f0f0 0%, whitesmoke 30%, whitesmoke 30%, white 100%);
  background-image: linear-gradient(top, #f0f0f0 0%, whitesmoke 30%, whitesmoke 30%, white 100%); }
.sfc .wdgttl-btn-search {
  border-style: solid;
  margin-bottom: 0;
  border-radius: 0;
  padding-bottom: 5px;
  padding-left: 10px;
  font-size: 11px;
  margin-top: 0;
  z-index: 2;
  border: 0;
  height: 23px;
  background-color: transparent; }
.sfc .wdgttl-tab-item {
  white-space: nowrap;
  display: table-cell;
  overflow: hidden;
  vertical-align: middle;
  font-size: 11px;
  font-weight: bold; }
.theme1 .sfc .wdgttl-tab-item {
  height: 26px;
  color: #707c8d;
  border-right: 1px #242931 solid; }
.theme2 .sfc .wdgttl-tab-item {
  height: 26px;
  color: #ffffff;
  border-right: 1px #104754 solid; }
.theme2 .sfc .wdgttl-tab-item {
  height: 25px; }
.sfc .wdgttl-tab-item a {
  padding: 0 10px 0 10px; }
.theme1 .sfc .wdgttl-tab-item .active a {
  color: #67809f; }
.theme2 .sfc .wdgttl-tab-item .active a {
  color: #ffffff; }
.theme1 .sfc .wdgttl-tab-item:first-child {
  border-left: 0 #242931 solid; }
.theme2 .sfc .wdgttl-tab-item:first-child {
  border-left: 0 #104754 solid; }
.theme2 .sfc .wdgttl-tab-item:first-child {
  border-left: 1px #104754 solid; }
.sfc .wdgttl-tab-item:hover {
  cursor: pointer; }
.theme1 .sfc .wdgttl-tab-item:hover {
  background-color: rgba(23, 26, 31, 0.3);
  color: #67809f; }
.theme2 .sfc .wdgttl-tab-item:hover {
  background-color: #114a59;
  color: #ffffff; }
.theme1 .sfc .wdgttl-tab-panel {
  color: #707c8d; }
.theme2 .sfc .wdgttl-tab-panel {
  color: #ffffff; }
.sfc .wdgttl-tab-panel .active {
  font-weight: normal; }
.theme1 .sfc .wdgttl-tab-panel .active {
  color: #67809f;
  background-color: #171a1f; }
.theme2 .sfc .wdgttl-tab-panel .active {
  color: #ffffff;
  background-color: #6bbfc5; }
.theme2 .sfc .wdgttl-tab-panel .active {
  border-bottom: 1px #47aeb6 solid;
  box-shadow: 0 1px 0 #2192ae inset;
  background-image: -moz-linear-gradient(0deg, #6bbfc5 7%, #60bac1 100%);
  background-image: -webkit-linear-gradient(0deg, #6bbfc5 7%, #60bac1 100%);
  background-image: -ms-linear-gradient(0deg, #6bbfc5 7%, #60bac1 100%);
  background-image: linear-gradient(0deg, #6bbfc5 7%, #60bac1 100%); }
.sfc .wdgttl-tab-panel .active a {
  font-weight: normal; }
.theme1 .sfc .wdgttl-tab-panel .active a {
  color: #67809f; }
.theme2 .sfc .wdgttl-tab-panel .active a {
  color: #ffffff; }
.theme1 .sfc .wdgttl-tab-link {
  color: #707c8d; }
.theme2 .sfc .wdgttl-tab-link {
  color: #ffffff; }
.theme1 .sfc .wdgttl-tab-link:hover {
  color: #67809f; }
.theme2 .sfc .wdgttl-tab-link:hover {
  color: #ffffff; }
.theme1 .sfc .wdgttl-fore-color, .sfc .wdgttl-fore-color:hover, .sfc .wdgttl-fore-color:focus {
  color: #707c8d; }
.theme2 .sfc .wdgttl-fore-color, .sfc .wdgttl-fore-color:hover, .sfc .wdgttl-fore-color:focus {
  color: #ffffff; }
.sfc .wdgttl-drp-dwn-btn {
  height: 25px !important;
  border-radius: 0px !important;
  font-size: 11px;
  font-weight: normal; }
.theme1 .sfc .wdgttl-drp-dwn-btn {
  color: #67809f;
  border: 1px #242931 solid;
  background-color: #242931; }
.theme2 .sfc .wdgttl-drp-dwn-btn {
  color: #ffffff;
  border: 1px #155c6e solid;
  background-color: #155c6e; }
.theme2 .sfc .wdgttl-drp-dwn-btn {
  border: 1px #0c353f solid;
  border-top: 0 #0c353f solid;
  background-image: -moz-linear-gradient(top, #155c6e 0%, #124e5d 50%, #0a2d36 100%);
  background-image: -webkit-linear-gradient(top, #155c6e 0%, #124e5d 50%, #0a2d36 100%);
  background-image: -ms-linear-gradient(top, #155c6e 0%, #124e5d 50%, #0a2d36 100%);
  background-image: linear-gradient(top, #155c6e 0%, #124e5d 50%, #0a2d36 100%); }
.theme1 .sfc .wdgttl-drp-dwn-btn:active {
  color: #67809f;
  border: 1px #242931 solid; }
.theme2 .sfc .wdgttl-drp-dwn-btn:active {
  color: #ffffff;
  border: 1px #0c353f solid; }
.theme2 .sfc .wdgttl-drp-dwn-btn:active {
  background-image: -moz-linear-gradient(0, #155c6e 0%, #124e5d 50%, #0a2d36 100%);
  background-image: -webkit-linear-gradient(0, #155c6e 0%, #124e5d 50%, #0a2d36 100%);
  background-image: -ms-linear-gradient(0, #155c6e 0%, #124e5d 50%, #0a2d36 100%);
  background-image: linear-gradient(0, #155c6e 0%, #124e5d 50%, #0a2d36 100%); }
.sfc .wdgttl-btn-dropdown {
  padding: 4px 4px 4px 0;
  background: rgba(255, 255, 255, 0);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  border: 1px solid transparent; }
.sfc .wdgttl-btn-dropdown:focus {
  outline-style: none; }
.sfc .wdgttl-table-header {
  padding-top: 5px; }
.theme2 .sfc .wdgttl-table-header {
  border-top: 1px #e8e8e8 solid;
  border-bottom: 1px #c7c7c7 solid;
  background-image: -moz-linear-gradient(0deg, #e6e6e6 0%, #fcfcfc 100%);
  background-image: -webkit-linear-gradient(0deg, #e6e6e6 0%, #fcfcfc 100%);
  background-image: -ms-linear-gradient(0deg, #e6e6e6 0%, #fcfcfc 100%);
  background-image: linear-gradient(0deg, #e6e6e6 0%, #fcfcfc 100%); }

.sfc .rtpnl-container {
  padding-bottom: 6px; }
.sfc .rtpnl-container .position-show {
  left: 0;
  top: 0;
  position: relative; }
.sfc .rtpnl-container .position-hide {
  left: 25000px;
  top: 25000px;
  position: absolute; }
.sfc .rtpnl-container .collapse-content {
  margin-top: 110px;
  height: calc(100% - 115px);
  width: 230px;
  z-index: 300;
  top: 0;
  right: 0;
  left: auto;
  display: none;
  background-color: #fff;
  overflow-x: hidden;
  position: fixed !important; }
.theme1 .sfc .rtpnl-container .collapse-content {
  border: 1px #22262e solid; }
.theme2 .sfc .rtpnl-container .collapse-content {
  border: 1px #d1d1d1 solid; }
.theme2 .sfc .rtpnl-container .collapse-content {
  box-shadow: 1px 1.732px 11px 0px #5c5c5c; }
.sfc .rtpnl-container .collapse-overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  z-index: 200; }
.sfc .rtpnl-container .right-panel-collapse {
  top: 0;
  width: 45px;
  overflow: visible;
  padding: 0;
  list-style: none;
  margin: 5px 0 0 0;
  white-space: nowrap; }
.theme1 .sfc .rtpnl-container .right-panel-collapse {
  background: #171a1f; }
.theme2 .sfc .rtpnl-container .right-panel-collapse {
  background: #a58c84;
}
.sfc .rtpnl-container .right-panel-collapse-ul {
  padding-top: 47px;
  list-style: none;
  padding-right: 4px; }
.sfc .rtpnl-container .right-panel-collapse li {
  text-align: center;
  padding: 90px 0 10px 0; }
.sfc .rtpnl-container .right-panel-collapse li a {
  display: block;
  text-decoration: none;
  font-size: 12px;
  text-align: center;
  cursor: pointer; }
.theme1 .sfc .rtpnl-container .right-panel-collapse li a {
  color: #616d7d; }
.theme2 .sfc .rtpnl-container .right-panel-collapse li a {
  color: #ffffff; }
.sfc .rtpnl-container .right-panel-collapse li a:hover {
  text-decoration: none; }
.theme1 .sfc .rtpnl-container .right-panel-collapse li a:hover {
  color: #616d7d; }
.theme2 .sfc .rtpnl-container .right-panel-collapse li a:hover {
  color: #f1f1f1; }
.sfc .rtpnl-container .right-panel-collapse .vertical-item {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  /* Safari/Chrome */
  -moz-transform: rotate(-90deg);
  /* Firefox */
  -o-transform: rotate(-90deg);
  /* Opera */
  -ms-transform: rotate(-90deg);
  /* IE 9 */ }

.sfc .appttl {
  width: 100%;
  height: 30px;
  z-index: 100;
  position: absolute;
  /*    &-toolbar-fore-color {
      @include theme((
              color: app-title-toolbar-fore-color
      ));
    }*/ }
.theme1 .sfc .appttl {
  border-bottom: 1px #242931 solid;
  background-color: #242931; }
.theme2 .sfc .appttl {
  border-bottom: 1px #0f4350 solid;
  background-color: #155c6e; }
.theme2 .sfc .appttl {
  border-bottom: 1px #0f4350 solid;
  background-image: -moz-linear-gradient(0deg, #155c6e 0%, #1c7c95 100%);
  background-image: -webkit-linear-gradient(0deg, #155c6e 0%, #1c7c95 100%);
  background-image: -ms-linear-gradient(0deg, #155c6e 0%, #1c7c95 100%);
  background-image: linear-gradient(0deg, #155c6e 0%, #1c7c95 100%);
  box-shadow: 1.3px 2.2px 7px 0px #0d3843; }
.sfc .appttl-height {
  height: 30px; }
.theme1 .sfc .appttl-logo-fore-color {
  color: #c4c8d2; }
.theme2 .sfc .appttl-logo-fore-color {
  color: #ffffff; }
.theme1 .sfc .appttl-fore-color {
  color: #c4c8d2; }
.theme2 .sfc .appttl-fore-color {
  color: #ffffff; }
.theme1 .sfc .appttl-fade-fore-color {
  color: #a3abb6; }
.theme2 .sfc .appttl-fade-fore-color {
  color: #e6e6e6; }
.theme1 .sfc .appttl-light-bg-fore-color {
  color: #c4c8d2; }
.theme2 .sfc .appttl-light-bg-fore-color {
  color: #333333; }
.theme1 .sfc .appttl-up-fore-color {
  color: #019875; }
.theme2 .sfc .appttl-up-fore-color {
  color: #67d795; }
.theme1 .sfc .appttl-down-fore-color {
  color: #fe7071; }
.theme2 .sfc .appttl-down-fore-color {
  color: #ff7171; }
.theme1 .sfc .appttl-up-back-color {
  background-color: #019875; }
.theme2 .sfc .appttl-up-back-color {
  background-color: #2ba25c; }
.theme1 .sfc .appttl-down-back-color {
  background-color: #fe7071; }
.theme2 .sfc .appttl-down-back-color {
  background-color: #ff7171; }
.theme1 .sfc .appttl-vline {
  border-left: 1px solid #3a414e; }
.theme2 .sfc .appttl-vline {
  border-left: 1px solid #0d3843; }
.sfc .appttl-logo-upper {
  margin-top: -5px;
  font-size: 10px;
  padding: 2px 4px 2px 4px;
  background-image: -moz-linear-gradient(90deg, #404e6b 0%, #5f6a86 100%);
  background-image: -webkit-linear-gradient(90deg, #404e6b 0%, #5f6a86 100%);
  background-image: -ms-linear-gradient(90deg, #404e6b 0%, #5f6a86 100%);
  border-radius: 3px;
  margin-left: 3px;
  margin-right: 4px; }
.theme1 .sfc .appttl-logo-upper {
  color: #c4c8d2; }
.theme2 .sfc .appttl-logo-upper {
  color: #ffffff; }
.sfc .appttl-search {
  padding-right: 10px;
  width: 122px;
  border-radius: 3px; }
.theme1 .sfc .appttl-search {
  height: 29px;
  border: 0 #242931 solid;
  background: #171a1f; }
.theme2 .sfc .appttl-search {
  height: 29px;
  border: 0 #0f4350 solid;
  background: #ffffff; }
.theme2 .sfc .appttl-search {
  height: 24px;
  padding-left: 24px; }
.sfc .appttl-search-rsponsive {
  width: 78px; }
.theme1 .sfc .appttl .input-group-btn {
  display: none; }
.theme2 .sfc .appttl .input-group-btn {
  display: none; }
.theme2 .sfc .appttl .input-group-btn {
  display: block; }
.sfc .appttl-btn-search {
  border-style: solid;
  margin-bottom: 0;
  border-radius: 0;
  padding: 5px;
  padding-left: 10px;
  font-size: 11px;
  margin-top: 0;
  z-index: 2;
  border: 0;
  height: 23px;
  background-color: transparent; }
.sfc .appttl-btn-special {
  font-weight: normal !important;
  height: 31px !important;
  border-radius: 0;
  font-size: 11px;
  padding-bottom: 8px; }
.theme1 .sfc .appttl-btn-special {
  color: #c4c8d2;
  border: 1px #171a1f solid;
  background-color: #171a1f; }
.theme2 .sfc .appttl-btn-special {
  color: #ffffff;
  border: 1px #155c6e solid;
  background-color: #155c6e; }
.theme2 .sfc .appttl-btn-special {
  background-image: -moz-linear-gradient(top, #155c6e 0%, #0a2d36 100%);
  background-image: -webkit-linear-gradient(top, #155c6e 0%, #0a2d36 100%);
  background-image: -ms-linear-gradient(top, #155c6e 0%, #0a2d36 100%);
  background-image: linear-gradient(top, #155c6e 0%, #0a2d36 100%); }
.theme1 .sfc .appttl-btn-special:hover {
  background: ""; }
.theme2 .sfc .appttl-btn-special:hover {
  background: ""; }
.theme1 .sfc .appttl-toolbar-back-clr {
  background-color: #242931; }
.theme2 .sfc .appttl-toolbar-back-clr {
  background-color: #17677b; }
.theme2 .sfc .appttl-toolbar-back-clr {
  background-image: -moz-linear-gradient(top, #17677b 0%, #0f4350 30%);
  background-image: -webkit-linear-gradient(top, #17677b 0%, #0f4350 30%);
  background-image: -ms-linear-gradient(top, #17677b 0%, #0f4350 30%);
  background-image: linear-gradient(top, #17677b 0%, #0f4350 30%); }
.sfc .appttl-version {
  padding-top: 2px; }
.theme1 .sfc .appttl-dark-back-color {
  background-color: #242931; }
.theme2 .sfc .appttl-dark-back-color {
  background-color: #0f4350; }
.sfc .appttl-logo-image-size img {
  max-width: 155px;
  max-height: 16px; }


@import 'extended/widget-title-extended';


