$landscape-order-ticket-height: 335px;

.trade-row-1 {
  height: $landscape-order-ticket-height !important;
}

.trade-row-3-with-margin {
  @include generate-widget-height($landscape-order-ticket-height + $app-widget-gap * 2);
}

.trade-row-2 {
  @include generate-widget-height($landscape-order-ticket-height);
}