<div class="layout-container full-height full-width">
    <div class="layout-container full-width pad-m-b pad-l-lr">
        <div class="layout-col-6 font-m"></div>
        <div class="layout-col-2"></div>
        <div class="layout-col-6">
            <a {{action 'changeCaptcha'}}>
                <img src="{{captchaImage}}" class="border-top border-right border-bottom border-left"/>
            </a>
        </div>
        <div class="layout-col-10"></div>
    </div>

    <div class="layout-container full-width pad-m-b pad-l-lr">
        <div class="layout-col-6 font-m">{{app.lang.labels.imageText}}<span class="pad-s-l down-fore-color">*</span></div>
        <div class="layout-col-2"></div>
        <div class="layout-col-6">
            {{input value=captchaText class="form-control search-query mgn-m-r"}}
        </div>
        <div class="layout-col-10"></div>
    </div>
</div>
