<div class="layout-col appttl-height">
    <div class="layout-inline {{if isTablet 'appttl-dropdown-container' 'mgn-m-l appttl-btn-special'}}">
        <div class="layout-inline">
            {{#if isTablet}}
                <div class="font-m appttl-fade-fore-color pad-s-t pad-s-l">{{app.lang.labels.portfolio}} <span class="layout-inline secondary-tit pad-m-l pad-xs-r font-s v-top">({{currentPortfolio.curr}})</span></div>
            {{/if}}

            {{bootstrap-dropdown-select
            options=portfolios
            defaultSelect=currentPortfolio
            valueKey="tradingAccId"
            labelKey=portfolioDes
            selectAction="onSelectPortfolio"
            buttonClass="appttl-btn-special"
            lblClass="btn-lbl-m"}}
        </div>

        {{#unless isTablet}}
            {{#if currentPortfolio.curr}}
                <div class="layout-inline secondary-tit pad-m-r font-s">({{currentPortfolio.curr}})</div>
            {{/if}}
        {{/unless}}
    </div>

    <!-- Commented as Portfolio Value is Showing as 0 -->

    <!--<div class="layout-inline pad-l-l font-l">-->
    <!--{{!#if isTablet}}-->
    <!--<div class="font-m appttl-fade-fore-color mgn-m-r">{{!app.lang.labels.value}}</div>-->
    <!--<div class="bold appttl-fore-color pad-s-t">{{!formatNumber currentPortfolio.cashAccount.valuation}}</div>-->
    <!--{{!else}}-->
    <!--<span class="font-m appttl-fade-fore-color mgn-m-r">{{!app.lang.labels.value}}</span>-->
    <!--<span class="bold appttl-fore-color">{{!formatNumber currentPortfolio.cashAccount.valuation}}</span>-->
    <!--{{!/if}}-->
    <!--</div>-->

    <div class="layout-inline pad-l-l font-l">
        {{#if isTablet}}
            <div class="font-m appttl-fade-fore-color mgn-m-r">{{app.lang.labels.buyingPower}}</div>
            <div class="bold appttl-fore-color pad-s-t">{{formatNumber currentPortfolio.cashAccount.buyPwr decimalPlaces}}</div>
        {{else}}
            <span class="font-m appttl-fade-fore-color mgn-m-r">{{app.lang.labels.buyingPower}}</span>
            <span class="bold appttl-fore-color">{{formatNumber currentPortfolio.cashAccount.buyPwr}}</span>
        {{/if}}
    </div>
</div>
{{#unless isTablet}}
    <div class="layout-col font-m appttl-fade-fore-color pad-l-l pad-s-r">{{app.lang.labels.gainLossRatio}}</div>
{{/unless}}
<div class="layout-col-24 appttl-fore-color font-l pad-m-l" title="{{gainLossTitle.labels.gainLossPer}}">
    {{#if isTablet}}
        <div {{bind-attr class=":layout-col :pad-m-lr :appttl-height :bold :appttl-fore-color changeCss"}}>
            <div class="font-m appttl-fade-fore-color pad-m-r">{{app.lang.labels.gainLossRatio}}</div>
            <div>
                <span class="layout-inline ltr pad-s-t">{{formatNumber currentPortfolio.gainLoss decimalPlaces}}
                    <span class="pad-s-lr font-s">{{formatNumber currentPortfolio.gainLossPer}}%</span>
                </span>
            </div>
        </div>
    {{else}}
        <span {{bind-attr class=":layout-inline :ltr :pad-m-lr :bold :pad-m-t :appttl-height changeCss"}}>{{formatNumber currentPortfolio.gainLoss}}
            <span class="pad-s-l font-s">{{formatNumber currentPortfolio.gainLossPer}}%</span>
        </span>
    {{/if}}
</div>
