<ul class="dropdown-menu dropdown-menu-height y-scroll display-block" role="menu" aria-labelledby="menu3">
    {{#each item in tifTypeOptions}}
        <li class="btn-animation font-xx-l pad-s-tb">
            <a class="hint--bottom hint--bounce hint--rounded" href="#" data-hint="{{item.tiffsTitle}}" {{action 'onTifTypeChanged' item}}>{{item.des}}</a>
        </li>
    {{/each}}
</ul>
