<div class="widget_new full-width full-height" id="{{pageContainer}}" style="height: 89px;"> <!-- Inline style used to restore full screen to normal screen-->
    {{#if isLandscapeMode}}
        {{chart-status-panel
        stock=symbolObj
        isShareIconDisabled=isShareIconDisabled
        onOrientationChanged="onOrientationChanged"
        isLandscapeMode=isLandscapeMode}}

        <div {{bind-attr class=":layout-container :pad-m-t :pad-s-b isLandscapeMode:pad-m-lr"}}>
            <div id="periodsDropdownContainer-{{wkey}}" class="layout-col">
                <div id="periodsDropdown-{{wkey}}" data-id="period-dropdown" class="layout-col overflow-visible pad-s-l">
                    {{tab-dropdown
                    isDropdown=false
                    displayList=arrDisplayPeriods
                    newActive=chartViewPeriod
                    defaultSelect=chartPeriod
                    labelKey="DisplayName"
                    actionName="chartTypeSelected"
                    tabPanelClass="widget-tab-panel"
                    tabItemClass="layout-inline widget-tab-item"
                    tabLinkClass="layout-inline"
                    }}
                </div>
            </div>

            <div data-id="chartStyles-dropdown" class="layout-col dropdown overflow-visible pad-l-l">
                {{bootstrap-dropdown-select
                options=chartStyles
                value=chartStyle.DisplayName
                valueKey="DisplayName"
                labelKey="DisplayName"
                selectAction="setChartStyle"}}
            </div>
            <div class="layout-col dropdown overflow-visible pad-l-l">
                {{bootstrap-dropdown-select
                options=indicators
                isStaticLableEnabled=true
                staticLabel=app.lang.labels.chartIndicator
                valueKey="DisplayName"
                labelKey="DisplayName"
                selectAction="onCreateStudy"}}
                <!--<button class="btn-default pad-s-lr btn-small dropdown-text-only btn-animation" type="button"-->
                <!--data-toggle="dropdown" id="dropdownMenu1">-->
                <!--<div class="layout-col ellipsis">-->
                <!--{{!app.lang.labels.chartIndicator}}-->
                <!--</div>-->
                <!--<div class="layout-col pad-s-l">-->
                <!--{{!#if Ember.isIos}}-->
                <!--<i class="icon-angle-down font-xxx-l"></i>-->
                <!--{{!else}}-->
                <!--<i class="icon-arrow-lowerright font-xx-l v-bottom"></i>-->
                <!--{{!/if}}-->
                <!--</div>-->
                <!--</button>-->
                <!--<ul class="dropdown-menu dropdown-menu-height y-scroll" role="menu" aria-labelledby="menu1">-->
                <!--{{!#each item in indicators}}-->
                <!--<li><a href="#" {{!action 'onCreateStudy' item}}>{{!item.DisplayName}}</a></li>-->
                <!--{{!/each}}-->
                <!--</ul>-->
            </div>

            <div class="layout-col pad-l-l">
                <button class="btn-default btn-small btn-animation pad-s-lr" type="button" {{action 'onResetChart'}}>
                    <span class="ellipsis">
                        {{app.lang.labels.reset}}
                    </span>
                </button>
            </div>
        </div>
    {{/if}}

    <div {{bind-attr class=":layout-container :full-width isLandscapeMode:pad-m-lr isLandscapeMode:pad-s-b chartHeightStyle"}}>
        <div {{bind-attr class=":layout-inline :full-width :full-height :pos-rel chartContainer"}}></div>
    </div>
</div>