<div class="widget_new full-height">
    {{widget-header
    widgetTitle=app.lang.labels.orderBookCalc
    hideWidgetLink=true
    innerWidgets=innerWidgets
    innerWidgetAction="renderInnerWidgetItems"}}

    <div class="nano has-scrollbar" style="height: calc(100% - 25px);">
        <div class="nano-content full-height">
            <div class="layout-container full-width pad-l-lr">
                <div class="layout-col-8">
                    <div class="layout-container full-width">
                        <div class="layout-col-6 font-m  h-middle">
                            {{order-confirmation
                            isEnabled=false
                            id=confirmationPopupId
                            invoker=invoker
                            onReset="onReset"
                            app=app}}
                        </div>
                        <div class="layout-col-8 font-m pad-widget-left "></div>
                    </div>
                    <div class="layout-container full-width pad-m-t">
                        <div class="layout-col-6 font-m  h-left">  {{app.lang.labels.portfolio}}</div>
                        <div class="layout-col-8 font-m pad-widget-left h-left">
                            {{bootstrap-dropdown-select
                            options=portfolios
                            defaultSelect=currentPortfolio
                            valueKey="tradingAccId"
                            labelKey='tradingAccId'
                            selectAction="setPortfolio"
                            lblClass="btn-lbl-m"
                            }}
                        </div>
                    </div>
                    <div class="layout-container full-width pad-m-t">
                        <div class="layout-col-6 font-m  h-left">  {{app.lang.labels.symbol}}</div>
                        <div class="layout-col-8 font-m pad-widget-left ">
                            <div class="layout-inline">
                <span class="input-group hint--bounce hint--rounded hint--bottom" style="width:100px"
                      data-hint={{app.lang.labels.searchSymbol}}>
                    {{input-field-text type="text" value=searchKey onKeyPress="showSearchPopup" onFocusOut="validateSearchKey" id=searchFieldId
                    class="search-query bold symbol-fore-color form-control" placeholder=app.lang.labels.search disabled=invoker.orderStrategy.isSymbolDisabled}}
                </span>
                            </div>

                            <div class="layout-inline">
                                <div class="modal-symbol">
                                    {{#modal-popup isEnabled=false id=symbolSearchId}}
                                        {{global-search
                                        enableContentSettings=false
                                        searchKey=searchKey
                                        showWidgetButtons=true
                                        closePopup='closeSearchPopup'
                                        openPopup='showSearchPopup'
                                        stopGlobalNotification=true
                                        clickAction='onSymbolSelected'
                                        excludedInstruments=excludedInstruments}}
                                    {{/modal-popup}}
                                </div>
                            </div>
                        </div>
                    </div>
                    {{#modal-popup isEnabled=false id=messagePopupId}}
                        <div class="message-box-frame messege-box-inner">
                            <div class="message-box-title">{{invoker.message}} !</div>
                            {{#each errorMessage in invoker.errorMessages}}
                                <div class="v-middle font-x-l"></div>
                                <div class="pad-m-all font-x-l">{{errorMessage}}</div>
                            {{/each}}

                        </div>
                    {{/modal-popup}}
                    <div class="layout-container full-width pad-m-t">
                        <div class="layout-col-6 font-m  h-left">  {{app.lang.labels.orderType}}</div>
                        <div class="layout-col-8 font-m pad-widget-left ">
                            {{bootstrap-dropdown-select
                            options=dropDownOrderType
                            valueKey='des'
                            labelKey='des'
                            selectAction='onTypeChanged'
                            }}
                        </div>
                    </div>
                    <div class="layout-container full-width pad-m-t">
                        <div class="layout-col-6 font-m  h-left">  {{app.lang.labels.quantity}}</div>
                        <div class="layout-col-8 font-m pad-widget-left ">
                            {{input-field-number class="form-control order-ticket-text-boxes search-query fade-fore-color h-right"
                            decimalPlaces=0
                            maxlength=15
                            numValue=invoker.orderParams.ordQty}}
                        </div>
                    </div>
                    <div class="layout-container full-width pad-m-t">
                        <div class="layout-col-6 font-m  h-left">  {{app.lang.labels.price}}</div>
                        <div class="layout-col-8 font-m pad-widget-left ">
                            {{input-field-number class="form-control order-ticket-text-boxes search-query fade-fore-color h-right"
                            decimalPlaces=2
                            maxlength=15
                            numValue=invoker.orderParams.price}}
                        </div>
                    </div>
                </div>
                <div class="layout-col-4"></div>
                <div class="layout-col-12"></div>
            </div>
            <div class="layout-container pad-m-tb pad-l-l">
                <div class="layout-col">
                    <div class="layout-inline">
                        <button type="submit" autofocus
                                class="btn btn-dropdown btn-default btn-buy" {{action 'onBuy'}}>{{app.lang.labels.buy}}</button>
                    </div>
                    <div class="layout-inline pad-s-l">
                        <button type="submit" autofocus
                                class="btn btn-dropdown btn-default kyc-btn" {{action 'onResetOrder'}}>{{app.lang.labels.reset}}</button>
                    </div>
                    <div class="layout-inline pad-s-l">
                        <button class="btn btn-dropdown btn-default btn-sell" {{action 'onSell'}}>{{app.lang.labels.sell}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>