$theme1-colors-extended: (
        pallete-color1: #0a1015,
        pallete-color3: #1bc98e,
        pallete-color4: #ff5d5d,
        pallete-color5: #e1e3e8,
        pallete-color6: #cfcfd0,
        pallete-color7: #5fb3f7,
        pallete-color10: #5fb3f7,
        pallete-color11: "darken(pallete-color3, 10)",
        pallete-color13: #394950,
        pallete-color15: #17222b,

        // Title
        base-color-title: "use(pallete-color15)",

        // Widget
        base-color-widget-separator: "lighten(pallete-color15, 5)",
        base-color-widget-border: "lighten(pallete-color15, 5)",
        base-color-widget-ui-control: "lighten(base-color-widget, 13)",
        base-color-widget-toolbar: "lighten(pallete-color1, 5)",

        // Widget Menu
        base-back-color-widget-menu-header: "lighten(base-color-widget-title, 3)",

        // Widget - Tabs
        base-fore-color-widget-title: "use(fade-fore-color)",

        // Table
        base-color-table-header: "use(base-color-app-title)",

        // Bottom Menu
        base-color-bottom-menu: "use(pallete-color6)",

        // Data Table Colors
        base-color-table-selected: "lighten(pallete-color1, 4)",

        app-back-color: "use(pallete-color1)",
        semi-transparent-back-color: rgba(000, 000, 000, 0.2),

        fore-color: "lighten(pallete-color5, 15)",
        container-back-color: "use(app-back-color)",
        app-title-toolbar-back-color: "use(app-back-color)",
        news-icon-color: "use(highlight-fore-color)",
        progress-bar-back-color: "lighten(base-color-widget, 10)",
        hnav-selected-fore-color: "darken(pallete-color6, 30)",
        highlight-back-color-1: "use(pallete-color8)",
        disable-back-color: "use(pallete-color13)",

        // Up Down Back Colors
        fade-up-back-color: "alpha(up-back-color, 0.15)",
        fade-up-back-color-2: "lighten(fade-up-back-color, 1)",

        fade-down-back-color: "alpha(down-fore-color, 0.15)",
        fade-down-back-color-2: "lighten(fade-down-back-color, 1)",

        // Bottom Menu
        bottom-menu-fore-color: "darken(base-color-bottom-menu, 31)",

        // Widget - Tabs
        tab-selected-color-border: "use(base-color-app-menu-selected)",

        // Data Table Colors
        table-row-alternate-back-color: "darken(table-row-back-color, 3)",

        // Chart
        chart-border-color: "lighten(base-color-chart, 30)",

        // Common TextBox
        textbox-border-color: "lighten(pallete-color8, 32)",
);