.title-bar-logo {
  padding-top: 3px;
  max-width: 90px;
  vertical-align: middle;
}

.title-bar-vertical-separator {
  margin-top: 6px;
  height: 31px;
  float: $float-3;
  margin-bottom: 8px;
  margin-left: 1px;
  position: absolute;

  @include theme((
          border-left: "1px solid {app-title-vertical-line}"
  ));
}

.appttl-dropdown-container {
  height: 45px !important;
  border-radius: 0;

  @include theme((
          color: app-title-fore-color,
          border: "1px {app-title-ui-control} solid",
          background-color: app-title-ui-control

  ));

  @include theme-classic((
          background-image: "linear-gradient(top, {app-title-ui-control} 0%, {app-title-ui-control-gradient} 100%)"
  ));
}

.appttl-btn-special {
  font-weight: bold !important;
  height: 22px !important;
  border: none;
  font-size: 12px;

  @include theme((
          background-color: "transparent",
          border: none,
          box-shadow: none
  ));

  @include theme-classic((
          background-image: none
  ));
}

.appttl-search {
  @include theme-classic((
          padding-left: '4px',
  ));
}

.search-width-start {
  width: 0;
}
.search-width-end {
  width: 140px;
}

.search-popup-position {
  top: 36px;
  left: 711px;
}