<div class="layout-container">

    <div data-id="title-search" class="layout-inline pos-rel">
        {{input id=customerSearchFieldId type="text" value=cusSearchKey action="showCustSearchPopup" on="key-press" class="search-query appttl-search form-control mousetrap" placeholder="Find Customer.."}}
        <div class="input-group-btn pos-abs top-zero fore-color">
            <button class="btn appttl-btn-search" {{action 'showCustSearchPopup'}} >
                <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
            </button>
        </div>
    </div>

    <div class="fore-color">
        {{#modal-popup isEnabled=false id=customerSearchId}}
            {{customer-search-popup searchKey=cusSearchKey
            closePopup='closeCustSearchPopup'
            openPopup='showCustSearchPopup'
            analyticsKey=gaKey
            app=app
            wkey=containerKey
            clickAction='onCustomerSelected'
            stopGlobalNotification=true
            }}
        {{/modal-popup}}
    </div>

    <div class="layout-col pad-s-l">
        <div class="layout-inline">
                <span class="input-group hint--bounce hint--rounded hint--bottom" style="width:100px"
                      data-hint={{app.lang.labels.searchSymbol}}>
                    {{input-field-text type="text" value=searchKey onKeyPress="showSearchPopup" onFocusOut="validateSearchKey" id=searchFieldId
                    class="search-query bold symbol-fore-color form-control" placeholder=app.lang.labels.search disabled=invoker.orderStrategy.isSymbolDisabled}}
                </span>
        </div>

        <div class="layout-inline">
            <div class="modal-symbol">
                {{#modal-popup isEnabled=false id=symbolSearchId}}
                    {{global-search
                        enableContentSettings=false
                        searchKey=searchKey
                        showWidgetButtons=true
                        closePopup='closeSearchPopup'
                        openPopup='showSearchPopup'
                        stopGlobalNotification=true
                        clickAction='onSymbolSelected'
                        excludedInstruments=excludedInstruments
                        isOptionMode=isOptionMode
                    }}
                {{/modal-popup}}
            </div>
        </div>
    </div>

    <div class="layout-col mgn-m-lr overflow-visible" {{bind-attr title=app.lang.labels.portfolio}}>
        {{bootstrap-dropdown-select
            options=accountDropdownOptions
            defaultSelect=invoker.currentPortfolio
            value=invoker.currentPortfolio.tradingAccId
            valueKey="tradingAccId"
            labelKey=portfolioDes
            selectAction="onSelectPortfolio"
            lblClass="btn-lbl-m"
            isDropdownDisabled=invoker.orderStrategy.isPortfolioDisabled
            wkey=wkey
        }}
    </div>

    <div class="layout-col pad-l-l border-right-topbar">
        <div class="layout-inline">
            <div>
                <span {{bind-attr class="perChgCss :font-m"}}><i {{bind-attr class="changeSign"}}></i></span>
                <span class="font-l bold highlight-fore-color">{{formatNumber invoker.symbolInfo.ltp invoker.symbolInfo.deci}}</span>
            </div>
            <div>
                <span {{bind-attr class=":font-m :bold perChgCss"}}>{{formatNumberPercentage invoker.symbolInfo.pctChg}}</span>
                <span {{bind-attr class=":font-m :pad-s-r :pad-s-l changeCss"}} >{{formatNumber invoker.symbolInfo.chg invoker.symbolInfo.deci}}</span>
            </div>
        </div>
    </div>


    <div class="layout-col pad-l-l">
        <div class="font-m fade-fore-color mgn-s-b">{{app.lang.labels.low}} / {{app.lang.labels.high}}</div>
        <div class="font-m fore-color bold">{{formatNumber invoker.symbolInfo.low invoker.symbolInfo.deci}}
            / {{formatNumber invoker.symbolInfo.high invoker.symbolInfo.deci}}</div>
    </div>
    <div class="layout-col pad-l-l">
        <div class="font-m fade-fore-color mgn-s-b">{{app.lang.labels.min}} / {{app.lang.labels.max}}</div>
        <div class="font-m fore-color bold">{{formatNumber invoker.symbolInfo.min invoker.symbolInfo.deci}}
            / {{formatNumber invoker.symbolInfo.max invoker.symbolInfo.deci}}</div>
    </div>
    <div class="layout-col pad-l-l ellipsis">
        <div class="font-m fade-fore-color mgn-s-b">{{app.lang.labels.buy}} / {{app.lang.labels.sellPending}}</div>
        <div class="font-m fore-color bold"><span
                class="up-fore-color">{{formatNumber invoker.currentHolding.pendBuy 0}}</span> / <span
                class="down-fore-color">{{formatNumber invoker.currentHolding.pendSell 0}}</span></div>
    </div>
</div>
