<div class="full-height container-back-color">

    <!-- <div class="layout-container full-width pad-l-tb">
        <div class="layout-col-1"></div>
        <div class="layout-col-22">
            <div class="left"> <img src="assets/img/logo.png"/> </div>
            <div class="right font-m"> &lt;!&ndash;Some Text&ndash;&gt; </div>
        </div>
        <div class="layout-col-1"></div>
    </div> -->

    <div class="layout-container full-width registration-container-height">
        <div class="layout-col-1 hidden-xs"></div>
        <div class="widget_new layout-col-22">

            <div class="layout-container full-width wdgttl {{if isMobile 'pad-m-t' 'pad-l-t'}}">
                <div class="layout-col wdgttl-header pad-s-l mgn-l-r {{if isMobile 'pad-m-b' 'pad-l-b'}}"> {{app.lang.labels.registration}} </div>
                <div class="layout-col-24"></div>
            </div>

            <div class="info-back-color pad-s-tb">
                <div class="layout-container full-width pad-s-l">
                    <div class="layout-col wdgttl-tab-panel" data-tabs="tabs">
                        {{#each tabItem in registerTabArray}}
                            <div class="pad-s-lr wdgttl-tab-item disable-link {{if tabItem.isActive 'active'}}" role="presentation">
                                <a href="#" role="tab" data-toggle="tab" class="wdgttl-tab-link bold wdgttl-fore-color font-xl">{{tabItem.displayName}}</a>
                            </div>
                        {{/each}}
                    </div>

                    <div class="layout-col-24"></div>
                </div>
            </div>

            <div class="overflow-auto registration-container-height">
                {{outlet 'registrationTabOutlet'}}
            </div>
        </div>
        <div class="layout-col-1 hidden-xs"></div>
    </div>

    <div class="layout-container full-width pos-abs bottom-zero mgn-m-b">
        <div class="layout-container full-width pad-m-tb">
            <div class="layout-col-24 down-fore-color font-s pad-m-lr">
                <div class="pad-s-t white-space-normal h-middle">{{app.lang.messages.registrationWarning}}</div>
            </div>
        </div>

        <div class="layout-container full-width pad-m-b">
            <div class="layout-col-24 text-center font-s pad-m-lr">
                <div class="white-space-normal h-middle"> {{replaceCopyrightText}} </div>
                {{#unless isMobile}}
                    <div class="pad-s-t pad-m-b white-space-normal h-middle"> {{app.lang.labels.bestViewResolution}} </div>
                {{/unless}}
            </div>
        </div>
    </div>
</div>
