.ar .ms-top-bar {

  &-index-value {
    width: 110px;
    padding-left: 5px;
  }

  &-chart {
    width: 50px;
    margin-left: 0;
    margin-right: 30px;
  }

  &-chartIcon {
    padding-left: 29px;
    margin-right: -12px;
  }

  &-padding-x-large-left {
    padding-right: 20px;
  }

  &-index-value {
    width: 195px;
    padding-left: 18px;
  }

  &-align-cash-map {
    text-align: center;
  }

  &-vertical-top {
    margin-left: -26px;
    margin-right: 0;
  }

  &-index-dropdown {
    margin-left: 0;
  }

  &-change {
    margin-left: 0;
  }
}