<div class="watchlist-tools mgn-s-t mgn-s-lr" style="height:25px">

  <div class="sec-1 left">
    <span>
        <span class="input-group fav-panel-width" >
                {{input type="text" value=addStockSearchKey action="showSearchPopup" on="key-press" class="search-query form-control mousetrap" placeholder=app.lang.labels.addSymbols }}
            <span class="input-group-btn">
                    <button class="btn btn-default" {{action 'showSearchPopup'}} >
                        <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
                    </button>
                </span>
        </span>
        <div class="modal-symbol">
        {{#modal-popup isEnabled=false id="watchListSymbolSearch"}}
            {{global-search
            searchKey=addStockSearchKey
            showWidgetButtons=showWidgetButtons
            stopGlobalNotification=true
            clickAction='addStocksFromCustomWL'
            analyticsKey=gaKey
            wkey=wkey}}
        {{/modal-popup}}
        </div>
    </span>
      
  </div>
 
  <div class="sec-2">

    <span class="horizontal-list-right pad-m-l">
        <div class="dropdown">
            <button type="button" class="btn btn-dropdown btn-default dropdown-toggle" {{action 'loadMoreColumnsDropDown'}} data-toggle="dropdown" aria-expanded="false">
                {{app.lang.labels.moreColumns}}
                <span class="caret"></span>
            </button>
        </div>
    </span>

    <span id="deleteWatchListBtn" class="horizontal-list-right pad-m-l">
        <button type="button" class="btn btn-dropdown btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" {{action 'deleteWatchList'}} {{bind-attr disabled=isDeleteWLDisabled}}>{{app.lang.labels.deleteWL}}</button>
    </span>

    <span class="horizontal-list-right pad-m-l">
    <div class="dropdown">
        <button type="button" class="btn btn-dropdown btn-default dropdown-toggle" data-toggle="dropdown"
                aria-expanded="false" {{action 'setCurrentCustomWLName'}} {{bind-attr disabled=isRenameWLDisabled}}><span class="btn-icon colour-2"></span>  <span>{{app.lang.labels.renameWL}}</span></button>
        <ul class="dropdown-menu" role="menu">
            {{custom-watchlist-dialog
                watchListName=currentCustomWLName
                app=app
                title="renameWL"
                actionType="renameWL"
                currentCustomWLId=currentCustomWLId
                customWLCallBack='renameCustomWLCallBack'
            }}
        </ul>

    </div></span>

<span class="horizontal-list-right pad-m-l">
            <div class="dropdown">
                <button type="button" class="btn btn-dropdown btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-expanded="false"><span class="icon-plus btn-icon colour-2"></span>  <span>{{app.lang.labels.newWatchList}}</span></button>
                <ul class="dropdown-menu" role="menu">
                    {{custom-watchlist-dialog
                        app=app
                        actionType="addNewWL"
                        customWLCallBack='onCustomWlSelect'
                    }}
                </ul>

            </div>
           </span>
  </div>
  
</div>