<div class="widget_new full-height">
    {{widget-header
    hideWidgetLink=true
    innerWidgets=innerWidgets
    innerWidgetAction="renderInnerWidgetItems"
    }}

    <div class="layout-container full-width pad-l-lr">
        <div class="layout-col-10">
            <div class="layout-container full-width pad-m-t">
                <div class="layout-col-5 font-m h-left">{{app.lang.labels.portfolio}}</div>
                <div class="layout-col-8 font-m pad-widget-left h-left">
                    {{bootstrap-dropdown-select
                    options=portfolios
                    defaultSelect=currentPortfolio
                    valueKey="secAccNum"
                    labelKey='secAccNum'
                    selectAction="setPortfolio"
                    lblClass="btn-lbl-m"
                    }}
                </div>
            </div>

            <div class="layout-container full-width pad-m-t">
                <div class="layout-col-5 font-m h-left">{{app.lang.labels.symbol}}</div>
                <div class="layout-col-8 font-m pad-widget-left">
                    <div class="layout-inline">
                <span class="input-group hint--bounce hint--rounded hint--bottom" style="width:100px"
                      data-hint={{app.lang.labels.searchSymbol}}>
                    {{input-field-text type="text" value=searchKey onKeyPress="showSearchPopup" onFocusOut="validateSearchKey" id=searchFieldId
                    class="search-query bold symbol-fore-color form-control" placeholder=app.lang.labels.search disabled=invoker.orderStrategy.isSymbolDisabled}}
                </span>
                    </div>
                    <div class="layout-inline">
                        <div class="modal-symbol">
                            {{#modal-popup isEnabled=false id=symbolSearchId}}
                                {{global-search
                                enableContentSettings=false
                                searchKey=searchKey
                                showWidgetButtons=true
                                closePopup='closeSearchPopup'
                                openPopup='showSearchPopup'
                                stopGlobalNotification=true
                                clickAction='onSymbolSelected'
                                excludedInstruments=excludedInstruments}}
                            {{/modal-popup}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="layout-container full-width pad-m-t">
                <div class="layout-col-5 font-m h-left">{{app.lang.labels.side}}</div>
                <div class="layout-col-8 font-m pad-widget-left">
                    {{bootstrap-dropdown-select
                    options=dropDownBuySell
                    valueKey='des'
                    labelKey='des'
                    selectAction='setSide'
                    }}
                </div>
            </div>
        </div>
        <div class="layout-col-4"></div>
        <div class="layout-col-10"></div>
    </div>
    <div class="layout-container pad-l-t pad-l-l">
        <div class="layout-col">
            <div class="layout-inline">
                <button type="submit" autofocus class="btn btn-dropdown btn-default kyc-btn" {{action 'onSubmit'}}>{{app.lang.labels.submit}}</button>
            </div>

        </div>
    </div>
    <div class="layout-container pad-l-t pad-l-l">
        <div {{bind-attr class=":layout-col :font-m msgCss"}}>{{message}}</div>
    </div>
</div>