<div role="tabpanel" class="tab-pane active ">
    <div {{bind-attr class=":col-12 :left :pad-s-lr :pad-s-t :order-ticket-general-panel invoker.orderStrategy.panelClass"}}>
        <div class="col-4 left">
            <div class="font-m header-colour mgn-s-b order-ticket-lable">{{app.lang.labels.orderType}}</div>
            {{bootstrap-dropdown-select
                    options=orderTypeOptions
                    defaultSelect=selectedOrderType
                    value=invoker.orderParams.ordTyp
                    valueKey="code"
                    labelKey="des"
                    selectAction="onTypeChanged"
                    lblClass="fore-color h-left bold"
                    isDropdownDisabled=invoker.orderStrategy.isOrderTypeDisabled
                    wkey=wkey
            }}
        </div>
        <div class="col-4 left">
            <div class="mgn-s-l form-group left" name="focal-element">
                <label for="symbol" class="font-m header-colour mgn-s-b">{{qtyCaption}}</label>
                {{input-field-number
                elementName="focal-element"
                id=qtyFieldId
                class="form-control order-ticket-text-boxes search-query colour-normal font-l h-right bold"
                maxlength=15
                decimalPlaces=0
                numValue=invoker.orderParams.ordQty
                disabled=invoker.orderStrategy.isQtyDisabled}}
            </div>
        </div>
        <div class="col-4 left">
         <div class="mgn-s-l form-group left">
            <label class="font-m header-colour mgn-s-b">{{app.lang.labels.price}}</label>
            {{input-field-number
            id=orderPriceId
            elementName="focal-element"
            class="form-control order-ticket-text-boxes search-query colour-normal h-right bold"
            decimalPlaces=invoker.symbolInfo.deci
            maxlength=15
            disabled=invoker.orderStrategy.isPriceDisabled
            numValue=invoker.orderParams.displayPrice
            placeholder=mktPlaceholder}}
        </div>
    </div>
    </div>
    <div {{bind-attr class=":col-12 :left :pad-s-lr :order-ticket-general-panel invoker.orderStrategy.panelClass"}}>
        <div class="col-4 left">
            <div class="font-m header-colour mgn-s-b" style="margin-top: 3px;">{{app.lang.labels.goodTill}}</div>
            <div class="col-12 left" style="margin-top: 2px;">
                {{#if isDatePickerEnabled}}
                    <div class="col-xs-9 mgn-s-r">
                        {{bootstrap-datepicker
                        readonly=isTablet
                        language=lan
                        placeholder="Select Date"
                        class="search-query form-control"
                        value=expDateTime
                        autoclose=true
                        disabled=invoker.orderStrategy.isTiffDisabled
                        startDate=startDateGTD
                        endDate=endDateGTD
                        format=datePickerFormat}}
                    </div>
                {{/if}}
                <div class="{{tiffDropdownCSS}} {{if isDatePickerEnabled 'col-xs-2'}}">
                    {{bootstrap-dropdown-select
                            options=tifTypeOptions
                            defaultSelect=selectedTifType
                            value=invoker.orderParams.tif
                            valueKey="code"
                            labelKey="des"
                            isStaticLableEnabled=isDatePickerEnabled
                            selectAction="onTifTypeChanged"
                            lblClass="fore-color h-left bold"
                            buttonClass="btn-order-tif"
                            isDropdownDisabled=invoker.orderStrategy.isTiffDisabled
                            wkey=wkey
                    }}
                </div>
            </div>
        </div>
        <div class="col-4 left">
            <div class="mgn-s-l form-group left" style="margin-top:-1px">
                <label for="disclosed" class="font-m header-colour mgn-s-b h-right">{{app.lang.labels.disclosedQty}}</label>
                {{input-field-number
                id=orderDisQtyId
                elementName="focal-element"
                class="form-control order-ticket-text-boxes search-query fade-fore-color font-l h-right bold"
                decimalPlaces=0
                maxlength=15
                disabled=invoker.orderStrategy.isDisclosedDisabled
                numValue=invoker.orderParams.disQty}}
            </div>
        </div>
        <div class="col-4 left">
            <div class="mgn-s-l form-group left" style="margin-top:-1px">
                <label for="disclosed" class="font-m header-colour mgn-s-b h-right">{{app.lang.labels.minFill}}</label>
                {{input-field-number
                id=orderMinQtyId
                elementName="focal-element"
                class="form-control order-ticket-text-boxes search-query fade-fore-color h-right bold"
                decimalPlaces=0
                maxlength=15
                disabled=invoker.orderStrategy.isMinQtyDisabled
                numValue=invoker.orderParams.minQty}}
            </div>
        </div>
    </div>
</div>
