$theme2-colors-extended: (
        pallete-color1: #2a3885,
        pallete-color2: #f8bc16,
        pallete-color18: #0fce74,
        pallete-color19: #3875b8,
        pallete-color20: #6973A9,

        // App Menu - Base Colors
        base-fore-color-app-menu: "lighten(pallete-color1, 45)",
        base-color-app-menu-selected:  "use(pallete-color1)",

        // Widget Title - Tabs
        widget-title-back-color: "use(pallete-color20)",
        widget-title-back-color-gradient: "use(widget-title-back-color)",
        widget-title-selected-tab-back-color-gradient: "use(widget-title-selected-tab-back-color)",

        // App Title Bar Theme Colors
        app-title-up-fore-color: "use(pallete-color18)",
        app-title-down-back-color: "use(down-back-color)",
        app-title-back-color-gradient: "use(app-title-back-color)",

        // App Menu - Group Tab
        app-menu-fore-color: "use(base-fore-color-app-menu)",

        // App Menu Sub Tabs
        app-menu-active-fore-color: "use(pallete-color6)",
        app-menu-sub-tab-fore-color: "use(pallete-color6)",
        app-menu-sub-tab-back-color:  "use(pallete-color19)",
        app-menu-selected-sub-tab-back-color: "use(pallete-color2)",
);