<div class="full-height login-back login">
    <div class="overlay-body" id="divOtpLogin">
        <div class="top-panel pad-l-tb">
            {{#if isMobile}}
                <div class="h-middle v-middle logo-area-css"><img class="m-logo" src="assets/img/co-branded.png"></div>
            {{else}}
                <div class="logo-new h-middle"><img class="full-width" src="assets/img/index-main-logo.png"></div>
            {{/if}}
        </div>

        <div style="width:100%">
            <div style="height:233px;width:288px;margin:auto;">
                <div class="full-width">
                    <div class="font-m text-justify pad-m-lr pad-m-tb h-left white-space-normal txt"> {{app.lang.messages.registeredMobile}} {{mobileNo}}. {{app.lang.messages.otpDetail}} </div>
                </div>

                <label class="left mgn-m-t">
                    <span class="txt left text-justify" id="otpInfo"></span>
                    <span class="txt login-animation-username mgn-m-t left text-justify" id="otpAuthCodeInfo"></span>
                </label>

                {{input value=otpPin type='' id='otpLoginPin' autofocus='autofocus' placeholder=app.lang.labels.otpPin class="otp-input input-text-box login-input full-width login-animation-username mgn-m-t mgn-m-b pad-m-b left txt"}}

                <div class="login-error-msg login-animation-message" id="otpMsg" style="background-color: #e15848; min-height:42px; max-height: 150px; overflow: auto; font-size: 12px;color: rgb( 255, 255, 255 );line-height:3; text-align:left; width:100%; display: none; padding-left:30px"> {{message}} </div>

                <div style="overflow:auto;" class="full-width login-animation-button right pad-m-t pad-m-b" id="otpLoginButton" >
                    <label style="margin-top:7px" class="label-align left">
                        <a class="highlight-fore-color" {{action 'onBackToLogin'}}> {{app.lang.labels.backToLogin}} </a>
                        <!--<a id="forgotPassword" class="remember link" {{!action 'resendOtp'}}> {{!app.lang.labels.resendOtp}} </a>-->
                    </label>

                    <span class="right">
                        <button id="btnOtpLogin" class="btn btn-dropdown btn-default right highlight-back-color-1 dark-bg-fore-color border-none" {{action 'onSubmit'}} disabled={{isOTPSubmitDisabled}}> {{app.lang.labels.verify}} </button>
                    </span>
                </div>
            </div>
        </div>

        <div class="login-footer" style="margin-top: 165px;">
            <div style="margin: 0 auto; width: 150px;">
                <div class="logo-footer" style="margin-top: 20px; margin-bottom: 20px;">
                    <img class="full-width" src="assets/img/index-footer-logo.png"/>
                </div>
            </div>
            <div style="margin: 0 auto; width: 330px; text-align: center;">
                <span style="color:#4E7182; font-size:11px;" id="spanCopyright">{{replaceCopyrightText}}</span> <br>
            </div>

        </div>

    </div>
</div>
