$theme2-colors-extended: (
        pallete-color1: #006a56,
        pallete-color2: #f8bc16,
        pallete-color18: #f8bc16,
        pallete-color19: #157ea2,
        pallete-color20: #1c7d96,

        base-color-widget-title-tab-selected: "use(pallete-color18)",
        base-color-widget-tab-selected: "use(pallete-color18)",

        app-menu-fore-color-hover: #f1f1f1,
        app-menu-back-color-hover: #ee3124,
        app-menu-selected-sub-tab-back-color: "use(pallete-color18)",
);