<div class="nano full-width full-height col-xs-12">
    <div class="full-height nano-content">
        <div class="col-xs-12 brkClassic-trade-row-1">
            <div class="full-width widget-outlet">
                {{outlet "w1"}}
            </div>
        </div>
        <div class="col-xs-12 brkClassic-trade-row-2">
            <div class="col-xs-6 widget-outlet">
                {{outlet "w2"}}
            </div>
            <div class="col-xs-6 widget-outlet">
                {{outlet "w3"}}
            </div>
        </div>
    </div>
</div>