{{#if headerAvailable}}
    {{widget-header
    widgetTitle=app.lang.labels.cashTransfer
    hideWidgetLink=true
    innerWidgets=innerWidgets
    innerWidgetAction="renderInnerWidgetItems"}}
{{/if}}

<div class="layout-container full-width pad-m-tb pad-m-lr">
    <div class="layout-row">
        <div class="layout-container full-width pad-m-b pad-l-lr">
            <div class="layout-col-6  font-m "></div>
            <div class="layout-col-2  font-m "></div>
            <div class="layout-col-4  font-m ">{{app.lang.labels.highRisk}}</div>
            <div class="layout-col-2  font-m "></div>
            <div class="layout-col-4  font-m ">{{app.lang.labels.medRisk}}</div>
            <div class="layout-col-2  font-m "></div>
            <div class="layout-col-4  font-m ">{{app.lang.labels.lowRisk}}</div>
        </div>
    </div>
    <div class="layout-row">
        <div class="layout-container full-width pad-m-b pad-l-lr">
            <div class="layout-col-6  font-m ">{{app.lang.labels.sharesPer}} <span class="pad-s-l down-fore-color">*</span></div>
            <div class="layout-col-2  font-m "></div>
            <div class="layout-col-4  font-m ">
                {{input-field-number class="form-control order-ticket-text-boxes search-query fade-fore-color h-right"
                decimalPlaces=0
                maxlength=15
                numValue=dataObj.sharesHighRisk}}
            </div>
            <div class="layout-col-2  font-m "></div>
            <div class="layout-col-4  font-m ">
                {{input-field-number class="form-control order-ticket-text-boxes search-query fade-fore-color h-right"
                decimalPlaces=0
                maxlength=15
                numValue=dataObj.sharesMedRisk}}
            </div>
            <div class="layout-col-2  font-m "></div>
            <div class="layout-col-4  font-m "></div>
        </div>
    </div>
    <div class="layout-row">
        <div class="layout-container full-width pad-m-b pad-l-lr">
            <div class="layout-col-6  font-m ">{{app.lang.labels.debtInstrumentsPer}} <span class="pad-s-l down-fore-color">*</span></div>
            <div class="layout-col-2  font-m "></div>
            <div class="layout-col-4  font-m ">
                {{input-field-number class="form-control order-ticket-text-boxes search-query fade-fore-color h-right"
                decimalPlaces=0
                maxlength=15
                numValue=dataObj.debtInstrmntsHighRisk}}
            </div>
            <div class="layout-col-2  font-m "></div>
            <div class="layout-col-4  font-m ">
                {{input-field-number class="form-control order-ticket-text-boxes search-query fade-fore-color h-right"
                decimalPlaces=0
                maxlength=15
                numValue=dataObj.debtInstrmntsMedRisk}}
            </div>
            <div class="layout-col-2  font-m "></div>
            <div class="layout-col-4  font-m ">
                {{input-field-number class="form-control order-ticket-text-boxes search-query fade-fore-color h-right"
                decimalPlaces=0
                maxlength=15
                numValue=dataObj.debtInstrmntsLowRisk}}
            </div>
        </div>
    </div>
    <div class="layout-row ">
        <div class="layout-container full-width  pad-m-b pad-l-lr">
            <div class="layout-col-6  font-m ">{{app.lang.labels.investmentFundsPer}} <span class="pad-s-l down-fore-color">*</span></div>
            <div class="layout-col-2  font-m "></div>
            <div class="layout-col-4  font-m ">
                {{input-field-number class="form-control order-ticket-text-boxes search-query fade-fore-color h-right"
                decimalPlaces=0
                maxlength=15
                numValue=dataObj.invstmntFundHighRisk}}
            </div>
            <div class="layout-col-2  font-m "></div>
            <div class="layout-col-4  font-m ">
                {{input-field-number class="form-control order-ticket-text-boxes search-query fade-fore-color h-right"
                decimalPlaces=0
                maxlength=15
                numValue=dataObj.invstmntFundMedRisk}}
            </div>
            <div class="layout-col-2  font-m "></div>
            <div class="layout-col-4  font-m ">
                {{input-field-number class="form-control order-ticket-text-boxes search-query fade-fore-color h-right"
                decimalPlaces=0
                maxlength=15
                numValue=dataObj.invstmntFundLowRisk}}
            </div>
        </div>
    </div>
    <div class="layout-row ">
        <div class="layout-container full-width pad-m-b pad-l-lr">
            <div class="layout-col-6  font-m ">{{app.lang.labels.tradeFinancePer}} <span class="pad-s-l down-fore-color">*</span></div>
            <div class="layout-col-2  font-m "></div>
            <div class="layout-col-4  font-m "></div>
            <div class="layout-col-2  font-m "></div>
            <div class="layout-col-4  font-m "></div>
            <div class="layout-col-2  font-m "></div>
            <div class="layout-col-4  font-m ">
                {{input-field-number class="form-control order-ticket-text-boxes search-query fade-fore-color h-right"
                decimalPlaces=0
                maxlength=15
                numValue=dataObj.tradeFinanceLowRisk}}
            </div>
        </div>
    </div>
    <div class="layout-row ">
        <div class="layout-container full-width pad-m-b pad-l-lr">
            <div class="layout-col-6  font-m ">{{app.lang.labels.commodities}} <span class="pad-s-l down-fore-color">*</span></div>
            <div class="layout-col-2  font-m "></div>
            <div class="layout-col-4  font-m ">
                {{input-field-number class="form-control order-ticket-text-boxes search-query fade-fore-color h-right"
                decimalPlaces=0
                maxlength=15
                numValue=dataObj.commdtsHighRisk}}
            </div>
            <div class="layout-col-2  font-m "></div>
            <div class="layout-col-4  font-m "></div>
            <div class="layout-col-2  font-m "></div>
            <div class="layout-col-4  font-m "></div>
        </div>
    </div>
    <div class="layout-row ">
        <div class="layout-container full-width pad-m-b pad-l-lr">
            <div class="layout-col-6  font-m ">{{app.lang.labels.optionsPer}} <span class="pad-s-l down-fore-color">*</span></div>
            <div class="layout-col-2  font-m "></div>
            <div class="layout-col-4  font-m ">
                {{input-field-number class="form-control order-ticket-text-boxes search-query fade-fore-color h-right"
                decimalPlaces=0
                maxlength=15
                numValue=dataObj.optionsHighRisk}}
            </div>
            <div class="layout-col-2  font-m "></div>
            <div class="layout-col-4  font-m "></div>
            <div class="layout-col-2  font-m "></div>
            <div class="layout-col-4  font-m "></div>
        </div>
    </div>
    <div class="layout-row ">
        <div class="layout-container full-width pad-m-b pad-l-lr">
            <div class="layout-col-6  font-m ">{{app.lang.labels.total}} <span class="pad-s-l down-fore-color">*</span></div>
            <div class="layout-col-2  font-m "></div>
            <div class="layout-col-4  font-m ">
                {{input-field-number class="form-control order-ticket-text-boxes search-query fade-fore-color h-right bold"
                decimalPlaces=0
                maxlength=15
                numValue=totVal
                disabled=true}}
            </div>
            <div class="layout-col-2  font-m "></div>
            <div class="layout-col-4  font-m "></div>
            <div class="layout-col-2  font-m "></div>
            <div class="layout-col-4  font-m "></div>
        </div>
    </div>
    <div class="layout-row ">
        <div class="layout-container full-width pad-m-tb pad-l-lr">
            <div class="layout-col  font-m ">{{app.lang.labels.investmentCaption}} </div>
        </div>
    </div>

    {{#if isRequiredFieldsNotFilled}}
        <div class="layout-row ">
            <div class="layout-container full-width pad-m-tb pad-l-lr">
                <div class="layout-col  font-m down-fore-color">{{app.lang.messages.mandatoryFields}} </div>
            </div>
        </div>
    {{/if}}

    <div class="layout-row ">
        <div class="layout-container full-width pad-m-tb pad-l-lr">
            <div class="layout-col-6 font-m">
                <button type="submit" autofocus
                        class="btn btn-dropdown btn-default" {{action 'onSaveInvestments'}}>{{app.lang.labels.save}}</button>
            </div>
        </div>
    </div>
</div>


