<div class="layout-container full-width pad-m-tb pad-m-lr">
    <div class="layout-row">
        <div class="layout-container full-width pad-m-b pad-l-lr">
            <div class="layout-col-6  font-m ">{{app.lang.labels.shares}}</div>

            <div class="layout-col-4  font-m ">
                {{input-field-number class="form-control order-ticket-text-boxes search-query fade-fore-color h-right"
                decimalPlaces=0
                maxlength=15
                numValue=dataObj.shares}}
            </div>
            <div class="layout-col-2  font-m "></div>
            <div class="layout-col-6  font-m ">{{app.lang.labels.investmentFunds}}</div>
            <div class="layout-col-4  font-m ">
                {{input-field-number class="form-control order-ticket-text-boxes search-query fade-fore-color h-right"
                decimalPlaces=0
                maxlength=15
                numValue=dataObj.investmentFunds}}
            </div>
        </div>
    </div>
    <div class="layout-row ">
        <div class="layout-container full-width  pad-m-b pad-l-lr">
            <div class="layout-col-6  font-m ">{{app.lang.labels.debtInstrument}}</div>
            <div class="layout-col-4  font-m ">
                {{input-field-number class="form-control order-ticket-text-boxes search-query fade-fore-color h-right"
                decimalPlaces=0
                maxlength=15
                numValue=dataObj.debtInstrument}}
            </div>
            <div class="layout-col-2  font-m "></div>
            <div class="layout-col-6  font-m ">{{app.lang.labels.commodities}}</div>
            <div class="layout-col-4  font-m ">
                {{input-field-number class="form-control order-ticket-text-boxes search-query fade-fore-color h-right"
                decimalPlaces=0
                maxlength=15
                numValue=dataObj.commodities}}
            </div>
        </div>
    </div>
    <div class="layout-row ">
        <div class="layout-container full-width  pad-m-b pad-l-lr">
            <div class="layout-col-6  font-m ">{{app.lang.labels.foreignExchanges}}</div>
            <div class="layout-col-4  font-m ">
                {{input-field-number class="form-control order-ticket-text-boxes search-query fade-fore-color h-right"
                decimalPlaces=0
                maxlength=15
                numValue=dataObj.foreignExchanges}}
            </div>
            <div class="layout-col-2  font-m "></div>
            <div class="layout-col-6  font-m ">{{app.lang.labels.derivateAndOptions}}</div>
            <div class="layout-col-4  font-m ">
                {{input-field-number class="form-control order-ticket-text-boxes search-query fade-fore-color h-right"
                decimalPlaces=0
                maxlength=15
                numValue=dataObj.derivateAndOptions}}
            </div>
        </div>
    </div>
    <div class="layout-row ">
        <div class="layout-container full-width  pad-m-b pad-l-lr">
            <div class="layout-col-6  font-m ">{{app.lang.labels.deposits}}</div>
            <div class="layout-col-4  font-m ">
                {{input-field-number class="form-control order-ticket-text-boxes search-query fade-fore-color h-right"
                decimalPlaces=0
                maxlength=15
                numValue=dataObj.deposits}}
            </div>
            <div class="layout-col-2  font-m "></div>
            <div class="layout-col-6  font-m ">{{app.lang.labels.realEstate}}</div>
            <div class="layout-col-4  font-m ">
                {{input-field-number class="form-control order-ticket-text-boxes search-query fade-fore-color h-right"
                decimalPlaces=0
                maxlength=15
                numValue=dataObj.realEstate}}
            </div>
        </div>
    </div>
    <div class="layout-row ">
        <div class="layout-container full-width  pad-m-b pad-l-lr">
            <div class="layout-col-6  font-m ">{{app.lang.labels.tradeFinance}}</div>
            <div class="layout-col-4  font-m ">
                {{input-field-number class="form-control order-ticket-text-boxes search-query fade-fore-color h-right"
                decimalPlaces=0
                maxlength=15
                numValue=dataObj.tradeFinance}}
            </div>
            <div class="layout-col-2  font-m "></div>
            <div class="layout-col-6  font-m "></div>
            <div class="layout-col-4  font-m "></div>
        </div>
    </div>
    <div class="layout-row ">
        <div class="layout-container full-width  pad-m-b pad-l-lr">
            <div class="layout-col-6  font-m ">{{app.lang.labels.total}}</div>
            <div class="layout-col-4  font-m ">
                {{input-field-number class="form-control order-ticket-text-boxes search-query fade-fore-color h-right bold"
                decimalPlaces=0
                maxlength=15
                numValue=totVal
                disabled=true}}
            </div>
            <div class="layout-col-2  font-m "></div>
            <div class="layout-col-6  font-m "></div>
            <div class="layout-col-4  font-m "></div>
        </div>
    </div>

    <div class="layout-row ">
        <div class="layout-container full-width  pad-m-b pad-l-lr">
            <div class="layout-col-6  font-m ">{{app.lang.labels.investmentKnldgeExp}}</div>
            <div class="layout-col-4  font-m "> {{bootstrap-dropdown-select
            options=knowledgeLevelCollection
            value= dataObj.investKnowledge
            valueKey='displayDes'
            labelKey='displayDes'
            buttonClass=buttonClass
            }}</div>
            <div class="layout-col-2  font-m "></div>
            <div class="layout-col-6  font-m ">{{app.lang.labels.clientPreferredInvestment}}</div>
            <div class="layout-col-4  font-m "> {{bootstrap-dropdown-select
            options=assetCollection
            value= dataObj.clientPreferedInvest
            valueKey='displayDes'
            labelKey='displayDes'
            buttonClass=buttonClass
            }}</div>
        </div>
    </div>
    <div class="layout-row ">
        <div class="layout-container full-width  pad-m-b pad-l-lr">
            <div class="layout-col-6  font-m ">{{app.lang.labels.investementProfileClientRisk}}</div>
            <div class="layout-col-4  font-m "> {{bootstrap-dropdown-select
            options=riskTypeCollection
            value= dataObj.investProfile
            valueKey='displayDes'
            labelKey='displayDes'
            buttonClass=buttonClass
            }}</div>
            <div class="layout-col-2  font-m "></div>
            <div class="layout-col-6  font-m ">{{app.lang.labels.stateForeignCurr}}</div>
            <div class="layout-col-4  font-m ">{{input value=foreignCurr disabled="true" type="text" class="form-control search-query"}}</div>
        </div>
    </div>
    <div class="layout-row ">
        <div class="layout-container full-width  pad-m-b pad-l-lr">
            <div class="layout-col-6  font-m ">{{app.lang.labels.generalInvestmentObjectives}}</div>
            <div class="layout-col-4  font-m "> {{bootstrap-dropdown-select
            options=investmentObjectiveCollection
            value= dataObj.generalInvestObj
            valueKey='displayDes'
            labelKey='displayDes'
            buttonClass=buttonClass
            }}</div>
            <div class="layout-col-2  font-m "></div>
            <div class="layout-col-6  font-m ">{{app.lang.labels.clientClassification}}</div>
            <div class="layout-col-4  font-m "> {{bootstrap-dropdown-select
            options=clientClassificationCollection
            value= dataObj.clientClass
            valueKey='displayDes'
            labelKey='displayDes'
            buttonClass=buttonClass
            }}</div>
        </div>
    </div>

    {{#if isRequiredFieldsNotFilled}}
        <div class="layout-row ">
            <div class="layout-container full-width pad-m-tb pad-l-lr">
                <div class="layout-col  font-m down-fore-color">{{app.lang.messages.mandatoryFields}} </div>
            </div>
        </div>
    {{/if}}

    <div class="layout-row ">
        <div class="layout-container full-width pad-m-tb pad-l-lr">
            <div class="layout-col-6 font-m">
                <button type="submit" autofocus
                        class="btn btn-dropdown btn-default" {{action 'onSaveInvestmentsInfo'}}>{{app.lang.labels.save}}</button>
            </div>
        </div>
    </div>
</div>
