<div id="{{widgetContainerKey}}" {{bind-attr class=":col-xs-12 :full-height"}}>
    <div class="widget_new full-height full-width">
        {{widget-header
        widgetTitle=title
        hideWidgetLink=true
        innerWidgets=innerWidgets
        innerWidgetAction="renderInnerWidgetItems"
        isWidgetCloseAvailable=isWidgetCloseAvailable
        closeWidgetAction= 'closeWidgetAction'
        closeActionTarget=controller
        cursorMoveCss=cursorMoveCss
        app=app
        }}

        <div class="nano has-scrollbar">
            <div class="widget-container-new full-height-without-header nano-content">

                {{#if isTabsAvailable}}
                    <div class="layout-container pad-widget-top pad-m-b pad-widget-left pad-widget-right full-width">
                        <div data-id="dividendsAction-dropdown" class="layout-col overflow-visible">
                            {{tab-dropdown
                            displayList=kycTabsArr
                            newActive=cusInfoTabsActive
                            labelKey='DisplayName'
                            actionName='kycTabSelected'
                            tabPanelClass='widget-tab-panel disable-link'
                            tabItemClass='layout-inline widget-tab-item'
                            tabLinkClass='layout-inline fore-color'
                            }}
                        </div>
                        <div class="layout-col-24"></div>
                    </div>
                {{/if}}

                {{outlet 'staticOutlet'}}

                {{#if isDynamic}}
                    {{#each itemGroup in groupCollection}}
                        {{#if itemGroup.isSubHeadingEnable}}
                            <div class="layout-container full-width pad-l-tb pad-l-l">
                                <div class="font-m bold fade-fore-color">{{itemGroup.grpDes}}</div>
                            </div>
                        {{/if}}
                        <div class="layout-container full-width">
                            <div class="layout-col-10 v-top overflow-visible">
                                {{#each item in itemGroup.rightCollection}}
                                    {{#if item.isText}}
                                        <div {{bind-attr class=":layout-container :full-width :pad-m-b :pad-l-l item.isInvisible:visibility-hidden: visibility-visible"}}>
                                            <div {{bind-attr class=":layout-col-12 :font-m pad-s-r :h-left :white-space-normal item.isMandatory:down-fore-color:fade-fore-color"}}>{{item.displayDes}} {{#if item.isRequired}}
                                                <span class="pad-s-l down-fore-color">*</span>{{/if}}</div>
                                            <div {{bind-attr class="item.arProp:layout-col-6:layout-col-12 :font-m item.isDisabled:disable-style"}}>
                                                {{#if item.isInt}}
                                                    {{input-field-number class="form-control order-ticket-text-boxes search-query fore-color h-left"
                                                    decimalPlaces=item.decimal
                                                    maxlength=item.maxLen
                                                    numValue=item.value
                                                    placeholder=item.placeHolderTxt
                                                    disabled=item.isDisabled
                                                    }}
                                                {{else if item.isString}}
                                                    {{input-field-letter value=item.value disabled=item.isDisabled maxlength=item.maxLen placeholder=item.placeHolderTxt class="form-control search-query fore-color"}}
                                                {{else}}
                                                    {{input value=item.value disabled=item.isDisabled maxlength=item.maxLen placeholder=item.placeHolderTxt class="form-control search-query fore-color"}}
                                                {{/if}}
                                            </div>

                                            {{#if item.arProp}}
                                                <div {{bind-attr class=":layout-col-6 :pad-s-l :font-m item.isDisabled:disable-style"}}>
                                                    {{input-field-letter value=item.valueAR disabled=item.isDisabled placeholder=item.placeHolderTxtAR class="form-control search-query fore-color"}}
                                                </div>
                                            {{/if}}
                                        </div>
                                    {{else if item.isDropdown}}
                                        <div {{bind-attr class=":layout-container :full-width :pad-m-b :pad-l-l item.isInvisible:visibility-hidden: visibility-visible"}}>
                                            <div {{bind-attr class=":layout-col-12 :font-m :pad-s-r :h-left :white-space-normal item.isMandatory:down-fore-color:fade-fore-color"}}>  {{item.displayDes}} {{#if item.isRequired}}
                                                <span class="pad-s-l down-fore-color">*</span>{{/if}}</div>
                                            <div class="layout-col-12 font-m  h-left">
                                                <div class="layout-col">
                                                    {{bootstrap-dropdown-select
                                                    defaultSelect=defaultOption
                                                    options=item.collection
                                                    value=item.value
                                                    isDropdownDisabled=item.isDisabled
                                                    valueKey='code'
                                                    labelKey='des'
                                                    buttonClass="fore-color"
                                                    }}
                                                </div>
                                            </div>
                                        </div>
                                    {{else if item.isCheckBox}}
                                        <div {{bind-attr class=":layout-container :full-width :pad-m-b :pad-l-l item.isInvisible:visibility-hidden: visibility-visible"}}>
                                            <div {{bind-attr class=":layout-col-12 :font-m :pad-s-r :h-left :white-space-normal item.isMandatory:down-fore-color:fade-fore-color"}}> {{item.displayDes}}{{#if item.isRequired}}
                                                <span class="pad-s-l down-fore-color">*</span>{{/if}}</div>
                                            <div class="layout-col-12 dropdown overflow-visible">
                                                <button type="button" class="layout-inline btn btn-dropdown btn-default full-width ellipsis fore-color dropdown-toggle" data-toggle="dropdown" aria-expanded="false" disabled={{item.isDisabled}}>
                                                    {{item.itemList}}
                                                    <span class="caret"></span>
                                                </button>
                                                <div class="dropdown-menu" role="menu">
                                                    {{announcement-context-menu
                                                    columns=item.collection
                                                    item=item
                                                    app=app
                                                    saveAction='saveOptions'
                                                    cancelAction='cancelOptions'
                                                    showActionButton=true
                                                    }}
                                                </div>
                                            </div>
                                        </div>
                                    {{else if item.isDate}}
                                        <div {{bind-attr class=":layout-container :full-width :pad-m-b :pad-l-l item.isDisabled:disable-link"}}>
                                            <div {{bind-attr class=":layout-col-12 :font-m :pad-s-r :h-left :white-space-normal item.isMandatory:down-fore-color:fade-fore-color"}}>  {{item.displayDes}} {{#if item.isRequired}}
                                                <span class="pad-s-l down-fore-color">*</span>{{/if}}</div>
                                            <div {{bind-attr class=":layout-col-12 :font-m :h-left item.isDisabled:disable-style"}}>
                                                {{#if item.isHijri}}
                                                    {{input id=item.id value=item.value disabled=item.isDisabled class="font-m date-input-field kyc-date-field fore-color"}}
                                                {{else}}
                                                    {{bootstrap-datepicker
                                                    language=lan
                                                    class="date-input-field kyc-date-field fore-color"
                                                    value=item.value
                                                    autoclose=true
                                                    endDate=item.toEndDate
                                                    startDate=item.fromStartDate
                                                    format=datePickerFormat
                                                    disabled=item.isDisabled
                                                    }}
                                                {{/if}}
                                            </div>
                                        </div>
                                    {{else}}
                                        <div class="layout-container full-width pad-m-b pad-l-l">
                                            <div class="layout-col-12 font-m pad-s-r  h-left white-space-normal v-top fade-fore-color">{{item.displayDes}}</div>
                                            <div class="layout-col-12 font-m  h-left">
                                                {{textarea class="font-m fore-color" value=item.value rows=2}}
                                            </div>
                                        </div>

                                    {{/if}}
                                {{/each}}
                            </div>
                            <div class="layout-col-2 v-top"></div>
                            <div class="layout-col-10 v-top overflow-visible">
                                {{#each item in itemGroup.leftCollection}}
                                    {{#if item.isText}}
                                        <div {{bind-attr class=":layout-container :full-width :pad-m-b :pad-l-r item.isInvisible:visibility-hidden: visibility-visible"}}>
                                            <div {{bind-attr class=":layout-col-12 :font-m :h-left :white-space-normal :pad-s-r item.isMandatory:down-fore-color:fade-fore-color"}}>{{item.displayDes}} {{#if item.isRequired}}
                                                <span class="pad-s-l down-fore-color">*</span>{{/if}}</div>
                                            <div {{bind-attr class=":layout-col-12 :font-m item.isDisabled:disable-style"}}>
                                                {{#if item.isInt}}
                                                    {{input-field-number class="form-control order-ticket-text-boxes search-query fore-color h-left"
                                                    decimalPlaces=item.decimal
                                                    maxlength=item.maxLen
                                                    numValue=item.value
                                                    placeholder=item.placeHolderTxt
                                                    disabled=item.isDisabled
                                                    }}
                                                {{else if item.isString}}
                                                    {{input-field-letter value=item.value disabled=item.isDisabled maxlength=item.maxLen placeholder=item.placeHolderTxt class="form-control search-query fore-color"}}
                                                {{else}}
                                                    {{input value=item.value disabled=item.isDisabled maxlength=item.maxLen placeholder=item.placeHolderTxt class="form-control search-query fore-color"}}
                                                {{/if}}
                                            </div>

                                            {{#if item.arProp}}
                                                <div {{bind-attr class=":layout-col-6 :pad-s-l :font-m item.isDisabled:disable-style"}}>
                                                    {{input-field-letter value=item.valueAR disabled=item.isDisabled placeholder=item.placeHolderTxtAR class="form-control search-query fore-color"}}
                                                </div>
                                            {{/if}}
                                        </div>
                                    {{else if item.isDropdown}}
                                        <div {{bind-attr class=":layout-container :full-width :pad-m-b :pad-l-r item.isInvisible:visibility-hidden: visibility-visible"}}>
                                            <div {{bind-attr class=":layout-col-12 :font-m :h-left :white-space-normal :pad-s-r item.isMandatory:down-fore-color:fade-fore-color"}}>{{item.displayDes}} {{#if item.isRequired}}
                                                <span class="pad-s-l down-fore-color">*</span>{{/if}}</div>
                                            <div class="layout-col-12 font-m  h-left">
                                                <div class="layout-col">
                                                    {{bootstrap-dropdown-select
                                                    defaultSelect=defaultOption
                                                    options=item.collection
                                                    isDropdownDisabled=item.isDisabled
                                                    value=item.value
                                                    valueKey='code'
                                                    labelKey='des'
                                                    buttonClass="fore-color"
                                                    }}
                                                </div>
                                            </div>
                                        </div>
                                    {{else if item.isCheckBox}}
                                        <div {{bind-attr class=":layout-container :full-width :pad-m-b :pad-l-r item.isInvisible:visibility-hidden: visibility-visible"}}>
                                            <div {{bind-attr class=":layout-col-12 :font-m :pad-s-r :h-left :white-space-normal item.isMandatory:down-fore-color:fade-fore-color"}}> {{item.displayDes}}{{#if item.isRequired}}
                                                <span class="pad-s-l down-fore-color">*</span>{{/if}}</div>
                                            <div class="layout-col-12 dropdown  overflow-visible">
                                                <button type="button"
                                                        class="layout-inline btn btn-dropdown btn-default full-width ellipsis fore-color dropdown-toggle"
                                                        data-toggle="dropdown" aria-expanded="false"
                                                        disabled={{item.isDisabled}}>
                                                    {{item.itemList}}
                                                    <span class="caret"></span>
                                                </button>
                                                <div class="dropdown-menu" role="menu">
                                                    {{announcement-context-menu
                                                    columns=item.collection
                                                    app=app
                                                    item=item
                                                    saveAction='saveOptions'
                                                    cancelAction='cancelOptions'
                                                    showActionButton=true
                                                    }}
                                                </div>
                                            </div>
                                        </div>
                                    {{else if item.isDate}}
                                        <div {{bind-attr class=":layout-container :full-width :pad-m-b :pad-l-r item.isDisabled:disable-link"}}>
                                            <div {{bind-attr class=":layout-col-12 :font-m :pad-s-r :h-left :white-space-normal item.isMandatory:down-fore-color:fade-fore-color"}}>{{item.displayDes}} {{#if item.isRequired}}
                                                <span class="pad-s-l down-fore-color">*</span>{{/if}}</div>
                                            <div {{bind-attr class=":layout-col-12 :font-m :h-left item.isDisabled:disable-style"}}>
                                                {{#if item.isHijri}}
                                                    {{input id=item.id value=item.value disabled=item.isDisabled class="font-m date-input-field kyc-date-field fore-color"}}
                                                {{else}}
                                                    {{bootstrap-datepicker
                                                    language=lan
                                                    class="date-input-field kyc-date-field fore-color"
                                                    value=item.value
                                                    autoclose=true
                                                    endDate=item.toEndDate
                                                    startDate=item.fromStartDate
                                                    format=datePickerFormat
                                                    disabled=item.isDisabled
                                                    }}
                                                {{/if}}
                                            </div>
                                        </div>
                                    {{else}}
                                        <div class="layout-container full-width pad-m-b  pad-l-r ">
                                            <div class="layout-col-12 font-m pad-s-r  h-left white-space-normal v-top fade-fore-color">{{item.displayDes}}</div>
                                            <div class="layout-col-12 font-m  h-left">
                                                {{textarea class="font-m" value=item.value rows=2}}
                                            </div>
                                        </div>
                                    {{/if}}
                                {{/each}}

                            </div>
                        </div>
                    {{/each}}
                {{/if}}

                {{#each errorItem in errorCollection}}
                    <div class="layout-container pad-m-b pad-l-l">
                        <div class="layout-col font-l bold down-fore-color">
                            <i class="glyphicon glyphicon-remove pad-s-r font-m"></i> {{errorItem}}
                        </div>
                    </div>
                {{/each}}

                <div class="layout-container full-width pad-m-tb border-top">
                    <div class="layout-col-24">
                        {{#each message in messageCollection}}
                            <div {{bind-attr class=":layout-container :pad-m-t :pad-l-l"}}>
                                <div {{bind-attr class=":layout-col :font-l :bold msgCss"}}>{{message}}</div>
                            </div>
                        {{/each}}
                    </div>
                    <div class="layout-col pad-l-lr">
                        {{#unless isFirstTab}}
                            {{#unless isUpdateSuccess}}
                                <div class="layout-inline pad-s-r">
                                    <button class="btn btn-dropdown btn-default kyc-btn" {{action 'onBack'}}>{{app.lang.labels.back}}</button>
                                </div>
                            {{/unless}}
                        {{/unless}}

                        {{#if isKYC}}
                            {{#if isUpdateSuccess}}
                                <div class="layout-inline pad-s-r">
                                    <button class="btn btn-dropdown btn-default kyc-btn" {{action 'onBack'}}>{{app.lang.labels.back}}</button>
                                </div>
                            {{/if}}
                        {{/if}}

                        {{#if isSaveEnabled}}
                            {{#unless isUpdateSuccess}}
                                <div class="layout-inline pad-s-r">
                                    <button class="btn btn-dropdown btn-default btn-buy border-none btn-animation kyc-btn" {{action 'onSave'}}>
                                        {{#if isKYC}}
                                            {{#if isLastTab}}
                                                {{app.lang.labels.updateSubmit}}
                                            {{else}}
                                                {{app.lang.labels.update}}
                                            {{/if}}
                                        {{else}}
                                            {{app.lang.labels.create}}
                                        {{/if}}
                                    </button>
                                </div>
                            {{/unless}}
                        {{/if}}

                        {{#unless isKYC}}
                            {{#if isFirstTab}}
                                <div class="layout-inline pad-s-r">
                                    <button class="btn btn-dropdown btn-default kyc-btn" {{action 'onBackToLogin'}}> {{app.lang.labels.backToLogin}} </button>
                                </div>
                            {{/if}}
                        {{/unless}}

                        {{#unless isLastTab}}
                            <div class="layout-inline">
                                <button class="btn btn-dropdown btn-default kyc-btn" {{action 'onNext'}}>{{app.lang.labels.next}}</button>
                            </div>
                        {{/unless}}

                        {{#unless isKYC}}
                            {{#if isLastTab}}
                                <div class="layout-inline pad-s-r">
                                    <button class="btn btn-dropdown btn-default kyc-btn" {{action 'onBackToLogin'}}> {{app.lang.labels.backToLogin}} </button>
                                </div>
                            {{/if}}
                        {{/unless}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>