<div class="layout-container full-width pad-m-tb pad-m-lr">
    <div class="layout-row">
        <div class="layout-container full-width pad-m-b pad-l-lr font-m">
            <div class="layout-col-6">{{app.lang.labels.preferredLanguage}}<span class="pad-s-l down-fore-color">*</span></div>
            <div class="layout-col-2"></div>
            <div class="layout-col-6">
                <div class="layout-col">
                    {{bootstrap-dropdown-select
                        options=languageCollection
                        value= dataObj.preferredLanguage
                        valueKey='code'
                        labelKey='displayDes'
                        buttonClass=buttonClass
                    }}
                </div>
                <div class="layout-col-24"></div>
            </div>
            <div class="layout-col-10"></div>
        </div>
    </div>

    <div class="layout-row">
        <div class="layout-container full-width pad-m-b pad-l-lr font-m">
            <div class="layout-col-6">{{app.lang.labels.preferredCallingNo}} <span class="pad-s-l down-fore-color">*</span></div>
            <div class="layout-col-2"></div>
            <div class="layout-col-6">
                <div class="layout-col">
                    {{bootstrap-dropdown-select
                        options=callingMethodCollection
                        value= dataObj.callingMethod
                        valueKey='displayDes'
                        labelKey='displayDes'
                        buttonClass=buttonClass
                    }}
                </div>
                <div class="layout-col-24"></div>
            </div>
            <div class="layout-col-10"></div>
        </div>
    </div>

    <br><br>
    <div class="layout-row">
        <div class="layout-container pad-m-b pad-l-l">
            <div class='underline font-m bold btn-link link'>
                <a {{action 'onURL'}}>{{app.lang.labels.termAndCondition}}</a>
            </div>
        </div>
    </div>

    <div class="layout-row">
        <div class="layout-container pad-m-b pad-l-l">
            <div class="">
                {{input type="checkbox" checked=dataObj.isTermConditionsAccepted }} <span class="font-m pad-m-l bold">{{app.lang.labels.termsConditionsAccept}}</span><span class="pad-s-l down-fore-color">*</span>
            </div>
        </div>
    </div>

    <div class="layout-row">
        {{captcha-component
            isCaptchaValReceived=isCaptchaValReceived
            verifyAction='verifyCaptcha'
            app=app
        }}
    </div>
</div>
