.overlay-body{
  width: 100% !important;
  height: 100vh !important;
  background: #01061f !important;
  background-image: -moz-linear-gradient(90deg, #034a40 0%, #14b49e 90%, #14b49e 100%) !important;
  background-image: -webkit-linear-gradient(90deg, #034a40 0%, #14b49e 90%, #14b49e 100%) !important;
  background-image: -ms-linear-gradient(90deg, #034a40 0%, #14b49e 90%, #14b49e 100%) !important;
}

.login-input {
  background-color: #aaadb0 !important;
}