<div>
    {{#if showSearchResultContainer}}
        <div  class="nano">
        <div class="search-wrapper nano-content">

            <!--search-wrapper start-->
            <div class="search-col-1 display-table-cell">
                {{#each result in content}}
                    {{#if result.isDataUnavailable}}
                        <h2 class="search-title bold font-l pad-s-b">No Result found.</h2>
                    {{else}}
                        <h2 class="search-title bold font-l pad-s-b">{{result.name}}</h2>
                        {{#each result.contents as | content index | }}
                            <div class="layout-container search-row full-width" index={{index}}>
                                <div class="{{customerSearchContainerCss}}" {{action 'onItemSelected' content defaultLink}}>
                                        <div class="{{customerSearchCellCss}}">
                                        <div class="layout-col"><span class="ltr search-symbol ellipsis pad-m-r left font-m bold symbol-fore-color">{{highlightMatchingText content.customerID searchKey}}</span></div>
                                            {{#unless isMobile}}
                                                <div class="layout-col"><span class="search-desc-1 ellipsis left font-m fore-color">{{{highlightMatchingText content.firstName searchKey}}}</span></div>
                                            {{/unless}}
                                        <div class="layout-col"><div class="search-mkt ellipsis left font-m fore-color ltr">{{content.loginAlias}}</div></div>
                                    </div>
                                   <div><p class="search-desc-2 ellipsis font-s fade-fore-color">{{{highlightMatchingText content.lastName searchKey}}}</p></div>
                                </div >
                            </div>
                        {{/each}}
                    {{/if }}
                {{/each}}
            </div>


        </div>
    </div>
    {{/if}}
</div>



