<div id="widget-header-{{wkey}}" class="wdgttl {{cursorMoveCss}}" data-wkey={{wkey}}>
    <!--<div class="wdgttl-horizontal-line"></div>-->
    <div {{bind-attr class=":layout-container :wdgttl-header :full-width widgetClass"}}>
        <!--  =======  First column  ========   -->
        <div class="{{if innerWidgets.isAvailable 'layout-col-24' 'layout-col'}}">
            {{#if isSearchAvailable}}
                <div data-id="title-search" class="layout-inline pos-rel">
                    {{input id=searchID.search type="text" value=searchKey action="showSearchPopup" on="key-press" class="search-query wdgttl-search form-control mousetrap" placeholder=searchedSymbol}}
                    <div class="input-group-btn pos-abs top-zero fore-color">
                        <button class="wdgttl-btn-search" {{action 'showSearchPopup'}} >
                            <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <div class="modal-symbol fore-color">
                    {{#modal-popup isEnabled=false id=searchID.popup}}
                        {{global-search enableContentSettings=false searchKey=searchKey showWidgetButtons=true clickAction='clickAction' stopGlobalNotification=true
                        closePopup='closeSearchPopup' openPopup='showSearchPopup' analyticsKey=gaKey app=app wkey=containerKey}}
                    {{/modal-popup}}
                </div>
            {{/if}}

            {{#if isTitleIconAvailable}}
                <div class="layout-inline pad-s-l"><i class="glyphicon {{icon}} pad-s-r"></i></div>
            {{/if}}

            {{#if innerWidgets.isAvailable}}
                <div data-id="inner-widget" class="layout-inline full-width">
                    <div class="wdgttl-tab-panel layout-container">
                        {{#each innerWidget in innerWidgets.innerTabs}}
                            {{#if innerWidget.isShow}}
                                <div {{bind-attr class=":wdgttl-tab-item :h-middle :text-wrap innerWidget.css"}} {{action 'renderInnerWidgetItems' innerWidget innerWidgets.wDef}} style="width: {{innerTabWidth}}">
                                    <a>
                                        {{#if innerWidget.isSelect}}
                                            <i class="glyphicon glyphicon-plus"></i>
                                        {{else}}
                                            {{#if innerWidgetIcon}}
                                                {{#if innerWidget.css}}
                                                    <span>{{innerWidget.displayDesc}}</span>
                                                {{else}}
                                                    <i class="{{innerWidget.icon}}"></i>
                                                {{/if}}
                                            {{else}}
                                                <span>{{innerWidget.displayDesc}}</span>
                                            {{/if}}
                                        {{/if}}
                                    </a>
                                </div>
                            {{/if}}
                        {{/each}}
                    </div>
                </div>
            {{else}}
                {{#if widgetTitle}}
                    <div class="layout-inline pad-s-l mgn-l-r">{{widgetTitle}}</div>
                {{/if}}
            {{/if}}
            {{#if innerWidgets.isAvailable}}
                <!--Will showe symbole in the tab-->
            {{else}}
                {{#unless hideSymbol}}
                    <div class="layout-inline pad-s-l ltr">{{symbol}} </div>
                {{/unless}}
            {{/if}}
        </div>
        <!--  =======  /First column  ========   -->

        <!--  =======  Scound column  ========   -->
        <div class="layout-col overflow-visible">
            {{#if isTabAvailable}}
                <div  class="layout-col wdgttl-tab-panel pad-m-l">
                    {{#each tabItem in titleTabs}}
                        <div role="presentation" {{bind-attr class=":pad-s-tb :wdgttl-tab-item tabItem.css"}}  {{action 'titleTabAction' tabItem}} >
                            <a class="wdgttl-tab-link hint--top hint--bounce hint--rounded" aria-controls="" role="tab" data-toggle="tab"
                                data-hint={{tabItem.chartperiodTitle}}>
                                {{tabItem.DisplayName}}
                            </a>
                        </div>
                    {{/each}}
                </div>
            {{/if}}

            {{#if isIconTabAvailable}}
                <div  class="layout-col wdgttl-tab-panel">
                    {{#each tabItem in titleTabs}}
                        <div role="presentation" {{bind-attr class=":wdgttl-tab-item :pad-s-all tabItem.css"}} {{action 'titleTabAction' tabItem}}>
                            <a role="tab" data-toggle="tab"
                               class="pad-m-lr font-small hint--top hint--bounce hint--rounded wdgttl-fore-color" data-hint={{tabItem.rightPanelTitleValue}}>
                                <span class={{tabItem.icon}}></span>
                            </a>
                        </div>
                    {{/each}}
                </div>
            {{/if}}

            {{#if isPartialHeaderAvailable}}
                {{partial partialHeaderName}}
            {{/if}}
        </div>
        <!--  =======  /Scound column  ========   -->

        <!--  =======  Third column  ========   -->
        {{#if innerWidgets.isAvailable}}
            <!--No need free space to inner widgets-->
        {{else}}
            <div data-id="widget-header-middle" class="layout-col-24">
                <!-- This div and data-id is being used to achieve responsiveness -->
            </div>
        {{/if}}
        <!--  =======  /Third column  ========   -->

        <!--  =======  Fourth column  ========   -->
        <div class="layout-col overflow-visible">
            {{#if isSettingsAvailable}}
                <div class="layout-inline v-align-middle pad-s-l">
                    <!--  Btn Settings  -->
                    <div class="btn-settings title-icon-gaps">
                        {{settings-dropdown
                        options=dropDownOptions
                        valueKey=valueKey
                        iconStyle=iconStyle
                        labelKey=labelKey
                        selectAction='titleDropdownAction'
                        app=app}}
                    </div>
                </div>
            {{/if}}

            {{#if isResizeAvailable}}
                <div class="layout-inline v-align-middle pad-s-l pad-s-r">
                    <!--  Btn Fullscreen  -->
                    <a class="cursor-pointer widget-title-fore-color hint--bottom-left hint--bounce hint--rounded" data-hint={{fullScreenToggleTitle}}>
                        <i class="icon-maximize widget-title-fore-color" {{action 'titleResizeAction'}}></i>
                    </a>
                </div>
            {{/if}}

            {{#if isDropdownAvailable}}
                <div class="layout-inline pad-s-l">
                    {{bootstrap-dropdown-select
                    options=dropDownOptions
                    defaultSelect=defaultSelect
                    valueKey=valueKey
                    labelKey=labelKey
                    buttonClass='wdgttl-drp-dwn-btn border-right-zero'
                    selectAction='titleDropdownAction'
                    toolTip=toolTip
                    app=app}}
                </div>
            {{/if}}

            {{#if isMoreMarketAvailable}}
                <div class="layout-inline pad-s-l">
                    {{more-markets-dropdown
                    setExchange='setExchange'
                    buttonClass=buttonClass
                    defaultExchangeForDropdown=defaultExchangeForDropdown
                    value=value
                    key=wkey}}
                </div>
            {{/if}}

            {{#if isSubMarketsAvailable}}
                <div class="layout-inline pad-s-l">
                    {{sub-markets-dropdown exchange=exchange currentMarketId=subMarket key=wkey buttonClass=buttonClass onSubMarketChanged='setSubMarket'}}
                </div>
            {{/if}}

            {{#if isReloadAvailable}}
                <div class="layout-inline v-align-middle pad-s-lr">
                    <a class="cursor-pointer widget-title-fore-color hint--bottom hint--bounce hint--rounded" data-hint={{app.lang.labels.refresh}}>
                        <i class="widget-title-fore-color glyphicon glyphicon-refresh" {{action 'reloadDataAction'}}></i>
                    </a>
                </div>
            {{/if}}

            {{#unless hideWidgetLink}}
                <div class="layout-inline v-align-middle">
                    <!--  WidgetLink  -->
                    {{link-dropdown
                    options=linkOptions
                    defaultSelect=defaultSelectedLink
                    value=selectedLink
                    valueKey='code'
                    labelKey='desc'
                    selectAction='setLink'
                    toolTip=app.lang.labels.linkWidgets}}
                </div>
            {{/unless}}

            {{#if isWidgetCloseAvailable}}
                <div class="layout-inline v-align-middle pad-s-lr">
                    <a name="btnClosePopup" class="hint--bottom-left hint--bounce hint--rounded" data-hint={{app.lang.labels.close}} {{action closeWidgetAction target=closeActionTarget}}>
                        <i class="widget-title-fore-color icon-close-round"></i>
                    </a>
                </div>
            {{/if}}
        </div>
        <!--  =======  /Fourth column  ========   -->
    </div>
</div>