<div id="buy-sell-panel" {{bind-attr class=":col-md-12 :buy-sell :pad-s-all panelClass"}} style="margin-top:5px">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><div class="left mgn-m-b pad-m-r">
              <div>
                  <input type="radio" value="buy" name="buy-sell-radio" checked="checked"><label class="font-l colour-normal">   &nbsp;Buy</label>
              </div>
              <div>
                  <input type="radio" value="sell" name="buy-sell-radio"><label class="font-l colour-normal"> &nbsp;Sell</label>
              </div>
            </div></td>
          <td><div class="left mgn-l-b">
              <span class="input-group" style="width: 130px;">
                {{input type="text" valueBinding="searchKey" action="showSearchPopup" on="key-press" class="search-query" style="width:110px" placeholder=app.lang.labels.searchSymbol }}
                  <span class="input-group-btn">
                    <button class="btn btn-default" {{action 'showSearchPopup'}} >
                        <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
                    </button>
                </span>
            </span>

              <div class="modal-symbol">
                  {{#modal-popup isEnabled=false id="orderSymbolSearch"}}
                      {{global-search
                      enableContentSettings=false
                      searchKey=searchKey
                      showWidgetButtons=false
                      closePopup='closeSearchPopup'
                      openPopup='showSearchPopup'
                      stopGlobalNotification=true
                      clickAction='onSymbolSelected'}}
                  {{/modal-popup}}
              </div></div></td>
          <td><div class="form-group left">
              <label for="company" class="font-l colour-normal">Company:</label>
              {{input type="text" id="company" class="form-control" valueBinding="company" disabled="disabled"}}
            </div></td>
          <td><div class="form-group left">
              <label for="ordertype" class="font-l colour-normal">Order Type:</label>
              <select class="form-control" id="ordertype">
                <option>Limit</option>
                <option>Market</option>
              </select>
            </div></td>
          <td><div class="form-group left">
              <label for="quantity" class="font-l colour-normal">Quantity:</label>
              <input type="text" class="form-control" id="quantity">
            </div>
            <div class="form-group left">
              <label for="price" class="font-l colour-normal">Price:</label>
              <input type="text" class="form-control" id="price">
            </div>
            <div class="form-group left">
              <label for="duantity" class="font-l colour-normal">Disclosed Quantity:</label>
              <input type="text" class="form-control" id="dquantity">
            </div></td>
          <td><div class="form-group  left">
              <label for="validility" class="font-l colour-normal">Validility:</label>
              <select class="form-control" id="validility" style="width:133px">
                  <option>Good for the day</option>
                  <option>Good Till Cancel</option>
                  <option>At the Opening</option>
                  <option>Immediate or Cancel</option>
                  <option>Fill or Kill</option>
                  <option>Good Till Crossing</option>
              </select>
            </div></td>
          <td>
            <div class="form-group left">
              <label for="date"  class="font-l colour-normal">Date:</label>
              <select class="form-control" id="date" style="width:74px" disabled="disabled">
                <option>3</option>
                <option>2</option>
              </select>
            </div>
            <div class="form-group left" style="margin-top:18px">
              <select class="form-control" id="date" style="width:74px" disabled="disabled">
                <label for="date"  class="font-l colour-normal">&nbsp;</label>
                <option>12</option>
                <option>2</option>
              </select>
            </div>
            <div class="form-group left" style="margin-top:18px">
              <select class="form-control" id="date" style="width:74px" disabled="disabled">
                <label for="date"  class="font-l colour-normal">&nbsp;</label>
                <option>2015</option>
                <option>2</option>
              </select>
            </div>
            </td>
        </tr>
        <tr>
          <td colspan="7"><div class="col-md-12">
              <div class="col-md-offset-9 col-md-3">
                <div class="right mgn-s-r">
                <button type="button" id="btnLogin" class="btn btn-defult samba-orange" style="float:right;">Get Quote</button>
                </div>
                <div class="right mgn-s-r">
                  <button type="button" id="btnLogin" class="btn btn-defult" style="float:right;">Clear</button>
                </div>
                <div class="right mgn-s-r">
                  <button type="button" id="btnLogin" class="btn btn-defult samba-orange" style="float:right;">Submit</button>
                </div>

              </div>
            </div></td>
        </tr>
      </table>
    </div>