<div class="container-fluid mgn-s-t full-height">
  <div class="col-md-12 full-height">
    <div role="tabpanel" style="height:100%">
      <ul id="tablist" class="nav nav-tabs-3 nav-special" role="tablist">
            <li role="presentation" class="active"> <a href="#location1" aria-controls="location1" role="tab" data-toggle="tab" class="font-m" {{action 'tabAction' 1}}>Portfolio Valuation</a> </li>
            <li role="presentation"> <a href="#location2" aria-controls="location2" role="tab" data-toggle="tab" class="font-m" {{action 'tabAction' 2}}>Market Watch</a> </li>
            <li role="presentation"> <a href="#location3" aria-controls="location3" role="tab" data-toggle="tab" class="font-m" {{action 'tabAction' 0}}>Order Book</a> </li>
            <li role="presentation"> <a href="#location4" aria-controls="location4" role="tab" data-toggle="tab" class="font-m" {{action 'tabAction' 0}} >Samba Mubasher</a> </li>
            <li role="presentation"> <a href="#location5" aria-controls="location5" role="tab" data-toggle="tab" class="font-m" {{action 'tabAction' 0}}>Register with Tadawul</a> </li>
            <li role="presentation"> <a href="#location6" aria-controls="location6" role="tab" data-toggle="tab" class="font-m" {{action 'tabAction' 0}}>Reuter News</a> </li>
      </ul>
      <div class="tab-content full-height">

        <div role="tabpanel" class="full-width" style="height: calc(100% - 32px)">
            <div class="full-width full-height col-xs-12 watchlist-height" id="location2">
                <div class="full-width full-height" style="margin-left: -11px; width: calc(100% + 17px);">
                    {{outlet "w1"}}
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
