<div class="widget pad-s-b  full-height">
    <div>
        {{#modal-popup isEnabled=false id="rightClickPopupMenu"}}
            <div class="watchlist-right-click-item">
                <a> <span class="v-middle font-x-l watchlist-right-click-rtl"><i class="icon-list-bullet-1"></i></span><span class="pad-l-l">Detail View</span> </a>
            </div>
        {{/modal-popup}}
    </div>
    <div class="full-width full-height">
        <div style="height:calc(100% - 30px);direction: ltr;">
            {{table-component
            columnsBinding="columns"
            contentBinding="arrangedContent"
            rowHeight= 25
            footerArray=footerArray
            minHeaderHeight= 36
            sortAction="sort"
            sortAscendingBinding="sortAscending"
            id=wkey}}
        </div>
    </div>
</div>