<div class="full-width col-xs-12 full-height">
    <div class="col-md-12" style="height:100px">
        {{outlet "w1"}}
    </div>

    <div class="col-md-12" style="height:calc(100% - 230px)">
        {{outlet "w2"}}
    </div>

    <div class="col-md-12"  style="height:100px">
        {{outlet "w3"}}
    </div>
</div>
