<div class="widget_new-1">

  <div class="widget-header-1">
    <ul id="tablist" class="nav-tabs-samba-demo nav" role="tablist">
            <li role="presentation">
                <a href="#" role="tab" data-toggle="tab"
                   class="font-m" > Samba Tadawul Plus </a>
            </li>
            <li role="presentation">
                <a href="#" role="tab" data-toggle="tab"
                   class="font-m" > Fund Transfer </a>
            </li>
            <li role="presentation">
                <a href="#" role="tab" data-toggle="tab"
                   class="font-m" > Banking Services </a>
            </li>
            <li style="width:340px " role="presentation">
            <div class="drop">
                <a style="float:left;" href="#" role="tab" data-toggle="tab"
                   class="font-m" > Account Number </a>
               
                <div class="dropdown-1">
    <button class="btn btn-dropdown btn-default dropdown-toggle" type="button" id="appDropdown" data-toggle="dropdown">.....0097
        <span class="caret"></span></button>
                    <button class="btn btn-dropdown btn-default dropdown-toggle" type="button" id="appDropdown" data-toggle="dropdown">Default
        </button></div>
            </div>
                
            </li>
            <li role="presentation">
                <a href="#" role="tab" data-toggle="tab"
                   class="font-m" > Refresh >> </a>
            </li>
    </ul>
 </div>


  <div class="col-md-12">
    <div class="col-md-6">
<table class="samba-demo" style="width:98%" >
  <tr>
    <th class="samba-demo-th">Index</th>
    <th class="samba-demo-th">Current</th>		
    <th class="samba-demo-th">Change</th>
    <th class="samba-demo-th">(%) Change</th>		
    <th class="samba-demo-th">Indicator</th>
  </tr>
  <tr>
    <td class="samba-demo-td">{{index.sym}}</td>
    <td class="samba-demo-td">{{formatNumber index.ltp}}</td>
    <td class="samba-demo-td">{{formatNumber index.chg}}</td>
    <td class="samba-demo-td">{{formatNumberPercentage index.pctChg}}</td>
    <td {{bind-attr class=":samba-demo-td indexValCss"}}><i {{bind-attr class="indexArrowCss"}}> </i></td>
  </tr>

</table>
    </div>
      
    <div class="col-md-6">
     <table class="samba-demo" style="width:100%">
  <tr>
    <th class="samba-demo-th">Net Balance</th>
    <th class="samba-demo-th">Block Balance</th>		
    <th class="samba-demo-th">Available Funds</th>

  </tr>
  <tr>
    <td class="samba-demo-td">97,688,366.2</td>
    <td class="samba-demo-td">3,739,456.14</td>		
    <td class="samba-demo-td">97,688,366.2</td>
 
  </tr>

</table>
    </div>
  </div>

</div>