$isCoBranded:no;

/* second theme */
//$theme2-color-green: #26913c;
//$theme2-color-green-dark: #33c14e;
//$theme2-color-red: #be0707;
//$theme2-color-red-dark: #f96464;
//
//$theme2-color-widget: #fcfdfd;
//$theme2-color-border: #42535b;
//$theme2-color-background: #d6dff3;
//$theme2-color-widget-border: #bbc5dc;
//
//$theme2-color-search-background: #d6dff3;
//$theme2-color-search-border-wrapper: #424d5c;
//$theme2-color-search-border: #202c34;
//$theme2-color-search-hover: #6a7780;
//
//$theme2-tab-border-bottom-color:#62a8ea;
//$theme2-tab-button-color:#497094;
//
//$theme2-market-color-open:#26913c;
//
//$theme2-btn-color:#6a7780;
//$theme2-btn-border-color:#c2c2c2;
//$theme2-btn-border-color-hover:#58a7e2;
//$theme2-btn-color-active:#061d2e;
//
///* write as text colours */
//$theme2-text-color-main: #3A3A3A ;
//$theme2-text-color-light: #bac4c7;
//$theme2-text-color-table-header: #3A3A3A ;
//$theme2-text-color-normal: #000000 ;
//$theme2-text-color-widget-title: #3d647a;
//$theme2-text-color-symbol: #096b9e ;
//$theme2-text-color-symbol-dis: #76838f;
//
//$theme2-color-1: #f2a654;
//$theme2-color-2: #1f93e9;
//$theme2-color-3: #926dde;
//$theme2-color-4: #ff6c00;





/* gray theme */
$theme2-color-green: #0BB754;
$theme2-color-green-dark: #1bb55c;
$theme2-color-red: #fa3030;
$theme2-color-red-dark: #f12929;

$theme2-color-widget: #FFFCFC;
$theme2-color-border: #e4eaec;
$theme2-color-background: #ebf2f4;
$theme2-color-widget-border: #B6E4EC;

$theme2-color-search-background: #d6dff3;
$theme2-color-search-border-wrapper: #424d5c;
$theme2-color-search-border: #202c34;
$theme2-color-search-hover: #6a7780;

$theme2-tab-border-bottom-color:#62a8ea;
$theme2-tab-button-color:#76838f;
$theme2-tab-background-color: #12212a; //new
$theme2-tab-colour-hover: #61b1ec; //new

$theme2-market-color-open:yellow;

$theme2-btn-color:#6a7780;
$theme2-btn-border-color:#c2c2c2;
$theme2-btn-border-color-hover:#58a7e2;
$theme2-btn-color-active:#58a7e2;

/* write as text colours */
//$theme2-text-color-main: #76838f;
//$theme2-text-color-light: #76838f;
//$theme2-text-color-table-header: #76838f;
//$theme2-text-color-normal: #37474f;
//$theme2-text-color-widget-title: #3d647a;
//$theme2-text-color-symbol: #4d849f;
//$theme2-text-color-symbol-dis: #76838f;

$theme2-text-color-main: #3A3A3A;
$theme2-text-color-light: #bac4c7;
$theme2-text-color-table-header: #3A3A3A;
$theme2-text-color-normal: #000000;
$theme2-text-color-widget-title: #528BAB;
$theme2-text-color-symbol: #096b9e;
$theme2-text-color-symbol-dis: #76838f;

$theme2-color-1: #dd9c00;
$theme2-color-2: #58a7e2;
$theme2-color-3: #675a94;
$theme2-color-4: #ff6c00;