$theme1-isCoBranded:no;

//**************************************************//

//---------- Most Frequently use Variables -----------//

//Widget Header colors 

// *****  This should be theme specific gradient colors (Need two colors), this will affect to entire theme headers  *****//

$theme1-gradient-tittle-first-colour: #111317;
$theme1-gradient-tittle-second-colour: #111317; 

// Widget Background Color

$theme1-color-widget: #111317;

//Widget Border Color

$theme1-color-widget-border: #111317;

// Application Header and Side bar Background gradient ( two color gradient )

$theme1-gradient-topbar-first-colour: #111317;
$theme1-gradient-topbar-second-colour: #111317;

// Application Header : Label background gradient

$theme1-gradient-toppanel-back-first-colour: #111317;
$theme1-gradient-toppanel-back-second-colour: #111317;

// Tab Default ( Nav-tabs-3) : Default gradient colors

$theme1-gradient-nav-tabs-3-first-colour: #111317;
$theme1-gradient-nav-tabs-3-second-colour: #111317;

// Tab Sections ( Nav-tabs-3) : Selected Background gradient colors

$theme1-gradient-nav-tabs-3-hover-first-colour: #111317;
$theme1-gradient-nav-tabs-3-hover-second-colour: #111317;
$theme1-gradient-nav-tabs-3-hover-third-colour:#111317;
$theme1-gradient-nav-tabs-3-hover-fourth-colour:#111317;

//Sidebar Navigation : Selected Gradient colors

$theme1-gradient-sidebar-active-first-colour: #1D2228;
$theme1-gradient-sidebar-active-second-colour: #1D2228;
$theme1-gradient-sidebar-active-third-colour: #1D2228;
$theme1-gradient-sidebar-active-fourth-colour: #1D2228;


//----------End Most Frequently use Variables -----------//

//**************************************************//

// Other Variables Starts Here

$theme1-color-green: #1bc98e;
$theme1-color-green-dark: #54907c;
$theme1-color-green-connection: #1bc98e;

$theme1-color-red: #fe7071;
$theme1-color-red-dark: #ca7474;
$theme1-color-red-connection: #fe7071;

$theme1-color-border: #2a3036;
$theme1-color-background: #000000;

$theme1-color-table-odd: #111317;
$theme1-color-table-even: #181B20;

$theme1-color-border-widget-header: #111317;
$theme1-color-border-1: #111317;
$theme1-color-border-top: #111317;
$theme1-color-border-left: #111317;
$theme1-color-border-bottom: #111317;
$theme1-color-border-bottom-2:#111317;
$theme1-color-border-right: #111317;

$theme1-color-search-background: #111317;
$theme1-color-search-border-wrapper: #133b45;
$theme1-color-search-border: #2a3036;
$theme1-color-search-hover: #1c272e;

$theme1-menu-colour: #1E3848;

$theme1-tab-border-bottom-color: #326f9c;
$theme1-tab-background-color: #12212a; //new added

$theme1-dropdown-background-color:#1e3848;

$theme1-tab-button-color: #518399;
$theme1-tab-colour-hover: #61b1ec; //new added

$theme1-btn-color: #616d7d;
$theme1-btn-border-color: #111317;
$theme1-btn-border-color-hover: #58a7e2;
$theme1-btn-color-active: #58a7e2;

$theme1-table-row-colour-odd: #181b20; //new
$theme1-table-row-colour-even: #111317; //new

$theme1-text-color-main: #5d6877;
$theme1-text-color-light: #b2b2b2;
$theme1-text-color-table-header: #93a2a7;
$theme1-text-color-table-header-2: #ffffff;
$theme1-text-color-normal: #CDD1D3;
$theme1-text-color-widget-title: #518399;
$theme1-text-color-symbol: #518399;
$theme1-text-color-symbol-dis: #93a2a7;

$theme1-ember-table-border: rgb( 132, 164, 190 );

$theme1-color-announcement: #ffbe40;
$theme1-color-1: #ffbe40;
$theme1-color-2: #58a7e2;
$theme1-color-3: #675a94;
$theme1-color-4: #ff6c00;

$theme1-ticker-color: #0B0D11;

$theme1-Default-color:#4A90C1;
$theme1-prochart-line-studies-back-color: #9E9E9E;
$theme1-popover-header-color: #191a1e;
$theme1-popover-border-color: #4b6878;
$theme1-popover-background-color: #1e3848;
$theme1-popover-hover-color: #061d2e;

$theme1-watchlist-cell-back-red: rgba(231, 67, 67, 0.05);
$theme1-watchlist-cell-back-green: rgba(46, 204, 113, 0.04);
$theme1-watchlist-cell-back-lastqty: rgba(85, 159, 214, 0.06);
$theme1-watchlist-row-back-red: rgba(231, 67, 67, 0.15); 
$theme1-watchlist-row-back-green: rgba(46, 204, 113, 0.15); 

$theme1-gradient-deg: 90deg;
$theme2-horizontal-line-width: 98%;

//sidebar active

$theme1-gradient-sidebar-active-first-precent: 0%; 
$theme1-gradient-sidebar-active-second-precent: 23%; 
$theme1-gradient-sidebar-active-third-precent: 45%; 
$theme1-gradient-sidebar-active-fourth-precent: 100%;

//nav tabs hover

$theme1-gradient-nav-tabs-hover-first-colour: #1D2228; 
$theme1-gradient-nav-tabs-hover-first-precent: 0%;
$theme1-gradient-nav-tabs-hover-second-colour: #1D2228;
$theme1-gradient-nav-tabs-hover-second-precent: 13%;
$theme1-gradient-nav-tabs-hover-third-colour: #1D2228;
$theme1-gradient-nav-tabs-hover-third-precent: 41%;
$theme1-gradient-nav-tabs-hover-fourth-colour: #1D2228;
$theme1-gradient-nav-tabs-hover-fourth-precent: 100%;

//nav tabs

$theme1-gradient-nav-tabs-first-colour: #111317;
$theme1-gradient-nav-tabs-first-precent:  0%;
$theme1-gradient-nav-tabs-second-colour: #111317;
$theme1-gradient-nav-tabs-second-precent:  100%;
$theme1-color-nav-tabs-border: #111317;

//nav tabs 2

$theme1-nav-tabs-2-selected-colour:#111317;

//dq charts 

$theme1-gradient-dq-chart-first-colour: #111317;
$theme1-gradient-dq-chart-first-precent: 0%;
$theme1-gradient-dq-chart-second-colour: #111317;
$theme1-gradient-dq-chart-second-precent:  100%;

//watchlist table header 

$theme1-gradient-watchlist-table-header-first-colour: rgb(251,252,252);
$theme1-gradient-watchlist-table-header-first-precent: 0%;
$theme1-gradient-watchlist-table-header-second-colour: rgb(215,225,230);
$theme1-gradient-watchlist-table-header-second-precent: 100%;
$theme1-gradient-watchlist-table-header-third-colour: rgb(211,223,231);
$theme1-gradient-watchlist-table-header-third-precent:  100%;
$theme1-gradient-watchlist-table-header-fourth-colour: rgb(191,205,205);
$theme1-gradient-watchlist-table-header-fourth-precent:  100%;

//toppanel back

$theme1-gradient-toppanel-back-first-precent: 0%; 
$theme1-gradient-toppanel-back-second-precent: 100%;

//topbar 

$theme1-gradient-topbar-first-precent: 0%; 
$theme1-gradient-topbar-second-precent: 100%;

//prochart line studies back

$theme1-gradient-prochart-line-studies-back-first-colour:rgb(237,241,242);
$theme1-gradient-prochart-line-studies-back-first-precent: 0%;
$theme1-gradient-prochart-line-studies-back-second-colour: rgb(251,251,251);
$theme1-gradient-prochart-line-studies-back-second-precent: 100%;


//nav special

$theme1-gradient-nav-special-first-colour: #111317;
$theme1-gradient-nav-special-first-precent: 0%;
$theme1-gradient-nav-special-second-colour: #111317;
$theme1-gradient-nav-special-second-precent: 23%;  
$theme1-gradient-nav-special-third-colour: #111317;
$theme1-gradient-nav-special-third-precent: 45%;
$theme1-gradient-nav-special-fourth-colour: #111317;
$theme1-gradient-nav-special-fourth-precent: 100%;

//nav special focus

$theme1-gradient-nav-special-focus-first-colour: #12212a; 
$theme1-gradient-nav-special-focus-first-precent: 0%;
$theme1-gradient-nav-special-focus-second-colour: #12212a;
$theme1-gradient-nav-special-focus-second-precent:  23%;
$theme1-gradient-nav-special-focus-third-colour: #12212a;
$theme1-gradient-nav-special-focus-third-precent:  45%;
$theme1-gradient-nav-special-focus-fourth-colour: #12212a;
$theme1-gradient-nav-special-focus-fourth-precent:  100%;

$theme1-gradient-tittle-first-precent: 0%; 
$theme1-gradient-tittle-second-precent:  100%;


// ember table body container 

$theme1-gradient-ember-table-body-container-first-colour: #1c272e;
$theme1-gradient-ember-table-body-container-first-precent: 0%;
$theme1-gradient-ember-table-body-container-second-colour: #1c272e;
$theme1-gradient-ember-table-body-container-second-precent: 100%;

// btn defult

$theme1-gradient-btn-default-first-colour: #111317;
$theme1-gradient-btn-default-first-precent: 0%;
$theme1-gradient-btn-default-second-colour: #111317;
$theme1-gradient-btn-default-second-precent: 0%;
$theme1-gradient-btn-default-third-colour: #111317;
$theme1-gradient-btn-default-third-precent:  100%;

//nav tabs 3 

$theme1-gradient-nav-tabs-3-first-precent: 0%;
$theme1-gradient-nav-tabs-3-second-precent: 0%;

// nav tabs 3 hover 

$theme1-gradient-nav-tabs-3-hover-first-precent: 0%; 
$theme1-gradient-nav-tabs-3-hover-second-precent: 0%;
$theme1-gradient-nav-tabs-3-hover-third-precent:100%;
$theme1-gradient-nav-tabs-3-hover-fourth-precent:100%;

//width

$theme1-horizontal-line-width:96%px;

//Footer

$theme1-color-footer:#dddddd;

// watchlist sort back colour

$theme1-gradient-sort-back-color-first-colour: #0d161d;
$theme1-gradient-sort-back-color-first-precent: 0%;
$theme1-gradient-sort-back-color-second-colour: #0d161d;
$theme1-gradient-sort-back-color-second-precent: 50%;
$theme1-gradient-sort-back-color-third-colour: #0d161d;
$theme1-gradient-sort-back-color-third-precent: 100%;