$isCoBranded:yes;

$samba-color-green: #2ba25c;
$samba-color-green-dark: #055d21;
$samba-color-green-connection:#58e1b5;

$samba-color-red: #ff0101;
$samba-color-red-dark: #a80000;
$samba-color-red-connection:#fe7071;

$samba-color-widget: #ffffff;
$samba-color-border: #d3d2d2;
$samba-color-background: #ecf0f1;
$samba-color-widget-border: #dadada;

$samba-color-search-background: #d6dff3;
$samba-color-search-border-wrapper: #424d5c;
$samba-color-search-border: #202c34;
$samba-color-search-hover: #f0f4f7;

$samba-tab-border-bottom-color:#62a8ea;
$samba-tab-button-color:#76838f;

$samba-market-color-open:yellow;

$samba-btn-color:#7a8a99;
$samba-btn-border-color:#a7a3a3;
$samba-btn-border-color-hover:#58a7e2;
$samba-btn-color-active:#e8edf5;

/* write as text colours */
//$samba-text-color-main: #76838f;
//$samba-text-color-light: #76838f;
//$samba-text-color-table-header: #76838f;
//$samba-text-color-normal: #37474f;
//$samba-text-color-widget-title: #3d647a;
//$samba-text-color-symbol: #4d849f;
//$samba-text-color-symbol-dis: #76838f;

$samba-text-color-main: #333333;
$samba-text-color-light: #bac4c7;
$samba-text-color-table-header: #3A3A3A;
$samba-text-color-normal: #333333;
$samba-text-color-widget-title: #ffffff;
$samba-text-color-symbol: #385a76;
$samba-text-color-symbol-dis: #80909c;

$samba-color-1: #d07f00;
$samba-color-2: #3592d0;
$samba-color-3: #675a94;
$samba-color-4: #ff6c00;

$samba-ticker-color:#FAFBFC;