$isCoBranded:yes;

$alrajhi-color-green: #2ba25c;
$alrajhi-color-green-dark: #055d21;
$alrajhi-color-green-connection:#56e2b1;

$alrajhi-color-red: #ff0101;
$alrajhi-color-red-dark: #a80000;
$alrajhi-color-red-connection:#fe7071;

$alrajhi-color-widget: #ffffff;
$alrajhi-color-border: #d3d2d2;
$alrajhi-color-background: #ecf0f1;
$alrajhi-color-widget-border: #dadada;

$alrajhi-color-search-background: #d6dff3;
$alrajhi-color-search-border-wrapper: #424d5c;
$alrajhi-color-search-border: #202c34;
$alrajhi-color-search-hover: #f0f4f7;

$alrajhi-tab-border-bottom-color:#62a8ea;
$alrajhi-tab-button-color:#76838f;

$alrajhi-market-color-open:yellow;

$alrajhi-btn-color:#7a8a99;
$alrajhi-btn-border-color:#a7a3a3;
$alrajhi-btn-border-color-hover:#58a7e2;
$alrajhi-btn-color-active:#e8edf5;

/* write as text colours */
//$alrajhi-text-color-main: #76838f;
//$alrajhi-text-color-light: #76838f;
//$alrajhi-text-color-table-header: #76838f;
//$alrajhi-text-color-normal: #37474f;
//$alrajhi-text-color-widget-title: #3d647a;
//$alrajhi-text-color-symbol: #4d849f;
//$alrajhi-text-color-symbol-dis: #76838f;

$alrajhi-text-color-main: #333333;
$alrajhi-text-color-light: #bac4c7;
$alrajhi-text-color-table-header: #3A3A3A;
$alrajhi-text-color-normal: #333333;
$alrajhi-text-color-widget-title: #ffffff;
$alrajhi-text-color-symbol: #385a76;
$alrajhi-text-color-symbol-dis: #80909c;

$alrajhi-color-1: #d07f00;
$alrajhi-color-2: #3592d0;
$alrajhi-color-3: #675a94;
$alrajhi-color-4: #ff6c00;

$alrajhi-ticker-color:#FAFBFC;