@import 'colour-theme-theme1';


// from sidebar.scss 
.sidebar-wrapper {
    background:  $theme1-color-background;
}

.sidebar-nav li a {
    color: $theme1-text-color-table-header;
}

.sidebar-nav li a:hover {
    color: $theme1-text-color-normal;
}

.sidebar-nav > .sidebar-brand a {
	color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
	color: #fff;
}

span.glyphicon {
	font-size: 1.6em;
}

li.sidebar-active a{
    color: $theme1-btn-border-color-hover !important;
}

.sidebar-nav {
    background-color: $theme1-color-widget;
    border: 1px $theme1-color-widget-border solid;
}
// end of sidebar.scss

// from topbar.scss
.topbar {
    background-color: $theme1-color-widget;
    border: 0px $theme1-color-border solid;
}
.logo-text {
	color: #575b68;
}

.vertical-separator {
    border-right: 1px $theme1-color-border solid;
}

.progress-time {
    background-color: $theme1-color-widget !important;
}

.tittle-bar-price-connected{
    color: $theme1-text-color-normal; 
}

.connection-status-green{
    color:$theme1-color-green-connection;
}

.connection-status-red{
    color:$theme1-color-red-connection;
}

.navbar-nav-ticker-area .tickerDiv {
    background:$theme1-ticker-color;
}

// end of topbar.scss 

// from widget.scss 

.widget {
    background-color: $theme1-color-widget;
    border: 1px $theme1-color-widget-border solid;
}

h2.widget-title-type-1{
    border-bottom: 1px $theme1-color-border solid;
    color:$theme1-text-color-widget-title;
}

.widget-watchlist {
    background-color: $theme1-color-widget;
}

.search-query {
    border: none;
    background-color: $theme1-color-background;
}

.online {
    background-color: $theme1-color-green;
}           

// news section

.news-row {
    border-bottom: 1px $theme1-color-border solid;
}

// provide some minimal visual accomodation for IE8 and below

.TFtable tr {
    background: $theme1-table-row-colour-odd;
}

//  Define the background color for all the ODD background rows

.TFtable tr:nth-child(odd) {
    background: $theme1-table-row-colour-odd;
}

//  Define the background color for all the EVEN background rows

.TFtable tr:nth-child(even) {
    background: $theme1-table-row-colour-even;
}

.panel-table-row-odd {
    background: $theme1-table-row-colour-odd;
}

.panel-table-row-even {
    background: $theme1-table-row-colour-even;
}

.blink-style-up {
    background-color: $theme1-color-green !important;
}

.search-row:hover {
    background-color: $theme1-color-search-hover ; 
}

button.chart-btn-icon.active{
    color: $theme1-btn-border-color-hover;
    background-color: $theme1-color-widget;
}

::-webkit-scrollbar-thumb {
    background-color: #434E56;
}

::-moz-scrollbar-thumb {
    background-color: rgba(255,255,255, .1);
}

// add widget tittle class

.progress-bid {
    background-color: $theme1-color-widget !important;
}

.progress-offer {
    background-color: $theme1-color-widget !important;
	border-right: 0px $theme1-color-border solid;
}

.quote-cell {
    background-color: $theme1-color-widget;
}

.quote-cell-border {
    border-right:  2px $theme1-color-widget solid
}

.company-heading {
    border-right: 2px $theme1-color-border solid;
}
.company-address a {
    color:$theme1-color-2;
}

.footer {
    background-color:$theme1-color-widget;
}

.footer-padding {
    border-right:1px $theme1-color-border solid;
}

.footer-padding-first {
    border-right:1px $theme1-color-border solid;
}

.icon-btn {
    background-color: $theme1-color-widget;
    border-color: $theme1-btn-border-color;
    color: $theme1-tab-button-color;
}

.search-wrapper {
    border: 1px solid $theme1-color-search-border-wrapper;
    background-color: $theme1-color-search-background;
}

.search-title {
    border-bottom: 1px $theme1-color-search-border solid;
    color: $theme1-text-color-widget-title;
}

.search-row {
    border-bottom: 1px $theme1-color-search-border-wrapper solid;
}

.search-row:hover {
    background-color: $theme1-color-search-hover ; 
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: $theme1-text-color-light;
    background-color: #1c272e;
}

.dropdown-menu-2 {
    background-color: $theme1-color-widget;
    border: 1px solid $theme1-btn-border-color;
}

.spread-text{
    background-color:$theme1-color-widget;
}

.btn-dropdown-no-border{
    background-color: $theme1-color-widget;
    color: $theme1-btn-color;
}
    
.btn-dropdown-no-border:hover {
    color: $theme1-btn-border-color-hover;
}

.chart-btn-icon:hover {
    color: $theme1-btn-border-color-hover;
    background-color: $theme1-color-widget;
}

.widget-prochart{
    background-color: $theme1-color-widget;
}

.watchlist-right-click-item:hover{
    background-color: $theme1-btn-color-active;
}

.theme1 .quote-summary-layout{
    background-color: $theme1-color-widget;
}

.blink-font-style-change {
    color: $theme1-color-2 !important;
}

.dot-style-high {
    border-right: 4px solid $theme1-color-green;
}

.dot-style-low {
    border-right: 4px solid $theme1-color-red;
}

.blink-style-up {
    color: #cecece;
    background-color: rgb(9, 56, 29) !important; 
}

.blink-style-down {
    color: #cecece;
    background-color: rgb(97, 28, 28) !important; 
}

.blink-classic-up {
    color: #cecece;
    background-color: rgb(9, 56, 29) !important; 
}

.blink-classic-down {
    color: #cecece;
    background-color: rgb(97, 28, 28) !important; 
}

.watchlist-links > li.active > span > a, .watchlist-links > li.active > span > a:hover, .watchlist-links > li.active > a:focus {
    color: #518399;
}

// end of watchlist cells 

// end of widget.scss 


// from bootstrap-override.scss 

.btn-default {
    background-color:  $theme1-color-widget;
    border-color: $theme1-btn-border-color;
    color: $theme1-btn-color;
}

.dropdown-menu  li  a {
    color: $theme1-text-color-main;
}

.btn-default:hover, .icon-btn:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    color: $theme1-btn-border-color-hover;
    background-color: $theme1-color-widget;
    border-color:$theme1-btn-border-color-hover;
}

.dropdown-menu {
    background-color: #1e3848;
    border: 1px solid rgb( 75, 104, 120 );
}

 .btn-default:focus, .btn-default.focus {
    background-color: $theme1-btn-color-active;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	color: $theme1-text-color-normal;
    background-color: $theme1-tab-background-color;
	border-bottom: 1px solid $theme1-tab-border-bottom-color;
    border-bottom-color: $theme1-tab-border-bottom-color;
}

.nav-tabs {
    border-bottom: 1px solid $theme1-color-border;
}

.nav-tabs-2 {
    border-bottom: 0px solid $theme1-color-border !important;
}

.nav-tabs > li > a {
    color: $theme1-tab-button-color;
}

.nav > li > a:hover, .nav > li > a:focus {
	color: $theme1-tab-colour-hover;
}

.progress {
    background-color: $theme1-color-red;
}

.progress-bar {
    background-color: $theme1-color-green;
	border-right: 2px $theme1-color-widget-border solid;
}

.progress-border {
	height: 5px;
	border-bottom: 1px $theme1-color-widget-border solid;
}

.progress-bar-wk-green {
    border-right: 4px $theme1-color-green solid;
}

.progress-bar-wk-red {
    border-right: 4px $theme1-color-red solid;
}

 .progress-up {
    background-color: $theme1-color-green;
}

.progress-down {
    background-color: $theme1-color-red;
}

.progress-unchanged {
    background-color: $theme1-color-2;
}

.popover.left > .arrow:after {
    border-left-color:  $theme1-text-color-main;
}

// end of bootstrap override 


// pop over

.popover {
    background-color: $theme1-text-color-main;
    border: 1px solid $theme1-color-border;
	border: 1px solid rgba(0, 0, 0, 0.2);
    color: $theme1-color-background;
}

.popover-title {
    background-color: $theme1-color-background;
    border-bottom: 1px solid $theme1-color-border;
	color: $theme1-text-color-main;
}

.popover.left > .arrow:after {
    border-left-color:  $theme1-text-color-main;
}

.carousel-indicators li {
    border: 1px solid $theme1-color-border;
}

.carousel-indicators .active {
    background-color: $theme1-color-border;
}

// end of bootstrap-override.scss

// from ember-override.scss 
.ember-table-body-container .ember-table-table-row.ember-table-hover {
	background-color: #262932 !important;
}

.ember-table-body-container .ember-table-table-row.ember-table-selected {
	background-color: #1b232a !important;
	border: 1px #134165 solid;
}

.ember-table-header-row, .ember-table-header-container .ember-table-table-fixed-wrapper {
	background-color: $theme1-color-widget;
}

.ember-table-footer-container {
	background-color: #262932 !important;
}

.ember-table-style-row {
	background-color: #1d6bac;
}

.ember-table-tables-container {
	background-color: $theme1-color-widget;
}
// end of ember-override.scss 

// from global 
a { 
	color: $theme1-text-color-light;
}

a:hover, a:active, a:focus {
    color: $theme1-btn-border-color-hover;

}

// end of global 

// from common 

body {
    background-color: $theme1-color-background;
    color: $theme1-text-color-main;
}

.colour-normal {
    color: $theme1-text-color-normal !important;
    fill: $theme1-text-color-normal !important;
}

.green {
    color:  $theme1-color-green;
}

.green-dark {
    color: $theme1-color-green-dark;
}

.red {
    color: $theme1-color-red;
}

.red-dark {
    color: $theme1-color-red-dark;
}

.colour-symbol {
    color: $theme1-text-color-symbol !important;
}

.colour-symbol-dis {
    color: $theme1-text-color-symbol-dis !important;
}

.colour-tittle {
    color: $theme1-text-color-widget-title;
}

.colour-1 {
    color: $theme1-color-1;
}

.colour-2 {
    color: $theme1-color-2;
}

.colour-3 {
    color: $theme1-color-3;
}

.colour-4 {
    color: $theme1-color-4;
}

.widget-tittle-color {
    color: $theme1-text-color-widget-title;
}

.header-colour {
    color: $theme1-text-color-table-header;
}

 .border-right {
    border-right: 1px $theme1-color-border solid;
}

.ar .border-right {
    border-left: 1px $theme1-color-border solid;
    border-right: 0px $theme1-color-border solid;
}

.border-bottom {
    border-bottom: 1px $theme1-color-border solid;
}

.text-color-light{
    color: $theme1-text-color-light;
}

.font-table-header {
    color: $theme1-text-color-table-header;
}

.colour-table-header {
    color: $theme1-text-color-table-header;
}

.back-green-dark{
    background-color:$theme1-color-green-dark !important;
}

.back-red-dark{
    background-color:$theme1-color-red-dark !important;
}

.text-box {
    border: 1px $theme1-btn-border-color solid;
    background-color: $theme1-color-background; 
}

.watchlist-cell-back-red{
    background-color: rgba(231, 67, 67, 0.05);
}

.watchlist-cell-back-green{
    background-color: rgba(46, 204, 113, 0.04);
}

.watchlist-cell-back-lastqty{
    background-color: rgba(85, 159, 214, 0.06);
}

.watchlist-row-back-red {
    background-color: rgba(231, 67, 67, 0.15); }

.watchlist-row-back-green {
    background-color: rgba(46, 204, 113, 0.15); }

.watchlist-row-strike {
    text-decoration: line-through; }

.app-border{
    border: 2px $theme1-color-background solid;
}

.footer-app-border{
    border-right: 3px $theme1-color-background solid;
    border-bottom: 2px $theme1-color-background solid;
}

// end of common



