$isCoBranded:no;

$netplus-color-green: #0a8231;
$netplus-color-green-dark:#055d21;
$netplus-color-green-connection:#8BF8AF;

$netplus-color-red: #ff0101;
$netplus-color-red-dark: #a80000;
$netplus-color-red-connection:#fe7071;

$netplus-color-widget: #f3f3f3;
$netplus-color-border: #d3d2d2;
$netplus-color-background: #ffffff;
$netplus-color-widget-border: #dadada;

$netplus-color-search-background: #d6dff3;
$netplus-color-search-border-wrapper: #424d5c;
$netplus-color-search-border: #202c34;
$netplus-color-search-hover: #f0f4f7;

$netplus-tab-border-bottom-color:#62a8ea;
$netplus-tab-button-color:#76838f;

$netplus-market-color-open:yellow;

$netplus-btn-color:#000102;
$netplus-btn-border-color:#002a46;
$netplus-btn-border-color-hover:#58a7e2;
$netplus-btn-color-active:#e8edf5;

$netplus-ticker-color:#FAFBFC;

/* write as text colours */
//$netplus-text-color-main: #76838f;
//$netplus-text-color-light: #76838f;
//$netplus-text-color-table-header: #76838f;
//$netplus-text-color-normal: #37474f;
//$netplus-text-color-widget-title: #3d647a;
//$netplus-text-color-symbol: #4d849f;
//$netplus-text-color-symbol-dis: #76838f;

$netplus-text-color-main: #333333;
$netplus-text-color-light: #bac4c7;
$netplus-text-color-table-header: #3A3A3A;
$netplus-text-color-normal: #333333;
$netplus-text-color-widget-title: #ffffff;
$netplus-text-color-symbol: #385a76;
$netplus-text-color-symbol-dis: #80909c;

$netplus-color-1: #d07f00;
$netplus-color-2: #58a7e2;
$netplus-color-3: #675a94;
$netplus-color-4: #ff6c00;