$isCoBranded:yes;

$theme2-color-green: #2ba25c;
$theme2-color-green-dark: #055d21;
$theme2-color-green-connection:#58e2b3;

$theme2-color-red: #ff0101;
$theme2-color-red-dark: #a80000;
$theme2-color-red-connection:#fe7071;

$theme2-color-widget: #ffffff;
$theme2-color-border: #d3d2d2;
$theme2-color-background: #ffffff;
$theme2-color-widget-border: #1EB0AC;

$theme2-color-table-odd: #ffffff;
$theme2-color-table-even: #F3F3F3;

$theme2-color-border-widget-header:#0E6D6A;
$theme2-color-border-1: #ffffff;
$theme2-color-border-top:#0E6D6A;
$theme2-color-border-left:#0E6D6A;
$theme2-color-border-bottom:#0E6D6A;
$theme2-color-border-bottom-2:#265e81;
$theme2-color-border-right:#0E6D6A;

$theme2-color-search-background: #d6dff3;
$theme2-color-search-border-wrapper: #424d5c;
$theme2-color-search-border: #202c34;
$theme2-color-search-hover: #f0f4f7;

$theme2-menu-colour: #ffffff;

$theme2-tab-border-bottom-color:#62a8ea;
$theme2-tab-button-color:#76838f;

$theme1-dropdown-background-color:rgb( 255, 255, 255 );

$theme2-market-color-open:yellow;

$theme2-btn-color:#7a8a99;
$theme2-btn-border-color:#a7a3a3;
$theme2-btn-border-color-hover:#58a7e2;
$theme2-btn-color-active:#e8edf5;

$theme2-text-color-main: #333333;
$theme2-text-color-light: #bac4c7;
$theme2-text-color-table-header: #3A3A3A;
$theme2-text-color-table-header-2: #ffffff;
$theme2-text-color-normal: #333333;
$theme2-text-color-widget-title: #ffffff;
$theme2-text-color-symbol: #385a76;
$theme2-text-color-symbol-dis: #80909c;

$theme2-ember-table-border: rgb( 132, 164, 190 );

$theme2-color-announcement: #ffbe40;
$theme2-color-1: #d07f00;
$theme2-color-2: #3592d0;
$theme2-color-3: #675a94;
$theme2-color-4: #ff6c00;

$theme2-ticker-color:#E6E6E6;

$theme2-Default-color:#4A90C1;

//sidebar active
$theme2-gradient-sidebar-active-deg: 90deg; 
$theme2-gradient-sidebar-active-first-colour: rgb(24,181,176);
$theme2-gradient-sidebar-active-first-precent: 0%; 
$theme2-gradient-sidebar-active-second-colour: rgb(37,170,166);
$theme2-gradient-sidebar-active-second-precent: 23%; 
$theme2-gradient-sidebar-active-third-colour: rgb(22,177,172);
$theme2-gradient-sidebar-active-third-precent: 45%; 
$theme2-gradient-sidebar-active-fourth-colour: rgb(0,149,144);
$theme2-gradient-sidebar-active-fourth-precent: 100%;


//nav tabs hover
$theme2-gradient-nav-tabs-hover-deg: 90deg;
$theme2-gradient-nav-tabs-hover-first-colour: rgb(233,233,233); 
$theme2-gradient-nav-tabs-hover-first-precent: 0%;
$theme2-gradient-nav-tabs-hover-second-colour: rgb(248,248,248);
$theme2-gradient-nav-tabs-hover-second-precent: 13%;
$theme2-gradient-nav-tabs-hover-third-colour: rgb(248,248,248);
$theme2-gradient-nav-tabs-hover-third-precent: 41%;
$theme2-gradient-nav-tabs-hover-fourth-colour: rgb(232,232,232);
$theme2-gradient-nav-tabs-hover-fourth-colour: 100%;

//nav tabs
$theme2-gradient-nav-tabs-deg: 90deg;
$theme2-gradient-nav-tabs-first-colour: rgb(236,236,236);
$theme2-gradient-nav-tabs-first-precent:  0%;
$theme2-gradient-nav-tabs-second-colour: rgb(254,254,254);
$theme2-gradient-nav-tabs-second-precent:  100%;

//nav tabs hover
$theme2-gradient-nav-tabs-hover-deg: 90deg;
$theme2-gradient-nav-tabs-hover-first-colour: rgb(233,233,233);
$theme2-gradient-nav-tabs-hover-first-precent: 0%;
$theme2-gradient-nav-tabs-hover-second-colour: rgb(248,248,248);
$theme2-gradient-nav-tabs-hover-second-precent: 13%;
$theme2-gradient-nav-tabs-hover-third-colour:  rgb(248,248,248);
$theme2-gradient-nav-tabs-hover-third-precent: 41%;
$theme2-gradient-nav-tabs-hover-fourth-colour: rgb(232,232,232);
$theme2-gradient-nav-tabs-hover-fourth-precent: 100%;

//dq charts 
$theme2-gradient-dq-chart-deg: 90deg;
$theme2-gradient-dq-chart-first-colour: rgb(0,148,143);
$theme2-gradient-dq-chart-first-precent: 0%;
$theme2-gradient-dq-chart-second-colour: rgb(9,165,160);
$theme2-gradient-dq-chart-second-precent:  100%;

//watchlist table header 
$theme2-gradient-watchlist-table-header-deg: 90deg;
$theme2-gradient-watchlist-table-header-first-colour: rgb(251,252,252);
$theme2-gradient-watchlist-table-header-first-precent: 0%;
$theme2-gradient-watchlist-table-header-second-colour: rgb(215,225,230);
$theme2-gradient-watchlist-table-header-second-precent: 100%;
$theme2-gradient-watchlist-table-header-third-colour: rgb(211,223,231);
$theme2-gradient-watchlist-table-header-third-precent:  100%;
$theme2-gradient-watchlist-table-header-fourth-colour: rgb(191,205,205);
$theme2-gradient-watchlist-table-header-fourth-precent:  100%;

//toppanel back

$theme2-gradient-toppanel-back-deg: 90deg; 
$theme2-gradient-toppanel-back-first-colour: rgb(119,112,178);  
$theme2-gradient-toppanel-back-first-precent: 0%; 
$theme2-gradient-toppanel-back-second-colour: rgb(161,156,208);
$theme2-gradient-toppanel-back-second-precent: 100%;


//topbar 

$theme2-gradient-topbar-deg: 90deg;
$theme2-gradient-topbar-first-colour:#eeeeee;
$theme2-gradient-topbar-first-precent: 0%; 
$theme2-gradient-topbar-second-colour: #e3e3e3;
$theme2-gradient-topbar-second-precent: 100%;

//prochart line studies back

$theme2-gradient-prochart-line-studies-back-deg:90deg;
$theme2-gradient-prochart-line-studies-back-first-colour:rgb(237,241,242);
$theme2-gradient-prochart-line-studies-back-first-precent: 0%;
$theme2-gradient-prochart-line-studies-back-second-colour: rgb(251,251,251);
$theme2-gradient-prochart-line-studies-back-second-precent: 100%;


//nav special

$theme2-gradient-nav-special-degf: 90deg;
$theme2-gradient-nav-special-first-colour: rgb(24,181,176);
$theme2-gradient-nav-special-first-precent: 0%;
$theme2-gradient-nav-special-second-colour: rgb(37,170,166);
$theme2-gradient-nav-special-second-precent: 23%;  
$theme2-gradient-nav-special-third-colour: rgb(22,177,172);
$theme2-gradient-nav-special-third-precent: 45%;
$theme2-gradient-nav-special-fourth-colour: rgb(0,149,144);
$theme2-gradient-nav-special-fourth-precent: 100%;


//nav special focus

$theme2-gradient-nav-special-focus-deg: 90deg;
$theme2-gradient-nav-special-focus-first-colour: rgb(24,181,176); 
$theme2-gradient-nav-special-focus-first-precent: 0%;
$theme2-gradient-nav-special-focus-second-colour: rgb(37,170,166);
$theme2-gradient-nav-special-focus-second-precent:  23%;
$theme2-gradient-nav-special-focus-third-colour: rgb(22,177,172);
$theme2-gradient-nav-special-focus-third-precent:  45%;
$theme2-gradient-nav-special-focus-fourth-colour: rgb(0,149,144);
$theme2-gradient-nav-special-focus-fourth-precent:  100%;

$theme2-gradient-tittle-deg:  90deg; 
$theme2-gradient-tittle-first-colour: rgb(24,181,176); 
$theme2-gradient-tittle-first-precent: 0%; 
$theme2-gradient-tittle-second-colour: rgb(37,170,166); 
$theme2-gradient-tittle-second-precent:  100%;


// ember table body container 

$theme2-gradient-ember-table-body-container-deg: 90deg;
$theme2-gradient-ember-table-body-container-first-colour: rgb(214,226,233);
$theme2-gradient-ember-table-body-container-first-precent: 0%;
$theme2-gradient-ember-table-body-container-second-colour: rgb(255,255,255);
$theme2-gradient-ember-table-body-container-second-precent: 100%;


// btn defult

$theme2-gradient-btn-default-deg: 90deg;
$theme2-gradient-btn-default-first-colour: rgb(227,227,227);
$theme2-gradient-btn-default-first-precent: 0%;
$theme2-gradient-btn-default-second-colour: rgb(235,235,235);
$theme2-gradient-btn-default-second-precent: 0%;
$theme2-gradient-btn-default-third-colour: rgb(255,255,255);
$theme2-gradient-btn-default-third-precent:  100%;


//nav tabs 3 

$theme2-gradient-nav-tabs-3-deg: 90deg;
$theme2-gradient-nav-tabs-3-first-colour: #00948f ;
$theme2-gradient-nav-tabs-3-first-precent: 0%;
$theme2-gradient-nav-tabs-3-second-colour: #09a5a0;
$theme2-gradient-nav-tabs-3-second-precent:  100%;

// nav tabs 3 hover 

$theme2-gradient-nav-tabs-3-hover-deg: 90deg;
$theme2-gradient-nav-tabs-3-hover-first-colour: #18b5b0; 
$theme2-gradient-nav-tabs-3-hover-first-precent: 0%;
$theme2-gradient-nav-tabs-3-hover-second-colour: #25aaa6; 
$theme2-gradient-nav-tabs-3-hover-second-precent:23%;
$theme2-gradient-nav-tabs-3-hover-third-colour: #25aaa6;
$theme2-gradient-nav-tabs-3-hover-third-precent:100%;
$theme2-gradient-nav-tabs-3-hover-fourth-colour: #25aaa6;
$theme2-gradient-nav-tabs-3-hover-fourth-precent: 100%;

