$isCoBranded:yes;

$aljazira-color-green: #2ba25c;
$aljazira-color-green-dark: #055d21;
$aljazira-color-green-connection:#58e1b5;

$aljazira-color-red: #ff0101;
$aljazira-color-red-dark: #a80000;
$aljazira-color-red-connection:#fe7071;

$aljazira-color-widget: #ffffff;
$aljazira-color-border: #d3d2d2;
$aljazira-color-background: #ecf0f1;
$aljazira-color-widget-border: #dadada;

$aljazira-color-search-background: #d6dff3;
$aljazira-color-search-border-wrapper: #424d5c;
$aljazira-color-search-border: #202c34;
$aljazira-color-search-hover: #f0f4f7;

$aljazira-tab-border-bottom-color:#62a8ea;
$aljazira-tab-button-color:#76838f;

$aljazira-market-color-open:yellow;

$aljazira-btn-color:#7a8a99;
$aljazira-btn-border-color:#a7a3a3;
$aljazira-btn-border-color-hover:#58a7e2;
$aljazira-btn-color-active:#e8edf5;

$aljazira-text-color-main: #333333;
$aljazira-text-color-light: #bac4c7;
$aljazira-text-color-table-header: #3A3A3A;
$aljazira-text-color-normal: #333333;
$aljazira-text-color-widget-title: #ffffff;
$aljazira-text-color-symbol: #385a76;
$aljazira-text-color-symbol-dis: #80909c;

$aljazira-color-1: #d07f00;
$aljazira-color-2: #3592d0;
$aljazira-color-3: #675a94;
$aljazira-color-4: #ff6c00;

$aljazira-ticker-color:#FAFBFC;