$isCoBranded:yes;

$icap-color-green: #2ba25c;
$icap-color-green-dark: #055d21;
$icap-color-green-connection:#59e2b4;

$icap-color-red: #ff0101;
$icap-color-red-dark: #a80000;
$icap-color-red-connection:#fe7071;

$icap-color-widget: #ffffff;
$icap-color-border: #d3d2d2;
$icap-color-background: #ecf0f1;
$icap-color-widget-border: #dadada;

$icap-color-search-background: #d6dff3;
$icap-color-search-border-wrapper: #424d5c;
$icap-color-search-border: #202c34;
$icap-color-search-hover: #f0f4f7;

$icap-tab-border-bottom-color:#62a8ea;
$icap-tab-button-color:#76838f;

$icap-market-color-open:yellow;

$icap-btn-color:#7a8a99;
$icap-btn-border-color:#a7a3a3;
$icap-btn-border-color-hover:#58a7e2;
$icap-btn-color-active:#e8edf5;

/* write as text colours */
//$icap-text-color-main: #76838f;
//$icap-text-color-light: #76838f;
//$icap-text-color-table-header: #76838f;
//$icap-text-color-normal: #37474f;
//$icap-text-color-widget-title: #3d647a;
//$icap-text-color-symbol: #4d849f;
//$icap-text-color-symbol-dis: #76838f;

$icap-text-color-main: #333333;
$icap-text-color-light: #bac4c7;
$icap-text-color-table-header: #3A3A3A;
$icap-text-color-normal: #333333;
$icap-text-color-widget-title: #ffffff;
$icap-text-color-symbol: #385a76;
$icap-text-color-symbol-dis: #80909c;

$icap-color-1: #d07f00;
$icap-color-2: #3592d0;
$icap-color-3: #675a94;
$icap-color-4: #ff6c00;

$icap-ticker-color:#FAFBFC;