$isCoBranded:yes;


//**************************************************//

//---------- Most Frequently use Variables -----------//

//Widget Header colors 

// *****  This should be theme specific gradient colors (Need two colors), this will affect to entire theme headers  *****//

$theme2-gradient-tittle-first-colour: #06874b;
$theme2-gradient-tittle-second-colour: #00733e;

// Widget Background Color

$theme2-color-widget: #ffffff;

//Widget Border Color

$theme2-color-widget-border: #75abcf;

// Application Header and Side bar Background gradient ( two color gradient )

$theme2-gradient-topbar-first-colour: #eeeeee;
$theme2-gradient-topbar-second-colour: #e3e3e3;

// Application Header : Label background gradient

$theme2-gradient-toppanel-back-first-colour:#f6a31c; 
$theme2-gradient-toppanel-back-second-colour:#eba634;

// Tab Default ( Nav-tabs-3) : Default gradient colors

$theme2-gradient-nav-tabs-3-first-colour:#06874b;
$theme2-gradient-nav-tabs-3-second-colour:#00733e;

// Tab Sections ( Nav-tabs-3) : Selected Background gradient colors

$theme2-gradient-nav-tabs-3-hover-first-colour:#f9a51a ; 
$theme2-gradient-nav-tabs-3-hover-second-colour:#f9a51a ; 
$theme2-gradient-nav-tabs-3-hover-third-colour: #e69b20;
$theme2-gradient-nav-tabs-3-hover-fourth-colour:#e69b20 ;

//Sidebar Navigation : Selected Gradient colors

$theme2-gradient-sidebar-active-first-colour: #06874b;
$theme2-gradient-sidebar-active-second-colour: #06874b;
$theme2-gradient-sidebar-active-fourth-colour: #00733e;
$theme2-gradient-sidebar-active-third-colour: #00733e;



//----------End Most Frequently use Variables -----------//

//**************************************************//

// Other Variables Starts Here

$theme2-color-green: #2ba25c;
$theme2-color-green-dark: #055d21;
$theme2-color-green-connection:#58e2b3;

$theme2-color-red: #ff0101;
$theme2-color-red-dark: #a80000;
$theme2-color-red-connection:#fe7071;


$theme2-color-border: #d3d2d2;
$theme2-color-background: #ecf0f1;

$theme2-color-table-odd: #ffffff;
$theme2-color-table-even: #F3F3F3;

$theme2-color-border-widget-header:#265e81;
$theme2-color-border-1: #ffffff;
$theme2-color-border-top:#ECECEC; 
$theme2-color-border-left:#ECECEC;
$theme2-color-border-bottom:#75ABCF;
$theme2-color-border-bottom-2:#265e81;
$theme2-color-border-right:#D3D2D2;

$theme2-color-search-background: #d6dff3;
$theme2-color-search-border-wrapper: #424d5c;
$theme2-color-search-border: #D4D4D4;
$theme2-color-search-hover: #f0f4f7;

$theme2-menu-colour: #ffffff;

$theme2-tab-border-bottom-color:#62a8ea;
$theme2-tab-button-color:#76838f;

$theme1-dropdown-background-color:rgb( 255, 255, 255 );

$theme2-market-color-open:yellow;

$theme2-btn-color:#7a8a99;
$theme2-btn-border-color:#a7a3a3;
$theme2-btn-border-color-hover:#58a7e2;
$theme2-btn-color-active:#e8edf5;

$theme2-text-color-main: #333333;
$theme2-text-color-light: #ffffff;
$theme2-text-color-table-header: #333333;
$theme2-text-color-table-header-2: #ffffff;
$theme2-text-color-normal: #333333;
$theme2-text-color-widget-title: #ffffff;
$theme2-text-color-symbol: #385a76;
$theme2-text-color-symbol-dis: #80909c;

$theme2-ember-table-border: rgb( 132, 164, 190 );

$theme2-color-announcement: #ffbe40;
$theme2-color-1: #d07f00;
$theme2-color-2: #3592d0;
$theme2-color-3: #675a94;
$theme2-color-4: #ff6c00;

$theme2-ticker-color:#E6E6E6;

$theme2-Default-color:#139b5b;
$theme2-prochart-line-studies-back-color: #9E9E9E;
$theme2-popover-header-color: #139b5b;
$theme2-popover-border-color: #4b6878;
$theme2-popover-background-color: #ffffff;
$theme2-popover-hover-color: #f1f1f1;

$theme2-watchlist-cell-back-red: rgba(231, 67, 67, 0.14);
$theme2-watchlist-cell-back-green: rgba(46, 204, 113, 0.14);
$theme2-watchlist-cell-back-lastqty: rgba(85, 159, 214, 0.14);
$theme2-watchlist-row-back-red: rgba(250, 212, 223, 1); 
$theme2-watchlist-row-back-green: rgba(199, 238, 189, 1); 

$theme2-gradient-deg: 90deg;
$theme2-horizontal-line-width: 100%;

//sidebar active

$theme2-gradient-sidebar-active-first-precent: 0%; 
$theme2-gradient-sidebar-active-second-precent: 23%; 
$theme2-gradient-sidebar-active-third-precent: 45%; 
$theme2-gradient-sidebar-active-fourth-precent: 100%;

//nav tabs hover

$theme2-gradient-nav-tabs-hover-first-colour: rgb(233,233,233); 
$theme2-gradient-nav-tabs-hover-first-precent: 0%;
$theme2-gradient-nav-tabs-hover-second-colour: rgb(248,248,248);
$theme2-gradient-nav-tabs-hover-second-precent: 13%;
$theme2-gradient-nav-tabs-hover-third-colour: rgb(248,248,248);
$theme2-gradient-nav-tabs-hover-third-precent: 41%;
$theme2-gradient-nav-tabs-hover-fourth-colour: rgb(232,232,232);
$theme2-gradient-nav-tabs-hover-fourth-precent: 100%;

//nav tabs

$theme2-gradient-nav-tabs-first-colour: #ececec;
$theme2-gradient-nav-tabs-first-precent:  0%;
$theme2-gradient-nav-tabs-second-colour: #fefefe;
$theme2-gradient-nav-tabs-second-precent:  100%;
$theme2-color-nav-tabs-border:#BABABA;

//nav tabs 2

$theme2-nav-tabs-2-selected-colour:#FFFFFF;

//dq charts 

$theme2-gradient-dq-chart-first-colour: #06874b; 
$theme2-gradient-dq-chart-first-precent: 0%;
$theme2-gradient-dq-chart-second-colour: #00733e; 
$theme2-gradient-dq-chart-second-precent:  100%;

//watchlist table header 

$theme2-gradient-watchlist-table-header-first-colour: rgb(251,252,252);
$theme2-gradient-watchlist-table-header-first-precent: 0%;
$theme2-gradient-watchlist-table-header-second-colour: rgb(215,225,230);
$theme2-gradient-watchlist-table-header-second-precent: 100%;
$theme2-gradient-watchlist-table-header-third-colour: rgb(211,223,231);
$theme2-gradient-watchlist-table-header-third-precent:  100%;
$theme2-gradient-watchlist-table-header-fourth-colour: rgb(191,205,205);
$theme2-gradient-watchlist-table-header-fourth-precent:  100%;

//toppanel back

$theme2-gradient-toppanel-back-first-precent: 0%; 
$theme2-gradient-toppanel-back-second-precent: 100%;

//topbar 

$theme2-gradient-topbar-first-precent: 0%; 
$theme2-gradient-topbar-second-precent: 100%;

//prochart line studies back

$theme2-gradient-prochart-line-studies-back-first-colour:rgb(237,241,242);
$theme2-gradient-prochart-line-studies-back-first-precent: 0%;
$theme2-gradient-prochart-line-studies-back-second-colour: rgb(251,251,251);
$theme2-gradient-prochart-line-studies-back-second-precent: 100%;

//nav special

$theme2-gradient-nav-special-first-colour: rgb(24,181,176);
$theme2-gradient-nav-special-first-precent: 0%;
$theme2-gradient-nav-special-second-colour: rgb(37,170,166);
$theme2-gradient-nav-special-second-precent: 23%;  
$theme2-gradient-nav-special-third-colour: rgb(22,177,172);
$theme2-gradient-nav-special-third-precent: 45%;
$theme2-gradient-nav-special-fourth-colour: rgb(0,149,144);
$theme2-gradient-nav-special-fourth-precent: 100%;

//nav special focus

$theme2-gradient-nav-special-focus-first-colour: rgb(24,181,176); 
$theme2-gradient-nav-special-focus-first-precent: 0%;
$theme2-gradient-nav-special-focus-second-colour: rgb(37,170,166);
$theme2-gradient-nav-special-focus-second-precent:  23%;
$theme2-gradient-nav-special-focus-third-colour: rgb(22,177,172);
$theme2-gradient-nav-special-focus-third-precent:  45%;
$theme2-gradient-nav-special-focus-fourth-colour: rgb(0,149,144);
$theme2-gradient-nav-special-focus-fourth-precent:  100%;

// Widget Tittles

$theme2-gradient-tittle-first-precent: 0%; 
$theme2-gradient-tittle-second-precent:  100%;

// ember table body container 

$theme2-gradient-ember-table-body-container-first-colour: rgb(214,226,233);
$theme2-gradient-ember-table-body-container-first-precent: 0%;
$theme2-gradient-ember-table-body-container-second-colour: rgb(255,255,255);
$theme2-gradient-ember-table-body-container-second-precent: 100%;

// btn defult

$theme2-gradient-btn-default-first-colour: rgb(227,227,227);
$theme2-gradient-btn-default-first-precent: 0%;
$theme2-gradient-btn-default-second-colour: rgb(235,235,235);
$theme2-gradient-btn-default-second-precent: 0%;
$theme2-gradient-btn-default-third-colour: rgb(255,255,255);
$theme2-gradient-btn-default-third-precent:  100%;

//nav tabs 3 

$theme2-gradient-nav-tabs-3-first-precent: 0%;
$theme2-gradient-nav-tabs-3-second-precent:  100%;

// nav tabs 3 hover 

$theme2-gradient-nav-tabs-3-hover-first-precent: 0%;
$theme2-gradient-nav-tabs-3-hover-second-precent:23%;
$theme2-gradient-nav-tabs-3-hover-third-precent:34%;
$theme2-gradient-nav-tabs-3-hover-fourth-precent:100%;

//width

$theme2-horizontal-line-width:96%px;

//Footer

$theme2-color-footer:#f3f3f3;