$isCoBranded:no;

$color-green: #1bc98e;
$color-green-dark: #54907c;
$color-green-connection:#1bc98e;

$color-red: #fe7071;
$color-red-dark: #ca7474;
$color-red-connection:#fe7071;

$color-widget: #111317;
$color-border: #2a3036;
$color-background: #1d2228;
$color-widget-border: #111317;

$color-search-background: #111317;
$color-search-border-wrapper: #133b45;
$color-search-border: #2a3036;
$color-search-hover: #1c272e;

$tab-border-bottom-color:#326f9c;
$tab-background-color: #12212a; //new added
$tab-button-color:#518399;
$tab-colour-hover: #61b1ec; //new added

$btn-color:#616d7d;
$btn-border-color:#323d4c;
$btn-border-color-hover:#58a7e2;
$btn-color-active:#061d2e;

$table-row-colour-odd: #181b20; //new
$table-row-colour-even: #111317; //new

$ticker-color:#0B0D11;

$text-color-main: #5d6877;
$text-color-light: #b2b2b2;
$text-color-table-header: #93a2a7;
$text-color-normal: #CDD1D3;
$text-color-widget-title: #518399;
$text-color-symbol: #518399;
$text-color-symbol-dis: #93a2a7;

$color-announcement: #ffbe40;

$color-1:#ffbe40;
$color-2: #58a7e2;
$color-3: #675a94;
$color-4: #ff6c00;