@import 'common-variables';

.bold {
    font-weight: $font-bold;
}

body {
    font-family: "OpenSans", sans-serif; 
    direction: ltr;
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Regular.ttf");
    font-weight: normal;
    font-style: normal; }

.c3-chart-arcs-title {
	font-size: 12px;
	fill: #fff !important;
	alignment-baseline: middle;
}

a { 
	text-decoration: none;
	outline: 0;
}

a:hover, a:active, a:focus {
	outline: 0;
	text-decoration: none;
}

label.checkbox-label input[type=checkbox] {
	position: relative;
	vertical-align: middle;
	bottom: 2px;
	padding: 0px !important;
}

// new CSS for fonts

.font-x-l {
    font-size: $font-x-large;
}

.font-l {
    font-size: $font-large;
}

.font-m {
    font-size: $font-medium;
}

.font-s {
    font-size: $font-small;
}

.font-xxx-l {
    font-size: $font-xxx-large;
}

.font-x-l {
	font-size: $font-x-large;
}

.h-right {
    text-align: $text-align-3;
}

.ar .h-right {
    text-align: $text-align-1;
}

.h-middle {
    text-align: $text-align-2;
}

.h-left {
    text-align: $text-align-1;
}

.ar .h-left {
    text-align: $text-align-3;
}

.left {
    float: $float-1;
}

.ar .left {
    float: $float-2;
}

.right {
    float: $float-2;
}

.ar .right {
    float: $float-1 !important;
}

.clear {
	float: none;
	clear: both;
}

.bottom-zero {
    bottom: 0;
}

.full-width {
    width: 100%;
}

.v-top {
    vertical-align: top;
}

.v-bottom {
    vertical-align: bottom;
}

.display-table {
    display: table;
}

.display-table-row {
    display: table-row;
}

.display-table-cell {
    display: table-cell;
}

.pad-s-all {
    padding: $padding-small; 
}

.pad-m-all {
    padding: $padding-medium;
}

.mgn-s-t {
    margin-top: $margin-small;
}

.mgn-s-r {
    margin-right: $margin-small;
}

.mgn-s-b {
    margin-bottom: $margin-small;
}

.mgn-s-l {
    margin-left: $margin-small;
}

.ar .mgn-s-l {
    margin-right: $margin-small;
}

.mgn-m-t {
    margin-top: $margin-medium;
}

.mgn-m-r {
    margin-right: $margin-medium;
}

.mgn-m-b {
    margin-bottom: $margin-medium;
}

.mgn-m-l {
    margin-left: $margin-medium;
}

.ar .mgn-m-l {
    margin-right: $margin-medium;
    margin-left: inherit;
}

.mgn-l-t {
    margin-top: $margin-large;
}

.mgn-l-r {
    margin-right: $margin-large;
}

.mgn-l-b {
    margin-bottom: $margin-large;
}

.mgn-l-l {
    margin-left: $margin-large;
}

.pad-s-t {
    padding-top: $padding-small;
}

.pad-s-r {
    padding-right: $padding-small;
}

.ar .pad-s-r {
    padding-left: $padding-small;
}

.pad-s-b {
    padding-bottom: $padding-small;
}

.pad-s-l {
    padding-left: $padding-small;
}

.pad-m-t {
    padding-top: $padding-medium;
}
.pad-m-r {
    padding-right: $padding-medium;
}

.ar .pad-m-r {
    padding-left: $padding-medium;
}

.pad-m-b {
    padding-bottom: $padding-medium;
}

.pad-m-l {
    padding-left: $padding-medium;
}

.pad-l-all {
    padding: $padding-large;
}

.pad-l-t {
    padding-top: $padding-large;
}

.pad-l-r {
    padding-right: $padding-large;
}

.ar .pad-l-r {
    padding-left: $padding-large;
}

.pad-l-b {
    padding-bottom: $padding-large;
}

.pad-l-l {
    padding-left: $padding-large;
}

.padding-x-large-right{
    padding-right: 27px;
}

.ar .padding-x-large-right{
    padding-left: 24px;
    padding-right: 0px;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sub-str-tbl {
    table-layout: fixed;
    width: 100%;
}

.horizontal-list-left{
	list-style-type: none;
    padding: 0px;
    margin: 0px;
	float:$float-1;
}

.ar .horizontal-list-left{
	list-style-type: none;
    padding: 0px;
    margin: 0px;
	float:$float-2;
}

.horizontal-list-left li{
	margin-right:11px;
	float:$float-1;
	line-height:20px;
	vertical-align:middle;
}	

.horizontal-list-left li a{
	vertical-align:middle;
}	

.horizontal-list-left-v-sep{
    content: "";
    display: inline-block;
    width: 10px;
    height: 18px;
    border-right: 1px solid #1a2128;
    padding: 0;
    position: relative;
    top: 3px;
	margin-left:-$padding-small;
}	

.horizontal-list-left input[type="checkbox"]{
	margin:0px 5px 0 0;
} 

.horizontal-list-left input[type="radio"]{
	margin:0px 5px 0 0;
}

.horizontal-list-right{
	list-style-type: none;
    margin: 0px;
	float:right;
}

.ar .horizontal-list-right{
	list-style-type: none;
	float:$float-1;
}

.horizontal-list-right li{
	margin-left:11px;
	float:left;
	line-height:23px;
	vertical-align:middle;
}

.ar .horizontal-list-right li{
	margin-left:11px;
	float:right;
	line-height:23px;
	vertical-align:middle;
}

.horizontal-list-right li a{
	vertical-align:middle;
}	

.horizontal-list-right-v-sep{
    content: "";
    display: inline-block;
    width: 10px;
    height: 18px;
    border-left: 1px solid #1a2128;
    padding: 0;
    position: relative;
    top: 3px;
	margin-right:-$padding-small;
}	

.horizontal-list-right input[type="checkbox"]{
	margin:0px $padding-small 0 0;
} 

.horizontal-list-right input[type="radio"]{
	margin:0px $padding-small 0 0;
}

.ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pos-fixed {
    position: fixed;
}

.full-height{
    height:100%;
}

.v-middle {
    vertical-align:middle
}

.y-scroll{
    overflow-y:scroll;
}

.ar .y-scroll {
    overflow: overlay;
}

.x-scroll{
    overflow-x:scroll;
}

.text-box {
    height: 24px;
    padding-left: $padding-small;
}

ul.dropdown-menu li {
    width: 100%;
    margin: 0 0 1px 0;
}

ul.dropdown-menu li {
    width: 100%;
}

.dropdown-menu > li > a {
    padding: 3px 5px;
}

.border-none {
    border: none!important;
}

.transparent {
    background-color:transparent!important;
}

.table-type-2 td {
    height: 25px;
    vertical-align: middle;
}

.flex{
    display: flex;
}

.inline-block{
    display: inline-block;
}

// Helps position submenu
.dropdown-submenu {
    position: relative;
}

// Menus under the submenu should show up on the right of the parent 
.dropdown-submenu > .dropdown-menu {
    top:0;
    left:100%;
}

.ar .dropdown-submenu > .dropdown-menu {
    top:0;
    right:100%;
    width: 263px;
}

// Make submenu visible when hovering on link 
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}

.dropdown-submenu:hover>a:after {
    content: "►";
    border-width:5px 0 5px 5px;
    margin-top:5px;
    margin-right:-10px;
    float: $float-2;
}

.ar .dropdown-submenu:hover>a:after {
    content: "►";
    border-width:5px 0 5px 5px;
    margin-top:5px;
    margin-left:-10px;
    float: $float-1;
}

.ar .rtl {
    direction: rtl;
}

.ltr {
    direction: ltr;
}

.fullscreencontainer{
    position: absolute; 
    z-index:0; 
    height: 100%; 
    max-height: 100%;
    margin-top: -5px;
    margin-left: -5px;
}

