
$font-small: 10px;
$font-medium: 11px;
$font-large: 12px;
$font-x-large:14px;
$font-xx-large: 16px;
$font-xxx-large:18px;

$padding-large:15px;
$padding-medium:10px;
$padding-small:5px;

$margin-large:15px;
$margin-medium:10px;
$margin-small:5px;

$font-family: 'Open Sans', sans-serif;

$font-bold: bold;

$float-1:left;
$float-2:right;
$float-3:none;

$text-align-1: left;
$text-align-2: center;
$text-align-3:  right;

$font-italic:italic;

