.footer {
	height: 30px;
	bottom: 0;
	position: fixed;
}

.footer-padding {
	padding-right: $padding-small;
	padding-left: $padding-small;
}

.footer-padding-first {
	padding-right: $padding-small;
}

.footer-padding-last {
	padding-left: $padding-small;
}
