
@import 'common-variables.scss';
@import 'widget-variables';

$height-top-panel:74px;

// Toggle Styles

.wrapper {
	padding-left: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.ar .wrapper {
	padding-right: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.wrapper.toggled {
	padding-left: 90px;
}

.ar .wrapper.toggled {
	padding-right: 90px;
}

.sidebar-wrapper {
	z-index: 1000;
	position: fixed;
	left: 90px;
	width: 0;
	height: 100%;
	margin-left: -90px;
	overflow-y: auto;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.ar .sidebar-wrapper {
	z-index: 1000;
	position: fixed;
	right: 90px;
	height: 100%;
	margin-right: -90px;
	overflow-y: auto;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.wrapper.toggled .sidebar-wrapper {
	width: 90px;
}

.ar .page-content-wrapper {
	width: 100%;
	position: absolute;
	padding-top: 80px;
}

.page-content-wrapper {
	width: 100%;
	position: absolute;
	padding-top: 80px;
}

.wrapper.toggled .page-content-wrapper {
	position: absolute;
	margin-right: -90px;
}

.ar .wrapper.toggled .page-content-wrapper {
	position: absolute;
	margin-left: -90px;
}

// Sidebar Styles

.sidebar-nav {
	top: 0;
	width: 90px;
	margin: 0px;
	padding: 0;
	list-style: none;
}

.sidebar-nav li {
	height: 66px;
	text-align: center;
 	padding: 5px 0px 5px 0px;
}

.theme2 .sidebar-nav li {
	height: 66px;
	text-align: center;
 	padding: 5px 0px 5px 0px;
    border-bottom: 1px #97AAC3 solid;
    font-weight: bold;
}

.sidebar-nav li a {
	display: block;
	text-decoration: none;
 	font-size: 13px;
	text-align: center;
	cursor: pointer;
}

.sidebar-nav li a:hover {
	text-decoration: none;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
	text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
	height: 65px;
    font-size: $font-xxx-large;
	line-height: 60px;
}

.sidebar-nav > .sidebar-brand a:hover {
	background: none;
}

@media(min-width:768px) {
.wrapper {
	padding-left: 90px;// padding-top: 88px;
}
    
.wrapper.toggled {
	padding-left: 0;
}
    
.ar .wrapper {
	padding-right: 90px;// padding-top: 88px;
	padding-left: 0;
}
    
.ar .wrapper.toggled {
	padding-right: 0;
}
    
.sidebar-wrapper {
	width: 90px;
	margin-top: 88px;
}
    
.wrapper.toggled #sidebar-wrapper {
	width: 0;
}
    
.page-content-wrapper {
	position: relative;
}
    
.wrapper.toggled .page-content-wrapper {
	position: relative;
	margin-right: 0;
}
    
.ar .wrapper.toggled .ar .page-content-wrapper {
	position: relative;
	margin-left: 0;
}
}

span.glyphicon {
	font-size: 1.6em;
}

.sidebar-active {
 	padding-top: $padding-small;
}

.left-panel{
    width: 90px; 
    height: calc(100% - #{$height-top-panel + $height-tittle-bar + $height-footer + 10});
}
