@import 'colour-theme-riyad';

.theme2 body{
    font-family: arial;
}

/* from sidebar.theme2 .scss */
.theme2 .sidebar-wrapper {
    background:  $theme2-color-background;
}

.theme2 .sidebar-nav li a {
    color: $theme2-btn-color;
}

.theme2 li.sidebar-active a{
    color: $theme2-btn-color-active !important;
}


.theme2 .sidebar-nav li a:hover {
    color: $theme2-text-color-normal;
}

.theme2 .sidebar-nav > .theme2 .sidebar-brand a {
	color: #999999;
}

.theme2 .sidebar-nav > .theme2 .sidebar-brand a:hover {
	color: #fff;
}

@mixin sidebar-active ($theme2-gradient-sidebar-active-deg, $theme2-gradient-sidebar-active-first-colour, $theme2-gradient-sidebar-active-first-precent, $theme2-gradient-sidebar-active-second-colour, $theme2-gradient-sidebar-active-second-precent, $theme2-gradient-sidebar-active-third-colour, $theme2-gradient-sidebar-active-third-precent, $theme2-gradient-sidebar-active-fourth-colour, $theme2-gradient-sidebar-active-fourth-precent)
{
    background-image: -moz-linear-gradient($theme2-gradient-sidebar-active-deg, $theme2-gradient-sidebar-active-first-colour $theme2-gradient-sidebar-active-first-precent, $theme2-gradient-sidebar-active-second-colour $theme2-gradient-sidebar-active-second-precent, $theme2-gradient-sidebar-active-third-colour $theme2-gradient-sidebar-active-third-precent, $theme2-gradient-sidebar-active-fourth-colour $theme2-gradient-sidebar-active-fourth-precent);
    background-image: -webkit-linear-gradient($theme2-gradient-sidebar-active-deg, $theme2-gradient-sidebar-active-first-colour $theme2-gradient-sidebar-active-first-precent, $theme2-gradient-sidebar-active-second-colour $theme2-gradient-sidebar-active-second-precent, $theme2-gradient-sidebar-active-third-colour $theme2-gradient-sidebar-active-third-precent, $theme2-gradient-sidebar-active-fourth-colour $theme2-gradient-sidebar-active-fourth-precent);
    background-image: -ms-linear-gradient($theme2-gradient-sidebar-active-deg, $theme2-gradient-sidebar-active-first-colour $theme2-gradient-sidebar-active-first-precent, $theme2-gradient-sidebar-active-second-colour $theme2-gradient-sidebar-active-second-precent, $theme2-gradient-sidebar-active-third-colour $theme2-gradient-sidebar-active-third-precent, $theme2-gradient-sidebar-active-fourth-colour $theme2-gradient-sidebar-active-fourth-precent);
}

.theme2 .sidebar-active {
    color: $theme2-btn-color-active !important;
    border-bottom: 1px solid $theme2-color-border-bottom;
    @include sidebar-active ($theme2-gradient-sidebar-active-deg, $theme2-gradient-sidebar-active-first-colour, $theme2-gradient-sidebar-active-first-precent, $theme2-gradient-sidebar-active-second-colour, $theme2-gradient-sidebar-active-second-precent, $theme2-gradient-sidebar-active-third-colour, $theme2-gradient-sidebar-active-third-precent, $theme2-gradient-sidebar-active-fourth-colour, $theme2-gradient-sidebar-active-fourth-precent)
}

.theme2 .sidebar-nav {
    background-color: $theme2-color-widget;
    border: 1px $theme2-color-widget-border solid;
}
/* end of sidebar.theme2 .scss */


/* from navbar.theme2 .scss */
.theme2 .navbar-inverse {
    background-color: $theme2-color-widget;
    border: 1px $theme2-color-border solid;
}

.theme2 .logo-text {
	color: $theme2-text-color-main;
}

.theme2 .vertical-separator {
    border-right: 1px $theme2-color-border solid;
}

.theme2 .progress-time {
    background-color: $theme2-color-widget !important;
}
/* end of navbar.theme2 .scss */

/* from widget.theme2 .scss */
.theme2 .widget {
    background-color: $theme2-color-widget;
    border: 1px $theme2-color-widget-border solid;
}

.theme2 h2.widget-title-type-1{
    border-bottom: 1px $theme2-color-border solid;
    color:$theme2-text-color-widget-title;
}

.theme2 .widget-watchlist {
    background-color: $theme2-color-widget;
}

.theme2 .search-query {
    border: 1px #A4CFF1 solid;
    background-color: $theme2-color-background;
    height: 22px;
}

.theme2 .online {
    background-color: $theme2-color-green;
}

/* news section */

.theme2 .news-row {
    border-bottom: 2px $theme2-color-border solid;
}

/* provide some minimal visual accomodation for IE8 and below */

.theme2 .TFtable tr {
    background: $theme2-color-widget;
}

/*  Define the background color for all the ODD background rows  */

.theme2 .TFtable tr:nth-child(odd) {
    background: $theme2-color-widget;
}

/*  Define the background color for all the EVEN background rows  */

.theme2 .TFtable tr:nth-child(even) {
    background: $theme2-color-background;
}

.theme2 .panel-table-row-odd {
    background: $theme2-color-widget;
}

.theme2 .panel-table-row-even {
    background: $theme2-color-background;
}
    
::-webkit-scrollbar-thumb {
    background-color:rgba(136, 134, 134, 0.3);
}

/* add widget tittle class */

.theme2 .progress-bid {
    background-color: $theme2-color-widget !important;
}

.theme2 .progress-offer {
    background-color: $theme2-color-widget !important;
	border-right: 0px #232836 solid;
}

.theme2 .quote-cell {
    background-color: $theme2-color-background;
}

.theme2 .quote-cell-border {
    border-right:  2px $theme2-color-widget solid
}

.theme2 .company-heading {
    border-right: 2px $theme2-color-border solid;
}

.theme2 .company-address a {
    color:$theme2-color-2;
}

@mixin gradient-title ($theme2-gradient-tittle-deg, $theme2-gradient-tittle-first-colour, $theme2-gradient-tittle-first-precent, $theme2-gradient-tittle-second-colour, $theme2-gradient-tittle-second-precent)
{
    background-image: -moz-linear-gradient( $theme2-gradient-tittle-deg, $theme2-gradient-tittle-first-colour $theme2-gradient-tittle-first-precent, $theme2-gradient-tittle-second-colour $theme2-gradient-tittle-second-precent);
    background-image: -webkit-linear-gradient( $theme2-gradient-tittle-deg, $theme2-gradient-tittle-first-colour $theme2-gradient-tittle-first-precent, $theme2-gradient-tittle-second-colour $theme2-gradient-tittle-second-precent);
    background-image: -ms-linear-gradient( $theme2-gradient-tittle-deg, $theme2-gradient-tittle-first-colour $theme2-gradient-tittle-first-precent, $theme2-gradient-tittle-second-colour $theme2-gradient-tittle-second-precent);
}

.theme2 .footer {
    border-top: 1px solid $theme2-color-border-top;
   @include gradient-title ($theme2-gradient-tittle-deg, $theme2-gradient-tittle-first-colour, $theme2-gradient-tittle-first-precent, $theme2-gradient-tittle-second-colour, $theme2-gradient-tittle-second-precent);
    
}

.theme2 .footer-padding {
    border-right:1px $theme2-color-border solid;
}

.theme2 .footer-padding-first {
    border-right:1px $theme2-color-border solid;
}

.theme2 .icon-btn {
    background-color: $theme2-color-widget;
    border-color: $theme2-btn-border-color;
    color: $theme2-tab-button-color;
}

.theme2 .search-wrapper {
    border: 1px solid $theme2-color-search-border-wrapper;
    background-color: $theme2-color-search-background;
}

.theme2 .search-title {
    border-bottom: 1px $theme2-color-search-border solid;
    color: $theme2-text-color-widget-title;
}

.theme2 .search-row {
    border-bottom: 1px $theme2-color-search-border-wrapper solid;
}

.theme2 .search-row:hover, .theme2 .search-row-hover {
    background-color: $theme2-color-search-hover ; 
 }

.theme2 .dropdown-menu-2 {
    font-size: 11px;
    background-color: $theme2-color-widget;
    border: 1px solid $theme2-btn-border-color;
}

.theme2 .spread-text{
    background-color:$theme2-color-widget;
}

.theme2 .btn-dropdown-no-border{
    background-color: $theme2-color-widget;
    color: $theme2-btn-color;
}
    
.theme2 .btn-dropdown-no-border:hover {
    color: $theme2-btn-border-color-hover;
}

.theme2 .chart-btn-icon:hover {
    color: $theme2-btn-border-color-hover;
    background-color: $theme2-color-widget;
}

.theme2 .dot-style-high {
    border-right: 4px solid $theme2-color-green;
}

.theme2 .dot-style-low {
    border-right: 4px solid $theme2-color-red;

}

.theme2 .blink-style-up {
    color: $theme2-text-color-normal;
    background-color: #4dc45b !important; 
}

.theme2 .blink-style-down {
    color:$theme2-text-color-normal;
    background-color: #fb8888 !important; 
}

.theme2 .blink-classic-up {
    color: $theme2-text-color-normal;
    background-color: #4dc45b !important; 
}

.theme2 .blink-classic-down {
    color: $theme2-text-color-normal;
    background-color: #fb8888 !important; 
}

/* end of widget.theme2 .scss */

/* from bootsrap-override.scss */


@mixin btn-default ($theme2-gradient-btn-default-deg, $theme2-gradient-btn-default-first-colour, $theme2-gradient-btn-default-first-precent, $theme2-gradient-btn-default-second-colour, $theme2-gradient-btn-default-second-precent, $theme2-gradient-btn-default-third-colour, $theme2-gradient-btn-default-third-precent)
{
    background-image: -moz-linear-gradient($theme2-gradient-btn-default-deg, $theme2-gradient-btn-default-first-colour $theme2-gradient-btn-default-first-precent, $theme2-gradient-btn-default-second-colour $theme2-gradient-btn-default-second-precent, $theme2-gradient-btn-default-third-colour $theme2-gradient-btn-default-third-precent);
    background-image: -webkit-linear-gradient($theme2-gradient-btn-default-deg, $theme2-gradient-btn-default-first-colour $theme2-gradient-btn-default-first-precent, $theme2-gradient-btn-default-second-colour $theme2-gradient-btn-default-second-precent, $theme2-gradient-btn-default-third-colour $theme2-gradient-btn-default-third-precent);
    background-image: -ms-linear-gradient($theme2-gradient-btn-default-deg, $theme2-gradient-btn-default-first-colour $theme2-gradient-btn-default-first-precent, $theme2-gradient-btn-default-second-colour $theme2-gradient-btn-default-second-precent, $theme2-gradient-btn-default-third-colour $theme2-gradient-btn-default-third-precent);
}


.theme2 .btn-default {
	color: $theme2-btn-color;
	border-style: solid;
	border-width: 1px;
	margin-bottom: 0px;
    height: 22px;
	padding: $padding-small;
	font-size: $font-medium;
    border-style: solid;
    border-width: 1px;
    border-color: rgb( 212, 212, 212 );
    border-radius: 3px;
    @include btn-default ($theme2-gradient-btn-default-deg, $theme2-gradient-btn-default-first-colour, $theme2-gradient-btn-default-first-precent, $theme2-gradient-btn-default-second-colour, $theme2-gradient-btn-default-second-precent, $theme2-gradient-btn-default-third-colour, $theme2-gradient-btn-default-third-precent)
}

.theme2 .btn-dropdown {
    padding-left: $padding-medium;
    padding-right: $padding-medium; 
}

.theme2 .btn-default:hover, .theme2 .icon-btn:hover, .theme2 .btn-default:focus, .theme2 .btn-default.focus,.theme2 .btn-default:active, .theme2 .btn-default.active,.theme2 .open > .theme2 .dropdown-toggle.btn-default {
    color: #58a7e2;
    background-color: $color-widget;
    border-color:$theme2-text-color-table-header;
}

.theme2 .dropdown-menu > li > a:hover,.theme2 .dropdown-menu > li > a:focus {
    color: $theme2-text-color-light;
    background-color: $theme2-color-search-hover;
} 

.theme2 .btn-default:focus, .theme2 .btn-default.focus {
    background-color: $theme2-btn-color-active;
 }

@mixin gradient-nav-tabs-hover ($theme2-gradient-nav-tabs-hover-deg, $theme2-gradient-nav-tabs-hover-first-colour, $theme2-gradient-nav-tabs-hover-first-precent, $theme2-gradient-nav-tabs-hover-second-colour, $theme2-gradient-nav-tabs-hover-second-precent, $theme2-gradient-nav-tabs-hover-third-colour, $theme2-gradient-nav-tabs-hover-third-precent, $theme2-gradient-nav-tabs-hover-fourth-colour, $theme2-gradient-nav-tabs-hover-fourth-precent)
{
    background-image: -moz-linear-gradient($theme2-gradient-nav-tabs-hover-deg, $theme2-gradient-nav-tabs-hover-first-colour $theme2-gradient-nav-tabs-hover-first-precent, $theme2-gradient-nav-tabs-hover-second-colour $theme2-gradient-nav-tabs-hover-second-precent, $theme2-gradient-nav-tabs-hover-third-colour $theme2-gradient-nav-tabs-hover-third-precent, $theme2-gradient-nav-tabs-hover-fourth-colour $theme2-gradient-nav-tabs-hover-fourth-precent);
    background-image: -webkit-linear-gradient($theme2-gradient-nav-tabs-hover-deg, $theme2-gradient-nav-tabs-hover-first-colour $theme2-gradient-nav-tabs-hover-first-precent, $theme2-gradient-nav-tabs-hover-second-colour $theme2-gradient-nav-tabs-hover-second-precent, $theme2-gradient-nav-tabs-hover-third-colour $theme2-gradient-nav-tabs-hover-third-precent, $theme2-gradient-nav-tabs-hover-fourth-colour $theme2-gradient-nav-tabs-hover-fourth-precent);
    background-image: -ms-linear-gradient($theme2-gradient-nav-tabs-hover-deg, $theme2-gradient-nav-tabs-hover-first-colour $theme2-gradient-nav-tabs-hover-first-precent, $theme2-gradient-nav-tabs-hover-second-colour $theme2-gradient-nav-tabs-hover-second-precent, $theme2-gradient-nav-tabs-hover-third-colour $theme2-gradient-nav-tabs-hover-third-precent, $theme2-gradient-nav-tabs-hover-fourth-colour $theme2-gradient-nav-tabs-hover-fourth-precent);
}

.theme2 .nav-tabs > li.active > a, .theme2 .nav-tabs > li.active > a:hover, .theme2 .nav-tabs > li.active > a:focus {
	color: $theme2-text-color-normal !important;
    @include gradient-nav-tabs-hover ($theme2-gradient-nav-tabs-hover-deg, $theme2-gradient-nav-tabs-hover-first-colour, $theme2-gradient-nav-tabs-hover-first-precent, $theme2-gradient-nav-tabs-hover-second-colour, $theme2-gradient-nav-tabs-hover-second-precent, $theme2-gradient-nav-tabs-hover-third-colour, $theme2-gradient-nav-tabs-hover-third-precent, $theme2-gradient-nav-tabs-hover-fourth-colour, $theme2-gradient-nav-tabs-hover-fourth-precent);
    background-color: rgba(243, 243, 243, 0);
	border-bottom: 0px solid $theme2-tab-border-bottom-color;
    border-bottom-color: $theme2-tab-border-bottom-color;
    font-weight: bold;
    border-style: solid;
    border-width: 1px;
    border-color: rgb( 212, 212, 212 );
}

.theme2 .nav-tabs {
    border-bottom: 0px solid $theme2-color-border;
}

@mixin nav-tabs ($theme2-gradient-nav-tabs-deg, $theme2-gradient-nav-tabs-first-colour, $theme2-gradient-nav-tabs-first-precent, $theme2-gradient-nav-tabs-second-colour, $theme2-gradient-nav-tabs-second-precent)
{
    background-image: -moz-linear-gradient($theme2-gradient-nav-tabs-deg, $theme2-gradient-nav-tabs-first-colour $theme2-gradient-nav-tabs-first-precent, $theme2-gradient-nav-tabs-second-colour $theme2-gradient-nav-tabs-second-precent);
    background-image: -webkit-linear-gradient($theme2-gradient-nav-tabs-deg, $theme2-gradient-nav-tabs-first-colour $theme2-gradient-nav-tabs-first-precent, $theme2-gradient-nav-tabs-second-colour $theme2-gradient-nav-tabs-second-precent);
    background-image: -ms-linear-gradient($theme2-gradient-nav-tabs-deg, $theme2-gradient-nav-tabs-first-colour $theme2-gradient-nav-tabs-first-precent, $theme2-gradient-nav-tabs-second-colour $theme2-gradient-nav-tabs-second-precent);
}



.theme2 .nav-tabs > li > a {
    border-style: solid;
    border-width: 1px;
    border-color: rgb( 212, 212, 212 );
    @include nav-tabs ($theme2-gradient-nav-tabs-deg, $theme2-gradient-nav-tabs-first-colour, $theme2-gradient-nav-tabs-first-precent, $theme2-gradient-nav-tabs-second-colour, $theme2-gradient-nav-tabs-second-precent);
    color: $theme2-tab-button-color;
    margin-right: 0px;
}

.theme2 .nav > li > a:hover, .theme2 .nav > li > a:focus {
	color: $theme2-btn-border-color-hover;
}

h2.theme2 .nav-tabs {
    border-bottom: 0px;
    margin: -5px 0 0 0;
    color: $theme2-tab-button-color;
}

.theme2 .progress {
    background-color: $theme2-color-red;
}

.theme2 .progress-bar {
    background-color: $theme2-color-green;
	border-right: 2px $theme2-color-widget-border solid;
}

.theme2 .progress-border {
	height: 5px;
	border-bottom: 1px $theme2-color-widget-border solid;
}

.theme2 .progress-bar-wk-green {
    border-right: 4px $theme2-color-green solid;
}

.theme2 .progress-bar-wk-red {
    border-right: 4px $theme2-color-red solid;
}

.theme2 .progress-up {
    background-color: $theme2-color-green;
}

.theme2 .progress-down {
    background-color: $theme2-color-red;
}

.theme2 .progress-unchanged {
    background-color: $theme2-color-1;
}

.theme2 .popover.left > .theme2 .arrow:after {
    border-left-color:  $theme2-text-color-main;
}

.theme2 .dropdown-menu {
    border-style: solid;
    border-width: 1px;
    border-color: rgb( 167, 163, 163 );
    background-color: rgb( 255, 255, 255 );
    box-shadow: 1px 1.732px 11px 0px rgb( 92, 92, 92 );
}
/* end of bootstrap override */ 


/*pop over */
.theme2 .popover {
    background-color: $theme2-text-color-main;
    border: 1px solid $theme2-color-border;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: $theme2-color-background;
}

.theme2 .popover-title {
    background-color: $theme2-color-background;
    border-bottom: 1px solid $theme2-color-border;
    color: $theme2-text-color-main;
}

.theme2 .popover.left > .theme2 .arrow:after {
    border-left-color:  $theme2-text-color-main;
}

.theme2 .carousel-indicators li {
    border: 1px solid $theme2-color-border;
}

.theme2 .carousel-indicators.active {
    background-color: $theme2-color-border;
}
/* end of bootsrap-override.scss */


/* from ember-override.theme2 .scss */
@mixin ember-table-body-container ($theme2-gradient-ember-table-body-container-deg, $theme2-gradient-ember-table-body-container-first-colour, $theme2-gradient-ember-table-body-container-first-precent, $theme2-gradient-ember-table-body-container-second-colour, $theme2-gradient-ember-table-body-container-second-precent)
{
    background-image: -moz-linear-gradient($theme2-gradient-ember-table-body-container-deg, $theme2-gradient-ember-table-body-container-first-colour $theme2-gradient-ember-table-body-container-first-precent, $theme2-gradient-ember-table-body-container-second-colour $theme2-gradient-ember-table-body-container-second-precent);
    background-image: -webkit-linear-gradient($theme2-gradient-ember-table-body-container-deg, $theme2-gradient-ember-table-body-container-first-colour $theme2-gradient-ember-table-body-container-first-precent, $theme2-gradient-ember-table-body-container-second-colour $theme2-gradient-ember-table-body-container-second-precent);
    background-image: -ms-linear-gradient($theme2-gradient-ember-table-body-container-deg, $theme2-gradient-ember-table-body-container-first-colour $theme2-gradient-ember-table-body-container-first-precent, $theme2-gradient-ember-table-body-container-second-colour $theme2-gradient-ember-table-body-container-second-precent);
}

.theme2 .ember-table-body-container .ember-table-table-row.ember-table-hover {
	border-style: solid;
    border-width: 1px;
    border-color: rgb( 132, 164, 190 );
    @include ember-table-body-container ($theme2-gradient-ember-table-body-container-deg, $theme2-gradient-ember-table-body-container-first-colour, $theme2-gradient-ember-table-body-container-first-precent, $theme2-gradient-ember-table-body-container-second-colour, $theme2-gradient-ember-table-body-container-second-precent);
}

.theme2 .ember-table-body-container .ember-table-table-row.ember-table-selected {
	background-color: #e8edf5 !important;
	border: 0px #A4CFF1 solid;
    color: $theme2-text-color-main;
}

.theme2 .ember-table-header-row,.theme2 .ember-table-header-container .ember-table-table-fixed-wrapper {
	background-color: $theme2-color-widget;
}

.theme2 .ember-table-footer-container {
	background-color: #262932 !important;
}

.theme2 .ember-table-style-row {
	background-color: #1d6bac;
}
/* end of ember-override.theme2 .scss */

/* from global */
.theme2 a { 
	color: $tab-button-color;
}

.theme2 a:hover, .theme2 a:active, .theme2 a:focus {
    color: $btn-border-color-hover;

}
/* end of global */

/* from common */
.theme2 body {
    background-color: $theme2-color-background;
    color: $theme2-text-color-main;
}

.theme2 .colour-normal {
    color: $theme2-text-color-normal !important;
    fill: $theme2-text-color-normal !important;
}

.theme2 .green {
    color:  $theme2-color-green;
}

.theme2 .green-dark {
    color: $theme2-color-green-dark;
}

.theme2 .red {
    color: $theme2-color-red;
}

.theme2 .colour-symbol {
    color: $theme2-text-color-symbol !important;
}

.theme2 .colour-symbol-dis {
    color: $theme2-text-color-symbol-dis !important;
}

.theme2 .colour-dq-chart {
    color: $theme2-text-color-widget-title;
}

.theme2 .red-dark {
    color: $theme2-color-red-dark;
}

.theme2 .colour-1 {
    color: $theme2-color-1;
}

.theme2 .colour-2 {
    color: $theme2-color-2;
}

.theme2 .colour-3 {
    color: $theme2-color-3;
}

.theme2 .colour-4 {
    color: $theme2-color-4;
}

.theme2 .widget-dq-chart-color {
    color: $theme2-text-color-widget-title;
}

.theme2 .header-colour {
    color: $theme2-text-color-table-header;
}

.theme2 .border-right {
    border-right: 1px $theme2-color-border solid;
}

.ar .theme2 .border-right {
    border-left: 1px $theme2-color-border solid;
    border-right: 0px $theme2-color-border solid;
}

.theme2 .border-bottom {
    border-bottom: 1px $theme2-color-border solid;
}

.theme2 .text-color-light{
    color: riyad-text-color-light;
}

.theme2 .font-table-header {
    color: $theme2-text-color-table-header;
}

.theme2 .back-green-dark{
    background-color:$theme2-color-green-dark !important;
}

.theme2 .back-red-dark{
    background-color:$theme2-color-red-dark !important;
}

.theme2 .text-box {
    border: 1px $theme2-btn-border-color solid;
    background-color: $theme2-color-background; 
}

.theme2 .watchlist-cell-back-red{
    background-color: rgba(231, 67, 67, 0.14);
}

.theme2 .watchlist-cell-back-green{
    background-color: rgba(46, 204, 113, 0.14);
}

.theme2 .watchlist-cell-back-lastqty{
    background-color: rgba(85, 159, 214, 0.14);
}

.theme2 .watchlist-row-back-red {
    background-color: rgba(250, 212, 223, 1); 
}

.theme2 .watchlist-row-back-green {
    background-color: rgba(199, 238, 189, 1); 
}

.theme2 .watchlist-row-strike {
    text-decoration: line-through; 
}




.theme2 h2.widget-title-type-1{
    border-bottom: 0px solid #171d23;
@include gradient-title ($theme2-gradient-tittle-deg, $theme2-gradient-tittle-first-colour, $theme2-gradient-tittle-first-precent, $theme2-gradient-tittle-second-colour, $theme2-gradient-tittle-second-precent);
    margin-left: -6px;
    margin-right: -6px;
    font-size:$font-medium;
    font-weight:$font-bold;
    padding:4px $padding-small 4px $padding-small;
}

.theme2 h2.widget-title-with-icon{
    padding:3px $padding-small 3px $padding-small !important;
}


@mixin gradient-dq-charts ($theme2-gradient-dq-chart-deg, $theme2-gradient-dq-chart-first-colour, $theme2-gradient-dq-chart-first-precent, $theme2-gradient-dq-chart-second-colour, $theme2-gradient-dq-chart-second-precent)
{
    background-image: -moz-linear-gradient( $theme2-gradient-dq-chart-deg, $theme2-gradient-dq-chart-first-colour $theme2-gradient-dq-chart-first-precent, $theme2-gradient-dq-chart-second-colour $theme2-gradient-dq-chart-second-precent) !important;
    background-image: -webkit-linear-gradient( $theme2-gradient-dq-chart-deg, $theme2-gradient-dq-chart-first-colour $theme2-gradient-dq-chart-first-precent, $theme2-gradient-dq-chart-second-colour $theme2-gradient-dq-chart-second-precent) !important;
    background-image: -ms-linear-gradient( $theme2-gradient-dq-chart-deg, $theme2-gradient-dq-chart-first-colour $theme2-gradient-dq-chart-first-precent, $theme2-gradient-dq-chart-second-colour $theme2-gradient-dq-chart-second-precent) !important;
}

.theme2 .nav-tabs-dq-charts {
    @include gradient-dq-charts ($theme2-gradient-dq-chart-deg, $theme2-gradient-dq-chart-first-colour, $theme2-gradient-dq-chart-first-precent, $theme2-gradient-dq-chart-second-colour, $theme2-gradient-dq-chart-second-precent);
    border: 0px !important;
    margin-top: 1px;
}


.theme2 .widget{
    padding: 0px $padding-small 0px $padding-small;
    background-color: $theme2-color-background;
}

.theme2 .widget-watchlist{
    padding: 0px 0px $padding-small 0px;
    background-color: $theme2-color-background;
    background-attachment:fixed;
}

.theme2 .watchlist-ul{
    width: 100%;
    position: relative;
    padding: 0 $padding-small 0 $padding-small;
}

@mixin watchlist-table-header ($theme2-gradient-watchlist-table-header-deg, $theme2-gradient-watchlist-table-header-first-colour, $theme2-gradient-watchlist-table-header-first-precent, $theme2-gradient-watchlist-table-header-second-colour, $theme2-gradient-watchlist-table-header-second-precent,  $theme2-gradient-watchlist-table-header-third-colour, $theme2-gradient-watchlist-table-header-third-precent, $theme2-gradient-watchlist-table-header-fourth-colour, $theme2-gradient-watchlist-table-header-fourth-precent)
{
    background-image: -moz-linear-gradient( $theme2-gradient-watchlist-table-header-deg, $theme2-gradient-watchlist-table-header-first-colour, $theme2-gradient-watchlist-table-header-first-precent, $theme2-gradient-watchlist-table-header-second-colour, $theme2-gradient-watchlist-table-header-second-precent,  $theme2-gradient-watchlist-table-header-third-colour, $theme2-gradient-watchlist-table-header-third-precent,  $theme2-gradient-watchlist-table-header-fourth-colour, $theme2-gradient-watchlist-table-header-fourth-precent);
    background-image: -webkit-linear-gradient( $theme2-gradient-watchlist-table-header-deg, $theme2-gradient-watchlist-table-header-first-colour, $theme2-gradient-watchlist-table-header-first-precent, $theme2-gradient-watchlist-table-header-second-colour, $theme2-gradient-watchlist-table-header-second-precent,  $theme2-gradient-watchlist-table-header-third-colour, $theme2-gradient-watchlist-table-header-third-precent, $theme2-gradient-watchlist-table-header-fourth-colour, $theme2-gradient-watchlist-table-header-fourth-precent);
    background-image: -ms-linear-gradient( $theme2-gradient-watchlist-table-header-deg, $theme2-gradient-watchlist-table-header-first-colour, $theme2-gradient-watchlist-table-header-first-precent, $theme2-gradient-watchlist-table-header-second-colour, $theme2-gradient-watchlist-table-header-second-precent,  $theme2-gradient-watchlist-table-header-third-colour, $theme2-gradient-watchlist-table-header-third-precent, $theme2-gradient-watchlist-table-header-fourth-colour, $theme2-gradient-watchlist-table-header-fourth-precent);
}

.theme2 .netplus-watchlist-table-header{
    border-bottom: 1px rgb( 218, 227, 232 ) solid;
    @include watchlist-table-header ($theme2-gradient-watchlist-table-header-deg, $theme2-gradient-watchlist-table-header-first-colour, $theme2-gradient-watchlist-table-header-first-precent, $theme2-gradient-watchlist-table-header-second-colour, $theme2-gradient-watchlist-table-header-second-precent,  $theme2-gradient-watchlist-table-header-third-colour, $theme2-gradient-watchlist-table-header-third-precent, $theme2-gradient-watchlist-table-header-fourth-colour, $theme2-gradient-watchlist-table-header-fourth-precent);
}

.theme2 .netplus-watchlist-header{
@include gradient-title ($theme2-gradient-tittle-deg, $theme2-gradient-tittle-first-colour, $theme2-gradient-tittle-first-precent, $theme2-gradient-tittle-second-colour, $theme2-gradient-tittle-second-precent);
    padding: 0px $padding-small 0px $padding-small;
    margin-bottom: $margin-small;
    height: 22px;
    border-bottom: 1px solid $theme2-color-border-bottom;
}

.theme2 .widget-header{
    border-radius: 2px 2px 0px 0px;
    background-color: $theme2-color-widget;
    border-top: 1px $theme2-color-border-top solid;
    border-bottom: 1px $theme2-color-border-bottom solid;
    border-right: 1px $theme2-color-border-right solid;
    border-left: 1px $theme2-color-border-left solid;
    color:$theme2-text-color-widget-title;
    font-size:$font-medium;
    font-weight:$font-bold;
    padding:5px 13px 5px 13px;
    @include gradient-title ($theme2-gradient-tittle-deg, $theme2-gradient-tittle-first-colour, $theme2-gradient-tittle-first-precent, $theme2-gradient-tittle-second-colour, $theme2-gradient-tittle-second-precent);   
}

.theme2 .widget_new {
    background-color: $theme2-color-widget;
}

@mixin toppanel-back ($theme2-gradient-toppanel-back-deg, $theme2-gradient-toppanel-back-first-colour, $theme2-gradient-toppanel-back-first-precent, $theme2-gradient-toppanel-back-second-colour, $theme2-gradient-toppanel-back-second-precent)
{
    background-image: -moz-linear-gradient($theme2-gradient-toppanel-back-deg, $theme2-gradient-toppanel-back-first-colour, $theme2-gradient-toppanel-back-first-precent, $theme2-gradient-toppanel-back-second-colour $theme2-gradient-toppanel-back-second-precent);
    background-image: -webkit-linear-gradient($theme2-gradient-toppanel-back-deg, $theme2-gradient-toppanel-back-first-colour, $theme2-gradient-toppanel-back-first-precent, $theme2-gradient-toppanel-back-second-colour $theme2-gradient-toppanel-back-second-precent);
    background-image: -ms-linear-gradient($theme2-gradient-toppanel-back-deg, $theme2-gradient-toppanel-back-first-colour, $theme2-gradient-toppanel-back-first-precent, $theme2-gradient-toppanel-back-second-colour $theme2-gradient-toppanel-back-second-precent);
}

.theme2 .toppanel-back{
    @include toppanel-back ($theme2-gradient-toppanel-back-deg, $theme2-gradient-toppanel-back-first-colour, $theme2-gradient-toppanel-back-first-precent, $theme2-gradient-toppanel-back-second-colour, $theme2-gradient-toppanel-back-second-precent);
    border-radius: 2px;
    padding: 1px $padding-small 1px $padding-small;
    color: $theme2-text-color-widget-title;
    text-align: $text-align-2;
    font-size: $font-medium;
    border-bottom: 1px solid $theme2-color-border-bottom;
    border-radius: 4px;
    padding: 1px;
}

@mixin topbar ($theme2-gradient-topbar-deg, $theme2-gradient-topbar-first-colour, $theme2-gradient-topbar-first-precent, $theme2-gradient-topbar-second-colour, $theme2-gradient-topbar-second-precent)
{
    background-image: -moz-linear-gradient($theme2-gradient-topbar-deg, $theme2-gradient-topbar-first-colour $theme2-gradient-topbar-first-precent, $theme2-gradient-topbar-second-colour $theme2-gradient-topbar-second-precent);
    background-image: -webkit-linear-gradient($theme2-gradient-topbar-deg, $theme2-gradient-topbar-first-colour $theme2-gradient-topbar-first-precent, $theme2-gradient-topbar-second-colour $theme2-gradient-topbar-second-precent);
    background-image: -ms-linear-gradient($theme2-gradient-topbar-deg, $theme2-gradient-topbar-first-colour $theme2-gradient-topbar-first-precent, $theme2-gradient-topbar-second-colour $theme2-gradient-topbar-second-precent);
}

.theme2 .topbar {
    float: $text-align-1;
    border-style: solid;
    border-width: 1px;
    border-color: rgb( 206, 204, 204 );
    @include topbar ($theme2-gradient-topbar-deg, $theme2-gradient-topbar-first-colour, $theme2-gradient-topbar-first-precent, $theme2-gradient-topbar-second-colour, $theme2-gradient-topbar-second-precent);
    box-shadow:1px 1.732px 4px 0px rgba(41, 41, 41, 0.24);
    border-bottom: 1px solid $theme2-color-border-bottom;
}

.theme2 .vertical_Seperator_topstocks{
    border-right: 1px $theme2-color-border solid;
}

.theme2 .horizontal_line{
    background-color:$theme2-color-border;
}

.theme2 .dropdown-chart-grid{
    font-size: 16px;
    padding: 0px
}

.theme2 .tittle-colour{
    color: $theme2-text-color-widget-title !important;
}

.theme2 .theme2-margin-small-top{
    margin-top: $margin-small;
}

.theme2 .theme2-bold{
    font-weight:$font-bold;
}

.theme2 .ember-table-tables-container {
    background-color: #e8edf5 !important;
    border: 0px solid rgba(255, 255, 255, 0); 
}

.theme2 .ember-table-footer-container {
    background-color: #FFFCFC !important; 
}

.theme2 .indicator-li{
    margin-right: 2px;
    line-height: 11px;
}

.theme2 .indicator-li {
    margin-right: 2px;
    line-height: 11px; 
}

@mixin prochart-line-studies-back ($theme2-gradient-prochart-line-studies-back-deg, $theme2-gradient-prochart-line-studies-back-first-colour, $theme2-gradient-prochart-line-studies-back-first-precent, $theme2-gradient-prochart-line-studies-back-second-colour, $theme2-gradient-prochart-line-studies-back-second-precent)
{
    background-image: -moz-linear-gradient($theme2-gradient-prochart-line-studies-back-deg, $theme2-gradient-prochart-line-studies-back-first-colour, $theme2-gradient-prochart-line-studies-back-first-precent, $theme2-gradient-prochart-line-studies-back-second-colour, $theme2-gradient-prochart-line-studies-back-second-precent);
    background-image: -webkit-linear-gradient($theme2-gradient-prochart-line-studies-back-deg, $theme2-gradient-prochart-line-studies-back-first-colour, $theme2-gradient-prochart-line-studies-back-first-precent, $theme2-gradient-prochart-line-studies-back-second-colour, $theme2-gradient-prochart-line-studies-back-second-precent);
    background-image: -ms-linear-gradient($theme2-gradient-prochart-line-studies-back-deg, $theme2-gradient-prochart-line-studies-back-first-colour, $theme2-gradient-prochart-line-studies-back-first-precent, $theme2-gradient-prochart-line-studies-back-second-colour, $theme2-gradient-prochart-line-studies-back-second-precent);
}
.theme2 .prochart-line-studies-back{
    border-radius: 3px;
    @include prochart-line-studies-back ($theme2-gradient-prochart-line-studies-back-deg, $theme2-gradient-prochart-line-studies-back-first-colour, $theme2-gradient-prochart-line-studies-back-first-precent, $theme2-gradient-prochart-line-studies-back-second-colour, $theme2-gradient-prochart-line-studies-back-second-precent);
    color: #9E9E9E;
}

.theme2 .widget-prochart{
    background-color: $theme2-color-background;
}

.theme2 .chart-navtabs{
    border: 0px solid $theme2-color-border;
    border-radius: 23px;
    
}

.theme2 .chart-navtabs li{
    margin-right: 0px;
}

.theme2 .dropdown-watchlist-more-search{
    background-color: #07a29c;
}

.theme2 .watchlist-right-click{
    border: 1px #a7a3a3 solid;
    background-color: rgb( 255, 255, 255 );
    box-shadow: 1px 1.732px 11px 0px rgb( 92, 92, 92 ); 
    width: 225px;
}

.theme2 .watchlist-right-click-symbol{
    height: 40px;
    background-color: #07a29c;
    padding: $padding-large $padding-large $padding-small $padding-large;
}

.theme2 .watchlist-right-click-item:hover{
    background-color:  #f1f1f1 ;
    border-left: 4px #07a29c  solid;
    padding: $padding-small $padding-large $padding-small 11px;
}

.theme2 .horizontal-list-right li {
    margin-left: 5px;
}

.theme2 .news-popup{
    max-height:300px;
    min-width:365px; 
    max-width: 550px;
    border-style: solid;
    border-width: 1px;
    border-color: #a7a3a3 ;
    background-color: #ffffff;
    opacity: 0.949;
    box-shadow: 1px 1.732px 5px 0px rgb( 0, 0, 0 );
}

.theme2 .news-popup-header{
    min-height:60px; 
    background-color:#00948f ;
}

.theme2 .symbol-popup-view-header{
    cursor: move; 
    height:30px; 
    background-color: #00948f ; 
    margin-left:-5px; 
    margin-right:-5px; 
    padding: 8px;
}

.theme2 .app-border{
    border: 2px $theme2-color-background solid;
}

.theme2 .footer-app-border{
    border-right: 3px $theme2-color-background solid;
    border-bottom: 2px $theme2-color-background solid;
}

.theme2 .tittle-bar{
    @include gradient-title ($theme2-gradient-tittle-deg, $theme2-gradient-tittle-first-colour, $theme2-gradient-tittle-first-precent, $theme2-gradient-tittle-second-colour, $theme2-gradient-tittle-second-precent);
    border-bottom: 1px solid $theme2-color-border-bottom;
}

.theme2 .quote-summary-layout{
    margin-left: $margin-small;
    width: calc(100% - 5px);
    background-color: $theme2-color-widget;
}

.theme2 .nav-special{
    @include gradient-title ($theme2-gradient-tittle-deg, $theme2-gradient-tittle-first-colour, $theme2-gradient-tittle-first-precent, $theme2-gradient-tittle-second-colour, $theme2-gradient-tittle-second-precent);
    margin-left: -6px;
    margin-right: -6px;
}

.theme2 .nav-special > li > a{
    color: $theme2-btn-color-active !important;
    @include gradient-title ($theme2-gradient-tittle-deg, $theme2-gradient-tittle-first-colour, $theme2-gradient-tittle-first-precent, $theme2-gradient-tittle-second-colour, $theme2-gradient-tittle-second-precent);
    border-style: solid;
    border-width: 1px;
    border-color: #00948F;
    height: 20px;
    margin-bottom: 2px;
}


@mixin nav-special ($theme2-gradient-nav-special-deg, $theme2-gradient-nav-special-first-colour, $theme2-gradient-nav-special-first-precent, $theme2-gradient-nav-special-second-colour, $theme2-gradient-nav-special-second-precent,  $theme2-gradient-nav-special-third-colour, $theme2-gradient-nav-special-third-precent,$theme2-gradient-nav-special-fourth-colour, $theme2-gradient-nav-special-fourth-precent)
{
    background-image: -moz-linear-gradient($theme2-gradient-nav-special-deg, $theme2-gradient-nav-special-first-colour $theme2-gradient-nav-special-first-precent, $theme2-gradient-nav-special-second-colour $theme2-gradient-nav-special-second-precent,  $theme2-gradient-nav-special-third-colour $theme2-gradient-nav-special-third-precent, $theme2-gradient-nav-special-fourth-colour $theme2-gradient-nav-special-fourth-precent);
    background-image: -webkit-linear-gradient($theme2-gradient-nav-special-deg, $theme2-gradient-nav-special-first-colour $theme2-gradient-nav-special-first-precent, $theme2-gradient-nav-special-second-colour $theme2-gradient-nav-special-second-precent,  $theme2-gradient-nav-special-third-colour $theme2-gradient-nav-special-third-precent, $theme2-gradient-nav-special-fourth-colour $theme2-gradient-nav-special-fourth-precent);
    background-image: -ms-linear-gradient($theme2-gradient-nav-special-deg, $theme2-gradient-nav-special-first-colour $theme2-gradient-nav-special-first-precent, $theme2-gradient-nav-special-second-colour $theme2-gradient-nav-special-second-precent,  $theme2-gradient-nav-special-third-colour $theme2-gradient-nav-special-third-precent, $theme2-gradient-nav-special-fourth-colour $theme2-gradient-nav-special-fourth-precent);
}


.theme2 .nav-special > li.active > a:hover{
    color: $theme2-btn-color-active !important;
    @include gradient-title ($theme2-gradient-tittle-deg, $theme2-gradient-tittle-first-colour, $theme2-gradient-tittle-first-precent, $theme2-gradient-tittle-second-colour, $theme2-gradient-tittle-second-precent);
    border-style: solid;
    border-width: 1px;
    border-color: #00948F;
}

@mixin nav-special-focus ($theme2-gradient-nav-special-focus-deg, $theme2-gradient-nav-special-focus-first-colour, $theme2-gradient-nav-special-focus-first-precent, $theme2-gradient-nav-special-focus-second-colour, $theme2-gradient-nav-special-focus-second-precent,  $theme2-gradient-nav-special-focus-third-colour, $theme2-gradient-nav-special-focus-third-precent, $theme2-gradient-nav-special-focus-fourth-colour, $theme2-gradient-nav-special-focus-fourth-precent )
{
    background-image: -moz-linear-gradient($theme2-gradient-nav-special-focus-deg, $theme2-gradient-nav-special-focus-first-colour, $theme2-gradient-nav-special-focus-first-precent, $theme2-gradient-nav-special-focus-second-colour, $theme2-gradient-nav-special-focus-second-precent,  $theme2-gradient-nav-special-focus-third-colour, $theme2-gradient-nav-special-focus-third-precent, $theme2-gradient-nav-special-focus-fourth-colour, $theme2-gradient-nav-special-focus-fourth-precent );
    background-image: -webkit-linear-gradient($theme2-gradient-nav-special-focus-deg, $theme2-gradient-nav-special-focus-first-colour, $theme2-gradient-nav-special-focus-first-precent, $theme2-gradient-nav-special-focus-second-colour, $theme2-gradient-nav-special-focus-second-precent,  $theme2-gradient-nav-special-focus-third-colour, $theme2-gradient-nav-special-focus-third-precent, $theme2-gradient-nav-special-focus-fourth-colour, $theme2-gradient-nav-special-focus-fourth-precent );
    background-image: -ms-linear-gradient($theme2-gradient-nav-special-focus-deg, $theme2-gradient-nav-special-focus-first-colour, $theme2-gradient-nav-special-focus-first-precent, $theme2-gradient-nav-special-focus-second-colour, $theme2-gradient-nav-special-focus-second-precent,  $theme2-gradient-nav-special-focus-third-colour, $theme2-gradient-nav-special-focus-third-precent, $theme2-gradient-nav-special-focus-fourth-colour, $theme2-gradient-nav-special-focus-fourth-precent );
}

.theme2 .nav-special > li.active > a, .theme2 .nav-special > li.active > a:hover, .theme2 .nav-special > li.active > a:focus {
    color: $theme2-btn-color-active !important;
    @inlcude nav-special-focus ($theme2-gradient-nav-special-focus-deg, $theme2-gradient-nav-special-focus-first-colour, $theme2-gradient-nav-special-focus-first-precent, $theme2-gradient-nav-special-focus-second-colour, $theme2-gradient-nav-special-focus-second-precent,  $theme2-gradient-nav-special-focus-third-colour, $theme2-gradient-nav-special-focus-third-precent, $theme2-gradient-nav-special-focus-fourth-colour, $theme2-gradient-nav-special-focus-fourth-precent );
    border-style: solid;
    border-width: 1px;
    border-color: $theme2-color-border;
    height: 20px;
}

// Nav-special-2 Tabs

.theme2  .nav-special-2{
    @include gradient-title ($theme2-gradient-tittle-deg, $theme2-gradient-tittle-first-colour, $theme2-gradient-tittle-first-precent, $theme2-gradient-tittle-second-colour, $theme2-gradient-tittle-second-precent);
}

.theme2  .nav-special-2 > li > a{
    color: #e8edf5 !important;
    @include gradient-title ($theme2-gradient-tittle-deg, $theme2-gradient-tittle-first-colour, $theme2-gradient-tittle-first-precent, $theme2-gradient-tittle-second-colour, $theme2-gradient-tittle-second-precent);
    border-style: solid;
    border-width: 1px;
    border-color: $theme2-color-border;
    height: 21px;
    margin-bottom: 2px;
}

.theme2  .nav-special-2 > li.active > a:hover{
    color: $theme2-btn-color-active !important;
    @include gradient-title ($theme2-gradient-tittle-deg, $theme2-gradient-tittle-first-colour, $theme2-gradient-tittle-first-precent, $theme2-gradient-tittle-second-colour, $theme2-gradient-tittle-second-precent);
    border-top:none;
    border-bottom:none;
    border-left: 1px $theme2-color-border-left solid;
    border-right: 1px $theme2-color-border-right solid;
    
}

.theme2  .nav-special-2 > li.active > a, .theme2  .nav-special-2 > li.active > a:hover, .theme2 .nav-special-2 > li.active > a:focus {
    color: #e8edf5 !important;
    @include nav-special-focus ($theme2-gradient-nav-special-focus-deg, $theme2-gradient-nav-special-focus-first-colour, $theme2-gradient-nav-special-focus-first-precent, $theme2-gradient-nav-special-focus-second-colour, $theme2-gradient-nav-special-focus-second-precent,  $theme2-gradient-nav-special-focus-third-colour, $theme2-gradient-nav-special-focus-third-precent, $theme2-gradient-nav-special-focus-fourth-colour, $theme2-gradient-nav-special-focus-fourth-precent );
    border-top:none;
    border-bottom:none;
    border-left: 1px $theme2-color-border-left solid;
    border-right: 1px $theme2-color-border-right solid;
    height: 21px;

}



.theme2 .tittle-bar-search{
    border-style: solid;
    border-width: 1px;
    border-color: $theme2-color-border;
    background-color:$theme2-color-background;
    border-radius: 3px !important;
}

.theme2 .input-group-btn .tittle-bar-search-btn{
    margin-left:-30px; 
    z-index:2;
    background-color:$theme2-color-background;
    border: 0px;
    height: 19px;
}


//for watchlist

.theme2 .sort-back-color {
  background-image: none !important;
  background-color: $theme2-color-background !important; 
    font-weight: bold;
}

.theme2 .tittle-bar-price-connected{
    color: #ffffff; 
}


.theme2 .connection-status-green {
    color:$theme2-color-green-connection;
}

.theme2 .connection-status-red {
    color:$theme2-color-red-connection;
}

// IE fulscreen issue

.theme2 body:-ms-fullscreen::-ms-backdrop {
         background-color: $theme2-color-background;
}

.theme2 .navbar-nav-ticker-area .tickerDiv{
  background:$theme2-ticker-color;
}

.theme2 button.chart-btn-icon.active{
    color: $theme2-btn-border-color-hover;
    background-color: $theme2-color-widget;
}

//heights 

.theme2 .topstocks-height{
    height:calc(100% - 19px);
}

.theme2 .detailquote-height{
    height:calc(100% - 19px);
}

.theme2 .quote-tab{
    height:calc(100% - 393px);
    min-height:100px;
}

.theme2 .widget-header{
    border-radius: 2px 2px 0px 0px;
    background-color: none;
    border-top: 1px $theme2-color-border-top solid;
    border-bottom: 1px $theme2-color-border-bottom solid;
    border-right: 1px $theme2-color-border-right solid;
    border-left: 1px $theme2-color-border-left solid;
    color:$theme2-text-color-widget-title;
    font-size:$font-medium;
    font-weight:$font-bold;
    padding:5px 13px 5px 13px;
    @include gradient-title ($theme2-gradient-tittle-deg, $theme2-gradient-tittle-first-colour, $theme2-gradient-tittle-first-precent, $theme2-gradient-tittle-second-colour, $theme2-gradient-tittle-second-precent);
    
}

.theme2 .widget-header-icons{
    padding:4px 8px 4px 8px;      
}


.theme2 .header-icons{
    float: right;
}

.ar .theme2 .header-icons{
    float: left;
}

.theme2 .widget-container{
    padding:8px 8px 8px 8px;
    border-radius: 0px 0px 2px 2px;
    border-bottom: 1px $theme2-color-border-bottom solid;
    border-right: 1px $theme2-color-border-right solid;
    border-left: 1px $theme2-color-border-left solid;
    overflow: hidden;
}

.theme2 .regular-chart-container {

    padding:0px 8px 8px 8px;
    border-radius: 0px 0px 2px 2px;
    border-bottom: 1px $theme2-color-border-bottom solid;
    border-right: 1px $theme2-color-border-right solid;
    border-left: 1px $theme2-color-border-left solid;
}

.theme2 .vertical_Seperator_topstocks{
    border-right: 1px $theme2-color-widget-border solid;
	height: 124px;
 	float: $float-3;
	margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    z-index: 1000;
    position: absolute;
    top: 0;
}

.ar .theme2 .vertical_Seperator_topstocks{
    margin-right: 0px;
}

.theme2 .horizontal_line{
    height: 1px;
    width: 100%;
    overflow:hidden;
    background-color:$theme2-color-widget;
    margin:0px auto;
    border-right: 1px $theme2-color-border-right solid;
    border-left: 1px $theme2-color-border-left solid;
  
}

.theme2 .widget-header .nav-tabs{
    margin-top: -5px;
}

.theme2 .index-Arrow{
    font-size: 14px;
}

.theme2 .index-Value{
    font-size: 14px;
    font-weight: bold;
}

.theme2 .index-change{
    font-size: 12px;
    margin-left: 3px;
}

.theme2 .index-percentage{
    font-size: 12px;
}

.theme2 .vertical-separator-1 {
	border-right: 1px $theme2-color-border-right solid;
	height: 59px;
 	float: $float-3;
	margin-top: 8px;
	margin-bottom: 8px;
    margin-left: 1px;
    position: absolute;
    top: 0;
}

 .theme2 .border-right-topbar {
    border-right: 1px $theme2-color-border-right solid;
}

 .theme2 .border-right-topbar-1 {
    border-right: 1px $theme2-color-border-right solid;
}

.theme2 .border-bottom-topbar {
    border-bottom: 1px $theme2-color-border-bottom solid;
}

.theme2 .border-bottom-topbar-1 {
    border-bottom: 1px $theme2-color-border-bottom  solid;
    margin-top:1px;
}

.theme2 .padding-small-bottom-1 {
    padding-bottom: 8px;
}

.theme2 .horizontal-line-topbar{
    background: $theme2-color-widget;
    position: relative;
    overflow: hidden;
    width: 98%;
    height: 1px; 
    margin: 0 auto;
}

.theme2 .horizontal-line-topbar-1{
    background: $theme2-color-widget;
    position: relative;
    overflow: hidden;
    width: 98%;
    height: 1px;  
    margin: 0 auto;
}


// Nav Tabs- 2

.theme2 .nav-tabs-2 > li.active > a, .theme2 .nav-tabs-2 > li.active > a:hover, .theme2 .nav-tabs-2 > li.active > a:focus {
color: #639DC4 !important;
  // background-image: -moz-linear-gradient( 90deg, rgb(233,233,233) 0%, rgb(248,248,248) 13%, rgb(248,248,248) 41%, rgb(232,232,232) 100%);
 // background-image: -webkit-linear-gradient( 90deg, rgb(233,233,233) 0%, rgb(248,248,248) 13%, rgb(248,248,248) 41%, rgb(232,232,232) 100%);
 // background-image: -ms-linear-gradient( 90deg, rgb(233,233,233) 0%, rgb(248,248,248) 13%, rgb(248,248,248) 41%, rgb(232,232,232) 100%);
    background-color: #ffffff;
	border-bottom:none !important;
    font-weight: bold;
    border-style: solid;
    border-width: 1px;
    border-color: rgb( 212, 212, 212 );
}
.theme2 .nav-tabs-2 {
       border-bottom: 1px solid #D4D4D4 !important;
}
.theme2.nav-tabs-2 > li > a {
 // border-style: solid;
 // border-width: 1px;
 // border-color: #d4d4d4;
//  background-image: -moz-linear-gradient( 90deg, rgb(236,236,236) 0%, rgb(254,254,254) 100%);
//  background-image: -webkit-linear-gradient( 90deg, rgb(236,236,236) 0%, rgb(254,254,254) 100%);
//  background-image: -ms-linear-gradient( 90deg, rgb(236,236,236) 0%, rgb(254,254,254) 100%);
//  color: $riyad-tab-button-color;
  margin-right: 0px;
  border-bottom: none !important;
    color: #67696A;
}

.theme2 .nav-tabs-2 > li{
   margin-left: 10px;
   float: left;
    margin-bottom: -1px;
}


