@import 'colour-theme-alrajhi';

/* theme 2 start here */

.alrajhi body{
    // font-weight: 600;
    font-family: arial;
}
/* from sidebar.alrajhi .scss */
.alrajhi .sidebar-wrapper {
    background:  $alrajhi-color-background;
}
/* Sidebar Styles */

.alrajhi .sidebar-nav li a {
    color: $alrajhi-btn-color;
}

.alrajhi li.sidebar-active a{
    color: $alrajhi-btn-color-active !important;
}


.alrajhi .sidebar-nav li a:hover {
    color: $alrajhi-text-color-normal;
/*	background: rgba(255,255,255,0.alrajhi .2);
	padding: 2px;
	border-radius: 3px;
	width: 60px; */
}

.alrajhi .sidebar-nav > .alrajhi .sidebar-brand a {
	color: #999999;
}

.alrajhi .sidebar-nav > .alrajhi .sidebar-brand a:hover {
	color: #fff;
}

.alrajhi .sidebar-active {
    color: $alrajhi-btn-color-active !important;
    background-image: -moz-linear-gradient( 90deg, rgb(106,126,216) 0%, rgb(76,98,195) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(106,126,216) 0%, rgb(76,98,195) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(106,126,216) 0%, rgb(76,98,195) 100%);
}

.alrajhi .sidebar-nav {
    background-color: $alrajhi-color-widget;
    border: 1px $alrajhi-color-widget-border solid;
}
/* end of sidebar.alrajhi .scss */


/* from navbar.alrajhi .scss */
.alrajhi .navbar-inverse {
    background-color: $alrajhi-color-widget;
    border: 1px $alrajhi-color-border solid;
}

.alrajhi .logo-text {
	color: $alrajhi-text-color-main;
}
//.alrajhi .font-normal {
//    color: $alrajhi-text-color-light;
//}

.alrajhi .vertical-separator {
    border-right: 1px $alrajhi-color-border solid;
}

.alrajhi .progress-time {
    background-color: $alrajhi-color-widget !important;
}
/* end of navbar.alrajhi .scss */

/* from widget.alrajhi .scss */
.alrajhi .widget {
    background-color: $alrajhi-color-widget;
    border: 1px $alrajhi-color-widget-border solid;
    padding: 0px $padding-small 0px $padding-small;
}

.alrajhi h2.widget-title-type-1{
    border-bottom: 1px $alrajhi-color-border solid;
    color:$alrajhi-text-color-widget-title;
}

.alrajhi .widget-watchlist {
    background-color: $alrajhi-color-widget;
}

.alrajhi .search-query {
  //  border: 1px $alrajhi-btn-border-color solid;
    border: 1px #A4CFF1 solid;
    background-color: $alrajhi-color-background;
    height: 22px;
}

.alrajhi .online {
    background-color: $alrajhi-color-green;
}

/* news section */

.alrajhi .news-row {
    border-bottom: 2px $alrajhi-color-border solid;
}

/* provide some minimal visual accomodation for IE8 and below */

.alrajhi .TFtable tr {
    background: $alrajhi-color-widget;
}

/*  Define the background color for all the ODD background rows  */

.alrajhi .TFtable tr:nth-child(odd) {
    background: $alrajhi-color-widget;
}

/*  Define the background color for all the EVEN background rows  */

.alrajhi .TFtable tr:nth-child(even) {
    background: $alrajhi-color-background;
}

.alrajhi .panel-table-row-odd {
    background: $alrajhi-color-widget;
}

.alrajhi .panel-table-row-even {
    background: $alrajhi-color-background;
}
    
::-webkit-scrollbar-thumb {
    background-color:rgba(136, 134, 134, 0.3);
}

/* add widget tittle class */

.alrajhi .progress-bid {
    background-color: $alrajhi-color-widget !important;
}

.alrajhi .progress-offer {
    background-color: $alrajhi-color-widget !important;
	border-right: 0px #232836 solid;
}

.alrajhi .quote-cell {
    background-color: $alrajhi-color-background;
}

.alrajhi .quote-cell-border {
    border-right:  2px $alrajhi-color-widget solid
}

.alrajhi .company-heading {
    border-right: 2px $alrajhi-color-border solid;
}

.alrajhi .company-address a {
    color:$alrajhi-color-2;
}

.alrajhi .footer {
    background-color:$alrajhi-color-background;
}

.alrajhi .footer-padding {
    border-right:1px $alrajhi-color-border solid;
}

.alrajhi .footer-padding-first {
    border-right:1px $alrajhi-color-border solid;
}

.alrajhi .icon-btn {
    background-color: $alrajhi-color-widget;
    border-color: $alrajhi-btn-border-color;
    color: $alrajhi-tab-button-color;
}

.alrajhi .search-wrapper {
    border: 1px solid $alrajhi-color-search-border-wrapper;
    background-color: $alrajhi-color-search-background;
}

//.alrajhi .search-wrapper .search-col-1 {
//    border-right: 1px solid $alrajhi-color-search-border;
//}

.alrajhi .search-wrapper .search-col-2 {
}

.alrajhi .search-title {
    border-bottom: 1px $alrajhi-color-search-border solid;
    color: $alrajhi-text-color-widget-title;
}

.alrajhi .search-row {
    border-bottom: 1px $alrajhi-color-search-border-wrapper solid;
}

.alrajhi .search-row:hover, .alrajhi .search-row-hover {
    background-color: $alrajhi-color-search-hover ; 
 }

.alrajhi .dropdown-menu-2 {
    font-size: 11px;
    background-color: $alrajhi-color-widget;
    border: 1px solid $alrajhi-btn-border-color;
}

.alrajhi .spread-text{
    background-color:$alrajhi-color-widget;
}

.alrajhi .btn-dropdown-no-border{
    background-color: $alrajhi-color-widget;
    color: $alrajhi-btn-color;
}
    
.alrajhi .btn-dropdown-no-border:hover {
    color: $alrajhi-btn-border-color-hover;
}

.alrajhi .chart-btn-icon:hover {
    color: $alrajhi-btn-border-color-hover;
    background-color: $alrajhi-color-widget;
}

/* for watchlist cells */
//.alrajhi .blink-style-up {
//  color: $alrajhi-text-color-normal;
//  background-color: $alrajhi-color-green !important;
//}
//
//.alrajhi .blink-style-down {
//  color:  $alrajhi-text-color-normal;
//  background-color: $alrajhi-color-red !important;
//}

.alrajhi .dot-style-high {
    border-right: 4px solid $alrajhi-color-green;
}

.alrajhi .dot-style-low {
    border-right: 4px solid $alrajhi-color-red;

}

//.alrajhi .blink-classic-up {
//  color: $alrajhi-text-color-normal;
//  background-color: $alrajhi-color-green !important;
//}
//
//.alrajhi .blink-classic-down {
//  color: $alrajhi-text-color-normal;
//  background-color: $alrajhi-color-red !important;
//}

.alrajhi .blink-style-up {
    color: $alrajhi-text-color-normal;
    background-color: #4dc45b !important; 
}

.alrajhi .blink-style-down {
    color:$alrajhi-text-color-normal;
    background-color: #fb8888 !important; 
}

.alrajhi .blink-classic-up {
    color: $alrajhi-text-color-normal;
    background-color: #4dc45b !important; 
}

.alrajhi .blink-classic-down {
    color: $alrajhi-text-color-normal;
    background-color: #fb8888 !important; 
}


/* end of watchlist cells */
/* end of widget.alrajhi .scss */

/* from bootsrap-override.scss */

.alrajhi .btn-default {
	color: $alrajhi-btn-color;
//  background-color:  $color-widget;
	border-style: solid;
	border-width: 1px;
//  border-color: $btn-border-color;
	margin-bottom: 0px;
    height: 22px;
	padding: $padding-small;
	font-size: $font-medium;
    border-style: solid;
    border-width: 1px;
    border-color: rgb( 212, 212, 212 );
    border-radius: 3px;
    background-image: -moz-linear-gradient( 90deg, rgb(227,227,227) 0%, rgb(235,235,235) 0%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(227,227,227) 0%, rgb(235,235,235) 0%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(227,227,227) 0%, rgb(235,235,235) 0%, rgb(255,255,255) 100%);
 
  

}

.alrajhi .btn-dropdown {
    padding-left: $padding-medium;
    padding-right: $padding-medium;
}

.alrajhi .btn-default:hover, .alrajhi .icon-btn:hover, .alrajhi .btn-default:focus, .alrajhi .btn-default.focus,.alrajhi .btn-default:active, .alrajhi .btn-default.active,.alrajhi .open > .alrajhi .dropdown-toggle.btn-default {
    color: #58a7e2;
    background-color: $color-widget;
    border-color:$theme2-text-color-table-header;
}

.alrajhi .dropdown-menu > li > a:hover,.alrajhi .dropdown-menu > li > a:focus {
    color: $alrajhi-text-color-light;
    background-color: $alrajhi-color-search-hover;
} 

.alrajhi .btn-default:focus, .alrajhi .btn-default.focus {
    background-color: $alrajhi-btn-color-active;
 }

.alrajhi .nav-tabs > li.active > a, .alrajhi .nav-tabs > li.active > a:hover, .alrajhi .nav-tabs > li.active > a:focus {
	color: $alrajhi-text-color-normal !important;
    background-image: -moz-linear-gradient( 90deg, rgb(233,233,233) 0%, rgb(248,248,248) 13%, rgb(248,248,248) 41%, rgb(232,232,232) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(233,233,233) 0%, rgb(248,248,248) 13%, rgb(248,248,248) 41%, rgb(232,232,232) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(233,233,233) 0%, rgb(248,248,248) 13%, rgb(248,248,248) 41%, rgb(232,232,232) 100%);
    background-color: rgba(243, 243, 243, 0);
//  background-color: $alrajhi-color-widget;
	border-bottom: 0px solid $alrajhi-tab-border-bottom-color;
    border-bottom-color: $alrajhi-tab-border-bottom-color;
    font-weight: bold;
    border-style: solid;
    border-width: 1px;
    border-color: rgb( 212, 212, 212 );
}

.alrajhi .nav-tabs {
    border-bottom: 0px solid $alrajhi-color-border;
}



.alrajhi .nav-tabs > li > a {
    border-style: solid;
    border-width: 1px;
    border-color: rgb( 212, 212, 212 );
    background-image: -moz-linear-gradient( 90deg, rgb(236,236,236) 0%, rgb(254,254,254) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(236,236,236) 0%, rgb(254,254,254) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(236,236,236) 0%, rgb(254,254,254) 100%);
    color: $alrajhi-tab-button-color;
    margin-right: 0px;
}
.alrajhi .nav > li > a:hover, .alrajhi .nav > li > a:focus {
	color: $alrajhi-btn-border-color-hover;
}
.alrajhi .progress {
    background-color: $alrajhi-color-red;
}
.alrajhi .progress-bar {
    background-color: $alrajhi-color-green;
	border-right: 2px $alrajhi-color-widget-border solid;
}
.alrajhi .progress-border {
	height: 5px;
	border-bottom: 1px $alrajhi-color-widget-border solid;
}
.alrajhi .progress-bar-wk-green {
    border-right: 4px $alrajhi-color-green solid;
}
.alrajhi .progress-bar-wk-red {
    border-right: 4px $alrajhi-color-red solid;
}

.alrajhi .progress-up {
    background-color: $alrajhi-color-green;
}
.alrajhi .progress-down {
    background-color: $alrajhi-color-red;
}
.alrajhi .progress-unchanged {
    background-color: $alrajhi-color-1;
}

.alrajhi .popover.left > .alrajhi .arrow:after {
    border-left-color:  $alrajhi-text-color-main;

}

.alrajhi .dropdown-menu {
//  background-color: #141C21;
//  border: 1px solid #424d5c;
    border-style: solid;
    border-width: 1px;
    border-color: rgb( 167, 163, 163 );
    background-color: rgb( 255, 255, 255 );
    box-shadow: 1px 1.732px 11px 0px rgb( 92, 92, 92 );
}
/* end of bootstrap override */ 


/*pop over */


.alrajhi .popover {
    background-color: $alrajhi-text-color-main;
    border: 1px solid $alrajhi-color-border;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: $alrajhi-color-background;
}
.alrajhi .popover-title {
    background-color: $alrajhi-color-background;
    border-bottom: 1px solid $alrajhi-color-border;
    color: $alrajhi-text-color-main;
}
.alrajhi .popover.left > .alrajhi .arrow:after {
    border-left-color:  $alrajhi-text-color-main;
}
.alrajhi .carousel-indicators li {
    border: 1px solid $alrajhi-color-border;
}
.alrajhi .carousel-indicators.active {
    background-color: $alrajhi-color-border;
}
/* end of bootsrap-override.scss */


/* from ember-override.alrajhi .scss */
.alrajhi .ember-table-body-container .ember-table-table-row.ember-table-hover {
	border-style: solid;
    border-width: 1px;
    border-color: rgb( 132, 164, 190 );
    background-image: -moz-linear-gradient( 90deg, rgb(214,226,233) 0%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(214,226,233) 0%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(214,226,233) 0%, rgb(255,255,255) 100%);
}
.alrajhi .ember-table-body-container .ember-table-table-row.ember-table-selected {
	background-color: #e8edf5 !important;
	border: 0px #A4CFF1 solid;
    color: $alrajhi-text-color-main;
}
.alrajhi .ember-table-header-row,.alrajhi .ember-table-header-container .ember-table-table-fixed-wrapper {
	background-color: $alrajhi-color-widget;
}
.alrajhi .ember-table-footer-container {
	background-color: #262932 !important;
}
.alrajhi .ember-table-style-row {
	background-color: #1d6bac;
}
/* end of ember-override.alrajhi .scss */

/* from global */
.alrajhi a { 
	color: $tab-button-color;
}

.alrajhi a:hover, .alrajhi a:active, .alrajhi a:focus {
    color: $btn-border-color-hover;

}
/* end of global */

/* from common */
.alrajhi body {
    background-color: $alrajhi-color-background;
    color: $alrajhi-text-color-main;
}
.alrajhi .colour-normal {
    color: $alrajhi-text-color-normal !important;
    fill: $alrajhi-text-color-normal !important;
}
.alrajhi .green {
    color:  $alrajhi-color-green;
}
.alrajhi .green-dark {
    color: $alrajhi-color-green-dark;
}
.alrajhi .red {
    color: $alrajhi-color-red;
}
//.alrajhi .orange {
//    color: $alrajhi-color-announcement;
//}
//.alrajhi .purple {
//    color: $alrajhi-color-news;
//}
.alrajhi .colour-symbol {
    color: $alrajhi-text-color-symbol !important;
}
.alrajhi .colour-symbol-dis {
    color: $alrajhi-text-color-symbol-dis !important;
}
.alrajhi .colour-tittle {
    color: $alrajhi-text-color-widget-title;
}
.alrajhi .red-dark {
    color: $alrajhi-color-red-dark;
}

.alrajhi .colour-1 {
    color: $alrajhi-color-1;
}

.alrajhi .colour-2 {
    color: $alrajhi-color-2;
}

.alrajhi .colour-3 {
    color: $alrajhi-color-3;
}

.alrajhi .colour-4 {
    color: $alrajhi-color-4;
}

.alrajhi .widget-tittle-color {
    color: $alrajhi-text-color-widget-title;
}
.alrajhi .header-colour {
    color: $alrajhi-text-color-table-header;
}
.alrajhi .border-right {
    border-right: 1px $alrajhi-color-border solid;
}

.ar .alrajhi .border-right {
    border-left: 1px $alrajhi-color-border solid;
    border-right: 0px $alrajhi-color-border solid;
}
.alrajhi .border-bottom {
    border-bottom: 1px $alrajhi-color-border solid;
}

//.alrajhi .font-sub-light {
//    color: $alrajhi-text-color-light;
//}
//.alrajhi .font-main-light {
//    color: $alrajhi-text-color-light;
//}
//
//.alrajhi .font-small-light {
//    color: $alrajhi-text-color-light;
//}

.alrajhi .text-color-light{
    color: alrajhi-text-color-light;
}


.alrajhi .font-table-header {
    color: $alrajhi-text-color-table-header;
}

.alrajhi .back-green-dark{
    background-color:$alrajhi-color-green-dark !important;
}

.alrajhi .back-red-dark{
    background-color:$alrajhi-color-red-dark !important;
}

.alrajhi .text-box {
    border: 1px $alrajhi-btn-border-color solid;
    background-color: $alrajhi-color-background; 
}

.alrajhi .watchlist-cell-back-red{
    background-color: rgba(231, 67, 67, 0.14);
}

.alrajhi .watchlist-cell-back-green{
    background-color: rgba(46, 204, 113, 0.14);
}

.alrajhi .watchlist-cell-back-lastqty{
    background-color: rgba(85, 159, 214, 0.14);
}

.alrajhi .watchlist-row-back-red {
    background-color: rgba(250, 212, 223, 1); 
}

.alrajhi .watchlist-row-back-green {
    background-color: rgba(199, 238, 189, 1); 
}

.alrajhi .watchlist-row-strike {
    text-decoration: line-through; 
}

.alrajhi h2.widget-title-type-1::first-child{
    border-bottom: 0px solid #171d23;
    border-style: solid;
    border-width: 1px;
//  border-left: 1px rgb( 28, 84, 133 ) solid;
//  border-color: rgb( 28, 84, 133 );
   background-image: -moz-linear-gradient( 90deg, rgb(106,126,216) 0%, rgb(76,98,195) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(106,126,216) 0%, rgb(76,98,195) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(106,126,216) 0%, rgb(76,98,195) 100%);
    margin-left: -6px;
    margin-right: -6px;
    font-size:$font-medium;
    font-weight:$font-bold;
    padding:4px 0 4px 5px;
}

.alrajhi h2.widget-title-type-1{
    border-bottom: 0px solid #171d23;
//  border-style: solid;
//  border-width: 1px;
//  border-color: rgb( 28, 84, 133 );
//  border-top: 1px  rgb( 28, 84, 133 ) solid;
//  border-bottom: 1px  rgb( 28, 84, 133 ) solid;
background-image: -moz-linear-gradient( 90deg, rgb(106,126,216) 0%, rgb(76,98,195) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(106,126,216) 0%, rgb(76,98,195) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(106,126,216) 0%, rgb(76,98,195) 100%);
    margin-left: -6px;
    margin-right: -6px;
    font-size:$font-medium;
    font-weight:$font-bold;
    padding:4px $padding-small 4px $padding-small;
}

.alrajhi h2.widget-title-type-1::last-child{
    border-bottom: 0px solid #171d23;
// border-style: solid;
//  border-width: 1px;
 //   border-right: 1px   rgb( 28, 84, 133 ) solid;
background-image: -moz-linear-gradient( 90deg, rgb(106,126,216) 0%, rgb(76,98,195) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(106,126,216) 0%, rgb(76,98,195) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(106,126,216) 0%, rgb(76,98,195) 100%);
    margin-left: -6px;
    margin-right: -6px;
    font-size:$font-medium;
    font-weight:$font-bold;
    padding:4px $padding-small 4px $padding-small;
}

.alrajhi h2.widget-title-with-icon{
padding:3px $padding-small 3px $padding-small !important;
}

.alrajhi .nav-tabs-dq-charts {
   background-image: -moz-linear-gradient( 90deg, rgb(106,126,216) 0%, rgb(76,98,195) 100%) !important;
  background-image: -webkit-linear-gradient( 90deg, rgb(106,126,216) 0%, rgb(76,98,195) 100%) !important;
  background-image: -ms-linear-gradient( 90deg, rgb(106,126,216) 0%, rgb(76,98,195) 100%) !important;
    border: 0px !important;
    margin-top: 1px;
}



.alrajhi .widget-watchlist{
    padding: 0px 0px $padding-small 0px;
    background-color: $alrajhi-color-background;
//    background-image: -moz-linear-gradient( 90deg, rgb(200,212,220) 0%, rgb(222,230,230) 0%, rgb(251,252,252) 100%, rgb(215,225,230) 100%);
//    background-image: -webkit-linear-gradient( 90deg, rgb(200,212,220) 0%, rgb(222,230,230) 0%, rgb(251,252,252) 100%, rgb(215,225,230) 100%);
//    background-image: -ms-linear-gradient( 90deg, rgb(200,212,220) 0%, rgb(222,230,230) 0%, rgb(251,252,252) 100%, rgb(215,225,230) 100%);
    background-attachment:fixed;


}

.alrajhi .watchlist-ul{
    width: 100%;
    position: relative;
    padding: 0 $padding-small 0 $padding-small;
}

.alrajhi .netplus-watchlist-table-header{
//    border-top: 1px rgb( 28, 84, 133 ) solid;
    border-bottom: 1px rgb( 218, 227, 232 ) solid;
    background-image: -moz-linear-gradient( 90deg, rgb(251,252,252) 0%, rgb(215,225,230) 100%, rgb(211,223,231) 100%, rgb(191,205,205) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(251,252,252) 0%, rgb(215,225,230) 100%, rgb(211,223,231) 100%, rgb(191,205,205) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(251,252,252) 0%, rgb(215,225,230) 100%, rgb(211,223,231) 100%, rgb(191,205,205) 100%);
}



.alrajhi .netplus-watchlist-header{
//  border-style: solid;
//  border-width: 1px;
//  border-color: rgb( 28, 84, 133 );
//  border: 1px  rgb( 28, 84, 133 ) solid;
//  border-bottom: 1px  rgb( 28, 84, 133 ) solid;
    background-image: -moz-linear-gradient( 90deg, rgb(106,126,216) 0%, rgb(76,98,195) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(106,126,216) 0%, rgb(76,98,195) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(106,126,216) 0%, rgb(76,98,195) 100%);
    padding: 0px $padding-small 0px $padding-small;
    margin-bottom: $margin-small;
    height: 22px;
}

.alrajhi .toppanel-back{
background-image: -moz-linear-gradient( 90deg, rgb(231,121,42) 0%, rgb(219,113,37) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,121,42) 0%, rgb(219,113,37) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,121,42) 0%, rgb(219,113,37) 100%);
    border-radius: 2px;
    padding: 1px $padding-small 1px $padding-small;
    color: $alrajhi-text-color-widget-title;
    text-align: $text-align-2;
    font-size: $font-medium;
}

.alrajhi .topbar {
    float: $text-align-1;
     border-style: solid;
  border-width: 1px;
  border-color: rgb( 206, 204, 204 );
  background-image: -moz-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(255,255,255) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(255,255,255) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(255,255,255) 100%);
  box-shadow: 1px 1.732px 4px 0px rgba(41, 41, 41, 0.2)
}

.alrajhi .dropdown-chart-grid{
    font-size: 16px;
    padding: 0px
}

.alrajhi .tittle-colour{
    color: $alrajhi-text-color-widget-title !important;
}

.alrajhi .netplus-margin-small-top{
    margin-top: $margin-small;
}

.alrajhi .netplus-bold{
    font-weight:$font-bold;
}

.alrajhi .ember-table-tables-container {
    background-color: #e8edf5 !important;
    border: 0px solid rgba(255, 255, 255, 0); 
}

.alrajhi .ember-table-footer-container {
    background-color: #FFFCFC !important; 
}


.alrajhi .indicator-li{
    margin-right: 2px;
    line-height: 11px;
}

.alrajhi .indicator-li {
    margin-right: 2px;
    line-height: 11px; 
}

.alrajhi .prochart-line-studies-back{
    border-radius: 3px;
    background-image: -moz-linear-gradient( 90deg, rgb(237,241,242) 0%, rgb(251,251,251) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(237,241,242) 0%, rgb(251,251,251) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(237,241,242) 0%, rgb(251,251,251) 100%);
    color: #9E9E9E;
}

.alrajhi .widget-prochart{
    background-color: $alrajhi-color-background;
}

.alrajhi .chart-navtabs{
    border: 0px solid $alrajhi-color-border;
    border-radius: 23px;
}

.alrajhi .chart-navtabs li{
    margin-right: 0px;
}

.alrajhi .dropdown-watchlist-more-search{
    background-color: #6a7ed8;
}

.alrajhi .watchlist-right-click{
    border: 1px #a7a3a3 solid;
    background-color: rgb( 255, 255, 255 );
    box-shadow: 1px 1.732px 11px 0px rgb( 92, 92, 92 ); 
    width: 225px;
}

.alrajhi .watchlist-right-click-symbol{
    height: 40px;
    background-color: #6a7ed8;
    padding: $padding-large $padding-large $padding-small $padding-large;
   // color: 
}

.alrajhi .watchlist-right-click-item:hover{
    background-color:  #f1f1f1 ;
    border-left: 4px #6a7ed8  solid;
    padding: $padding-small $padding-large $padding-small 11px;
}

.alrajhi .horizontal-list-right li {
    margin-left: 5px;
}

.alrajhi .news-popup{
    max-height:300px;
    min-width:365px; 
    max-width: 550px;
    border-style: solid;
    border-width: 1px;
    border-color: #a7a3a3 ;
    background-color: #ffffff;
    opacity: 0.949;
    box-shadow: 1px 1.732px 5px 0px rgb( 0, 0, 0 );
}

.alrajhi .news-popup-header{
    min-height:60px; 
    background-color:#6a7ed8 ;
}

.alrajhi .symbol-popup-view-header{
    cursor: move; 
    height:30px; 
    background-color: #6a7ed8; 
    margin-left:-5px; 
    margin-right:-5px; 
    padding: 8px;
}

.alrajhi .app-border{
    border: 2px $alrajhi-color-background solid;
}

.alrajhi .footer-app-border{
    border-right: 3px $alrajhi-color-background solid;
    border-bottom: 2px $alrajhi-color-background solid;
}

.alrajhi .tittle-bar{
    background-image: -moz-linear-gradient( 90deg, rgb(106,126,216) 0%, rgb(76,98,195) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(106,126,216) 0%, rgb(76,98,195) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(106,126,216) 0%, rgb(76,98,195) 100%);
    border-bottom: none !important;
}


.alrajhi .quote-summary-layout{
    margin-left: $margin-small;
    width: calc(100% - 5px);
    background-color: $alrajhi-color-widget;
}

.alrajhi .nav-special{
    background-image: -moz-linear-gradient( 90deg, rgb(106,126,216) 0%, rgb(76,98,195) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(106,126,216) 0%, rgb(76,98,195) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(106,126,216) 0%, rgb(76,98,195) 100%);
 
    margin-left: -6px;
    margin-right: -6px;
}

.alrajhi .nav-special > li > a{
    color: $alrajhi-btn-color-active !important;
    background-image: -moz-linear-gradient( 90deg, rgb(106,126,216) 0%, rgb(76,98,195) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(106,126,216) 0%, rgb(76,98,195) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(106,126,216) 0%, rgb(76,98,195) 100%);
 
    border-style: solid;
    border-width: 0px;
    border-color: #00948F;
    height: 20px;
    margin-bottom: 2px;
}

.alrajhi .nav-special > li.active > a:hover{
    color: $alrajhi-btn-color-active !important;
    background-image: -moz-linear-gradient( 90deg, rgb(222,120,46) 0%, rgb(231,121,42) 50%, rgb(184,84,12) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(222,120,46) 0%, rgb(231,121,42) 50%, rgb(184,84,12) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(222,120,46) 0%, rgb(231,121,42) 50%, rgb(184,84,12) 100%);
 
    border-style: solid;
    border-width: 1px;
    border-color: #c5631d;
    
}

.alrajhi .nav-special > li.active > a, .alrajhi .nav-special > li.active > a:hover, .alrajhi .nav-special > li.active > a:focus {
    color: $alrajhi-btn-color-active !important;
    background-image: -moz-linear-gradient( 90deg, rgb(222,120,46) 0%, rgb(231,121,42) 50%, rgb(184,84,12) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(222,120,46) 0%, rgb(231,121,42) 50%, rgb(184,84,12) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(222,120,46) 0%, rgb(231,121,42) 50%, rgb(184,84,12) 100%);
    border-style: solid;
    border-width: 1px;
    border-color: #c5631d;
    height: 20px;

}

//.nrtplus .sidebar-nav li:hover{
//    border-style: solid;
//    border-width: 1px;
//    border-color: rgb( 220, 220, 220 );
//    background-image: -moz-linear-gradient( 90deg, rgb(211,223,231) 0%, rgb(255,255,255) 100%);
//    background-image: -webkit-linear-gradient( 90deg, rgb(211,223,231) 0%, rgb(255,255,255) 100%);
//    background-image: -ms-linear-gradient( 90deg, rgb(211,223,231) 0%, rgb(255,255,255) 100%);
//    box-shadow: 1px 1.732px 5px 0px rgb( 0, 0, 0 );
//
//}

.alrajhi .tittle-bar-search{
    border-style: solid;
    border-width: 1px;
    border-color: rgb( 189, 189, 189 );
    background-color: rgb( 252, 252, 252 );
    border-radius: 3px !important;
}

.alrajhi .input-group-btn .tittle-bar-search-btn{
    margin-left:-30px; 
    z-index:2;
    background-color: rgb( 252, 252, 252 );
    border: 0px;
    height: 19px;
}

//for watchlist

.alrajhi .sort-back-color {
 background-image: -moz-linear-gradient( 90deg, rgb(242,242,242) 0%, rgb(241,241,241) 49%, rgb(233,233,233) 100%) !important;
  background-image: -webkit-linear-gradient( 90deg, rgb(242,242,242) 0%, rgb(241,241,241) 49%, rgb(233,233,233) 100%) !important;
  background-image: -ms-linear-gradient( 90deg, rgb(242,242,242) 0%, rgb(241,241,241) 49%, rgb(233,233,233) 100%) !important;
    font-weight: bold;
  
}

.alrajhi .tittle-bar-price-connected{
    color: #ffffff; 
}


.alrajhi .connection-status-green {
    color:$alrajhi-color-green-connection;
}

.alrajhi .connection-status-red {
    color:$alrajhi-color-red-connection;
}
// IE fulscreen issue 
.alrajhi body:-ms-fullscreen::-ms-backdrop {
         background-color: $alrajhi-color-background;
}

.alrajhi .navbar-nav-ticker-area .tickerDiv{
  background:$alrajhi-ticker-color;
}


.alrajhi button.chart-btn-icon.active{
    color: $alrajhi-btn-border-color-hover;
    background-color: $alrajhi-color-widget;
}

.alrajhi .quote-tab{
    height:calc(100% - 400px);
    min-height:100px;
}

