@import 'colour-theme-netplus';

/* theme 2 start here */

.netplus body{
    // font-weight: 600;
    font-family: arial;
}
/* from sidebar.netplus .scss */
.netplus .sidebar-wrapper {
    background:  $netplus-color-background;
}
/* Sidebar Styles */

.netplus .sidebar-nav li a {
    color: #5B8CCA;
}

.netplus li.sidebar-active a{
    color: #3b4144 !important;
}


.netplus .sidebar-nav li a:hover {
    color: $netplus-text-color-normal;
/*	background: rgba(255,255,255,0.netplus .2);
	padding: 2px;
	border-radius: 3px;
	width: 60px; */
}

.netplus .sidebar-nav > .netplus .sidebar-brand a {
	color: #999999;
}

.netplus .sidebar-nav > .netplus .sidebar-brand a:hover {
	color: #fff;
}

.netplus .sidebar-active {
    color: #3b4144 !important;
    border-style: solid;
    border-width: 1px;
    border-color: rgb( 218, 218, 218 );
    background-image: -moz-linear-gradient( 90deg, rgb(243,243,243) 0%, rgb(189,213,229) 45%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(243,243,243) 0%, rgb(189,213,229) 45%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(243,243,243) 0%, rgb(189,213,229) 45%, rgb(255,255,255) 100%);
 
}

.netplus .sidebar-nav {
    background-color: $netplus-color-widget;
    border: 1px $netplus-color-widget-border solid;
}
/* end of sidebar.netplus .scss */


/* from navbar.netplus .scss */
.netplus .navbar-inverse {
    background-color: $netplus-color-widget;
    border: 1px $netplus-color-border solid;
}

.netplus .logo-text {
	color: $netplus-text-color-main;
}
//.netplus .font-normal {
//    color: $netplus-text-color-light;
//}


//ticker back color netplus
.netplus .navbar-nav-ticker-area .tickerDiv{
  background:$netplus-ticker-color;
}

.netplus .vertical-separator {
    border-right: 1px $netplus-color-border solid;
}

.netplus .progress-time {
    background-color: $netplus-color-widget !important;
}
/* end of navbar.netplus .scss */

/* from widget.netplus .scss */
.netplus .widget {
    background-color: $netplus-color-widget;
    border: 1px $netplus-color-widget-border solid;
}

.netplus h2.widget-title-type-1{
    border-bottom: 1px $netplus-color-border solid;
    color:$netplus-text-color-widget-title;
}

.netplus .widget-watchlist {
    background-color: $netplus-color-widget;
}

.netplus .search-query {
  //  border: 1px $netplus-btn-border-color solid;
    border: 1px #A4CFF1 solid;
    background-color: $netplus-color-background;
    height: 22px;
}

.netplus .online {
    background-color: $netplus-color-green;
}

/* news section */

.netplus .news-row {
    border-bottom: 2px $netplus-color-border solid;
}

/* provide some minimal visual accomodation for IE8 and below */

.netplus .TFtable tr {
    background: $netplus-color-widget;
}

/*  Define the background color for all the ODD background rows  */

.netplus .TFtable tr:nth-child(odd) {
    background: $netplus-color-widget;
}

/*  Define the background color for all the EVEN background rows  */

.netplus .TFtable tr:nth-child(even) {
    background: $netplus-color-background;
}

.netplus .panel-table-row-odd {
    background: $netplus-color-widget;
}

.netplus .panel-table-row-even {
    background: $netplus-color-background;
}
    
::-webkit-scrollbar-thumb {
    background-color:rgba(136, 134, 134, 0.3);
}

/* add widget tittle class */

.netplus .progress-bid {
    background-color: $netplus-color-widget !important;
}

.netplus .progress-offer {
    background-color: $netplus-color-widget !important;
	border-right: 0px #232836 solid;
}

.netplus .quote-cell {
    background-color: $netplus-color-background;
}

.netplus .quote-cell-border {
    border-right:  2px $netplus-color-widget solid
}

.netplus .company-heading {
    border-right: 2px $netplus-color-border solid;
}

.netplus .company-address a {
    color:$netplus-color-2;
}

.netplus .footer {
    background-color:$netplus-color-background;
}

.netplus .footer-padding {
    border-right:1px $netplus-color-border solid;
}

.netplus .footer-padding-first {
    border-right:1px $netplus-color-border solid;
}

.netplus .icon-btn {
    background-color: $netplus-color-widget;
    border-color: $netplus-btn-border-color;
    color: $netplus-tab-button-color;
}

.netplus .search-wrapper {
    border: 1px solid $netplus-color-search-border-wrapper;
    background-color: $netplus-color-search-background;
}

//.netplus .search-wrapper .search-col-1 {
//    border-right: 1px solid $netplus-color-search-border;
//}

.netplus .search-wrapper .search-col-2 {
}

.netplus .search-title {
    border-bottom: 1px $netplus-color-search-border solid;
    color: $netplus-text-color-widget-title;
}

.netplus .search-row {
    border-bottom: 1px $netplus-color-search-border-wrapper solid;
}

.netplus .search-row:hover, .netplus .search-row-hover {
    background-color: $netplus-color-search-hover ; 
 }

.netplus .dropdown-menu-2 {
    font-size: 11px;
    background-color: $netplus-color-widget;
    border: 1px solid $netplus-btn-border-color;
}

.netplus .spread-text{
    background-color:$netplus-color-widget;
}

.netplus .btn-dropdown-no-border{
    background-color: $netplus-color-widget;
    color: $netplus-btn-color;
}
    
.netplus .btn-dropdown-no-border:hover {
    color: $netplus-btn-border-color-hover;
}

.netplus .chart-btn-icon:hover {
    color: $netplus-btn-border-color-hover;
    background-color: $netplus-color-widget;
}

/* for watchlist cells */
//.netplus .blink-style-up {
//  color: $netplus-text-color-normal;
//  background-color: $netplus-color-green !important;
//}
//
//.netplus .blink-style-down {
//  color:  $netplus-text-color-normal;
//  background-color: $netplus-color-red !important;
//}

.netplus .dot-style-high {
    border-right: 4px solid $netplus-color-green;
}

.netplus .dot-style-low {
    border-right: 4px solid $netplus-color-red;

}

//.netplus .blink-classic-up {
//  color: $netplus-text-color-normal;
//  background-color: $netplus-color-green !important;
//}
//
//.netplus .blink-classic-down {
//  color: $netplus-text-color-normal;
//  background-color: $netplus-color-red !important;
//}

.netplus .blink-style-up {
    color: $netplus-text-color-normal;
    background-color: #4dc45b !important; 
}

.netplus .blink-style-down {
    color:$netplus-text-color-normal;
    background-color: #fb8888 !important; 
}

.netplus .blink-classic-up {
    color: $netplus-text-color-normal;
    background-color: #4dc45b !important; 
}

.netplus .blink-classic-down {
    color: $netplus-text-color-normal;
    background-color: #fb8888 !important; 
}


/* end of watchlist cells */
/* end of widget.netplus .scss */

/* from bootsrap-override.scss */

.netplus .btn-default {
	color: $netplus-btn-color;
//  background-color:  $color-widget;
	border-style: solid;
	border-width: 1px;
//  border-color: $btn-border-color;
	margin-bottom: 0px;
    height: 22px;
	border-radius: 0px;
	padding: $padding-small;
	font-size: $font-medium;
    border-style: solid;
    border-width: 1px;
    border-color: rgb( 132, 164, 190 );
    background-image: -moz-linear-gradient( 90deg, rgb(234,245,252) 0%, rgb(205,232,248) 49%, rgb(240,248,253) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(234,245,252) 0%, rgb(205,232,248) 49%, rgb(240,248,253) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(234,245,252) 0%, rgb(205,232,248) 49%, rgb(240,248,253) 100%);

}

.netplus .btn-dropdown {
    padding-left: $padding-medium;
    padding-right: $padding-medium;
}

.netplus .btn-default:hover, .netplus .icon-btn:hover, .netplus .btn-default:focus, .netplus .btn-default.focus,.netplus .btn-default:active, .netplus .btn-default.active,.netplus .open > .netplus .dropdown-toggle.btn-default {
    color: #58a7e2;
    background-color: $color-widget;
    border-color:$theme2-text-color-table-header;
}

.netplus .dropdown-menu > li > a:hover,.netplus .dropdown-menu > li > a:focus {
    color: $netplus-text-color-light;
    background-color: $netplus-color-search-hover;
} 

.netplus .btn-default:focus, .netplus .btn-default.focus {
    background-color: $netplus-btn-color-active;
 }

.netplus .nav-tabs > li.active > a, .netplus .nav-tabs > li.active > a:hover, .netplus .nav-tabs > li.active > a:focus {
	color: $netplus-text-color-normal;
    background-color: rgba(243, 243, 243, 0);
//    background-color: $netplus-color-widget;
	border-bottom: 1px solid $netplus-tab-border-bottom-color;
    border-bottom-color: $netplus-tab-border-bottom-color;
}
.netplus .nav-tabs {
    border-bottom: 1px solid $netplus-color-border;
}
.netplus .nav-tabs > li > a {
    color: $netplus-tab-button-color;
}
.netplus .nav > li > a:hover, .netplus .nav > li > a:focus {
	color: $netplus-btn-border-color-hover;
}
.netplus .progress {
    background-color: $netplus-color-red;
}
.netplus .progress-bar {
    background-color: $netplus-color-green;
	border-right: 2px $netplus-color-widget-border solid;
}
.netplus .progress-border {
	height: 5px;
	border-bottom: 1px $netplus-color-widget-border solid;
}
.netplus .progress-bar-wk-green {
    border-right: 4px $netplus-color-green solid;
}
.netplus .progress-bar-wk-red {
    border-right: 4px $netplus-color-red solid;
}

.netplus .progress-up {
    background-color: $netplus-color-green;
}
.netplus .progress-down {
    background-color: $netplus-color-red;
}
.netplus .progress-unchanged {
    background-color: $netplus-color-1;
}

.netplus .popover.left > .netplus .arrow:after {
    border-left-color:  $netplus-text-color-main;

}

.netplus .dropdown-menu {
//  background-color: #141C21;
//  border: 1px solid #424d5c;
    border-style: solid;
    border-width: 1px;
    border-color: rgb( 167, 163, 163 );
    background-color: rgb( 255, 255, 255 );
    box-shadow: 1px 1.732px 11px 0px rgb( 92, 92, 92 );
}
/* end of bootstrap override */ 


/*pop over */


.netplus .popover {
    background-color: $netplus-text-color-main;
    border: 1px solid $netplus-color-border;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: $netplus-color-background;
}
.netplus .popover-title {
    background-color: $netplus-color-background;
    border-bottom: 1px solid $netplus-color-border;
    color: $netplus-text-color-main;
}
.netplus .popover.left > .netplus .arrow:after {
    border-left-color:  $netplus-text-color-main;
}
.netplus .carousel-indicators li {
    border: 1px solid $netplus-color-border;
}
.netplus .carousel-indicators.active {
    background-color: $netplus-color-border;
}
/* end of bootsrap-override.scss */


/* from ember-override.netplus .scss */
.netplus .ember-table-body-container .ember-table-table-row.ember-table-hover {
	border-style: solid;
    border-width: 1px;
    border-color: rgb( 132, 164, 190 );
    background-image: -moz-linear-gradient( 90deg, rgb(214,226,233) 0%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(214,226,233) 0%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(214,226,233) 0%, rgb(255,255,255) 100%);
}
.netplus .ember-table-body-container .ember-table-table-row.ember-table-selected {
	background-color: #e8edf5 !important;
	border: 0px #A4CFF1 solid;
    color: $netplus-text-color-main;
}
.netplus .ember-table-header-row,.netplus .ember-table-header-container .ember-table-table-fixed-wrapper {
	background-color: $netplus-color-widget;
}
.netplus .ember-table-footer-container {
	background-color: #262932 !important;
}
.netplus .ember-table-style-row {
	background-color: #1d6bac;
}
/* end of ember-override.netplus .scss */

/* from global */
.netplus a { 
	color: $tab-button-color;
}

.netplus a:hover, .netplus a:active, .netplus a:focus {
    color: $btn-border-color-hover;

}
/* end of global */

/* from common */
.netplus body {
    background-color: $netplus-color-background;
    color: $netplus-text-color-main;
}
.netplus .colour-normal {
    color: $netplus-text-color-normal !important;
    fill: $netplus-text-color-normal !important;
}
.netplus .green {
    color:  $netplus-color-green;
}
.netplus .green-dark {
    color: $netplus-color-green-dark;
}
.netplus .red {
    color: $netplus-color-red;
}
//.netplus .orange {
//    color: $netplus-color-announcement;
//}
//.netplus .purple {
//    color: $netplus-color-news;
//}
.netplus .colour-symbol {
    color: $netplus-text-color-symbol !important;
}
.netplus .colour-symbol-dis {
    color: $netplus-text-color-symbol-dis !important;
}
.netplus .colour-tittle {
    color: $netplus-text-color-widget-title;
}
.netplus .red-dark {
    color: $netplus-color-red-dark;
}

.netplus .colour-1 {
    color: $netplus-color-1;
}

.netplus .colour-2 {
    color: $netplus-color-2;
}

.netplus .colour-3 {
    color: $netplus-color-3;
}

.netplus .colour-4 {
    color: $netplus-color-4;
}

.netplus .widget-tittle-color {
    color: $netplus-text-color-widget-title;
}
.netplus .header-colour {
    color: $netplus-text-color-table-header;
}
 .netplus .border-right {
    border-right: 1px $netplus-color-border solid;
}

.ar .netplus .border-right {
    border-left: 1px $netplus-color-border solid;
    border-right: 0px $netplus-color-border solid;
}
.netplus .border-bottom {
    border-bottom: 1px $netplus-color-border solid;
}

//.netplus .font-sub-light {
//    color: $netplus-text-color-light;
//}
//.netplus .font-main-light {
//    color: $netplus-text-color-light;
//}
//
//.netplus .font-small-light {
//    color: $netplus-text-color-light;
//}

.netplus .text-color-light{
    color: netplus-text-color-light;
}


.netplus .font-table-header {
    color: $netplus-text-color-table-header;
}

.netplus .back-green-dark{
    background-color:$netplus-color-green-dark !important;
}

.netplus .back-red-dark{
    background-color:$netplus-color-red-dark !important;
}

.netplus .text-box {
    border: 1px $netplus-btn-border-color solid;
    background-color: $netplus-color-background; 
}



.netplus .watchlist-cell-back-red{
    background-color: rgba(231, 67, 67, 0.14);
}

.netplus .watchlist-cell-back-green{
    background-color: rgba(46, 204, 113, 0.14);
}

.netplus .watchlist-cell-back-lastqty{
    background-color: rgba(85, 159, 214, 0.14);
}

.netplus .watchlist-row-back-red {
    background-color: rgba(250, 212, 223, 1); 
}

.netplus .watchlist-row-back-green {
    background-color: rgba(199, 238, 189, 1); 
}

.netplus .watchlist-row-strike {
    text-decoration: line-through; 
}

.netplus h2.widget-title-type-1::first-child{
    border-bottom: 0px solid #171d23;
    border-style: solid;
    border-width: 1px;
//  border-left: 1px rgb( 28, 84, 133 ) solid;
//  border-color: rgb( 28, 84, 133 );
    background-image: -moz-linear-gradient( 90deg, rgb(81,144,186) 0%, rgb(129,180,214) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(81,144,186) 0%, rgb(129,180,214) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(81,144,186) 0%, rgb(129,180,214) 100%);
    margin-left: -6px;
    margin-right: -6px;
    font-size:$font-medium;
    font-weight:$font-bold;
    padding:4px 0 4px 5px;
}

.netplus h2.widget-title-type-1{
    border-bottom: 0px solid #171d23;
//  border-style: solid;
//  border-width: 1px;
//  border-color: rgb( 28, 84, 133 );
//  border-top: 1px  rgb( 28, 84, 133 ) solid;
//  border-bottom: 1px  rgb( 28, 84, 133 ) solid;
    background-image: -moz-linear-gradient( 90deg, rgb(81,144,186) 0%, rgb(129,180,214) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(81,144,186) 0%, rgb(129,180,214) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(81,144,186) 0%, rgb(129,180,214) 100%);
    margin-left: -6px;
    margin-right: -6px;
    font-size:$font-medium;
    font-weight:$font-bold;
    padding:4px $padding-small 4px $padding-small;
}

.netplus h2.widget-title-type-1::last-child{
    border-bottom: 0px solid #171d23;
// border-style: solid;
//  border-width: 1px;
 //   border-right: 1px   rgb( 28, 84, 133 ) solid;
background-image: -moz-linear-gradient( 90deg, rgb(81,144,186) 0%, rgb(129,180,214) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(81,144,186) 0%, rgb(129,180,214) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(81,144,186) 0%, rgb(129,180,214) 100%);
 
    margin-left: -6px;
    margin-right: -6px;
    font-size:$font-medium;
    font-weight:$font-bold;
    padding:4px $padding-small 4px $padding-small;
}

.netplus h2.widget-title-with-icon{
padding:3px $padding-small 3px $padding-small;
}


.netplus .widget{
    padding: 0px $padding-small 0px $padding-small;
    background-color: $netplus-color-background;
//    background-image: -moz-linear-gradient( 90deg, rgb(200,212,220) 0%, rgb(222,230,230) 0%, rgb(251,252,252) 100%, rgb(215,225,230) 100%);
//    background-image: -webkit-linear-gradient( 90deg, rgb(200,212,220) 0%, rgb(222,230,230) 0%, rgb(251,252,252) 100%, rgb(215,225,230) 100%);
//    background-image: -ms-linear-gradient( 90deg, rgb(200,212,220) 0%, rgb(222,230,230) 0%, rgb(251,252,252) 100%, rgb(215,225,230) 100%);
//    background-attachment:fixed;


}

.netplus .widget-watchlist{
    padding: 0px 0px $padding-small 0px;
    background-color: $netplus-color-background;
//    background-image: -moz-linear-gradient( 90deg, rgb(200,212,220) 0%, rgb(222,230,230) 0%, rgb(251,252,252) 100%, rgb(215,225,230) 100%);
//    background-image: -webkit-linear-gradient( 90deg, rgb(200,212,220) 0%, rgb(222,230,230) 0%, rgb(251,252,252) 100%, rgb(215,225,230) 100%);
//    background-image: -ms-linear-gradient( 90deg, rgb(200,212,220) 0%, rgb(222,230,230) 0%, rgb(251,252,252) 100%, rgb(215,225,230) 100%);
    background-attachment:fixed;


}

.netplus .watchlist-ul{
    width: 100%;
    position: relative;
    padding: 0 $padding-small 0 $padding-small;
}

.netplus .netplus-watchlist-table-header{
//    border-top: 1px rgb( 28, 84, 133 ) solid;
//    border-bottom: 1px rgb( 28, 84, 133 ) solid;
    background-image: -moz-linear-gradient( 90deg, rgb(251,252,252) 0%, rgb(211,223,231) 49%, rgb(251,252,252) 100%, rgb(215,225,230) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(251,252,252) 0%, rgb(211,223,231) 49%, rgb(251,252,252) 100%, rgb(215,225,230) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(251,252,252) 0%, rgb(211,223,231) 49%, rgb(251,252,252) 100%, rgb(215,225,230) 100%);


}

.nrtplus .sidebar-nav li:hover{
    border-style: solid;
    border-width: 1px;
    border-color: rgb( 220, 220, 220 );
    background-image: -moz-linear-gradient( 90deg, rgb(211,223,231) 0%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(211,223,231) 0%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(211,223,231) 0%, rgb(255,255,255) 100%);
    box-shadow: 1px 1.732px 5px 0px rgb( 0, 0, 0 );

}

.netplus .netplus-watchlist-header{
//  border-style: solid;
//  border-width: 1px;
//  border-color: rgb( 28, 84, 133 );
//  border: 1px  rgb( 28, 84, 133 ) solid;
//  border-bottom: 1px  rgb( 28, 84, 133 ) solid;
    background-image: -moz-linear-gradient( 90deg, rgb(81,144,186) 0%, rgb(129,180,214) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(81,144,186) 0%, rgb(129,180,214) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(81,144,186) 0%, rgb(129,180,214) 100%);
    padding: 0px $padding-small 0px $padding-small;
    margin-bottom: $margin-small;
    height: 22px;
}

.netplus .toppanel-back{
background-image: -moz-linear-gradient( 90deg, rgb(81,144,186) 0%, rgb(129,180,214) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(81,144,186) 0%, rgb(129,180,214) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(81,144,186) 0%, rgb(129,180,214) 100%);
 
    padding: 1px $padding-small 1px $padding-small;
    color: $netplus-text-color-widget-title;
    text-align: $text-align-2;
    font-size: $font-large;
}

.netplus .topbar {
    float: $text-align-1;
 background-image: -moz-linear-gradient( 90deg, rgb(222,230,230) 0%, rgb(246,248,251) 0%, rgb(251,252,252) 100%, rgb(215,225,230) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(222,230,230) 0%, rgb(246,248,251) 0%, rgb(251,252,252) 100%, rgb(215,225,230) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(222,230,230) 0%, rgb(246,248,251) 0%, rgb(251,252,252) 100%, rgb(215,225,230) 100%);
  box-shadow: 1.5px 2.598px 4px 0px rgba(143, 143, 143, 0.56);
    border: 0px solid #ffffff;

}

.netplus .dropdown-chart-grid{
    font-size: 16px;
    padding: 0px
}

.netplus .tittle-colour{
    color: $netplus-text-color-widget-title !important;
}

.netplus .netplus-margin-small-top{
    margin-top: $margin-small;
}

.netplus .netplus-bold{
    font-weight:$font-bold;
}

.netplus .ember-table-tables-container {
    background-color: #e8edf5 !important;
    border: 0px solid rgba(255, 255, 255, 0); 
}

.netplus .ember-table-footer-container {
    background-color: #FFFCFC !important; 
}


.netplus .indicator-li{
    margin-right: 2px;
    line-height: 11px;
}

.netplus .indicator-li {
    margin-right: 2px;
    line-height: 11px; 
}

.netplus .prochart-line-studies-back{
    border-radius: 3px;
    background-image: -moz-linear-gradient( 90deg, rgb(237,241,242) 0%, rgb(251,251,251) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(237,241,242) 0%, rgb(251,251,251) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(237,241,242) 0%, rgb(251,251,251) 100%);
    color: #9E9E9E;
}

.netplus .widget-prochart{
    background-color: $netplus-color-background;
}

.netplus .chart-navtabs{
    border: 1px solid $netplus-color-border;
    border-radius: 23px;
}

.netplus .dropdown-watchlist-more-search{
    background-color: #96c0da;
}

.netplus .watchlist-right-click{
    border: 1px rgb( 167, 163, 163) solid;
    background-color: rgb( 255, 255, 255 );
    box-shadow: 1px 1.732px 11px 0px rgb( 92, 92, 92 ); 
    width: 225px;
}

.netplus .watchlist-right-click-symbol{
    height: 40px;
    background-color: #96c0da;
    padding: $padding-large $padding-large $padding-small $padding-large;
   // color: 
}


.netplus .watchlist-right-click-item:hover{
    background-color: #f1f1f1;
    border-left: 4px #96c0da solid;
    padding: $padding-small $padding-large $padding-small 11px;
}

.netplus .horizontal-list-right li {
    margin-left: 5px;
}

.netplus .news-popup{
    max-height:300px;
    min-width:365px; 
    max-width: 550px;
    border-style: solid;
    border-width: 1px;
    border-color: #a7a3a3;
    background-color: #ffffff;
    opacity: 0.949;box-shadow: 1px 1.732px 5px 0px rgb( 0, 0, 0 );
}
.netplus .news-popup-header{
    min-height:60px; 
    background-color:#96c0da;
}

.netplus .symbol-popup-view-header{
    cursor: move; 
    height:30px; 
    background-color: #96c0da; 
    margin-left:-5px; 
    margin-right:-5px; 
    padding: 8px;
}


.netplus button.chart-btn-icon.active{
    color: $netplus-btn-border-color-hover;
    background-color: $netplus-color-widget;
}


.netplus .app-border{
    border: 2px $netplus-color-background solid;
}

.netplus .footer-app-border{
    border-right: 3px $netplus-color-background solid;
    border-bottom: 2px $netplus-color-background solid;
}

.netplus .tittle-bar{
    background-image: -moz-linear-gradient( 90deg, rgb(81,144,186) 0%, rgb(129,180,214) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(81,144,186) 0%, rgb(129,180,214) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(81,144,186) 0%, rgb(129,180,214) 100%);
    border-bottom: none !important;
}

.netplus .quote-summary-layout{
    margin-left: $margin-small;
    width: calc(100% - 5px);
    background-color: $netplus-color-widget;
}

.ar .netplus .quote-summary-layout{
    margin-right: $margin-small;
}

//for watchlist

.netplus .sort-back-color {
 background-image: -moz-linear-gradient( 90deg, rgb(244,247,248) 0%, rgb(246,248,249) 52%, rgb(216,227,234) 100%) !important;
  background-image: -webkit-linear-gradient( 90deg, rgb(244,247,248) 0%, rgb(246,248,249) 52%, rgb(216,227,234) 100%) !important;
  background-image: -ms-linear-gradient( 90deg, rgb(244,247,248) 0%, rgb(246,248,249) 52%, rgb(216,227,234) 100%) !important;
    font-weight: bold;
}

.netplus .tittle-bar-price-connected{
    color: #ffffff; 

}

.netplus .connection-status-green {
    color:$netplus-color-green-connection;
}

.netplus .connection-status-red {
    color:$netplus-color-red-connection;
}

// IE fulscreen issue 
.netplus body:-ms-fullscreen::-ms-backdrop {
         background-color: $netplus-color-background;

}

//heights 

.netplus .topstocks-height{
    height:calc(100% - 32px);
}

.netplus .detailquote-height{
    height:calc(100% - 35px);
}
.netplus .quote-tab{
    height:calc(100% - 400px);
    min-height:100px;
}
