@import 'colour-theme-samba';

.samba body{
    font-family: arial;
}

/* from sidebar.samba .scss */
.samba .sidebar-wrapper {
    background:  $samba-color-background;
}

.samba .sidebar-nav li a {
    color: $samba-btn-color;
}

.samba li.sidebar-active a{
    color: $samba-btn-color-active !important;
}

.samba .sidebar-nav li a:hover {
    color: $samba-text-color-normal;
}

.samba .sidebar-nav > .samba .sidebar-brand a {
	color: #999999;
}

.samba .sidebar-nav > .samba .sidebar-brand a:hover {
	color: #fff;
}

.samba .sidebar-active {
    color: $samba-btn-color-active !important;
    background-image: -moz-linear-gradient( 90deg, rgb(35,97,179) 0%, rgb(8,70,153) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(35,97,179) 0%, rgb(8,70,153) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(35,97,179) 0%, rgb(8,70,153) 100%);
}

.samba .sidebar-nav {
    background-color: $samba-color-widget;
    border: 1px $samba-color-widget-border solid;
}
/* end of sidebar.samba .scss */

/* from navbar.samba .scss */
.samba .navbar-inverse {
    background-color: $samba-color-widget;
    border: 1px $samba-color-border solid;
}

.samba .logo-text {
	color: $samba-text-color-main;
}

.samba .vertical-separator {
    border-right: 1px $samba-color-border solid;
}

.samba .progress-time {
    background-color: $samba-color-widget !important;
}
/* end of navbar.samba .scss */

/* from widget.samba .scss */
.samba .widget {
    background-color: $samba-color-widget;
    border: 1px $samba-color-widget-border solid;
    padding: 0px $padding-small 0px $padding-small;
}

.samba h2.widget-title-type-1{
    border-bottom: 1px $samba-color-border solid;
    color:$samba-text-color-widget-title;
}

.samba .widget-watchlist {
    background-color: $samba-color-widget;
}

.samba .search-query {
    border: 1px #A4CFF1 solid;
    background-color: $samba-color-background;
    height: 22px;
}

.samba .online {
    background-color: $samba-color-green;
}

/* news section */

.samba .news-row {
    border-bottom: 2px $samba-color-border solid;
}

/* provide some minimal visual accomodation for IE8 and below */

.samba .TFtable tr {
    background: $samba-color-widget;
}

/*  Define the background color for all the ODD background rows  */

.samba .TFtable tr:nth-child(odd) {
    background: $samba-color-widget;
}

/*  Define the background color for all the EVEN background rows  */

.samba .TFtable tr:nth-child(even) {
    background: $samba-color-background;
}

.samba .panel-table-row-odd {
    background: $samba-color-widget;
}

.samba .panel-table-row-even {
    background: $samba-color-background;
}
    
::-webkit-scrollbar-thumb {
    background-color:rgba(136, 134, 134, 0.3);
}

/* add widget tittle class */

.samba .progress-bid {
    background-color: $samba-color-widget !important;
}

.samba .progress-offer {
    background-color: $samba-color-widget !important;
	border-right: 0px #232836 solid;
}

.samba .quote-cell {
    background-color: $samba-color-background;
}

.samba .quote-cell-border {
    border-right:  2px $samba-color-widget solid
}

.samba .company-heading {
    border-right: 2px $samba-color-border solid;
}

.samba .company-address a {
    color:$samba-color-2;
}

.samba .footer {
    background-color:$samba-color-background;
}

.samba .footer-padding {
    border-right:1px $samba-color-border solid;
}

.samba .footer-padding-first {
    border-right:1px $samba-color-border solid;
}

.samba .icon-btn {
    background-color: $samba-color-widget;
    border-color: $samba-btn-border-color;
    color: $samba-tab-button-color;
}

.samba .search-wrapper {
    border: 1px solid $samba-color-search-border-wrapper;
    background-color: $samba-color-search-background;
}

.samba .search-title {
    border-bottom: 1px $samba-color-search-border solid;
    color: $samba-text-color-widget-title;
}

.samba .search-row {
    border-bottom: 1px $samba-color-search-border-wrapper solid;
}

.samba .search-row:hover, .samba .search-row-hover {
    background-color: $samba-color-search-hover ; 
}

.samba .dropdown-menu-2 {
    font-size: 11px;
    background-color: $samba-color-widget;
    border: 1px solid $samba-btn-border-color;
}

.samba .spread-text{
    background-color:$samba-color-widget;
}

.samba .btn-dropdown-no-border{
    background-color: $samba-color-widget;
    color: $samba-btn-color;
}
    
.samba .btn-dropdown-no-border:hover {
    color: $samba-btn-border-color-hover;
}

.samba .chart-btn-icon:hover {
    color: $samba-btn-border-color-hover;
    background-color: $samba-color-widget;
}

.samba .dot-style-high {
    border-right: 4px solid $samba-color-green;
}

.samba .dot-style-low {
    border-right: 4px solid $samba-color-red;

}

.samba .blink-style-up {
    color: $samba-text-color-normal;
    background-color: #4dc45b !important; 
}

.samba .blink-style-down {
    color:$samba-text-color-normal;
    background-color: #fb8888 !important; 
}

.samba .blink-classic-up {
    color: $samba-text-color-normal;
    background-color: #4dc45b !important; 
}

.samba .blink-classic-down {
    color: $samba-text-color-normal;
    background-color: #fb8888 !important; 
}

/* end of widget.samba .scss */

/* from bootsrap-override.scss */

.samba .btn-default {
	color: $samba-btn-color;
	border-style: solid;
	border-width: 1px;
	margin-bottom: 0px;
    height: 22px;
	padding: $padding-small;
	font-size: $font-medium;
    border-style: solid;
    border-width: 1px;
    border-color: rgb( 212, 212, 212 );
    border-radius: 3px;
    background-image: -moz-linear-gradient( 90deg, rgb(227,227,227) 0%, rgb(235,235,235) 0%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(227,227,227) 0%, rgb(235,235,235) 0%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(227,227,227) 0%, rgb(235,235,235) 0%, rgb(255,255,255) 100%);
}

.samba .btn-dropdown {
    padding-left: $padding-medium;
    padding-right: $padding-medium;
}

.samba .btn-default:hover, .samba .icon-btn:hover, .samba .btn-default:focus, .samba .btn-default.focus,.samba .btn-default:active, .samba .btn-default.active,.samba .open > .samba .dropdown-toggle.btn-default {
    color: #58a7e2;
    background-color: $color-widget;
    border-color:$theme2-text-color-table-header;
}

.samba .dropdown-menu > li > a:hover,.samba .dropdown-menu > li > a:focus {
    color: $samba-text-color-light;
    background-color: $samba-color-search-hover;
} 

.samba .btn-default:focus, .samba .btn-default.focus {
    background-color: $samba-btn-color-active;
}

.samba .nav-tabs > li.active > a, .samba .nav-tabs > li.active > a:hover, .samba .nav-tabs > li.active > a:focus {
	color: $samba-text-color-normal !important;
    background-image: -moz-linear-gradient( 90deg, rgb(233,233,233) 0%, rgb(248,248,248) 13%, rgb(248,248,248) 41%, rgb(232,232,232) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(233,233,233) 0%, rgb(248,248,248) 13%, rgb(248,248,248) 41%, rgb(232,232,232) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(233,233,233) 0%, rgb(248,248,248) 13%, rgb(248,248,248) 41%, rgb(232,232,232) 100%);
    background-color: rgba(243, 243, 243, 0);
	border-bottom: 0px solid $samba-tab-border-bottom-color;
    border-bottom-color: $samba-tab-border-bottom-color;
    font-weight: bold;
    border-style: solid;
    border-width: 1px;
    border-color: rgb( 212, 212, 212 );
}

.samba .nav-tabs {
    border-bottom: 0px solid $samba-color-border;
}

.samba .nav-tabs > li > a {
    border-style: solid;
    border-width: 1px;
    border-color: rgb( 212, 212, 212 );
    background-image: -moz-linear-gradient( 90deg, rgb(236,236,236) 0%, rgb(254,254,254) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(236,236,236) 0%, rgb(254,254,254) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(236,236,236) 0%, rgb(254,254,254) 100%);
    color: $samba-tab-button-color;
    margin-right: 0px;
}

.samba .nav > li > a:hover, .samba .nav > li > a:focus {
	color: $samba-btn-border-color-hover;
}

.samba .progress {
    background-color: $samba-color-red;
}

.samba .progress-bar {
    background-color: $samba-color-green;
	border-right: 2px $samba-color-widget-border solid;
}

.samba .progress-border {
	height: 5px;
	border-bottom: 1px $samba-color-widget-border solid;
}

.samba .progress-bar-wk-green {
    border-right: 4px $samba-color-green solid;
}

.samba .progress-bar-wk-red {
    border-right: 4px $samba-color-red solid;
}

.samba .progress-up {
    background-color: $samba-color-green;
}

.samba .progress-down {
    background-color: $samba-color-red;
}

.samba .progress-unchanged {
    background-color: $samba-color-1;
}

.samba .popover.left > .samba .arrow:after {
    border-left-color:  $samba-text-color-main;
}

.samba .dropdown-menu {
    border-style: solid;
    border-width: 1px;
    border-color: rgb( 167, 163, 163 );
    background-color: rgb( 255, 255, 255 );
    box-shadow: 1px 1.732px 11px 0px rgb( 92, 92, 92 );
}

/* end of bootstrap override */ 

/*pop over */

.samba .popover {
    background-color: $samba-text-color-main;
    border: 1px solid $samba-color-border;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: $samba-color-background;
}

.samba .popover-title {
    background-color: $samba-color-background;
    border-bottom: 1px solid $samba-color-border;
    color: $samba-text-color-main;
}

.samba .popover.left > .samba .arrow:after {
    border-left-color:  $samba-text-color-main;
}

.samba .carousel-indicators li {
    border: 1px solid $samba-color-border;
}

.samba .carousel-indicators.active {
    background-color: $samba-color-border;
}

/* end of bootsrap-override.scss */

/* from ember-override.samba .scss */

.samba .ember-table-body-container .ember-table-table-row.ember-table-hover {
	border-style: solid;
    border-width: 1px;
    border-color: rgb( 132, 164, 190 );
    background-image: -moz-linear-gradient( 90deg, rgb(214,226,233) 0%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(214,226,233) 0%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(214,226,233) 0%, rgb(255,255,255) 100%);
}

.samba .ember-table-body-container .ember-table-table-row.ember-table-selected {
	background-color: #e8edf5 !important;
	border: 0px #A4CFF1 solid;
    color: $samba-text-color-main;
}

.samba .ember-table-header-row,.samba .ember-table-header-container .ember-table-table-fixed-wrapper {
	background-color: $samba-color-widget;
}

.samba .ember-table-footer-container {
	background-color: #262932 !important;
}

.samba .ember-table-style-row {
	background-color: #1d6bac;
}

/* end of ember-override.samba .scss */

/* from global */

.samba a { 
	color: $tab-button-color;
}

.samba a:hover, .samba a:active, .samba a:focus {
    color: $btn-border-color-hover;

}

/* end of global */

/* from common */

.samba body {
    background-color: $samba-color-background;
    color: $samba-text-color-main;
}

.samba .colour-normal {
    color: $samba-text-color-normal !important;
    fill: $samba-text-color-normal !important;
}

.samba .green {
    color:  $samba-color-green;
}

.samba .green-dark {
    color: $samba-color-green-dark;
}

.samba .red {
    color: $samba-color-red;
}

.samba .colour-symbol {
    color: $samba-text-color-symbol !important;
}

.samba .colour-symbol-dis {
    color: $samba-text-color-symbol-dis !important;
}

.samba .colour-tittle {
    color: $samba-text-color-widget-title;
}

.samba .red-dark {
    color: $samba-color-red-dark;
}

.samba .colour-1 {
    color: $samba-color-1;
}

.samba .colour-2 {
    color: $samba-color-2;
}

.samba .colour-3 {
    color: $samba-color-3;
}

.samba .colour-4 {
    color: $samba-color-4;
}

.samba .widget-tittle-color {
    color: $samba-text-color-widget-title;
}

.samba .header-colour {
    color: $samba-text-color-table-header;
}

.samba .border-right {
    border-right: 1px $samba-color-border solid;
}

.ar .samba .border-right {
    border-left: 1px $samba-color-border solid;
    border-right: 0px $samba-color-border solid;
}
.samba .border-bottom {
    border-bottom: 1px $samba-color-border solid;
}

.samba .text-color-light{
    color: samba-text-color-light;
}

.samba .font-table-header {
    color: $samba-text-color-table-header;
}

.samba .back-green-dark{
    background-color:$samba-color-green-dark !important;
}

.samba .back-red-dark{
    background-color:$samba-color-red-dark !important;
}

.samba .text-box {
    border: 1px $samba-btn-border-color solid;
    background-color: $samba-color-background; 
}

.samba .watchlist-cell-back-red{
    background-color: rgba(231, 67, 67, 0.14);
}

.samba .watchlist-cell-back-green{
    background-color: rgba(46, 204, 113, 0.14);
}

.samba .watchlist-cell-back-lastqty{
    background-color: rgba(85, 159, 214, 0.14);
}

.samba .watchlist-row-back-red {
    background-color: rgba(250, 212, 223, 1); 
}

.samba .watchlist-row-back-green {
    background-color: rgba(199, 238, 189, 1); 
}

.samba .watchlist-row-strike {
    text-decoration: line-through; 
}

.samba h2.widget-title-type-1::first-child{
    border-bottom: 0px solid #171d23;
    border-style: solid;
    border-width: 1px;
    background-image: -moz-linear-gradient( 90deg, rgb(35,97,179) 0%, rgb(8,70,153) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(35,97,179) 0%, rgb(8,70,153) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(35,97,179) 0%, rgb(8,70,153) 100%);
    margin-left: -6px;
    margin-right: -6px;
    font-size:$font-medium;
    font-weight:$font-bold;
    padding:4px 0 4px 5px;
}

.samba h2.widget-title-type-1{
    border-bottom: 0px solid #171d23;
    background-image: -moz-linear-gradient( 90deg, rgb(35,97,179) 0%, rgb(8,70,153) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(35,97,179) 0%, rgb(8,70,153) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(35,97,179) 0%, rgb(8,70,153) 100%);
    margin-left: -6px;
    margin-right: -6px;
    font-size:$font-medium;
    font-weight:$font-bold;
    padding:4px $padding-small 4px $padding-small;
}

.samba h2.widget-title-type-1::last-child{
    border-bottom: 0px solid #171d23;
    background-image: -moz-linear-gradient( 90deg, rgb(35,97,179) 0%, rgb(8,70,153) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(35,97,179) 0%, rgb(8,70,153) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(35,97,179) 0%, rgb(8,70,153) 100%);
    margin-left: -6px;
    margin-right: -6px;
    font-size:$font-medium;
    font-weight:$font-bold;
    padding:4px $padding-small 4px $padding-small;
}

.samba h2.widget-title-with-icon{
    padding:3px $padding-small 3px $padding-small !important;
}

.samba .nav-tabs-dq-charts {
    background-image: -moz-linear-gradient( 90deg, rgb(35,97,179) 0%, rgb(8,70,153) 100%) !important;
    background-image: -webkit-linear-gradient( 90deg, rgb(35,97,179) 0%, rgb(8,70,153) 100%) !important;
    background-image: -ms-linear-gradient( 90deg, rgb(35,97,179) 0%, rgb(8,70,153) 100%) !important;
    border: 0px !important;
    margin-top: 1px;
}



.samba .widget-watchlist{
    padding: 0px 0px $padding-small 0px;
    background-color: $samba-color-background;
    background-attachment:fixed;
}

.samba .watchlist-ul{
    width: 100%;
    position: relative;
    padding: 0 $padding-small 0 $padding-small;
}

.samba .netplus-watchlist-table-header{
    border-bottom: 1px rgb( 218, 227, 232 ) solid;
    background-image: -moz-linear-gradient( 90deg, rgb(251,252,252) 0%, rgb(215,225,230) 100%, rgb(211,223,231) 100%, rgb(191,205,205) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(251,252,252) 0%, rgb(215,225,230) 100%, rgb(211,223,231) 100%, rgb(191,205,205) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(251,252,252) 0%, rgb(215,225,230) 100%, rgb(211,223,231) 100%, rgb(191,205,205) 100%);
}

.samba .netplus-watchlist-header{
    background-image: -moz-linear-gradient( 90deg, rgb(35,97,179) 0%, rgb(8,70,153) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(35,97,179) 0%, rgb(8,70,153) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(35,97,179) 0%, rgb(8,70,153) 100%);
    padding: 0px $padding-small 0px $padding-small;
    margin-bottom: $margin-small;
    height: 22px;
}

.samba .toppanel-back{
    background-image: -moz-linear-gradient( 90deg, rgb(217,166,83) 0%, rgb(177,104,61) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(217,166,83) 0%, rgb(177,104,61) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(217,166,83) 0%, rgb(177,104,61) 100%);
    border-radius: 2px;
    padding: 1px $padding-small 1px $padding-small;
    color: $samba-text-color-widget-title;
    text-align: $text-align-2;
    font-size: $font-medium;
}

.samba .topbar {
    float: $text-align-1;
    border-style: solid;
    border-width: 1px;
    border-color: rgb( 206, 204, 204 );
    background-image: -moz-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(255,255,255) 100%);
    box-shadow: 1px 1.732px 4px 0px rgba(41, 41, 41, 0.2)
}

.samba .dropdown-chart-grid{
    font-size: 16px;
    padding: 0px
}

.samba .tittle-colour{
    color: $samba-text-color-widget-title !important;
}

.samba .netplus-margin-small-top{
    margin-top: $margin-small;
}

.samba .netplus-bold{
    font-weight:$font-bold;
}

.samba .ember-table-tables-container {
    background-color: #e8edf5 !important;
    border: 0px solid rgba(255, 255, 255, 0); 
}

.samba .ember-table-footer-container {
    background-color: #FFFCFC !important; 
}

.samba .indicator-li{
    margin-right: 2px;
    line-height: 11px;
}

.samba .indicator-li {
    margin-right: 2px;
    line-height: 11px; 
}

.samba .prochart-line-studies-back{
    border-radius: 3px;
    background-image: -moz-linear-gradient( 90deg, rgb(237,241,242) 0%, rgb(251,251,251) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(237,241,242) 0%, rgb(251,251,251) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(237,241,242) 0%, rgb(251,251,251) 100%);
    color: #9E9E9E;
}

.samba .widget-prochart{
    background-color: $samba-color-background;
}

.samba .chart-navtabs{
    border: 0px solid $samba-color-border;
    border-radius: 23px;
}

.samba .chart-navtabs li{
    margin-right: 0px;
}

.samba .dropdown-watchlist-more-search{
    background-color: #0c4da2;
}

.samba .watchlist-right-click{
    border: 1px #a7a3a3 solid;
    background-color: rgb( 255, 255, 255 );
    box-shadow: 1px 1.732px 11px 0px rgb( 92, 92, 92 ); 
    width: 225px;
}

.samba .watchlist-right-click-symbol{
    height: 40px;
    background-color: #0c4da2;
    padding: $padding-large $padding-large $padding-small $padding-large;
}

.samba .watchlist-right-click-item:hover{
    background-color:  #f1f1f1 ;
    border-left: 4px #0c4da2  solid;
    padding: $padding-small $padding-large $padding-small 11px;
}

.samba .horizontal-list-right li {
    margin-left: 5px;
}

.samba .news-popup{
    max-height:300px;
    min-width:365px; 
    max-width: 550px;
    border-style: solid;
    border-width: 1px;
    border-color: #a7a3a3 ;
    background-color: #ffffff;
    opacity: 0.949;
    box-shadow: 1px 1.732px 5px 0px rgb( 0, 0, 0 );
}

.samba .news-popup-header{
    min-height:60px; 
    background-color:#0c4da2 ;
}

.samba .symbol-popup-view-header{
    cursor: move; 
    height:30px; 
    background-color: #0c4da2 ; 
    margin-left:-5px; 
    margin-right:-5px; 
    padding: 8px;
}

.samba .app-border{
    border: 2px $samba-color-background solid;
}

.samba .footer-app-border{
    border-right: 3px $samba-color-background solid;
    border-bottom: 2px $samba-color-background solid;
}

.samba .tittle-bar{
    background-image: -moz-linear-gradient( 90deg, rgb(35,97,179) 0%, rgb(8,70,153) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(35,97,179) 0%, rgb(8,70,153) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(35,97,179) 0%, rgb(8,70,153) 100%);
    border-bottom: none !important;
 
}


.samba .quote-summary-layout{
    margin-left: $margin-small;
    width: calc(100% - 5px);
    background-color: $samba-color-widget;
}

.samba .nav-special{
    background-image: -moz-linear-gradient( 90deg, rgb(35,97,179) 0%, rgb(8,70,153) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(35,97,179) 0%, rgb(8,70,153) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(35,97,179) 0%, rgb(8,70,153) 100%);
    margin-left: -6px;
    margin-right: -6px;
}

.samba .nav-special > li > a{
    color: $samba-btn-color-active !important;
    background-image: -moz-linear-gradient( 90deg, rgb(35,97,179) 0%, rgb(8,70,153) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(35,97,179) 0%, rgb(8,70,153) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(35,97,179) 0%, rgb(8,70,153) 100%);
    border-style: solid;
    border-width: 0px;
    border-color: #00948F;
    height: 20px;
    margin-bottom: 2px;
}

.samba .nav-special > li.active > a:hover{
    color: $samba-btn-color-active !important;
    background-image: -moz-linear-gradient( 90deg, rgb(217,166,83) 0%, rgb(177,104,61) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(217,166,83) 0%, rgb(177,104,61) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(217,166,83) 0%, rgb(177,104,61) 100%);
    border-style: solid;
    border-width: 1px;
    border-color: #c5631d;    
}

.samba .nav-special > li.active > a, .samba .nav-special > li.active > a:hover, .samba .nav-special > li.active > a:focus {
    color: $samba-btn-color-active !important;
    background-image: -moz-linear-gradient( 90deg, rgb(217,166,83) 0%, rgb(177,104,61) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(217,166,83) 0%, rgb(177,104,61) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(217,166,83) 0%, rgb(177,104,61) 100%);
    border-style: solid;
    border-width: 1px;
    border-color: #c5631d;
    height: 20px;
}

.samba .tittle-bar-search{
    border-style: solid;
    border-width: 1px;
    border-color: rgb( 189, 189, 189 );
    background-color: rgb( 252, 252, 252 );
    border-radius: 3px !important;
}

.samba .input-group-btn .tittle-bar-search-btn{
    margin-left:-30px; 
    z-index:2;
    background-color: rgb( 252, 252, 252 );
    border: 0px;
    height: 19px;
}

//for watchlist

.samba .sort-back-color {
    background-image: -moz-linear-gradient( 90deg, rgb(242,242,242) 0%, rgb(241,241,241) 49%, rgb(233,233,233) 100%) !important;
    background-image: -webkit-linear-gradient( 90deg, rgb(242,242,242) 0%, rgb(241,241,241) 49%, rgb(233,233,233) 100%) !important;
    background-image: -ms-linear-gradient( 90deg, rgb(242,242,242) 0%, rgb(241,241,241) 49%, rgb(233,233,233) 100%) !important;
    font-weight: bold; 
}

.samba .tittle-bar-price-connected{
    color: #ffffff; 
}

.samba .connection-status-green {
    color:$samba-color-green-connection;
}

.samba .connection-status-red {
    color:$samba-color-red-connection;
}

// IE fulscreen issue 

.samba body:-ms-fullscreen::-ms-backdrop {
    background-color: $samba-color-background;
}

.samba .navbar-nav-ticker-area .tickerDiv{
    background:$samba-ticker-color;
}

.samba button.chart-btn-icon.active{
    color: $samba-btn-border-color-hover;
    background-color: $samba-color-widget;
}

//heights 

.samba .quote-tab{
    height:calc(100% - 400px);
    min-height:100px;
}

.samba .detailquote-height{
    height:calc(100% - 35px);
}

.samba .quote-tab{
    height:calc(100% - 400px);
    min-height:100px;
}


