@import 'colour-theme-ncbc';

/* theme 2 start here */

.ncbc body{
    // font-weight: 600;
    font-family: arial;
}
/* from sidebar.ncbc .scss */
.ncbc .sidebar-wrapper {
    background:  $ncbc-color-background;
}
/* Sidebar Styles */

.ncbc .sidebar-nav li a {
    color: $ncbc-btn-color;
}

.ncbc li.sidebar-active a{
    color: $ncbc-btn-color-active !important;
}


.ncbc .sidebar-nav li a:hover {
    color: $ncbc-text-color-normal;
/*	background: rgba(255,255,255,0.ncbc .2);
	padding: 2px;
	border-radius: 3px;
	width: 60px; */
}

.ncbc .sidebar-nav > .ncbc .sidebar-brand a {
	color: #999999;
}

.ncbc .sidebar-nav > .ncbc .sidebar-brand a:hover {
	color: #fff;
}

.ncbc .sidebar-active {
    color: $ncbc-btn-color-active !important;
    background-image: -moz-linear-gradient( 90deg, rgb(6,135,75) 0%, rgb(0,115,62) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(6,135,75) 0%, rgb(0,115,62) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(6,135,75) 0%, rgb(0,115,62) 100%);
 
}

.ncbc .sidebar-nav {
    background-color: $ncbc-color-widget;
    border: 1px $ncbc-color-widget-border solid;
}
/* end of sidebar.ncbc .scss */


/* from navbar.ncbc .scss */
.ncbc .navbar-inverse {
    background-color: $ncbc-color-widget;
    border: 1px $ncbc-color-border solid;
}

.ncbc .logo-text {
	color: $ncbc-text-color-main;
}
//.ncbc .font-normal {
//    color: $ncbc-text-color-light;
//}

.ncbc .vertical-separator {
    border-right: 1px $ncbc-color-border solid;
}

.ncbc .progress-time {
    background-color: $ncbc-color-widget !important;
}
/* end of navbar.ncbc .scss */

/* from widget.ncbc .scss */
.ncbc .widget {
    background-color: $ncbc-color-widget;
    border: 1px $ncbc-color-widget-border solid;
    padding: 0px $padding-small 0px $padding-small;
}

.ncbc h2.widget-title-type-1{
    border-bottom: 1px $ncbc-color-border solid;
    color:$ncbc-text-color-widget-title;
}

.ncbc .widget-watchlist {
    background-color: $ncbc-color-widget;
}

.ncbc .search-query {
  //  border: 1px $ncbc-btn-border-color solid;
    border: 1px #c0f3e1 solid;
    background-color: $ncbc-color-background;
    height: 22px;
}

.ncbc .online {
    background-color: $ncbc-color-green;
}

/* news section */

.ncbc .news-row {
    border-bottom: 2px $ncbc-color-border solid;
}

/* provide some minimal visual accomodation for IE8 and below */

.ncbc .TFtable tr {
    background: $ncbc-color-widget;
}

/*  Define the background color for all the ODD background rows  */

.ncbc .TFtable tr:nth-child(odd) {
    background: $ncbc-color-widget;
}

/*  Define the background color for all the EVEN background rows  */

.ncbc .TFtable tr:nth-child(even) {
    background: $ncbc-color-background;
}

.ncbc .panel-table-row-odd {
    background: $ncbc-color-widget;
}

.ncbc .panel-table-row-even {
    background: $ncbc-color-background;
}
    
::-webkit-scrollbar-thumb {
    background-color:rgba(136, 134, 134, 0.3);
}

/* add widget tittle class */

.ncbc .progress-bid {
    background-color: $ncbc-color-widget !important;
}

.ncbc .progress-offer {
    background-color: $ncbc-color-widget !important;
	border-right: 0px #232836 solid;
}

.ncbc .quote-cell {
    background-color: $ncbc-color-background;
}

.ncbc .quote-cell-border {
    border-right:  2px $ncbc-color-widget solid
}

.ncbc .company-heading {
    border-right: 2px $ncbc-color-border solid;
}

.ncbc .company-address a {
    color:$ncbc-color-2;
}

.ncbc .footer {
    background-color:$ncbc-color-background;
}

.ncbc .footer-padding {
    border-right:1px $ncbc-color-border solid;
}

.ncbc .footer-padding-first {
    border-right:1px $ncbc-color-border solid;
}

.ncbc .icon-btn {
    background-color: $ncbc-color-widget;
    border-color: $ncbc-btn-border-color;
    color: $ncbc-tab-button-color;
}

.ncbc .search-wrapper {
    border: 1px solid $ncbc-color-search-border-wrapper;
    background-color: $ncbc-color-search-background;
}

//.ncbc .search-wrapper .search-col-1 {
//    border-right: 1px solid $ncbc-color-search-border;
//}

.ncbc .search-wrapper .search-col-2 {
}

.ncbc .search-title {
    border-bottom: 1px $ncbc-color-search-border solid;
    color: $ncbc-text-color-widget-title;
}

.ncbc .search-row {
    border-bottom: 1px $ncbc-color-search-border-wrapper solid;
}

.ncbc .search-row:hover, .ncbc .search-row-hover {
    background-color: $ncbc-color-search-hover ; 
 }

.ncbc .dropdown-menu-2 {
    font-size: 11px;
    background-color: $ncbc-color-widget;
    border: 1px solid $ncbc-btn-border-color;
}

.ncbc .spread-text{
    background-color:$ncbc-color-widget;
}

.ncbc .btn-dropdown-no-border{
    background-color: $ncbc-color-widget;
    color: $ncbc-btn-color;
}
    
.ncbc .btn-dropdown-no-border:hover {
    color: $ncbc-btn-border-color-hover;
}

.ncbc .chart-btn-icon:hover {
    color: $ncbc-btn-border-color-hover;
    background-color: $ncbc-color-widget;
}

/* for watchlist cells */
//.ncbc .blink-style-up {
//  color: $ncbc-text-color-normal;
//  background-color: $ncbc-color-green !important;
//}
//
//.ncbc .blink-style-down {
//  color:  $ncbc-text-color-normal;
//  background-color: $ncbc-color-red !important;
//}

.ncbc .dot-style-high {
    border-right: 4px solid $ncbc-color-green;
}

.ncbc .dot-style-low {
    border-right: 4px solid $ncbc-color-red;

}

//.ncbc .blink-classic-up {
//  color: $ncbc-text-color-normal;
//  background-color: $ncbc-color-green !important;
//}
//
//.ncbc .blink-classic-down {
//  color: $ncbc-text-color-normal;
//  background-color: $ncbc-color-red !important;
//}

.ncbc .blink-style-up {
    color: $ncbc-text-color-normal;
    background-color: #4dc45b !important; 
}

.ncbc .blink-style-down {
    color:$ncbc-text-color-normal;
    background-color: #fb8888 !important; 
}

.ncbc .blink-classic-up {
    color: $ncbc-text-color-normal;
    background-color: #4dc45b !important; 
}

.ncbc .blink-classic-down {
    color: $ncbc-text-color-normal;
    background-color: #fb8888 !important; 
}


/* end of watchlist cells */
/* end of widget.ncbc .scss */

/* from bootsrap-override.scss */

.ncbc .btn-default {
	color: $ncbc-btn-color;
//  background-color:  $color-widget;
	border-style: solid;
	border-width: 1px;
//  border-color: $btn-border-color;
	margin-bottom: 0px;
    height: 22px;
	padding: $padding-small;
	font-size: $font-medium;
    border-style: solid;
    border-width: 1px;
    border-color: rgb( 212, 212, 212 );
    border-radius: 3px;
    background-image: -moz-linear-gradient( 90deg, rgb(227,227,227) 0%, rgb(235,235,235) 0%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(227,227,227) 0%, rgb(235,235,235) 0%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(227,227,227) 0%, rgb(235,235,235) 0%, rgb(255,255,255) 100%);
}

.ncbc .btn-dropdown {
    padding-left: $padding-medium;
    padding-right: $padding-medium;
}

.ncbc .btn-default:hover, .ncbc .icon-btn:hover, .ncbc .btn-default:focus, .ncbc .btn-default.focus,.ncbc .btn-default:active, .ncbc .btn-default.active,.ncbc .open > .ncbc .dropdown-toggle.btn-default {
    color: #58a7e2;
    background-color: $color-widget;
    border-color:$theme2-text-color-table-header;
}

.ncbc .dropdown-menu > li > a:hover,.ncbc .dropdown-menu > li > a:focus {
    color: $ncbc-text-color-light;
    background-color: $ncbc-color-search-hover;
} 

.ncbc .btn-default:focus, .ncbc .btn-default.focus {
    background-color: $ncbc-btn-color-active;
 }

.ncbc .nav-tabs > li.active > a, .ncbc .nav-tabs > li.active > a:hover, .ncbc .nav-tabs > li.active > a:focus {
	color: $ncbc-text-color-normal !important;
    background-image: -moz-linear-gradient( 90deg, rgb(233,233,233) 0%, rgb(248,248,248) 13%, rgb(248,248,248) 41%, rgb(232,232,232) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(233,233,233) 0%, rgb(248,248,248) 13%, rgb(248,248,248) 41%, rgb(232,232,232) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(233,233,233) 0%, rgb(248,248,248) 13%, rgb(248,248,248) 41%, rgb(232,232,232) 100%);
    background-color: rgba(243, 243, 243, 0);
//  background-color: $ncbc-color-widget;
	border-bottom: 0px solid $ncbc-tab-border-bottom-color;
    border-bottom-color: $ncbc-tab-border-bottom-color;
    font-weight: bold;
    border-style: solid;
    border-width: 1px;
    border-color: rgb( 212, 212, 212 );
}

.ncbc .nav-tabs {
    border-bottom: 0px solid $ncbc-color-border;
}



.ncbc .nav-tabs > li > a {
    border-style: solid;
    border-width: 1px;
    border-color: rgb( 212, 212, 212 );
    background-image: -moz-linear-gradient( 90deg, rgb(236,236,236) 0%, rgb(254,254,254) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(236,236,236) 0%, rgb(254,254,254) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(236,236,236) 0%, rgb(254,254,254) 100%);
    color: $ncbc-tab-button-color;
    margin-right: 0px;
}
.ncbc .nav > li > a:hover, .ncbc .nav > li > a:focus {
	color: $ncbc-btn-border-color-hover;
}
.ncbc .progress {
    background-color: $ncbc-color-red;
}
.ncbc .progress-bar {
    background-color: $ncbc-color-green;
	border-right: 2px $ncbc-color-widget-border solid;
}
.ncbc .progress-border {
	height: 5px;
	border-bottom: 1px $ncbc-color-widget-border solid;
}
.ncbc .progress-bar-wk-green {
    border-right: 4px $ncbc-color-green solid;
}
.ncbc .progress-bar-wk-red {
    border-right: 4px $ncbc-color-red solid;
}

.ncbc .progress-up {
    background-color: $ncbc-color-green;
}
.ncbc .progress-down {
    background-color: $ncbc-color-red;
}
.ncbc .progress-unchanged {
    background-color: $ncbc-color-1;
}

.ncbc .popover.left > .ncbc .arrow:after {
    border-left-color:  $ncbc-text-color-main;

}

.ncbc .dropdown-menu {
//  background-color: #141C21;
//  border: 1px solid #424d5c;
    border-style: solid;
    border-width: 1px;
    border-color: rgb( 167, 163, 163 );
    background-color: rgb( 255, 255, 255 );
    box-shadow: 1px 1.732px 11px 0px rgb( 92, 92, 92 );
}
/* end of bootstrap override */ 


/*pop over */


.ncbc .popover {
    background-color: $ncbc-text-color-main;
    border: 1px solid $ncbc-color-border;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: $ncbc-color-background;
}
.ncbc .popover-title {
    background-color: $ncbc-color-background;
    border-bottom: 1px solid $ncbc-color-border;
    color: $ncbc-text-color-main;
}
.ncbc .popover.left > .ncbc .arrow:after {
    border-left-color:  $ncbc-text-color-main;
}
.ncbc .carousel-indicators li {
    border: 1px solid $ncbc-color-border;
}
.ncbc .carousel-indicators.active {
    background-color: $ncbc-color-border;
}
/* end of bootsrap-override.scss */


/* from ember-override.ncbc .scss */
.ncbc .ember-table-body-container .ember-table-table-row.ember-table-hover {
	border-style: solid;
    border-width: 1px;
    border-color: rgb( 132, 164, 190 );
    background-image: -moz-linear-gradient( 90deg, rgb(214,226,233) 0%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(214,226,233) 0%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(214,226,233) 0%, rgb(255,255,255) 100%);
}
.ncbc .ember-table-body-container .ember-table-table-row.ember-table-selected {
	background-color: #e8edf5 !important;
	border: 0px #c0f3e1 solid;
    color: $ncbc-text-color-main;
}
.ncbc .ember-table-header-row,.ncbc .ember-table-header-container .ember-table-table-fixed-wrapper {
	background-color: $ncbc-color-widget;
}
.ncbc .ember-table-footer-container {
	background-color: #262932 !important;
}
.ncbc .ember-table-style-row {
	background-color: #1d6bac;
}
/* end of ember-override.ncbc .scss */

/* from global */
.ncbc a { 
	color: $tab-button-color;
}

.ncbc a:hover, .ncbc a:active, .ncbc a:focus {
    color: $btn-border-color-hover;

}
/* end of global */

/* from common */
.ncbc body {
    background-color: $ncbc-color-background;
    color: $ncbc-text-color-main;
}
.ncbc .colour-normal {
    color: $ncbc-text-color-normal !important;
    fill: $ncbc-text-color-normal !important;
}
.ncbc .green {
    color:  $ncbc-color-green;
}
.ncbc .green-dark {
    color: $ncbc-color-green-dark;
}
.ncbc .red {
    color: $ncbc-color-red;
}
//.ncbc .orange {
//    color: $ncbc-color-announcement;
//}
//.ncbc .purple {
//    color: $ncbc-color-news;
//}
.ncbc .colour-symbol {
    color: $ncbc-text-color-symbol !important;
}
.ncbc .colour-symbol-dis {
    color: $ncbc-text-color-symbol-dis !important;
}
.ncbc .colour-tittle {
    color: $ncbc-text-color-widget-title;
}
.ncbc .red-dark {
    color: $ncbc-color-red-dark;
}

.ncbc .colour-1 {
    color: $ncbc-color-1;
}

.ncbc .colour-2 {
    color: $ncbc-color-2;
}

.ncbc .colour-3 {
    color: $ncbc-color-3;
}

.ncbc .colour-4 {
    color: $ncbc-color-4;
}

.ncbc .widget-tittle-color {
    color: $ncbc-text-color-widget-title;
}
.ncbc .header-colour {
    color: $ncbc-text-color-table-header;
}
.ncbc .border-right {
    border-right: 1px $ncbc-color-border solid;
}

.ar .ncbc .border-right {
    border-left: 1px $ncbc-color-border solid;
    border-right: 0px $ncbc-color-border solid;
}
.ncbc .border-bottom {
    border-bottom: 1px $ncbc-color-border solid;
}

//.ncbc .font-sub-light {
//    color: $ncbc-text-color-light;
//}
//.ncbc .font-main-light {
//    color: $ncbc-text-color-light;
//}
//
//.ncbc .font-small-light {
//    color: $ncbc-text-color-light;
//}

.ncbc .text-color-light{
    color: ncbc-text-color-light;
}


.ncbc .font-table-header {
    color: $ncbc-text-color-table-header;
}

.ncbc .back-green-dark{
    background-color:$ncbc-color-green-dark !important;
}

.ncbc .back-red-dark{
    background-color:$ncbc-color-red-dark !important;
}

.ncbc .text-box {
    border: 1px $ncbc-btn-border-color solid;
    background-color: $ncbc-color-background; 
}

.ncbc .watchlist-cell-back-red{
    background-color: rgba(231, 67, 67, 0.14);
}

.ncbc .watchlist-cell-back-green{
    background-color: rgba(46, 204, 113, 0.14);
}

.ncbc .watchlist-cell-back-lastqty{
    background-color: rgba(85, 159, 214, 0.14);
}

.ncbc .watchlist-row-back-red {
    background-color: rgba(250, 212, 223, 1); 
}

.ncbc .watchlist-row-back-green {
    background-color: rgba(199, 238, 189, 1); 
}

.ncbc .watchlist-row-strike {
    text-decoration: line-through; 
}

.ncbc h2.widget-title-type-1::first-child{
    border-bottom: 0px solid #171d23;
    border-style: solid;
    border-width: 1px;
//  border-left: 1px rgb( 28, 84, 133 ) solid;
//  border-color: rgb( 28, 84, 133 );
    background-image: -moz-linear-gradient( 90deg, rgb(6,135,75) 0%, rgb(0,115,62) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(6,135,75) 0%, rgb(0,115,62) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(6,135,75) 0%, rgb(0,115,62) 100%);
    margin-left: -6px;
    margin-right: -6px;
    font-size:$font-medium;
    font-weight:$font-bold;
    padding:4px 0 4px 5px;
}

.ncbc h2.widget-title-type-1{
    border-bottom: 0px solid #171d23;
//  border-style: solid;
//  border-width: 1px;
//  border-color: rgb( 28, 84, 133 );
//  border-top: 1px  rgb( 28, 84, 133 ) solid;
//  border-bottom: 1px  rgb( 28, 84, 133 ) solid;
    background-image: -moz-linear-gradient( 90deg, rgb(6,135,75) 0%, rgb(0,115,62) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(6,135,75) 0%, rgb(0,115,62) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(6,135,75) 0%, rgb(0,115,62) 100%);
    margin-left: -6px;
    margin-right: -6px;
    font-size:$font-medium;
    font-weight:$font-bold;
    padding:4px $padding-small 4px $padding-small;
}

.ncbc h2.widget-title-type-1::last-child{
    border-bottom: 0px solid #171d23;
//  border-style: solid;
//  border-width: 1px;
//  border-right: 1px   rgb( 28, 84, 133 ) solid;
    background-image: -moz-linear-gradient( 90deg, rgb(6,135,75) 0%, rgb(0,115,62) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(6,135,75) 0%, rgb(0,115,62) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(6,135,75) 0%, rgb(0,115,62) 100%);
    margin-left: -6px;
    margin-right: -6px;
    font-size:$font-medium;
    font-weight:$font-bold;
    padding:4px $padding-small 4px $padding-small;
}

.ncbc h2.widget-title-with-icon{
    padding:3px $padding-small 3px $padding-small !important;
}

.ncbc .nav-tabs-dq-charts {
    background-image: -moz-linear-gradient( 90deg, rgb(6,135,75) 0%, rgb(0,115,62) 100%) !important;
    background-image: -webkit-linear-gradient( 90deg, rgb(6,135,75) 0%, rgb(0,115,62) 100%) !important;
    background-image: -ms-linear-gradient( 90deg, rgb(6,135,75) 0%, rgb(0,115,62) 100%) !important;
    border: 0px !important;
    margin-top: 1px;
}



.ncbc .widget-watchlist{
    padding: 0px 0px $padding-small 0px;
    background-color: $ncbc-color-background;
//    background-image: -moz-linear-gradient( 90deg, rgb(200,212,220) 0%, rgb(222,230,230) 0%, rgb(251,252,252) 100%, rgb(215,225,230) 100%);
//    background-image: -webkit-linear-gradient( 90deg, rgb(200,212,220) 0%, rgb(222,230,230) 0%, rgb(251,252,252) 100%, rgb(215,225,230) 100%);
//    background-image: -ms-linear-gradient( 90deg, rgb(200,212,220) 0%, rgb(222,230,230) 0%, rgb(251,252,252) 100%, rgb(215,225,230) 100%);
    background-attachment:fixed;


}

.ncbc .watchlist-ul{
    width: 100%;
    position: relative;
    padding: 0 $padding-small 0 $padding-small;
}

.ncbc .netplus-watchlist-table-header{
//    border-top: 1px rgb( 28, 84, 133 ) solid;
    border-bottom: 1px rgb( 218, 227, 232 ) solid;
    background-image: -moz-linear-gradient( 90deg, rgb(251,252,252) 0%, rgb(215,225,230) 100%, rgb(211,223,231) 100%, rgb(191,205,205) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(251,252,252) 0%, rgb(215,225,230) 100%, rgb(211,223,231) 100%, rgb(191,205,205) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(251,252,252) 0%, rgb(215,225,230) 100%, rgb(211,223,231) 100%, rgb(191,205,205) 100%);
}



.ncbc .netplus-watchlist-header{
//  border-style: solid;
//  border-width: 1px;
//  border-color: rgb( 28, 84, 133 );
//  border: 1px  rgb( 28, 84, 133 ) solid;
//  border-bottom: 1px  rgb( 28, 84, 133 ) solid;
    background-image: -moz-linear-gradient( 90deg, rgb(6,135,75) 0%, rgb(0,115,62) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(6,135,75) 0%, rgb(0,115,62) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(6,135,75) 0%, rgb(0,115,62) 100%);
    padding: 0px $padding-small 0px $padding-small;
    margin-bottom: $margin-small;
    height: 22px;
}

.ncbc .toppanel-back{
    background-image: -moz-linear-gradient( 90deg, rgb(246,163,28) 0%, rgb(235,166,52) 51%, rgb(246,163,28) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(246,163,28) 0%, rgb(235,166,52) 51%, rgb(246,163,28) 100%);
     background-image: -ms-linear-gradient( 90deg, rgb(246,163,28) 0%, rgb(235,166,52) 51%, rgb(246,163,28) 100%);
    border-radius: 2px;
    padding: 1px $padding-small 1px $padding-small;
    color: $ncbc-text-color-widget-title;
    text-align: $text-align-2;
    font-size: $font-medium;
}

.ncbc .topbar {
    float: $text-align-1;
    border-style: solid;
    border-width: 1px;
    border-color: rgb( 206, 204, 204 );
    background-image: -moz-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(255,255,255) 100%);
    box-shadow: 1px 1.732px 4px 0px rgba(41, 41, 41, 0.2)
}

.ncbc .dropdown-chart-grid{
    font-size: 16px;
    padding: 0px
}

.ncbc .tittle-colour{
    color: $ncbc-text-color-widget-title !important;
}

.ncbc .netplus-margin-small-top{
    margin-top: $margin-small;
}

.ncbc .netplus-bold{
    font-weight:$font-bold;
}

.ncbc .ember-table-tables-container {
    background-color: #e8edf5 !important;
    border: 0px solid rgba(255, 255, 255, 0); 
}

.ncbc .ember-table-footer-container {
    background-color: #FFFCFC !important; 
}


.ncbc .indicator-li{
    margin-right: 2px;
    line-height: 11px;
}

.ncbc .indicator-li {
    margin-right: 2px;
    line-height: 11px; 
}

.ncbc .prochart-line-studies-back{
    border-radius: 3px;
    background-image: -moz-linear-gradient( 90deg, rgb(237,241,242) 0%, rgb(251,251,251) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(237,241,242) 0%, rgb(251,251,251) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(237,241,242) 0%, rgb(251,251,251) 100%);
    color: #9E9E9E;
}

.ncbc .widget-prochart{
    background-color: $ncbc-color-background;
}

.ncbc .chart-navtabs{
    border: 0px solid $ncbc-color-border;
    border-radius: 23px;
}

.ncbc .chart-navtabs li{
    margin-right: 0px;
}

.ncbc .dropdown-watchlist-more-search{
    background-color: #139b5b;
}

.ncbc .watchlist-right-click{
    border: 1px #a7a3a3 solid;
    background-color: rgb( 255, 255, 255 );
    box-shadow: 1px 1.732px 11px 0px rgb( 92, 92, 92 ); 
    width: 225px;
}

.ncbc .watchlist-right-click-symbol{
    height: 40px;
    background-color: #139b5b;
    padding: $padding-large $padding-large $padding-small $padding-large;
   // color: 
}

.ncbc .watchlist-right-click-item:hover{
    background-color:  #f1f1f1 ;
    border-left: 4px #139b5b  solid;
    padding: $padding-small $padding-large $padding-small 11px;
}

.ncbc .horizontal-list-right li {
    margin-left: 5px;
}

.ncbc .news-popup{
    max-height:300px;
    min-width:365px; 
    max-width: 550px;
    border-style: solid;
    border-width: 1px;
    border-color: #a7a3a3 ;
    background-color: #ffffff;
    opacity: 0.949;
    box-shadow: 1px 1.732px 5px 0px rgb( 0, 0, 0 );
}

.ncbc .news-popup-header{
    min-height:60px; 
    background-color:#139b5b ;
}

.ncbc .symbol-popup-view-header{
    cursor: move; 
    height:30px; 
    background-color: #139b5b ; 
    margin-left:-5px; 
    margin-right:-5px; 
    padding: 8px;
}

.ncbc .app-border{
    border: 2px $ncbc-color-background solid;
}

.ncbc .footer-app-border{
    border-right: 3px $ncbc-color-background solid;
    border-bottom: 2px $ncbc-color-background solid;
}

.ncbc .tittle-bar{
    background-image: -moz-linear-gradient( 90deg, rgb(6,135,75) 0%, rgb(0,115,62) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(6,135,75) 0%, rgb(0,115,62) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(6,135,75) 0%, rgb(0,115,62) 100%);
    border-bottom: none !important;
}


.ncbc .quote-summary-layout{
    margin-left: $margin-small;
    width: calc(100% - 5px);
    background-color: $ncbc-color-widget;
}

.ncbc .nav-special{
    background-image: -moz-linear-gradient( 90deg, rgb(6,135,75) 0%, rgb(0,115,62) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(6,135,75) 0%, rgb(0,115,62) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(6,135,75) 0%, rgb(0,115,62) 100%);
    margin-left: -6px;
    margin-right: -6px;
}

.ncbc .nav-special > li > a{
    color: $ncbc-btn-color-active !important;
    background-image: -moz-linear-gradient( 90deg, rgb(6,135,75) 0%, rgb(0,115,62) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(6,135,75) 0%, rgb(0,115,62) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(6,135,75) 0%, rgb(0,115,62) 100%);
    border-style: solid;
    border-width: 0px;
    border-color: #00948F;
    height: 20px;
    margin-bottom: 2px;
}

.ncbc .nav-special > li.active > a:hover{
    color: $ncbc-btn-color-active !important;
    background-image: -moz-linear-gradient( 90deg, rgb(249,165,26) 0%, rgb(230,155,32) 50%, rgb(203,131,13) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(249,165,26) 0%, rgb(230,155,32) 50%, rgb(203,131,13) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(249,165,26) 0%, rgb(230,155,32) 50%, rgb(203,131,13) 100%);
    border-style: solid;
    border-width: 1px;
    border-color: #c5631d;
    
}

.ncbc .tittle-bar-price-connected{
    color: $ncbc-text-color-light; 
}

.ncbc .nav-special > li.active > a, .ncbc .nav-special > li.active > a:hover, .ncbc .nav-special > li.active > a:focus {
    color: $ncbc-btn-color-active !important;
    background-image: -moz-linear-gradient( 90deg, rgb(249,165,26) 0%, rgb(230,155,32) 50%, rgb(203,131,13) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(249,165,26) 0%, rgb(230,155,32) 50%, rgb(203,131,13) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(249,165,26) 0%, rgb(230,155,32) 50%, rgb(203,131,13) 100%);
    border-style: solid;
    border-width: 1px;
    border-color: #c5631d;
    height: 20px;

}

//.nrtplus .sidebar-nav li:hover{
//    border-style: solid;
//    border-width: 1px;
//    border-color: rgb( 220, 220, 220 );
//    background-image: -moz-linear-gradient( 90deg, rgb(211,223,231) 0%, rgb(255,255,255) 100%);
//    background-image: -webkit-linear-gradient( 90deg, rgb(211,223,231) 0%, rgb(255,255,255) 100%);
//    background-image: -ms-linear-gradient( 90deg, rgb(211,223,231) 0%, rgb(255,255,255) 100%);
//    box-shadow: 1px 1.732px 5px 0px rgb( 0, 0, 0 );
//
//}

.ncbc .tittle-bar-search{
    border-style: solid;
    border-width: 1px;
    border-color: rgb( 189, 189, 189 );
    background-color: rgb( 252, 252, 252 );
    border-radius: 3px !important;
}

.ncbc .input-group-btn .tittle-bar-search-btn{
    margin-left:-30px; 
    z-index:2;
    background-color: rgb( 252, 252, 252 );
    border: 0px;
    height: 19px;
}


//for watchlist

.ncbc .sort-back-color {
    background-image: -moz-linear-gradient( 90deg, rgb(242,242,242) 0%, rgb(241,241,241) 49%, rgb(233,233,233) 100%) !important;
    background-image: -webkit-linear-gradient( 90deg, rgb(242,242,242) 0%, rgb(241,241,241) 49%, rgb(233,233,233) 100%) !important;
    background-image: -ms-linear-gradient( 90deg, rgb(242,242,242) 0%, rgb(241,241,241) 49%, rgb(233,233,233) 100%) !important;
    font-weight: bold;
  
}


.ncbc .tittle-bar-price-connected{
    color: #ffffff; 
}

.ncbc .connection-status-green {
    color:$ncbc-color-green-connection;
}

.ncbc .connection-status-red {
    color:$ncbc-color-red-connection;
}
.ncbc .tittle-bar-price-connected{
    color: #ffffff; 
}

// IE fulscreen issue 
.ncbc body:-ms-fullscreen::-ms-backdrop {
         background-color: $ncbc-color-background;
}

.ncbc .navbar-nav-ticker-area .tickerDiv{
  background:$ncbc-ticker-color;
}

.ncbc button.chart-btn-icon.active{
    color: $ncbc-btn-border-color-hover;
    background-color: $ncbc-color-widget;
}

