
@import 'common-variables';

.navbar-nav {
	float: $float-1;
	margin: 0;
}

.ar .navbar-nav {
	float: $float-2;
}

.navbar-nav-exchange {
	width: 130px;
 	text-align: $text-align-2;
 	float: $float-1;
}

.ar .navbar-nav-exchange {
	width: 130px;
	text-align: $text-align-2;
 	float: $float-2;
}

.navbar-nav-chart {
	width: 160px;
	padding-right: $padding-small;
	float: $float-1;
}

.ar .navbar-nav-chart {
	width: 160px; 
	padding-right: $padding-small;
	float: $float-2;
}

.navbar-nav-index-value {
	width: 116px;
 	float: $float-1;
}

.ar .navbar-nav-index-value {
	width: 94px;
 	float: $float-2;
}

.navbar-nav-ticker-area {
	width: 46%;
 	float: $float-1;
}

.ar .navbar-nav-ticker-area {
	width: 46%;
 	float: $float-2;
}

.navbar-nav-market-info-1 {
	width: 59%;
 	text-align: $text-align-1;
}

.navbar-nav-market-info-2 {
	width: 39%;
 	text-align: $text-align-1;
}

.navbar-nav-ticker-area .tickerDiv {
	width: 98%;
	margin: 0 auto;
	float: $float-3;
//  background:$theme2-ticker-color;
}

.navbar-nav-ticker {
	padding-top: $padding-medium;
	padding-bottom: $padding-medium;
	float: $float-1;
}

.ar .navbar-nav-ticker {
	padding-top: $padding-medium;
	padding-bottom: $padding-medium;
	float: $float-2;
}

.navbar-nav-ticker-cell {
	width: 25%;
 	float: $float-1;
}

.ar .navbar-nav-ticker-cell {
	width: 25%;
 	float: $float-2;
}

.navbar-inverse {
 	float: $float-1;
	-webkit-box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.23);
	-moz-box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.23);
	box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.23);
}

.ar .navbar-inverse {
 	float: $float-2;
}

.logo {
	padding:  0px $padding-small $padding-small $padding-small;
	max-width: 90px;
 	float: $float-2;
}

.logo-co {
    @if $isCoBranded == 'yes' {
        max-width: 90px;
        float: $float-2;
        display: inherit;  
   } @else {
       display: none;
    }  
}

.logo i {
 	padding-left: $padding-small;
	cursor: pointer;
}

.version-text {
	font-size: $font-small;
	text-align: $text-align-3;
	float: $float-2;
}

 //to be deleted 
.padding-15 {
	padding-top: $padding-large;
	padding-left: $padding-small;
	text-align: $text-align-2;
}

.vertical-separator {
	height: 59px;
 	float: $float-3;
	margin-top: 8px;
	margin-bottom: 8px;
    position: absolute;
    top: 0;
}

.progress-time {
	height: 2px;
 	margin: $margin-small $margin-medium 0 $margin-medium;
}

.nav-horizontal-list td {
	height: 15px;
	vertical-align: middle;
}

.topbar {
    position: relative;
    width: 100%;
    min-width: 1340px;
    margin-bottom: 0px;
    height: $height-top-panel;
}

.tittle-bar{
    height: $height-tittle-bar;
    padding: 3px $margin-medium $margin-small $margin-medium;
    background-color: #111317;
    box-shadow: 1.5px 2.598px 5px 0px rgb( 143, 143, 143 );
    border-bottom: 1px solid #2A3036;
}

.popup-container-view{
    position: absolute; 
    z-index:500; 
    height: 1px;
    max-height: 1px;
}

.theme1 .tittle-bar-search{
    background-color: #1D2228;
    border-radius: 5px !important;
    border: none;
    margin-top: -1px;
}

.theme1 .input-group-btn .tittle-bar-search-btn{
    margin-left:-25px;
    margin-top:-3px;
    z-index:2;
    background-color: #1D2228;
    border: 0px;
    height: 19px;
}

.ar  .tittle-bar-search-btn{
    margin-right: -23px;
    z-index: 2;
}

.index-chart-position {
    position: absolute !important;
    top: 3px;
}

.settings-dropdown{
    margin-left: -100px;
    margin-right: auto;
}

.ar .settings-dropdown{
    margin-left: auto;
    margin-right: -100px;
}

.toppanel-height{
    height: $height-top-panel;
}



