@import 'color-theme1';
@import 'color-theme2';

//$font-mini: 10px;
//$font-small: 11px;
//$font-sub: 12px;
//$font-main: 14px;
//$font-large:16px;
//$font-x-large: 18px;

$font-small: 10px;
$font-medium: 11px;
$font-large: 12px;
$font-x-large:14px;
$font-xx-large: 16px;
$font-xxx-large:18px;

$padding-large:15px;
$padding-medium:10px;
$padding-small:5px;

$margin-large:15px;
$margin-medium:10px;
$margin-small:5px;

$font-family: 'Open Sans', sans-serif;

$font-bold: bold;

$float-1:left;
$float-2:right;
$float-3:none;

$text-align-1: left;
$text-align-2: center;
$text-align-3:  right;

$font-italic:italic;

$height-tittle-bar:30px;
$height-top-panel:74px;
//$height-mid-col:125px;
$height-market-overview-mid:160px;
$height-footer: 30px;