@import 'common-variables';
@import 'widget-variables';


.widget {
	border-radius: 2px;
	margin: $margin-small 0 0 $margin-small;
	padding: $padding-small $padding-small 0px $padding-small;
}

.ar .widget {
	border-radius: 2px;
	margin: $margin-small $margin-small 0 0;
	padding: $padding-small $padding-small 0px $padding-small;
}

// pathums code

.widget_new {
	border-radius: 2px;
//  background-color: $color-widget;
	margin: $margin-small 0 0 $margin-small;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: none;
}

.ar .widget_new {
	margin: $margin-small $margin-small 0 0;
}

.widget-header{
//  border-bottom: 1px $color-border solid;
//  color:$text-color-widget-title;
    font-size:$font-medium;
    font-weight:$font-bold;
    padding:5px 13px 5px 13px;
    background-image:none;
}

.widget-header-icons{
    padding:7px 13px 7px 13px;      
}

.header-icons{
    float: right;
}

.ar .header-icons{
    float: left;
}

.widget-container{
    padding:8px 8px 8px 8px;
}


.vertical_Seperator_topstocks{
//  border-right: 1px $color-border solid;
	height: 150px;
 	float: $float-3;
	margin-top: 8px;
	margin-bottom: 0px;
    margin-left: 0px;
    z-index: 1000;
    position: absolute;
    top: 0;
}

.ar .vertical_Seperator_topstocks{
    margin-right: 0px;
}

.horizontal_line{
    height: 1px;
    width: 96%;
    overflow:hidden;
//  background-color:$color-border;
    margin:0px auto;
}

//---------------------------------------------------------

.index-Arrow{
    font-size: 14px;
}

.index-Value{
    font-size: 14px;
    font-weight: bold;
}

.index-change{
    font-size: 12px;
    margin-left: 3px;
}

.index-percentage{
    font-size: 12px;
}


//---------------------------------------------------------
// Nav Tabs- 2

.nav-tabs-2 > li.active > a, .nav-tabs-2 > li.active > a:hover, .nav-tabs-2 > li.active > a:focus {
color: #639DC4 !important;
  // background-image: -moz-linear-gradient( 90deg, rgb(233,233,233) 0%, rgb(248,248,248) 13%, rgb(248,248,248) 41%, rgb(232,232,232) 100%);
 // background-image: -webkit-linear-gradient( 90deg, rgb(233,233,233) 0%, rgb(248,248,248) 13%, rgb(248,248,248) 41%, rgb(232,232,232) 100%);
 // background-image: -ms-linear-gradient( 90deg, rgb(233,233,233) 0%, rgb(248,248,248) 13%, rgb(248,248,248) 41%, rgb(232,232,232) 100%);
    background-color: #000000;
	border-bottom:none !important;
    font-weight: bold;
    border-style: solid;
    border-width: 1px;
    border-color:#2A3036;
}

.nav-tabs-2 {
       border-bottom: 1px solid #2A3036 !important;
}

.nav-tabs-2 > li > a {
 // border-style: solid;
 // border-width: 1px;
 // border-color: #d4d4d4;
//  background-image: -moz-linear-gradient( 90deg, rgb(236,236,236) 0%, rgb(254,254,254) 100%);
//  background-image: -webkit-linear-gradient( 90deg, rgb(236,236,236) 0%, rgb(254,254,254) 100%);
//  background-image: -ms-linear-gradient( 90deg, rgb(236,236,236) 0%, rgb(254,254,254) 100%);
//  color: $riyad-tab-button-color;
  margin-right: 0px;
  border-bottom: none !important;
    color: #67696A;
}

.nav-tabs-2 > li{
   margin-left: 10px;
   float: left;
    margin-bottom: -1px;
}

//Quote Page

// Review This classes again 

.time-and-sales{
   height:280px;
}

.time-and-sales-table{
   width:auto;
   height: 260px;
}

.widget-header .nav-tabs{
    margin-top: -5px;
}


// end of pathums code

h2.widget-title-type-1{
    font-size:$font-medium;
    font-weight:$font-bold;
    margin:0 0 $padding-small 0;
    padding:0 0 $padding-small 0;
}

h2.widget-title-with-icon{
    padding:0 0 4px 0 ;
}

.widget-sector-overview .row {
    margin: 0;
}

.table-type-1 td {
    height: 25px;
    vertical-align: middle;
}

.table-type-2 td {
    height: 30px;
    vertical-align: middle; //!important;
}

.widget-commodities i {
    font-size: $font-medium;
}

.widget-sector-overview .sec-arrow {
    text-align: $text-align-2;
    width: 20px;
}

.widget-sector-overview  .sec-value {
    width: 80px;
}

.widget-watchlist {
	border-radius: 2px;
	padding:$padding-small;
}

.search-query {
	padding-left: $padding-medium;
	border-radius:0px;
	height: 24px;
	font-size: $font-medium;
}

.online {
	height: 11px;
	width: 11px;
	border-radius: 2px;
	float: $float-1;
	margin-right: $margin-small;
}

.table-mid {
	margin-bottom: $margin-large;
}

// news section 

.news-row {
	min-height: 58px;
	margin-left: $margin-small;
	margin-right: $margin-small;
	width: 100%;
	float: $float-2;
}
.panel-table > tbody > tr > td {
	padding: 12px;
	height: 40px;
	line-height: 11px
}

.panel-table {
	text-align: $float-2;
	padding: 8px;
	height: 100%;
	line-height: 11px;
}

.ar .panel-table {
    text-align: left;
    padding: 8px;
    height: 100%;
    line-height: 11px; }


.ember-table-panel {
	text-align: $float-2;
	padding: 0px 1px $padding-small 1px;
	line-height: 11px;
}

.ar .ember-table-panel {
    text-align: left;
    direction: ltr;    // prevent table from global ltr 
    padding: 0px 1px 5px 1px;
    line-height: 11px; 
}

.table-widget-container {
    height: 350px 
}

.cursor-pointer {
	cursor: pointer;
}

.padding-top-large {
	padding-top: $padding-large;
}

::-webkit-scrollbar {
    width: 8px;
}

::-moz-scrollbar {
    width: 8px;
}
 
::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-moz-scrollbar-track {
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

::-moz-scrollbar-thumb {
    border-radius: 10px;
}

// add widget tittle class 

.progress-bid {
	height: 2px;
	margin-bottom: 0px;
}

.quote-cell {
	padding: $padding-small $padding-medium $padding-small $padding-medium;
}

.intraday-cell {
	height: 40px;
}

.intraday-cell-text-normal {
	height: 13px;
}

.intraday-dq{
    height: 40px;
    float: $float-1;
    width: 100px;
}

.intraday-dq-widget{
    height: 20px;
    float: $float-1;
    width: 50%;
    padding-left: $padding-small;
    padding-right:$padding-small;
}

.company-text {
	line-height: 1.5;
	margin-top: $margin-large;
	margin-bottom: 20px;
	text-align: justify;
}

.company-heading {
	padding-right: 30px !important;
	margin-top: 20px;
}

.company-heading-last {
	padding-left: 30px !important;
	margin-top: 20px;
}

.company-address {
	line-height: 1.636;
	padding-top: $padding-large !important;
}

.company-logo img{
    max-height: 75px;
    max-width: 164px
}


.nav-tabs .checkbox-label {
    margin-top: $padding-small;
}

.nav-tabs .checkbox-label input[type="checkbox"] {
    margin-right: 4px;
}

.company-ellipsis {
	max-width: 90%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.btn-default .btn-icon {
    float: $float-1;
    margin: -3px $margin-small 0 0;
}

// for watchlist cells 

.blink-style-up {
    height: 42%;
}

.blink-style-down {
    height: 42%;
}

.blink-font-style-change {
    font-weight: bold;
}

.dot-style-high {
    height:5px;
}

.dot-style-low {
    height:5px;
}

.blink-classic-up {
    height: 100%;
}

.blink-classic-down {
    height: 100%;
}

.text-left-header {
    text-align: left  !important;
}

.ar .text-left-header {
    text-align: right !important; 
}

// end of watchlist cells

.right-panel-main{
    padding-right: $padding-large;
    padding-left: $padding-medium;
}

.right-panel-tabpanel{
    margin-left: $margin-small;
}

.right-panel-content{
    overflow-y: auto; 
    height: 100%; 
    overflow-y: auto; 
    max-height: 800px;
}

.right-panel-inner-ann{
    padding-left: 13%;
    width: 105px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.right-panel-symbol-ellipsis{
    width: 39%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.right-panel-inner-ann-head{
    width: 87%;
}

.right-panel-inner-ann-icon{
    width: 13%;
}

.right-panel-tabpanel p {
    line-height: 1.2;
}

.icon-btn {
    border-radius: 23px;
    padding: 2px 8px 2px 8px;
    height: auto; 
    border-width: 1px;
    border-style: solid;
    font-size: 11px;
}

.search-wrapper {
    padding: $padding-small 3px;
    border-radius: 2px;
}

.search-col-1 ul {
    display: table;
}

.search-col-1 ul li {
    display: table-cell;
    vertical-align: text-bottom;
}

.search-row {
    padding: 4px 3px;
}

.search-row:hover {
    cursor: pointer;
}

.search-wrapper ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.search-symbol {
    margin-right: 20px;
    width: 40px;
    margin-top: 4px;
}

.search-desc-1 {
    margin-top: 4px;
    margin-right: 20px;
    width: 128px;
}

.search-desc-2 {
    margin-top: $margin-small;
    max-width: 300px;
}

.search-mkt {
    margin-top: 4px;
    margin-right: 5px;
    width: 35px;
}

.mkt-close-indicator {
    background-color: #ffbe40 !important;
}

.modal-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1999;
}

.modal-popup-frame {
    position: absolute;
    z-index: 2000;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    transition: all 5s ease-in-out;
    bottom: -170px;
}

.modal-symbol .modal-popup-symbol-search {
    position: absolute;
    z-index: 2000;
    bottom: inherit !important;
    padding: 0px !important;
}

h2 .nav-tabs {
    border-bottom: 0px;
    margin: -5px 0 0 0;
}

.dropdown-menu-2{
    font-size: 11px;
    background-color: #141C21;
    border: 1px solid #424d5c;
    border-radius: 23px;
    padding: 0 5px 0;
    outline: none;
}

.btn-dropdown-no-border{
    border-width: 0px;
    outline: none;
}
        
.chart-btn-icon{
    font-size: 17px;
    border: 1px solid transparent;
    height: 23px;
    background-color: transparent;
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'charticons';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.chart-tab-icon{
    font-size: 25px;
    height: 37px;
    background-color: transparent;
    padding-top: 5px;
    margin-left: 2px;
}

.chart-btn-icon:hover {
    border-radius: 5px;
}

.theme2 .chart-btn-icon:hover {
    border-radius: 5px;
}
    
.h-sep-line li:before{
    content: " | ";
    margin-right: 5px;
    margin-left: -1px
}
    
.h-sep-line li:first-child:before {
    content: none;
}

i.comm-icon {
    font-size: 16px;
}

.ar .watchlist-right-click-rtl{
    float: right;
    margin-top: -3px;
    margin-left: $margin-small;
}

// charts
.chart-data-view li:last-child {
    padding-right: 0px;
    margin-right: 0px;
}

.chart-data-view li {
    min-width: 10px;
    text-align: left;
}
.chart-icon-btn .btn {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 17px;
}

.chart-icon-btn .caret{
    margin-top: 8px;
    float: right;
}

.fav-panel-width{
    width: 170px;
}

.default-panel-width{
    width: 115px;
}

.quote-small-width{
    width:10%; 
}

.quote-medium-width{
    width:20%; 
}

.quote-large-width{
    width:32%; 
    display:inline-block;
}

.quote-x-large-width{
    width:40%; 
    display:inline-block;
}

.watchlist-row-strike:before {
    content: " ";                              /* …has no text content            */
    position: absolute;                        /* …is absolutely positioned       */
    left: 0; top: 50%; width: 100%;            /* …with the top across the middle */
    border-bottom: 1px solid #000;             /* …and with a border on the top   */
}

.theme2 .watchlist-row-strike:before {
    content: " ";                              /* …has no text content            */
    position: absolute;                        /* …is absolutely positioned       */
    left: 0; top: 50%; width: 100%;            /* …with the top across the middle */
    border-bottom: 1px solid #000;             /* …and with a border on the top   */
}

.watchlist-ul{
    width: 100%;
    position: relative;
    padding: 0 $padding-small 0 $padding-small;
}

.dropdown-watchlist-more {
    width: 490px;
    height: 180px;  
    margin-top: -5px;
}

.dropdown-watchlist-more-search{
    height: 34px;
    padding: $padding-small;
}

.dropdown-watchlist-more-items{
    float: $float-1;
    width: 150px;
    height: 20px;
}

.widget-prochart{
    margin: $margin-small $margin-small 0  $margin-small;
    padding: $padding-small;
}

.watchlist-right-click{
    width: 225px;
}

.watchlist-right-click-symbol{
    height: 40px;
    background-color: #191a1e;
    padding: $padding-large $padding-large $padding-small $padding-large;
}

.watchlist-right-click-item{
    height: 27px;
    padding: $padding-small $padding-large $padding-small $padding-large;
    font-size: $font-large;
    cursor: pointer;
}

.watchlist-right-click-item:hover{
    border-left: 4px #191a1e solid;
    padding: $padding-small $padding-large $padding-small 11px;
}

.news-popup{
    max-height:300px;
    min-width:365px; 
    max-width: 550px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb( 35, 61, 77 );
    background-color: #191a1e;
    opacity: 0.949;box-shadow: 1px 1.732px 5px 0px rgb( 0, 0, 0 );
}

.news-popup-header{
    min-height:60px;
    background-color: #1e3746;
    
}

.symbol-popup-view-header{
    cursor: move; 
    height:30px; 
    background-color: #23545f; 
    margin-left:-5px; 
    margin-right:-5px; 
    padding: $padding-small;
    margin-top: -5px;
}

.symbol-popup-name{
    display: none;
}

.active span.symbol-popup-name{
    display: inline;
    padding-left: $padding-small;
}

.container-mid{
    left: 90px;
    width: calc(100% - 90px);
}

.ar .container-mid{
    right: 90px;
    width: calc(100% - 90px);
}

.quote-depth-spread-1{
    width: 20%; 
    height:20px; 
    border-left:  1px #2ecc71 solid;
    border-top:  1px #2ecc71 solid;
    float:right;
}

.quote-depth-spread-2{
    width: 20%; 
    height:20px; 
    border-right:  1px #e74343 solid;
    border-top:  1px #e74343 solid; 
    float:left;
}

.ar .quote-depth-spread-1{
    width: 20%; 
    height:20px; 
    border-left:  1px #e74343 solid;
    border-top:  1px #e74343 solid; 
    float:right;
}

.ar .quote-depth-spread-2{
    width: 20%; 
    height:20px;
    border-right:  1px #2ecc71 solid;
    border-top:  1px #2ecc71 solid;
    float:left;
}

.news-position{
    position: absolute;
    right: 584px;
    top:45px;
}

.ar .news-position{
    position: absolute;
    left: 584px;
    right: auto;
}

.pro-chart-max{
    position: absolute;
    right: 15px;
}

.ar .pro-chart-max{
    position: absolute;
    left: 0px;
    margin-left: $margin-small;
    right: initial;
}

.theme1 .quote-summary-layout{
    margin-left: $margin-small;
    width: calc(100% - 5px);
}

.ar .quote-summary-layout{
    margin-right: $margin-small !important;
}

//for watchlist

.theme1 .sort-back-color {
    background-image: none !important;
    background-color: #0d161d !important;
    font-weight: bold;
}

.prochart-symbol-fix{
    position: absolute;
    right: 434px;
}

.ar .prochart-symbol-fix{
    left: 416px;
    position: absolute;
    right: auto;
}

// HeatMap treemap styles

svg {
  overflow: hidden;
}

rect {}

.chart {
  display: block;
  margin: auto;
}

.theme1 .parent {
  overflow: hidden;
  height: 20px;
  fill: #555555;
}

.parent {
  overflow: hidden;
  height: 20px;
  fill: #f3f3f3;
}

.child {
  overflow: hidden;
}

.child-rect {
  overflow: hidden;
}

.theme1 .cell {
  font-size: 11px;
  cursor: pointer;
  pointer-events: all;
  stroke: #EEEEEE;
}

.cell {
  font-size: 11px;
  cursor: pointer;
  pointer-events: all;
  stroke: #D8D8D8;
}

.label-parent {
  display: table-cell;
  text-align: center;
  padding-top: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  -moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.label-child {
  display: table-cell;
  color: #FFFFFF;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  -moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); 
}

.label-child-info {
  font-size: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: #FFFFFF;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  -moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.label-ie-l1 {
  stroke-width: 0;
  margin: 2px;
  fill: #FFFFFF;
  overflow: hidden;
  text-overflow: ellipsis;
  text-anchor: middle;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  -moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); 
}

.label-ie-l2 {
  stroke-width: 0;
  margin: 2px;
  fill: #FFFFFF;
  overflow: hidden;
  text-overflow: ellipsis;
  text-anchor: middle;
  unicode-bidi: bidi-override;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  -moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); 
}

.label-ie-l3 {
  stroke-width: 0;
  font-size: 10px;
  margin: 2px;
  fill: #FFFFFF;
  overflow: hidden;
  text-overflow: ellipsis;
  text-anchor: middle;
  unicode-bidi: bidi-override;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  -moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); 
}

.label-ie-l4 {
  stroke-width: 0;
  font-size: 10px;
  margin: 2px;
  fill: #FFFFFF;
  overflow: hidden;
  text-overflow: ellipsis;
  text-anchor: middle;
  unicode-bidi: bidi-override;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  -moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); 
}

.label-ie-parent {
  margin: 2px;
  stroke-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  text-anchor: middle;
  padding-top: 3px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  -moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.div-child {
  display: table;
  height: 100%;
  width: 100%;
}

.div-parent {
  display: table;
  height: 100%;
  width: 100%;
}
//end of heatmap

//from ravidu

.chart-data-view {
    margin-top: 4px;
    width: 100%;
    float: left;
}

.theme1 .no-bold {
  font-weight: normal !important;
}

#proChartContainer .dropdown-submenu:hover>.dropdown-menu {
    left: 71px;
    width: 205px;   
}

#proChartContainer .dropdown-submenu:hover>.dropdown-menu li {
    left: 71px;
    width: 205px;
    margin-left: 0px;
}

.ar #proChartContainer .dropdown-submenu:hover>.dropdown-menu {
    right: 71px;
    left: auto;
    width: 205px;   
}

//heights starts here

.widget-commodities {
    height: $height-market-overview-mid;
}

.widget-sector-overview {
    height: $height-market-overview-mid;
}

.widget-top-stocks {
    height: $height-market-overview-mid;
}

.watchlist-height{
    height: calc(100% - #{$height-market-overview-mid + 5});
}

.quote-tab{
    height:calc(100% - 405px);
    min-height:100px;
}

.top-stocks-tab-upper{
    height: calc(50% - 5px);
}

.top-stocks-tab-lower{
    height: calc(50% - 5px);
}

.modal-terms{
    height: 500px;
}

.modal-terms-iframe{
    height: 425px;
}

.topstocks-height{
    height:calc(100% - 25px);
}

.detailquote-height{
    height: calc(100% - 25px);
}

.custom-workspace-height{
    height: calc(100%- 0px);
    overflow-y: scroll;
}

.prochart-tab-height{
    height: calc(100% - 33px);
}

.ar .quote-tab{
    height:calc(100% - 405px);
    min-height:100px;
}

.mid-col{
    height: calc(100% - #{$height-top-panel+ $height-footer + $height-tittle-bar + 5});
}

// theme 2 


.theme2 .widget_new {
	border-radius: 2px;
    background-color:#ffffff;
	margin: $margin-small 0 0 $margin-small;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: none;
}

 .ar .theme2 .widget_new {
	border-radius: 2px;
    background-color: #ffffff;
	margin: $margin-small $margin-small 0 0;
	border-top: #265d81;
    border-bottom: none;
    border-right: none;
    border-left: none;
}


// samba demo 
ul.nav-tabs-samba-demo {
  background: #00B0F0; 
}

ul.nav-tabs-samba-demo li {
  float: left;
  padding: 4px 30px;
  border-right: 2px #f3f3f3 solid;
  display: inline; 
}

ul.nav-tabs-samba-demo li a {
  font-size: 12px;
  color: #ffffff;
  padding: 5px 15px; 
}

.netplus ul.nav-tabs-samba-demo li a:hover {
  font-size: 12px;
  color: #ffffff; 
}

.widget-header-1 {
  margin-bottom: 10px; 
}

.widget_new-1 {
  padding: 7px; 
}

.dropdown-1 {
  float: right; 
}


table.samba-demo {
  border: 1px solid #629DC4;
  border-collapse: collapse; 
}

th.samba-demo-th {
  border: 1px solid #629DC4;
  border-collapse: collapse;
  padding: 5px;
  background: #eaeaea;
  font-size: 12px;
  text-align: center;
  color: #477C9E; 
}

.theme2 th.samba-demo-th {
  border: 1px solid #629DC4;
  border-collapse: collapse;
  padding: 5px;
  background: #b7bdd5;
  font-size: 12px;
  text-align: center;
  color: #477C9E; 
}

td.samba-demo-td {
  border: 1px solid #629DC4;
  border-collapse: collapse;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: #333; 
}

.theme1 th.samba-demo-th {
  border: 1px solid #797A7B;
  background: #111317; 
}

.theme1 td.samba-demo-td {
  border: 1px solid #797A7B;
  color: #4E4E4E; 
}

.theme1 ul.nav-tabs-samba-demo {
  background: #111317; 
}

.buy-sell .form-control {
  display: block;
  width: 107px;
  margin: 0 5px 0 0;
  height: 24px;
  padding: 2px 12px;
  font-size: 11px; 
}

.buy-sell input[type="radio"] {
  margin: 0px 0 0; 
}

.sell {
  background-color: #FF8F8F; 
}

.theme1 .buy {
  background-color: rgba(134, 9, 9, 0.38); 
}

.buy {
  background-color: #8FFF92; 
}

.theme1 .buy {
  background-color: rgba(9, 134, 12, 0.5); 
}

.theme1 .sell {
  background-color: rgba(187, 8, 8, 0.5); 
}

.buy-sell .login-btn {
  font-size: 12px !important;
  padding: 4px 25px 4px 25px !important; 
}

.samba-orange {
  background-color: #FFCF8F !important; 
}

.theme1 .samba-orange {
  background-color: #D69C46  !important; 
}

.buy-sell .modal-symbol .modal-popup-symbol-search {
  bottom: 365px !important; 
}

.buy-sell .btn {
  padding: 3px 12px;
  margin-bottom: 5px;
  font-size: 12px; 
}

table, nav, div {
  vertical-align: top; 
}

.nav > li > a:hover, .nav > li > a:focus {
    border: 0px rgba(255, 255, 255, 0) solid !important;
}

// end of samba demo 