<div class="widget_new full-width full-height">
    <div role="tabpanel" class="full-width">
        <div class="layout-container widget-tab-panel full-width" role="tablist">
            {{#each widget in widgetList}}
                <div role="presentation"
                     class="layout-inline widget-tab-item {{if widget.isActive "active"}}" {{action "onClickTab" widget.id}}>
                    <a href="" aria-controls="location1" role="tab" data-toggle="tab"
                       class="layout-inline font-m">{{widget.des}}</a>
                </div>
            {{/each}}

            <div class="layout-col h-right pad-widget-right pad-m-l">
                <span class="font-m bold fore-color">{{marketStatDes}}</span>
                <span class="font-m bold highlight-fore-color pad-xs-l">{{timeToOpen}}</span>
            </div>
        </div>
    </div>

    <div class="layout-container full-width" style="height: calc(100% - 60px);">
        {{outlet 'widgetOutlet'}}
    </div>

    <div class="layout-container full-width pad-s-lr pad-s-tb">
        {{tell-a-friend}}
    </div>
</div>