<div class='full-width full-height'>
    <div class="full-height pad-widget-left pad-widget-right pad-widget-top pad-s-b">
        <div class="layout-container full-width">
            <div class="layout-col font-l bold text-align-center"> {{app.lang.labels.topTOV5DAvVolume}} {{date}}</div>
        </div>

        <div class="layout-container full-width pad-widget-top">
            <div class="layout-col-5">
                <div class="layout-container full-width">
                    <div class="layout-col font-l bold text-align-center">{{app.lang.labels.tov}}
                        / {{app.lang.labels.avVol5D}}</div>
                </div>
                <div class="layout-container full-width pad-m-t">
                    <div class="data-table full-width">
                        {{#each symbol in topVolAvg}}
                            <div class="layout-container full-width cursor-pointer">
                                <div class="layout-col-3 symbol-fore-color font-m bold row-height h-right">{{symbol.theoStock.sDes}}</div>
                                <div class="layout-col-9 row-height pad-s-l">
                                    <div class="layout-container full-width">
                                        <div class="progress progress-bar {{symbol.progressCss}}"
                                             style={{symbol.progressStyle}}></div>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>

            <div class="data-table layout-col-19 pad-m-l">
                <div class="data-table-header">
                    <div class="row-height-header font-m pad-m-l h-left layout-col-24">
                        {{app.lang.labels.symbol}}
                    </div>
                    <div class="row-height-header font-m pad-m-l h-right layout-col">
                        {{app.lang.labels.tov}}
                    </div>
                    <div class="row-height-header font-m pad-m-l h-right layout-col">
                        {{app.lang.labels.avVol5D}}
                    </div>
                    <div class="row-height-header font-m pad-m-l h-right layout-col">
                        {{app.lang.labels.tov}} / {{app.lang.labels.avVol5D}}
                    </div>
                    <div class="row-height-header font-m pad-m-l h-right layout-col">
                        {{app.lang.labels.preClosed}}
                    </div>
                    <div class="row-height-header font-m pad-m-l h-right layout-col">
                        {{app.lang.labels.top}}
                    </div>
                    <div class="row-height-header font-m pad-m-l pad-m-r h-right layout-col">
                        {{app.lang.labels.perChange}}
                    </div>
                </div>

                {{#each symbol in topVolAvg}}
                    <div class="layout-row cursor-pointer">
                        <div class="font-m row-height pad-m-l symbol-fore-color h-left layout-col-24 bold">
                            {{symbol.theoStock.sDes}}
                        </div>
                        <div class="font-m row-height pad-m-l fore-color h-right layout-col bold">
                            {{formatNumber symbol.theoStock.stock.tov 0}}
                        </div>
                        <div class="font-m row-height pad-m-l fore-color h-right layout-col bold">
                            {{formatNumber symbol.theoStock.stock.av5d 0}}
                        </div>
                        <div class="font-m row-height pad-m-l fore-color h-right layout-col bold">
                            {{formatNumberPercentage symbol.theoStock.pct5dVol 1}}
                        </div>
                        <div class="font-m row-height pad-m-l fore-color h-right layout-col bold">
                            {{formatNumber symbol.theoStock.stock.prvCls symbol.theoStock.stock.deci}}
                        </div>
                        <div class="font-m row-height pad-m-l fore-color h-right layout-col bold {{symbol.changeCss}}">
                            {{formatNumber symbol.theoStock.stock.top symbol.theoStock.stock.deci}}
                        </div>
                        <div class="font-m row-height pad-m-l pad-m-r h-right layout-col bold {{symbol.changeCss}}">
                            {{formatNumberPercentage symbol.theoStock.pctChg 1}}
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
