<div class="full-width full-height">
    <div class="pad-widget-left pad-widget-right pad-widget-top pad-s-b full-height">
        <div class="layout-container full-width pad-s-b">
            <div class="layout-col font-l bold text-align-center">
                {{app.lang.labels.allSymbols}}
            </div>
        </div>

        <div class="ember-table-panel full-width pad-s-b" style="height: calc(100% - 17px);">
            {{table-component
            columns=columns
            content=oneWayContent
            rowHeight= 25
            minHeaderHeight= 25
            hasFooter=false
            rowClickAction="clickRow"
            doubleClickAction="doubleClickRow"
            sortAction="sort"
            sortAscending=sortAscending
            id=wkey}}
        </div>
    </div>
</div>