<div class='full-width full-height'>
    <div class="full-height pad-widget-left pad-widget-right pad-widget-top pad-s-b">
        <div class="layout-container full-width">
            <div class="layout-col font-l bold text-align-center">{{app.lang.labels.topTheoreticalMoversFor}}  {{date}}</div>
        </div>

        <div class="layout-container full-width pad-widget-top">
            <div class="layout-col-12 v-top">
                <div class="layout-container full-width">
                    <div class="layout-col font-l bold text-align-center">{{app.lang.labels.topTheoreticalGainersFor}}</div>
                </div>

                <div class="layout-container full-width pad-m-t">
                    <div class="data-table full-width">
                        {{#each symbol in topGainers}}
                            <div class="layout-container full-width cursor-pointer">
                                <div class="layout-col-3 symbol-fore-color font-m bold row-height h-right">{{symbol.sDes}}</div>
                                <div class="layout-col-9 row-height pad-s-l hint--top hint--bounce hint--rounded" data-hint="{{app.lang.labels.top}}:  {{formatNumber symbol.top 2}}&#10;{{app.lang.labels.preClosed}}:  {{formatNumber symbol.prvsClose 2}}&#10;{{app.lang.labels.perChange}}:  {{formatNumberPercentage symbol.pctChg 1}}">
                                    <div class="layout-container full-width">
                                        <div class="layout-col">
                                            <span class="progress progress-bar up-back-color mgn-s-t"
                                                  style={{symbol.progressStyle}}></span>
                                            <span class="fore-color font-m bold row-height pad-s-l">{{formatNumberPercentage symbol.pctChg 1}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>

            <div class="layout-col-12 pad-m-l v-top">
                <div class="layout-container full-width">
                    <div class="layout-col font-l bold text-align-center">{{app.lang.labels.topTheoreticalLosersFor}}</div>
                </div>

                <div class="layout-container full-width pad-m-t">
                    <div class="data-table full-width">
                        {{#each symbol in topLosers}}
                            <div class="layout-container full-width cursor-pointer">
                                <div class="layout-col-9 row-height pad-s-r h-right hint--top hint--bounce hint--rounded" data-hint="{{app.lang.labels.top}}:  {{formatNumber symbol.top 2}}&#10;{{app.lang.labels.preClosed}}:  {{formatNumber symbol.prvsClose 2}}&#10;{{app.lang.labels.perChange}}:  {{formatNumberPercentage symbol.pctChg 1}}">
                                    <span class="fore-color font-m bold row-height pad-s-r">{{formatNumberPercentage symbol.pctChg 1}}</span>
                                    <span class="progress progress-bar down-back-color mgn-s-t" style={{symbol.progressStyle}}></span>
                                </div>
                                <div class="layout-col-3 symbol-fore-color font-m bold row-height h-left">{{symbol.sDes}}</div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>