<div class="full-width full-height">
    <div class="full-height pad-widget-left pad-widget-right pad-widget-top pad-s-b">
        <div class="layout-container full-width">
            <div class="layout-col font-l bold h-middle">
                <span>{{stock.lDes}}</span>
                <span> - {{app.lang.labels.thPriceVolume}}</span>
            </div>
        </div>

        <div class="layout-container pad-m-t full-width">
            <div class="layout-col-6">
                {{symbol-summary
                stockObj=stockSummaryObj
                isShowLtp=false}}
            </div>

            <div class="widget-vline layout-col-1 pad-m-l"></div>
            <div class="layout-col-1 pad-m-r"></div>

            <div class="layout-col-4 pad-m-lr">
                <div class="layout-container full-width h-left">
                    <div class="layout-col fade-fore-color font-m h-left">
                        {{app.lang.labels.top}}:
                    </div>
                    <div class="layout-col font-l bold fore-color h-right">
                        {{#if isHistory}}
                            {{formatNumber historyTop stock.deci}}
                        {{else}}
                            {{formatNumber stock.top stock.deci}}
                        {{/if}}
                    </div>
                </div>
                <div class="layout-container full-width pad-m-t h-left">
                    <div class="layout-col fade-fore-color font-m h-left">
                        {{app.lang.labels.tov}}:
                    </div>
                    <div class="layout-col font-l bold fore-color h-right">
                        {{#if isHistory}}
                            {{formatNumber historyTov 0}}
                        {{else}}
                            {{formatNumber stock.tov 0}}
                        {{/if}}
                    </div>
                </div>
            </div>

            <div class="widget-vline layout-col-1 pad-m-l"></div>
            <div class="layout-col-1 pad-m-r"></div>

            <div class="layout-col-10 pad-m-l">
                <div class="layout-container full-width">
                    <div class="layout-col fade-fore-color font-m h-left">
                        {{app.lang.labels.date}}:
                    </div>
                    <div class="layout-col fade-fore-color font-m h-left pad-m-l">
                        {{bootstrap-datepicker
                        language=lan
                        changeDate="onDateChanged"
                        class="date-input-field form-control"
                        autoclose=true
                        value=date
                        endDate=toEndDate
                        startDate=fromDate
                        daysOfWeekDisabled=daysOfWeekDisabled
                        orientation="bottom"
                        todayHighlight=true}}
                    </div>
                    <div class="layout-col h-left pad-l-l">
                        {{#if isStockBased}}
                            <div class="layout-inline pos-rel">
                                {{input-field-text type="text" value=searchKey onKeyPress="showSearchPopup" id=searchFieldId
                                class="ember-view ember-text-field search-query form-control h-middle pad-xs-l pad-l-r" placeholder=app.lang.labels.symbol}}

                                <div class="input-group-btn pos-abs top-zero fore-color">
                                    <button class="btn appttl-btn-search" {{action 'showSearchPopup'}} >
                                        <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="prochart-symbol-fix">
                                {{#modal-popup isEnabled=false id=symbolSearchId}}
                                    {{global-search
                                    enableContentSettings=false
                                    searchKey=searchKey
                                    showWidgetButtons=false
                                    closePopup="closeSearchPopup"
                                    openPopup="showSearchPopup"
                                    stopGlobalNotification=true
                                    clickAction="onSymbolSelected"
                                    excludedInstruments=excludedInstruments}}
                                {{/modal-popup}}
                            </div>
                        {{else}}
                            {{bootstrap-dropdown-select
                            options=indexCollectionArray
                            valueKey="dSym"
                            labelKey="sDes"
                            selectedLabelKey="dSym"
                            defaultSelect=stock
                            buttonClass="btn-default"
                            selectAction="onSymbolSelected"
                            wkey=wkey}}
                        {{/if}}
                    </div>
                </div>


            </div>
        </div>

        <div class="full-width pad-widget-top" style="height: calc(100% - 66px);">
            {{outlet "chartOutlet"}}
        </div>
    </div>
</div>
