<div class="widget_new full-height overflow-visible">
    <div class="layout-container full-width {{indexBackgroundCss}} font-m pad-s-tb pad-widget-left pad-widget-right">
        <div class="layout-col-4">
            <span style="color: black"> {{app.lang.labels.mainMarket}}: </span>
            <span class="pad-l-l appmnu-fore-color"> {{exchange.statStr}}</span>
        </div>
        <div class="layout-col-4">
            <span style="color: black">{{app.lang.labels.changeText}} : </span>
            <span class="pad-l-l appmnu-fore-color">{{formatNumber tasi.chg}}</span>
            <span class="pad-l-l appmnu-fore-color">{{formatNumber tasi.pctChg}}</span>
        </div>
        <div class="layout-col-4">
            <span style="color: black">{{app.lang.labels.index}} : </span>
            <span class="pad-l-l appmnu-fore-color">{{formatNumber tasi.ltp}}</span>
            <span class="pad-l-l"><i {{bind-attr class="indexArrowCss :v-bottom"}}> </i></span>
        </div>
        <div class="layout-col-4">
            <span style="color: black">{{app.lang.labels.tradedValue}} : </span>
            <span class="pad-l-l appmnu-fore-color">{{formatNumber tasi.trades}}</span>
        </div>
        <div class="layout-col-4">
            <span style="color: black">{{app.lang.labels.volume}} : </span>
            <span class="pad-l-l appmnu-fore-color">{{formatNumber tasi.vol}}</span>
        </div>
        <div class="layout-col-4">
            <span style="color: black">{{app.lang.labels.date}} : </span>
            {{#if showTime}}
                <span class="pad-l-l appmnu-fore-color">{{showTimeText}}</span>
            {{else}}
                <span class="pad-l-l appmnu-fore-color">{{marketTime}}</span>
            {{/if}}
        </div>
    </div>
    <div class="layout-container full-width {{indexBackgroundCssNomu}} font-m pad-s-tb mgn-s-t pad-widget-left pad-widget-right">
        <div class="layout-col-4">
            <span style="color: black">{{app.lang.labels.nomuPareral}}: </span>
            <span class="pad-l-l appmnu-fore-color"> {{exchange.statStr}}</span>
        </div>
        <div class="layout-col-4">
            <span style="color: black">{{app.lang.labels.changeText}} : </span>
            <span class="pad-l-l appmnu-fore-color">{{formatNumber nomu.chg}}</span>
            <span class="pad-l-l appmnu-fore-color">{{formatNumber nomu.pctChg}}</span>
        </div>
        <div class="layout-col-4">
            <span style="color: black">{{app.lang.labels.index}} : </span>
            <span class="pad-l-l appmnu-fore-color">{{formatNumber nomu.ltp}}</span>
            <span class="pad-l-l appmnu-fore-color"><i {{bind-attr class="indexArrowCssNomu :v-bottom"}}> </i></span>
        </div>
        <div class="layout-col-4">
            <span style="color: black">{{app.lang.labels.tradedValue}} : </span>
            <span class="pad-l-l appmnu-fore-color">{{formatNumber nomu.trades}}</span>
        </div>
        <div class="layout-col-4">
            <span style="color: black">{{app.lang.labels.volume}} : </span>
            <span class="pad-l-l appmnu-fore-color">{{formatNumber nomu.vol}}</span>
        </div>
        <div class="layout-col-4">
            <span style="color: black">{{app.lang.labels.date}} : </span>
            {{#if showTime}}
                <span class="pad-l-l appmnu-fore-color">{{showTimeText}}</span>
            {{else}}
                <span class="pad-l-l appmnu-fore-color">{{marketTime}}</span>
            {{/if}}
        </div>
    </div>
</div>