<div id="appTitle" class="layout-container appttl" {{action 'onWidgetClick' on="click"}}>

    <div class="layout-col pad-m-l overflow-visible">
        <div  class="pad-l-r">
            <img src="assets/img/samba.png" style="width:176px">
        </div>
    </div>

    <div class="layout-col-24"></div>
    <div class="layout-col pad-m-l appttl-fade-fore-color">
        <div>Market Status</div>
    </div>
    <div class="layout-col pad-m-l overflow-visible pad-m-r">
        <div style="width:100%; height:22px" class="font-l pad-s-all ms-top-bar-alert-style">
            <div {{bind-attr class="marketStatusCSS"}} >
                <div style="z-index: 1; width:100%;">{{exchange.statStr}}</div>
                <div id="marketSummaryExchangeStatusContainer" style="position:absolute;z-index: 3; width:100%;">{{exchange.statStr}}</div>
            </div>
        </div>
    </div>

    <div class="layout-col appttl-vline"></div>

    <div class="layout-col overflow-visible pad-m-lr">
        <div class="layout-inline">
            {{#unless isTradingEnabled}}
                {{#unless isTablet}}
                    {{#if (onResponsive responsive.trigger responsive "title-middle" 1)}}
                        <span data-id="title-welcome" class="layout-col font-m appttl-fade-fore-color"></span>
                    {{else}}
                        <span data-id="title-welcome"
                              class="layout-col font-m appttl-fade-fore-color">{{app.lang.labels.welcome}}</span>
                    {{/if}}
                {{/unless}}
            {{/unless}}

            <span class="layout-col {{if isTablet '' 'pad-m-l'}} font-m bold appttl-fore-color username-width hint--bounce hint--bottom-left hint--rounded" data-hint="{{username}}">{{username}}</span>

            {{#if isTradingEnabled}}
                {{#if isLastLoginTimeEnable}}
                    {{#unless isTablet}}
                        {{#if (onResponsive responsive.trigger responsive "title-middle" 1)}}
                            <span class="layout-col"></span>
                        {{else}}
                            <span class="layout-col pad-m-l font-m appttl-fade-fore-color">{{app.lang.labels.lastLogin}}</span>
                        {{/if}}

                        <span class="layout-col pad-m-l font-m appttl-fore-color hint--bounce hint--bottom-left hint--rounded" data-hint="{{lastLoginTime}}">{{shortLastLoginTime}}</span>
                    {{/unless}}
                {{/if}}
            {{/if}}
        </div>
    </div>

    <div class="layout-col appttl-vline"></div>

    {{#if isLanguageOptionAvailable}}
        <div class="layout-col overflow-visible">
            <div class="layout-inline font-m pad-m-all" {{action 'changeLanguage' toLang.lang.code}}>
                <a class="appttl-fore-color">
                    {{#if isTablet}}
                        <span class="appttl-fore-color">{{toLang.lang.desc}}</span>
                    {{else}}
                        <span class="appttl-fore-color hint--bounce hint--bottom hint--rounded" data-hint="{{app.lang.labels.changeLang}}">{{toLang.lang.desc}}</span>
                    {{/if}}
                </a>
            </div>
        </div>
    {{/if}}

    <div class="layout-col overflow-visible pad-s-lr pad-xs-t appttl-toolbar-back-clr">
        {{#if isTablet}}
            <div class="layout-inline" style="padding-top: 1px">
                <div data-id="title-search" class="layout-inline pos-rel pad-xs-b overflow-hidden {{if isChangeWidth 'search-width-end' 'search-width-start'}} transform-search-box">
                    {{input-field-text id="appGlobalSymbolSearch" type="text" value=searchKey action="showSearchPopup" onKeyPress="showSearchPopup" class="search-query appttl-search form-control" placeholder=app.lang.labels.searchSymbol}}

                </div>
                <div class="modal-symbol fore-color search-popup-position">
                    {{#modal-popup isEnabled=false id="topBarSymbolSearch"}}
                        {{global-search enableContentSettings=false searchKey=searchKey showWidgetButtons=showWidgetButtons
                        closePopup='closeSearchPopup' openPopup='showSearchPopup' analyticsKey=gaKey app=app wkey=containerKey}}
                    {{/modal-popup}}
                </div>
                <!--  Btn Fullscreen  -->
                <a class="cursor-pointer hint--bottom-left appttl-fore-color {{if isTablet 'pad-m-all v-middle'}}" {{action 'showSearchBox'}}>
                    <i class="icon-search appttl-fade-fore-color"></i>
                </a>
            </div>
        {{/if}}
        <div class="layout-inline">
            <!--  Btn Settings  -->
            <div class="btn-settings mgn-s-l">
                {{settings-dropdown
                options=settings
                valueKey='code'
                iconStyle='appttl-fade-fore-color'
                labelKey='des'
                selectAction='changeSettings'
                app=app}}
            </div>
        </div>

        {{#unless isTablet}}
            <div class="layout-inline pad-s-l">
                <!--  Btn Fullscreen  -->
                <a class="cursor-pointer hint--bottom-left hint--bounce hint--rounded appttl-fore-color" data-hint={{fullScreenToggleTitle}}>
                    <i class="icon-maximize appttl-fade-fore-color" {{action 'toggleFullScreen'}}></i>
                </a>
            </div>
        {{/unless}}

        <div class="layout-inline pad-s-l">
            <!--  Btn User Logout  -->
            {{#if isTablet}}
                <a class="cursor-pointer pad-m-all" {{action 'logout'}}>
                    <i class="icon-power appttl-fade-fore-color"></i>
                </a>
            {{else}}
                <a class="cursor-pointer hint--bottom-left hint--bounce hint--rounded" data-hint="{{app.lang.labels.logOut}}">
                    <i class="icon-power appttl-fade-fore-color" {{action 'logout'}}></i>
                </a>
            {{/if}}
        </div>
    </div>
</div>
