<div id="{{widgetContainerKey}}" {{bind-attr class=":col-xs-12 :full-height"}}>
    <div class="widget_new full-height">

        {{widget-header
            widgetTitle=app.lang.labels.marketWatch
            linkOptions=links defaultSelectedLink=defaultLink selectedLink=selectedLink setLink='setLink' chaeck=linkdrveLogic
            isPartialHeaderAvailable=false partialHeaderName='price/widgets/watch-list/components/watchlist-header-container' extendedComponentName='price/widgets/watch-list/components/watchlist-extended-header'
            hideSymbol=true
            isSettingsAvailable=true dropDownOptions=settings iconStyle='widget-title-fore-color' defaultSelect=defaultCriteria valueKey='code' labelKey='desc' selectAction='setTableSettings'
            isResizeAvailable=true resizeAction='fullScreenToggle' fullScreenToggleTitle=fullScreenToggleTitle
            innerWidgets=innerWidgets
            innerWidgetAction="renderInnerWidgetItems"
            isWidgetCloseAvailable=isWidgetCloseAvailable
            closeWidgetAction= 'closeWidgetAction'
            closeActionTarget=controller
            cursorMoveCss=cursorMoveCss
            innerWidgets=innerWidgets
            app=app
        }}

           <div class="widget-container-new" style="height: calc(100% - 24px)">
            <div class="watchlist-ul pad-widget-top">
                {{partial partialControlPanel}}
            </div>
            <div id="menuWL">

            </div>
            <div class="ember-table-panel full-width"  style="padding: 8px 0 5px 0; height:calc(100% - 34px);">
                {{table-component
                    hasBody=isRenderingEnabled
                    columns=columns
                    content=customArrayProxy
                    lenContent=content
                    rowHeight= rowHeight
                    hasFooter=false
                    minHeaderHeight= minHeaderHeight
                    numFixedColumns=numOfFixedColumns
                    selection=selection
                    watchButton=customWatchListArray
                    indicatorConfig= indicatorConfig
                    sortAction="sort"
                    onColumnReordered="reOrderColumns"
                    rowClickAction="clickRow"
                    doubleClickAction="doubleClickRow"
                    isRefreshed=isRefreshed
                    isHorizontalScrollAvailable=isHorizontalScrollAvailable
                    availableHorizontalScrollWidth=availableHorizontalScrollWidth
                    sortAscending=sortAscending
                    isThinWL=isThinWL
                    id=tableComponentId
                    startIndex=customArrayProxy.startIndex
                    numItemsShowing=customArrayProxy.numItemsShowing
                    scrollLeft=scrollLeft
                    enableColumnReorder=enableColumnReorder
                    columnsFillTable=columnsFillTable
                }}
            </div>
    </div>
    </div>
 </div>
  