<div style="height:30px;" class="layout-container full-width status-panel pad-widget-right info-back-color separator-shadow appttl-horizontal-seperator">
    <div class="layout-container full-width wdgttl-tab-panel title-container-width">
        {{#each tabItem in fundTabs}}
            <div role="presentation"
                 class="layout-col-6 pad-s-tb h-middle pad-m-r wdgttl-tab-item ellipsis {{tabItem.css}}"  {{action 'onMutualFundTabSelected' tabItem}} >
                <a class="wdgttl-tab-link hint--top hint--bounce hint--rounded" href="#" aria-controls="" role="tab"
                   data-toggle="tab">
                    {{tabItem.displayName}}
                </a>
            </div>
        {{/each}}
    </div>
</div>
