<div class="full-width full-height">
    <div class="col-sm-6 col-xs-12 full-height">
        <div class="widget-outlet mutual-found-row">
            {{outlet "w1"}}
        </div>
        <div class="widget-outlet mutual-found-row">
            {{outlet "w2"}}
        </div>
    </div>

    <div class="col-sm-6 col-xs-12 full-height">
        <div class="widget-outlet mutual-found-row">
            {{outlet "w3"}}
        </div>
        <div class="widget-outlet mutual-found-row">
            {{outlet "w4"}}
        </div>
    </div>
</div>