{{#if showTabs}}
    <div class="layout-container full-width mgn-s-l mgn-s-t font-size-zero">
        <div class="layout-col dotstyle dotstyle-fillup full-width h-middle">
            <ul class="display-inline-block">
                {{#each tabItem in tabList}}
                    <li {{action 'clickTabItem' tabItem}}><a {{bind-attr class="tabItem.css:dotstyle-active"}}></a></li>
                {{/each}}
            </ul>
        </div>
    </div>
{{/if}}
