.overlay-body {
  width: 100% !important;
  height: 100vh !important;
  background: #01061f !important;
  background-image: -moz-linear-gradient(90deg, #627e97 0%, #dfe8f1 90%, #dfe8f1 100%) !important;
  background-image: -webkit-linear-gradient(90deg, #627e97 0%, #dfe8f1 90%, #dfe8f1 100%) !important;
  background-image: -ms-linear-gradient(90deg, #627e97 0%, #dfe8f1 90%, #dfe8f1 100%) !important;
}

.best-view-text {
  color: #cdd2d4 !important;
}

.copy-right-text {
  color: #cdd2d4 !important;
}

.txt {
  color: #575867 !important;
}

.login-input {
  color: #667096 !important;
  background-color: #d5dee7 !important;
  border-bottom: 1px solid #d5dee7 !important;
}