<div class="full-width cell-container border-bottom ellipsis">
    <div class="pad-m-t font-xxx-l bold fore-color border-radius-xs ltr {{view.gainLossCss}}">
        {{view.formattedFirstValue}}
    </div>
    {{#if view.isExpandedView}}
    <div class="pad-m-t font-x-l {{view.gainLossPerCss}}">
        {{view.formattedSecondValue}}
    </div>
    {{/if}}
    <div class="pad-m-tb fade-fore-color font-x-l">
        {{view.formattedThirdValue}}
    </div>
</div>