<div class="full-width cell-container border-bottom ellipsis">
    <div class="layout-row">
        <div class="layout-col-24 pad-m-t h-left symbol-fore-color bold font-xxx-l">
            {{view.formattedFirstValue}}
        </div>
        <div class="layout-col pad-m-t font-xxx-l bold fore-color border-radius-xs ltr {{view.gainLossCss}}">
            {{view.formattedFourthValue}}
        </div>
    </div>


    {{#if view.isExpandedView}}
        <div class="layout-row">
            <div class="layout-col-24 pad-m-t h-left ellipsis fade-fore-color font-x-l">
                {{view.formattedSecondValue}}
            </div>
            <div class="layout-col ltr pad-m-l pad-m-t font-x-l {{view.gainLossPerCss}}">
                {{view.formattedFifthValue}}
            </div>
        </div>
    {{/if}}

    <div class="layout-row">
        <div class="layout-container full-width pad-s-tb h-left">
            <div class="layout-col"><i class="{{view.mktPriceCss}} glyphicon font-4x-l"></i></div>
            <div class="layout-col-24 font-x-l bold highlight-fore-color pad-s-l">{{view.formattedThirdValue}}</div>
        </div>
        <div class="layout-col pad-m-tb fore-color font-x-l">
            {{view.formattedSixthValue}}
        </div>
    </div>
</div>
