<div class="full-width cell-container border-bottom ellipsis pad-m-r">
    <div class="pad-m-t font-xxx-l bold highlight-fore-color">
        {{view.formattedFirstValue}}
    </div>

    <div class="full-width pad-m-t fore-color font-x-l">
        {{view.formattedThirdValue}}
    </div>

    {{#if view.isExpandedView}}
        <div class="full-width pad-m-tb fore-color font-x-l">
            {{view.formattedSecondValue}}
        </div>
    {{/if}}
</div>