<div class="display-block cell-container data-table-header hint--right hint--rounded hint--bounce panel-table-row-odd {{view.styles}}">
    <div class="bold font-table-header ellipsis pad-s-tb">
        {{view.firstValue}}
    </div>
    <div class="font-m font-table-header ellipsis pad-s-b">
        {{view.thirdValue}}
    </div>
    {{#if view.isExpandedHeader}}
        <div class="font-m font-table-header ellipsis pad-s-b {{secondHeaderStyle}}">
            {{view.secondValue}}
        </div>
    {{/if}}
</div>