<div class="col-lg-12 footer footer-app-border pad-m-l pad-m-r">
  
        {{!--<span class="font-s">
            <span class="footer-padding-first"><a>{{app.lang.labels.contactUs}}</a></span>
            <span class="footer-padding"><a>{{app.lang.labels.aboutUs}}</a></span>
            <span class="footer-padding"><a>
                {{app.lang.labels.termAndCondition}}</a></span>
        </span>--}}
        <div class="copyrights-text left font-s footer-padding-first mgn-s-t">{{replaceCopyrightText}}</div>
        <div class="copyrights-text h-middle font-s pad-s-l pad-s-r mgn-s-t">{{app.lang.labels.bestViewResolution}}</div>


</div>

<!--TODO: [Thilina] Need to implement better way -->

<!-- Modal Contact Us -->
<div class="modal fade" id="contactUs" tabindex="-1" role="dialog" aria-labelledby="contactUs">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title" id="contactUs">{{app.lang.labels.contactUs}}</h4>
            </div>
            <div class="modal-body">
                {{app.lang.footerContent.contactUs}}
            </div>
        </div>
    </div>
</div>

<!-- Modal About Us -->
<div class="modal fade" id="aboutUs" tabindex="-1" role="dialog" aria-labelledby="aboutUs">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title" id="aboutUs">{{app.lang.labels.aboutUs}}</h4>
            </div>
            <div class="modal-body">
                <!--{{app.lang.footerContent.aboutUs}}-->
            </div>
        </div>
    </div>
</div>

<!-- Modal Team and Conditions -->
<div class="modal fade" id="termsAndCondition" tabindex="-1" role="dialog" aria-labelledby="termsAndCondition">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-terms">
            <div class="modal-header">
                <h4 class="modal-title" id="termsAndCondition">{{app.lang.labels.termAndCondition}}</h4>
            </div>
            <div class="modal-body">
                <iframe src="{{app.lang.footerContent.termAndCondition}}" class="modal-terms-iframe full-width"></iframe>
            </div>
        </div>
    </div>
</div>