<ul class="appmnu mgn-s-t full-height">
    {{#each menuItem in appLayout.layout.mainPanel.content}}
        <li class="{{menuItem.css}}" {{action 'renderMenuItems' menuItem}}><a><span class="{{menuItem.icon}}"></span><br><div class="ellipsis pad-s-t">{{menuItem.displayTitle}}</div></a></li>
    {{/each}}
</ul>
