<div id="rightPanelContainer" class="full-height">
    <div id="rightPanelWidget" class="widget_new full-height right-panel">
        {{widget-header
        hideWidgetLink=true
        hideSymbol=true
        isIconTabAvailable=true titleTabs=appLayout.layout.rightPanel.content tabAction='renderRightPanelItems'
        }}

        <div id="rpl-standard" name="mpl-standard" class="nano has-scrollbar right-panel-height pos-abs" style="z-index: -610"></div>
        <div id="rpl-classic" name="mpl-classic" class="nano has-scrollbar right-panel-height pos-abs" style="z-index: -620"></div>
        <div id="rpl-investor" name="mpl-investor" class="nano has-scrollbar right-panel-height pos-abs" style="z-index: -630"></div>
        <div id="rpl-custom" name="mpl-custom" class="nano has-scrollbar right-panel-height pos-abs" style="z-index: -640"></div>
        <div id="rpl-market" name="mpl-market" class="nano has-scrollbar right-panel-height pos-abs" style="z-index: -110"></div>
        <div id="rpl-trading" name="mpl-trading" class="nano has-scrollbar right-panel-height pos-abs" style="z-index: -810"></div>
        <div id="rpl-fullQuote" name="mpl-fullQuote" class="nano has-scrollbar right-panel-height pos-abs" style="z-index: -210"></div>
        <div id="rpl-companyProf" name="mpl-companyProf" class="nano has-scrollbar right-panel-height pos-abs" style="z-index: -240"></div>
        <div id="rpl-optionChain" name="mpl-optionChain" class="nano has-scrollbar right-panel-height pos-abs" style="z-index: -220"></div>
        <div id="rpl-topStocks" name="mpl-topStocks" class="nano has-scrollbar right-panel-height pos-abs" style="z-index: -310"></div>
        <div id="rpl-heatMap" name="mpl-heatMap" class="nano has-scrollbar right-panel-height pos-abs" style="z-index: -710"></div>
        <div id="rpl-news" name="mpl-news" class="nano has-scrollbar right-panel-height pos-abs" style="z-index: -410"></div>
        <div id="rpl-chart" name="mpl-chart" class="nano has-scrollbar right-panel-height pos-abs" style="z-index: -510"></div>
        <div id="rpl-dividend" name="mpl-dividend" class="nano has-scrollbar right-panel-height pos-abs" style="z-index: -240"></div>
        <div id="rpl-fairValue" name="mpl-fairValue" class="nano has-scrollbar right-panel-height pos-abs" style="z-index: -240"></div>
        <div id="rpl-theoretical" name="mpl-theoretical" class="nano has-scrollbar right-panel-height pos-abs" style="z-index: -240"></div>
        <div id="rpl-oneStop" name="mpl-oneStop" class="nano has-scrollbar right-panel-height pos-abs" style="z-index: -820"></div>
        <div id="rpl-transfers" name="mpl-transfers" class="nano has-scrollbar right-panel-height pos-abs" style="z-index: -830"></div>
        <div id="rpl-ria" name="mpl-ria" class="nano has-scrollbar right-panel-height pos-abs" style="z-index: -830"></div>
        <div id="rpl-statement" name="mpl-statement" class="nano has-scrollbar right-panel-height pos-abs" style="z-index: -830"></div>
        <div id="rpl-mutualFund" name="mpl-mutualFund" class="nano has-scrollbar right-panel-height pos-abs" style="z-index: -450"></div>
        <div id="rpl-tdwlCart" name="mpl-tdwlCart" class="nano has-scrollbar right-panel-height pos-abs" style="z-index: -480"></div>
        <div id="rpl-productSubscription" name="mpl-productSubscription" class="nano has-scrollbar right-panel-height pos-abs" style="z-index: -490"></div>
    </div>
</div>
