<div class="widget_new full-height">
    <div class="full-height">
        <div class="widget-container-new full-height">
            <div class="layout-container full-width pad-m-tb">
                <div class="layout-col-16 pad-widget-left">
                    {{symbol-summary
                    stockObj=stock}}
                </div>
                <div class="layout-col pad-m-l">
                    <div class="fore-color pad-m-l font-m bold">{{app.lang.labels.lstDvdn}}</div>
                    <div class="fore-color pad-m-l font-m pad-m-t bold">{{app.lang.labels.nxtDvdn}}</div>
                </div>
                <div class="layout-col pad-m-l">
                    <div class="fore-color pad-m-l font-m">{{lastDivdn.value}}</div>
                    <div class="fore-color pad-m-l font-m pad-m-t">{{nextDivdn.value}}</div>
                </div>
                <div class="layout-col pad-m-l">
                    <div class="fore-color pad-m-l font-m">{{lastDivdn.date}}</div>
                    <div class="fore-color pad-m-l font-m pad-m-t">{{nextDivdn.date}}</div>
                </div>
            </div>

            <div class="layout-container pad-m-tb">
                <div class="layout-col pad-widget-left font-x-l bold">{{app.lang.labels.period}}</div>
                <div data-id="dividendsAction-dropdown" class="layout-col overflow-visible pad-m-l pad-widget-right">
                    {{tab-dropdown
                    isDropdown=isAssetTypeDropdown
                    displayList=DividendsChartPeriodTab
                    labelKey='displayDesc'
                    actionName='onTabSelectionChanged'
                    tabPanelClass='widget-tab-panel'
                    tabItemClass='layout-inline widget-tab-item'
                    tabLinkClass='layout-inline'
                    }}
                </div>
            </div>

            <div class="layout-container full-width wdgttl mgn-s-l mgn-s-r mgn-s-b pad-s-lr pad-s-tb">
                <span class="font-x-l bold">{{app.lang.labels.rawStockPrice}}</span>
            </div>
            <div class="dividends-chart pad-l-lr pad-m-tb" style="height: 244px;">
                {{outlet 'chartOutlet'}}
            </div>

            <div class="layout-container full-width wdgttl mgn-s-l mgn-s-r mgn-s-b pad-s-lr pad-s-tb">
                <span class="font-x-l bold">{{app.lang.labels.dividendAmount}}</span>
            </div>
            <div class=" dividends-chart mgn-s-l pad-m-b" style="height: 244px;">
                <div class="full-width {{divAmountChartContainer}}" style="height:calc(100% - 0px); position:relative;">
                    <stx-hu-tooltip>
                        <stx-hu-tooltip-field field="Close">
                            <stx-hu-tooltip-field-name style="padding-bottom: 6px;">{{app.lang.labels.dividendAmount}}</stx-hu-tooltip-field-name>
                            <stx-hu-tooltip-field-value style="padding-bottom: 6px;">{{formatNumber Close 2}}</stx-hu-tooltip-field-value>
                        </stx-hu-tooltip-field>
                        <stx-hu-tooltip-field field="DT">
                            <stx-hu-tooltip-field-name style="padding-bottom: 6px;">{{app.lang.labels.exdvDate}}</stx-hu-tooltip-field-name>
                            <stx-hu-tooltip-field-value style="padding-bottom: 6px;"></stx-hu-tooltip-field-value>
                        </stx-hu-tooltip-field>
                        <stx-hu-tooltip-field field="Curr">
                            <stx-hu-tooltip-field-name>{{app.lang.labels.curr}}</stx-hu-tooltip-field-name>
                            <stx-hu-tooltip-field-value>{{stock.cur}}</stx-hu-tooltip-field-value>
                        </stx-hu-tooltip-field>
                    </stx-hu-tooltip>
                </div>
            </div>

            <div class="layout-container full-width wdgttl mgn-s-l mgn-s-r mgn-s-b pad-s-lr pad-s-tb">
                <span class="font-x-l bold">{{app.lang.labels.dividendYield}}</span>
            </div>
            <div class="dividends-chart mgn-s-l" id="chartDivYld" style="height: 244px;"></div>

            <div class="layout-container full-width wdgttl mgn-s-l mgn-s-r mgn-s-b pad-s-lr pad-s-tb">
                <span class="font-x-l bold">{{app.lang.labels.dividend}}</span>
            </div>
            <div class="data-table full-width pad-m-tb">
                <div class="data-table-header">
                    <div class="layout-col row-height-header font-m pad-widget-left bold">{{app.lang.labels.annDate}}</div>
                    <div class="layout-col row-height-header font-m pad-m-l bold">{{app.lang.labels.exdvDate}}</div>
                    <div class="layout-col row-height-header font-m pad-m-l bold">{{app.lang.labels.pmntDate}}</div>
                    <div class="layout-col row-height-header font-m pad-m-l bold h-right">{{app.lang.labels.amount}}</div>
                    <div class="layout-col row-height-header font-m pad-m-l bold h-right overflow-visible hint--top-left hint--bounce hint--rounded" data-hint-scroll="The difference between&#10;Close price of Ex-Divided date&#10;and Open price in next trading date">{{app.lang.labels.pricedrp}}</div>
                    <div class="layout-col row-height-header font-m pad-m-l pad-widget-right bold h-right overflow-visible hint--top-left hint--bounce hint--rounded" data-hint-scroll="Dividend Yield is calculated as:&#10;Paid dividend / Close price on Ex-Dividend Date">{{app.lang.labels.dividendYield}}</div>
                </div>
                {{#each dividendAction in dividendsActionArry}}
                    <div class="layout-row" id={{_view.contentIndex}}>
                        <div class="layout-col row-height-header font-m pad-widget-left bold">{{formatToDate dividendAction.annDate}}</div>
                        <div class="layout-col row-height-header font-m pad-m-l bold">{{formatToDate dividendAction.exdvDate}}</div>
                        <div class="layout-col row-height-header font-m pad-m-l bold">{{formatToDate dividendAction.pmntDate}}</div>
                        <div class="layout-col row-height-header font-m pad-m-l bold h-right">{{dividendAction.curr}} {{formatNumber dividendAction.dividendAmount}}</div>
                        <div class="layout-col row-height-header font-m pad-m-l bold h-right overflow-visible hint--top-left hint--bounce hint--rounded" data-hint-scroll="{{app.lang.labels.closeOn}} {{formatToDate dividendAction.exdvDate}}: {{formatNumber dividendAction.prvClose 2}}&#10;{{app.lang.labels.openOn}} {{dividendAction.openDate}}: {{formatNumber dividendAction.nextOpen 2}}&#10;{{app.lang.labels.pricedrp}}: {{formatNumber dividendAction.prcDrp 2}}">
                            <div class="layout-inline">{{formatNumber dividendAction.prvClose 2}}-{{formatNumber dividendAction.nextOpen 2}}</div> = <div class="layout-inline {{dividendAction.prcDrpCss}} ltr">{{formatNumber dividendAction.prcDrp 2}}</div>
                        </div>
                        <div class="layout-col row-height-header font-m pad-m-l pad-widget-right bold h-right">
                            <span class="{{dividendAction.dividendYieldCss}} ltr">{{formatNumberPercentage dividendAction.dividendYield 2}}</span>
                        </div>
                    </div>
                {{/each}}
            </div>

            <div class="layout-container full-width wdgttl mgn-s-l mgn-s-r mgn-s-b pad-s-lr pad-s-tb">
                <span class="font-x-l bold">{{app.lang.labels.otherCorporateAction}}</span>
            </div>

            <div class="data-table full-width pad-m-tb">
                <div class="data-table-header">
                    <div class="layout-col row-height-header font-m pad-widget-left bold">{{app.lang.labels.action}}</div>
                    <div class="layout-col row-height-header font-m pad-m-l bold">{{app.lang.labels.annDate}}</div>
                    <div class="layout-col row-height-header font-m pad-m-l bold">{{app.lang.labels.effectiveDate}}</div>
                    <div class="layout-col row-height-header font-m pad-m-l bold h-right">{{app.lang.labels.factor}}</div>
                    <div class="layout-col row-height-header font-m pad-m-l pad-widget-right bold h-right">{{app.lang.labels.pricedrp}}</div>
                </div>
                {{#each nonDividendAction in nonDividendsActionArry}}
                    <div class="layout-row overflow-visible" id={{_view.contentIndex}}>
                        <div class="layout-col row-height-header font-m pad-widget-left bold">{{nonDividendAction.actionName}}</div>
                        <div class="layout-col row-height-header font-m pad-m-l bold">{{formatToDate nonDividendAction.annDate}}</div>
                        <div class="layout-col row-height-header font-m pad-m-l bold">{{formatToDate nonDividendAction.exdvDate}}</div>
                        <div class="layout-col row-height-header font-m pad-m-l bold h-right">{{formatNumber nonDividendAction.spltFctr}}</div>
                        <div class="layout-col row-height-header font-m pad-m-l pad-widget-right bold h-right overflow-visible hint--top-left hint--bounce hint--rounded" data-hint-scroll="{{app.lang.labels.closeOn}} {{formatToDate nonDividendAction.exdvDate}}: {{formatNumber nonDividendAction.prvClose 2}}&#10;{{app.lang.labels.openOn}} {{formatToDate nonDividendAction.openDate}}: {{formatNumber nonDividendAction.nextOpen 2}}&#10;{{app.lang.labels.pricedrp}}: {{formatNumber nonDividendAction.prcDrp 2}}">
                            <div class="layout-inline">{{formatNumber nonDividendAction.prvClose 2}}-{{formatNumber nonDividendAction.nextOpen 2}}</div> = <div class="layout-inline {{nonDividendAction.prcDrpCss}} ltr">{{formatNumber nonDividendAction.prcDrp 2}}</div>
                        </div>
                    </div>
                {{/each}}
            </div>

            <div class="layout-container full-width pad-s-lr pad-s-tb">
                {{tell-a-friend}}
            </div>
        </div>
    </div>
</div>
