//-----------Dot Styles Start---------------//

.dotstyle ul {
  position: relative;
  margin: 0;
  padding: 0;
  cursor: default;
}

.dotstyle li {
  position: relative;
  display: block;
  float: left;
  margin: 1px 5px;
  width: 8px;
  height: 8px;
  cursor: pointer;
  opacity: 1;
}

.dotstyle li a {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: none;
  border-radius: 50%;
  text-indent: -999em;
  cursor: pointer; /* make the text accessible to screen readers */
  position: absolute;
}

/* Fill up */

.dotstyle-fillup li a {
  overflow: hidden;
  transition: background 0.3s;
  background-color: darkgray; // TODO: [Anushka] Check why color not applying
}

.dotstyle-active {
  @include theme((
          background-color: app-menu-selected-back-color
  ));
}
